<template>
    <div class="modal fade" id="editSpecialty" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Edit Specialty</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}"   role="alert" id="user_msg" v-if="isAlertShow">
              {{alertMsg}}
            </div>
             <div class="row">
                <div class="form-group form-group-default required">
                    <label class="text-primary bold">Name</label>
                    <div class="controls">
                      <input type="text" class="form-control" name="name"
                      v-model="rec.name"
                      v-validate="'required|alpha_spaces'"
                      >
                    </div>
                    <small class="text-danger"
                      v-show="errors.has('name')">
                      {{ errors.first('name') }}
                    </small>  
                </div>               
            </div>
          </div>
          <div class="modal-footer">
             <button class="btn btn-applyplus btn-cons  pull-left inline" @click="updateForm()">Update <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  export default {
    props : ['rec'],
    mounted() {
        console.log(this.rec);
        var app = this;
    },
    data: function () {
        return {
            isAlertShow: false,
            isSuccess:false,
            isError:false,
            isLoading:false,
            alertMsg : '',
        }
    },
    methods: {
        updateForm() {
            var app = this;
            var newSpecialty = app.rec;
            this.$validator.validateAll().then(result => {
                if (result) {
                    app.isLoading = true;
                    axios.patch(app.$apiUrl+'specialty/' + this.rec.id, newSpecialty)
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            $('#editSpecialty').modal('hide');
                            resp = this.$emit('recordUpdated');
                            app.isAlertShow = false;
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += '<p>'+value+'</p>';
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                }    
            })   
        }
    }
  }

</script>