<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Specialties ({{totalSpecialtys}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>

                            <div style="float: right;">
                               <!--  <router-link :to="{name: 'SpecialtyCreate'}" class="btn btn-applyplus btn-cons">Add Specialty</router-link> -->
                               <a href="#addSpecialty"
                                    data-toggle="modal"
                                    class="btn btn-applyplus btn-cons">
                                    <i class="fa fa-plus"></i> Add Specialty
                                </a>
                            </div>

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="specialtys.length > 0">  
                                        <tr v-for="specialty, index in specialtys" >
                                            <td>{{ specialty.id }}</td>
                                            <td>{{ specialty.name }}</td>
                                            <td>
                                                <!-- <router-link :to="{name: 'SpecialtyEdit', params: {id: specialty.id}}" class="btn btn-xs btn-complete">
                                                    Edit
                                                </router-link> -->
                                                <a href="#editSpecialty"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-complete"
                                                   @click="getRecord(specialty.id)">
                                                    <i class="fa fa-pencil" title="Edit"></i>
                                                </a>
                                                <router-link :to="{name: 'QuestionnaireIndex', params: {id: specialty.id}}" class="btn btn-xs btn-applyplus">
                                                    <i class="fa fa-list-ol" title="Questionnaire"></i>
                                                </router-link>
                                                 <router-link :to="{name: 'AppointmentDuration', params: {id: specialty.id}}" class="btn btn-xs btn-success">
                                                    <i class="fa fa-clock-o" title="Appointment Durations"></i>
                                                </router-link>
                                                <a href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="confirmDelete(specialty.id, index)">
                                                    <i class="fa fa-trash" title="Delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getSpecialties"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div> 
                            <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>

                            <addSpecialtyModal @recordAdded="refreshList"></addSpecialtyModal>
                            <editSpecialtyModal :rec=editRec @recordUpdated="refreshList"></editSpecialtyModal>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>
        
        </div>
    </div>

</template>

<script>
import addSpecialtyModal from './SpecialtyCreateModal.vue';
import editSpecialtyModal from './SpecialtyEditModal.vue';
    export default {
        components : {
            addSpecialtyModal,
            editSpecialtyModal
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Name",'Action'],
                specialtys: [],
                id: null,
                index:null,
                module:'specialty',
                pageCount: 0,
                totalSpecialtys:0,
                editRec : {},
            }
        },
        mounted() {
            this.getSpecialties(1);
        },
        methods: {
            getSpecialties:function(page) {
                var app = this;
                var limit = 10;
                app.isLoading = true;
                axios.get(app.$apiUrl+'specialties?page='+page+'&limit='+limit+'')
                    .then(function (resp) {
                        app.isLoading = false;
                        app.totalSpecialtys = resp.data.data.pagination.total;
                        app.specialtys = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                        app.isLoading = false;
                        app.specialtys = [];  
                        app.pageCount = 0;
                        app.totalSpecialtys = 0;
                    });
            },
            refreshList(){
                var app = this;
                app.getSpecialties(1);
            },
            getRecord(id) {
                var app = this;
                axios.get(app.$apiUrl+'specialty/' + id)
                .then(resp => this.editRec = resp.data.data) 
                .catch(error => console.log(error));
            },
            confirmDelete(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            }
            
        }
    }
</script>
