<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Products ({{totalProducts}})</h1>
                            </div>

                            <div style="float: right;">
                                <router-link :to="{name: 'CreateProduct'}" class="btn btn-success btn-cons">Add Product</router-link>
                            </div>

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="projects.length > 0">  
                                        <tr v-for="product, index in products" >
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.title }}</td>
                                            <td>
                                                <router-link :to="{name: 'EditProduct', params: {id: product.id}}" class="btn btn-xs btn-complete">
                                                    Edit
                                                </router-link>
                                                <a href="#"
                                                   class="btn btn-xs btn-danger"
                                                   v-on:click="confirmDelete(product.id, index)">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getProducts"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <div class="modal fade stick-up" id="modalStickUpSmall" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content-wrapper">
                    <div class="modal-content">
                      <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                        </button>
                        <h5>Delete</h5>
                      </div>
                      <div class="modal-body">
                        <p class="no-margin">Are you sure that you want to proceed?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" id="deleteButton" @click="deleteEntry" class="btn btn-primary btn-cons  pull-left inline">Yes</button>
                        <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
        </div>
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                tableHeader: ["ID", "Title",'Action'],
                products: [],
                id: null,
                index:null,
                pageCount: 0,
                totalProducts:0,
            }
        },
        mounted() {
            this.getProducts(1);
        },
        methods: {
            getProducts:function(page) {
                var app = this;
                var limit = 5;
                axios.get(app.$apiUrl+'products?page='+page+'&limit='+limit+'')
                    .then(function (resp) {
                        app.totalProducts = resp.data.data.pagination.total;
                        app.products = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                        app.products = [];  
                        app.pageCount = 0;
                        app.totalProducts = 0;
                    });
            },
            confirmDelete:function(id, index)
            {
                var app = this;
                $('#modalStickUpSmall').modal('show');
                app.id = id;
                app.index = index;
            },
            deleteEntry:function(id, index) {
                var app = this;
                axios.delete(app.$apiUrl+'product/' + app.id)
                .then(function (resp) {
                    $('#modalStickUpSmall').modal('hide');
                    app.products.splice(app.index, 1);
                })
                .catch(function (resp) {
                });
            }   
        }
    }
</script>
