
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;">
                                <h2> Add Product
                                    <router-link to="/products" class="btn btn-complete pull-right">Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Title</label>
                                            <div class="controls">
                                              <input type="text" class="form-control" v-model="product.title" required>
                                            </div>
                                        </div>
                                    </div>
                                                       
                                </div>
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-success btn-cons" @click="saveForm()">Create <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>

<script>
    export default {
        mounted() {
            var app = this;
        },
        data: function () {
            return {
                product: {
                    title: '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newProduct = app.product;
                app.isLoading = true;
                axios.post(app.$apiUrl+'product', newProduct)
                    .then(function (resp) {
                        app.isLoading = false;
                        app.isSuccess = true,
                        app.isError = false,
                        app.alertMsg = resp.data.message;
                        app.isAlertShow = true;
                        app.$router.replace('/products');
                    })
                    .catch(function (resp) {
                        app.isLoading = false;
                        app.isSuccess = false,
                        app.isError = true,
                        app.isAlertShow = true;
                        app.alertMsg = 'Error occured';
                    });
            }
        }
    }
</script>
