<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Complaint ({{totalSupports}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div> 
                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="supports.length > 0">  
                                        <tr v-for="support, index in supports" :class="{'bg-warning-td': support.is_updated == 1, 'bg-white-td': support.is_updated == 0}">
                                            <td>{{ support.id }}</td>
                                            <td width="50%"><router-link :to="{name: 'SupportView', params: {slug: support.slug}}" class="text-primary">#{{ support.slug }} - {{ support.subject}}  </router-link></td>
                                            <td><button href="javascript:;" class="btn btn-xs" :class="{'btn-success': support.status == 'open', 'btn-danger': support.status == 'closed'}">{{ support.status }}</button></td>
                                            <td>
                                                 <a href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="setRecordObj(support.id, index)"  title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getSupports"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
        </div>
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Subject", "Status", 'Action'],
                supports: [],
                id: null,
                index:null,
                module:'support',
                pageCount: 0,
                totalSupports:0,
                search_spinner:false,
                support : {
                    filter_by_category : 'complaint',
                    filter_by_is_updated : 1,
                    filter_by_user_id : ''
                }
            }
        },
        mounted() {
            this.getSupports(1);
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            }
        },
        methods: {
            getSupports:function(page) {
                var app = this;
                app.support.page = page || 1;
                app.support.limit = 10;
                app.support.filter_by_user_id = app.$loggedInUser.id;
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'supports',
                    params: app.support
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.totalSupports = resp.data.data.pagination.total;
                    app.supports = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                    app.search_spinner = false;
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.supports = [];  
                    app.pageCount = 0;
                    app.totalSupports = 0;
                });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getSupports(1);
            }, 
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getSupports(1);
            }  
        }
    }
</script>
