/*Development CSS */

.has-error {
	color : #dc3545!important;
	float: right;
}
.mt-10 {
	margin-top: 10px !important;
}

.disabled {
	pointer-events: none !important;
}

.blank-data {
    margin: 10px;
    text-align: center;
}
.blank-data .img-responsive {
    margin: 10% auto 15px;
    display: block;
    max-width: 200px;
    width: 100%;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 100% !important;
   max-width:1000px !important;
  }
}



.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.textarea-height {
  height:  100px !important;
}

.address-box {
  width: 222px;
  float: left;
  position: absolute;
  top: 5cm;
  left: 2.5cm;
}
.add2 {
  float: right;
  width: 222px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  color: #1a1a1a  !important;

      background: #f1f1f1  !important;
    border: none !important;
    border-radius: 14px  !important;
    margin-top: -53px;
}

.form_logo{
  max-width: 255px  !important;
    height: auto  !important;
    margin-top: 20px;
}
