/*
 *  Owl Carousel - Core
 */
/* line 4, ../sass/carusel/_core.scss */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
/* line 12, ../sass/carusel/_core.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
/* line 19, ../sass/carusel/_core.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 28, ../sass/carusel/_core.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
/* line 35, ../sass/carusel/_core.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
/* line 45, ../sass/carusel/_core.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* line 53, ../sass/carusel/_core.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
/* line 58, ../sass/carusel/_core.scss */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
/* line 63, ../sass/carusel/_core.scss */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 74, ../sass/carusel/_core.scss */
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
/* line 84, ../sass/carusel/_core.scss */
.owl-carousel.owl-loaded {
  display: block;
}
/* line 88, ../sass/carusel/_core.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
/* line 93, ../sass/carusel/_core.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}
/* line 97, ../sass/carusel/_core.scss */
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
/* line 101, ../sass/carusel/_core.scss */
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 109, ../sass/carusel/_core.scss */
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
/* line 114, ../sass/carusel/_core.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}
/* line 118, ../sass/carusel/_core.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 124, ../sass/carusel/_core.scss */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
/* line 5, ../sass/carusel/_animate.scss */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
/* line 9, ../sass/carusel/_animate.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}
/* line 12, ../sass/carusel/_animate.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}
/* line 15, ../sass/carusel/_animate.scss */
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
/* line 5, ../sass/carusel/_autoheight.scss */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
/* line 6, ../sass/carusel/_lazyload.scss */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
/* line 7, ../sass/carusel/_lazyload.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
/* line 16, ../sass/carusel/_lazyload.scss */
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
/* line 20, ../sass/carusel/_lazyload.scss */
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
/* line 8, ../sass/carusel/_video.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
/* line 14, ../sass/carusel/_video.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
/* line 29, ../sass/carusel/_video.scss */
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
/* line 33, ../sass/carusel/_video.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
/* line 38, ../sass/carusel/_video.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
/* line 47, ../sass/carusel/_video.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
