/*=== 
  Inner Pages
===*/
/* line 2485, ../sass/style.scss */
.inner-banner {
  height: 180px;
  /*    background: #a5c956 !important;
      background: -moz-linear-gradient(top, #a5c956 0%, #3c9435 99%) !important;
      background: -webkit-linear-gradient(top, #a5c956 0%, #3c9435 99%) !important;
      background: linear-gradient(to bottom, #a5c956 0%, #3c9435 99%) !important;*/
  background: #4c9689;
}
/* line 2492, ../sass/style.scss */
.inner-banner.faq-banner {
  background: #4c9689;
  background-image: url(../images/banner/bgn-grad.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  background-attachment: scroll;
}
/* line 2500, ../sass/style.scss */
.inner-banner.about-banner {
  background-image: url(../images/banner/bgn-grad.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  background-attachment: scroll;
}
/* line 2507, ../sass/style.scss */
.inner-banner h1 {
  display: block;
  text-align: center;
  color: #fff;
  font-family: "OpenSans-Bold";
  font-size: 55px;
}
/* line 2513, ../sass/style.scss */
.inner-banner h1 span {
  font-family: "OpenSans-Regular";
  font-size: 24px;
  padding-top: 15px;
  display: block;
}

/* line 2522, ../sass/style.scss */
.section-info-msg {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  color: #1a1a1a;
  margin-bottom: 30px;
}
/* line 2527, ../sass/style.scss */
.section-info-msg strong {
  font-size: 28px;
  display: block;
  font-family: "OpenSans-Bold";
  margin-bottom: 6px;
}

/* line 2535, ../sass/style.scss */
.accordion {
  margin: 50px auto 30px;
  margin-top: 7px;
  background: #f9f9f9;
}
/* line 2539, ../sass/style.scss */
.accordion dt, .accordion dd {
  border: 1px solid #f1f1f1;
  border-bottom: 0;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}
/* line 2546, ../sass/style.scss */
.accordion dt:last-of-type, .accordion dd:last-of-type {
  border-bottom: 1px solid #e0e0e0;
}
/* line 2549, ../sass/style.scss */
.accordion dt a, .accordion dd a {
  display: block;
  color: #1a1a1a;
  font-family: "OpenSans-SemiBold";
  text-decoration: none;
  font-weight: normal;
  text-align: left;
}
/* line 2557, ../sass/style.scss */
.accordion dt a .plus-minus, .accordion dd a .plus-minus {
  display: none;
  position: absolute;
  left: 15px;
  top: 17px;
  font-size: 17px;
  color: #1a1a1a;
}
/* line 2564, ../sass/style.scss */
.accordion dt a .plus-minus.icon-plus, .accordion dd a .plus-minus.icon-plus {
  display: block;
}
/* line 2568, ../sass/style.scss */
.accordion dt a.active, .accordion dd a.active {
  color: #fff;
  font-family: "OpenSans-SemiBold";
  text-decoration: underline;
  background: #4c9689;
  text-decoration: none;
}
/* line 2574, ../sass/style.scss */
.accordion dt a.active .plus-minus, .accordion dd a.active .plus-minus {
  display: none;
  color: #fff;
}
/* line 2577, ../sass/style.scss */
.accordion dt a.active .plus-minus.icon-plus, .accordion dd a.active .plus-minus.icon-plus {
  display: none;
}
/* line 2580, ../sass/style.scss */
.accordion dt a.active .plus-minus.icon-minus, .accordion dd a.active .plus-minus.icon-minus {
  display: block;
}
/* line 2588, ../sass/style.scss */
.accordion dt a {
  padding: 12px 20px;
  padding-left: 47px;
  font-size: 15px;
  color: #1a1a1a;
}
/* line 2595, ../sass/style.scss */
.accordion dd {
  border-top: 0;
  margin: 0;
  padding: 20px 20px;
  color: #777777;
}
/* line 2600, ../sass/style.scss */
.accordion dd:last-of-type {
  border-top: 1px solid white;
  position: relative;
  top: -1px;
}

/* line 2608, ../sass/style.scss */
.icon-primary-color {
  fill: #4c9689 !important;
}

/*
  About us
*/
/* line 2616, ../sass/style.scss */
.about-left {
  width: 320px;
  float: left;
  position: sticky;
  top: 175px;
}

/* line 2624, ../sass/style.scss */
.c-play-icon {
  width: 65px;
  height: 65px;
  border: solid 2px #4c9689;
  border-radius: 100%;
  z-index: 9;
}

/* line 2632, ../sass/style.scss */
.video-holder {
  width: 100%;
  height: 450px;
  border: solid 8px #f1f1f1;
  position: relative;
  left: 35px;
}
/* line 2639, ../sass/style.scss */
.video-holder .inner {
  position: absolute;
  width: 320px;
  height: 450px;
  top: 28px;
  left: -42px;
  overflow: hidden;
}
/* line 2646, ../sass/style.scss */
.video-holder .inner img {
  width: 100%;
}
/* line 2649, ../sass/style.scss */
.video-holder .inner .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  margin: 0 auto;
  width: 100%;
  opacity: 0.6;
  z-index: 9;
  height: 100%;
}
/* line 2661, ../sass/style.scss */
.video-holder .inner .c-play-icon {
  display: block;
  position: absolute;
  text-align: center;
  top: 42%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 2669, ../sass/style.scss */
.video-holder .inner .c-play-icon i {
  color: #4c9689;
  font-size: 24px;
  top: 19px;
  position: relative;
  left: 3px;
}

/* line 2680, ../sass/style.scss */
.inner-section-heading {
  font-size: 26px;
  margin-bottom: 20px;
}

/* line 2685, ../sass/style.scss */
.inner-section-sub-heading {
  font-size: 26px;
  margin-bottom: 20px;
}

/* line 2691, ../sass/style.scss */
.about-right {
  width: calc(100% - 410px);
  float: right;
  position: relative;
}

/* line 2698, ../sass/style.scss */
.switch-inner-cols .about-left {
  float: right;
}
/* line 2701, ../sass/style.scss */
.switch-inner-cols .about-right {
  float: left;
}
/* line 2704, ../sass/style.scss */
.switch-inner-cols .video-holder {
  left: auto;
  right: 35px;
}
/* line 2707, ../sass/style.scss */
.switch-inner-cols .video-holder .inner {
  left: auto;
  right: -42px;
}

/* line 2714, ../sass/style.scss */
.inner-page-mobile {
  position: relative;
}
/* line 2716, ../sass/style.scss */
.inner-page-mobile img {
  position: relative;
  z-index: 9;
  pointer-events: none;
}

/* line 2724, ../sass/style.scss */
.page-blts-points li {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
/* line 2728, ../sass/style.scss */
.page-blts-points li i {
  color: #4c9689;
  font-size: 19px;
  vertical-align: middle;
  padding-right: 15px;
  position: relative;
  top: -2px;
}

/* line 2739, ../sass/style.scss */
.about-center-quote {
  font-family: "OpenSans-Bold";
  font-size: 28px;
  padding: 40px 0;
  display: block;
  background: #4c9689;
  color: #fff;
  text-transform: uppercase;
}

/* line 2749, ../sass/style.scss */
.mobile-holder {
  width: 270px;
  height: 503px;
  background: url("../images/iphone.png") no-repeat;
  background-size: 98% auto;
  background-position: center;
  position: relative;
  z-index: 9;
  margin-top: 7px;
  overflow: visible;
  padding: 0;
}

/* line 2764, ../sass/style.scss */
.about-video {
  position: absolute;
  left: 0;
  right: 6px;
  width: 230px;
  height: 467px;
  margin: 0 auto;
  top: 17px;
  border-radius: 30px;
  display: block;
  overflow: hidden;
  background: url("../images/dummy/doctor.png") no-repeat;
  background-size: 309px auto;
  background-position: -37px -1px;
}
/* line 2778, ../sass/style.scss */
.about-video video {
  height: 523px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: -37px;
}

/* line 2788, ../sass/style.scss */
.howItsWorkLeft {
  padding-bottom: 24px;
  width: 360px;
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  height: auto;
  float: left;
  display: block;
}
/* line 2797, ../sass/style.scss */
.howItsWorkLeft h2 {
  font-family: "OpenSans-Bold";
  margin-bottom: 20px;
}
/* line 2801, ../sass/style.scss */
.howItsWorkLeft a {
  text-decoration: none;
}
/* line 2805, ../sass/style.scss */
.howItsWorkLeft p i {
  margin-right: 4px;
}
/* line 2809, ../sass/style.scss */
.howItsWorkLeft .btn {
  margin: 23px 0 0;
}

/* line 2814, ../sass/style.scss */
.howItsWorkRight {
  width: calc(100% - 400px);
  float: right;
}
/* line 2818, ../sass/style.scss */
.howItsWorkRight .steps-section {
  padding-top: 30px;
  margin-bottom: 30px;
}
/* line 2823, ../sass/style.scss */
.howItsWorkRight .steps-section ul:before {
  display: none;
}
/* line 2826, ../sass/style.scss */
.howItsWorkRight .steps-section ul li {
  background: #4c9689;
  width: 200px;
  padding: 36px 0;
}
/* line 2830, ../sass/style.scss */
.howItsWorkRight .steps-section ul li:nth-child(2) {
  background: #5ead9f;
}
/* line 2833, ../sass/style.scss */
.howItsWorkRight .steps-section ul li:nth-child(3) {
  background: #73bfb2;
}
/* line 2836, ../sass/style.scss */
.howItsWorkRight .steps-section ul li span {
  color: #fff !important;
}
/* line 2839, ../sass/style.scss */
.howItsWorkRight .steps-section ul li:after {
  display: none;
}
/* line 2842, ../sass/style.scss */
.howItsWorkRight .steps-section ul li i {
  margin: 0px auto 5px;
}

/* line 2852, ../sass/style.scss */
.static-pages ul, .static-pages ol {
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 0;
}
/* line 2856, ../sass/style.scss */
.static-pages ul li, .static-pages ol li {
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px 0;
  font-family: "OpenSans-SemiBold";
}
/* line 2864, ../sass/style.scss */
.static-pages ol li {
  list-style-type: decimal;
}
/* line 2868, ../sass/style.scss */
.static-pages p {
  margin-bottom: 30px;
}

/* line 2873, ../sass/style.scss */
.features-wrapper {
  display: flex;
}
/* line 2875, ../sass/style.scss */
.features-wrapper .features-col-lt {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}
/* line 2882, ../sass/style.scss */
.features-wrapper .features-col-lt img {
  width: 280px;
  float: right;
  margin: 0 -200px 0 0;
}
/* line 2888, ../sass/style.scss */
.features-wrapper .features-col-rt {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-top: 15px;
}

/* line 2898, ../sass/style.scss */
.testimonial-card {
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 30px;
  border-radius: 8px;
  border: none;
  height: auto;
  margin-bottom: 30px;
  transition: all .2s ease-in-out;
}
/* line 2907, ../sass/style.scss */
.testimonial-card:hover {
  transform: scale(1.1);
}
/* line 2910, ../sass/style.scss */
.testimonial-card h2 {
  font-size: 19px;
  margin-bottom: 20px;
}
/* line 2913, ../sass/style.scss */
.testimonial-card h2 span {
  font-size: 14px;
  font-family: "OpenSans-Light";
  display: block;
  margin-top: 8px;
  color: #4c9689;
}

/* line 2923, ../sass/style.scss */
.loadmore-btn {
  width: 170px;
  margin: 25px auto 0;
  display: block;
}

/* line 2930, ../sass/style.scss */
.faq-sec-heading hr {
  margin-bottom: 30px;
  margin-top: -4px;
}
/* line 2934, ../sass/style.scss */
.faq-sec-heading h2 {
  text-align: center;
  font-size: 22px;
}

/* line 2940, ../sass/style.scss */
.our-pricing-heading {
  text-align: center;
  font-size: 41px;
  color: #1a1a1a;
  text-transform: uppercase;
}
/* line 2945, ../sass/style.scss */
.our-pricing-heading span {
  text-align: center;
  color: #4c9689;
}

/* line 2951, ../sass/style.scss */
.our-pricing-sub-heading {
  text-align: center;
  font-size: 18px;
  font-family: "OpenSans-Light";
  display: block;
  color: #737373;
  max-width: 620px;
  margin: 18px auto 0;
  line-height: 26px;
}

/* line 2961, ../sass/style.scss */
.contact-form {
  max-width: 550px;
  margin: 50px auto 0;
}
/* line 2964, ../sass/style.scss */
.contact-form .btn {
  margin-top: 10px;
  height: 45px;
}

/* line 2970, ../sass/style.scss */
.owl-carousel-laboratory {
  position: relative;
  max-width: 775px;
  overflow: hidden;
  text-align: center;
}

/* line 2978, ../sass/style.scss */
.owl-carousel-laboratory .owl-dot, .doctors-slider .owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
/* line 2985, ../sass/style.scss */
.owl-carousel-laboratory button, .doctors-slider button {
  background: none;
  border: none;
  position: relative;
}
/* line 2990, ../sass/style.scss */
.owl-carousel-laboratory .owl-dots, .doctors-slider .owl-dots {
  display: none;
}

/* line 2996, ../sass/style.scss */
.doctors-slider .owl-nav {
  margin: -32px auto -22px;
}

/* line 3001, ../sass/style.scss */
.membership-sub-heading {
  max-width: 720px;
  margin: 0 auto;
}

/* line 3007, ../sass/style.scss */
.membership-page .membership-section {
  padding-top: 0;
}
/* line 3010, ../sass/style.scss */
.membership-page .column.membership-column {
  margin-top: 88px;
}
/* line 3013, ../sass/style.scss */
.membership-page .pricing-section {
  max-width: 790px;
  margin: 0 auto;
}

/* line 3020, ../sass/style.scss */
.alternat-columns .cols {
  float: left;
  width: 50%;
  height: 400px;
  position: relative;
}
/* line 3026, ../sass/style.scss */
.alternat-columns .col-right {
  /*    background: url(../images/membership.jpg) no-repeat;*/
  background: #4c9689;
  background-size: cover;
  background-position: center top;
  /*    .overlay{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 9;
      }*/
}
/* line 3044, ../sass/style.scss */
.alternat-columns .content {
  position: relative;
  z-index: 10;
  color: #fff;
  padding-left: 100px;
  padding-right: 0px;
  width: 100%;
  max-width: 600px;
}
/* line 3052, ../sass/style.scss */
.alternat-columns .content h2 {
  font-size: 32px;
  max-width: 450px;
  margin-bottom: 15px;
}
/* line 3057, ../sass/style.scss */
.alternat-columns .content p {
  color: #fff;
  font-size: 16px;
  max-width: 600px;
}
/* line 3062, ../sass/style.scss */
.alternat-columns .content ul {
  margin-left: 20px;
}
/* line 3064, ../sass/style.scss */
.alternat-columns .content ul li {
  font-size: 20px;
  /*          padding: 4px 0;
            list-style-type: circle;*/
  font-family: "OpenSans-SemiBold";
}
/* line 3072, ../sass/style.scss */
.alternat-columns .col-left {
  background: #f1f1f1;
}
/* line 3074, ../sass/style.scss */
.alternat-columns .col-left .content {
  float: right;
  padding-left: 0;
  padding-right: 100px;
}
/* line 3078, ../sass/style.scss */
.alternat-columns .col-left .content h2, .alternat-columns .col-left .content h2 span, .alternat-columns .col-left .content .price-dollar, .alternat-columns .col-left .content .price-value {
  color: #fff;
}
/* line 3081, ../sass/style.scss */
.alternat-columns .col-left .content ul {
  margin-left: 0;
  margin-bottom: 25px;
}
/* line 3084, ../sass/style.scss */
.alternat-columns .col-left .content ul li {
  color: #1a1a1a;
  list-style-type: none;
  padding-left: 30px;
  font-family: "OpenSans-SemiBold";
  margin-bottom: 5px;
}
/* line 3091, ../sass/style.scss */
.alternat-columns .col-left .content ul li:before {
  top: 5px;
}
/* line 3096, ../sass/style.scss */
.alternat-columns .col-left .content h2 {
  font-size: 42px;
}
/* line 3099, ../sass/style.scss */
.alternat-columns .col-left .content .section-heading {
  font-size: 40px;
}
/* line 3102, ../sass/style.scss */
.alternat-columns .col-left .content .price-value {
  width: 100%;
}

/* line 3110, ../sass/style.scss */
.btn-group-membership a {
  display: inline-block;
  min-width: 300px;
  margin: 10px 15px 0;
}
/* line 3115, ../sass/style.scss */
.btn-group-membership .or_separator {
  font-family: "OpenSans-SemiBold";
  position: relative;
  top: 7px;
}

/* line 3122, ../sass/style.scss */
.get-membership-btn {
  margin-top: 20px;
}

/* line 3126, ../sass/style.scss */
.g-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  pointer-events: none;
}

/* line 3138, ../sass/style.scss */
.for-doctor-banner .banner-content {
  position: relative;
  z-index: 10;
}
/* line 3141, ../sass/style.scss */
.for-doctor-banner .banner-content h1, .for-doctor-banner .banner-content p {
  color: #fff !important;
}
/* line 3144, ../sass/style.scss */
.for-doctor-banner .banner-content .brand-name {
  color: #00BCD4;
}

/* line 3152, ../sass/style.scss */
.for-doctors-page .section-1 h1 {
  font-family: "OpenSans-Bold";
}
/* line 3155, ../sass/style.scss */
.for-doctors-page .section-1 p {
  max-width: 850px;
  font-size: 16px;
  margin: 20px auto 0;
}
/* line 3161, ../sass/style.scss */
.for-doctors-page .testimonial-card {
  transform: scale(1) !important;
  padding: 40px;
  text-align: left;
  height: auto;
}
/* line 3171, ../sass/style.scss */
.for-doctors-page .doctor-facilities-section h2 {
  font-size: 29px;
  color: #4c9689;
}
/* line 3177, ../sass/style.scss */
.for-doctors-page .doctor-facilities-section .price-list ul li {
  color: #1a1a1a;
}
/* line 3182, ../sass/style.scss */
.for-doctors-page .doctor-facilities-section .btn {
  margin-top: 15px;
}

/* line 3189, ../sass/style.scss */
.join-clinic-section .section-heading-detail.center-heading {
  max-width: 650px;
  margin-bottom: 23px;
}
