
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*background-color: #666;*/
	background-color:  #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-size: 11.5px;
}
.wrap {
	width: 17cm;
	/*height: 13.86px;*/
	height: 9.73cm;
	background-color: #FFF;
	padding-top: 1cm;
	padding-left: 2.5cm;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #666;
	padding-right: 2.5cm;
	display: table;
	padding-bottom: 0.9cm;
	position: relative;
	/*background-image: url(watermark.gif);
	background-size: 400px  75px;
	background-position: center bottom;
	background-repeat: no-repeat;
	*/
}
.mainwrap {
	height: 29.7cm;
	width: 22cm;
	background-color: #DAF5C0;
	margin-right: auto;
	margin-left: auto;
}
.scale {
	float: left;
	width: 5cm;
	background-color: #F00;
	height: 14.85cm;
}
.wrap2 {
	width: 20cm;
	height: auto;
	background-color:#bcf2aa;
	display: table;
	padding-top: 9px;
	padding-right: 1cm;
	padding-bottom: 1cm;
	padding-left: 1cm;
	background-image: url(2.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 11px;
	line-height: 15px;
}
.date {
	float: left;
	width: 100%;
	padding-top: 11px;
	text-align: right;
}
.matter {
	width: 100%;
	margin-top: 21px;
	float: left;
}
.from2 {
	float: left;
	width: 222px;
	margin-top: 65px;
}
.address-box {
	width: 222px;
	float: left;
	position: absolute;
	top: 5cm;
	left: 2.5cm;
}
.from {
	float: left;
	width: 222px;
	margin-top: 21px;
}
.add2 {
	float: right;
	width: 222px;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	border: 1px solid #666;
}
.patient_details {
	float: left;
	width: 250px;
}
.medication {
	float: right;
	width: 465px;
}
.bordrbox {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
	background-color: #FFF;
}
.bordrbox tr td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
}
.div100 {
	float: left;
	width: 100%;
	margin-top: 11px;
}
.div110 {
	float: left;
	width: 100%;
	margin-top: 2px;
}
strong {
	display: block;
	margin-top: 7px;
	margin-bottom: 7px;
}
 
 