<template>
	<div class="modal fade" id="appointmentEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Edit Appointment</h5>
          </div>
          <div class="modal-body">
          	<div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                     {{alertMsg}}
                  </div>
              </div>
              <div class="col-xs-12 col-md-12">
                <p>{{ text }}</p>
              </div>
                <div class="col-xs-12 col-md-12 doc_div">
                    <div class="form-group required">
                        <label>Select Doctor</label> 
                        
                        <select v-model="appointment.doctor_id" 
                        class="form-control" @change="getAvailCalendar"
                        :class="{'is-invalid': errors.has('doctor') }"
                        name="doctor"
                        v-validate="'required'">
                            <option value="">Select Doctor</option>
                             <option v-for="doctor in doctors" :value="doctor.id">{{doctor.user.full_name}}</option>
                         </select>
                        <small class="text-danger"
                          v-show="errors.has('doctor')">
                          {{ errors.first('doctor') }}
                        </small>     
                    </div>
                </div>
                 <div class="col-xs-12 col-md-12">
                    <appointmentCalendar></appointmentCalendar>
                </div>
               <!--  <div class="col-xs-12 col-md-12" v-show="is_penalty">
                  <div class="form-group">
                      <vue-stripe-checkout
                        ref="checkoutRef"
                        :image="$imageUrl+'logo-wide.png'"
                        :name="stripe.name"
                        :description="stripe.description"
                        :currency="stripe.currency"
                        :amount="stripe.amount"
                        :allow-remember-me="false"
                        :email="stripe.email"
                        @done="donePayment"
                      ></vue-stripe-checkout>
                      <button class="btn btn-primary col-md-12 btn-md" :class="{'show-spinner' : isPaymentLoading , 'disabled' : isPayment}" @click="checkout">
                            <span>Pay £{{ stripe.amount_display }}</span>
                            <div class="loader"></div>
                          </button>
                  </div>
              </div> -->
                <div class="col-xs-12 col-md-8">
                <div class="clearfix"></div>
                <div class="form-group mt-20">
                  <div class="checkbox">
                    <label>
                        <input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link>
                    </label>
                  </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
                            <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link>
                        </label>
                    </div>
                </div>  
              </div>              
            
                <!-- <div class="col-lg-8 offset-md-2 no-padding">
                    <div class="form-group required disabled">
                        <label class="text-primary bold">Date Time</label>
                        <div class="controls">
                          <input type="text" class="form-control" name="date_time" placeholder="Date Time"
                          data-vv-as="date time"
                          v-model="appointment.date_time"
                          v-validate="'required'">
                        </div>
                        <small class="text-danger"
                          v-show="errors.has('date_time')">
                          {{ errors.first('date_time') }}
                        </small>  
                    </div>
                </div> -->

            </div>
          </div>
          <div class="modal-footer">
             <!-- <a href="javascript:;" class="btn btn-primary pull-left inline" :class="{'show-spinner' : isLoading , 'disabled' : !isPayment || !appointment.date_time || !privacy_policy_consent || !terms_consent}" @click="saveForm"> 
             <span></span>
             <div class="loader"></div> 
             </a> -->
             <div class="" v-if="is_penalty">
                <vue-stripe-checkout
                  ref="checkoutRef"
                  :image="$imageUrl+'favicon/64x64.png'"
                  :name="stripe.name"
                  :description="stripe.description"
                  :currency="stripe.currency"
                  :amount="stripe.amount"
                  :allow-remember-me="false"
                  :email="stripe.email"
                  @done="donePayment"
                ></vue-stripe-checkout>
                <button class="btn btn-primary btn-cons no-margin pull-left inline" :class="{'show-spinner' : isPaymentLoading , 'disabled' :  !appointment.date_time || !privacy_policy_consent || !terms_consent}" @click="checkout">
                      <span>Pay £{{ stripe.amount_display }} & Update</span>
                      <div class="loader"></div>
                    </button>
            </div>
            <div v-else>
              <a href="javascript:;" class="btn btn-primary pull-left inline" :class="{'show-spinner' : isLoading , 'disabled' : !appointment.date_time || !privacy_policy_consent || !terms_consent}" @click="saveForm"> 
             <span>Update</span>
             <div class="loader"></div> 
             </a>
            </div>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>
<script>
  import Vue from 'vue';
	import axios from 'axios';
    import appointmentCalendar from './../../../admin/appointment/AppointmentCalendar.vue'
    import VueStripeCheckout from 'vue-stripe-checkout';
    Vue.use(VueStripeCheckout, 'pk_test_GEv9RXF3IKoqqnEJCVcEEBli');
    export default {
        components : {
            appointmentCalendar
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },

        mounted() {
            let app = this;
            app.stripe.email = app.$loggedInUser.email;
            app.errors.clear();
            EventBus.$on('showEditPopup', function (appointment) {
				      app.appointmentId = appointment.id;
	            app.filter_by_specialty = appointment.specialty_id;
	            axios.get(app.$apiUrl+'appointment/' + app.appointmentId)
	                .then(function (resp) {
	                    app.appointment = resp.data.data;
	                    //app.appointment.doctor_id = '';
	                 
                      var before_seven_days = app.$moment(new Date(app.appointment.date_time)).subtract(7, 'days').toString();
                      if (app.$moment(new Date(before_seven_days)).isAfter(new Date())) {
                        app.text = 'You can edit the appointment without panelty upto 1 week before appointment.';
                        app.is_penalty = false;
                        app.isPayment = true;
                      } else {
                        app.text = 'You cannot edit this appointment without panelty. You have to pay 50% more to the original appointment fee to edit this appointment.';
                         app.is_penalty = true;
                         app.isPayment = false;
                         app.getAppointmentFee();
                      }
                      //app.appointment.date_time = app.$moment(app.appointment.date_time).format("DD-MM-YYYY hh:mm a");
                      app.appointment.date_time = '';
                      app.getAvailCalendar();
                      
                      app.isAlertShow = false;
                      $('#appointmentEditModal').modal('show');    
	                })
	                .catch(function () {
	                });
	             var params = {};
	            params.limit = 0;
	            params.filter_by_specialty = app.filter_by_specialty;
	            axios({
	                    method: 'get',
	                    url: app.$apiUrl+'doctors',
	                    params: params
	                })
	                .then(function (resp) {
	                    app.doctors = resp.data.data.data;
	                })
	                .catch(function () {
	                });      
				
	        });    

            EventBus.$on('selectedDateTime', (date_time)=> {
                    app.appointment.date_time = this.$moment(date_time).format("DD-MM-YYYY hh:mm a");
            }); 

            $('#appointmentEditModal').on('shown.bs.modal', function() {
                app.terms_consent = false;
                app.privacy_policy_consent = false;
                $('#appointmentEditModal .modal-content').css({ 'display' : 'block'});
            });
        },
        data: function () {
            return {
                appointmentId: null,
                filter_by_specialty : '',
                doctors : [],
                appointment: {
                    doctor_id: '',
                    date_time : '',
                    appointment_type_id: '',
                    specialty_id : '',
                },
                isLoading:false,
                isPaymentLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                isPayment : false,
                alertMsg:'',
                text : '',
                is_penalty : true,
                stripe : {
                  name: 'Happy Clinic',
                  description: 'Book Appointment',
                  currency: 'GBP',
                  email:'',
                  amount: 0,
                  amount_display : 0,
                },
                terms_consent : false,
                privacy_policy_consent : false,
            }
        },
        methods: {
            async checkout () {
               token = await this.$refs.checkoutRef.open();
            },
            donePayment (token) {
              var app = this;
              app.isPaymentLoading = true;
              app.payment = {};
              app.payment.patient_id = app.$loggedInUser.patient_id;
              app.payment.token = token.token;
              app.payment.amount = app.stripe.amount;
              app.payment.appointment_type_id = app.appointment.appointment_type_id;
              var newObject = app.payment;
              axios.post(app.$apiUrl+'payment/appointment', app.payment)
                .then(function (resp) {
                   /* app.isPaymentLoading = false;
                    app.isAlertShow = true;
                    app.isSuccess = true;
                    app.isError = false;*/
                    app.isPayment = true;
                    /*app.alertMsg = 'Payment has been done successfully.';*/
                    app.saveForm();
                })
                .catch(function (error) {
                    app.isPaymentLoading = false;
                    app.isAlertShow = false;
                    app.isSuccess = false;
                    app.isError = true;
                    app.alertMsg = error.response.message;
                });
            },
            getAppointmentFee(){
                var app = this;
                var params = {};
                if (app.appointment.specialty_id != '' && app.appointment.appointment_type_id != '') {
                    params.specialty_id = app.appointment.specialty_id;
                    if (app.appointment.appointment_type_id == '1') {
                        params.appointment_type = 'initial_assessment';
                    } else if (app.appointment.appointment_type_id == '2') {
                        params.appointment_type = 'follow_up_assessment_type_1';
                    } else if (app.appointment.appointment_type_id == '3') {
                        params.appointment_type = 'follow_up_assessment_type_2';
                    } else if (app.appointment.appointment_type_id == '4') {
                        params.appointment_type = 'telephone_advice';
                    }

                    if (app.$loggedInUserIsMember == 0) {
                        params.patient_type = 'non_member';
                    } else if (app.$loggedInUserIsMember == 1){
                        params.patient_type = 'member';
                    }

                    axios({
                            method: 'get',
                            url: app.$apiUrl+'booking-fee',
                            params: params
                        })
                        .then(function (resp) {
                            let fifty_perc = (50*resp.data.data.fee)/100;
                            app.stripe.amount = fifty_perc*100;
                            app.stripe.amount_display = fifty_perc;
                        })
                        .catch(function (resp) {
                            app.stripe.amount = '';  
                        });
                }
            },
            saveForm() {
                var app = this;
                var newAppointment = app.appointment;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.patch(app.$apiUrl+'appointment/' + app.appointmentId, newAppointment)
                            .then(function (resp) {
                                app.isPaymentLoading = false;
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = 'You have successfully rescheduled your appointment';
                                $('#appointmentEditModal').scrollTop(0);
                                app.isAlertShow = true;
                                app.isPayment = false;
                                setTimeout(function(){
                                  $('#appointmentEditModal').modal('hide'); 
                                  app.appointment.doctor_id = '';
                                  app.appointment.date_time = '';
                                  app.errors.clear();
                                  app.isAlertShow = false;
                                  resp = app.$emit('actionPerformed');
                                },6000);  
                                
                                
                            })
                            .catch(function (resp) {
                                app.isPaymentLoading = false;
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                            });
                    }    
                })
            },
            getAvailCalendar() {
                var app = this;
                app.appointment.specialty_id = app.filter_by_specialty;
                EventBus.$emit('showAvailibiltyCalendar',app.appointment);
            },
        }
    }
</script>
<style>
  .doc_div {
    padding-left: 25px;
    padding-right: 25px;
  }
</style>