<template>
    <div class="modal fade stick-up" id="appointmentCancelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Cancelling Appointment</h5>
          </div>
          <div class="modal-body">
            <p class="info-text" v-show="warningText">
              <!-- Cancelling initial assessment appointment, all booked appointments of same specialty will be cancelled automatically. Refund will be given according to the <router-link :to="{name : 'Terms'}" target="_blank">terms & conditions.</router-link> -->
              If you cancel initial assessment, all booked follow up appointments (if any) of the same specialty will be cancelled automatically along with the initial assessment. Refund will be provided according to our <router-link :to="{name : 'Terms'}" target="_blank">terms & conditions.</router-link>
            </p>
            <p class="no-margin">{{ text }}</p>
          </div>
          <div class="modal-footer" >
            <button type="button" @click="cancelAppointment" class="btn btn-primary pull-left inline" :class="{'show-spinner' : isLoading }">
              <span>Cancel Appointment</span>
              <div class="loader"></div>
            </button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  import axios from 'axios';
	export default {
    mounted () {
      var app = this;
      app.getBusinessSetting();
      EventBus.$on('showCancelPopup', function (id) {

        axios.get(app.$apiUrl+'appointment/' + id)
          .then(function (resp) {
            app.appointment = resp.data.data;
            app.getAppointmentFee();
            
              
            
          })
          .catch(function () {
          });
         
      });
    },
    data: function () {
      return {
        appointment : [],
        text : '',
        is_penalty : false,
        fee : '',
        isLoading:false,
        isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        warningText : false,
        business_setting : [],
        refund_per : 0,
      }
    }, 
    computed: {
        $loggedInUser: function () {
            return JSON.parse(this.$store.getters.getAuthUser);
        },
        $loggedInUserIsMember : function () {
            var user = JSON.parse(this.$store.getters.getAuthUser);
            return user.is_member;
        }
    },       
    methods : {
      cancelAppointment() {
            var app = this;
            var params  = {};
            params.status = 'cancelled',
            params.panelty = app.is_penalty,
            params.fee = app.fee,
            params.id = app.appointment.id,
            app.isLoading = true;
            axios.put(app.$apiUrl+'appointment/update-appointment-status',params)
            .then(resp => {
                app.isLoading = false;
                app.isAlertShow = true;
                app.isSuccess = true;
                app.isError = false;
                app.alertMsg = 'Appointment has been cancelled successfully.';
                $('#appointmentCancelModal').modal('hide');
                resp = this.$emit('actionPerformed');
                
            })
            .catch(function (resp) {
              app.isLoading = false;
              app.isAlertShow = true;
              app.isSuccess = true;
              app.isError = false;
              app.alertMsg = 'Error Occured';
            });
        },
        getAppointmentFee(){
                var app = this;
                var params = {};
                if (app.appointment.specialty_id != '' && app.appointment.appointment_type_id != '') {
                    params.specialty_id = app.appointment.specialty_id;
                    if (app.appointment.appointment_type_id == '1') {
                        params.appointment_type = 'initial_assessment';
                    } else if (app.appointment.appointment_type_id == '2') {
                        params.appointment_type = 'follow_up_assessment_type_1';
                    } else if (app.appointment.appointment_type_id == '3') {
                        params.appointment_type = 'follow_up_assessment_type_2';
                    } else if (app.appointment.appointment_type_id == '4') {
                        params.appointment_type = 'telephone_advice';
                    }

                    if (app.$loggedInUserIsMember == 0) {
                        params.patient_type = 'non_member';
                    } else if (app.$loggedInUserIsMember == 1){
                        params.patient_type = 'member';
                    }

                    axios({
                            method: 'get',
                            url: app.$apiUrl+'booking-fee',
                            params: params
                        })
                        .then(function (resp) {
                          app.fee = resp.data.data.fee;
                          var before_seven_days = app.$moment(new Date(app.appointment.date_time)).subtract(7, 'days').toString();
                            if (app.$moment(new Date(before_seven_days)).isAfter(new Date())) {
                              let admin_fee = (app.business_setting.admin_fee_percentage).replace('%', '');
                              /*let deduct_amount = (admin_fee/100)*app.fee;
                              let refund_amount = app.fee - deduct_amount;
                              app.refund_per = (refund_amount*100)/app.fee;*/
                              app.refund_per = 100-admin_fee;
                              app.text = 'You cannot cancel this appointment without penalty. You will receive '+app.refund_per+'% of the appointment fee as refund within 10 business days as per our payment gateway (Stripe) processing time.';
                              app.is_penalty = false;
                            } else {
                              app.text = 'You will not receive a refund if you cancel this appointment. Are you sure you want to cancel?';
                               app.is_penalty = true;
                            }

                            if (app.appointment.appointment_type_id == 1) {
                              app.warningText = true;
                            } else {
                              app.warningText =false;
                            }
                            
                              $('#appointmentCancelModal').modal('show');
                          
                        })
                        .catch(function (resp) {
                            app.stripe.amount = '';  
                        });
                }
            },   
         getBusinessSetting(){
            var app = this;

            axios({
                    method: 'get',
                    url: app.$apiUrl+'business-setting',
                })
                .then(function (resp) {
                  app.business_setting = resp.data.data;
                })
                .catch(function (resp) {
                    app.business_setting = [];  
                });
        },       
    }
	}

</script>

