
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2> {{ type }} Mental Health Hospital
                                    <router-link to="/mental_health_hospitals" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Name</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              placeholder="Cerulean Lake Psychiatric Hospital" 
                                              name="name" 
                                              v-model="mentalhealthhospital.name"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('name')">
                                              {{ errors.first('name') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Address</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              placeholder="1390  Hill Street" 
                                              name="address_first_line"
                                              data-vv-as="address" 
                                              v-model="mentalhealthhospital.address_first_line"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('address_first_line')">
                                              {{ errors.first('address_first_line') }}
                                            </small>
                                        </div>
                                    </div>
                                                       
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">County</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              placeholder="Germany" 
                                              name="country" 
                                              v-model="mentalhealthhospital.country"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('country')">
                                              {{ errors.first('country') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">City</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              placeholder="Berlin" 
                                              name="city"
                                              v-model="mentalhealthhospital.city"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('city')">
                                              {{ errors.first('city') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Post Code</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              placeholder="10243" 
                                              name="postcode"
                                              v-model="mentalhealthhospital.postcode"
                                              v-validate="'required|alpha_num'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('postcode')">
                                              {{ errors.first('postcode') }}
                                            </small>
                                        </div>
                                    </div>                 
                                </div>
                                <div class="row">   
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Email</label>
                                            <div class="controls">
                                                <input type="email" class="form-control" name="email" placeholder="hospital@example.com"
                                                v-model="mentalhealthhospital.email"
                                                v-validate="'required|email'" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('email')">
                                              {{ errors.first('email') }}
                                            </small>
                                        </div>
                                    </div> 
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Telephone Number</label>
                                            <div class="controls">
                                                <masked-input class="form-control" mask="\+\ (111) 111-1111" type="tel" name="telephone_number"
                                                placeholder="+ (096) 222-4444"
                                                data-vv-as="mobile number"
                                                v-model="mentalhealthhospital.telephone_number"
                                                v-validate="'required'" />
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('telephone_number')">
                                              {{ errors.first('telephone_number') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="updateForm()">{{ buttonText }} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>

<script>
    export default {
        mounted() {
          let app = this;
          if (app.$route.name == 'MentalHealthHospitalCreate') {
              app.type = 'Add';
              app.buttonText = 'Create';
            } else if (app.$route.name == 'MentalHealthHospitalEdit') {
              app.mentalhealthhospitalId = app.$route.params.id;
              app.type = 'Edit';
              app.buttonText = 'Update';
              axios.get(app.$apiUrl+'mental_health_hospital/' + app.mentalhealthhospitalId)
              .then(function (resp) {
                  app.mentalhealthhospital = resp.data.data;
              })
              .catch(function () {
              });
            }
         
        },
        data: function () {
            return {
                mentalhealthhospitalId: null,
                mentalhealthhospital: {
                    name: '',
                    address_first_line: '',
                    country: '',
                    city: '',
                    postcode: '',
                    email: '',
                    telephone_number: '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                type : '',
                buttonText : '',
            }
        },
        methods: {
            updateForm() {
                var app = this;
                var newMentalHealthHospital = app.mentalhealthhospital;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        if (app.mentalhealthhospitalId == null) {
                          var url = app.$apiUrl+'mental_health_hospital';
                          var method = 'post';
                        } else {
                          var url = app.$apiUrl+'mental_health_hospital/' + app.mentalhealthhospitalId;
                          var method = 'patch';
                        }

                        axios({
                            method: method,
                            url: url,
                            data:newMentalHealthHospital
                          })
                          .then(resp => {
                              app.isLoading = false;
                              app.isSuccess = true,
                              app.isError = false,
                              app.alertMsg = resp.data.message;
                              app.isAlertShow = true;
                              app.$router.replace('/mental_health_hospitals');
                          })
                          .catch(error => {
                              app.isLoading = false;
                              app.isSuccess = false,
                              app.isError = true,
                              app.isAlertShow = true;
                              app.alertMsg = 'Error occured';
                              var jsonResponse =error.response.data.errors;
                              if(jQuery.type(jsonResponse) == 'object')
                              {
                                var messages = '';
                                $.each( jsonResponse, function( key, value ) {
                                  messages += '<p>'+value+'</p>';
                                }); 
                                app.alertMsg = messages;           
                              }
                          });
                    }        
                })   
            }
        }
    }
</script>
