<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Mental Health Hospitals ({{totalMentalHealthHospitals}}) <i v-show="isPageLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>
                            <div class="alert col-md-8 pull-left" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                              {{alertMsg}}
                            </div>
                            <div style="float: right;">
                                
                                <form id="import-form" class="form-horizontal">
                                    <div class="file btn btn-primary file-btn">
                                        <i class="fa fa-download"></i> Import Excel <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i>
                                        <input type="file" name="file" class="file-input" id="file-input" />
                                    </div>
                                </form>
                            </div>
                            <div style="float: right;">
                                <router-link :to="{name: 'MentalHealthHospitalCreate'}" class="btn btn-applyplus btn-cons"><i class="fa fa-plus"></i> Add</router-link>
                            </div>

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="mentalhealthhospitals.length > 0">  
                                        <tr v-for="mentalhealthhospital, index in mentalhealthhospitals" >
                                            <td>{{ mentalhealthhospital.id }}</td>
                                            <td>{{ mentalhealthhospital.name }}</td>
                                            <td>{{ mentalhealthhospital.telephone_number }}</td>
                                            <td>{{ mentalhealthhospital.address_first_line }} {{ mentalhealthhospital.city }}, {{ mentalhealthhospital.country }}, {{ mentalhealthhospital.postcode }}</td>
                                            <td>
                                                <router-link :to="{name: 'MentalHealthHospitalEdit', params: {id: mentalhealthhospital.id}}" class="btn btn-xs btn-complete" title="Edit">
                                                    <i class="fa fa-pencil"></i>
                                                </router-link>
                                                <a href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="setRecordObj(mentalhealthhospital.id, index)" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getMentalHealthHospitals"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

         <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>

         <input type="hidden" id="apiUrl" :value="$apiUrl">
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                isPageLoading : false,
                tableHeader: ["ID", "Name", "Telephone", "Address", 'Action'],
                mentalhealthhospitals: [],
                id: null,
                index:null,
                module:'mental_health_hospital',
                pageCount: 0,
                totalMentalHealthHospitals:0,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        mounted() {
            this.getMentalHealthHospitals(1);
            var app = this;
            document.getElementById("file-input").onchange = function() {
                var formData = new FormData();
                var imagefile = document.querySelector('#file-input');
                formData.append("import_file", imagefile.files[0]);
                app.isLoading = true;
                app.isAlertShow = false;
                app.alertMsg = '';
                axios.post($('#apiUrl').val()+'hospital-import-csv', formData, {
                    headers: {
                      'Content-Type': 'multipart/form-data'
                    }
                }).then(resp => {
                  app.isLoading = false;
                  app.isSuccess = true,
                  app.isError = false,
                  app.alertMsg = resp.data.message;
                  app.isAlertShow = true;
                  app.refreshList();
              })
              .catch(error => {
                  app.isLoading = false;
                  app.isSuccess = false,
                  app.isError = true,
                  app.isAlertShow = true;
                  app.alertMsg = 'Error occured';
                  var jsonResponse =error.response.data.errors;
                  if(jQuery.type(jsonResponse) == 'object')
                  {
                    var messages = '';
                    $.each( jsonResponse, function( key, value ) {
                      messages += '<p>'+value+'</p>';
                    }); 
                    app.alertMsg = messages;           
                  }
              });
            }.bind(app);
        },
        methods: {
            getMentalHealthHospitals:function(page) {
                var app = this;
                var limit = 10;
                app.isPageLoading = true;
                axios.get(app.$apiUrl+'mental_health_hospitals?page='+page+'&limit='+limit+'')
                    .then(function (resp) {
                      app.isPageLoading = false;
                        app.totalMentalHealthHospitals = resp.data.data.pagination.total;
                        app.mentalhealthhospitals = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                      app.isPageLoading = false;
                        app.mentalhealthhospitals = [];  
                        app.pageCount = 0;
                        app.totalMentalHealthHospitals = 0;
                    });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getMentalHealthHospitals(1);
            },    
        }
    }
</script>

<style>
    .file-btn{
        position: relative;
        overflow: hidden;
    }
    .file-input{
         position: absolute;
          font-size: 50px;
          opacity: 0;
          right: 0;
          top: 0;
    }
</style>
