<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Activity Log ({{totalLogs}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>

                            <!-- <div style="float: right;">
                                <router-link :to="{name: 'rbtCreate'}" class="btn btn-applyplus btn-cons"><i class="fa fa-plus"></i> Add rbt</router-link>
                            </div> -->
                            <div class="row">
                              <div class="form-group  pull-right col-sm-4">
                                <label>Filter By Date Range</label> 
                               <date-picker v-model="log.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY" type="date"></date-picker>
                              </div> 
                              
                              <div class="pull-right col-md-2">
                                <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                              </div>  
                            </div> 

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="logs.length > 0">  
                                        <tr v-for="log, index in logs" >
                                            <td>{{ log.id }}</td>
                                            <td v-html="log.activity"></td>
                                            <td width="20%">{{ log.created_at }}</td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getLogs"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>
        </div>
    </div>

</template>

<script>
    import DatePicker from 'vue2-datepicker'
    export default {
        components: {
            DatePicker
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Activity","Date Time"],
                logs: [],
                id: null,
                index:null,
                module:'activity-log',
                pageCount: 0,
                totalLogs:0,
                search_spinner:false,
                log: {
                    filter_by_date_range: '',
                },
                shortcuts: [
                    {
                      text: 'Previous 7 Days',
                      onClick: () => {
                        this.log.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Previous 30 Days',
                      onClick: () => {
                        this.log.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Next 7 Days',
                      onClick: () => {
                        this.log.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
                      }
                    },
                    {
                      text: 'Next 30 Days',
                      onClick: () => {
                        this.log.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
                      }
                    },
                ],
            }
        },
        mounted() {
            this.getLogs(1);
        },
        methods: {
            getLogs:function(page) {
                var app = this;
                app.log.page = page || 1;
                app.log.limit = 10;
                if (app.log.filter_by_date_range != '') {
                  if (app.log.filter_by_date_range[0] != null) {
                    app.log.start_date = this.$moment(app.log.filter_by_date_range[0]).format('YYYY-MM-DD');
                  } 

                  if (app.log.filter_by_date_range[1] != null) {
                    app.log.end_date = this.$moment(app.log.filter_by_date_range[1]).format('YYYY-MM-DD');
                  } 
                }
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'activity-log',
                    params: app.log
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.totalLogs = resp.data.data.pagination.total;
                    app.logs = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                    app.search_spinner = false;
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.logs = [];  
                    app.pageCount = 0;
                    app.totalLogs = 0;
                    app.search_spinner = false;
                });
            },
             searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getLogs(1);
            }   
        }
    }
</script>
