
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2>  Business Settings <i v-show="isPageLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner f-z-20" aria-hidden="true"></i>
                                    
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Admin Fee Percentage</label>
                                            <div class="controls">
                                              <input type="text" class="form-control input-xl"
                                              name="admin_fee_percentage"
                                              placeholder="Enter Percentage"
                                              data-vv-as="admin fee" 
                                              v-model="object.admin_fee_percentage"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('admin_fee_percentage')">
                                              {{ errors.first('admin_fee_percentage') }}
                                            </small>
                                        </div>
                                    </div>
                                    
                                </div>  
                                <hr>
                                <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons"  @click="saveForm()">Update<i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            app.isPageLoading = true;
            axios.get(app.$apiUrl+'business-setting')
            .then(function (resp) {
                app.isPageLoading = false;
                app.object = resp.data.data;
            })
            .catch(function () {
                app.isPageLoading = false;
            });
           
        },
        data: function () {
            return {
                object: {
                    id : '',
                    admin_fee_percentage: '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isPageLoading : false,
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newObject = app.object;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                          var url = app.$apiUrl+'business-setting/' + newObject.id;
                          var method = 'patch';
                        axios({
                          method: method,
                          url: url,
                          data:newObject
                        })
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += value;
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                    }        
                })
            },
        }
    }
</script>

<style scoped="">
    .input-xl {
        height: 30px !important;
    }
</style>
    
