<template>
	<span>
		<nav-component></nav-component>

		<div class="page-container "> 
			<header-component></header-component>

			<div class="page-content-wrapper ">
                <div class="content sm-gutter">
					<div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
					  <div class="card card-default">
					    <form id="account_form" class="" role="form" onsubmit="return false;" autocomplete="off">
					      
					      <div class="card-block">
					      	<h2> Change Password</h2>
				      		<div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                              {{alertMsg}}
                            </div>

					        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                  <label>Old Password</label>
                                    <input type="password" name="old_password" class="form-control"
                                    placeholder="Enter old password"
                                     v-model="object.old_password"
                                     v-validate="'required'"
                                     data-vv-as="old password">
                                    <small class="text-danger"
                                      v-show="errors.has('old_password')">
                                      {{ errors.first('old_password') }}
                                    </small> 
                                </div>
                              </div>					            
					          <div class="col-lg-4">
					            <div class="form-group">
					              <label>New Password</label>
					                <input type="password" name="password" class="form-control"
                                    placeholder="Enter new password"
                                    ref="password"
                                     v-model="object.password"
                                     v-validate="'required|verify_password'">
                                    <small class="text-danger"
                                      v-show="errors.has('password')" v-html="errors.first('password')">
                                    </small> 
					            </div>
					          </div>

					          <div class="col-lg-4">
					            <div class="form-group">
					              <label>Confirm Password</label>
					              <input type="password" name="confirm_password" class="form-control" 
                                  placeholder="Re-type password"
                                  data-vv-as="confirm password"
                                  v-model="object.confirm_password"
                                  v-validate="'required|confirmed:password'">
                                  <small class="text-danger"
                                      v-show="errors.has('confirm_password')">
                                      {{ errors.first('confirm_password') }}
                                    </small> 
					            </div>
					          </div>

					          <div class="col-lg-12">
					            <div class="form-group" style="text-align: center;">
					              <button @click="updateAccount" class="btn btn-applyplus  btn-cons">Save <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
					            </div>
					          </div> 
					        </div>
					      </div>
					    </form>
					  </div>
					  <!-- END card -->
					</div>       
                </div>
             </div>
		</div>

		<footer-component></footer-component>
	</span>
    
</template>

<script>

    export default {
        mounted() {
            var app = this;
        },
        data: function () {
            return {
                object: {
                    password: '',
                    confirm_password: ''
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false
            }
        },
        methods: {
            updateAccount() {
                var app = this;
                var params = app.object;

                this.$validator.validateAll().then(result => {
                    if (result) {
                    	app.isLoading = true;
    	                axios.put(app.$apiUrl+'user/reset-password', params)
                        .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.object.password = '';
                            app.object.confirm_password = '';
                            app.$router.replace('/dashboard');
                        })
                        .catch(function (error) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = error.response.data.message;
                        });
                    }
                })    
            }
        }
    }
</script>