<template>
	<span>
		<nav-component></nav-component>

		<div class="page-container "> 
			<header-component></header-component>

			<div class="page-content-wrapper ">
                <div class="content sm-gutter">
					<div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10 " style="text-align: center;">
				        <h2>Cool Stuff Coming Soon</h2>
				    </div>        
                </div>
             </div>
		</div>

		<footer-component></footer-component>
	</span>
    
</template>