<template>
    <div class="login-wrapper ">
      <noauth-left-component></noauth-left-component>

      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40"  id="forgot_wrapper">
          <logo-component></logo-component>
          <p class="p-t-35">Forgot Password</p>
          <!-- START Login Form -->
          <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
            {{alertMsg}}
          </div>


          <form id="forgot_form" class="p-t-15" role="form" action=""  onsubmit="return false;">
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Email</label>
              <div class="controls">
                <input type="email" class="form-control" name="forgot_email" placeholder="email@example.com"
                  data-vv-as="email"
                  v-model="object.forgot_email"
                  v-validate="'required|email'"
                  >
                  <small class="text-danger"
                      v-show="errors.has('forgot_email')">
                      {{ errors.first('forgot_email') }}
                  </small>
              </div>
            </div>
            <!-- START Form Control-->
            <div class="row">
              <div class="col-md-6 no-padding sm-p-l-10">
                <div class="checkbox ">
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-end">
                <router-link to="/login"  class="text-info small">Back To Login</router-link>
              </div>
            </div>
            <!-- END Form Control-->
            <button class="btn btn-applyplus btn-cons m-t-10" @click="submitRequest">Submit <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
          </form>
          <!--END Login Form-->
          <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            var app = this;
            
        },
        data: function () {
            return {
                object: {
                    forgot_email: '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            submitRequest() {
                var app = this;
                var params = app.object;

                this.$validator.validateAll().then(result => {
                  if (result) {
                    app.isLoading = true;
                    axios.post(app.$apiUrl+'request-password', params)
                        .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/login');
                        })
                        .catch(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Bad Credentials';
                        });
                  }      
                })
            }
        }
    }
</script>