<template>
    <span class="login-wrapper ">
        <noauth-left-component></noauth-left-component>

        <div class="login-container bg-white">
            <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40" id="login_wrapper">
              <logo-component></logo-component>
              <p class="p-t-35">Sign into your account</p>
              <!-- START Login Form -->

              <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                  {{alertMsg}}
                </div>

              <form id="login-form" class="p-t-15" role="form" onsubmit="return false;">
                <!-- START Form Control-->
                <div class="form-group form-group-default">
                  <label>Email</label>
                  <div class="controls">
                    <input type="text" name="email" class="form-control" placeholder="email@example.com" autocomplete="off"
                           v-validate="'required|email'" 
                           v-model="object.email" @keyup.enter="login"
                           >
                    <small class="text-danger"
                        v-show="errors.has('email')">
                        {{ errors.first('email') }}
                    </small>       
                  </div>
                </div>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div class="form-group form-group-default">
                  <label>Password</label>
                  <div class="controls">
                    <input type="password" class="form-control" name="password"  placeholder="credentials" autocomplete="off"
                          v-model="object.password"
                          v-validate="'required'" @keyup.enter="login"
                          >
                    <small class="text-danger"
                      v-show="errors.has('password')">
                      {{ errors.first('password') }}
                    </small>         
                  </div>
                </div>
                <!-- START Form Control-->
                <div class="row">
                  
                  <div class="col-sm-12">
                    <router-link to="/forgot-password"  class="text-info small pull-left">Forgot Password?</router-link>
                    <router-link to="/register"  class="text-info small pull-right">Register Now</router-link>
                  </div>

                </div>

                <!-- END Form Control-->
                <button class="btn btn-applyplus btn-cons m-t-10" @click="login">Sign In <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
              </form>
              <!--END Login Form-->
              <div class="pull-bottom sm-pull-bottom">
                <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">

                </div>
              </div>
            </div>
        </div>
    </span>
    
</template>

<script>
    export default {
        mounted() {
            var app = this;
        },
        data: function () {
            return {
                object: {
                    email: '',
                    password: '',
                    from : 'admin',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            login() {
                var app = this;
                var params = app.object;
                this.$validator.validateAll().then(result => {
                  if (result) {
                     app.isLoading = true;
                     axios.post(app.$apiUrl+'login', params)
                    .then(function (resp) {
                        app.isLoading = false;
                        app.isSuccess = true,
                        app.isError = false,
                        app.alertMsg = resp.data.message;
                        app.isAlertShow = true;

                        resp.data.data.user.role = resp.data.data.role;
                        resp.data.data.user.user_picture = resp.data.data.user_picture;
                        window.localStorage.setItem('lbUser', JSON.stringify(resp.data.data.user));
                        app.$store.commit('setAuthUser', resp.data.data.user);
                        app.$store.commit('setAuthToken', resp.data.access_token);
                        var supportView = JSON.parse(window.localStorage.getItem('support_view'));
                        if (supportView != null) {
                          app.$router.replace('/support/view/'+supportView);
                        } else {
                          app.$router.replace('/doctors');
                        }
                        
                    })
                    .catch(error => {
                        app.isLoading = false;
                        app.isSuccess = false,
                        app.isError = true,
                        app.isAlertShow = true;
                        app.alertMsg = error.response.data.message;
                         
                    });
                  }
                })  
            }
        }
    }
</script>