<template>
	<span>
		<nav-component></nav-component>

		<div class="page-container "> 
			<header-component></header-component>

			<div class="page-content-wrapper ">
                <div class="content sm-gutter">
					<div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
					  <div class="card card-default">
					    <form id="profile_form" class="" role="form" onsubmit="return false;" autocomplete="off">
					      
					      <div class="card-block">
					      	<h2> Basic Information</h2>
				      		<div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                              {{alertMsg}}
                            </div>
                            <div class="example-avatar">
							    <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
							      <h3>Drop files to upload</h3>
							    </div>
							    <div class="avatar-upload"  v-show="!edit">
							      <div class="text-center p-2">
							        <label for="avatar">
							          <img :src="files.length ? files[0].url : object.profile_pic_path"  class="rounded-circle" />
							        </label>
							      </div>
							      <div class="text-center p-2">
							        <file-upload
							          :post-action="$apiUrl+'media/upload'"
                                      :accept="$accept"
                                      :extensions="$extensions"
							          class="btn btn-primary"
							          v-model="files"
							          @input-filter="inputFilter"
							          @input-file="inputFile"
							          ref="upload">
							          Upload avatar
							        </file-upload>
							        <!-- <button type="button" class="btn btn-secondary" @click.prevent="$refs.upload.clear">Cancel</button>
							        <button type="submit" class="btn btn-primary" @click.prevent="$refs.upload.active = true">Save</button> -->
							      </div>
							    </div>
							</div>    
					        <div class="row">					            
					          <div class="col-lg-4">
					            <div class="form-group">
                                    <label>First Name</label>
                                      <input type="text" class="form-control" name="first_name" placeholder="John" 
	                                      data-vv-as="first name"
	                                      v-model="object.first_name"
	                                      v-validate="'required'">
	                                    <small class="text-danger"
	                                      v-show="errors.has('first_name')">
	                                      {{ errors.first('first_name') }}
	                                    </small>  
                                </div>
					          </div>

					          <div class="col-lg-4">
					            <div class="form-group">
					              <label>Last Name</label>
					              <input type="text" class="form-control" name="last_name" placeholder="Doe" 
	                                      data-vv-as="last name"
	                                      v-model="object.last_name"
	                                      v-validate="'required'">
	                                    <small class="text-danger"
	                                      v-show="errors.has('last_name')">
	                                      {{ errors.first('last_name') }}
	                                    </small> 
					            </div>
					          </div>

					          <div class="col-lg-4">
					            <div class="form-group">
					              <label>Email</label>
					              <input type="email" class="form-control" name="email" placeholder="john@example.com" 
	                                      v-model="object.email"
	                                      v-validate="'required|email'">
	                                    <small class="text-danger"
	                                      v-show="errors.has('email')">
	                                      {{ errors.first('email') }}
	                                    </small> 
					            </div>
					          </div>

					          <div class="col-lg-12">
					            <div class="form-group" style="text-align: center;">
					              <button @click="updateProfile" class="btn btn-applyplus  btn-cons">Save <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
					            </div>
					          </div> 
					        </div>
					      </div>
					    </form>
					  </div>
					  <!-- END card -->
					</div>       
                </div>
             </div>
		</div>

		<footer-component></footer-component>
	</span>
    
</template>

<script>
    export default {
        mounted() {
            var app = this;
            //app.object = configConstants.user;
           /* if(localStorage.getItem('lbUser')) {
            	var user = JSON.parse(localStorage.getItem('lbUser'));
                app.object = user;
                app.object.profile_pic = app.$baseUrl+'/storage/profile_pic/'+user.profile_pic;
            }*/
            if (app.authUser) {
            	app.object = app.authUser;
                app.object.profile_pic_path = app.$baseUrl+'/storage/profile_pic/'+app.authUser.profile_pic;
            }
        },
        data: function () {
            return {
            	authUser : JSON.parse(this.$store.getters.getAuthUser),
                object: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    profile_pic: '',
                    profile_pic_path : '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                files: [],
      			edit: false,
            }
        },
        methods: {
            updateProfile() {
                var app = this;
                var newProfile = app.object;

                this.$validator.validateAll().then(result => {
                    if (result) {
	                	app.isLoading = true;
		                axios.put(app.$apiUrl+'user/profile', newProfile)
		                    .then(function (resp) {
		                        app.isLoading = false;
		                        app.isSuccess = true,
		                        app.isError = false,
		                        app.alertMsg = resp.data.message;
		                        app.isAlertShow = true;
		                        app.authUser.profile_pic = app.object.profile_pic;
		                        app.$store.commit('setAuthUser', app.authUser);
		                        app.$router.push('/doctors');
		                    })
		                    .catch(function (resp) {
		                        app.isLoading = false;
		                        app.isSuccess = false,
		                        app.isError = true,
		                        app.isAlertShow = true;
		                        app.alertMsg = 'Error occured';
		                    });
		            }        
                })
            },
            inputFile(newFile, oldFile, prevent) {
            	if (newFile && oldFile) {
            		if (newFile.response.name != undefined) {
			      	 	this.object.profile_pic = newFile.response.name;
			      	}
            	}
			    if (newFile && !oldFile) {
			      	if (!this.$refs.upload.active) {
			      		this.$refs.upload.active = true;
			      	} 
			    }
		    },
		    inputFilter(newFile, oldFile, prevent) {
		      if (newFile && !oldFile) {
		        if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
		          this.alert('Your choice is not a picture')
		          return prevent()
		        }
		      }
		      if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
		        newFile.url = ''
		        let URL = window.URL || window.webkitURL
		        if (URL && URL.createObjectURL) {
		          newFile.url = URL.createObjectURL(newFile.file)
		          console.log(newFile.url);
		        }
		      }
		    }
        }
    }
</script>

<style>
.example-avatar .avatar-upload .rounded-circle {
  width: 150px;
  height: 150px;
}
.example-avatar .text-center .btn {
  margin: 0 .5rem
}
.example-avatar .avatar-edit-image {
  max-width: 100%
}
.example-avatar .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.example-avatar .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
</style>

