<template>
  <div class="login-wrapper ">
    <noauth-left-component></noauth-left-component>

    <div class="login-container bg-white">
      <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40" id="login_wrapper">
         <logo-component></logo-component>
        <p class="p-t-35">Create a new account</p>
        <!-- START Login Form -->

        <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
            {{alertMsg}}
          </div>

        <form id="register_form" class="p-t-15" role="form" onsubmit="return false;">
          <!-- START Form Control-->
          <div class="form-group form-group-default">
            <label>First Name</label>
            <div class="controls">
              <input type="text" name="first_name" placeholder="John" class="form-control"
                data-vv-as="first name"
                v-model="object.first_name"
                v-validate="'required'"
                >
            </div>
            <small class="text-danger"
                v-show="errors.has('first_name')">
                {{ errors.first('first_name') }}
            </small>  
          </div>

          <div class="form-group form-group-default">
            <label>Last Name</label>
            <div class="controls">
              <input type="text" name="last_name" placeholder="Doe" class="form-control"
              data-vv-as="last name"
              v-model="object.last_name"
              v-validate="'required'">
            </div>
            <small class="text-danger"
                v-show="errors.has('last_name')">
                {{ errors.first('last_name') }}
            </small> 
          </div>

          <!-- END Form Control-->
          <!-- START Form Control-->
          <div class="form-group form-group-default">
            <label>Email</label>
            <div class="controls">
              <input type="text" name="email" class="form-control" placeholder="email@example.com" autocomplete="off"
                     v-validate="'required|email'" 
                     v-model="object.email" 
                     >
              <small class="text-danger"
                  v-show="errors.has('email')">
                  {{ errors.first('email') }}
              </small>       
            </div>
          </div>

          <div class="form-group form-group-default">
            <label>Password</label>
            <div class="controls">
              <input type="password" class="form-control" name="password"  placeholder="credentials" autocomplete="off"
                    v-model="object.password"
                    v-validate="'required'"
                    >
              <small class="text-danger"
                v-show="errors.has('password')">
                {{ errors.first('password') }}
              </small>         
            </div>
          </div>

          <!-- START Form Control-->
          <div class="row">
            <div class="col-sm-12">
              <router-link to="/login"  class="text-info small pull-right">Back To Login</router-link>
            </div>

          </div>

          <!-- END Form Control-->
          <button class="btn btn-applyplus btn-cons m-t-10" @click="registerForm">Register <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
        </form>
        <!--END Login Form-->
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">

          </div>
        </div>
      </div>
    </div>
  </div>
  
</template>

<script>
    export default {
        mounted() {
            var app = this;
            
        },
        data: function () {
            return {
                object: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            registerForm() {
                var app = this;
                var params = app.object;
                this.$validator.validateAll().then(result => {
                  if (result) {
                    //app.isLoading = true;
                    //Call Register Api
                  }
                })        
            }
        }
    }
</script>