<template>
    <div class="login-wrapper ">
      <noauth-left-component></noauth-left-component>

      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40"  id="forgot_wrapper">
           <logo-component></logo-component>
          <p class="p-t-35">Set Password</p>
          <!-- START Login Form -->
          <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
            {{alertMsg}}
          </div>


          <form id="forgot_form" class="p-t-15" role="form" action=""  onsubmit="return false;">
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Password</label>
              <div class="controls">
                <input type="password" class="form-control" name="password"  placeholder="credentials" autocomplete="off"
                      ref="password"
                      v-model="object.password"
                      v-validate="'required'"
                      >
                <small class="text-danger"
                  v-show="errors.has('password')">
                  {{ errors.first('password') }}
                </small>         
              </div>
            </div>

            <div class="form-group form-group-default">
              <label>Confirm Password</label>
              <div class="controls">
                <input type="password" class="form-control" name="confirm_password"  placeholder="credentials" autocomplete="off"
                     data-vv-as="confirm password"
                    v-model="object.confirm_password"
                    v-validate="'required|confirmed:password'">
                 <small class="text-danger"
                  v-show="errors.has('confirm_password')">
                  {{ errors.first('confirm_password') }}
                </small>         
              </div>
            </div>
            <!-- START Form Control-->
            <!-- END Form Control-->
            <button class="btn btn-applyplus btn-cons m-t-10" @click="submitRequest">Submit <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
          </form>
          <!--END Login Form-->
          <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let token = app.$route.params.token;
            app.object.token = token;
        },
        data: function () {
            return {
                object: {
                    password: '',
                    confirm_password: '',
                    token : '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            submitRequest() {
                var app = this;
                var params = app.object;
                this.$validator.validateAll().then(result => {
                  if (result) {
                    app.isLoading = true;
                    axios.put(app.$apiUrl+'reset-password', params)
                        .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/login');
                        })
                        .catch(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'An error occured';
                        });
                  }      
                })
            }
        }
    }
</script>