<template>
    <div class="form-group avail_calendar">
        <!-- <label class="text-primary bold">Appointment Calendar</label> -->
        <div class="card bg-white avail_calendar_div p-b-20">
          <div class="card-header  separator">
            <div id="cal_container">
              <div id="cal_left">
                <span><a href="javascript:;" id="cal_previous" :class="{ 'disabled' : appointment.prev_month.month < appointment.curr_month_static }" @click="getRec('previous')" class="btn btn-sm btn-dark"><i :class="iconClass+'-arrow-left'"></i></a></span>
              </div>
              
              <div id="cal_right">
                <a href="javascript:;" class="btn btn-sm btn-dark" id="next" @click="getRec('next')"><i :class="iconClass+'-arrow-right'"></i></a>
              </div>
              
              <div id="cal_center">
                <h4 class="semi-bold text-center" id="avail_month"> {{ appointment.curr_month.month_name }} {{ appointment.curr_month.year }}</h4> 
              </div>
            </div>
            <div class="text-center">
              <div class="calendar-legend-li">
                  <span class="label custom-current-label m-r-5">  </span>  Current
              </div>
              <div class="calendar-legend-li m-r-10">
                  <span class="label custom-avail-label m-r-5">  </span>  Available
              </div> 
            </div>
          </div>   
          <div class="p-10">
           <!-- <div id='calendar'></div> -->
           <div class="text-center" v-show="showDates">
            <template v-if="hasAvailDates">
                    <button class="btn btn-success btn-cons m-t-10 avail_dates"  v-for="date,index in appointment.available_dates"
                    v-bind:data-date="index"
                    @click="getTimeSlots(index)">{{ date }}</button>
            </template>
            <template v-else> 
                <div class="" v-if="isLoading">
                    <div class="loader style-2"></div>
                </div>
                <p v-else>No date available for this months</p>

            </template >
                       
           </div>
           <div class="text-center row" v-show="showTimeSlots">
            <div class="col-md-12">
                <h5>{{selectedDisplayDate}}</h5>
                <div class="btn btn-dark btn-sm pull-right m-r-15" @click="showDatediv">Back</div>
            </div>
            <div class="col-md-12">
                <template v-if="appointment.avail_time_slots !== ''">
                    <button class="btn btn-success btn-cons m-t-10 avail_time"
                    v-bind:data-time="index"
                    v-for="time,index in appointment.avail_time_slots"
                    @click="showDateTime(time, index)">{{ time }}</button>
                </template>
                <template v-else> 
                    <div class="" v-if="isLoading">
                        <div class="loader style-2"></div>
                    </div>
                    <p>No time available for this date</p>
                </template >
            </div>
            
           </div>
        </div>
      </div>
    </div>                         
</template>

<script>
    import axios from 'axios';
    export default {
        mounted() {
            var app = this;
            EventBus.$on('showAvailibiltyCalendar', (data)=> {
                if (data.doctor_id != undefined && data.appointment_type_id != '') {
                    app.appointment.doctor_id = data.doctor_id;
                    app.appointment.specialty_id = data.specialty_id;
                    app.appointment.appointment_type_id = data.appointment_type_id;
                    app.appointment.patient_id = data.patient_id;
                    app.getAvailCalendar();
                } else {
                    app.appointment.available_dates = [];
                    app.appointment.avail_time_slots = [];
                }
            });

            if(localStorage.getItem('lbUser')) {
                var user = JSON.parse(localStorage.getItem('lbUser'));
                if (user.role == 'superadmin') {
                    app.iconClass = 'fa fa';
                }
            }
        },
        data: function () {

            return {
                iconClass : 'icon',
                appointment : {
                    appointment_type_id : null,
                    available_dates : [],
                    avail_time_slots : [],
                    date_schedule : [],
                    doctor_schedule : [],
                    specialty_id: '',
                    doctor_id: '',
                    patient_id: '',
                    curr_month_static : this.$moment(new Date()).format("MM"),
                    curr_month: {
                        month: this.$moment(new Date()).format("MM"), 
                        month_name: this.$moment(new Date()).format("MMMM"), 
                        year: this.$moment(new Date()).format("YYYY")
                    },
                    prev_month: {
                        month: "", 
                        month_name: "",
                        year: ""
                    },
                    next_month: {
                        month: "", 
                        month_name: "",
                        year: ""
                    }
                    
                },
                selectedDisplayDate : '',
                selectedDate: '',
                selectedDateTime : '',
                hasAvailDates : false,
                showTimeSlots : false,
                showDates : true,
                isLoading : false,
            }
        },
        methods: {
            getAvailCalendar() {
                var app = this;
                var appointmentData = app.appointment;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.showDates = true;
                        app.hasAvailDates = false;
                        app.showTimeSlots = false;
                        app.appointment.avail_time_slots = [];
                        app.appointment.available_dates = [];
                        app.isLoading = true;
                        app.selectedDateTime = '';
                        axios.post(app.$apiUrl+'appointment/availability_cal', appointmentData)
                        .then(function (resp) {
                            app.isLoading = false;
                            app.appointment.available_dates = resp.data.data.avail_dates;
                            app.appointment.date_schedule = resp.data.data.date_schedule;
                            app.appointment.doctor_schedule = resp.data.data.doctor_schedule;
                            app.appointment.curr_month = resp.data.data.curr_month;
                            app.appointment.prev_month = resp.data.data.prev_month;
                            app.appointment.next_month = resp.data.data.next_month;
                            if (jQuery.isEmptyObject(app.appointment.available_dates)) {
                                app.hasAvailDates = false;
                            } else {
                                app.hasAvailDates = true
                            }
                        })
                        .catch(error => {
                            app.isLoading = false;
                        });
                    }
                })
            },
            getTimeSlots(date) {
                var app = this;
                var appointmentData = app.appointment;
                $('.avail_dates').removeClass('btn-info').addClass('btn-success');
                $('.avail_dates[data-date='+date+']').removeClass('btn-success').addClass('btn-info');
                app.selectedDate = date;
                app.selectedDisplayDate = this.$moment(date).format('dddd DD');
                app.isLoading = true;
                axios.post(app.$apiUrl+'appointment/time_slots/'+date, appointmentData)
                .then(function (resp) {
                    app.isLoading = false;
                    app.appointment.avail_time_slots = resp.data.data.available_slots;
                    app.showTimeSlots = true;
                    app.showDates = false;
                })
                .catch(error => {
                    app.isLoading = false;
                });
            },
            showDatediv() {
                var app = this;
                app.showTimeSlots = false;
                app.showDates = true;
            },
            showDateTime(time, index) {
                var app = this;
                $('.avail_time').removeClass('btn-info').addClass('btn-success');
                $('.avail_time[data-time=\"'+index+'\"]').removeClass('btn-success').addClass('btn-info');
                app.selectedDateTime = app.selectedDate+' '+index;
                EventBus.$emit('selectedDateTime',app.selectedDateTime);

            },
            getRec(type) {
                var app = this;
                if (type == 'previous') {
                    if (app.appointment.prev_month.month != '' && app.appointment.prev_month.year != '' && app.appointment.prev_month.month_name != '') {
                        app.appointment.curr_month.month = app.appointment.prev_month.month;
                        app.appointment.curr_month.year = app.appointment.prev_month.year;
                        app.appointment.curr_month.month_name = app.appointment.prev_month.month_name;
                        app.getAvailCalendar();
                        app.showDatediv();
                    }
                    
                } else if (type == 'next') {
                    if (app.appointment.next_month.month != '' && app.appointment.next_month.year != '' && app.appointment.next_month.month_name != '') {
                        app.appointment.curr_month.month = app.appointment.next_month.month;
                        app.appointment.curr_month.year = app.appointment.next_month.year;
                        app.appointment.curr_month.month_name = app.appointment.next_month.month_name;
                        app.getAvailCalendar();
                        app.showDatediv();
                    }
                    
                }
                
                
            }
        }
    }
</script>

<style scoped="">
    .p-10 {
        padding: 10px;
    }
    /*** Appointment Calendar ***/
    .calendar-legend-li {
        float: right;
    }

    .custom-unavail-label {
      background-color: #f7cf5f;
    }

    .custom-avail-label {
        background-color: #28a745 !important;
    }

    .custom-current-label {
       background-color: #17a2b8 !important;
    }

    #cal_container{width:100%;}
    #cal_left{float:left;}
    #cal_right{float:right;}
    #cal_center{margin:0 auto;}

    .loader.style-2 {
        position: relative;
    }
    /*** Appointment Calendar CSS END ***/
</style>
