
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;">
                                <h2> Edit Appointment
                                    <router-link to="/appointments" class="btn btn-complete pull-right">Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 offset-md-2">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Select Doctor</label> 
                                            <div class="controls">
                                                <select v-model="appointment.doctor_id" class="form-control" @change="getAvailCalendar"
                                                name="doctor"
                                                v-validate="'required'">
                                                    <option value="">Select Doctor</option>
                                                     <option v-for="doctor in doctors" :value="doctor.id">{{doctor.user.full_name}}</option>
                                                 </select>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('doctor')">
                                              {{ errors.first('doctor') }}
                                            </small>     
                                        </div>
                                    </div>
                                     <div class="col-lg-8 offset-md-2 no-padding">
                                        <appointmentCalendar></appointmentCalendar>
                                    </div>               
                                
                                    <div class="col-lg-8 offset-md-2 no-padding">
                                        <div class="form-group required disabled">
                                            <label class="text-primary bold">Date Time</label>
                                            <div class="controls">
                                              <input type="text" class="form-control" name="date_time" placeholder="Date Time"
                                              data-vv-as="date time"
                                              v-model="appointment.date_time"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('date_time')">
                                              {{ errors.first('date_time') }}
                                            </small>  
                                        </div>
                                    </div>
          
                                </div>
                                <hr>
                                <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons"  @click="saveForm()">Update <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    import appointmentCalendar from './AppointmentCalendar.vue'
    export default {
        components : {
            appointmentCalendar
        },
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            let specialty_id = app.$route.params.specialty_id;
            app.appointmentId = id;
            app.filter_by_specialty = specialty_id;
            axios.get(app.$apiUrl+'appointment/' + id)
                .then(function (resp) {
                    app.appointment = resp.data.data;
                    app.appointment.doctor_id = '';
                    app.appointment.date_time = app.$moment(app.appointment.date_time).format("DD-MM-YYYY hh:mm a");
                })
                .catch(function () {
                });

            var params = {};
            params.limit = 0;
            params.filter_by_specialty = app.filter_by_specialty;
            axios({
                    method: 'get',
                    url: app.$apiUrl+'doctors',
                    params: params
                })
                .then(function (resp) {
                    app.doctors = resp.data.data.data;
                })
                .catch(function () {
                });      

            EventBus.$on('selectedDateTime', (date_time)=> {
                    app.appointment.date_time = this.$moment(date_time).format("DD-MM-YYYY hh:mm a");
            }); 
        },
        data: function () {
            return {
                appointmentId: null,
                filter_by_specialty : '',
                doctors : [],
                appointment: {
                    doctor_id: '',
                    date_time : '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newAppointment = app.appointment;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.patch(app.$apiUrl+'appointment/' + app.appointmentId, newAppointment)
                            .then(function (resp) {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                                app.$router.replace('/appointments');
                            })
                            .catch(function (resp) {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                            });
                    }    
                })
            },
            getAvailCalendar() {
                var app = this;
                app.appointment.specialty_id = app.filter_by_specialty;
                EventBus.$emit('showAvailibiltyCalendar',app.appointment);
            },
        }
    }
</script>

    
