
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;">
                                <h2> Add Appointment
                                    <router-link to="/appointments" class="btn btn-complete pull-right">Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Specialty</label>
                                            <vue-select class="vue-select2" name="select2_specialty"
                                                    v-model="selectedSpecialty"
                                                    :options="specialties" 
                                                    :searchable="true" 
                                                    language="en-US"
                                                    placeholder="Select Specialty"
                                                    v-validate="'required'"
                                                    data-vv-as="specialty"
                                                    v-on:input="setSpecialty"
                                                    >
                                            </vue-select>
                                            <small class="text-danger"
                                              v-show="errors.has('select2_specialty')">
                                              {{ errors.first('select2_specialty') }}
                                            </small>
                                        </div>    
                                    </div> 
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Doctor</label>
                                            <vue-select class="vue-select2" name="select2_doc"
                                                    id="selectedDoctor"
                                                    v-model="selectedDoctor"
                                                    :options="doctors" 
                                                    :searchable="true"
                                                    language="en-US"
                                                    placeholder="Select Doctor"
                                                    v-validate="'required'"
                                                    data-vv-as="doctor"
                                                    v-on:input="getAvailCalendar"
                                                    >
                                            </vue-select>
                                            <small class="text-danger"
                                              v-show="errors.has('select2_doc')">
                                              {{ errors.first('select2_doc') }}
                                            </small>
                                        </div>    
                                    </div>
                                </div>    
                                <appointmentCalendar></appointmentCalendar>               
                                
                                 <div class="row m-t-10">
                                     <div class="col-lg-6">
                                        <div class="form-group form-group-default required disabled">
                                            <label class="text-primary bold">Date Time</label>
                                            <div class="controls">
                                              <input type="text" class="form-control" name="date_time" placeholder="2018-12-01 09:00:00"
                                              data-vv-as="date time"
                                              v-model="appointment.date_time"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('date_time')">
                                              {{ errors.first('date_time') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>    
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="saveForm()">Create <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>

<script>
    import appointmentCalendar from './AppointmentCalendar.vue'
    export default {
        components : {
            appointmentCalendar
        },
        mounted() {
            var app = this;
            axios.get(app.$apiUrl+'specialties?limit=0')
                .then(function (resp) {
                    app.specialties = resp.data.data.data;
                    if (app.specialties.length > 0) {
                        var specialtiesOptionsArr =  [];
                        $(app.specialties).each(function(ind, ele) {
                            var specialtiesOptions = {};
                            specialtiesOptions.label = ele.name;
                            specialtiesOptions.value = ele.id;
                            specialtiesOptionsArr.push(specialtiesOptions);
                        });
                    }
                    app.specialties = specialtiesOptionsArr;
                   
                })
                .catch(function () {
                });
            axios.get(app.$apiUrl+'doctors?limit=0')
                .then(function (resp) {
                    app.doctors = resp.data.data.data;
                    if (app.doctors.length > 0) {
                        var doctorsOptionsArr =  [];
                        $(app.doctors).each(function(ind, ele) {
                            var doctorsOptions = {};
                            doctorsOptions.label = ele.user.full_name;
                            doctorsOptions.value = ele.id;
                            doctorsOptionsArr.push(doctorsOptions);
                        });
                    }
                    app.doctors = doctorsOptionsArr;
                   
                })
                .catch(function () {
                }); 

            EventBus.$on('selectedDateTime', (date_time)=> {
                    app.appointment.date_time = date_time;
            });         
        },
        data: function () {
            return {
                appointment: {
                    specialty_id: '',
                    doctor_id: '',
                    date_time : '',
                },
                specialties: [],
                doctors: [],
                selectedSpecialty: '',
                selectedDoctor: '',
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newAppointment = app.appointment;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.post(app.$apiUrl+'appointment', newAppointment)
                            .then(function (resp) {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                                app.$router.replace('/appointments');
                            })
                            .catch(function (resp) {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                            });
                    }        
                })   
            },
            getAvailCalendar() {
                var app = this;
                app.appointment.doctor_id = app.selectedDoctor.value;
                app.appointment.specialty_id = app.selectedSpecialty.value;
                EventBus.$emit('showAvailibiltyCalendar',app.appointment);
            },
            setSpecialty() {
                var app = this;
                app.appointment.specialty_id = app.selectedSpecialty.value;
            }
        }
    }
</script>
