
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form id="fee_form" onsubmit="return false;" autocomplete="off">
                                <h2>Appointment Durations
                                  <router-link to="/specialties" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="row p-t-4">
                                  <div class="alert col-lg-6 offset-md-3 text-center" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                   </div>
                                   <div class="col-lg-4 offset-md-4">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Initial assessment</label>
                                            <div class="input-group">
                                                
                                                <input type="text" class="form-control" name="initial_assessment" 
                                                      v-model="appointment_duration.initial_assessment"
                                                      v-validate="'required|numeric'"
                                                      data-vv-as="initial assessment">
                                                <span class="input-group-addon primary">
                                                    minutes
                                                </span>      
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('initial_assessment')">
                                              {{ errors.first('initial_assessment') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>   
                                  
                                <div class="row">
                                   <div class="col-lg-4 offset-md-4">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Follow up assessment - type 1</label>
                                            <div class="input-group">
                                               
                                              <input type="text" class="form-control" name="follow_up_assessment_type_1" 
                                              v-model="appointment_duration.follow_up_assessment_type_1"
                                              v-validate="'required|numeric'"
                                              data-vv-as="Follow up assessment - type 1">
                                              <span class="input-group-addon primary">
                                                    minutes
                                                </span>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('follow_up_assessment_type_1')">
                                              {{ errors.first('follow_up_assessment_type_1') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                   <div class="col-lg-4 offset-md-4">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Follow up assessment - type 2</label>
                                            <div class="input-group">
                                               
                                              <input type="text" class="form-control" name="follow_up_assessment_type_2" 
                                              v-model="appointment_duration.follow_up_assessment_type_2"
                                              v-validate="'required|numeric'"
                                              data-vv-as="Follow up assessment - type 2">
                                               <span class="input-group-addon primary">
                                                    minutes
                                                </span>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('follow_up_assessment_type_2')">
                                              {{ errors.first('follow_up_assessment_type_2') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                   <div class="col-lg-4 offset-md-4">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Telephone advice</label>
                                            <div class="input-group">
                                              <input type="text" class="form-control" name="telephone_advice" 
                                              v-model="appointment_duration.telephone_advice"
                                              v-validate="'required|numeric'"
                                              data-vv-as="telephone advice">
                                               <span class="input-group-addon primary">
                                                    minutes
                                                </span>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('telephone_advice')">
                                              {{ errors.first('telephone_advice') }}
                                            </small>  
                                        </div>
                                    </div>
                                   
                                </div>
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="saveForm()">Save <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>
<script>
    export default {
        components: {
        },
        mounted() {
            var app = this;
            app.specialty_id = app.$route.params.id; 
            app.getDuration();
        },
        data: function () {
            return {
                specialty_id : null,
                appointment_duration: {
                        initial_assessment : '',
                        follow_up_assessment_type_1 : '',
                        follow_up_assessment_type_2 : '',
                        telephone_advice : '',
                   
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
         methods: {
            getDuration : function() {
                var app = this;
                var obj = {};
               axios.get(app.$apiUrl+'appointments/durations?specialty_id='+app.specialty_id)
                  .then(function (resp) {
                      if (resp.data.data.data != '') {
                        app.appointment_duration = resp.data.data.data;
                      } else {
                        app.appointment_duration.initial_assessment = '';
                        app.appointment_duration.follow_up_assessment_type_1 = '';
                        app.appointment_duration.follow_up_assessment_type_2 = '';
                        app.appointment_duration.telephone_advice = '';
                      }
                     
                  })
                  .catch(function () {
                  });
            },
            saveForm:function() {
                var app = this;
                var newAppointmentDuration = {};
                newAppointmentDuration.specialty_id = app.specialty_id;
                newAppointmentDuration.duration = app.appointment_duration;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.put(app.$apiUrl+'appointment-durations', newAppointmentDuration)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.message;
                                if(jsonResponse != '')
                                {
                                  app.alertMsg = jsonResponse;          
                                }
                            });
                    }
                })    
            },
        }    
    }
</script>        
