
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2>Appointment Reminder Scheduler <i v-show="isPageLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner f-z-20" aria-hidden="true"></i>
                                </h2>
                                <div class="row p-t-4">
                                   <div class="alert col-lg-6 offset-md-3 text-center" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                          
                                        </div>
                                   <div class="col-lg-6 offset-md-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Select Reminder Period</label>
                                            <vue-select multiple :options="appointment_reminder_options" v-model="selected" name="reminder_period"
                                            v-validate="'required'"
                                            data-vv-as="appointment reminder period"></vue-select>
                                            <small class="text-danger"
                                              v-show="errors.has('reminder_period')">
                                              {{ errors.first('reminder_period') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>
                               
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="saveForm()">Save <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>
<script>
    export default {
        components: {
        },
        mounted() {
            var app = this;
            app.isPageLoading = true;
            axios.get(app.$apiUrl+'appointments/reminders')
                  .then(function (resp) {
                      app.isPageLoading = false;
                      app.selected = resp.data.data;
                  })
                  .catch(function () {
                    app.isPageLoading = false;
                  });
        },
        data: function () {
            return {
                appointment_reminder_options: ['1 Month','2 Months', '3 Months','4 Months','5 Months','6 Months','7 Months','8 Months','9 Months','10 Months','11 Months','12 Months'],
                selected: [],
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                isPageLoading : false,
            }
        },
         methods: {
            saveForm:function() {
                var app = this;
                var newAppointmentReminder = app.selected;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.put(app.$apiUrl+'appointment/reminders', newAppointmentReminder)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.message;
                                if(jsonResponse != '')
                                {
                                  app.alertMsg = jsonResponse;          
                                }
                            });
                    }
                })    
            },
        }    
    }
</script>        
