
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form id="fee_form" onsubmit="return false;" autocomplete="off">
                                <h2>Appointment Fee
                                </h2>
                                <div class="row p-t-4">
                                  <div class="alert col-lg-6 offset-md-3 text-center" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                   </div>
                                   <div class="col-lg-6 offset-md-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Specialty</label>
                                            <select v-model="specialty_id" class="form-control" placeholder="Select Specialty" name="specialty" @change="getFee()">
                                                <option value=''>Select Specialty</option>
                                                 <option v-for="specialty in specialties" :value="specialty.id">{{specialty.name}}</option>
                                             </select>
                                            <small class="text-danger"
                                              v-show="errors.has('specialty')">
                                              {{ errors.first('specialty') }}
                                            </small>  
                                        </div>
                                    </div>
                                     <!-- <div class="col-lg-3 offset-md-3">
                                     </div> -->
                                   <div class="col-lg-3 offset-md-3">
                                    <h3>Member</h3>
                                        <div class="form-group required">
                                            <label class="text-primary bold">Initial assessment</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                                <input type="text" class="form-control" name="initial_assessment_member_fee" 
                                                      v-model="appointment_fee.initial_assessment.member"
                                                      v-validate="'required|numeric'"
                                                      data-vv-as="initial assessment member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('initial_assessment_member_fee')">
                                              {{ errors.first('initial_assessment_member_fee') }}
                                            </small>  
                                        </div>
                                    </div>
                                   
                                   <div class="col-lg-3">
                                     <h3>Non Member</h3>
                                        <div class="form-group required">
                                            <label class="text-primary bold">Initial assessment</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                              <input type="text" class="form-control" name="initial_assessment_non_member_fee" 
                                              v-model="appointment_fee.initial_assessment.non_member"
                                              v-validate="'required|numeric'"
                                              data-vv-as="initial assessment non member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('initial_assessment_non_member_fee')">
                                              {{ errors.first('initial_assessment_non_member_fee') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-lg-3 offset-md-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Follow up assessment - type 1</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                              <input type="text" class="form-control" name="follow_up_assessment_type_1_member" 
                                              v-model="appointment_fee.follow_up_assessment_type_1.member"
                                              v-validate="'required|numeric'"
                                              data-vv-as="Follow up assessment - type 1 member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('follow_up_assessment_type_1_member')">
                                              {{ errors.first('follow_up_assessment_type_1_member') }}
                                            </small>  
                                        </div>
                                    </div>
                                   
                                   <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Follow up assessment - type 1</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                              <input type="text" class="form-control" name="follow_up_assessment_type_1_non_member" 
                                              v-model="appointment_fee.follow_up_assessment_type_1.non_member"
                                              v-validate="'required|numeric'"
                                              data-vv-as="Follow up assessment - type 1 non member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('follow_up_assessment_type_1_non_member')">
                                              {{ errors.first('follow_up_assessment_type_1_non_member') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-lg-3 offset-md-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Follow up assessment - type 2</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                              <input type="text" class="form-control" name="follow_up_assessment_type_2_member" 
                                              v-model="appointment_fee.follow_up_assessment_type_2.member"
                                              v-validate="'required|numeric'"
                                              data-vv-as="Follow up assessment - type 2 member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('follow_up_assessment_type_2_member')">
                                              {{ errors.first('follow_up_assessment_type_2_member') }}
                                            </small>  
                                        </div>
                                    </div>
                                   
                                   <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Follow up assessment - type 2</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                              <input type="text" class="form-control" name="follow_up_assessment_type_2_non_member" 
                                              v-model="appointment_fee.follow_up_assessment_type_2.non_member"
                                              v-validate="'required|numeric'"
                                              data-vv-as="Follow up assessment - type 2 non member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('follow_up_assessment_type_2_non_member')">
                                              {{ errors.first('follow_up_assessment_type_2_non_member') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                   <div class="col-lg-3 offset-md-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Telephone advice</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                              <input type="text" class="form-control" name="telephone_advice_member" 
                                              v-model="appointment_fee.telephone_advice.member"
                                              v-validate="'required|numeric'"
                                              data-vv-as="telephone advice member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('telephone_advice_member')">
                                              {{ errors.first('telephone_advice_member') }}
                                            </small>  
                                        </div>
                                    </div>
                                   
                                   <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Telephone advice</label>
                                            <div class="input-group">
                                                <span class="input-group-addon primary">
                                                    £
                                                </span>
                                              <input type="text" class="form-control" name="telephone_advice_non_member" 
                                              v-model="appointment_fee.telephone_advice.non_member"
                                              v-validate="'required|numeric'"
                                              data-vv-as="telephone advice non member fee">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('telephone_advice_non_member')">
                                              {{ errors.first('telephone_advice_non_member') }}
                                            </small>  
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="saveForm()">Save <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>
<script>
    export default {
        components: {
        },
        mounted() {
            var app = this;
           

                  axios.get(app.$apiUrl+'specialties?limit=0')
                  .then(function (resp) {
                      app.specialties = resp.data.data.data;
                  })
                  .catch(function () {
                  }); 
        },
        data: function () {
            return {
                specialties: [],
                specialty_id : '',
                appointment_fee: {
                        initial_assessment : {
                        member : '',
                        non_member : '',
                      },
                      follow_up_assessment_type_1 : {
                          member : '',
                          non_member : '',
                      },
                      follow_up_assessment_type_2 : {
                          member : '',
                          non_member : '',
                      },
                      telephone_advice : {
                          member : '',
                          non_member : '',
                      },
                   
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
         methods: {
            getFee : function() {
                var app = this;
                var obj = {};
               axios.get(app.$apiUrl+'appointments/fee?specialty_id='+app.specialty_id)
                  .then(function (resp) {
                      if (resp.data.data.data != '') {
                        app.appointment_fee = resp.data.data.data;
                      } else {
                        app.appointment_fee.initial_assessment.member = '';
                        app.appointment_fee.initial_assessment.non_member = '';
                        app.appointment_fee.follow_up_assessment_type_1.member = '';
                        app.appointment_fee.follow_up_assessment_type_1.non_member = '';
                        app.appointment_fee.follow_up_assessment_type_2.member = '';
                        app.appointment_fee.follow_up_assessment_type_2.non_member = '';
                        app.appointment_fee.telephone_advice.member = '';
                        app.appointment_fee.telephone_advice.non_member = '';
                      }
                     
                  })
                  .catch(function () {
                  });
            },
            saveForm:function() {
                var app = this;
                var newAppointmentFee = {};
                newAppointmentFee.specialty_id = app.specialty_id;
                newAppointmentFee.fee = app.appointment_fee;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.put(app.$apiUrl+'appointment/fee', newAppointmentFee)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.message;
                                if(jsonResponse != '')
                                {
                                  app.alertMsg = jsonResponse;          
                                }
                            });
                    }
                })    
            },
        }    
    }
</script>        
