<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Appointments ({{totalAppointments}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>
                            <div class="row">
                              <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Type</label> 
                                <select v-model="appointment.filter_by_type" class="form-control" placeholder="Filter By Type">
                                     <option value="">All</option>
                                     <option value="1">Initial assessment</option>
                                     <option value="2">Follow up assessment - type 1</option>
                                     <option value="3">Follow up assessment - type 2</option>
                                     <option value="4">Telephone advice</option>
                                 </select>
                              </div>
                              <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Specialty</label> 
                                <select v-model="appointment.filter_by_specialty_id" class="form-control" placeholder="Filter By Specialty">
                                     <option value="">All</option>
                                     <option v-for="specialty in specialties" :value="specialty.id">{{specialty.name}}</option>
                                 </select>
                              </div>
                              <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Doctor</label> 
                                <select v-model="appointment.filter_by_doctor_id" class="form-control" placeholder="Filter By Doctor">
                                     <option value="">All</option>
                                     <option v-for="doctor in doctors" :value="doctor.id">{{doctor.user.full_name}}</option>
                                 </select>
                              </div>
                              <div class="form-group  pull-right col-sm-3">
                                  <label>Filter By Active/Archived</label> 
                                  <select v-model="appointment.filter_by_is_archived" class="form-control" placeholder="Filter By Active/Archived">
                                       <option value="0">Active</option>
                                       <option value="1">Archived</option>
                                   </select>
                                </div>
                              <div class="form-group  pull-right col-sm-3">
                                  <label>Filter By Status</label> 
                                  <select v-model="appointment.filter_by_status" class="form-control" placeholder="Filter By Status">
                                        <option value="">All</option>
                                       <option value="booked">Booked</option>
                                       <option value="cancelled">Cancelled</option>
                                       <option value="completed">Completed</option>
                                   </select>
                                </div>   
                              <!-- <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Date</label> 
                               <date-picker v-model="appointment.filter_by_date" lang="en"></date-picker>
                              </div> -->
                               <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Patient Type</label> 
                                <select v-model="appointment.filter_by_is_member" class="form-control" placeholder="Filter By Patient Type">
                                      <option value="">All</option>
                                     <option value="1">Membership</option>
                                     <option value="0">Non Membership</option>
                                 </select>
                              </div>
                              <div class="form-group  pull-right col-sm-4">
                                <label>Filter By Date Range</label> 
                               <date-picker v-model="appointment.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY" type="date"></date-picker>
                              </div> 
                              
                              <div class="pull-right col-md-2">
                                <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                              </div>  
                            </div> 

                           <!--  <div style="float: right;">
                                <router-link :to="{name: 'AppointmentCreate'}" class="btn btn-applyplus btn-cons">Add Appointment</router-link>
                            </div> -->

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="appointments.length > 0">  
                                        <tr v-for="appointment, index in appointments" >
                                            <td>{{ appointment.id }}</td>
                                            <td>{{ appointment.appointment_type.name }}</td>
                                            <!-- <td width="20%">{{ appointment.date_time | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td> -->
                                            <td width="20%">{{ appointment.date_time | moment("DD-MM-YYYY h:mm:ss a") }}</td>
                                            <td>{{ appointment.doctor.specialty.name }}</td>
                                            <td><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="appointment.doctor.profile_pic_path" alt="" :data-src="appointment.doctor.profile_pic_path" :data-src-retina="appointment.doctor.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ appointment.doctor.user.full_name }}</span></td>
                                            <td><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="appointment.patient.profile_pic_path" alt="" :data-src="appointment.patient.profile_pic_path" :data-src-retina="appointment.patient.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ appointment.patient.user.full_name }}</span></td>
                                          <td>{{ appointment.status }}</td>
                                            <td width="15%">
                                                <a href="#archiveRestoreModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs" :class="(appointment.is_archived == 0) ? 'btn-danger' : 'btn-info'"
                                                   @click="setRecordObj(appointment.id, index, appointment.is_archived)" :title="(appointment.is_archived == 0) ? 'Archive' : 'Restore'">
                                                    <i class="fa" :class="(appointment.is_archived == 0) ? 'fa-archive' : 'fa-undo'" aria-hidden="true"></i>
                                                </a>
                                                <router-link :to="{name: 'AppointmentEdit', params: {id: appointment.id, specialty_id: appointment.specialty_id}}" class="btn btn-xs btn-complete" title="Change Doctor Facility" v-if="appointment.status == 'booked'">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </router-link>
                                                <a  v-if="appointment.is_archived == 1" href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="setRecordObj(appointment.id, index)">
                                                    <i class="fa fa-trash" title="Delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getAppointments"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
         <archive-restore-modal :id="id" :module="module" :action="archiveStatus" @actionPerformed="refreshList"></archive-restore-modal>
    </div>

</template>

<script>
    import DatePicker from 'vue2-datepicker'
    export default {
        components: {
            DatePicker
        },
        mounted() {
            var app = this;
            app.getAppointments(1);
            axios.get(app.$apiUrl+'doctors?limit=0')
                .then(function (resp) {
                    app.doctors = resp.data.data.data;
                })
                .catch(function () {
                });
            axios.get(app.$apiUrl+'specialties?limit=0')
                .then(function (resp) {
                    app.specialties = resp.data.data.data;
                })
                .catch(function () {
                });    
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Type", "Date Time","Specialty", "Doctor", "Patient","Status", 'Action'],
                appointments: [],
                doctors: [],
                specialties: [],
                id: null,
                index:null,
                module:'appointment',
                pageCount: 0,
                totalAppointments:0,
                search_spinner:false,
                archiveStatus:null,
                appointment: {
                    filter_by_is_archived :'0',
                    filter_by_doctor_id: '',
                    filter_by_specialty_id: '',
                    filter_by_type: '',
                    filter_by_status: '',
                    filter_by_date: '',
                    filter_by_is_member: '',
                    filter_by_date_range: '',
                    order_by_field: 'date_time',
                },
                shortcuts: [
                    {
                      text: 'Previous 7 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Previous 30 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Next 7 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
                      }
                    },
                    {
                      text: 'Next 30 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
                      }
                    },
                ],

            }
        },
        methods: {
            getAppointments:function(page) {
                var app = this;
                app.appointment.page = page || 1;
                app.appointment.limit = 10;
                if (app.appointment.filter_by_date_range != '') {
                  if (app.appointment.filter_by_date_range[0] != null) {
                    app.appointment.filter_by_date_range[0] = this.$moment(app.appointment.filter_by_date_range[0]).format('YYYY-MM-DD');
                  } 

                  if (app.appointment.filter_by_date_range[1] != null) {
                    app.appointment.filter_by_date_range[1] = this.$moment(app.appointment.filter_by_date_range[1]).format('YYYY-MM-DD');
                  } 
                  
                }
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'appointments',
                    params: app.appointment
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.totalAppointments = resp.data.data.pagination.total;
                    app.appointments = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                    app.search_spinner = false;
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.appointments = [];  
                    app.pageCount = 0;
                    app.totalAppointments = 0;
                    app.search_spinner = false;
                });
            },
            setRecordObj:function(id, index, archiveStatus)
            {
                var app = this;
                app.id = id;
                app.index = index;
                if (archiveStatus != null) {
                    if (archiveStatus == '0')
                        app.archiveStatus = 'archive';
                    else
                        app.archiveStatus = 'restore';
                }
            },
            refreshList(){
                this.appointment.filter_by_is_archived = 0;
                this.getAppointments(1);
            }, 
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getAppointments(1);
            }   
        }
    }
</script>
