
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2>  {{ type }} Policy
                                    <router-link to="/policies" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Name</label>
                                            <div class="controls">
                                              <input type="text" class="form-control input-xl"
                                              name="name" 
                                              placeholder="Name of Policy" 
                                              v-model="policy.name"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('name')">
                                              {{ errors.first('name') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  m-t-10">
                                        <div class="form-group required">
                                            <label class="text-primary bold no-margin">Date of Policy </label>
                                            <div class="controls">
                                                 <date-picker v-model="policy.date" lang="en" v-validate="'required'" name="date" placeholder="Select Date" data-vv-as="date of policy" format="DD-MM-YYYY" type="date"></date-picker>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('date')">
                                              {{ errors.first('date') }}
                                            </small>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group required">
                                           
                                            <!-- <label class="text-primary bold" for="files1" >Document </label>
                                            <ul class="list-unstyled">
                                                <li v-for="file in files1">
                                                  <span>{{file.name}} <i @click="removeFile(files2,index)" class="fa fa-times-circle" aria-hidden="true"></i></span>
                                                  <span v-if="file.error" class="text-danger text-small">  - {{file.error}}</span>
                                                  <span v-else-if="file.success" class="text-success text-small">  - success</span>
                                                  <span v-else></span>
                                                </li>
                                          </ul>
                                            
                                          <file-upload
                                            v-model="files1"
                                            input-id="files1"
                                            :post-action="$apiUrl+'media/upload'"
                                            :accept="$accept"
                                            :extensions="$extensions"
                                            @input-file="inputFile"
                                            @input-filter="inputFilter"
                                            ref="upload1"
                                            class="btn btn-complete col-md-12">
                                            <i class="fa fa-upload"></i> 
                                            Upload file
                                          </file-upload> -->
                                          <image-upload-component 
                                          input_id="file1"
                                          refUpload="upload1"
                                          label="Document"
                                          button_text="Upload Document"
                                          type="attachments"
                                          :fileArray="files1"
                                          :is_multiple="false"
                                          :is_preview="false"
                                          :accept="$accept"
                                          :extensions="$extensions"
                                          :maximum="1"
                                          :inputArray="policy.document"
                                          :is_multidimensional_array="false"
                                          @fileAdded="setUploadedDoc"
                                          @fileRemoved="setUploadedDoc">   
                                          </image-upload-component>
                                        </div>    
                                    </div>
                                </div>   
                                <hr>
                                <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons"  @click="saveForm()">{{ buttonText }} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    import DatePicker from 'vue2-datepicker'
    export default {
        components: {
            DatePicker
        },
        mounted() {
            let app = this;
            if (app.$route.name == 'PolicyCreate') {
                app.type = 'Add';
                app.buttonText = 'Create';
            } else if (app.$route.name == 'PolicyEdit') {
                app.type = 'Edit';
                app.buttonText = 'Update';
                let id = app.$route.params.id;
                app.policyId = id;
                axios.get(app.$apiUrl+'policy/' + id)
                .then(function (resp) {
                    app.policy = resp.data.data;
                    if (app.policy.document != null) {
                        app.files1.push({'name' : app.policy.document, 'error' : ''});
                    }
                })
                .catch(function () {
                });
            }
           
        },
        data: function () {
            return {
                policyId: null,
                policy: {
                    name: '',
                    date: '',
                    document: '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                files1 : [],
                type : '',
                buttonText : '',
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newpolicy = app.policy;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        if (app.policy.date != '' && app.policy.date != null) {
                          app.policy.date = this.$moment(app.policy.date).format('YYYY-MM-DD');
                        }
                        app.isLoading = true;
                        if (app.policyId == null) {
                          var url = app.$apiUrl+'policy';
                          var method = 'post';
                        } else {
                          var url = app.$apiUrl+'policy/' + app.policyId;
                          var method = 'patch';
                        }
                        axios({
                          method: method,
                          url: url,
                          data:newpolicy
                        })
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/policies');
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += value;
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                    }        
                })
            },
            setUploadedDoc(file) {
                this.policy.document = file;
            }
        }
    }
</script>

<style scoped="">
    .input-xl {
        height: 30px !important;
    }
</style>
    
