<template>
  <span>
    <header-component></header-component>
	<div class="landing-banner inner-banner about-banner">
        <div class="middle-align">
          <div class="inner">
            <div class="max-wrapper">
                <h1 class="inner-banner-heading">CQC Report
                    </h1>
                    </div>              
                </div>
            </div>
        </div>
        <!-- steps section -->
        <div class="section static-pages">
            <div class="max-wrapper"> 

                <div class="col-md-12">
                  <h3>Regulator confirms class leading improvement for online provider Push Doctor</h3>
                  <hr>
                  <p class="mb-20">The CQC has released it’s latest report after a focussed, follow-up inspection at Push Doctor earlier in the year. The report recognises significant and continued improvement across the board and a ‘well led’ service. Working together the CQC and Push Doctor have also been able to recognise a set of further opportunities, many of which have already been implemented in the four months since the inspection and form part of Push Doctor’s commitment of continuous improvement.</p>
                  <p>Push Doctor’s strong ongoing relationship with the regulator has helped it maintain a class leading service and in it’s overall mission to enable happier longer lives.</p>
                  <h3>Commenting on the latest published CQC Inspection Report, Wais Shaifta, CEO of Push Doctor, said:</h3>
                  <hr> 
                  <p>“We are proud that this latest report acknowledges our continued and significant improvement. This is testament to the strength of our relationship with the regulator and our willingness to collaborate with the CQC and take on board the feedback it offers. The report confirms a well-led service and one taking great strides to protect patients, while also remaining at the forefront of innovation.</p> 
                  <p>“Antibiotic prescription rates remain a focus for us, as they do for any digital and traditional surgery across the country. We are committed to driving improvements in this area and have implemented a series of measures including additional training, increased monitoring and guidance to ensure this, something we look forward to demonstrating the impact of in our next report.”</p>
                  <p>Push Doctor also recently appointed a new Chief Medical Officer, Dan Bunstone, to further strengthen its clinical governance. Dr Bunstone said:</p>  
                  <p>‘Having joined the team in May we’ve been working hard to optimise how digital can not only provide a better more accessible experience for patients, but to innovate as to how digital and in particular data can supplement traditional processes to ensure increased safety and effectiveness in areas like antibiotic prescribing. We appreciate the recognition from the regulator to date and in the four months since the inspection, we have already implemented a new regime of improvements to ensure further Patient safety, GP development and education, and a robust investigation process’.</p>   
                  <h3>CQC Report highlights</h3>
                  <hr>
                  <ul>
                    <li>“The provider had addressed the majority of concerns raised during the previous inspections. Some improvement was still ongoing but we felt assured that work undertaken to date and planned second cycle audits would lead to an improvement in patient care or outcomes as a result.”</li>
                    <li>“The provider had further improved and strengthened their governance arrangements. This had included the appointment of a chief medical officer whose role would include improving links between the medical team and senior leadership team to ensure clinical oversight as well as monitoring GP performance.”</li>
                    <li>“Prescribing protocols had been improved to ensure patients were being given sufficient information when medicines were prescribed outside their licensed use.”</li>
                  </ul>                             
                  <h3>Push Doctor Background</h3>
                  <hr>
                  <ul>
                    <li>Push Doctor is a digital health provider and was the UK’s first platform to offer video consultations with patients online and via smartphone.</li>
                    <li>It connects thousands of patients each week with a UK GP, with appointments available in just minutes.</li>
                    <li>The service treated over 1,000 different condition types last year including a wide range of infections, gastric, respiratory and mental health conditions. 9 out of 10 people got the help they needed first time.</li>
                    <li>Push Doctor continues to evolve to encompass a broader range of medical conditions, health, wellness and lifestyle products / services as it treats the nation, with the core goal of enabling its customers to live happier, longer lives.</li>
                    <li>The latest CQC inspection was carried out on the 26thApril 2018  as a limited focussed inspection. In the period since Push Doctor has continued to make improvements to its service and is confident that it has already made significant progress in the few areas recognised as opportunities for further improvements. </li>
                    <li>Since the beginning of the year Push Doctor has also formed a high level advisory board including former MPs, GB athletes and high profile members of the NHS. This strategy and governance group is led by Ed Smith, the former chairman of NHS Improvement.</li>
                  </ul>
            </div>
            <div class="clearfix"></div>   
        </div>
    </div>
   <footer-component></footer-component>
  </span>  
</template>
<script type="text/javascript">
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
    }    
</script>