<template>
	<span>
    <header-component></header-component>
		<div class="landing-banner download-app-banner">
			<ul>
				<li>
					<div class="banner-content">
						<div class="middle-align">
							<div class="inner">
								<div class="max-wrapper">
									<div class="th-slidercontent">
										<h1> Welcome to the  <span>Happy Clinic App</span></h1>
										<div class="th-description">
											<p>Do you have problems with your sleep? Do you feel tired? Do you find it difficult to concentrate on your studies or work? Do you find it difficult to socialise? Do you get flashbacks of past traumatic events? Are there any strange experiences or any other mental health problem causing difficulties? <strong>If yes</strong>,<br><strong>  we can help you.</strong></p>
										</div>
									</div>
									<div class="download-app-mobile">
										<img :src="$imageUrl+'download-app/moible.png'">
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
    <!-- steps section -->
    <div class="section">
        <div class="max-wrapper mobile-app-features-points price-list">
						<ul class="list-unstyled">
							<li><strong>Book an appointment:</strong>Lorem ipsum dolor sit amet,  elit. Rem autem voluptatem obcaecati!</li>
							<li><strong>See a psychiatrist Online:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing consectetur adipisicing elit. Rem autem voluptatem obcaecati!</li>
							<li><strong>Confidential and Secret:</strong>Lorem ipsum dolor sit amet,  voluptatem obcaecati!</li>
							<li><strong>Secure, Encrypted Video:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</li>
							<li><strong>Repeat Blood Test Services:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati! consectetur adipisicing elit. Rem autem voluptatem obcaecati!</li>
							<li><strong>CQC Regulated:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</li>
						</ul>
						<router-link :to="{ name: 'DownloadPage'}" id="btnAdd" class="btn btn-md btn-primary book-appointment-btn" style="display: none;">
							<span>Download</span>
						</router-link>
        </div>
    </div>

	<footer-component></footer-component>
    </span>
</template>
<script type="text/javascript">
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },

        mounted () {
			var app = this;
	       // var btnAdd = document.getElementById("btnAdd");
	        window.addEventListener('beforeinstallprompt', (e) => {
	          // Prevent Chrome 67 and earlier from automatically showing the prompt
	          e.preventDefault();
	          // Stash the event so it can be triggered later.
	          app.deferredPrompt = e;
	          // Update UI notify the user they can add to home screen

	          //btnAdd.style.display = 'block';
	          $('#btnAdd').show();
	          e.prompt();
	        });

	        $('#btnAdd').click( function(e) {

	          $('#btnAdd').hide();
	          //let deferredPrompt;
	           console.log(app.deferredPrompt);
	            // Show the prompt
	            app.deferredPrompt.prompt();
	            // Wait for the user to respond to the prompt
	            app.deferredPrompt.userChoice
	              .then((choiceResult) => {
	                if (choiceResult.outcome === 'accepted') {
	                	$(this).hide();
	                  console.log('User accepted the A2HS prompt');
	                } else {
	                  console.log('User dismissed the A2HS prompt');
	                }
	                app.deferredPrompt = null;
	              });
	         });
		},
		data : function () {
			return {
				deferredPrompt : null,
			}
		}
    }
</script>
