<template>
	<span>
        <header-component></header-component>
		<div class="landing-banner inner-banner faq-banner">
        <div class="middle-align">
          <div class="inner">
            <div class="max-wrapper">
                <h1 class="inner-banner-heading">FAQ
                </h1>

            </div>              
          </div>
        </div>
    </div>
    <!-- steps section -->
    <div class="section">
        <div class="max-wrapper">
         <h2 class="section-heading text-center">Need Some  <span>Help?</span></h2>
            <p class="section-heading-detail center-heading">Just click on one of the sections below to find the answer... If you still can't find an answer to your question, please give our Customer Service guys a call on 123646689 or drop us an email at <a href="javascript:;">info@happyclinic.co.uk</a></p>
            <hr>
            <br><br>
            <!-- <div class="faq-sec-heading">
                <h2 class="inner-section-heading">Register</h2>            
            </div> -->
            <dl class="accordion">
                <dt>
                    <a href="javascript:;"> What are the benefits of Telepsychiatry
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd><ul>
                    <li><i class="icon-check"></i> You do not have to leave home to see a psychiatrist. </li>
                    <li><i class="icon-check"></i> You are seen at your convenience (evenings and weekends)  </li>
                    <li><i class="icon-check"></i> There is no time wasted for travelling to a hospital to see a psychiatrist. </li>
                    <li><i class="icon-check"></i> Less stress on carers, friends and family members as they do not have to accompany you to hospital. </li>
                    <li><i class="icon-check"></i> Telepsychiatry service is usually cheaper than the service provided by most private hospitals. </li>
                    <li><i class="icon-check"></i> As you do not have to sit in a lobby of a NHS or private hospital, there is much less risk of someone you know seeing you and thus breaking your confidentiality. It also eliminates the risk of you being assaulted or attacked by an unstable patient in a hospital lobby. You are also less prone to get contagious infections as you are not seen in a hospital. </li>
                    <li><i class="icon-check"></i> Telepsychiatry is also cost effective and good for the environment. </li>
                    </ul>
                </dd>


                <dt>
                    <a href="javascript:;"> How is the video call initiated?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>Be prepared when your appointment is due. Your psychiatrist will send you a link for the video call via email and SMS text message when he/she is ready to start the assessment. You can decide which device you want to use for the video call. For example, if you click the video calling email link on your laptop, you can see the doctor on the laptop. If you click the email or SMS link on your smartphone, then your phone becomes the device for the video call. So easy! </dd>

                <dt>
                    <a href="javascript:;"> Do I need to be logged in to Happy Clinic (www.happyclinic.co.uk) for the video call?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>There is absolutely no need for that as video calling is totally independent of your logged in status. So even if you forget your Happy Clinic login password, there is no need to worry.</dd>

                <dt>
                    <a href="javascript:;"> What will I do if the video call gets accidentally disconnected during the assessment?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>No need to worry. Just click the SMS or email link and you are reconnected.</dd>

                <dt>
                    <a href="javascript:;"> Please can you tell me more about Happy Clinic doctors?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>All of our doctors are GMC-registered consultant psychiatrists with NHS- training and experience. We will carefully vet all doctors before they are allowed to see patients on Happy Clinic so that you receive the best possible care. </dd>
                <dt>
                    <a href="javascript:;"> How is it possible for a psychiatrist to treat me online?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>Unlike other specialities of medicine there is no need to touch patients to diagnose or treat in psychiatry. So this is the most ideal specialty for online consultation. </dd>
                <dt>
                    <a href="javascript:;"> How do I receive a prescription?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>Your prescription will be posted via 1st class Royal mail on the day of appointment or on the following day to a pharmacy chosen by you. Usually the pharmacy will notify you when they receive the prescription. Otherwise please contact the pharmacy 48 hours after your appointment.<br><br>
                We will soon be adding the feature to email prescriptions to pharmacy on the same day as the appointment, in which case you will be able to collect the medication from the pharmacy within 30 minutes.   </dd>
                 <dt>
                    <a href="javascript:;"> What are the conditions you treat?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>We treat a variety of conditions. For the full list please click <router-link :to="{ name: 'what-we-treat'}">here</router-link> </dd>
                <dt>
                    <a href="javascript:;"> What are the conditions you do not treat?
                    <i class="icon-plus plus-minus"></i>    
                    <i class="icon-minus plus-minus"></i>    
                    </a>
                </dt>
                <dd>Yes. Not all conditions are suitable for online consultation and treatment. For the list of conditions we do not treat please click <router-link :to="{ name: 'what-we-treat'}">here</router-link></dd>

            </dl>     
            

        </div>
    </div>
    <footer-component></footer-component>
	</span>
</template>
<script>
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        data : function() {
          return {
          }
        },
        mounted () {
            $('.accordion dd').hide();
            $('.accordion dd:first').show();                                                     
            $('.accordion dt').click(function(){
                $('.accordion dd').hide();
                $(this).next().show();
            });
        },
    }
</script>