<template>
	<span>
    <header-component></header-component>
		<div class="landing-banner inner-banner about-banner">
        <div class="middle-align">
          <div class="inner">
            <div class="max-wrapper">
                <h1 class="inner-banner-heading">How It Works
                    </h1>
                    </div>              
                </div>
            </div>
        </div>
        <!-- steps section -->
        <div class="section">
            <div class="max-wrapper">
               <div class="appointment-panel howItsWorkLeft" >
                   
                   <a data-toggle="collapse" href="#question0" aria-expanded="true" aria-controls="question0" ><h2>What do you need to know?</h2></a>
                   <a  data-toggle="collapse" href="#question1" role="button" aria-expanded="false" aria-controls="question1"><p><i class="icon-check"></i> How is the video call started?</p></a>
                   <a data-toggle="collapse" href="#question2" role="button" aria-expanded="false" aria-controls="question2"><p><i class="icon-check"></i> Do I need to be logged in to Happy Clinic for the video call?</p></a>
                   <a data-toggle="collapse" href="#question3" role="button" aria-expanded="false" aria-controls="question3"><p><i class="icon-check"></i> What do I do if the video call gets disconnected during the assessment?</p></a>
                   <a data-toggle="collapse" href="#question4" role="button" aria-expanded="false" aria-controls="question4"><p><i class="icon-check"></i> Who are your doctors?</p></a>
                   <a data-toggle="collapse" href="#question5" role="button" aria-expanded="false" aria-controls="question5"><p><i class="icon-check"></i> How can a psychiatrist treat me online?</p></a>
                   <a data-toggle="collapse" href="#question6" role="button" aria-expanded="false" aria-controls="question6"><p><i class="icon-check"></i> How do I get a prescription?</p></a>
                   <a data-toggle="collapse" href="#question7" role="button" aria-expanded="false" aria-controls="question7"><p><i class="icon-check"></i> What conditions do you treat?</p></a>
                   <a data-toggle="collapse" href="#question8" role="button" aria-expanded="false" aria-controls="question8"><p><i class="icon-check"></i> Are there any conditions you do not treat?</p></a>
                   <router-link :to="{ name: 'BookAppointment'}"  class="btn btn-primary btn-block btn-md book-appointment-online-btn"> Book Appointment Online</router-link>   

               </div>  
               <div class="howItsWorkRight">
                   <div id="MVTContentBlock">
                      
                    <div class="col-md-12 accordion-group" id="myGroup">
                        <div class="collapse multi-collapse mb-50 show"  id="question0" data-parent="#myGroup">
                          <h2>Create an account first using your smartphone, tablet or laptop. We recommend using your smartphone. </h2>
                            <div class="section steps-section how-its-work-steps">
                              <ul>
                                  <li>
                                      <span><i class=""><img :src="$imageUrl+'icons/book-appointment-w.png'"></i> Book Appointment</span>
                                      <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p> -->
                                  </li>
                                  <li>
                                      <span><i><img :src="$imageUrl+'icons/doctor-online-w.png'"></i> See A Psychiatrist Online</span>
                                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p> -->
                                  </li>
                                  <li>
                                      <span><i><img :src="$imageUrl+'icons/recovery-w.png'"></i> Get treatment</span>
                                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p> -->
                                  </li>
                              </ul>   
                          </div>
                          <p class="mb-20">Just 3 simple steps after creating an account
                            <ul>
                              <li><i class="icon-check"></i> Book an appointment online using your smartphone, tablet or laptop</li>
                              <li><i class="icon-check"></i> See a psychiatrist using our inbuilt video calling application</li>
                              <li><i class="icon-check"></i> Get medical advice and treatment</li>
                            </ul>
                            </p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question1" data-parent="#myGroup">
                          <h3>How is the video call started?</h3>
                          <hr>
                          <p class="mb-20">Be prepared when your appointment is due. Your psychiatrist will send you a link for the video call via email and SMS text message when he/she is ready to start the assessment. You can decide which device you want to use for the video call. For example, if you click the video calling email link on your laptop, you can see the doctor on the laptop. If you click the email or SMS link on your smartphone, then your phone becomes the device for the video call. So easy!</p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question2" data-parent="#myGroup">
                          <h3>Do I need to be logged in to Happy Clinic for the video call?</h3>
                          <hr>
                          <p class="mb-20">There is absolutely no need for that as video calling is totally independent of your logged in status. So even if you forget your Happy Clinic login password, there is no need to worry.</p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question3" >
                          <h3>What do I do if the video call gets disconnected during the assessment?</h3>
                          <hr>
                          <p class="mb-20">No need to worry. Just click the SMS or email link and you are reconnected.</p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question4" >
                          <h3>Who are your doctors?</h3>
                          <hr>
                          <p class="mb-20">All of our doctors are GMC-registered consultant psychiatrists with NHS- training and experience. We will carefully vet all doctors before they are allowed to see patients on Happy Clinic. </p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question5" >
                          <h3>How can a psychiatrist treat me online?</h3>
                          <hr>
                          <p class="mb-20">All of our doctors are GMC-registered consultant Unlike other specialities of medicine there is no need to touch patients to diagnose or treat in psychiatry. So this is the most ideal specialty for online consultation. </p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question6" >
                          <h3>How do I get a prescription?</h3>
                          <hr>
                          <p class="mb-20">Your prescription will be posted via 1st class Royal mail on the day of appointment or on the following day to a pharmacy chosen by you. Usually the pharmacy will notify you when they receive the prescription. Otherwise please contact the pharmacy 48 hours after your appointment.<br><br>
                          We will soon be adding the feature to email prescriptions to pharmacy on the same day as the appointment, in which case you will be able to collect the medication from the pharmacy within 30 minutes. </p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question7" >
                          <h3>What conditions do you treat?</h3>
                          <hr>
                          <p class="mb-20">We treat a variety of conditions. For the full list please click <router-link :to="{ name: 'what-we-treat'}">here</router-link></p>
                      </div>
                      <div class="collapse multi-collapse mb-50" id="question8" >
                          <h3>Are there any conditions you do not treat?</h3>
                          <hr>
                          <p class="mb-20">Yes. Not all conditions are suitable for online consultation and treatment. For the list of conditions we do not treat please click here (Redirect to conditions we do not treat page)</p>
                      </div>
                  </div>
              </div>

          </div>
          <div class="clearfix"></div>   
      </div>
      </div>
      <!-- 
        <div class="section grey">
            <div class="max-wrapper">
              <div class="features-wrapper">
                  <div class="features-col-lt">
                      <img src="images/dummy/doctor-mobile.png" alt="iphone">
                  </div>
                  <div class="features-col-rt">
                    <ul>
                      <li>
                          <h4>Great Design</h4>
                          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quas omnis officiis veniam non laborum reprehenderit quae ratione blanditiis delectus facilis facere. </p>
                      </li>
                      <li>
                          <h4>Responsive Layout</h4>
                          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quas omnis officiis veniam non laborum reprehenderit quae ratione blanditiis delectus facilis facere. </p>
                      </li>
                      <li>
                          <h4>SEO Ready</h4>
                          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quas omnis officiis veniam non laborum reprehenderit quae ratione blanditiis delectus facilis facere. </p>
                      </li>
                  </ul>                
                  </div>
              </div>  
      </div>
      </div> -->
	 <footer-component></footer-component>
  </span>
</template>
<script type="text/javascript">
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        mounted() {
          var myGroup = $('#myGroup');

          myGroup.on('show.bs.collapse','.collapse', function() {
             myGroup.find('.collapse.show').collapse('hide');
          });
          this.$forceUpdate();
        },
        data: function () {
          return{

          }
        }
    }    
</script>