<template>
    
	<span>
        <header-component></header-component>
	    <span v-html="content"></span>
        <c-spinner v-if="isPageLoading"></c-spinner>
	    <footer-component></footer-component>
    </span>
</template>
<script type="text/javascript">
    export default {
        data: function () {
            return {
                content : '',
                slug : '',
                isPageLoading : false,
                page : {
                    view : 'show',
                    status : 'published',
                }
            }
        },
        mounted() {
            var app = this;
            app.slug = app.$route.params.slug;
            app.getPageContent();
        },
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        methods: {
            getPageContent:function() {
                var app = this;
                app.isPageLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'page-content/'+app.slug,
                    params: app.page
                })
                .then(function (resp) {
                    app.isPageLoading = false;
                    app.content = resp.data.data.content;
                })
                .catch(function (resp) {
                    app.isPageLoading = false;
                });
            }
        }    
    }    
</script>