<template>
	<span>
    <header-component></header-component>
	<!-- steps section -->
   <div class="landing-banner inner-banner about-banner">
        <div class="middle-align">
          <div class="inner">
            <div class="max-wrapper">
                <h1 class="inner-banner-heading">Pricing 
                </h1>
            </div>              
          </div>
        </div>
    </div>
    <div class="section grey membership-section">
        <div class="max-wrapper">
            <div class="row custom-box-row">
                <div class="col-xs-12 col-md-3  custom-col">
                    <div class="column benefits-req-column">
                        <div class="inner">
                           <h2 class="section-heading ">Why choose Happy Clinic?</h2>
                           <div class="price-list">
                                <ul class="list-unstyled">
                                    <li>Cost effective</li>
                                    <li>GMC registered specialists</li>
                                    <li>Discreet service</li>
                                    <li>Data stored securely</li>
                                    <li>CQC regulated</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3  custom-col">
                    <div class="column membership-column">
                            <div class="inner">
                                <h2 class="section-heading ">Membership</h2>
                                <div class="price-value">
                                    <h2>
                                        <span class="price-dollar">£</span>12<span>/ Month</span>
                                    </h2>
                                </div>
                                <div class="price-list">
                                  <ul class="list-unstyled">
                                    <li>Appointment fees: <strong>Low</strong></li>
                                    <li>From £30 per consultation</li>
                                    <li>Initial assessment:  <strong>£60</strong></li>
                                    <li>Monthly Repeat Prescriptions: <strong>Free</strong></li>
                                    <li><strong>Huge savings</strong> on initial and follow up assessments</li>
                                    <li><strong>Recommended</strong></li>
                                </ul>
                            </div>
                            <router-link :to="{ name: 'Membership'}"  class="btn btn-white">Get Membership</router-link>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-3  custom-col">
                    <div class="column membership-column pay-us-column">
                            <div class="inner">
                                <h2 class="section-heading ">Pay as you go</h2>
                                <div class="price-value">
                                    <h2>
                                        <span class="price-dollar">£</span>0<span>/ Month</span>
                                    </h2>
                                </div>
                                <div class="price-list">
                                  <ul class="list-unstyled">
                                    <li>No monthly subscription </li>
                                    <li>Appointment fees: <strong>High</strong></li>
                                    <li>From £90 per consultation</li>
                                    <li>Initial assessment: <strong>£180</strong></li>
                                    <li><strong>No free</strong> repeat prescription service</li>
                                    <li>See a doctor every time you need a repeat prescription</li>
                                </ul>
                            </div>
                            <router-link :to="{ name: 'BookAppointment'}" class="btn btn-white"> Book Appointment</router-link>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-3 custom-col">
                    <div class="column benefits-req-column">
                        <div class="inner">
                           <!-- <h2 class="section-heading ">MORE BENEFITS </h2> -->
                            <div class="price-list">
                                <p>Happy Clinic makes private psychiatric care affordable to a wider UK population. Pass this information on to others especially people who you think need help.</p>
                                <ul class="list-unstyled">
                                    <!-- <li>Happy Clinic makes private psychiatric care affordable to a wider UK population. Pass this information on to others especially people who you think need help.</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey comparision-chart " style="padding-top: 0px; ">
        <div class="max-wrapper">
        <h2 class="section-heading text-center">Services We <span>Provide</span></h2>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered what-we-offer-table">
                        <thead>
                              <tr>
                                <th scope="col" rowspan="2" class="table-service-col row-middle-align" width="100">Services</th>
                                <th scope="col" colspan="2" class="table-fees-col text-center" >Fees</th>
                                <th scope="col" rowspan="2" class="table-description-col row-middle-align" width="350">Description</th>
                                <th scope="col" rowspan="2" class="table-prescription-col row-middle-align" width="200">Prescription Issued</th>
                            </tr>
                            <tr>
                                <th scope="row" width="120" class="text-center">Member</th>
                                <th width="120" class="text-center">Pay as you go</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Initial <br> Assessment</strong></td>
                                <td class="text-center"><strong>£60</strong></td>
                                <td class="text-center"><strong>£180</strong></td>
                                <td>Assessment, diagnosis and formulation of treatment plan.<br> 
                                Duration: 20 minutes </td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Follow up <br>Assessment- <br>Type 1</strong></td>
                                <td class="text-center"><strong>£30</strong></td>
                                <td class="text-center"><strong>£90</strong></td>
                                <td>For less complex conditions such as anxiety and depression etc. Your doctor will suggest the most suitable follow up appointment for you. <br>Duration: 10 minutes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Follow up <br>Assessment- <br>Type 2</strong></td>
                                <td class="text-center"><strong>£90</strong></td>
                                <td class="text-center"><strong>£270</strong></td>
                                <td>For complex conditions or if you want more time with the doctor. <br>Duration: 30 minutes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Telephone  <br>Adivce</strong></td>
                                <td class="text-center"><strong>£15</strong></td>
                                <td class="text-center"><strong>£45</strong></td>
                                <td>For general queries. If you need medication changes always choose a follow up assessment.  </td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td><strong>Health  <br>Records</strong></td>
                                <td class="text-center"><strong>Free Access</strong></td>
                                <td class="text-center"><strong>Free Access</strong></td>
                                <td>Access your records online. We will never send any health records to your home address.</td>
                                <td>Not Applicable</td>
                            </tr>
                            <tr>
                                <td><strong>Repeat <br> Prescription Service</strong></td>
                                <td class="text-center"><strong>Free</strong></td>
                                <td class="text-center"><strong>Not Available</strong></td>
                                <td>Never run out of medication. Prescription sent to your chosen pharmacy on a monthly basis regardless of appointment (only for members).</td>
                                <td>Yes</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <p><span class="info-text">*</span>Fees may vary according to the speciality, skill and experience of the doctor. Please check this at the time of booking the appointment. </p>
                </div>
            </div>
        </div>
    </div>
    <footer-component></footer-component>
  </span>
</template>
<script type="text/javascript">
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
    }    
</script>