<template>
	<span>
        <header-component></header-component>
		<div class="landing-banner inner-banner about-banner">
        <div class="middle-align">
          <div class="inner">
            <div class="max-wrapper">
                <h1 class="inner-banner-heading">Testimonials
                </h1>
            </div>              
          </div>
        </div>
    </div>
    <!-- steps section -->
    <div class="section">
        <div class="max-wrapper">
        <div class="row" v-if="testimonials.length > 0">
            <div class="col-xs-12 col-md-4" v-for="testimonial in testimonials">
                <div class="card testimonial-card">
                    <h2>{{ testimonial.patient.user.intitials }} <span>{{ testimonial.patient.user.role }}</span></h2>
                    <span>{{ testimonial.created_at | moment('MMMM DD, YYYY ') }}</span>
                   
                    <div class='rating-stars text-center'>
                        <ul id='stars' style="text-align: center !important;">
                          <li class='star' :class="{'selected' : testimonial.rating >= '1'}" title='Bad' data-value='1'>
                            <i class='icon-star' ></i>
                          </li>
                          <li class='star' :class="{'selected' : testimonial.rating >= '2'}" title='Poor' data-value='2'>
                            <i class='icon-star'></i>
                          </li>
                          <li class='star' :class="{'selected' : testimonial.rating >= '3'}" title='Average' data-value='3'>
                            <i class='icon-star'></i>
                          </li>
                          <li class='star' :class="{'selected' : testimonial.rating >= '4'}" title='Good' data-value='4'>
                            <i class='icon-star'></i>
                          </li>
                          <li class='star' :class="{'selected' : testimonial.rating >= '5'}" title='Excellent' data-value='5'>
                            <i class='icon-star'></i>
                          </li>
                        </ul>
                      </div>
                     <p>{{ testimonial.text }}</p>  

                </div>
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <a href="javascript:;" class="btn btn-primary loadmore-btn" :class="{'show-spinner' : isLoadMoreLoading}" @click="getTestimonials(false);" v-show="isLoadMore">
                    <span>Loadmore</span>
                    <div class="loader"></div>
                </a>
            </div>
        </div>
            <div class="clearfix"></div>  
        </div>
    </div>
    <c-spinner v-if="isPageLoading"></c-spinner>
    <footer-component></footer-component>
	</span>
</template>
<script>
    import axios from 'axios';
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        data: function () {
            return {
                testimonials: [],
                pageCount: 0,
                totalTestimonials:0,
                testimonial : {},
                isLoadMore : false,
                isPageLoading : false,
                isLoadMoreLoading : false,
            }
        },
        mounted() {
            this.getTestimonials(true);
        },
        methods: {
            getTestimonials:function(load) {
                var app = this;
                if (load) {
                    app.testimonial.page = 1;
                    app.isPageLoading = true;
                } else {
                    app.isLoadMoreLoading = true;
                }
                
                app.testimonial.limit = 5;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'testimonials',
                    params: app.testimonial
                })
                .then(function (resp) {
                    if (load) {
                        app.isPageLoading = false;
                        app.testimonials = resp.data.data.data;
                    } else {
                        app.isLoadMoreLoading = false;
                        $(resp.data.data.data).each(function(ind, ele) {
                            app.testimonials.push(ele);
                        });
                    }

                    let pagination = resp.data.data.pagination;
                    if (pagination.last_page != pagination.current_page) { // more pages
                        app.isLoadMore = true;
                        app.testimonial.page = pagination.current_page+1;
                    } else {
                        app.isLoadMore = false;
                        app.testimonial.page = 1;
                    }
                })
                .catch(function (resp) {
                    app.isLoadMore = false;
                    app.isPageLoading = false;
                    app.testimonials = [];  
                    app.pageCount = 0;
                    app.totalTestimonials = 0;
                });
            }, 
        }
    }
</script>
<style>
    .rating-stars ul > li.star.selected > i.icon-star {
        color: #00b67a !important;
    }

    .rating-stars ul > li.star.hover > i.icon-star {
      color:#4af1ba !important;
    }
</style>