<template>
	<span>
        <header-component></header-component>
		<div class="landing-banner inner-banner faq-banner">
            <div class="middle-align">
              <div class="inner">
                <div class="max-wrapper">
                    <h1 class="inner-banner-heading">What We Treat
                    </h1>
                </div>              
              </div>
            </div>
        </div>
        <!-- steps section -->

        <div class="section">
            <div class="max-wrapper">
               <div class="row">
                 <div class="col-xs-12 col-md-12">
                   <div class="appointment-panel howItsWorkLeft what-we-treat-column">
                       <h2>Condition we treat </h2>
                       <a href="javascript:;"><p><i class="icon-check"></i> Depressive episode/disorder</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Mood disorders excluding Bipolar Disorder –type 1</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Generalised Anxiety Disorder</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Panic attacks/disorder</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Social anxiety/phobia</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Obsessive Compulsive Disorder</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Post Traumatic Stress Disorder</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Agoraphobia</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Somatoform disorders</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Adjustment Disorders</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Other Anxiety Disorders/Phobias</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Asperger’s Syndrome</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Seasonal Depression</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Sleep disorders (Nonorganic)</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Sexual dysfunction (Nonorganic)</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> ADD/ADHD</p></a>
                   </div>                     
                   <div class="appointment-panel howItsWorkLeft what-we-treat-column">
                       <h2>Condition We Don't Treat </h2>

                       <a href="javascript:;"><p><i class="icon-check"></i> Psychotic disorders</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Psychotic depression</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Patients with significant risk to self or others</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Mania</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Personality Disorders</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Eating disorders (excluding mild Bulimia Nervosa)</p></a>
                       
                       <a href="javascript:;"><p><i class="icon-check"></i> Mental health problems during pregnancy</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Organic mental disorders</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Learning difficulty</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Mental and behavioural disorders due to alcohol and illicit substances</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Any condition where patient lacks capacity and insight</p></a>
                       <a href="javascript:;"><p><i class="icon-check"></i> Any condition which needs inpatient care</p></a>

                   </div> 
                 </div>
                 <div class="col-xs-12 col-md-12">
                    <div class="appointment-panel howItsWorkLeft what-we-treat-column white-bg">
                     <h2>Commonly Prescribed Medications </h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem massa, eu fringilla purus dictum sed. Duis turpis felis, consequat eget eros nec, mattis posuere arcu. Sed congue non tellus at vestibulum. Etiam hendrerit lacinia ipsum, id varius dolor accumsan ac. Sed at elit ultricies, pharetra erat a, bibendum sem. Suspendisse condimentum ante vitae enim facilisis pulvinar. Nunc efficitur eleifend ex eget dignissim.</p>
<p>
Phasellus sit amet viverra nunc. Nullam semper rhoncus elit sed finibus. Aliquam tincidunt felis sodales, ultrices mi vel, dapibus ipsum. Proin vitae nulla turpis. Mauris porttitor quis neque at imperdiet. Donec in justo rutrum, faucibus risus non, mattis nisi. Sed semper diam nec fringilla scelerisque. Vestibulum lacinia porttitor dolor, ac hendrerit lorem consequat vulputate. Fusce eget est ante. Morbi vel tortor mi. Pellentesque at nisi eget purus varius aliquet.</p>
<p>
Mauris nibh ante, scelerisque sed augue vitae, maximus rhoncus lacus. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus sagittis malesuada. Curabitur nunc arcu, ultrices id cursus in, maximus tempus neque. Praesent luctus felis quis urna iaculis facilisis. Sed non quam a metus iaculis blandit. Mauris sem eros, varius vitae tincidunt et, commodo ac massa. Aliquam lacinia justo dui, vel porttitor nulla ultricies a.</p>
                    </div>
                 </div>
               </div> 

            </div>
        </div>  
          <div class="clearfix"></div>
    <footer-component></footer-component>
	</span>
</template>
<script>
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        data : function() {
          return {
          }
        },
        mounted () {
        },
    }
</script>