<template>
  <span>
	<div class="account-tab-content complaint-tab-content" v-if="isMessageList">
		<h2>Complaints 
      <div class="pull-right">
          <a href="javascript:;" class="btn btn-primary" @click="toggleDiv('send-message')">Make a Complaint</a>
      </div></h2>
      <c-spinner v-if="isPageLoading"></c-spinner>
		<!-- <div class="row"  v-if="!isPageLoading">
			<div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label>Filter By Category</label>
          <select v-model="support.filter_by_category" class="form-control" placeholder="Filter By Category">
            <option value="">All</option>
           <option value="general">General</option>
           <option value="medication">Medication</option>
           <option value="prescription">Prescription</option>
           <option value="tests">Tests</option>
           <option value="changes_messages">Changes</option>
          </select>          
        </div>
			</div>
      <div class="col-xs-12 col-md-4">
      <div class="form-group">
                <label>Search By Receiver Name</label> 
        <input type="text" name="keyword" placeholder="Search By Receiver Name" v-model="support.keyword" class="form-control" >
      </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <button class="btn btn-primary filter-search" :class="{'show-spinner' : isLoading}" 
        @click="searchRec" >
          <span>Search</span>
          <div class="loader"></div>
        </button>
      </div>
			
		</div> -->
		<div class="table responsive-table account-messsage-table"  v-if="!isPageLoading">
			<table class="table">
				<thead>
          <th v-for="header in tableHeader">{{header}}</th>
        </thead>
				<tbody id="user_listing">
          <template v-if="supports.length > 0">  
              <tr v-for="support, index in supports" >
                  <!-- <td>{{ support.id }}</td> -->
                  <td>{{ support.created_at | moment("DD-MM-YYYY hh:mm a") }}</td>
                 <!--  <td>{{ support.category }}</td> -->
                  <template v-if="$loggedInUser.patient_id != 0">
                     <td ><router-link :to="{name: 'AccountMessageView', params: {slug: support.slug}}" class="text-primary" target="_blank">#{{ support.slug }} - {{ support.subject}}  </router-link></td>
                  </template>
                  <template v-else>
                     <td ><router-link :to="{name: 'DoctorMessageView', params: {slug: support.slug}}" class="text-primary" target="_blank">#{{ support.slug }} - {{ support.subject}}  </router-link></td>
                  </template>
                 
                  <!-- <td>{{ support.receiver.role }}</td> -->
                  <td><p>{{ support.sender.full_name }} to {{ support.receiver.full_name }}</p></td>

                  <td>{{ support.status }}</button></td>
                  <td class="action-table-col">
                       <a href="#deleteRecModal"
                          data-toggle="modal"
                         @click="setRecordObj(support.id, index)"  title="Delete">
                          <i class="icon-remove"></i>
                      </a>
                  </td>
              </tr>
          </template>
          <template v-else> 
              <tr>
                  <td colspan="10">
                      <div class="blank-data">
                          <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                          <h3>Nothing Here Yet!</h3>
                          <p>Did not find anything .. try again.</p>
                      </div>
                  </td>
              </tr>
          </template>
      </tbody>
			</table>
      <div class="row  col-md-12">
        <div>
          <div class="dataTables_paginate paging_simple_numbers">
                  <paginate
                    :page-count="pageCount"
                    :page-range="3"
                    :margin-pages="1"
                    :click-handler="getSupports"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                  </paginate>
                </div>
            </div>
        </div>
		</div>
		
          <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
	</div>
  <div class="account-tab-content complaint-tab-content" v-if="isSendMessage">
    <messageForm type="complaint"></messageForm>
  </div>
  <div class="account-tab-content complaint-tab-content" v-if="isViewMessage">
    <messageView :slug="slug" viewType="complaint"></messageView>
  </div>
  <div class="account-tab-content complaint-tab-content" v-if="isForwardMessage">
    <messageForward :message_id="forward_message_id"></messageForward>
  </div>
  
  </span>
</template>
<script>
    import axios from 'axios';
    import messageForm from './MessageForm.vue'
    import messageView from './MessageView.vue'
    import messageForward from './MessageForward.vue'
    export default {
        props : ['viewMessage', 'slug', 'myprop'],
        components : {
          messageForm, messageView,messageForward
        },
        data: function () {
            return {
                tableHeader: ["Date Time", "Subject", "Sender/Receiver" , "Status", 'Action'],
                supports: [],
                id: null,
                index:null,
                module:'support',
                pageCount: 0,
                totalSupports:0,
                isLoading:false,
                support : {
                    filter_by_category : '',
                     filter_by_is_updated : 1,
                    filter_by_user_id : '',
                    keyword : '',
                },
                isMessageList : true,
                isSendMessage : false,
                isViewMessage : false,
                isForwardMessage : false,
                forward_message_id : null,
                isPageLoading : true,

            }
        },
        watch: { 
          myprop: function(newVal, oldVal) { // watch it
            if (newVal == '.complaint-tab-content') {
              var app = this;
              //if (app.supports.length == 0) {
                 app.getSupports(1);
              //} 
            } 
          }
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        mounted() {
            var app = this;
            
            if (app.viewMessage) {
              app.toggleDiv('view-message');
            }
            EventBus.$on('toggleDivEvent', (type, id)=> {
              app.forward_message_id = id;
              app.toggleDiv(type);
            });
        },
        methods: {
            getSupports:function(page) {
                var app = this;
                app.support.page = page || 1;
                app.support.limit = 10;
                app.support.filter_by_user_id = app.$loggedInUser.id;
                app.support.filter_by_category = 'complaint';
                
                axios({
                    method: 'get',
                    url: app.$apiUrl+'supports',
                    params: app.support
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.isPageLoading = false;
                    app.totalSupports = resp.data.data.pagination.total;
                    app.supports = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                    
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.isPageLoading = false;
                    app.supports = [];  
                    app.pageCount = 0;
                    app.totalSupports = 0;
                });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getSupports(1);
            }, 
            searchRec() {
                var app = this;
                app.isLoading = true;
                app.getSupports(1);
            },
            toggleDiv (type) {
              var app = this;
              if (type == 'messages') {
                app.isMessageList = true;
                app.isSendMessage = false;
                app.isViewMessage = false;
                app.isForwardMessage = false;
                this.getSupports(1);
              } else if (type == 'send-message') {
                app.isMessageList = false;
                app.isSendMessage = true;
                app.isViewMessage = false;
                app.isForwardMessage = false;
              } else if (type == 'view-message') {
                app.isMessageList = false;
                app.isSendMessage = false;
                app.isViewMessage = true;
                app.isForwardMessage = false;
              } else if (type == 'forward-message') {
                app.isMessageList = false;
                app.isSendMessage = false;
                app.isViewMessage = false;
                app.isForwardMessage = true;
              }
              
            }  
        }
    }
</script>
