<template>
  <span>
    <h2 v-if="viewType == 'message'">Message View 
     <div class="pull-right">
          <a href="javascript:;" class="btn btn-primary" @click="toggleDiv('messages')">Back to Messages</a>
      </div></h2>
    <h2 v-else>Complaint View 
     <div class="pull-right">
          <a href="javascript:;" class="btn btn-primary" @click="toggleDiv('messages')">Back to Complaints</a>
      </div></h2>
    <c-spinner v-if="isPageLoading"></c-spinner>
    <div class="row" v-if="support.messages.length > 0">
    	<div class="col-xs-12 col-md-12">

    			<p><strong class="message-view-label dark-text-color">Title :</strong>  #{{ support.slug }} {{ support.subject }}</p>
	            <p><strong class="message-view-label dark-text-color">Category :</strong>  {{ support.category }} </p>
	            <!-- <p>Receiver Type : {{ support.receiver.role }} </p> -->
	            <p><strong class="message-view-label dark-text-color">Receiver Name :</strong>  {{ support.receiver.full_name }}</p>
              <p><strong class="message-view-label dark-text-color">Created On :</strong> {{ support.created_at | moment("DD-MM-YYYY hh:mm a") }}</p>
              <p><span class="pull-left m-r-10"><strong class="message-view-label dark-text-color">Status: </strong>  </span>  
	                <select v-model="support.status" class="form-control col-md-1" @change="updateStatus">
	                     <option value="open">Open</option>
	                     <option value="closed">Closed</option>
	                 </select>
	            </p>

            <div class="row">
    		<div class="col-xs-12 col-md-10">
	    		<button class="btn btn-primary loadmore-msges-btn" :class="{'show-spinner' : isLoadMoreLoading}" @click="getSupportMessages(false,false);" v-show="isLoadMore"><span>Load Previous Messages</span>
	    			<div class="loader"></div>
	    		</button>
                <div class="card card-default social-card share message-profile-info" 
                 v-for="message,index in support.messages.slice().reverse()">
                  <!-- <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
                  </div> -->
                  <div class="card-header clearfix ">
                    <c-spinner v-if="false"></c-spinner>
                    <div class="user-pic">
                      <img alt="Profile Image" width="33" height="33" :data-src-retina="message.sender.profile_pic_path" :data-src="message.sender.profile_pic_path" :src="message.sender.profile_pic_path">
                    </div>
                    <h5 class="message-user-fn">{{ message.sender.full_name }}
                      <h6 class="message-sender-role">{{ message.sender.role }} | <span class="semi-bold time"><i class="fa fa-clock-o"></i> {{ message.timeago }}</span>
                      </h6>
                    </h5>
                    
                  </div>
                  <div class="card-description">
                    <template v-if="message.is_admin_msg == '1'">
                        <p>Dear {{ message.receiver.first_name }},</p><br/>
                        <p v-html="message.message"></p><br/>
                        <p>Kind regards, Happy Clinic  Customer team</p>
                    </template>
                    <template v-else>
                        <p v-html="message.message"></p>
                    </template>
                    
                  </div>
                  <div class="card-content">
                    <div class="p-l-15" v-if="message.docs.length > 0">
                      <p v-for="doc, ind in message.docs">
                       <!--  <a :href="doc.file_path" download="download"><img alt="Document" width="60" height="60" :data-src-retina="doc.file_path" :data-src="doc.file_path" :src="doc.file_path">
                        </a> -->
                        <a href="#attachmentViewModal" data-toggle="modal" @click="viewAttachment(doc.file_path, doc.extension)">
                            {{ doc.file}}
                        </a>
                      </p> 
                    </div>
                    <template v-if="support.category != 'Changes Messages' && viewType == 'message'">
                      <a href="javascript:;" class="btn" :class="(message.is_flagged == 1)? 'btn-warning' :'btn-info'" @click="toggleFlag(message.id)" :title="(message.is_flagged == 1) ? 'Remove Flag' : 'Add Flag'"><i class="icon-flag" ></i></a>
                     <a href="javascript:;" class="btn btn-primary" title="Forward"  @click="setForwardId(message.id)"><i class="icon-mail-forward" ></i></a>
                    </template>
                    
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-10">
                <hr>
                <div class="form-group">
                	<label>Reply</label>
                    <textarea class="form-control message-box" name="message" placeholder="Write something.." 
          				:class="{'is-invalid': errors.has('message') }"
                      v-model="reply.message"
                      v-validate="'required'" rows="4"></textarea>
                    <small class="has-error"
                      v-show="errors.has('message')">
                      {{ errors.first('message') }}
                    </small>  
                </div>

            </div>
            
            <div class="col-xs-12 col-md-10">
                  <button class="btn btn-primary btn-cons send-btn-message" @click="sendReply()" :class="{'show-spinner' : isLoading }" >
                  	<span>Send</span>
                  	<div class="loader"></div>
                  </button>
                <file-upload
                    v-model="files1"
                    input-id="file1"
                    :post-action="$apiUrl+'media/upload'"
                    :accept="$accept"
                    :extensions="$extensions"
                    @input-file="inputFile"
                    @input-filter="inputFilter"
                    :data="{type: 'profile_pic'}"
                    ref="upload1"
                    :maximum="6"
                    mutiple="true"
                    class="btn btn-warning col-md-1 upload-photo-btn btn-block pull-right">
                    <i class="icon-paperclip"></i>
                  </file-upload>
	            <div class="uploaded-reports">
	                <ul>
	                    <li v-for="(file, index) in files1" :key="file.id">
	                        <i class="icon-file-text-o attached-file-icon"></i>
	                        <p class="attached-file-name">
	                        <a href="javascript:;">{{file.name}}</a></p>
	                        <span class="icon-remove remove-attached-file" @click="removeFile(files1,index)"></span>
	                      <span v-if="file.error" class="text-danger text-small"> - {{file.error}}</span>
	                      <span v-else-if="file.success" class="text-success text-small"> - success</span>
	                      <span v-else></span>
	                    </li>
	                </ul>
	            </div>
            </div>


	        <div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
	        </div>


	        <button class="btn btn-secondary" @click="topFunction()" id="myBtn" title="Go to top">Top</button>


    		<attachment-view-modal :file_path="file_path" :extension="extension" ></attachment-view-modal>
        </div>

    	</div>
    </div>
  </span>
</template>
<script>
    import axios from 'axios';
    export default {
      props : ['slug', 'viewType'],
      mounted() {
      	let app = this;
        let slug = app.$route.params.slug;
        var supportView = JSON.parse(window.localStorage.getItem('support_view'));
        if (supportView != null) {
           window.localStorage.removeItem('support_view');
        }/*
        app.supportData.value = slug;
        console.log(app.supportData.value);*/
        console.log('supprt');
        app.getSupport();
      	$('.appointments-tab-content').removeClass('active');
        $('.schedule-tab-content').removeClass('active');
        //if (app.viewType == 'message') {
          //$('.message-tab-content').addClass('active');
        /*} else if (app.viewType == 'complaint') {
          $('.complaint-tab-content').addClass('active');
        }*/

        $('#message_tab, #complaint_tab').click(function() {
            app.toggleDiv('messages');
        });
      	
      	window.onscroll = function() {
      		app.scrollFunction();
      	};
        
    	
    	
        
      },
      beforeCreate: function() {
          document.body.className = 'register-page';
      },
      data: function () {
          return {
                supportId : null,
                supportData: {
                    value : '',
                    column : 'slug',
                },
                supportMessageData: {
                    filter_by_slug : '',
                    limit : 5,
                    page : 1,
                },
                support: {
                    slug: '',
                    category: '',
                    subject: '',
                    messages: [],
                    status: '',
                    timeago: '',
                },
                reply : {
                    message: '',
                    support_docs : [],
                    support_id : '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                files1 : [],
                type : '',
                file_path : '',
                extension : '',
                isLoadMore : false,
                isLoadMoreLoading : false,
                isPageLoading : true,
            }
      },
      methods: {
      	getSupport() {
      		var app = this;
          app.supportData.value = app.slug;
            axios({
                method: 'get',
                url: app.$apiUrl+'support',
                params: app.supportData
            }).then(resp => {
                console.log('here');
                app.isPageLoading = false;
                app.support = resp.data.data;
                app.supportId = resp.data.data.id;
                app.reply.support_id = resp.data.data.id;
                if (app.support.category == 'Complaint') {
                    app.type = 'Complaint';
                    //setTimeout(function() {
                      $('.complaint-tab-content').addClass('active');
                    //}, 2000);
                    
                } else {
                    app.type = 'Support';
                    //setTimeout(function() {
                      $('.message-tab-content').addClass('active');
                    //}, 2000);
                }
                app.getSupportMessages(true, false);
                
            })
            .catch(error => {
              app.isPageLoading = false;
            });
      	},
        getSupportMessages(newMsg, isFlagged) {
            var app = this;
            app.supportMessageData.filter_by_slug = app.slug;
            if (newMsg ) {
            	app.supportMessageData.page = 1;
            	app.isLoading = true;
            } else {
            	app.isLoadMoreLoading = true;
            }

            if (isFlagged) {
              app.isLoading = false;
            }
            axios({
                method: 'get',
                url: app.$apiUrl+'support/messages',
                params: app.supportMessageData
            }).then(resp => {
            	
            	if (newMsg) {
            		app.isLoading = false;
            		app.support.messages = resp.data.data.data;
            	} else {
            		app.isLoadMoreLoading = false;
            		$(resp.data.data.data).each(function(ind, ele) {
	            		app.support.messages.push(ele);
	            	});
            	}
            	let pagination = resp.data.data.pagination;
            	if (pagination.last_page != pagination.current_page) { // more pages
            		app.isLoadMore = true;
            		app.supportMessageData.page = pagination.current_page+1;
            	} else {
            		app.isLoadMore = false;
				       app.supportMessageData.page = 1;
            	}
                app.errors.clear();

              if (app.support.category == 'Complaint') {
                  EventBus.$emit('updateComplaintCount');
              } else {
                  EventBus.$emit('updateMessageCount');
              }  
            })
            .catch(error => {
            	app.isLoading = false;
            	app.isLoadMoreLoading = false;
            });
        },
        sendReply() {
            var app = this;

            this.$validator.validateAll().then(result => {
                if (result) {
                    app.isLoading = true;
                    axios.patch(app.$apiUrl+'support/send-reply', app.reply)
                        .then(resp => {
                            app.isLoading = false;
                            app.reply.message = '';
                            app.files1 = [];
                            app.$nextTick(() => app.$validator.reset())
                            app.getSupportMessages(true, false);

                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += '<p>'+value+'</p>';
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                }        
            })
        },
        updateStatus() {
            var app = this;
            axios.patch(app.$apiUrl+'support/update-status/' + app.supportId, app.support)
                .then(resp => {
                    app.isLoading = false;
                    app.isSuccess = true,
                    app.isError = false,
                    app.alertMsg = resp.data.message;
                    app.isAlertShow = true;
                    app.errors.clear();
                })
                .catch(error => {
                    app.isLoading = false;
                    app.isSuccess = false,
                    app.isError = true,
                    app.isAlertShow = true;
                    app.alertMsg = 'Error occured';
                    var jsonResponse =error.response.data.errors;
                    if(jQuery.type(jsonResponse) == 'object')
                    {
                      var messages = '';
                      $.each( jsonResponse, function( key, value ) {
                        messages += '<p>'+value+'</p>';
                      }); 
                      app.alertMsg = messages;           
                    }
                });
        },
        inputFile(newFile, oldFile) {
            if (newFile && oldFile) {
                if (newFile.response.name != undefined) {
                   if(jQuery.inArray(newFile.response.name, this.reply.support_docs) !== -1) {
                  } else {
                    this.reply.support_docs.push(newFile.response.name);
                  }
                }
            }
            if (newFile && !oldFile) {
                if (!this.$refs.upload1.active) {
                    this.$refs.upload1.active = true;
                } 
            }
        },
         inputFilter(newFile, oldFile, prevent) {
          if (newFile && !oldFile) {
            // Before adding a file
            // Filter system files or hide files
            if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
              return prevent()
            }
            // Filter php html js file
            if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
              return prevent()
            }
          }
        },
        removeFile(array, index) {
          array.splice(index, 1);
          this.reply.support_docs.splice(index, 1);
        },
        viewAttachment(file_path, extension) {
            this.file_path = file_path;
            this.extension = extension;
        },
        toggleDiv (type) {
          var app = this;
          EventBus.$emit('toggleDivEvent', type);
        },
        resetRecaptcha () {
          this.$refs.recaptcha.reset() // Direct call reset method
        },
        refreshList(){
          this.getSupportMessages(true, true);
	    }, 
	    toggleFlag(id) {
	        var app = this;
	        axios.put(app.$apiUrl+'support/message/toggle-flag/'+id)
	            .then(resp => {
	                app.refreshList();
	            })
	            .catch(function (resp) {
	            });
	    },
        uploadOption(option) {
            var app = this;
            if (option == 'upload') {
              app.isUpload = true;
              app.isTake = false;
              app.isScan = false;

            } else if (option == 'take') {
              app.isTake = true;
              app.isUpload = false;
              app.isScan = false;
            } else if (option == 'scan') {
              app.isScan = true;
              app.isTake = false;
              app.isUpload = false;
            }
          },
          setForwardId(id) {
          	let type = 'forward-message';
          	EventBus.$emit('toggleDivEvent', type, id);
          },
          topFunction () {
          	document.body.scrollTop = 0;
  			document.documentElement.scrollTop = 0;
          },
          scrollFunction() {
            if ( document.getElementById("myBtn") != null) {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
              } else {
                document.getElementById("myBtn").style.display = "none";
              }
            }
    			  
    			}
      }
    }
</script>
<style scoped>
	#myBtn {
	  display: none;
	  position: fixed;
	  bottom: 20px;
	  right: 30px;
	  z-index: 99;
	  font-size: 18px;
	  border: none;
	  outline: none;
	  background-color: #4c9689;
	  color: white;
	  cursor: pointer;
	  padding: 10px;
	  border-radius: 4px;
	}

	#myBtn:hover {
	  background-color: #555;
	}
</style>