<template>
  <span>
    <h2 v-if="type == 'message'">Send Message
     <div class="pull-right">
          <a href="javascript:;" class="btn btn-primary" @click="toggleDiv('messages')">Back to Messages</a>
      </div></h2>
      <h2 v-if="type == 'complaint'">Make a complaint
     <div class="pull-right">
          <a href="javascript:;" class="btn btn-primary" @click="toggleDiv('messages')">Back to Complaints</a>
      </div></h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group" v-if="type != 'complaint'">
            <label>Select User Type</label>
             <select v-model="support.user_type" name ="user_type" class="form-control" placeholder="Select User Type" @change="getUsers"
             :class="{'is-invalid': errors.has('user_type') }"
             data-vv-as="user type"
              v-validate="'required'">
              <option value="">Select User Type</option>
              <template v-if="$loggedInUser.patient_id != 0">
                <option value="doctor">Doctor</option>
              </template>
              <template v-else>
                <option value="patient">Patient</option>
              </template>  
                <option value="admin">Admin</option>
             </select>
            <small class="has-error"
              v-show="errors.has('user_type')">
              {{ errors.first('user_type') }}
            </small>
        </div>
        <div class="form-group" v-if="support.user_type == 'doctor' && type != 'complaint'">
          <label>Select Doctor</label>
          <select class="form-control" v-model="support.user_id"
          name="doctor"
                    :class="{'is-invalid': errors.has('doctor') }"
                    v-validate="'required'">
            <option value="">Select Doctor</option>
            <option v-for="user in users" :value="user.user_id">{{ user.title }} {{user.user.full_name}}</option>
          </select>
          <small class="has-error"
              v-show="errors.has('doctor')">
              {{ errors.first('doctor') }}
            </small> 
        </div>
        <div class="form-group" v-if="support.user_type == 'patient' && type != 'complaint'" >
          <label>Select Patient</label>
          <select class="form-control" v-model="support.user_id"
          name="patient"
                    :class="{'is-invalid': errors.has('patient') }"
                    v-validate="'required'">
            <option value="">Select Patient</option>
            <option v-for="user in users" :value="user.user_id">{{user.user.full_name}}</option>
          </select>
          <small class="has-error"
              v-show="errors.has('patient')">
              {{ errors.first('patient') }}
            </small> 
        </div>
        <div class="form-group" v-if="type != 'complaint'">
          <label>Select Category</label>
          <select v-model="support.category" name ="category" class="form-control" placeholder="Select Category">
            <option value="general">General</option>
           <option value="medication">Medication</option>
           <option value="prescription">Prescription</option>
           <option value="tests">Tests</option>
          </select>
          <small class="has-error"
            v-show="errors.has('category')">
            {{ errors.first('category') }}
          </small>
        </div>
        <div class="form-group">
          <label>Subject</label>
          <input type="text" class="form-control" 
          name="subject" placeholder="Write Subject line" 
          :class="{'is-invalid': errors.has('subject') }"
            v-model="support.subject"
            v-validate="'required'">
          <small class="has-error"
            v-show="errors.has('subject')">
            {{ errors.first('subject') }}
          </small>    
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="message" placeholder="Write something.." 
          :class="{'is-invalid': errors.has('message') }"
          v-model="support.message" v-validate="'required'" rows="4"></textarea>
          <small class="has-error"
            v-show="errors.has('message')">
            {{ errors.first('message') }}
          </small> 
        </div>
        <image-upload-component 
          input_id="file1"
          refUpload="upload1"
          label="Upload File(s)"
          button_text="Upload File(s)"
          type="documents"
          :fileArray="files1"
          :is_multiple="true"
          :is_preview="false"
          :accept="$accept"
          :extensions="$extensions"
          :maximum="6"
          :thread="6"
          :inputArray="support.support_docs"
          :is_multidimensional_array="false"
          @fileAdded="setUploadedDoc"
          @fileRemoved="setUploadedDoc">   
          </image-upload-component>
        <div class="form-group ">
            <label>Verification</label>
             <vue-recaptcha
              ref="recaptcha"
              @verify="onCaptchaVerified"
              @expired="resetRecaptcha"
              :sitekey="site_key">
            </vue-recaptcha>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading }" @click="sendMessage">
          <span>Send</span>
          <div class="loader"></div>
        </button>
        
        <div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
        </div>
      </div>
    </div>
  </span>
</template>
<script>
    import axios from 'axios';
    import VueRecaptcha from 'vue-recaptcha';
    export default {
      props : ['type'],
      components : {
        VueRecaptcha
      },
      mounted() {
        var app = this;
        /*axios.get(app.$apiUrl+'doctors?limit=0')
          .then(function (resp) {
              app.doctors = resp.data.data.data;
          })
          .catch(function () {
          });*/
        app.resetRecaptcha();  
      },
      computed: {
          $loggedInUser: function () {
              return JSON.parse(this.$store.getters.getAuthUser);
          },
          $loggedInUserIsMember : function () {
              var user = JSON.parse(this.$store.getters.getAuthUser);
              return user.is_member;
          }
      },
      data: function () {
          return {
              doctors : [],
              patients : [],
              users : [],
              specialties : [],
              userId : 0, 
              support: {
                  email_type: 'individual',
                  user_type: '',
                  user_id: '',
                  filter_by_specialty: '',
                  category : 'general',
                  subject : '',
                  message : '',
                  sender_id : '',
                  support_docs : [],
              },
              isAlertShow: false,
              selectedUser : '',
              isSuccess:false,
              isError:false,
              alertMsg:'',
              isLoading:false,
              files1 : [],
              site_key: '6LdtBHcUAAAAAJaA8EFzLrQ02nbfc8VPrx02wetH',
              recaptchaToken : '',

          }
      },
      methods: {
        sendMessage() {
            var app = this;
            app.support.sender_id = app.$loggedInUser.id
            var newSupport = app.support;
            if (app.support.user_type == 'doctor') {
              newSupport.user_id = app.support.user_id;
            } else if (app.support.user_type == 'admin') {
              newSupport.user_id = 0;
            }
            newSupport.recaptcha = app.recaptchaToken;
            if (app.type == 'complaint') {
              app.support.user_type = 'admin';
              app.support.category = 'complaint';
              newSupport.user_id = 0;
             
            }
            this.$validator.validateAll().then(result => {
                if (result) {
                    app.isLoading = true;
                    axios.post(app.$apiUrl+'support', newSupport)
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true;
                            app.isError = false;
                            if (app.type == 'complaint') {
                              app.alertMsg = 'Complaint has been sent successfully';
                            } else {
                              app.alertMsg = 'Message has been sent successfully';
                            }
                            app.isAlertShow = true;
                            app.support.user_type = 'doctor';
                            app.support.category = 'general';
                            app.support.subject = '';
                            app.support.user_id = '';
                            app.support.message = '';
                            app.support.support_docs = [];
                            app.files1 = [];
                            app.resetRecaptcha();
                            app.$nextTick(() => app.$validator.reset())
                            setTimeout(function() {
                              
                              //app.errors.clear();
                              app.isAlertShow = false;
                              EventBus.$emit('CleanupFiles');
                            }, 3000);
                            

                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.message;
                            if(jsonResponse != '')
                            {
                              app.alertMsg = jsonResponse;          
                            }
                        });
                }        
            })   
        },
        getUsers() {
            var app = this;
            app.selectedUser = '';
            var params = {};
            if (app.support.email_type == 'individual') {
                if (app.support.user_type == 'doctor') {
                    params.filter_by_patient_id = app.$loggedInUser.patient_id;
                    var url = app.$apiUrl+'doctors?limit=0';
                } else  if (app.support.user_type == 'patient') {
                    params.filter_by_doctor_id = app.$loggedInUser.doctor_id;
                    var url = app.$apiUrl+'patients?limit=0';
                }
            } else if (app.support.email_type == 'group') {
                
            }    

            axios({
              method : 'get',
              url : url,
              params : params,
            })
            .then(function (resp) {
                app.users = resp.data.data.data;
            })
            .catch(function () {
              app.users = [];
            });

        },
        toggleDiv (type) {
          var app = this;
          EventBus.$emit('toggleDivEvent', type);
        },
        setUploadedDoc(files) {
          this.support.support_docs = files;
        },
        resetRecaptcha () {
          this.$refs.recaptcha.reset() // Direct call reset method
        },
        onCaptchaVerified(recaptchaToken) {
            var app = this;
            app.recaptchaToken = recaptchaToken;
        }, 
      }
    }
</script>