<template>
  <span>
    <h2>Forward Message
     <div class="pull-right">
          <a href="javascript:;" class="btn btn-primary" @click="toggleDiv('view-message')">Back to view message</a>
      </div></h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label>Select User Type</label>
             <select v-model="support.user_type" name ="user_type" class="form-control" placeholder="Select User Type" @change="getUsers"
             :class="{'is-invalid': errors.has('user_type') }"
             data-vv-as="user type"
              v-validate="'required'">
                <option value="doctor">Doctor</option>
                <option value="admin">Admin</option>
             </select>
            <small class="has-error"
              v-show="errors.has('user_type')">
              {{ errors.first('user_type') }}
            </small>
        </div>
        <div class="form-group" v-if="support.user_type == 'doctor'">
          <label>Select Doctor</label>
          <select class="form-control" v-model="support.user_id"
          name="doctor"
                    :class="{'is-invalid': errors.has('doctor') }"
                    v-validate="'required'">
            <option value="">Select Doctor</option>
            <option v-for="doctor in doctors" :value="doctor.user_id">{{doctor.user.full_name}}</option>
          </select>
          <small class="has-error"
              v-show="errors.has('doctor')">
              {{ errors.first('doctor') }}
            </small> 
        </div>
        <div class="form-group">
          <label>Select Category</label>
          <select v-model="support.category" name ="category" class="form-control" placeholder="Select Category" disabled>
            <option value="general">General</option>
           <option value="medication">Medication</option>
           <option value="prescription">Prescription</option>
           <option value="tests">Tests</option>
           <option value="changes_messages">Changes</option>
          </select>
          <small class="has-error"
            v-show="errors.has('category')">
            {{ errors.first('category') }}
          </small>
        </div>
        <div class="form-group">
          <label>Subject</label>
          <input type="text" class="form-control" 
          name="subject" placeholder="Write Subject line" 
          :class="{'is-invalid': errors.has('subject') }"
            v-model="support.subject"
            v-validate="'required'" disabled>
          <small class="has-error"
            v-show="errors.has('subject')">
            {{ errors.first('subject') }}
          </small>    
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="message" placeholder="Write something.." 
          :class="{'is-invalid': errors.has('message') }"
          v-model="support.message" v-validate="'required'" rows="4" disabled></textarea>
          <small class="has-error"
            v-show="errors.has('message')">
            {{ errors.first('message') }}
          </small> 
        </div>
        
        <div class="form-group">
            <div class="uploaded-reports">
                <ul>
                    <li v-for="(file, index) in files1" :key="file.id">
                        <i class="icon-file-text-o attached-file-icon"></i>
                        <p class="attached-file-name">
                        <a href="javascript:;">{{file.name}}</a></p>
                      <span v-if="file.error" class="text-danger text-small"> - {{file.error}}</span>
                      <span v-else-if="file.success" class="text-success text-small"> - success</span>
                      <span v-else></span>
                    </li>
                </ul>
            </div>                  
        </div>
        <div class="form-group ">
            <label>Verification</label>
             <vue-recaptcha
              ref="recaptcha"
              @verify="onCaptchaVerified"
               @expired="resetRecaptcha"
              :sitekey="site_key">
            </vue-recaptcha>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading }" @click="sendMessage">
          <span>Send</span>
          <div class="loader"></div>
        </button>
        
        <div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
        </div>
      </div>
    </div>
  </span>
</template>
<script>
    import axios from 'axios';
    import VueRecaptcha from 'vue-recaptcha';
    export default {
      props : ['message_id'],
      components : {
        VueRecaptcha
      },
      mounted() {
        var app = this;
        axios.get(app.$apiUrl+'doctors?limit=0')
          .then(function (resp) {
              app.doctors = resp.data.data.data;
          })
          .catch(function () {
          });
        app.resetRecaptcha();
        if (app.message_id != null) {
              axios.get(app.$apiUrl+'support/message/'+app.message_id)
                .then(function (resp) {
                  var result = resp.data.data;
                  app.support.category = (result.support.category == 'Changes') ? 'changes_messages' : result.support.category;
                  app.support.subject = result.support.subject;
                  app.support.message = result.message;
                  app.support.support_forward_id = result.support.id;
                  if (result.docs.length > 0) {
                      $.each(result.docs, function(ind, ele) {
                          app.files1.push({'name' : ele.file, 'error' : ''});
                          app.support.support_docs.push(ele.file);
                      });
                  }
                })
                .catch(function () {
                }); 
            }  
      },
      data: function () {
          return {
              doctors : [],
              specialties : [],
              userId : 0, 
              support: {
                  email_type: 'individual',
                  user_type: 'doctor',
                  user_id: '',
                  filter_by_specialty: '',
                  category : 'general',
                  subject : '',
                  message : '',
                  sender_id : '',
                  support_docs : [],
                  support_type : 'forward',
                  support_forward_id : '',
              },
              isAlertShow: false,
              selectedUser : '',
              isSuccess:false,
              isError:false,
              alertMsg:'',
              isLoading:false,
              isUploading:false,
              isUpload : true,
              isTake: false,
              isScan : false,
              files1 : [],
              site_key: '6LdtBHcUAAAAAJaA8EFzLrQ02nbfc8VPrx02wetH',
              recaptchaToken : '',

          }
      },
      computed: {
          $loggedInUser: function () {
              return JSON.parse(this.$store.getters.getAuthUser);
          },
          $loggedInUserIsMember : function () {
              var user = JSON.parse(this.$store.getters.getAuthUser);
              return user.is_member;
          }
      },
      methods: {
        sendMessage() {
            var app = this;
            app.support.sender_id = app.$loggedInUser.id
            var newSupport = app.support;
            if (app.support.user_type == 'doctor') {
              newSupport.user_id = app.support.user_id;
            } else if (app.support.user_type == 'admin') {
              newSupport.user_id = 0;
            }
            newSupport.recaptcha = app.recaptchaToken;
            this.$validator.validateAll().then(result => {
                if (result) {
                    app.isLoading = true;
                    axios.post(app.$apiUrl+'support', newSupport)
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = 'Message has been sent successfully';
                            app.isAlertShow = true;
                            app.support.user_type = 'doctor';
                            app.support.category = 'general';
                            app.support.subject = '';
                            app.support.user_id = '';
                            app.support.message = '';
                            app.support.support_docs = [];
                            app.files1 = [];
                            app.resetRecaptcha();
                            app.errors.clear();
                            app.$nextTick(() => app.$validator.reset())
                            setTimeout(function() {
                              app.isAlertShow = false;
                            }, 3000);

                        })
                        .catch(error => {
                            console.log(error.response);
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.message;
                            if(jsonResponse != '')
                            {
                              app.alertMsg = jsonResponse;          
                            }
                        });
                }        
            })   
        },
        getUsers() {
            var app = this;
            app.selectedUser = '';
            if (app.support.email_type == 'individual') {
                if (app.support.user_type == 'doctor') {
                    params.filter_by_patient_id = app.$loggedInUser.patient_id;
                    var url = app.$apiUrl+'doctors?limit=0';
                } else  if (app.support.user_type == 'patient') {
                    params.filter_by_doctor_id = app.$loggedInUser.doctor_id;
                    var url = app.$apiUrl+'patients?limit=0';
                }
            } else if (app.support.email_type == 'group') {
                
            }    

            axios.get(url)
            .then(function (resp) {
                app.users = resp.data.data.data;
                if (app.users.length > 0) {
                    var usersOptionsArr =  [];
                    $(app.users).each(function(ind, ele) {
                        var usersOptions = {};
                        usersOptions.label = ele.user.full_name;
                        usersOptions.value = ele.user.id;
                        usersOptionsArr.push(usersOptions);
                    });
                }
                app.users = usersOptionsArr;
            })
            .catch(function () {
            });

        },
        toggleDiv (type) {
          var app = this;
          EventBus.$emit('toggleDivEvent', type);
        },
        inputFile(newFile, oldFile) {
            if (newFile && oldFile) {
                if (newFile.response.name != undefined) {
                    if(jQuery.inArray(newFile.response.name, this.support.support_docs) !== -1) {
                    } else {
                        this.support.support_docs.push(newFile.response.name);
                    }
                }
            }
            if (newFile && !oldFile) {
                if (!this.$refs.upload1.active) {
                    this.$refs.upload1.active = true;
                } 
            }
        },
         inputFilter(newFile, oldFile, prevent) {
          if (newFile && !oldFile) {
            // Before adding a file
            // Filter system files or hide files
            if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
              return prevent()
            }
            // Filter php html js file
            if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
              return prevent()
            }
          }
        },
        removeFile(array, index) {
            array.splice(index, 1);
            this.support.support_docs.splice(index, 1);
        },
        resetRecaptcha () {
          this.$refs.recaptcha.reset() // Direct call reset method
        },
        onCaptchaVerified(recaptchaToken) {
            var app = this;
            app.recaptchaToken = recaptchaToken;
        }, 
        uploadOption(option) {
            var app = this;
            if (option == 'upload') {
              app.isUpload = true;
              app.isTake = false;
              app.isScan = false;

            } else if (option == 'take') {
              app.isTake = true;
              app.isUpload = false;
              app.isScan = false;
            } else if (option == 'scan') {
              app.isScan = true;
              app.isTake = false;
              app.isUpload = false;
            }
          }
      }
    }
</script>