<template>
	<span >
		<header-component></header-component>
		<banner-component></banner-component>
		<!-- steps section -->
	    <div class="section steps-section">
	        <div class="max-wrapper">
	            <ul>
	                <li>
	                    <i class="steps-count">1</i>
	                    <span><i><img :src="$imageUrl+'icons/book-appointment.png'"></i> Book An Appointment</span>
	                    <p>Choose a date and time that suits you. Evening and weekend appointments available. Usually seen within days</p>
	                </li>
	                <li>
	                    <i class="steps-count">2</i>
	                    <span><i><img :src="$imageUrl+'icons/doctor-online.png'"></i> See a Psychiatrist Online</span>
	                    <p>Face to face video consultation with a GMC <br>registered private consultant psychiatrist in real time using our website or web app.</p>
	                </li>
	                <li>
	                    <i class="steps-count">3</i>
	                    <span><i><img :src="$imageUrl+'icons/recovery.png'"></i> Start Recovery</span>
	                    <p>Receive diagnosis, sound medical advice and prescriptions. Prescriptions sent to your chosen pharmacy</p>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <div class="max-wrapper">
	        <div class="section-separater"></div>
	    </div>
	    <!-- welcome section -->
	    <div class="section welcome-section">
	        <div class="max-wrapper">
	          <div class="row">
	              <div class="col-xs-12 col-md-12 col-lg-8">
	                  <h2 class="section-heading">WE GIVE YOU A <span>COST-EFFECTIVE SERVICE</span></h2>
	                  <p class="section-heading-detail">All of our doctors are NHS-trained consultant psychiatrists registered with the General Medical Council (GMC). We provide a high quality and economical service. See <router-link :to="{ name: 'Pricing'}">pricing</router-link> for more details</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6 feature-colmns">
	                          <h2 class="sub-heading">
	                              <i class="services-icon"><img :src="$imageUrl+'icons/secure.svg'"></i>
	                              DISCREET SERVICE
	                          </h2>
	                          <p>We keep your details safe.</p>
	                      </div>
	                      <div class="col-xs-12 col-md-6 feature-colmns">
	                          <h2 class="sub-heading">
	                              <i class="services-icon"><img :src="$imageUrl+'icons/encrypted.svg'"></i>
	                              SECURE, ENCRYPTED VIDEO
	                          </h2>
	                          <p>Private video consultations. Rest assured</p>
	                      </div>
	                      <div class="col-xs-12 col-md-6 feature-colmns">
	                          <h2 class="sub-heading">
	                              <i class="services-icon"><img :src="$imageUrl+'icons/blood-service.svg'"></i>
	                              REPEAT PRESCRIPTIONS
	                          </h2>
	                          <p>Monthly prescriptions without any hassle. Never run out of medication.</p>
	                      </div>
	                      <div class="col-xs-12 col-md-6 feature-colmns">
	                          <h2 class="sub-heading">
	                              <i class="services-icon"><img :src="$imageUrl+'icons/cqc2.svg'"></i>
	                              CQC REGULATED
	                          </h2>
	                          <p>We aim to provide a safe, effective, caring, responsive and well led service.</p>
	                      </div>
	                  </div>
	              </div>
	              <div class="col-xs-12 col-md-12 col-lg-4">
	                  <div class="appointment-panel">
	                      <h2>Check Availability</h2>
	                      <p>Find the earliest available appointment</p>
	                      <div class="appointment-form">
	                          <form>
	                              <div class="row">
	                                  <div class="col-xs-12 col-md-12">
	                                      <div class="form-group">
	                                          <select class="form-control" v-model="object.specialty_id"
	                                          data-vv-as="specialty"
	                                          name="specialty_id"
	                                          :class="{'is-invalid': errors.has('specialty_id') }"
	                                           v-validate="'required'" @change="getDoctors()">
	                                              <option value="">Select Specialty</option>
	                                              <option v-for="specialty in specialties" :value="specialty.id">{{specialty.name}}</option>
	                                          </select>
	                                         <!--  <small class="has-error"
						                          v-show="errors.has('specialty_id')">
						                          {{ errors.first('specialty_id') }}
						                        </small> -->
	                                      </div>
	                                      <div class="form-group">
	                                          <select class="form-control" v-model="object.doctor_id"
	                                           data-vv-as="doctor"
	                                          name="doctor_id"
	                                          :class="{'is-invalid': errors.has('doctor_id') }"
	                                           v-validate="'required'">
	                                              <option value="">Select Doctor</option>
	                                              <option v-for="doctor in doctors" :value="doctor.id">{{doctor.user.full_name}}</option>
	                                          </select>
	                                          <!-- <small class="has-error"
						                          v-show="errors.has('doctor_id')">
						                          {{ errors.first('doctor_id') }}
						                        </small> -->
	                                      </div>
	                                      <div class="form-group">
	                                        <!-- <input class="form-control datepicker" type="text" name="enter_date" id="enter_date" placeholder="Enter date"> -->
	                                       <!--  <date-picker v-model="object.date_time" class="form-control" lang="en" placeholder="Enter date" type="datetime" :not-before="new Date()" format="DD-MM-YYYY hh:mm a" :time-picker-options="{ start: '08:00', step: '00:30', end: '17:00' }"
	                                        :class="{'is-invalid': errors.has('date_time') }"
	                                        v-validate="'required'"
	                                        data-vv-as="date time"
	                                        name="date_time"></date-picker> -->
	                                       <!--  <small class="has-error"
					                          v-show="errors.has('date_time')">
					                          {{ errors.first('date_time') }}
					                        </small> -->
					                        <select class="form-control" v-model="object.appointment_type_id"
	                                           data-vv-as="appointment type"
	                                          name="appointment_type_id"
	                                          :class="{'is-invalid': errors.has('appointment_type_id') }"
	                                           v-validate="'required'">
	                                             <option value="">Select Appointment Type</option>
                                                <option value="1">Initial assessment</option>
                                                 <option value="2">Follow up assessment - type 1</option>
                                                 <option value="3">Follow up assessment - type 2</option>
                                                 <option value="4">Telephone advice</option>
	                                         </select>
	                                    </div>
	                                    <a href="javascript:;" class="btn btn-primary btn-block book-appointment-btn" :class="{'show-spinner' : isLoading }" @click="checkAvailibilty">
	                                        <span>Availability</span>
	                                        <div class="loader"></div>
	                                    </a>
	                                    <div class="alert choose-doc-pre-seen text-center" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow" v-html="alertMsg">
                            			</div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                    <!-- <div class="form-footer">

	                    </div> -->
	                    <div class="form-footer">
	                        <!-- <button class="btn btn-warning btn-block choose-doc-pre-seen">
	                            <span>Choose Doctor previously Seen</span>
	                            <div class="loader"></div>
	                        </button> -->
	                        <router-link :to="{ name : 'BookAppointment' }" class="btn btn-warning btn-block choose-doc-pre-seen"> Book Appointment</router-link>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>


	<div class="section grey membership-section">
	    <div class="max-wrapper">
	        <div class="row custom-box-row">
	            <div class="col-xs-12 col-md-3  custom-col">
	                <div class="column benefits-req-column">
	                    <div class="inner">
	                       <h2 class="section-heading ">HAPPY CLINIC BENEFITS</h2>
	                       <div class="price-list">
	                            <ul class="list-unstyled">
	                                <li>Online appointments at a time convenient for you while at your home</li>
	                                <li>Specialist care and evidence based treatment from the outset</li>
	                                <li>No travel costs and risk of accidents. Also saves time</li>
	                                <li>Easy access to your psychiatrist</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-xs-12 col-md-3  custom-col">
	                <div class="column membership-column">
	                        <div class="inner">
	                            <h2 class="section-heading ">Membership</h2>
	                            <div class="price-value">
	                                <h2>
	                                    <span class="price-dollar">£</span>12<span>/ Month</span>
	                                </h2>
	                            </div>
	                            <div class="price-list">
	                              <ul class="list-unstyled">
	                                <li>Appointment fees: <strong>Low</strong></li>
	                                <li>From £30 per consultation</li>
	                                <!-- <li>Initial assessment:  <strong>£60</strong></li> -->
	                                <li>Monthly Repeat Prescriptions: <strong>Free</strong></li>
	                                <li><strong>Huge savings</strong> on initial and follow up assessments</li>
	                                <li><strong>Long-lasting care</strong></li>
	                            </ul>
	                        </div>
	                        <router-link :to="{ name: 'Membership'}"  class="btn btn-white">Get Membership</router-link>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xs-12 col-md-3  custom-col">
	                <div class="column membership-column pay-us-column">
	                        <div class="inner">
	                            <h2 class="section-heading ">Pay as you go</h2>
	                            <div class="price-value">
	                                <h2>
	                                    <span class="price-dollar">£</span>0<span>/ Month</span>
	                                </h2>
	                            </div>
	                            <div class="price-list">
	                              <ul class="list-unstyled">
	                                <li>Appointment fees: <strong>High</strong></li>
	                                <li>From £90 per consultation</li>
	                                <!-- <li>Initial assessment: <strong>£180</strong></li> -->
	                                <li><strong>No free</strong> repeat prescription service</li>
	                                <li>See a doctor every time you need a repeat prescription</li>
	                                <li>No monthly subscription </li>
	                            </ul>
	                        </div>
	                        <router-link :to="{ name: 'BookAppointment'}" class="btn btn-white"> Book Appointment</router-link>
	                    </div>
	                </div>
	            </div>

	            <div class="col-xs-12 col-md-3 custom-col">
	                <div class="column benefits-req-column">
	                    <div class="inner">
	                       <h2 class="section-heading ">MORE BENEFITS </h2>
	                        <div class="price-list">
	                            <ul class="list-unstyled">
	                                <li>Prescriptions issued</li>
	                                <li>User-friendly web app</li>
	                                <li>Access your records online</li>
	                                <li>Works on any device- Desktop, Laptop, Tablet or Mobile phone</li>
	                                <li>Less stress on carers, friends and family members as they do not have to accompany you to hospital</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	</div>
	</div>
	</div>

	<div class="section no-pad grey membership-section" style="display: none;">
	    <div class="middle-align">
	        <ul class="parallel-colmn">
	            <li></li>
	            <li>
	                <div class="middle-align">
	                    <div class="inner">
	                        <h2 class="section-heading ">Membership</h2>
	                        <div class="price-value">
	                            <h2>
	                                <span class="price-dollar">$</span>25<span>/ Month</span>
	                            </h2>
	                        </div>
	                        <div class="price-list">
	                          <ul class="list-unstyled">
	                            <li>Appointment length: <strong>unlimited</strong></li>
	                            <li>Additional 10 minute extensions: <strong>free</strong></li>
	                            <li>Prescription admin fee: <strong>free</strong></li>
	                            <li>Fit notes: <strong>free</strong></li>
	                            <li>Referrals: <strong>free</strong></li>
	                            <li>Personalised content</li>
	                        </ul>
	                    </div>
	                    <a href="javascript:;" class="btn btn-white">
	                        Get Membership
	                    </a>
	                </div>
	            </div>
	        </li>
	    </ul>
	</div>
	</div>

	<!--Doctors section -->
	<div class="section  doctors-section" v-if="doctorsList.length > 0">
	    <div class="max-wrapper">
	        <h2 class="section-heading text-center">Meet Our <span>Doctors</span></h2>
	        <p class="section-heading-detail center-heading"><i class="icon-check"></i> GMC-accredited consultants with prior NHS training. <i class="icon-check"></i> Carefully vetted by us to ensure that you receive the best possible care</p>
	            <carousel class="row doctors-slider"  style="overflow:hidden; " :autoplay="true" :nav="true" loop="true" :autoplayTimeout="5000" :autoplayHoverPause="true"  :margin="0" :responsive="{0:{items:1},600:{items:2},1000:{items:3}}" >
	                <div class="col-lg-12 col-md-12 md-mt-5" v-for="doctor,index in doctorsList" v-if="index <= 5">
	                	<router-link :to="{ name : 'DoctorProfileDetail', params : {id : doctor.id}}">
		                    <div class="team-member style-2 text-center">
		                      <div class="team-images">
		                        <!-- <img class="img-fluid" :src="$imageUrl+'dummy/1.jpg'" alt=""> -->
		                        <img class="img-fluid" :src="doctor.profile_pic_path" alt="Profile Image" v-if="doctor.user.profile_pic != ''">
		                        <img class="img-fluid" :src="$imageUrl+'avatar2.png'" alt="Profile Image" v-else>
			                    </div>
			                    <div class="team-description">
			                        <h5 class="mb-2">{{ doctor.title }}.{{ doctor.user.full_name }}</h5>
			                        <p>{{ doctor.specialty.name }}</p>
			                    </div>
		                	</div>
		                </router-link>
		            </div>
		            <!-- <div class="col-lg-12 col-md-12 md-mt-5">
		                <div class="team-member style-2 text-center">
		                  <div class="team-images">
		                    <img class="img-fluid" :src="$imageUrl+'dummy/2.jpg'" alt="">
		                </div>
		                <div class="team-description">
		                    <h5 class="mb-2">Dr. Matthew Doe</h5>
		                    <p>Cras ultricies ligula sed magna dictum porta, iste natus error sit voluptat</p>
		                </div>
			            </div>
			        </div>
			        <div class="col-lg-12 col-md-12  md-mt-5">
			            <div class="team-member style-2 text-center">
			              <div class="team-images">
			                <img class="img-fluid" :src="$imageUrl+'dummy/3.jpg'" alt="">
			            </div>
			            <div class="team-description">
			                <h5 class="mb-2">Dr. Romi Keely</h5>
			                <p>Cras ultricies ligula sed magna dictum porta, iste natus error sit voluptat</p>
			            </div>
				        </div>
				    </div>
				    <div class="col-lg-12 col-md-12  md-mt-5">
			            <div class="team-member style-2 text-center">
			              <div class="team-images">
			                <img class="img-fluid" :src="$imageUrl+'dummy/3.jpg'" alt="">
			            </div>
			            <div class="team-description">
			                <h5 class="mb-2">Dr. Romi Keely</h5>
			                <p>Cras ultricies ligula sed magna dictum porta, iste natus error sit voluptat</p>
			            </div>
				        </div>
				    </div>
				    <div class="col-lg-12 col-md-12  md-mt-5">
			            <div class="team-member style-2 text-center">
			              <div class="team-images">
			                <img class="img-fluid" :src="$imageUrl+'dummy/3.jpg'" alt="">
			            </div>
			            <div class="team-description">
			                <h5 class="mb-2">Dr. Romi Keely</h5>
			                <p>Cras ultricies ligula sed magna dictum porta, iste natus error sit voluptat</p>
			            </div>
				        </div>
				    </div> -->

		    </carousel>
		</div>
	</div>
	</div>




	<div class="section grey comparision-chart ">
	    <div class="max-wrapper">
	    <h2 class="section-heading text-center">What We <span>Provide</span></h2>
		    <div class="row">
		        <div class="col-xs-12 col-md-12">
		            <div class="table-responsive">
		                <table class="table table-bordered what-we-offer-table">
		                <thead>
		                      <tr>
		                        <th scope="col" rowspan="2" class="table-service-col row-middle-align" width="100">Services</th>
		                        <th scope="col" colspan="2" class="table-fees-col text-center" >Fees</th>
		                        <th scope="col" rowspan="2" class="table-description-col row-middle-align" width="350">Description</th>
		                        <th scope="col" rowspan="2" class="table-prescription-col row-middle-align" width="200">Prescription Issued</th>
		                    </tr>
		                    <tr>
		                        <th scope="row" width="120" class="text-center">Member</th>
		                        <th width="120" class="text-center">Pay as you go</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td><strong>Initial <br> Assessment</strong></td>
		                        <td class="text-center"><strong>£60</strong></td>
		                        <td class="text-center"><strong>£180</strong></td>
		                        <td>Assessment, diagnosis and formulation of treatment plan.<br> 
		                        Duration: 20 minutes </td>
		                        <td>Yes</td>
		                    </tr>
		                    <tr>
		                        <td><strong>Follow up <br>Assessment- <br>Type 1</strong></td>
		                        <td class="text-center"><strong>£30</strong></td>
		                        <td class="text-center"><strong>£90</strong></td>
		                        <td>For less complex conditions such as anxiety and depression etc. Your doctor will suggest the most suitable follow up appointment for you. <br>Duration: 10 minutes</td>
		                        <td>Yes</td>
		                    </tr>
		                    <tr>
		                        <td><strong>Follow up <br>Assessment- <br>Type 2</strong></td>
		                        <td class="text-center"><strong>£90</strong></td>
		                        <td class="text-center"><strong>£270</strong></td>
		                        <td>For complex conditions or if you want more time with the doctor. <br>Duration: 30 minutes</td>
		                        <td>Yes</td>
		                    </tr>
		                    <tr>
		                        <td><strong>Telephone  <br>Adivce</strong></td>
		                        <td class="text-center"><strong>£15</strong></td>
		                        <td class="text-center"><strong>£45</strong></td>
		                        <td>For general queries. If you need medication changes always choose a follow up assessment.  </td>
		                        <td>No</td>
		                    </tr>
		                    <tr>
		                        <td><strong>Health  <br>Records</strong></td>
		                        <td class="text-center"><strong>Free Access</strong></td>
		                        <td class="text-center"><strong>Free Access</strong></td>
		                        <td>Access your records online. We will never send any health records to your home address.</td>
		                        <td>Not Applicable</td>
		                    </tr>
		                    <tr>
		                        <td><strong>Repeat <br> Prescription Service</strong></td>
		                        <td class="text-center"><strong>Free</strong></td>
		                        <td class="text-center"><strong>Not Available</strong></td>
		                        <td>Never run out of medication. Prescription sent to your chosen pharmacy on a monthly basis regardless of appointment (only for members).</td>
		                        <td>Yes</td>
		                    </tr>
		                </tbody>
		            </table>
		            </div>
		             <p><span class="info-text">*</span>Fees may vary according to the speciality, skill and experience of the doctor. Please check this at the time of booking the appointment. </p>
		        </div>
		    </div>
	    </div>
	</div>


	<div class="section  our-promo-section">
    <div class="max-wrapper">
        <h2 class="section-heading text-center">WATCH OUR <span>VIDEO</span></h2>
        <p class="section-heading-detail center-heading">Happy Clinic explained. What we would like to say to you regarding how we can help</p>
            <div class="video-wrapper">
                <div class="video-cover">
<!--										<iframe class="indexVideo" src="https://www.youtube.com/embed/LNfAjzp6oXA" frameborder="0" allow="accelerometer; rel=0  picture-in-picture" allowfullscreen></iframe> -->
                    <!-- <img :src="$imageUrl+'video/cover.jpg'"> -->
                    <img :src="$imageUrl+'dummy/iStock-595143822.jpg'">
                    <div class="video-overlay"></div>
                    <div class="play-btn"><img :src="$imageUrl+'icons/play-button.svg'"></div>

                </div>
            </div>
        </div>
    </div>


<div class="section grey testimonial-section" v-if="testimonials.length > 0">
    <div class="max-wrapper">
            <h2 class="section-heading text-center">Testimonials</h2>
            <carousel class="testimonial-slides owl-theme" :autoplay="true" :nav="false" :loop="true" :margin="10" :autoplayTimeout="5000" :autoplayHoverPause="true" :responsive="{0:{items:1},600:{items:1},1000:{items:1}}" >
            	<li class="item" v-for="testimonial in testimonials">
                    <h2>{{ testimonial.patient.user.intitials }}
                    <span>{{ testimonial.patient.user.role }}</span>
                <span>{{ testimonial.created_at | moment('DD-MM-YYYY') }}</span></h2>
                    <div class='rating-stars text-center'>
					    <ul id='stars' style="text-align: center !important;">
					      <li class='star' :class="{'selected' : testimonial.rating >= '1'}" title='Bad' data-value='1'>
					        <i class='icon-star' ></i>
					      </li>
					      <li class='star' :class="{'selected' : testimonial.rating >= '2'}" title='Poor' data-value='2'>
					        <i class='icon-star'></i>
					      </li>
					      <li class='star' :class="{'selected' : testimonial.rating >= '3'}" title='Average' data-value='3'>
					        <i class='icon-star'></i>
					      </li>
					      <li class='star' :class="{'selected' : testimonial.rating >= '4'}" title='Good' data-value='4'>
					        <i class='icon-star'></i>
					      </li>
					      <li class='star' :class="{'selected' : testimonial.rating >= '5'}" title='Excellent' data-value='5'>
					        <i class='icon-star'></i>
					      </li>
					    </ul>
					  </div>

                    <p><router-link :to="{ name: 'Testimonial'}">{{ testimonial.text }}</router-link></p>
                </li>

            </carousel>
            <!-- <div class="slider-blts">
                <a href="javascript:;" class="active"></a>
                <a href="javascript:;" ></a>
                <a href="javascript:;" ></a>
            </div> -->
    </div>
</div>
	<footer-component></footer-component>
	</span>
</template>

<script type="text/javascript">
	import axios from 'axios';
	import DatePicker from 'vue2-datepicker'
	import carousel from 'v-owl-carousel'
	export default {
		components: {
            DatePicker, carousel,
        },
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        mounted() {
			var app = this;
			axios.get(app.$apiUrl+'doctors?limit=0')
            .then(function (resp) {
                app.doctorsList = resp.data.data.data;
            })
            .catch(function () {
            });

          		axios.get(app.$apiUrl+'specialties?limit=0&filter_by_complete_specialty_only=true')
              .then(function (resp) {
                  app.specialties = resp.data.data.data;
              })
              .catch(function () {
              });

            app.getTestimonials(1);
		},
		data: function () {
      return {
      	object : {
      		specialty_id : "",
	        doctor_id : "",
	        appointment_type_id : "",
	        /*date_time : "",*/
      	},
      	specialties : [],
      	doctors : [],
      	doctorsList : [],
      	isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
        testimonials : [],
        testimonial: {
            keyword: '',
            filter_by_status: 'approve',
        },
        pageCount: 0,
        totalTestimonials:0,
      }
    },
    methods : {
    	getDoctors() {
	        var app = this;
	        var params = {};
	        params.limit = 0;
	        params.filter_by_specialty = app.object.specialty_id;
	        axios({
	                method: 'get',
	                url: app.$apiUrl+'doctors',
	                params: params
	            })
	            .then(function (resp) {
	                app.doctors = resp.data.data.data;
	            })
	            .catch(function () {
	            });
	    },
    	checkAvailibilty:function(page) {
                var app = this;
                var newObj = app.object;

                this.$validator.validateAll().then(result => {
	                if (result) {
	                	/*if (newObj.date_time != '') {
		                    newObj.date_time = this.$moment(new Date(newObj.date_time)).format("YYYY-MM-DD HH:mm:ss");
		                }*/
		                app.isLoading = true;
		                axios({
		                    method: 'get',
		                    url: app.$apiUrl+'appointment/check-avail',
		                    params: newObj
		                })
		                .then(function (resp) {
		                	app.isLoading = false;
			              	app.isAlertShow = true;
		              		app.isSuccess = true;
			              	app.isError = false;
			              	app.alertMsg = resp.data.data;
			              	setTimeout(function() {
			              		app.errors.clear();
			              		app.isAlertShow = false;
			              	}, 5000);
		                })
		                .catch(function (resp) {
		                	 app.isLoading = false;
				              app.isAlertShow = true;
				              app.isSuccess = false;
				              app.isError = true;
				              app.alertMsg = '<i class="icon-info-circle"></i> Not Available.';
				              setTimeout(function() {
				              	app.isAlertShow = false;
				              }, 3000);
		                });
		            }
		        })
        },
        searchRec() {
            var app = this;
            app.isLoading = true;
            app.getAppointments(1);
        },
        showEditPopup:function(id, specialty_id)
        {
            var app = this;
            var appointment = {};
            appointment.id = id;
            appointment.specialty_id = specialty_id;
            EventBus.$emit('showEditPopup', appointment);
        },
        showCancelPopup:function(id)
        {
            var app = this;
            EventBus.$emit('showCancelPopup', id);
        },
        refreshList() {
        	var app = this;
            app.getAppointments(1);
        },
        getTestimonials:function(page) {
            var app = this;
            app.testimonial.page = page || 1;
            app.testimonial.limit = 5;
            axios({
                method: 'get',
                url: app.$apiUrl+'testimonials',
                params: app.testimonial
            })
            .then(function (resp) {
                app.search_spinner = false;
                app.totalTestimonials = resp.data.data.pagination.total;
                app.testimonials = resp.data.data.data;
                app.pageCount = resp.data.data.pagination.last_page;
            })
            .catch(function (resp) {
                app.search_spinner = false;
                app.testimonials = [];
                app.pageCount = 0;
                app.totalTestimonials = 0;
            });
        },
    },
}
</script>
<style>
	.rating-stars ul > li.star.selected > i.icon-star {
	    color: #00b67a !important;
	}

	.rating-stars ul > li.star.hover > i.icon-star {
	  color:#4af1ba !important;
	}
</style>
