<template>
    <div class="modal fade" id="addAttachementModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Attachments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                     {{alertMsg}}
                  </div>
            <div class="col-xs-12 col-md-12">
               <image-upload-component 
                input_id="file1"
                refUpload="upload1"
                label="Upload Documents"
                button_text="Upload Documents"
                type="documents"
                :fileArray="files1"
                :is_multiple="true"
                :is_preview="false"
                :accept="$accept"
                :extensions="$extensions"
                :maximum="4"
                :thread="4"
                :inputArray="attachments"
                :is_multidimensional_array="true"
                @fileAdded="setUploadedDoc"
                @fileRemoved="setUploadedDoc">   
                </image-upload-component>              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-primary btn-cons  pull-left inline" :class="{'show-spinner' : isLoading}"><span>Save</span><div class="loader"></div></button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
	import axios from 'axios';
  export default {
    props : ['patient'],
    data () {
      return {
        attachments : [],
        files1 : [],
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
        isAlertShow: false,
        
      }
    },
    methods : {
      submit() {
            var app = this;
            this.$validator.validateAll().then(result => {
              if (result) {
                if (app.attachments.length > 0) {
                  $(app.attachments).each(function(ind, ele) {
                    app.patient.attachments.push(ele);
                  });
                  app.isLoading = true;
                  axios({
                    method: 'patch',
                    url:app.$apiUrl+'patient/'+app.patient.id,
                    data:app.patient
                  })
                  .then(resp => {
                    app.isLoading = false;
                      app.isSuccess = true,
                      app.isError = false,
                      app.alertMsg = 'Attachment(s) has been added successfully';
                      app.isAlertShow = true;
                      setTimeout(function() {
                        $('#addAttachementModal').modal('hide');
                        app.attachments = [],
                        EventBus.$emit('attachmentAdded');
                        EventBus.$emit('CleanupFiles');
                        app.isAlertShow = false;
                      }, 3000);  
                      
                  })
                  .catch(function (resp) {
                     app.isLoading = false;
                     app.isSuccess = false,
                    app.isError = true,
                    app.isAlertShow = true;
                    app.alertMsg = 'Error occured';
                  });
                }
              }
            });    
        },
        setUploadedDoc(files) {
            this.attachments = files;
          },
        resetModal() {
            var app = this;
            app.isSuccess = false;
            app.isError = false;
            app.isLoading = false;
            app.isAlertShow = false;
            app.alertMsg = '',
            app.errors.clear();
          },
    }
  }

</script>

