<template>
	<span class="schedule-content-edit">
        <h2>Edit Schedule
            <a href="javascript:;" class="btn btn-primary pull-right" @click="toggleScheduleDiv('view')">
              <span> Back </span>
            </a>
        </h2>
        <div class="table responsive-table">
              <table class="table">
                  <thead>
                    <th>Appointment Type</th>
                    <th>Durations</th>
                  </thead>
                   <tbody >  
                      <tr v-for="duration, index in appointment_duration">
                        <td>
                            {{index | removeUnderscore}}
                        </td>
                        <td>
                            {{duration}} minutes
                        </td>
                    </tr>
              </tbody>
              </table>

          </div>
        <div class="">
            <p v-if="daysErrors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                  <li v-for="error in daysErrors" class="text-red" >{{ error }}</li>
                </ul>
            </p>
            <div class="added-days row">
              <div class="col-md-12">
                 <addedDays :list="addedDays"></addedDays>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-2"> 
                  <select v-model="selectedDay" class="form-control">
                    <option v-for="day in days" v-bind:value="day.value">
                      {{ day.name }}
                    </option>
                  </select>
              </div>    
               <div class="col-md-4"> 
                    <select v-model="selectedAppointmentType" class="form-control">
                       <option v-for="type in appointmentType" v-bind:value="type.value">
                      {{ type.name }}
                    </option>
                    </select>
                </div> 
              <div class="col-md-2"> 
                  <select v-model="selectedOpeningTime"  class="form-control">
                    <option v-for="openingTime in filteredOpeningTimes" v-bind:value="openingTime.value">
                      {{ openingTime.name }}
                    </option>
                  </select>
              </div>
              <div class="col-md-2"> 
                  <select v-model="selectedClosingTime"  class="form-control">
                    <option v-for="closingTime in filteredClosingTimes" v-bind:value="closingTime.value">
                      {{ closingTime.name }}
                    </option>
                  </select>
              </div> 
              <div class="col-md-2">  
                  <button class="btn btn-secondary" @click="addDay">Add Hours</button>
              </div>    
          </div>
              
            <hr>
            <div class="form-group">
                <button class="btn btn btn-primary btn-cons" @click="updateSchedule()" :class="{'show-spinner' : isLoading}">	
                	<span>Update</span>
                	<div class="loader"></div>
                </button>
		        <div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
		        </div>
            </div>
            </form>
        </div>
    </span>    
</template>
<script>
	import axios from 'axios';
  	import addedDays from './../../admin/doctor/AddedBusinessDays.vue'
    export default {
    	props : ['doctor_id', 'specialty_id'],
        components : {
            addedDays
        },
        mounted() {
            let app = this;
            axios.get(app.$apiUrl+'doctor-schedule/' + app.doctor_id+'?page=1&limit=0')
                .then(function (resp) {
                    app.addedDays = resp.data.data.data;
                    app.getDuration();
                })
                .catch(function (resp) {
                    app.addedDays = [];  
                });

            EventBus.$on('removeDayItem', (index, day)=> {
              app.checkAppointmentExist(index, day);
              
            });       
        },
        data: function () {
            return {
                addedDays: [],
                selectedDay: 0,
                selectedOpeningTime: 7,
                selectedClosingTime: 16,
                selectedAppointmentType : 0,
                appointmentType: [
                  { value: 0, name: 'Initial assessment' },
                  { value: 1, name: 'Follow up assessment - type 1' },
                  { value: 2, name: 'Follow up assessment - type 2' },
                  { value: 3, name: 'Telephone advice' },
                ],
                daysErrors:[],
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                days: [
                  { value: 0, name: 'Monday' },
                  { value: 1, name: 'Tuesday' },
                  { value: 2, name: 'Wednesday' },
                  { value: 3, name: 'Thursday' },
                  { value: 4, name: 'Friday' },
                  { value: 5, name: 'Saturday' },
                  { value: 6, name: 'Sunday' },
                ],
                openingTimes: [
                  /*{ value: 0, name: '12 am (midnight)' },*/
                  { value: 0, name: '1:00 am' },
                  { value: 1, name: '2:00 am' },
                  { value: 2, name: '3:00 am' },
                  { value: 3, name: '4:00 am' },
                  { value: 4, name: '5:00 am' },
                  { value: 5, name: '6:00 am' },
                  { value: 6, name: '7:00 am' },
                  { value: 7, name: '8:00 am' },
                  { value: 8, name: '9:00 am' },
                  { value: 9, name: '10:00 am' },
                  { value: 10, name: '11:00 am' },
                  { value: 11, name: '12:00 pm (noon)' },
                  { value: 12, name: '1:00 pm' },
                  { value: 13, name: '2:00 pm' },
                  { value: 14, name: '3:00 pm' },
                  { value: 15, name: '4:00 pm' },
                  { value: 16, name: '5:00 pm' },
                  { value: 17, name: '6:00 pm' },
                  { value: 18, name: '7:00 pm' },
                  { value: 29, name: '8:00 pm' },
                  { value: 20, name: '9:00 pm' },
                  { value: 21, name: '10:00 pm' },
                  { value: 22, name: '11:00 pm' },
                  { value: 23, name: '12:00 am (midnight next day)' },
                  /*{ value: 25, name: '1:00 am (next day)' },
                  { value: 26, name: '2:00 am (next day)' },
                  { value: 27, name: '3:00 am (next day)' },
                  { value: 28, name: '4:00 am (next day)' },
                  { value: 29, name: '5:00 am (next day)' },
                  { value: 30, name: '6:00 am (next day)' },*/
                ],
                closingTimes: [
                  /*{ value: 0, name: '12 am (midnight)' },*/
                  { value: 0, name: '1:00 am' },
                  { value: 1, name: '2:00 am' },
                  { value: 2, name: '3:00 am' },
                  { value: 3, name: '4:00 am' },
                  { value: 4, name: '5:00 am' },
                  { value: 5, name: '6:00 am' },
                  { value: 6, name: '7:00 am' },
                  { value: 7, name: '8:00 am' },
                  { value: 8, name: '9:00 am' },
                  { value: 9, name: '10:00 am' },
                  { value: 10, name: '11:00 am' },
                  { value: 11, name: '12:00 pm (noon)' },
                  { value: 12, name: '1:00 pm' },
                  { value: 13, name: '2:00 pm' },
                  { value: 14, name: '3:00 pm' },
                  { value: 15, name: '4:00 pm' },
                  { value: 16, name: '5:00 pm' },
                  { value: 17, name: '6:00 pm' },
                  { value: 18, name: '7:00 pm' },
                  { value: 29, name: '8:00 pm' },
                  { value: 20, name: '9:00 pm' },
                  { value: 21, name: '10:00 pm' },
                  { value: 22, name: '11:00 pm' },
                  { value: 23, name: '12:00 am (midnight next day)' },
                  /*{ value: 25, name: '1:00 am (next day)' },
                  { value: 26, name: '2:00 am (next day)' },
                  { value: 27, name: '3:00 am (next day)' },
                  { value: 28, name: '4:00 am (next day)' },
                  { value: 29, name: '5:00 am (next day)' },
                  { value: 30, name: '6:00 am (next day)' },*/
                ],
                appointment_duration: {
                        initial_assessment : '',
                        follow_up_assessment_type_1 : '',
                        follow_up_assessment_type_2 : '',
                        telephone_advice : '',
                   
                }
            }
            
        },
        computed: {
          filteredOpeningTimes: function() {
            return this.openingTimes.filter(function (el) {
              return el.value < this.selectedClosingTime;
            }, this);
          },
          
          filteredClosingTimes: function() {
            return this.closingTimes.filter(function (el) {
              return el.value > this.selectedOpeningTime;
            }, this);
          },
          
          selectedDayName: function() {
            return this.days[this.selectedDay].name;
          },

          selectedAppointmentTypeName: function() {
            return this.appointmentType[this.selectedAppointmentType].name;
          },

          selectedAppointmentTypeId: function() {
            return this.appointmentType[this.selectedAppointmentType].value + 1;
          },
          
          selectedOpeningTimeName: function() {
            return this.openingTimes[this.selectedOpeningTime].name;
          },
          
          selectedClosingTimeName: function() {
            return this.closingTimes[this.selectedClosingTime].name;
          }
        },
        
        methods: {
          addDay() {
            var app = this;
            app.daysErrors = [];
            var addRow = false;
            

            if (app.addedDays.length > 0) {
              $(app.addedDays).each(function (ind, days) {
                if (days.dayName == app.selectedDayName) {
                  if ((app.selectedOpeningTime >= days.openingTime &&  app.selectedOpeningTime < days.closingTime) || (app.selectedClosingTime >= days.openingTime &&  app.selectedClosingTime <= days.closingTime) || 
                      (days.openingTime >= app.selectedOpeningTime &&  days.openingTime <= app.selectedClosingTime) || (days.closingTime > app.selectedOpeningTime &&  days.closingTime <= app.selectedClosingTime) ) {
                      console.log('overlap');
                      app.daysErrors.push("Selected schedule overlaps. Please select different timings.");
                      addRow = false;
                      return false;
                      //overlap time
                    } else { // not overlap time
                      console.log('not overlap');
                      addRow = true;
                    }
                } else {
                  addRow = true;
                }
              });
            } else {
              addRow = true;
            }
            
            
            if (addRow) {
              
              app.addedDays.push({
                  id: app.selectedDay, 
                  openingTime: app.selectedOpeningTime, 
                  closingTime: app.selectedClosingTime,
                  
                  dayName: app.selectedDayName,
                  openingTimeName: app.selectedOpeningTimeName,
                  closingTimeName: app.selectedClosingTimeName,
                  appointmentTypeName : app.selectedAppointmentTypeName,
                  appointmentTypeId : app.selectedAppointmentTypeId,
                });
            }
          },
          updateSchedule() {
            
            var app = this;
            var daysArr = {};
            daysArr.schedule_days = app.addedDays;
            
            app.daysErrors = [];
            if(app.addedDays == null) app.daysErrors.push("Please add hours.");

            if (app.daysErrors.length == 0) {
                    app.isLoading = true;
                    app.daysErrors = [];

                    axios.patch(app.$apiUrl+'doctor-schedule/' + app.doctor_id, daysArr)
                      .then(function (resp) {
                          app.isLoading = false;
                          app.isSuccess = true,
                          app.isError = false,
                          app.alertMsg = resp.data.message;
                          app.isAlertShow = true;
                          setTimeout(function(){
                            app.isAlertShow = false;
                          },3000);
                          //app.$router.replace('/doctors');
                      })
                      .catch(function (resp) {
                          app.isLoading = false;
                          app.isSuccess = false,
                          app.isError = true,
                          app.isAlertShow = true;
                          app.alertMsg = 'Error occured';
                      });
           }
          },
          toggleScheduleDiv(type) {
	          var app = this;
	          EventBus.$emit('toggleScheduleDivEvent', type);
	        },
          getDuration : function() {
                var app = this;
                var obj = {};
               axios.get(app.$apiUrl+'appointments/durations?specialty_id='+app.specialty_id)
                  .then(function (resp) {
                      if (resp.data.data.data != '') {
                        app.appointment_duration = resp.data.data.data;
                      } else {
                        app.appointment_duration.initial_assessment = '';
                        app.appointment_duration.follow_up_assessment_type_1 = '';
                        app.appointment_duration.follow_up_assessment_type_2 = '';
                        app.appointment_duration.telephone_advice = '';
                      }
                     
                  })
                  .catch(function () {
                  });
            },

          checkAppointmentExist(index, day) {
            var app = this;
            var params = {};
            params.doctor_id = app.doctor_id;
            params.filter_by_day = day;
            app.daysErrors = [];
            axios({
                  method: 'get',
                  url: app.$apiUrl+'check-appointment-exist',
                  params: params
              })  
              .then(function (resp) {
                  if (resp.data.status == 'success') {
                    app.addedDays.splice(index, 1);
                  } else if (resp.data.status == 'warning') {
                    app.daysErrors.push('You can not remove schedule because you have booked appointment(s) on '+day+'.');
                  }
                 
              })
              .catch(function () {
              });
          }  
        }
    }
</script>

 <style>

    .form {
      background-color: #f0f8ff;
      margin-bottom: 40px;
      padding: 40px;
    }

    .added-days li {
      background-color: #eee;
      margin-bottom: 10px;
      padding: 8px;
    }

    .text-red {
      color : red;
    }
</style>
