<template>
  <div class="account-tab-content document-tab-content ">
    <h2>Send Document</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>Select Patient</label>
          <select class="form-control" v-model="object.patient_id"
          name="patient"
                    :class="{'is-invalid': errors.has('patient') }"
                    v-validate="'required'">
            <option value="">Select Patient</option>
            <option v-for="patient in patients" :value="patient.id">{{patient.user.full_name}}</option>
          </select>
          <small class="has-error"
                    v-show="errors.has('patient')">
                    {{ errors.first('patient') }}
                  </small> 
        </div>
         <image-upload-component 
          input_id="file2"
          refUpload="upload2"
          label="Upload Documents"
          button_text="Upload Documents"
          type="documents"
          :fileArray="files2"
          :is_multiple="true"
          :is_preview="false"
          :accept="$accept"
          :extensions="$extensions"
          :maximum="4"
          :thread="4"
          :inputArray="object.documents"
          :is_multidimensional_array="false"
          @fileAdded="setUploadedDoc"
          @fileRemoved="setUploadedDoc">   
          </image-upload-component>
        <div class="clearfix"></div>
        <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading }" @click="sendDocument">
          <span>Send</span>
          <div class="loader"></div>
        </button>
        <div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
            </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
    import axios from 'axios';
    export default {
      props : ['myprop', 'doctor_id'],
        watch: { 
            myprop: function(newVal, oldVal) { // watch it
              if (newVal == '.document-tab-content') {
                
                var app = this;
                if (app.patients.length == 0) {
                  var params = {};
                  params.limit = 0;
                  params.filter_by_doctor_id = app.doctor_id;
                  axios({
                    method : 'get',
                    url : app.$apiUrl+'patients',
                    params : params
                  })
                  .then(function (resp) {
                      app.patients = resp.data.data.data;
                  })
                  .catch(function () {
                  });  
                } 
              } 
            }
          },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },  
        mounted() {
        },
        data: function () {
            return {
              object : {
                patient_id : '',
                doctor_id : '',
                documents : [],
              },
                patients: [],
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                files2 : [],
            }   
        },
        methods : {
          setUploadedDoc(files) {
              this.object.documents = files;
          },
          sendDocument () {
            var app = this;
            var newObject = app.object;
             this.$validator.validateAll().then(result => {
                if (result) {
                    newObject.doctor_id = app.$loggedInUser.doctor_id;
                    app.isLoading = true;
                    
                    axios({
                      method: 'post',
                    url: app.$apiUrl+'doctor/send-documents',
                      data:newObject
                    })
                    .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.isAlertShow = true;
                            app.alertMsg = 'Document(s) has been sent successfully.';
                            app.object.documents = [];
                            app.object.patient_id = '';
                            app.files2 = [];
                            app.$nextTick(() => app.$validator.reset())
                            setTimeout(function() {
                              app.isAlertShow = false;
                              EventBus.$emit('CleanupFiles');
                            }, 3000);
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += '<p>'+value+'</p>';
                              }); 
                              app.alertMsg = messages;           
                            }
                             
                        });
                }        
            })
          },
        }     
    }
</script>  