<template>
    <div class="account-tab-content info-tab-content">
        <h2>Edit Personel Info</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group">
                            <label>Mobile</label>
                            <masked-input mask="111-1111-1111" type="tel"  name="mobile_number" class="form-control" 
                            placeholder="Enter mobile number"
                           :class="{'is-invalid': errors.has('mobile_number') }"
                              v-model="doctor.user.mobile_number"
                              data-vv-as="mobile number"
                              v-validate="'required'"/>
                              <small class="has-error"
                              v-show="errors.has('mobile_number')">
                              {{ errors.first('mobile_number') }}
                            </small>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group">
                            <label>Home Telephone number</label>
                             <input type="text" class="form-control" name="telephone_number" placeholder="7111123456"
                             :class="{'is-invalid': errors.has('telephone_number') }"
                                v-model="doctor.telephone_number"
                                v-validate="'required|numeric'" >
                              {{ errors.first('address_first_line') }}
                            <small class="has-error"
                              v-show="errors.has('address_first_line')">
                              {{ errors.first('telephone_number') }}
                            </small>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group">
                            <label>Home Address</label>
                            <textarea row="4" name="home_address" class="form-control" 
                               placeholder="Enter home address"
                               :class="{'is-invalid': errors.has('home_address') }"
                                  v-model="doctor.home_address"
                                  v-validate="'required'"
                                  data-vv-as="home address" style="height: 120px !important;">
                              </textarea>   
                                  <small class="has-error"
                                  v-show="errors.has('home_address')">
                                  {{ errors.first('home_address') }}
                                </small>
                        </div>
                    </div>    
                </div>    
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group">
                            <label>Work Address</label>
                             <textarea row="4" name="work_address" class="form-control" 
                               placeholder="Enter home address"
                               :class="{'is-invalid': errors.has('work_address') }"
                                  v-model="doctor.work_address"
                                  v-validate="'required'"
                                  data-vv-as="work address" style="height: 120px !important;">
                             </textarea>
                                  <small class="has-error"
                                  v-show="errors.has('work_address')">
                                  {{ errors.first('work_address') }}
                                </small>
                        </div>
                    </div>    
                </div> 
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group">
                            <label>Bank Name</label>
                             <input type="text" name="bank_name" class="form-control" 
                               placeholder="Enter bank name"
                               :class="{'is-invalid': errors.has('bank_name') }"
                                  v-model="doctor.bank_name"
                                  v-validate="'required|alpha_spaces'"
                                  data-vv-as="bank name">
                                  <small class="has-error"
                                  v-show="errors.has('bank_name')">
                                  {{ errors.first('bank_name') }}
                                </small>
                        </div>
                    </div>    
                </div> 
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group">
                            <label>Account Number</label>
                             <input type="text" name="account_number" class="form-control" 
                               placeholder="Enter account number"
                               :class="{'is-invalid': errors.has('account_number') }"
                                  v-model="doctor.account_number"
                                  v-validate="'required'"
                                  data-vv-as="account number">
                                  <small class="has-error"
                                  v-show="errors.has('account_number')">
                                  {{ errors.first('account_number') }}
                                </small>
                        </div>
                    </div>    
                </div> 
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group">
                            <label>Sort Code</label>
                              <masked-input class="form-control" mask="11-11-11" type="tel" name="sort_code"
                              placeholder="11-22-33"
                              :class="{'is-invalid': errors.has('sort_code') }"
                              v-model="doctor.sort_code"
                               v-validate="'required'"
                              data-vv-as="sort code" />    
                                  <small class="has-error"
                                  v-show="errors.has('sort_code')">
                                  {{ errors.first('sort_code') }}
                                </small>
                        </div>
                    </div>    
                </div> 
                <div class="clearfix"></div>
                <div class="form-group mt-20">
                     <div class="checkbox">
                      <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
                            <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
                    </div>
                </div>                      
                <div class="clearfix"></div>
                <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="update">
                        <span>Update</span>
                        <div class="loader"></div>
                </button>
                <div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import axios from 'axios';
    export default {
        props  : ['doctor'],
        mounted() {
            var app = this;
        },
        data: function () {
      return {
        doctorData: {
            user : {
              first_name: '',
              last_name: '',
              gender: "male",
              email: '',
              password: '',
              mobile_number: '',
              profile_pic: '',
              role: 'doctor',
            },
            title: '',
            dob : '',
            telephone_number : '',
            home_address : '',
            work_address : '',
        },
        terms_consent : false,
        privacy_policy_consent : false,
        isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
      }
    },
    methods : {
        update () {
          var app = this;
          app.isLoading = true;
          app.doctorData = app.doctor;
          this.$validator.validateAll().then(result => {
                if (result) {
                  axios.patch(app.$apiUrl+'doctor/'+app.doctor.id, app.doctorData)
                  .then(function (resp) {
                      app.isLoading = false;
                      app.isAlertShow = true;
                      app.isSuccess = true;
                      app.isError = false;
                      app.alertMsg = 'Personal Information has been updated successfully';

                  })
                  .catch(function (error) {
                      app.isLoading = false;
                        app.isSuccess = false,
                        app.isError = true,
                        app.isAlertShow = true;
                        app.alertMsg = 'Error occured';
                        var jsonResponse =error.response.data.errors;
                        if(jQuery.type(jsonResponse) == 'object')
                        {
                          var messages = '';
                          $.each( jsonResponse, function( key, value ) {
                            messages += '<p>'+value+'</p>';
                          }); 
                          app.alertMsg = messages;           
                        }
                  });
                }
            })      
        }
    }  
    }
</script>