<template>
    <div class="account-tab-content appointments-tab-content active">
        <h2>My Appointments</h2>
     <c-spinner v-if="isPageLoading"></c-spinner>
        <div class="row" v-if="!isPageLoading">
            <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label>Filter By Type</label>
          <select class="form-control" v-model="appointment.filter_by_type" placeholder="Filter By Type">
            <option value="">All</option>
                     <option value="1">Initial assessment</option>
                     <option value="2">Follow up assessment - type 1</option>
                     <option value="3">Follow up assessment - type 2</option>
                     <option value="4">Telephone advice</option>
          </select>          
        </div>
            </div>
            <!-- <div class="col-xs-12 col-md-4">
        <div class="form-group">
                <label>Filter By Specialty</label>
                <select class="form-control" v-model="appointment.filter_by_specialty_id" placeholder="Filter By Specialty">
                     <option value="">All</option>
                     <option v-for="specialty in specialties" :value="specialty.id">{{specialty.name}}</option>
                </select>
             </div>
      </div>
            <div class="col-xs-12 col-md-4">
      <div class="form-group">
                <label>Filter By Doctor</label>
                <select class="form-control" v-model="appointment.filter_by_doctor_id" placeholder="Filter By Doctor">
                     <option value="">All</option>
                     <option v-for="doctor in doctors" :value="doctor.id">{{doctor.user.full_name}}</option>
                </select>
            </div>
      </div> --> 
            
            <div class="col-xs-12 col-md-4">
        <div class="form-group">
                <label>Filter By Status</label>
                <select class="form-control" v-model="appointment.filter_by_status" placeholder="Filter By Status">
                     <option value="">All</option>
                     <option value="booked">Booked</option>
                     <option value="completed">Completed</option>
                     <option value="cancelled">Cancelled</option>
                </select>
            </div>
      </div>
            <div class="col-xs-12 col-md-4">
      <div class="form-group">
                <label>Filter By Date Range</label>
                 <date-picker v-model="appointment.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY"></date-picker>
            </div>
      </div>
            
            <div class="col-xs-12 col-md-2">
                <button class="btn btn-primary filter-search btn-block" :class="{'show-spinner' : isLoading}" 
                @click="searchRec" >
                    <span>Search</span>
                    <div class="loader"></div>
                </button>
            </div>
        </div>
        <div class="table responsive-table" v-if="!isPageLoading">
            <table class="table my-appointment-table">
                <thead>
                  <th>Date Time</th>
                  <th>Type</th>
                  <th>Patient</th>
                  <th>Specialty</th>
                  <th>Status</th>
                  <th>Action</th>
                </thead>
                <tbody id="user_listing">
                    <template v-if="appointments.length > 0">  
                        <tr v-for="appointment, index in appointments" >
                            <td width="20%">{{ appointment.date_time | moment("DD-MM-YYYY, h:mm a") }}</td>
                            <td>{{ appointment.appointment_type.name }}</td>
                            <td>{{ appointment.patient.title }}.{{ appointment.patient.user.full_name }}</td>                                    
                          <td>{{ appointment.doctor.specialty.name }}</td>
                          <td>{{ appointment.status }}</td>
                          <td class="action-table-col">
                            <router-link :to="{name : 'MainAssessment', params: {id: appointment.encrypted_id}}" v-if="appointment.status == 'booked'" class="btn btn-primary" target="_blank" :class="{'disabled' : !appointment.isStartTime}">Start Assessment
                            </router-link>
                          </td>
                        </tr>
                    </template>
                    <template v-else> 
                        <tr>
                            <td colspan="10">
                                <div class="blank-data">
                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                    <h3>Nothing Here Yet!</h3>
                                    <p>Did not find anything .. try again.</p>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
      <div class="row col-md-12">
          <div>
            <div class="dataTables_paginate paging_simple_numbers">
              <paginate
                :page-count="appointment.pageCount"
                :page-range="3"
                :margin-pages="1"
                :click-handler="getAppointments"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'"
                :page-class="'page-item'">
              </paginate>
            </div>
              </div>
          </div>
        </div>
        
    </div>
</template>
<script type="text/javascript">
    import axios from 'axios';
    import DatePicker from 'vue2-datepicker'
    export default {
         components: {
            DatePicker
        },
        props  : ['doctor_id', 'myprop'],
    watch: { 
        myprop: function(newVal, oldVal) { // watch it
          if (newVal == '.appointments-tab-content') {
            var app = this;
            if (app.appointments.length == 0) {
              axios.get(app.$apiUrl+'doctors?limit=0')
                .then(function (resp) {
                    app.doctors = resp.data.data.data;
                })
                .catch(function () {
                });

              axios.get(app.$apiUrl+'specialties?limit=0')
                  .then(function (resp) {
                      app.specialties = resp.data.data.data;
                  })
                  .catch(function () {
                  });    
              app.getAppointments();
            } 
          } 
        }
      },
      beforeDestroy () {
        clearInterval(this.appointmentIntervalTime);
      },
        mounted() {
            var app = this;
            axios.get(app.$apiUrl+'doctors?limit=0')
              .then(function (resp) {
                  app.doctors = resp.data.data.data;
              })
              .catch(function () {
              });

            axios.get(app.$apiUrl+'specialties?limit=0&filter_by_complete_specialty_only=true')
                .then(function (resp) {
                    app.specialties = resp.data.data.data;
                })
                .catch(function () {
                });  
            app.getAppointments();
            this.appointmentIntervalTime = setInterval(function(){ 
              app.getAppointments();
            }, 120000); // 2 minutes
        },
        data: function () {
      return {
        isLiActive : false,
        specialties : [],
        doctors : [],
        appointments: [],
        appointment: {
            filter_by_is_archived :'0',
            filter_by_type: '',
            filter_by_status: '',
            filter_by_is_member: '',
            filter_by_date_range: [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ],
            filter_by_doctor_id :  '',
            filter_by_specialty_id : '',
            filter_by_patient_id :'',
            pageCount: 0,
            totalAppointments:0,
            search_spinner:false,
        },
        isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
        isPageLoading : true,
        appointmentIntervalTime : null,
        shortcuts: [
            {
              text: 'Previous 7 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
              }
            },
            {
              text: 'Previous 30 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
              }
            },
            {
              text: 'Next 7 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
              }
            },
            {
              text: 'Next 30 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
              }
            },
        ],
      }
    },
    methods : {
        getAppointments:function(page) {
                var app = this;
                app.appointment.page = page || 1;
                app.appointment.limit = 10;
                app.appointment.filter_by_doctor_id = app.doctor_id;
                if (app.appointment.filter_by_date_range != '') {
                  if (app.appointment.filter_by_date_range[0] != null) {
                    var dateTime = new Date(app.appointment.filter_by_date_range[0]);
                    app.appointment.filter_by_date_range[0] = this.$moment(dateTime).format("YYYY-MM-DD");
                  } 

                  if (app.appointment.filter_by_date_range[1] != null) {
                    var dateTime = new Date(app.appointment.filter_by_date_range[1]);
                    app.appointment.filter_by_date_range[1] = this.$moment(dateTime).format("YYYY-MM-DD");
                  } 
                  
                }
                
                axios({
                    method: 'get',
                    url: app.$apiUrl+'appointments',
                    params: app.appointment,
                })
                .then(function (resp) {
                    app.isLoading = false;
                  app.isPageLoading = false;
                    app.appointment.totalAppointments = resp.data.data.pagination.total;
                    app.appointments = resp.data.data.data;
                    app.appointment.pageCount = resp.data.data.pagination.last_page;
                    
                })
                .catch(function (resp) {
                    app.isLoading = false;
                   app.isPageLoading = false;
                    app.appointments = [];  
                    app.appointment.pageCount = 0;
                    app.appointment.totalAppointments = 0;
                });
        },
        searchRec() {
            var app = this;
            app.isLoading = true;
            app.getAppointments(1);
        },
        showEditPopup:function(id, specialty_id)
        {
            var app = this;
            var appointment = {};
            appointment.id = id;
            appointment.specialty_id = specialty_id; 
            EventBus.$emit('showEditPopup', appointment);
        },  
        showCancelPopup:function(id)
        {
            var app = this;
            EventBus.$emit('showCancelPopup', id);
        }, 
        refreshList() {
            var app = this;
            app.getAppointments(1);
        }       
    },
}
</script>