<template>
  <div class="account-tab-content labform-tab-content">
    <h2>Send Lab Form</h2>
    <div class="row">
      <div class="col-xs-12 col-md-5">
          <div class="form-group">
            <label>Select Patient</label>
           <!--  <select class="form-control" v-model="labforms.patient_id"
            name="patient"
              :class="{'is-invalid': errors.has('patient') }"
              v-validate="'required'" @change="getPatient()">
              <option value="">Select Patient</option>
              <option v-for="patient in patients" :value="patient.id">{{patient.user.full_name}}</option>
            </select> -->
             <vue-select class="vue-select2" name="select2" 
                    :options="patients" 
                    :searchable="true" 
                    language="en-US"
                    placeholder="Select Patient or Search By Name"
                    v-model="labforms.patient_id"
                    v-validate="'required'"
                    @input="getPatient()"
                    >
            </vue-select>
            <small class="has-error"
              v-show="errors.has('patient')">
              {{ errors.first('patient') }}
            </small> 
          </div>
        </div>
        
      </div>   
      <template v-if="appointmentData.patient != ''">
        <div class="row">
          <div class="col-xs-12 col-md-6">
              <div class="form-group">
                  <label class=""></label>
                  <p></p>
              </div>
              <p class="dark-text"><strong>Membership:</strong> {{ (appointmentData.patient.is_member == '1') ? 'Yes' : 'No' }}</p>
          </div>
          <div class="col-xs-12 col-md-6" v-if="appointmentData.patient.is_member == '1' && appointmentData.patient.subscription != null">
              <div class="form-group">
                  <label class=""></label>
                  <p></p>
              </div>
              <p class="dark-text"><strong>Start Date of Membership:</strong> {{ appointmentData.patient.subscription.subscription_date | moment('DD-MM-YYYY') }}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-12">
              <div class="section-separater"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-12">
              <template v-if="appointmentData.patient.rbt != null">
                  <p class="info-text" v-if="appointmentData.patient.rbt.status == 'deactivated'">
                      <i class="icon-info-circle"></i> Please activate repeat blood test service before adding repeat tests. 
                  </p>
              </template>
              <template v-else>
                <p class="info-text">
                      <i class="icon-info-circle"></i> Please activate repeat blood test service before adding repeat tests. 
                  </p>
              </template>
          </div>        
          <div class="col-xs-12 col-md-4">
              <div class="form-group">
                  <template v-if="appointmentData.patient.rbt != null">
                      <label class="" v-if="appointmentData.patient.rbt.status == 'activated'">
                               Repeat (Monthly Date: {{ appointmentData.patient.rbt.upcoming_test_date | moment('DD-MM-YYYY') }}<a href="javascript:;" data-toggle="modal" data-target=".repeat-date-modal"> Edit</a> )
                      </label>
                      <label class="" v-else>Repeat (Deactivated)<a href="javascript:;" data-toggle="modal" data-target=".repeat-date-modal"> Edit</a> )</label>
                  </template>
                  <template v-else>
                      <label class="">Repeat (Deactivated)<a href="javascript:;" data-toggle="modal" data-target=".repeat-date-modal"> Edit</a> )</label>
                  </template>
              </div>
              <div class="card test-card-pad" style="height: 180px">
                  <div class="">
                    <table class="table">
                        <thead class="thead-light"> 
                            <tr>
                                <th>Test Name</th>
                                <th>Order Date</th>
                            </tr>
                        </thead>
                            <template v-if="lab_records.length > 0">
                                    <template v-for="rec, index in  lab_records">

                                    <tbody>
                                        <tr v-for="detail, ind in  rec.details">
                                            <template v-if="detail.status == 'repeat'">
                                                <td>{{ detail.test }}</td>
                                                <td >{{ detail.started_at_date | moment("DD-MM-YYYY")}}</td>
                                            </template>
                                            </tr>
                                        </tbody>
                                    </template>
                            </template>
                    </table>
                </div>
                  
              </div>
          </div>
          <div class="col-xs-12 col-md-4">    
              <div class="form-group">
                  <label class="">Single</label>
              </div>
              <div class="card test-card-pad" style="height: 180px">
                    <div class="">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Test Name</th>
                                    <th>Order Date</th>
                                </tr>
                            </thead>
                                <template v-if="lab_records.length > 0">
                                    <template v-for="rec, index in  lab_records">
                                        <tbody>
                                            <tr v-for="detail, ind in  rec.details">
                                                <template v-if="detail.status == 'single'">
                                                    <td>{{ detail.test }}</td>
                                                    <td >{{ detail.started_at_date | moment("DD-MM-YYYY")}}</td>
                                                </template>
                                                </tr>
                                            </tbody>
                                    </template>
                                </template>
                        </table>
                    </div>
              </div>
          </div>    
          <div class="col-xs-12 col-md-4">                             
              <div class="form-group">
                  <label class="">Stopped</label>
              </div>
              <div class="card test-card-pad" style="height: 180px">
                    <div class="">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Test Name</th>
                                    <th>Stopped Date</th>
                                </tr>
                            </thead>
                                <template v-if="lab_records.length > 0">
                                    <template v-for="rec, index in  lab_records">
                                        <tbody>
                                            <tr v-for="detail, ind in  rec.details">
                                                <template v-if="detail.status == 'stopped'">
                                                    <td>{{ detail.test }}</td>
                                                    <td >{{ detail.stopped_at_date | moment("DD-MM-YYYY")}}</td>
                                                </template>
                                                </tr>
                                            </tbody>
                                    </template>
                                </template>
                        </table>
                    </div>
                </div>                         
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-12">
              <div class="section-separater"></div>
          </div>
      </div>
      
      <template v-if="labforms.details.length > 0">
          <div class="row test-divs" v-for="detail, index in  labforms.details">
              <template v-if="detail.is_stopped != '1'">
                      <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                          <label>Name of test</label>
                          <select class="form-control" v-model="detail.test"
                          :class="{'is-invalid': errors.has('labform.test'+index) }"
                          v-validate="'required'" :name="'test'+index"
                          data-vv-as="test"
                          data-vv-scope="labform"
                          >
                              <option value="">Select Test</option>
                              <option value="FBC">FBC</option>
                              <option value="LFT">LFT</option>
                              <option value="TFT">TFT</option>
                              <option value="CBC">CBC</option>
                          </select>
                           <small class="has-error"
                            v-show="errors.has('labform.test'+index)">
                            {{ errors.first('labform.test'+index) }}
                          </small>  
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                          <label>Sample</label>
                          <select class="form-control" v-model="detail.sample" :class="{'is-invalid': errors.has('labform.sample'+index) }"
                          v-validate="'required'" :name="'sample'+index"
                          data-vv-as="sample"
                          data-vv-scope="labform">
                              <option value="">Select Sample</option>
                              <option value="blood">Blood</option>
                              <option value="serum">Serum</option>
                          </select>
                          <small class="has-error"
                            v-show="errors.has('labform.sample'+index)">
                            {{ errors.first('labform.sample'+index) }}
                          </small>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                          <label>Additional Info</label>
                          <input type="" name="" class="form-control" v-model="detail.additional_info"
                          :class="{'is-invalid': errors.has('labform.additional_info'+index) }"
                          v-validate="'required'" :name="'additional_info'+index"
                          data-vv-as="additional info"
                          data-vv-scope="labform">
                          <small class="has-error"
                            v-show="errors.has('labform.additional_info'+index)">
                            {{ errors.first('labform.additional_info'+index) }}
                          </small>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3">
                     <button class="pull-right remove-icon" @click="removeTest(index)"><i class="icon-remove"></i></button>
                      <div class="form-group">
                          <label></label> 
                          <div class="clearfix"></div> 
                              <div class="radio custom-radio btn-inline-block">
                                  <label>
                                      <input type="radio" value="single" :name="'radio-'+index"  v-model="detail.status"> 
                                      <span class="radio-circle"></span>
                                      Single
                                  </label>
                              </div> 
                              <div class="radio custom-radio btn-inline-block">
                                  <label>
                                    <template v-if="appointmentData.patient.rbt != null">
                                      <input type="radio" value="repeat" :name="'radio-'+index" v-model="detail.status" :disabled="appointmentData.patient.rbt.status == 'deactivated' ? true : false" > <span class="radio-circle"></span>
                                      Repeat
                                    </template>
                                    <template v-else>
                                      <input type="radio" value="repeat" :name="'radio-'+index" v-model="detail.status" disabled="true"> <span class="radio-circle"></span>
                                      Repeat
                                    </template>
                                      
                                  </label>
                              </div>
                              <div class="radio custom-radio btn-inline-block">
                                  <label>
                                      <input type="radio" value="stopped" :name="'radio-'+index" v-model="detail.status"> <span class="radio-circle"></span>
                                      Stopped
                                  </label>
                              </div>
                      </div>                                
                  </div>
                  <div class="col-xs-12 col-md-12">
                      <div class="section-separater"></div>
                  </div>
              </template>
          </div>

      </template>
      <div class="row">
          <div class="col-xs-12 col-md-12">
              <button class="btn btn-primary pull-right" @click="addMoreTest()"><i class="icon-plus"></i> Add More</button>
          </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" :class="{'show-spinner' : isLabLoading}" @click="submitLabForm">
            <span>Submit</span>
            <div class="loader"></div>
        </button>
      </div>
      
      <template v-if="appointmentData.patient != ''">
         <repeatDate :patient_id="appointmentData.patient_id" :repeat_date="appointmentData.patient.rbt.upcoming_test_date" :status="appointmentData.patient.rbt.status" v-if="appointmentData.patient.rbt != null"></repeatDate>
      </template>
      </template>
      <div class="row">
         <div class="alert" v-bind:class="{'alert-success': lab_record.isSuccess, 'alert-danger':lab_record.isError}" role="alert" id="user_msg" v-if="lab_record.isAlertShow" v-html="lab_record.alertMsg">
        </div>
      </div>
      
  </div>
</template>
<script type="text/javascript">
    import axios from 'axios';
    import repeatDate from './../patient-assessement/RepeatDate.vue';
    export default {
      props : ['myprop', 'doctor_id'],
      components : {
        repeatDate
      },
        watch: { 
            myprop: function(newVal, oldVal) { // watch it
              if (newVal == '.labform-tab-content') {
                var app = this;
                if (app.lab_records.length == 0) {
                  //app.getLabRecords();
                }
                if (app.patients.length == 0) {
                  app.getPatients(); 
                } 
              } 
            }
          },
        mounted() {   
          var app = this;
        },
        data: function () {
            return {
              isLoading:false,
              patients : [],
              lab_records: [], 
              lab_record: {
                  filter_by_patient_id : '',
                  pageCount: 0,
                  totalRecords:0,
                  isAlertShow: false,
                  isSuccess:false,
                  isError:false,
                  alertMsg:'',
              },
              labforms : {
                  keyword : '',
                  doctor_id : '',
                  patient_id : '',
                  appointment_id : '',
                  sent_date : '',
                  details : [
                    /*{
                      test: '',
                      sample : '',
                      additional_info: '',
                      status : '',
                    }*/
                  ],

              },
              isLabLoading : false,
              appointmentData : {
                id : 0,
                doctor_id : this.doctor_id,
                patient_id : '',
                patient : '',
              },
            }   
        },
        methods : {
            inputFile(newFile, oldFile) {
            if (newFile && !oldFile) {
              
              if (newFile.data.type == 'documents') {
                if (!this.$refs.upload2.active) {
                    //this.isUploading = true;
                    this.$refs.upload2.active = true;
                }
              }
                 
            }
            if (newFile && oldFile) {
              // update
              if (newFile.response.name != undefined) {
                if (newFile.data.type == 'documents') {
                    if(jQuery.inArray(newFile.response.name, this.object.documents) !== -1) {
                    } else {
                      this.object.documents.push(newFile.response.name);
                    }
                }
              }
            }
          },
          inputFilter(newFile, oldFile, prevent) {
              if (newFile && !oldFile) {
                // Before adding a file
                // Filter system files or hide files
                if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                  return prevent()
                }
                // Filter php html js file
                if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                  return prevent()
                }
              }
              if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                newFile.url = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                  newFile.url = URL.createObjectURL(newFile.file)
                }
              }
            },
          removeFile(type, array, index) {
            array.splice(index, 1);
            if (type == 'documents') {
              this.object.documents.splice(index, 1);
            }
          },
          addMoreTest() {
              var app = this;
              let detail = {};
              detail.id = '';
              detail.test = '';
              detail.sample = '';
              detail.additional_info = '';
              detail.status = 'single';
              app.labforms.details.push(detail);
          },
          removeTest(index) {
              var app = this;
              app.labforms.details.splice(index, 1);
          },
          submitLabForm() {
              var app = this;
              this.$validator.validateAll('labform').then(result => {
                  if (result) {
                      app.labforms.appointment_id = app.appointmentData.id;
                      app.labforms.doctor_id = app.doctor_id;
                      app.labforms.patient_id = app.appointmentData.patient.id;
                      app.labforms.laboratory_address_id = app.appointmentData.patient.laboratory_address_id;
                      app.labforms.sent_date = this.$moment(new Date()).format('YYYY-MM-DD HH:mm:ss');

                        app.isLabLoading = true;
                        axios.post(app.$apiUrl+'labform', app.labforms)
                          .then(function (resp) {
                              app.isLabLoading = false;
                              app.lab_record.isSuccess = true,
                              app.lab_record.isError = false,
                              app.lab_record.isAlertShow = true;
                              app.lab_record.alertMsg = 'Lab form has been sent successfully.';
                              
                              setTimeout(function() {
                                    app.labforms.patient_id = '';
                                    app.appointmentData.patient = '';
                                    app.lab_record.isAlertShow = false;
                                }, 5000);
                          })
                          .catch(function (error) {
                              app.isLabLoading = false;
                              app.lab_record.isSuccess = false,
                              app.lab_record.isError = true,
                              app.lab_record.isAlertShow = true;
                              app.lab_record.alertMsg = 'Error occured';
                              var jsonResponse =error.response.data.errors;
                              if(jQuery.type(jsonResponse) == 'object')
                              {
                                var messages = '';
                                $.each( jsonResponse, function( key, value ) {
                                  messages += '<p>'+value+'</p>';
                                }); 
                                app.lab_record.alertMsg = messages;           
                              }
                          });
                      }
                  })        
          },
          getLabRecords (page){
              var app = this;
              var params = {};
              params.page = page || 1;
              params.limit = 10;
              params.filter_by_patient_id = app.appointmentData.patient_id;
              app.lab_records = [],
              app.labforms.details = [],
              axios({
                    method: 'get',
                    url: app.$apiUrl+'labforms',
                    params: params
                })
                  .then(function (resp) {
                      app.lab_record.totalRecords = resp.data.data.pagination.total;
                      app.lab_records = resp.data.data.data;
                      if (app.lab_records.length > 0) {
                        $(app.lab_records).each(function(index, element){
                            $(element.details).each(function(ind, ele){
                                let detail = {};
                                detail.id = ele.id;
                                detail.test = ele.test;
                                detail.sample = ele.sample;
                                detail.additional_info = ele.additional_info;
                                detail.status = ele.status;
                                detail.is_stopped = (ele.status == 'stopped') ? '1' : '0';
                                app.labforms.details.push(detail);
                            });    
                        });
                      } else {
                            let detail = {};
                                detail.id = '';
                                detail.test = '';
                                detail.sample = '';
                                detail.additional_info = '';
                                detail.status = 'single';
                                app.labforms.details.push(detail);
                      }

                      app.lab_record.pageCount = resp.data.data.pagination.last_page;
                  })
                  .catch(function (resp) {
                      app.lab_records = [];  
                      app.lab_record.pageCount = 0;
                      app.lab_record.totalRecords = 0;
                  });
            },
            getPatients() {
              var app = this;
              var params = {};
              params.limit = 0;
              params.filter_by_doctor_id = app.doctor_id;
              params.keyword = app.labforms.keyword;
              axios({
                method : 'get',
                url : app.$apiUrl+'patients',
                params : params
              })
              .then(function (resp) {
                //app.isLoading = false;
                app.patients = resp.data.data.data;
                if (app.patients.length > 0) {
                    var patientsOptionsArr =  [];
                    $(app.patients).each(function(ind, ele) {
                        var patientsOptions = {};
                        patientsOptions.label = ele.title+'.'+ele.user.full_name;
                        patientsOptions.value = ele.id;
                        patientsOptionsArr.push(patientsOptions);
                    });
                }
                app.patients = patientsOptionsArr;
              })
              .catch(function () {
              }); 
            },
            getPatient() {
              var app = this;
              if (app.labforms.patient_id.value != undefined) {
                axios({
                  method : 'get',
                  url : app.$apiUrl+'patient/'+app.labforms.patient_id.value,
                })
                .then(function (resp) {
                  
                  app.appointmentData.patient = resp.data.data;
                  app.appointmentData.patient_id = app.appointmentData.patient.id;
                  if (app.appointmentData.patient_id != null) {
                    app.getLabRecords();
                  }
                })
                .catch(function () {
                });
              }
              
              
            },
        }     
    }
</script>  