<template>
	<span>
		<div class="account-tab-content schedule-tab-content" v-if="scheduleList">
	        <h2 class="">Schedule
	        
	            <a href="javascript:;" class="btn btn-primary pull-right" @click="toggleScheduleDiv('edit')">
	              <span> Edit </span>
	            </a>
	        </h2>
	        <div class="table responsive-table" v-if="!isPageLoading">
	            <table class="table">
	                <thead>
	                  <th>Days</th>
	                  <th>Availibilty</th>
	                </thead>
	                 <tbody id="user_listing">
	                <template v-if="doctorSchedule">  
	                    <tr v-for="schedule, index in doctorSchedule">
		                    <td>
		                        {{index}}
		                    </td>
		                    <template v-if="schedule.length > 0">   
		                        <td>
		                            <p v-for="sch,ind in schedule">
		                                {{ sch.opening_time_name }} - {{ sch.closing_time_name }} ({{ sch.appointment_name }})
		                            </p>
		                            
		                        </td> 
		                    </template > 
		                    <template v-else> 
		                        <td>Not Available</td>
		                    </template >
		                </tr>
	                </template>
	                <template v-else> 
	                    <tr>
	                        <td colspan="10">
	                            <div class="blank-data">
	                                <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
	                                <h3>Nothing Here Yet!</h3>
	                                <p>Did not find anything .. try again.</p>
	                            </div>
	                        </td>
	                    </tr>
	                </template>
	            </tbody>
	            </table>

	        </div>
	         <c-spinner v-if="isPageLoading"></c-spinner>
	    </div>
	    <div class="account-tab-content schedule-tab-content" v-if="scheduleEdit">
	    	<doctorScheduleEdit :doctor_id="doctor_id" :specialty_id="specialty_id"></doctorScheduleEdit>
	    </div>
    </span>    
</template>
<script>
	import axios from 'axios';
	import doctorScheduleEdit from './DoctorScheduleEdit.vue'
    export default {
    	props : ['doctor_id', 'specialty_id'],
    	components : {
    		doctorScheduleEdit
    	},
        mounted() {
            var app =this;
            app.getSchedule();
            EventBus.$on('toggleScheduleDivEvent', (type)=> {
              app.toggleScheduleDiv(type);
            });
            EventBus.$on('currentTab', (currentClass)=> {
             	$(currentTab).addClass('active');
            });
        },
        data: function () {
            return {
                doctorSchedule : [],
                isPageLoading : false,
                scheduleList : true,
                scheduleEdit : false,
            }
        },
        
        methods: {
          toggleScheduleDiv (type) {
              var app = this;
              if (type == 'view') {
                app.scheduleList = true;
                app.scheduleEdit = false;
                this.getSchedule();
              } else if (type == 'edit') {
                app.scheduleList = false;
                app.scheduleEdit = true;
              }
            }, 
            getSchedule() {
            	let app = this;
	            app.isPageLoading = true;
	            axios.get(app.$apiUrl+'doctor-schedule/chart/' + app.doctor_id+'?page=1&limit=0')
	                .then(function (resp) {
	                	app.isPageLoading = false;
	                    app.doctorSchedule = resp.data.data;
	                })
	                .catch(function (resp) {
	                	app.isPageLoading = false;
	                    app.doctorSchedule = [];  
	                }); 
            }
        }
    }
</script>