<template>
	<span>
		<div class="account-tab-content holiday-schedule-tab-content">
	        <h2 class="">My Holiday Schedule
	        
	            <a href="#modal-holiday-create" data-toggle="modal" class="btn btn-primary pull-right" >
	              <span> Add New</span>
	            </a>
	        </h2>
	        <div class="table responsive-table" v-if="!isPageLoading">
              <table class="table table-hover " id="basicTable">
                <thead>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Number of Days</th>
                  <th>Action</th>
                </thead>
                <tbody id="user_listing">
                    <template v-if="doctorholidays.length > 0">  
                        <tr v-for="doctorholiday, index in doctorholidays" >
                            <!-- <td>{{ doctorholiday.id }}</td> -->
                            <td>{{ doctorholiday.name }}</td>
                            <td>{{ doctorholiday.from_date | moment("DD-MM-YYYY") }} - {{ doctorholiday.to_date | moment("DD-MM-YYYY") }}</td>
                            <td>{{ doctorholiday.number_of_days }}</td>
                            <td class="action-table-col">
                                <a href="#modal-holiday-edit"
                                    data-toggle="modal"
                                   @click="getRecord(doctorholiday.id)"
                                     title="Edit">
                                     <i class="icon-pencil"></i>
                                </a>
                                 <a href="#deleteRecModalHoliday"
                                    data-toggle="modal"
                                   @click="setRecordObj(doctorholiday.id, index)"  title="Delete">
                                    <i class="icon-remove"></i>
                                </a>
                            </td>
                        </tr>
                    </template>
                    <template v-else> 
                        <tr>
                            <td colspan="10">
                                <div class="blank-data">
                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                    <h3>Nothing Here Yet!</h3>
                                    <p>Did not find anything .. try again.</p>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
              </table>
	        </div>
	        <div class="row">
              <div>
                <div class="dataTables_paginate paging_simple_numbers">
                  <paginate
                    :page-count="pageCount"
                    :page-range="3"
                    :margin-pages="1"
                    :click-handler="getDoctorHolidays"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                  </paginate>
                </div>
                  </div>
                  </div>
	        <c-spinner v-if="isPageLoading"></c-spinner>
	    </div>
	    <addHolidayModal :doctor_id="doctor_id" @recordAdded="refreshList"></addHolidayModal>
	    <editHolidayModal :doctor_id="doctor_id" :rec=editRec @recordUpdated="refreshList"></editHolidayModal> 

	     <deleteModal :id="id" :index="index" :module="module" @recRemoved="refreshList"></deleteModal>
    </span>    
</template>
<script>
	import axios from 'axios';
    import addHolidayModal from './../../admin/doctor-holiday/DoctorHolidayCreateModal.vue';
    import editHolidayModal from './../../admin/doctor-holiday/DoctorHolidayEditModal.vue';
    import deleteModal from "./../../admin/doctor-holiday/DeleteModal.vue";
    export default {
        components : {
            addHolidayModal,
            editHolidayModal,
            deleteModal
        },
        props : ['doctor_id', 'myprop'],
        watch: { 
        myprop: function(newVal, oldVal) { // watch it
          if (newVal == '.holiday-schedule-tab-content') {
            var app = this;
            if (app.doctorholidays.length == 0) { 
              app.getDoctorHolidays();
            } 
          } 
        }
      },
        data: function () {
            return {
                doctorholidays: [],
                id: null,
                index:null,
                module:'doctor-holiday',
                pageCount: 0,
                totalDoctorHolidays:0,
                filter_by_doctor_id : 0,
                editRec : {},
                isPageLoading :false,
            }
        },
        mounted() {
        },
        methods: {
            getDoctorHolidays:function(page) {
                var app = this;
                var holidays = {};
                holidays.limit = 10;
                holidays.page  = page || 1;
                holidays.filter_by_doctor_id = app.doctor_id;
                app.isPageLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'doctor-holidays',
                    params: holidays
                }).then(function (resp) {
                		app.isPageLoading = false;
                        app.totalDoctorHolidays = resp.data.data.pagination.total;
                        app.doctorholidays = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                    	app.isPageLoading = false;
                        app.doctorholidays = [];  
                        app.pageCount = 0;
                        app.totalDoctorHolidays = 0;
                    });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getDoctorHolidays(1);
            }, 
            getRecord(id) {
                var app = this;
                axios.get(app.$apiUrl+'doctor-holiday/' + id)
                .then(resp => this.editRec = resp.data.data) 
                .catch(error => console.log(error));
            }, 
        }
    }
</script>