<template>
	<div class="doctor-panel-body">
    <header-component @emit-left-menu="showLeftMenu"></header-component>
	    <div class="section grey no-pad tab-content-main patient-main-tab" >
   	    <div class="left-sidebar patient-main-sidebar doctor-panel-left-sidebar" v-show="showLeftpanel">
    		<i class="menu-icon-remove icon-remove" @click="showLeftpanel = false"></i>
            <div class="menu-backdrop"></div>  
            <ul @click="showLeftpanel = false">
                <li class="active">
                    <a class="tabs-handler" href="javascript:;" data-content=".appointments-tab-content">
                    My Appointments
                    <i class="icon-angle-right"></i> 
                    </a>
                </li>
                <li class="">
                    <a class="tabs-handler" href="javascript:;" data-content=".patient-tab-content">
                    My Patients
                    <i class="icon-angle-right"></i> 
                    </a>
                </li>
                <li class="">
                    <a class="tabs-handler" href="javascript:;" data-content=".schedule-tab-content">
                    My Schedule
                    <i class="icon-angle-right"></i> 
                    </a>
                </li>
                <li class="">
                    <a class="tabs-handler" href="javascript:;" data-content=".holiday-schedule-tab-content">
                    My Holiday Schedule
                    <i class="icon-angle-right"></i> 
                    </a>
                </li>
                
                <li class="">
                    <a class="tabs-handler" href="javascript:;" data-content=".labform-tab-content">
                    Send Lab Form
                    <i class="icon-angle-right"></i> 
                    </a>
                </li>
    			<li class="">
    				<a class="tabs-handler" href="javascript:;" data-content=".info-tab-content">
    				 Edit Personal detail 
    				<i class="icon-angle-right"></i> 
    				</a>
    			</li>
                <li><a class="tabs-handler" href="javascript:;" data-content=".password-tab-content">Change Password <i class="icon-angle-right"></i> </a></li>
    			
    			<!-- <li class="">
    				<a href="javascript:;" data-content=".sharing-tab-content">
    				 Send Lab Form
    				<i class="icon-angle-right"></i> 
    				</a>
    			</li> -->
    			<li class="" id="message_tab">
    				<a class="tabs-handler" href="javascript:;" data-content=".message-tab-content">
    				 Messages <span class="badge badge-success" v-show="newMessageCount > 0">{{ newMessageCount }}</span>
    				<i class="icon-angle-right"></i> 
    				</a>
    			</li>
    			<li class="" id="document-tab-content">
    				<a class="tabs-handler" href="javascript:;" data-content=".document-tab-content">
    				 Send Document
    				<i class="icon-angle-right"></i> 
    				</a>
    			</li>
                <li class="">
                    <a class="tabs-handler" href="javascript:;" data-content=".send-email-tab-content">
                     Send Email  
                    <i class="icon-angle-right"></i> 
                    </a>
                </li>
    		</ul>
    	</div>
    	<div class="my-account-right">
    		<div class="content">
                <doctorSchedule :doctor_id="doctor_id" v-if="doctor_id != null" :specialty_id="doctor.specialty_id"></doctorSchedule>
                <doctorHolidaySchedule :myprop="myprop" :doctor_id="doctor_id" v-if="doctor_id != null"></doctorHolidaySchedule>
    			<!--edit personalinfo content-->
    			<doctorPersonalInfo :doctor="doctor" v-if="doctor != ''"></doctorPersonalInfo>
    			<!--Send Document-->
    			<doctorSendDocument :myprop="myprop" :doctor_id="doctor_id"  v-if="doctor_id != null"></doctorSendDocument>
    			<!--Send email-->
    			<doctorSendEmail  :myprop="myprop" :doctor_id="doctor_id"  v-if="doctor_id != null"></doctorSendEmail>
    			<!--Messages-->
               <!--  <patientList :doctor_id="doctor_id" v-if="doctor_id != null"></patientList> -->
    			<!--send message content-->
                <messages :viewMessage="viewMessage" :slug="slug" :myprop="myprop" v-if="doctor != ''"></messages>

                <!--Change password-->
                <changePassword></changePassword>
                <!--send messages modal-->
                <!-- <doctorSendMessages></doctorSendMessages> -->
                <patients :myprop="myprop" :doctor_id="doctor_id" v-if="doctor_id != null"></patients> 
                <!-- <patientDetail></patientDetail> -->
                <!--Appoitments -->
                <doctorAppointments :myprop="myprop" :doctor_id="doctor_id"  v-if="doctor_id != null"></doctorAppointments>

                <doctorSendLabForm :myprop="myprop" :doctor_id="doctor_id"  v-if="doctor_id != null"></doctorSendLabForm>
    		</div>
			<footer-component></footer-component>
    	</div>
	    	<div class="clearfix"></div>
	    </div>
	    
	</div>    
</template>
<script type="text/javascript">
	import axios from 'axios';
	import doctorPersonalInfo from './DoctorPersonalInfo.vue'
	import doctorSendDocument from './DoctorSendDocument.vue'
	import doctorSendEmail from './DoctorSendEmail.vue'
    /*import patientList from './DoctorPatients.vue'*/
    import doctorSchedule from './DoctorSchedule.vue'
    import messages from './../account/messages/Messages.vue'
    import changePassword from './../account/ChangePassword.vue'
    import patients from './Patients.vue'
    /*import patientDetail from './PatientDetail.vue'*/
    import doctorAppointments from './DoctorAppointments.vue'
    import doctorSendLabForm from './DoctorSendLabForm.vue'
    import doctorHolidaySchedule from './DoctorHolidaySchedule.vue'


	export default {
		components : {
			doctorPersonalInfo,
			doctorSendDocument,
			doctorSendEmail,
            /*patientList,*/
            doctorSchedule,
            messages,
            changePassword,
            patients,
            /*patientDetail,*/
            doctorAppointments,
            doctorSendLabForm,
            doctorHolidaySchedule
		},
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        beforeCreate: function() {
            document.body.className = 'register-page';
        },
        beforeDestroy () {
            clearInterval(this.messagetime);
        },
		mounted () {
			var app = this;
            app.getDoctor();
            setTimeout(function(){
                if (app.doctor_id == null) {
                    app.getDoctor();
                }
            },3000);  

            this.messagetime = setInterval(function(){ 
               app.getNewMessageCount();
            }, 60000); // 1 mins            

            setTimeout(function(){
                $('.tabs-handler').click(function(){
                    var currentTab = $(this).attr('data-content');
                    $(this).parents('.tab-content-main.patient-main-tab').find('.left-sidebar ul li').removeClass('active');
                    $(this).parent().addClass('active');
                    $(this).parents('.tab-content-main').find('.account-tab-content').removeClass('active');
                    $(currentTab).addClass('active');
                    if (currentTab == '.patient-detail-tab-content') {
                        $('.notes-tab-content').addClass('active');
                    }
                    app.myprop = currentTab;
                    $('html, body').animate({
                        scrollTop: $('.account-tab-content').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
                    }, 'fast');
                });


            },2000);  

            //if ($('.doctor-panel-body').length > 0) {
               app.getNewMessageCount();
               
            //}
            

              EventBus.$on('updateMessageCount', function() {
                app.getNewMessageCount();
              });  

            let slug = app.$route.params.slug;
            if (slug != null || slug != undefined) {
                $('.patient-main-tab.tab-content-main').find('.account-tab-content').removeClass('active');
            	$('.message-tab-content').addClass('active');
            	$('.tab-content-main').find('.patient-main-sidebar ul li').removeClass('active');
            	$('#message_tab').addClass('active');
            	
            	app.viewMessage = true;
            	app.slug = slug;
            } else {
            	$('.appointments-tab-content').addClass('active');
                //EventBus.$emit('currentTab', '.schedule-tab-content');
            }  

            let hash = window.location.hash.substring(1);
            if (hash != '') {
                $('.tab-content-main').find('.left-sidebar ul li').removeClass('active');
                $('#'+hash).addClass('active');
                app.myprop = '.'+hash;
                
                setTimeout(function(){ 
                    $('.appointments-tab-content').removeClass('active');
                    $('.'+hash).addClass('active');
                }, 2000);

            } else {
                $('.appointments-tab-content').addClass('active');
            } 
		},
		data: function () {
	      return {
	      	doctor : '',
	      	doctor_id : null,
	      	viewMessage : false,
	      	slug : null,
            myprop : '.appointments-tab-content',
            showLeftpanel:false,
            newMessageCount : 0,
            messagetime : null,

	      }
	    },
        methods: {
            showLeftMenu(){
              this.showLeftpanel = !this.showLeftpanel;
            },
            getDoctor() {
                var app = this;
                axios.get(app.$apiUrl+'doctor/'+app.$loggedInUser.doctor_id)
                .then(function (resp) {
                    app.doctor = resp.data.data;
                    app.doctor_id = resp.data.data.id;
                })
                .catch(function () {
                }); 
            },
            getNewMessageCount () {
            var app = this;
             axios.get(app.$apiUrl+'support-new-messages')
            .then(function (resp) {
                app.newMessageCount = resp.data.data;
            })
            .catch(function () {
            });
          },
        }
	}
</script>