<template>
    <!-- <span> -->
        <div class="account-tab-content patient-tab-content" >
            <h2>My Patients</h2>
            <c-spinner v-if="isPageLoading"></c-spinner>
            <div class="row " v-if="!isPageLoading">
                <div class="col-xs-12 col-md-4">
                    <label>Search By Name/Dob/PostCode</label> 
                    <input type="text" name="keyword" placeholder="Search By Name/Dob/PostCode" v-model="patient.keyword" class="form-control">
                  </div> 
                  <div class="col-xs-12 col-md-3">
                    <label>Filter By Status</label> 
                    <select v-model="patient.filter_by_status" class="form-control" placeholder="Filter By Status">
                         <option value="0">Active</option>
                         <option value="1">Archived</option>
                     </select>
                  </div>
                  <div class="col-xs-12 col-md-3">
                      <label>Filter By Patient Type</label> 
                      <select v-model="patient.filter_by_is_member" class="form-control" placeholder="Filter By Patient Type">
                            <option value="">All</option>
                           <option value="1">Membership</option>
                           <option value="0">Non Membership</option>
                       </select>
                    </div>
                  
                  <div class="col-xs-12 col-md-2">
                    <a href="javascript:;" class="btn btn-primary filter-search" :class="{'show-spinner' : search_spinner}" 
                    @click="searchRec" >
                    <span>Search</span>
                    <div class="loader"></div></a>
                  </div>
            </div>
            <div class="card-block dataTables_wrapper" v-if="!isPageLoading">
            <div class="table-responsive ">
              <table class="table table-hover my-patient-table" id="basicTable">
                <thead>
                  <th v-for="header in tableHeader">{{header}}</th>
                </thead>
                <tbody id="user_listing">
                    <template v-if="patients.length > 0">  
                        <tr v-for="patient, index in patients" >
                            <td>{{ patient.id }}</td>
                            <td><router-link class="tabs-handler" :to="{name: 'PatientProfileDetail', params: {id: patient.id}}">{{ patient.title}}. {{ patient.user.full_name }}</router-link></td>
                            <td>{{ patient.user.gender }}</td>
                            <td>{{ patient.dob | moment("DD-MM-YYYY") }}</td>
                            <td>{{ patient.age }}</td>
                            <td>{{ patient.user.email }}</td>
                            <td>{{ patient.user.mobile_number }}</td>
                            <td width="20%">
                                <router-link class="tabs-handler" :to="{name: 'PatientProfileDetail', params: {id: patient.id}}">
                                     View
                                </router-link>
                                <!-- <a href="javascript:;" class="tabs-handler" data-content=".patient-detail-tab-content">View</a> -->
                            </td>
                        </tr>
                    </template>
                    <template v-else> 
                        <tr>
                            <td colspan="10">
                                <div class="blank-data">
                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                    <h3>Nothing Here Yet!</h3>
                                    <p>Did not find anything .. try again.</p>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
              </table>
            </div>
            <div class="row" v-if="!isPageLoading">
              <div>
                <div class="dataTables_paginate paging_simple_numbers">
                  <paginate
                    :page-count="pageCount"
                    :page-range="3"
                    :margin-pages="1"
                    :click-handler="getPatients"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                  </paginate>
                </div>
                  </div>
                  </div>
          </div>
           <c-spinner v-if="isPageLoading"></c-spinner>
        </div>

    <!-- </span> -->
</template>
<script>
    import axios from 'axios';
    export default {
        props : ['doctor_id', 'myprop'],
         watch: { 
        myprop: function(newVal, oldVal) { // watch it
          if (newVal == '.patient-tab-content') {
            var app = this;
            if (app.patients.length == 0) {
              app.getPatients();
            } 
          } 
        }
      },
        data: function () {
            return {
                tableHeader: ["ID", "Name", "Gender", "Dob", "Age", "Email", "Mobile Number",'Action'],
                patients: [],
                id: null,
                index:null,
                module:'patient',
                archive_module:'user',
                pageCount: 0,
                totalPatients:0,
                archiveStatus:null,
                approveAction: null,
                loginAction: null,
                search_spinner : false,
                isPageLoading : false,
                patient: {
                    keyword: '',
                    filter_by_status: '0',
                    filter_by_is_approved : '1',
                    filter_by_is_member : '',
                    filter_by_doctor_id : this.doctor_id,
                }
            }
        },
        mounted() {
            //this.getPatients(1);
        },
        methods: {
            getPatients:function(page) {
                var app = this;
                app.patient.page = page || 1;
                app.patient.limit = 10;
                app.isPageLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'patients',
                    params: app.patient
                })
                .then(function (resp) {
                    app.search_spinner = false;
                    app.isPageLoading = false;
                    app.totalPatients = resp.data.data.pagination.total;
                    app.patients = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.search_spinner = false;
                    app.isPageLoading = false;
                    app.patients = [];  
                    app.pageCount = 0;
                    app.totalPatients = 0;
                });
            },
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getPatients(1);
            },
        }
    }
</script>
