<template>
    <div class="modal fade" id="addQuestion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Add Question</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}"   role="alert" id="user_msg" v-if="isAlertShow">
              {{alertMsg}}
            </div>
             <div class="row">
                <div class="form-group form-group-default required">
                    <label class="text-primary bold">Question</label>
                    <div class="controls">
                      <textarea class="form-control" name="question"
                      v-model="questionnaire.question"
                      v-validate="'required'" style="height: 120px;"></textarea>
                    </div>
                    <small class="text-danger"
                      v-show="errors.has('question')">
                      {{ errors.first('question') }}
                    </small>  
                </div>               
            </div>
          </div>
          <div class="modal-footer">
             <button class="btn btn-applyplus btn-cons  pull-left inline" @click="saveForm()">Create <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  export default {
    props : ['specialtyId'],
    mounted() {
        var app = this;
    },
    data: function () {
        return {
            questionnaire: {
                question: '',
            },
            isAlertShow: false,
            isSuccess:false,
            isError:false,
            isLoading:false,
            alertMsg : '',
        }
    },
    methods: {
        saveForm() {
            var app = this;
            app.questionnaire.specialty_id = app.specialtyId;
            var newQuestion = app.questionnaire;
            //newQuestion.specialty_id = app.specialtyId;
            this.$validator.validateAll().then(result => {
                if (result) {
                    app.isLoading = true;
                    axios.post(app.$apiUrl+'questionnaire', newQuestion)
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.questionnaire.question = '';
                            $('#addQuestion').modal('hide');
                            resp = this.$emit('recordAdded');
                            app.isAlertShow = false;
                        })
                        .catch(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                        });
                }    
            })   
        }
    }
  }

</script>