<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Questionnaire ({{totalQuestions}})</h1>
                            </div>

                            <div style="float: right;">
                               <a href="#addQuestion"
                                    data-toggle="modal"
                                    class="btn btn-applyplus btn-cons">
                                    <i class="fa fa-plus"></i> Add Question
                                </a>
                            </div>

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="questions.length > 0">  
                                        <tr v-for="question, index in questions" >
                                            <td>{{ question.id }}</td>
                                            <td width="80%">{{ question.question }}</td>
                                            <td>
                                                <a href="#editQuestion"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-complete"
                                                   @click="getRecord(question.id)">
                                                    <i class="fa fa-pencil" title="Edit"></i>
                                                </a>
                                                <a href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="confirmDelete(question.id, index)">
                                                    <i class="fa fa-trash" title="Delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getQuestions"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div> 
                            <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>

                            <questionnaireCreateModal :specialtyId="specialty_id"  @recordAdded="refreshList"></questionnaireCreateModal>
                            <questionnaireEditModal :rec=editRec @recordUpdated="refreshList"></questionnaireEditModal>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>
        
        </div>
    </div>

</template>

<script>
import questionnaireCreateModal from './QuestionnaireCreateModal.vue';
import questionnaireEditModal from './QuestionnaireEditModal.vue';
    export default {
        components : {
            questionnaireCreateModal, questionnaireEditModal
        },
        mounted() {
            let app = this;
            app.specialty_id = app.$route.params.id;

            this.getQuestions(1);
        },
        data: function () {
            return {
                tableHeader: ["ID", "Question",'Action'],
                questions: [],
                specialty_id : '',
                id: null,
                index:null,
                module:'questionnaire',
                pageCount: 0,
                totalQuestions:0,
                editRec : {},
            }
        },
        methods: {
            getQuestions:function(page) {
                var app = this;
                var limit = 10;
                axios.get(app.$apiUrl+'questionnaires?page='+page+'&limit='+limit+'&filter_by_specialty='+app.specialty_id+'')
                    .then(function (resp) {
                        app.totalQuestions = resp.data.data.pagination.total;
                        app.questions = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                        app.questions = [];  
                        app.pageCount = 0;
                        app.totalQuestions = 0;
                    });
            },
            refreshList(){
                var app = this;
                app.getQuestions(1);
            },
            getRecord(id) {
                var app = this;
                axios.get(app.$apiUrl+'questionnaire/' + id)
                .then(resp => this.editRec = resp.data.data) 
                .catch(error => console.log(error));
            },
            confirmDelete(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            }
            
        }
    }
</script>
