<template>
    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Notes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                     {{alertMsg}}
                  </div>
            <div class="form-group">
                <label >Subject</label>
                  <input type="text" class="form-control" name="subject" placeholder="Subject" 
                  v-model="newNote.subject"
                  :class="{'is-invalid' : errors.has('subject')}"
                  v-validate="'required'">
                <small class="has-error"
                  v-show="errors.has('subject')">
                  {{ errors.first('subject') }}
                </small>  
            </div>
            <div class="form-group">
                <label >Notes</label>
                    <textarea class="form-control input-lg" name="note" placeholder="Notes" style="height: 120px !important;" 
                    :class="{'is-invalid' : errors.has('note')}"
                    v-model="newNote.note" v-validate="'required'"></textarea>
                <small class="has-error"
                  v-show="errors.has('note')">
                  {{ errors.first('note') }}
                </small>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-primary btn-cons  pull-left inline" :class="{'show-spinner' : isLoading}">
              <span>Save</span>
            <div class="loader"></div> 
          </button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
	import axios from 'axios';
  export default {
    props : ['created_on', 'module'],
    data () {
      return {
        newNote : {
          subject : '',
          note : '',
        },
        isLoading:false,
        isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        
      }
    },
    methods : {
      submit() {
            var app = this;
            this.$validator.validateAll().then(result => {
              if (result) {
                app.newNote.created_on = app.created_on;
                app.newNote.module = app.module;
                app.isLoading = true;
                axios({
                  method: 'patch',
                  url:app.$apiUrl+'note',
                  data:app.newNote
                })
                .then(resp => {
                    app.isLoading = false;
                    app.isAlertShow = true;
                    app.isSuccess = true;
                    app.isError = false;
                    app.alertMsg = 'Note has been added successfully.';
                    app.newNote.subject = '';
                    app.newNote.note = '';
                    app.$nextTick(() => app.$validator.reset())
                    setTimeout(function() {
                       $('#addNoteModal').modal('hide');
                        
                        app.isAlertShow = false;
                        resp = app.$emit('noteRecAdded');
                    }, 5000);
                   
                    
                })
                .catch(function (resp) {
                  app.isLoading = false;
                  app.isSuccess = false,
                  app.isError = true,
                  app.isAlertShow = true;
                  app.alertMsg = 'Error occured';
                });
              }
            });    
        }   
    }
  }

</script>

