<template>
        <div class="flex-center position-ref full-height">
            <div class="content">
                <div class="title">
                    Thank you for the attending the Happy Clinic appointment today. If you have disconnected the call in error, please click the button below to reconnect.
                </div>
                <router-link :to="'/assessment/'+appointmentEncryptedId" class="btn btn-primary end-video-call call-btn" v-if="appointmentEncryptedId != null"><i class="icon-camera-reverse" ><img :src="$baseUrl+'/htmlv1/images/icons/phone-receiver.svg'"></i></router-link>

                <div class="title">
                  If you are satisfied with our service, please write a testimonial if you have not done so earlier. <router-link to="/my-account#testimonial-tab-content" class="testimonial-text">Write a testimonial</router-link>
                </div>
            </div>
        </div>
</template> 

<script type="text/javascript">
  export default {
    data: function () {
      return {
        appointmentEncryptedId : null,
      }
    },
    mounted() {
      let app = this;
      app.appointmentEncryptedId = app.$route.params.id;
    }        
  }
</script>
<style type="text/css">
    html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 20px;
                padding: 20px;
            }

            .call-btn {
              width:10px !important;
            }

            .testimonial-text {
                color: #1a65a5;
            }

</style>       
