<template>
  <div class="modal fade stick-up" id="consentSharingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close close-btn" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Confirmation</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                     {{alertMsg}}
                  </div>
            <p class="no-margin">Are you sure that you want to set {{ action }} to consent sharing?</p>
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-primary btn-cons  pull-left inline" :class="{'show-spinner' : isLoading }">
              <span>Change</span>
              <div class="loader"></div>
            </button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline close-btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  import axios from 'axios';
  export default {
    props : ['patient_id','action'],
    data () {
      return {
        sharing_consent : '0',
        isLoading:false,
        isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
      }
    },
    mounted() {
      $('.close-btn').click(function() {
          EventBus.$emit('revertConsent')
      });
    },
    methods : {
      submit() {
           var app = this;
            app.isLoading = true;
            var params = {};
            if (app.action == 'Yes') {
              app.sharing_consent = '1';
            } else {
              app.sharing_consent = '0';
            }
            params.column = 'sharing_consent';
            params.value = app.sharing_consent;
            app.isLoading = true;
            axios.patch(app.$apiUrl+'patient-common-update/'+app.patient_id, params)
              .then(function (resp) {
                app.isLoading = false;
                app.isAlertShow = true;
                app.isSuccess = true;
                app.isError = false;
                app.alertMsg = 'Consent sharing status has been changed successfully.';
                
                setTimeout(function() {
                    app.isAlertShow = false;
                    $('#consentSharingModal').modal('hide');
                }, 5000);
              })
              .catch(function (error) {
                app.isLoading = false;
                app.isSuccess = false,
                app.isError = true,
                app.isAlertShow = true;
                app.alertMsg = 'Error occured';
              });
            }   
    }
  }

</script>

