<template>
	<div class="modal fade" id="viewHospitalRecModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large lab-record-modal">
      <div class="modal-content-wrapper">
        <div class="modal-content" v-if="hospitalRec != null">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
          </div>
          <div class="modal-body">
          	<div class="row">
                <div class="col-md-12" >
                	<div class="wrap">
                		<div>
                			<img alt="Logo" class="form_logo inline" :src="$imageUrl+'logo-wide.png'">
                		</div>

					  <div class="address-box">{{ hospitalRec.appointment.patient.mental_hospital_address.name }}<br />
					    {{ hospitalRec.appointment.patient.mental_hospital_address.address_first_line }}<br />
					    {{ hospitalRec.appointment.patient.mental_hospital_address.city }}<br />
					    {{ hospitalRec.appointment.patient.mental_hospital_address.country }}<br />
					    {{ hospitalRec.appointment.patient.mental_hospital_address.postcode }}<br />
					  </div>
					  <div class="add2">
					  	<strong>{{ $clinicName }}</strong>
					  	<span v-html="$clinicAddress"></span>
					    Tel: {{ $clinicPhone }} <br />
					    <br />
					    Trading Name : {{ $clinicName }}<br />
					  URL : {{ $clinicWebsite }}</div>
					  <div class="date">Date : {{ hospitalRec.created_at | moment("DD-MM-YYYY hh:mm a") }}</div>

					<div class="from2">Dear Doctor,</div>
						<div class="from2">
							<strong>Re:
				            {{ hospitalRec.appointment.patient.title }} {{hospitalRec.appointment.patient.user.full_name}},
				            (DOB: {{ hospitalRec.appointment.patient.dob | moment("DD-MM-YYYY") }}), <br>
				            {{ hospitalRec.appointment.patient.address_first_line}} {{ hospitalRec.appointment.patient.city}} {{ hospitalRec.appointment.patient.country}} {{ hospitalRec.appointment.patient.postcode}}
				            </strong></div>
				        <br>
			            <div class="matter">
			              <strong>Date of Assessment:</strong> {{ hospitalRec.appointment.date_time | moment("DD-MM-YYYY hh:mm a") }}<br>
			              <strong>Type of Assessment:</strong> {{ hospitalRec.appointment.appointment_type.name }}
			            </div>
			            <br/>
					  <strong class="from2">Problem Reported By Patient:</strong>
			            <div class="from2" v-if="hospitalRec.patient_text != null">{{ hospitalRec.patient_text.text }} </div>
			            <br/>
			            <br/>
			            <template v-if="hospitalRec.doctor_ans.length > 0">
			            	<strong class="from2">Questionnaire:</strong><br/><br/>
				            <div style="width:100%;" >
				              <table width="100%" border="1">
				                <tr>
				                  <td width="5%">Num</td>
				                  <td width="60%">Question</td>
				                  <td width="10%">Answer</td>
				                  <td width="30%">Doctor Comment</td>
				                </tr>
				                <tr v-for="rec,index in hospitalRec.doctor_ans ">
				                  <td width="5%">{{ index+1 }}</td>
				                  <td width="60%">{{ rec.question }}</td>
				                  <td width="10%">{{ rec.answer }}</td>
				                  <td width="30%">{{ rec.comment }}</td>
				                </tr>
				              </table>
				            </div>
				            <br>
			            </template>

			            <div class="matter">
			            	<strong>Care Plan:</strong>
				            <div>
				              Consulting Doctor: {{ hospitalRec.appointment.doctor.title}} {{ hospitalRec.appointment.doctor.user.full_name }}<br>
				              Designation: {{ hospitalRec.appointment.doctor.designation }}
				            </div>

				            <div class="matter">{{  hospitalRec.doctor_final_comment }}</div><br>
				            <br>
				            <strong>Consent for sharing information with hospital:</strong> {{ (hospitalRec.appointment.patient.sharing_consent == '1') ? 'Yes' : 'No' }}
				            <hr>
				            <div style="display: inline-block;">
				            	<div>©2018 Happy Clinic | All Rights Reserved, Registered by CQC </div>
				            	<div class="cqc-logo"><a href="javascirpt:;"><img  :src="$imageUrl+'images.png'"></a></div>
				            </div>

				         </div>


					</div>

                </div>
            </div>
          </div>
          <div class="modal-footer">
             <a :href="$apiUrl+'print-hospital-rec?id='+hospitalRec.encodedId" class="btn btn-primary btn-cons  pull-left inline" target="_blank"><i class="icon-print"></i> Print </a>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>
<script type="text/javascript">
	import axios from 'axios';
	export default {
		mounted () {
			var app = this;
			EventBus.$on('showHospitalRecPopup', function (id) {
				var id = id || 0;
				var params= {};
        		axios({
                    method: 'get',
                    url: app.$apiUrl+'clinical/hospital-record/' + id,
                    params: params
                })
	            .then(function (resp) {
	                app.hospitalRec = resp.data.data;
	                console.log(app.hospitalRec);
	                $('#viewHospitalRecModal').modal('show');
	            })
	            .catch(function () {
	            });
	        });

		},

		data: function () {
            return {
            	hospitalRec : null,
            }
        },
        methods : {
        },

	}
</script>

<style scoped="">

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  font-size: 11.5px;
}
.wrap {
	width: 23cm;
	/*height: 13.86px;*/
	height: 9.73cm;
	background-color: #FFF;
	padding-top: 1cm;
	padding-left: 2.5cm;
	/*border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #666;*/
	padding-right: 2.5cm;
	display: table;
	padding-bottom: 0.9cm;
	position: relative;
	/*background-image: url(watermark.gif);
	background-size: 400px  75px;
	background-position: center bottom;
	background-repeat: no-repeat;*/

}
.mainwrap {
  height: 29.7cm;
  width: 22cm;
  margin-right: auto;
  margin-left: auto;
}

.cqc-logo {
    /*width: 90px;
    position: fixed;
    right: 138px;
    bottom: 110px;*/
}
.cqc-logo img{
    width: 100px;
}

.date {
  float: left;
  width: 100%;
  padding-top: 11px;
  text-align: right;
}
.matter {
  width: 100%;
  margin-top: 21px;
  float: left;
}
.from2 {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.address-box {
  width: 222px;
  float: left;
  position: absolute;
  top: 5cm;
  left: 2.5cm;
}

.add2 {
  float: right;
  width: 222px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  border: 1px solid #666;
  color: #00008b;
}

strong {
 /* display: block;*/
  margin-top: 7px;
  margin-bottom: 7px;
}
.from {
	float: left;
	width: 222px;
	margin-top: 21px;
}

.form_logo{
	max-width: 255px;
    height: auto;
    margin-top: 20px;
}
.patient_details {
	float: left;
	width: 250px;
}
</style>
