<template>
  <div class="modal fade stick-up" id="inivitationLinkModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Invitation Link</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
               {{alertMsg}}
            </div>
            <p class="no-margin">Are you sure you want to send invitation link to patient to join assessment?</p>
          </div>
          <div class="modal-footer">
            <button type="button" @click="sendLink" class="btn btn-primary btn-cons  pull-left inline" :class="{'show-spinner' : isLoading }">
              <span>Send</span>
              <div class="loader"></div>
            </button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  import axios from 'axios';
  export default {
    props : ['appointment_id'],
    data () {
      return {
        isLoading : false,
        isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
      }
    },
    methods : {
      sendLink() {
           var app = this;
            app.isLoading = true;
            axios.post(app.$apiUrl+'appointment/send-invitation-link/'+app.appointment_id)
              .then(function (resp) {
                app.isLoading = false;
                app.isAlertShow = true;
                app.isSuccess = true;
                app.isError = false;
                app.alertMsg = 'Invitation link has been sent successfully.';
                
                setTimeout(function() {
                  $('#inivitationLinkModal').modal('hide');
                }, 5000);
              })
              .catch(function (error) {
                app.isLoading = false;
                app.isSuccess = false,
                app.isError = true,
                app.isAlertShow = true;
                app.alertMsg = 'Error occured';
              });
            }   
    }
  }

</script>

