<template>
	<span>
		<template v-if="appointmentData != null">
			<template v-if="$loggedInUser != ''">
				<patientAssessmentView :sessionId="sessionId" :token="token" :appointment_id="appointmentData.id" v-if="sessionId != null && appointmentData != null && $loggedInUser.role == 'patient'" user_type="patient" :appointmentEncryptedId="appointmentEncryptedId"></patientAssessmentView>
				<doctorAssessmentView :sessionId="sessionId" :token="token" :appointmentData="appointmentData"  v-if="$loggedInUser.role == 'doctor'" user_type="doctor" :appointmentEncryptedId="appointmentEncryptedId"></doctorAssessmentView>
			</template>
			<template v-else>
				<patientAssessmentView :sessionId="sessionId" :token="token" :appointment_id="appointmentData.id" v-if="sessionId != null && appointmentData != null" user_type="patient" :appointmentEncryptedId="appointmentEncryptedId" ></patientAssessmentView>
			</template>
		</template>
		<template v-else>
            <c-spinner v-if="isPageLoading"></c-spinner>
        </template>
		
	</span>
</template>
<script type="text/javascript">
	import axios from 'axios';
	import patientAssessmentView from './PatientAssessmentView.vue';
	import doctorAssessmentView from './PatientAssessment.vue';
	export default {
		components : {
			patientAssessmentView ,doctorAssessmentView
		},
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
		mounted() {
			let app = this;
            
            app.appointmentEncryptedId = app.$route.params.id;
            app.isPageLoading = true;
            var params = {};
            params.column = 'encrypted_id';
		    params.value = app.appointmentEncryptedId;
            /*if (app.$loggedInUser != null) {
            	if (app.$loggedInUser.role == 'doctor') {
		            params.filter_column = 'doctor_id';
		            params.filter_value = app.$loggedInUser.doctor_id;
            	} else if (app.$loggedInUser.role == 'patient') {
            		params.filter_column = 'patient_id';
		            params.filter_value = app.$loggedInUser.patient_id;
            	}
            }*/
            
            axios({
              method: 'GET',
              url: app.$apiUrl+'appointment',
              params :params
            })
            .then(function (resp) {
            	app.isPageLoading = false;
            	app.appointmentData = resp.data.data;
            	app.startAssessment();
            }).catch(function (resp) {
            	app.isPageLoading = false;
                app.$router.replace('/404');
            });
        },
        data: function () {
            return{
            	appointmentEncryptedId : null,
            	appointmentData : null,
                isPageLoading: false,
                sessionId : null,
                token: null,
            }
        },
        methods : {
        	startAssessment() {
                var app = this;
                axios({
                    method: 'post',
                    url: app.$apiUrl+'appointment/start-assessment/'+app.appointmentData.id,
                })
                  .then(function (resp) {
                    app.sessionId = resp.data.data.session_id;
                    app.token = resp.data.data.token;
                  })
                  .catch(function (resp) {
                      app.sessionId = null;
                      app.token = null;
                      app.$router.replace('/404');
                  });
            }
        },   
	}	
</script>	