<template>
  <div class="modal  fade in show" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">View Message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body">
            <p id="printarea">{{ popupMessage }}</p>
          </div>
          <div class="modal-footer">
           <a :href="$apiUrl+'message?id='+encryptedId" class="btn btn-primary btn-cons  pull-left inline" target="_blank"><i class="icon-print"></i> Print </a>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>
<script type="text/javascript">
  import axios from 'axios';
  export default {
    props : ['popupMessage', 'id', 'encryptedId'],
    
    data: function () {
      return {
       
      }
    },
    mounted() {
    },
    methods : {
    }  
  }
</script>
<style scoped="">
  .m-t-30 {
    margin-top: 30px;
  }
</style>