<template>
  <div>
    <div class="row">
      <div class="form-group  pull-right col-sm-4">
        <label>Search By Message</label> 
        <input type="text" name="keyword" placeholder="Search By Message" v-model="message.keyword" class="form-control">
      </div>
      <div class="form-group  pull-right col-sm-3">
          <label>Filter By Flag</label> 
          <select v-model="message.filter_by_flag" class="form-control" placeholder="Filter By Flag">
                <option value="0">All</option>
               <option value="1">Flagged</option>
           </select>
        </div>
      <!-- <div class="form-group  pull-right col-sm-5">
        <label>Filter By Date Range</label> 
       <date-picker v-model="message.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY"></date-picker>
      </div>  -->

      <div class="pull-right col-md-2">
        <a href="javascript:;" class="btn btn-primary m-r-10 m-b-30 search-btn-mb-30" :class="{'show-spinner' : search_spinner}" @click="searchRec">
          <span> Search </span>
          <div class="loader"></div>
        </a>
      </div>  
    </div>
    <div class="card-block dataTables_wrapper no-padding">
      <div class="table-responsive ">
        <table class="table table-hover " id="basicTable">
          <thead>
            <th>Date Time</th>
            <th>Sender/Receiver</th>
            <th>Subject</th>
            <th>Attachments</th>
            <!-- <th>Received/Sent</th> -->
            <th>Action</th>
          </thead>
          <tbody>
              <template v-if="messages.length > 0">  
                  <tr v-for="message, index in messages" >
                      <td>{{ message.created_at | moment("DD-MM-YYYY h:mm a") }}</td>
                      <td><p>{{ message.sender.full_name}} to {{ message.receiver.full_name}}</p></td>
                      <td>{{ message.support.subject }}</td>
                      <td><template v-if="message.docs.length > 0">
                          <a href="javascript:;" @click="showAttachments(message.docs)">View</a>
                        </template>
                        <template v-else>
                            -
                        </template>
                      </td>
                      <!-- <td><p v-if="message.sender_id !== $loggedInUser.id">Recieved</p>
                          <p v-else>Sent</p>
                      </td> -->
                      <td width="18%">
                        <a href="javascript:;" @click="showMessage(message.message, message.id, message.encryptedId)" class="m-r-10">View</a>
                        <a  href="javascript:;" :class="(message.is_flagged == 1) ? 'text-danger' : 'text-info'"
                         @click="toggleFlag(message.id)">
                         {{ (message.is_flagged == 1) ? 'Remove Flag' : 'Add Flag'}}
                        </a></td>
                   </tr>
              </template>
              <template v-else> 
                  <tr>
                      <td colspan="10">
                          <div class="blank-data">
                              <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                              <h3>Nothing Here Yet!</h3>
                              <p>Did not find anything .. try again.</p>
                          </div>
                      </td>
                  </tr>
              </template>
          </tbody>
          </table>
      </div>
      <div class="row">
        <div>
          <div class="dataTables_paginate paging_simple_numbers">
            <paginate
              :page-count="message.pageCount"
              :page-range="3"
              :margin-pages="1"
              :click-handler="getMessages"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'">
            </paginate>
          </div>
        </div>
      </div>
      
      <!-- <attachment-view-modal :file_path="file_path" :extension="extension"></attachment-view-modal> -->
    </div>
  </div>
</template>


<script type="text/javascript">
  import axios from 'axios';
  import DatePicker from 'vue2-datepicker'
  export default {
    props : ['user_id'],
    components: {
       DatePicker, 
    },
    data: function () {
      return {
        id : null,
        index : null,
        encryptedId : null,
        module: 'support/message',
        messages : [],
        message: {
            pageCount: 0,
            totalMessages:0,
            keyword : '',
            filter_by_flag : '0',
        },
        search_spinner : null,
        popupMessage : '',
        docs : [],
        file_path : '',
        extension : '',
         shortcuts: [
            {
              text: 'Previous 7 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
              }
            },
            {
              text: 'Previous 30 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
              }
            },
            {
              text: 'Next 7 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
              }
            },
            {
              text: 'Next 30 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
              }
            },
        ],
      }
    },
    mounted() {
      var app = this;
      app.getMessages(1);
      EventBus.$on('getMessagesList', function() {
        app.getMessages(1);
      });
    },
    computed: {
        $loggedInUser: function () {
            return JSON.parse(this.$store.getters.getAuthUser);
        },
        $loggedInUserIsMember : function () {
            var user = JSON.parse(this.$store.getters.getAuthUser);
            return user.is_member;
        }
    },
    methods : {
      getMessages(page) {
          var app = this;
          app.message.page = page || 1;
          app.message.limit = 10;
          app.message.filter_by_logged_in_user_id = app.$loggedInUser.id;
          app.message.filter_by_other_user_id = app.user_id;
          app.message.keyword = app.message.keyword;
          app.message.filter_by_flag = app.message.filter_by_flag;
          app.message.filter_by_not_complaints = 1;

          axios({
              method: 'get',
              url: app.$apiUrl+'support/messages',
              params: app.message
          })
          .then(function (resp) {
              app.search_spinner = false;
              app.message.totalMessages = resp.data.data.pagination.total;
              app.messages = resp.data.data.data;
              app.message.pageCount = resp.data.data.pagination.last_page;
          })
          .catch(function (resp) {
              app.messages = [];  
              app.message.pageCount = 0;
              app.message.totalMessages = 0;
          });
      },
      showMessage(msg, id,  encryptedId) {
        this.popupMessage = msg;
        this.id = id;
        this.encryptedId = encryptedId;
        EventBus.$emit('showMessage', this.popupMessage, this.id, this.encryptedId);
      },
      showAttachments(docs) {
        this.docs = docs;
        EventBus.$emit('showMessageAttachment', this.docs);
      },
      viewAttachment(file_path, extension) {
        EventBus.$emit('fileSelected', file_path,extension);
      },
      setRecordObj:function(id, index)
      {
          var app = this;
          app.id = id;
          app.index = index;
      },
      refreshList(){
          this.getMessages(1);
      }, 
      toggleFlag(id) {
        var app = this;
        axios.put(app.$apiUrl+'support/message/toggle-flag/'+id)
            .then(resp => {
                app.refreshList();
            })
            .catch(function (resp) {
            });
      },
      searchRec() {
          var app = this;
          app.search_spinner = true;
          app.getMessages(1);
      }, 
    }  
  }
</script>
<style scoped="">
  .m-t-30 {
    margin-top: 30px;
  }
</style>
