<template>
	<div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-hidden="true" v-if="docs.length > 0">
        <div class="modal-dialog modal-lg">
          <div class="modal-content-wrapper">
            <div class="modal-content">
              <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Attachments</h5>
              </div>
              <div class="modal-body">
                <div class="card-block dataTables_wrapper">
                  <div class="table-responsive ">
                    <table class="table table-hover " id="basicTable">
                      <thead>
                       <!--  <th>ID</th> -->
                       <th>Date Time</th>
                        <th>File Name</th>
                        <th>Action</th>
                      </thead>
                      <tbody>
                          <template v-if="docs.length > 0">  
                              <tr v-for="doc, index in docs" >
                                  <!-- <td>{{ index+1 }}</td> -->
                                  <td>{{ doc.created_at | moment("DD-MM-YYYY hh:mm a") }}</td>
                                  <td >{{ doc.file }}</td>
                                  <td ><a href="#attachmentViewModal" data-toggle="modal" @click="viewAttachment(doc.file_path, doc.extension)">View</a></td>
                               </tr>
                          </template>
                          <template v-else> 
                              <tr>
                                  <td colspan="10">
                                      <div class="blank-data">
                                          <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                          <h3>Nothing Here Yet!</h3>
                                          <p>Did not find anything .. try again.</p>
                                      </div>
                                  </td>
                              </tr>
                          </template>
                      </tbody>
                      </table>
                  </div>
              </div>   
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
</template>
<script type="text/javascript">
  import axios from 'axios';
  export default {
    props : ['docs'],
    
    data: function () {
      return {
       
      }
    },
    mounted() {
    },
    methods : {
    	viewAttachment(file_path, extension) {
            EventBus.$emit('viewAttachment', file_path, extension);
        },
    }  
  }
</script>