<template>
    <span>
        <header-component></header-component>
        <div class="section section-patient-assessment clearfix">
            <div class="max-wrapper">
                <div class="assesment-left pull-left">
                    <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow" v-html="alertMsg">
                    </div>
                    <!-- <div id="camera-subscriber" class="video-calling-box" v-if="isSubscriberStreaming">
                      <img :src="$imageUrl+'dummy/video-call.jpg'">
                      <div id="camera-publisher" class="doctor-camera-view" v-if="isPublisherStreaming"></div>
                        <span class="full-screen">
                            <img :src="$imageUrl+'icons/pixel-full-screen.svg'">
                        </span>
                    </div>
                    <div id="camera-subscriber" class="video-calling-box" v-else>
                      <img :src="$imageUrl+'dummy/video-call.jpg'">
                      <div id="camera-publisher" class="doctor-camera-view" v-if="isPublisherStreaming">
                      </div>
                      <div id="camera-publisher" class="doctor-camera-view" v-else>
                        <img :src="$imageUrl+'dummy/profile-photo.jpg'">
                      </div>
                    </div> -->
                    <videoCall :sessionId="sessionId" :token="token" :appointment_id="appointment_id" :user_type="user_type" v-if="sessionId != null" :appointmentEncryptedId="appointmentEncryptedId"></videoCall>
                </div>
                <div class="assesment-center">
                    <h2 class="inner-section-heading">Lorem Ipsum Coslem</h2>
                    <p>Our mission is to take the strain away from physical waiting rooms and provide patients with access to UK GP’s at a time and a place that suits their busy lifestyle. Proin auctor euismod erat, id lobortis tortor ultrices in. Mauris malesuada elit nec magna ultrices, a imperdiet sapien lobortis. rutrum id bibendum sed, dapibus nec nisl. Sed ut libero tempor, convallis sapien sed, commodo elit. Vestibulum eleifend tincidunt est sed ultrices. In ligula dui, molestie at cursus quis, suscipit sed ligula. Ut mollis eget tortor sit amet mollis.</p>
                    <p>Proin posuere nibh ac rutrum vestibulum. Nulla ligula sem, blandit a scelerisque quis, mollis ac nisi. Etiam id ante et tortor aliquam commodo. Praesent eu nulla ut urna iaculis aliquam in sit amet nisi. Proin mattis tellus risus, sed convallis mi egestas sit amet. Vivamus vitae turpis nec sem auctor bibendum. Vivamus non tellus fermentum, pretium arcu vel, sodales leo.</p>
                </div>
            </div>
        </div>
         <endAssessmentModal></endAssessmentModal>
    </span>
</template>
<script>
    import videoCall from "./VideoCall.vue";
    import endAssessmentModal from "./EndAssessmentModal.vue";
    export default {
        props : ['sessionId', 'token', 'appointment_id', 'user_type', 'appointmentEncryptedId'],
        components : {
            videoCall, endAssessmentModal
        },
        beforeCreate: function() {
            document.body.className = 'patient-video-view';
        },
        mounted () {
          var app = this;
          EventBus.$on('showEndAssessmentModal', function() {
              $('#session-ended').modal('show');
              $('#session-ended').modal({backdrop: 'static', keyboard: false})
          });


        },
        data: function () {
            return {
                isPublisherStreaming : false,
              isSubscriberStreaming : false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
            }
        },

    }
</script>
