<template>
    <span class="patient-assesment-page-wrapper">
        <span v-if="appointmentData != '' && !isPageLoading">
            
            <div class="header">
            <div class="fixed-header">
                <div class="alert toast-style" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                 </div>
                <router-link :to="{name : 'DoctorPanel'}" class="go-back-link">Go Back</router-link>
                <h2 class="pull-left">Patient Assessment</h2>
                <a href="javascript:;" class="btn btn-primary pull-right mt-10" @click="submitAssessment" :class="{ 'show-spinner': isSubmitLoading, 'disabled' : rightTabVal != 'lab-form-tab-content' }">
                    <span>Submit Assessement</span>
                    <div class="loader"></div>
                </a>
                <a href="#inivitationLinkModal" data-toggle="modal" class="btn btn-info pull-right mt-10 mr-10">Invite Patient</a>
            </div>
            </div>
            <div class="assesment-left" >
                <div class="scrollbar" id="style-4">
                    <div class="force-overflow">
                    <div class="assesment-profile-photo" v-if="appointmentData.patient.profile_pic_path != ''">
                        <div class="profile-iamge"><img :src="appointmentData.patient.profile_pic_path"></div>
                        <h2 class="patient-name">{{ appointmentData.patient.title}}. {{ appointmentData.patient.user.full_name }}</h2>
                    </div>
                    <div class="assesment-profile-photo" v-else>
                        <div class="profile-iamge"><img :src="$imageUrl+'dummy/profile-photo.jpg'"></div>
                        <h2 class="patient-name">{{ appointmentData.patient.title}}. {{ appointmentData.patient.user.full_name }}</h2>
                    </div>
                    <div class="assesment-profile-info">
                        <div class="row">
                            <div class="col-xs-12 col-md-4"><p><span>DOB:</span>{{ appointmentData.patient.dob | moment('DD-MM-YYYY') }}</p></div>
                            <div class="col-xs-12 col-md-4"><p><span>Age:</span> {{ appointmentData.patient.age}}</p></div>
                            <div class="col-xs-12 col-md-4"><p><span>Gender:</span> {{ appointmentData.patient.user.gender}}</p></div>
                        </div>
                        <p><span>Address:</span> {{appointmentData.patient.address_first_line}} {{appointmentData.patient.city}} {{appointmentData.patient.country}} {{appointmentData.patient.postcode}}</p>
                        <p><span>Mobile:</span> {{ appointmentData.patient.user.mobile_number}}</p>
                        <p><span>Email:</span> {{ appointmentData.patient.user.email}}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-4"><p><span>Member:</span> {{ (appointmentData.patient.is_member == 1) ? 'Yes' : 'No'}}</p></div>
                            <div class="col-xs-12 col-md-8" v-if="appointmentData.patient.is_member == 1 && appointmentData.patient.subscription != null"><p><span>Start Date:</span> {{appointmentData.patient.subscription.subscription_date | moment('DD-MM-YYYY') }}</p></div>
                        </div>
                        <p v-if="appointmentData.patient.mental_hospital_address_id != 0"><span>Hospital Address:</span>{{appointmentData.patient.mental_hospital_address.name}} {{appointmentData.patient.mental_hospital_address.address_first_line}} {{appointmentData.patient.mental_hospital_address.city}} {{appointmentData.patient.mental_hospital_address.country}} {{appointmentData.patient.mental_hospital_address.postcode}} </p>
                        <p v-else><span>Hospital Address:</span>-</p>

                        <p v-if="appointmentData.patient.laboratory_address_id != 0"><span>Lab Address:</span> {{appointmentData.patient.laboratory_address.name}} {{appointmentData.patient.laboratory_address.address_first_line}} {{appointmentData.patient.laboratory_address.city}} {{appointmentData.patient.laboratory_address.country}} {{appointmentData.patient.laboratory_address.postcode}}</p>
                        <p v-else><span>Lab Address:</span>-</p>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <videoCall :sessionId="sessionId" :token="token" :appointment_id="appointmentData.id" :user_type="user_type" v-if="sessionId != null"></videoCall>
                    <ul class="schedule-table">
                        <li class="text-center"><strong>Today's Date:</strong> {{ new Date() | moment("DD-MM-YYYY") }}</li>
                        <li class="text-center"><strong>Appointment Date:</strong> {{ appointmentData.date_time | moment("DD-MM-YYYY") }}</li>
                        <li class="text-center"><strong>Currernt Time</strong> {{ new Date() | moment("hh:mm a") }}</li>
                        <li class="text-center"><strong>Appointment Time:</strong> {{ appointmentData.date_time | moment("hh:mm a") }}</li>
                        <li class="text-center"><strong>{{ appointmentData.appointment_type.name }}</strong></li>
                    </ul>
                    <hr>
                    <div class="tab-content-main clearfix">
                    <div class="left-sidebar">
                    	<carousel id="patient-tabs-side" class="patient-tabs-side" :autoplay="false" :nav="false" :loop="false" :margin="0" :responsive="{0:{items:1},600:{items:1},1000:{items:3}}">
                            <li class="item" :class="{'active' : leftTabVal == 'hospital-records-tab-content'}" @click="showLeftTabs('hospital-records-tab-content')">
                                <a href="javascript:;" data-content=".hospital-records-tab-content" >Hospital Records </a>
                            </li>
                            <li class="item" :class="{'active' : leftTabVal == 'lab-records-tab-content'}" @click="showLeftTabs('lab-records-tab-content')">
                                <a href="javascript:;" data-content=".lab-records-tab-content">Lab Records</a>
                            </li>
                            <li class="item" :class="{'active' : leftTabVal == 'message-tab-content'}" @click="showLeftTabs('message-tab-content')">
                                <a href="javascript:;" data-content=".message-tab-content">Messages</a>
                            </li>
                            <li class="item" :class="{'active' : leftTabVal == 'notes-tab-content'}" @click="showLeftTabs('notes-tab-content')">
                                <a href="javascript:;" data-content=".notes-tab-content">Notes</a>
                            </li>
                            <li class="item" :class="{'active' : leftTabVal == 'attachment-tab-content'}" @click="showLeftTabs('attachment-tab-content')">
                                <a href="javascript:;" data-content=".attachment-tab-content">Attachments</a>
                            </li>
                            <li class="item" :class="{'active' : leftTabVal == 'assessment-tab-content'}" @click="showLeftTabs('assessment-tab-content')">
                                <a href="javascript:;" data-content=".assessment-tab-content">Assessments</a>
                            </li>
                            <li class="item" :class="{'active' : leftTabVal == 'psychatric-tab-content'}" @click="showLeftTabs('psychatric-tab-content')">
                                <a href="javascript:;" data-content=".psychatric-tab-content">Psychatric Records</a>
                            </li>
                        </carousel>
                    </div>
                        <div class="account-tab-content hospital-records-tab-content" :class="{'active' : leftTabVal == 'hospital-records-tab-content'}">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date Time</th>
                                            <th>Record Emailed</th>
                                            <th>Hospital Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="hospital_records.length > 0">  
                                            <tr v-for="record, index in hospital_records" >
                                                <td width="20%">{{ record.created_at | moment("DD-MM-YYYY, hh:mm a") }}</td>
                                                <td>{{ (record.is_emailed == '1') ? 'Yes' : 'No' }}</td>
                                                <td>{{ record.mental_hospital_address.name }}</td>
                                                <td width="15%">
                                                    <a href="javascript:;" @click="showHospitalRecPopup(record.id)">View</a>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                                <div class="row">
                                  <div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                      <paginate
                                        :page-count="hospital_record.pageCount"
                                        :page-range="3"
                                        :margin-pages="1"
                                        :click-handler="getHospitalRecords"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                      </paginate>
                                    </div>
                                      </div>
                                  </div>
                            </div>
                        </div>
                         <div class="account-tab-content lab-records-tab-content" :class="{'active' : leftTabVal == 'lab-records-tab-content'}">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date Time</th>
                                            <th>Lab Form Emailed</th>
                                            <th>Lab Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="lab_records.length > 0">  
                                            <tr v-for="record, index in lab_records" >
                                                <td width="20%">{{ record.sent_date | moment("DD-MM-YYYY, hh:mm a") }}</td>
                                                <td>{{ (record.is_emailed == '1') ? 'Yes' : 'No' }}</td>
                                                <td>{{ record.laboratory_address.name }}</td>
                                                <td width="15%">
                                                    <a href="javascript:;" @click="showLabRecPopup(record.id)">View</a>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                  <div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                      <paginate
                                        :page-count="lab_record.pageCount"
                                        :page-range="3"
                                        :margin-pages="1"
                                        :click-handler="getLabRecordList"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                      </paginate>
                                    </div>
                                      </div>
                                  </div>
                        </div>
                        <div class="account-tab-content message-tab-content" :class="{'active' : leftTabVal == 'message-tab-content'}">
                            <messages :user_id="appointmentData.patient.user_id"></messages>
                        </div>
                        <div class="account-tab-content notes-tab-content" :class="{'active' : leftTabVal == 'notes-tab-content'}">
                                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date Time</th>
                                            <th>Subject</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="notes.length > 0">  
                                            <tr v-for="note, index in notes" >
                                                <td width="20%">{{ note.created_at | moment("DD-MM-YYYY, hh:mm a") }}</td>
                                                <td>{{ note.subject }}</td>
                                                <td width="15%">
                                                    <a href="#viewNoteModal" data-toggle="modal" @click="showNotes(note.subject, note.note)">View</a>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                  <div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                      <paginate
                                        :page-count="note.pageCount"
                                        :page-range="3"
                                        :margin-pages="1"
                                        :click-handler="getNotes"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                      </paginate>
                                    </div>
                                      </div>
                                  </div>
                        </div>
                        <div class="account-tab-content attachment-tab-content" :class="{'active' : leftTabVal == 'attachment-tab-content'}">
                                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                             <th>Date Time</th>
                                            <th>Document Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="attachmentsArr.length > 0">  
                                            <tr v-for="doc, index in attachmentsArr" >
                                                <td>{{ index+1 }}</td>
                                                <td>{{ doc.created_at  | moment("DD-MM-YYYY h:mm a")}}</td>
                                                <td>{{ doc.name }}</td>
                                                <td><a href="#attachmentViewModal" data-toggle="modal"  @click="viewAttachment(doc.path, doc.extension)"> View</a></td>
                                             </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="account-tab-content assessment-tab-content" :class="{'active' : leftTabVal == 'assessment-tab-content'}">
                            <div class="row">
                              <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Type</label> 
                                <select v-model="appointment.filter_by_type" class="form-control" placeholder="Filter By Type">
                                     <option value="">All</option>
                                     <option value="1">Initial assessment</option>
                                     <option value="2">Follow up assessment - type 1</option>
                                     <option value="3">Follow up assessment - type 2</option>
                                     <option value="4">Telephone advice</option>
                                 </select>
                              </div>
                              <div class="form-group  pull-right col-sm-6">
                                <label>Filter By Date Range</label> 
                               <date-picker v-model="appointment.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY"></date-picker>
                              </div> 
                              
                              <div class="pull-right col-md-3">
                                <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" :class="{'show-spinner' : appointment.search_spinner}" @click="searchRec">
                                  <span> Search </span>
                                  <div class="loader"></div>
                                </a>
                              </div>  
                            </div>
                            <div class="card-block dataTables_wrapper no-padding">
                                <div class="table-responsive ">
                                  <table class="table table-hover " id="basicTable">
                                    <thead>
                                      <th>Date Time</th>
                                      <th>Type</th>
                                      <th>Specialty</th>
                                      <th>Status</th>
                                      <!-- <th>Action</th> -->
                                    </thead>
                                    <tbody id="user_listing">
                                        <template v-if="appointments.length > 0">  
                                            <tr v-for="appointment, index in appointments" >
                                                <td width="20%">{{ appointment.date_time | moment("DD-MM-YYYY, h:mm a") }}</td>
                                                <td>{{ appointment.appointment_type.name }}</td>                                    
                                              <td>{{ appointment.doctor.specialty.name }}</td>
                                              <td>{{ appointment.status }}</td>
                                                <!-- <td width="15%">
                                                    <router-link :to="{name: 'AssessmentView', params: {id: appointment.id}}" class="btn btn-xs btn-success">
                                                         <i class="fa fa-eye" title="View"></i>
                                                    </router-link>
                                                </td> -->
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="row">
                                  <div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                      <paginate
                                        :page-count="appointment.pageCount"
                                        :page-range="3"
                                        :margin-pages="1"
                                        :click-handler="getAppointments"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                      </paginate>
                                    </div>
                                      </div>
                                  </div>
                              </div>
                        </div>
                        <div class="account-tab-content psychatric-tab-content" :class="{'active' : leftTabVal == 'psychatric-tab-content'}">
                                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                             <th>Date Time</th>
                                            <th>Document Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="psychiatricReportsArr.length > 0">  
                                            <tr v-for="doc, index in psychiatricReportsArr" >
                                                <td>{{ index+1 }}</td>
                                                <td>{{ doc.created_at  | moment("DD-MM-YYYY h:mm a")}}</td>
                                                <td>{{ doc.name }}</td>
                                                <td><a href="#attachmentViewModal" data-toggle="modal" @click="viewAttachment(doc.path, doc.extension)">View</a></td>
                                             </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="assesment-center">
                <div class="scrollbar" id="style-4">
                    <div class="force-overflow">
                        <div class="tab-content-main">
                            <div class="left-sidebar">
                            	<ul class="patient-tabs-rt dark-tab">
                                    <li class="item">
                                        <a href="javascript:;" @click="showAttachments(identityDocsArr)">Photo ID</a>

                                    </li>
                                    <li class="item" data-toggle="modal" data-target=".send-message-modal">
                                        <a  data-toggle="modal" data-target="" href="javascript:;" data-content=".send-msg-tab-content">Send Message</a>
                                    </li>
                                    <li class="item" data-toggle="modal" data-target="#addNoteModal">
                                        <a href="javascript:;" data-content="add-notes-tab-content">Add Notes</a>
                                    </li>
                                    <li class="item" data-toggle="modal" data-target=".send-email-modal">
                                        <a href="javascript:;" data-content=".email-tab-content">Email</a>
                                    </li>
                                </ul>
                            </div>            
                <!--                      <div class="account-tab-content send-msg-tab-content active">
                                <p class="text-center no-records-found-text">No Records Found</p>
                            </div>
                             <div class="account-tab-content add-notes-tab-content ">
                                <p class="text-center no-records-found-text">No Records Found</p>
                            </div>
                             <div class="account-tab-content email-tab-content ">
                                <p class="text-center no-records-found-text">No Records Found</p>
                            </div>
                             <div class="account-tab-content appointments-tab-content ">
                                <p class="text-center no-records-found-text">No Records Found</p>
                            </div> -->
                            </div>
                            <div class="clearfix"></div>
                        <div class="tab-content-main">
                            <div class="left-sidebar">
                                <carousel id="patient-tabs-rt-2" class="patient-tabs-rt-2" :autoplay="false" :nav="false" :loop="false" :margin="0" :responsive="{0:{items:1},600:{items:1},1000:{items:6}}">
                                    <li class="item" :class="{'active' : rightTabVal == 'clinical-tab-content'}">
                                        <a href="javascript:;" data-content=".clinical-tab-content" @click="showRightTabs('clinical-tab-content')">Clinical</a>
                                    </li>
                                    <li class="item" :class="{'active' : rightTabVal == 'lab-form-tab-content'}">
                                        <a href="javascript:;" data-content=".lab-form-tab-content" @click="showRightTabs('lab-form-tab-content')">Lab Form</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:;" data-content=".medical-tab-content">Medical 1</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:;" data-content=".medical-tab-content">Medical 2</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:;" data-content=".medical-tab-content">Medical 3</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:;" data-content=".medical-tab-content">Medical 4</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:;" data-content=".medical-tab-content">Medical 5</a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:;" data-content=".medical-tab-content">Medical 6</a>
                                    </li>
                                </carousel>
                            </div>                      
                             <div class="account-tab-content clinical-tab-content" :class="{'active' : rightTabVal == 'clinical-tab-content'}" v-show="rightTabVal == 'clinical-tab-content'">
                            <!--<p class="text-center no-records-found-text">No Records Found</p> -->
                            <ol class="steps-blts question-blts" v-if="questions.length > 0">
                                <li>
                                    <p><strong>Please tell us about your problems or what you need help with us?</strong></p>
                                    <p v-if="question.patient_text != null">{{ question.patient_text.text}}</p>
                                    <p v-else>No Description Entered</p>
                                </li>
                                <li v-for="question, index in clinical.questionnaire">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <p>{{ question.question}}</p>
                                            <div class="form-group patient-question-row">
                                                <div class="radio custom-radio">
                                                    <label><input type="radio" value="yes" :name="'qRadio'+question.question_id"
                                                    v-model="clinical.questionnaire[index].answer"
                                                     @change="selectQuestion(question.question_id, index, 'yes')">
                                                        <span class="radio-circle"></span>
                                                        <p class="label-text">Yes</p>
                                                    </label>
                                                </div>
                                                <div class="radio custom-radio">
                                                    <label><input type="radio" value="no" :name="'qRadio'+question.question_id"
                                                    v-model="clinical.questionnaire[index].answer"
                                                     @change="selectQuestion(question.question_id, index, 'no')">
                                                        <span class="radio-circle"></span>
                                                        <p class="label-text">No</p>
                                                    </label>
                                                </div>
                                                <input type="text" :name="'comment'+question.question_id" class="form-control" v-model="clinical.questionnaire[index].comment">
                                            </div>                                    
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis pharetra justo at porttitor. Aliquam scelerisque nisi a ultrices laoreet. Integer scelerisque vel neque eu tempus.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p><label>Doctor Final Comments</label></p>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="4" placeholder="Start Typing" 
                                         name="doctor_final_comment"
                                         :class="{'is-invalid': errors.has('doctor_final_comment') }"
                                         data-vv-as="doctor final comment"
                                        v-model="clinical.doctor_final_comment" ></textarea>
                                        <small class="has-error"
                                          v-show="errors.has('doctor_final_comment')">
                                          {{ errors.first('doctor_final_comment') }}
                                        </small> 
                                    </div> 

                                </li>
                            </ol>                    
                            <div class="form-group">
                                <label class="">Consent for sharing information with hospital?</label>
                                <div class="clearfix"></div>
                                    <div class="radio custom-radio btn-inline-block ">
                                        <label>
                                            <input type="radio" value="1" name="radioConsent" v-model="appointmentData.patient.sharing_consent"@change="changeSharingConsent('Yes')">
                                            <span class="radio-circle"></span>
                                            Yes
                                        </label>
                                    </div>
                                    <div class="radio custom-radio btn-inline-block ">
                                        <label>
                                            <input type="radio" value="0" name="radioConsent" v-model="appointmentData.patient.sharing_consent"@change="changeSharingConsent('No')">
                                            <span class="radio-circle"></span>No
                                        </label>
                                    </div>
                            </div>

                            </div>
                             <div class="account-tab-content lab-form-tab-content" :class="{'active' : rightTabVal == 'lab-form-tab-content'}" v-show="rightTabVal == 'lab-form-tab-content'">
                                <div class="row">
                                    <div class="alert col-md-12" v-bind:class="{'alert-success': lab_record.isSuccess, 'alert-danger':lab_record.isError}" role="alert" id="user_msg" v-if="lab_record.isAlertShow" v-html="lab_record.alertMsg">
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group">
                                            <label class=""></label>
                                            <p></p>
                                        </div>
                                        <p class="dark-text"><strong>Membership:</strong> {{ (appointmentData.patient.is_member == '1') ? 'Yes' : 'No' }}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-6" v-if="appointmentData.patient.is_member == '1' && appointmentData.patient.subscription != null">
                                        <div class="form-group">
                                            <label class=""></label>
                                            <p></p>
                                        </div>
                                        <p class="dark-text"><strong>Start Date of Membership:</strong> {{ appointmentData.patient.subscription.subscription_date | moment('DD-MM-YYYY') }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="section-separater"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <template v-if="appointmentData.patient.rbt != null">
                                            <p class="info-text" v-if="appointmentData.patient.rbt.status == 'deactivated'">
                                                <i class="icon-info-circle"></i> Please activate repeat blood test service before adding repeat tests. 
                                            </p>
                                        </template>
                                        <template v-else>
                                        <p class="info-text">
                                              <i class="icon-info-circle"></i> Please activate repeat blood test service before adding repeat tests. 
                                          </p>
                                      </template>
                                    </div>        
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <template v-if="appointmentData.patient.rbt != null">
                                                <label class="" v-if="appointmentData.patient.rbt.status == 'activated'">
                                                         Repeat (Monthly Date: {{ appointmentData.patient.rbt.upcoming_test_date | moment('DD-MM-YYYY') }}<a href="javascript:;" data-toggle="modal" data-target=".repeat-date-modal"> Edit</a> )
                                                </label>
                                                <label class="" v-else>Repeat (Deactivated)<a href="javascript:;" data-toggle="modal" data-target=".repeat-date-modal"> Edit</a> )</label>
                                            </template>
                                            <template v-else>
                                                <label class="">Repeat (Deactivated)<a href="javascript:;" data-toggle="modal" data-target=".repeat-date-modal"> Edit</a> )</label>
                                            </template>
                                        </div>
                                        <div class="card test-card-pad" style="height: 180px">
                                            <div class="">
                                                <table class="table">
                                                    <thead class="thead-light"> 
                                                        <tr>
                                                            <th>Test Name</th>
                                                            <th>Order Date</th>
                                                        </tr>
                                                    </thead>
                                                        <template v-if="lab_records.length > 0">
                                                                <template v-for="rec, index in  lab_records">

                                                                <tbody>
                                                                    <tr v-for="detail, ind in  rec.details">
                                                                        <template v-if="detail.status == 'repeat'">
                                                                            <td>{{ detail.test }}</td>
                                                                            <td >{{ detail.started_at_date | moment("DD-MM-YYYY")}}</td>
                                                                        </template>
                                                                        </tr>
                                                                    </tbody>
                                                                </template>
                                                        </template>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="">Single</label>
                                        </div>
                                        <div class="card test-card-pad" style="height: 180px">
                                            <div class="">
                                                <table class="table">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Test Name</th>
                                                            <th>Order Date</th>
                                                        </tr>
                                                    </thead>
                                                        <template v-if="lab_records.length > 0">
                                                            <template v-for="rec, index in  lab_records">
                                                                <tbody>
                                                                    <tr v-for="detail, ind in  rec.details">
                                                                        <template v-if="detail.status == 'single'">
                                                                            <td>{{ detail.test }}</td>
                                                                            <td >{{ detail.started_at_date | moment("DD-MM-YYYY")}}</td>
                                                                        </template>
                                                                        </tr>
                                                                    </tbody>
                                                            </template>
                                                        </template>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="">Stopped</label>
                                        </div>
                                        <div class="card test-card-pad" style="height: 180px">
                                            <div class="">
                                                <table class="table">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Test Name</th>
                                                            <th>Stopped Date</th>
                                                        </tr>
                                                    </thead>
                                                        <template v-if="lab_records.length > 0">
                                                            <template v-for="rec, index in  lab_records">
                                                                <tbody>
                                                                    <tr v-for="detail, ind in  rec.details">
                                                                        <template v-if="detail.status == 'stopped'">
                                                                            <td>{{ detail.test }}</td>
                                                                            <td >{{ detail.stopped_at_date | moment("DD-MM-YYYY")}}</td>
                                                                        </template>
                                                                        </tr>
                                                                    </tbody>
                                                            </template>
                                                        </template>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
<!--                                     <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label class="">Single</label>
                                        </div>
                                        <div class="card test-card-pad">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6"><label>Test Name</label></div>
                                                <div class="col-xs-12 col-md-6"><label>Order Date</label></div>
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="section-separater"></div>
                                                </div>
                                            </div>
                                            <template v-if="lab_records.length > 0">
                                                <template v-for="rec, index in  lab_records">
                                                    <div class="row" v-for="detail, ind in  rec.details">
                                                        <template v-if="detail.status == 'single'">
                                                            <div class="col-xs-12 col-md-6">{{ detail.test }}</div>
                                                            <div class="col-xs-12 col-md-6">{{ detail.started_at_date | moment("DD/MM/YYYY")}}</div>
                                                        </template>

                                                    </div>
                                                </template>
                                            </template>
                                        </div>                              
                                    </div> -->
<!--                                     <div class="col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label class="">Stopped</label>
                                        </div>
                                        <div class="card test-card-pad">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6"><label>Test Name</label></div>
                                                <div class="col-xs-12 col-md-6"><label>Date Stopped</label></div>
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="section-separater"></div>
                                                </div>
                                            </div>
                                            <template v-if="lab_records.length > 0">
                                                <template v-for="rec, index in  lab_records">
                                                    <div class="row" v-for="detail, ind in  rec.details">
                                                        <template v-if="detail.status == 'stopped'">
                                                            <div class="col-xs-12 col-md-6">{{ detail.test }}</div>
                                                            <div class="col-xs-12 col-md-6">{{ detail.stopped_at_date | moment("DD/MM/YYYY")}}</div>
                                                        </template>
                                                    </div>
                                                </template>
                                            </template>
                                        </div>                              
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="section-separater"></div>
                                    </div>
                                </div>
                                
                                <template v-if="labforms.details.length > 0">
                                    <div class="row test-divs" v-for="detail, index in  labforms.details">
                                        <template v-if="detail.is_stopped != '1'">
                                                <div class="col-xs-12 col-md-3">
                                                <div class="form-group">
                                                    <label>Name of test</label>
                                                    <select class="form-control" v-model="detail.test"
                                                    :class="{'is-invalid': errors.has('labform.test'+index) }"
                                                    v-validate="'required'" :name="'test'+index"
                                                    data-vv-as="test"
                                                    data-vv-scope="labform"
                                                    >
                                                        <option value="">Select Test</option>
                                                        <option value="FBC">FBC</option>
                                                        <option value="LFT">LFT</option>
                                                        <option value="TFT">TFT</option>
                                                        <option value="CBC">CBC</option>
                                                    </select>
                                                     <small class="has-error"
                                                      v-show="errors.has('labform.test'+index)">
                                                      {{ errors.first('labform.test'+index) }}
                                                    </small>  
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                
                                                <div class="form-group">
                                                    <label>Sample</label>
                                                    <select class="form-control" v-model="detail.sample" :class="{'is-invalid': errors.has('labform.sample'+index) }"
                                                    v-validate="'required'" :name="'sample'+index"
                                                    data-vv-as="sample"
                                                    data-vv-scope="labform">
                                                        <option value="">Select Sample</option>
                                                        <option value="blood">Blood</option>
                                                        <option value="serum">Serum</option>
                                                    </select>
                                                    <small class="has-error"
                                                      v-show="errors.has('labform.sample'+index)">
                                                      {{ errors.first('labform.sample'+index) }}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <div class="form-group">
                                                    <label></label>
                                                    <input type="" name="" class="form-control" v-model="detail.additional_info"
                                                    :class="{'is-invalid': errors.has('labform.additional_info'+index) }"
                                                    v-validate="'required'" :name="'additional_info'+index"
                                                    data-vv-as="additional info"
                                                    data-vv-scope="labform" style="margin-top: 8px;">
                                                    <small class="has-error"
                                                      v-show="errors.has('labform.additional_info'+index)">
                                                      {{ errors.first('labform.additional_info'+index) }}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <button class="pull-right remove-icon" @click="removeTest(index)"><i class="icon-remove"></i></button>
                                                <div class="form-group">
                                                    <label></label> 
                                                    <div class="clearfix"></div> 
                                                        <div class="radio custom-radio btn-inline-block">
                                                            <label>
                                                                <input type="radio" value="single" :name="'radio-'+index"  v-model="detail.status"> 
                                                                <span class="radio-circle"></span>
                                                                Single
                                                            </label>
                                                        </div> 
                                                        <div class="radio custom-radio btn-inline-block">
                                                            <label>
                                                                <template v-if="appointmentData.patient.rbt != null">
                                                                  <input type="radio" value="repeat" :name="'radio-'+index" v-model="detail.status" :disabled="appointmentData.patient.rbt.status == 'deactivated' ? true : false" > <span class="radio-circle"></span>
                                                                  Repeat
                                                                </template>
                                                                <template v-else>
                                                                  <input type="radio" value="repeat" :name="'radio-'+index" v-model="detail.status" disabled="true"> <span class="radio-circle"></span>
                                                                  Repeat
                                                                </template>
                                                              
                                                          </label>
                                                        </div>
                                                        <div class="radio custom-radio btn-inline-block">
                                                            <label>
                                                                <input type="radio" value="stopped" :name="'radio-'+index" v-model="detail.status"> <span class="radio-circle"></span>
                                                                Stopped
                                                            </label>
                                                        </div>
                                                </div>                                
                                            </div>
                                            <div class="col-xs-12 col-md-12">
                                                <div class="section-separater"></div>
                                            </div>
                                        </template>
                                    </div>

                                </template>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <button class="btn btn-primary pull-right" @click="addMoreTest()"><i class="icon-plus"></i> Add More</button>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" :class="{'show-spinner' : isLabLoading}" @click="submitLabForm">
                                            <span>Submit</span>
                                            <div class="loader"></div>
                                        </button>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="alert col-md-12" v-bind:class="{'alert-success': lab_record.isSuccess, 'alert-danger':lab_record.isError}" role="alert" id="user_msg" v-if="lab_record.isAlertShow" v-html="lab_record.alertMsg">
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                             <div class="account-tab-content medical-tab-content ">
                                <p class="text-center no-records-found-text">No Records Found</p>
                            </div>
                        </div>   
                            <div class="clearfix"></div>
                              
                    </div>
                </div>
            </div>
            <!-- send message -->
            <send-message-popup :patient_user_id="appointmentData.patient.user.id" :doctor="appointmentData.doctor"></send-message-popup>
            <!--view notes -->
            <view-notes-popup :note="noteText" :subject="noteSubject"></view-notes-popup>
            <!--add notes -->
            <add-notes-popup :created_on="appointmentData.patient.user.id" module="patient" @noteRecAdded="refreshNoteList"></add-notes-popup>
            <!-- send email -->
            <send-email-popup :patient="appointmentData.patient" :doctor="appointmentData.doctor"></send-email-popup>
            <!-- send email -->
            <repeat-date-popup :patient_id="appointmentData.patient_id" :doctor_id="appointmentData.doctor_id" :repeat_date="appointmentData.patient.rbt.upcoming_test_date" :status="appointmentData.patient.rbt.status" v-if="appointmentData.patient.rbt != null"></repeat-date-popup>
            <repeat-date-popup :patient_id="appointmentData.patient_id" :doctor_id="appointmentData.doctor_id" :repeat_date="$moment(new Date()).format('YYYY-MM-DD')" status="deactivated" v-else></repeat-date-popup>
            
            <attachment-view-modal :file_path="file_path" :extension="extension" ></attachment-view-modal>
            <messageView :popupMessage="popupMessage" :id="MessageId" :encryptedId="MessageEncryptedId"></messageView>
            <messageAttachmentPopup :docs="messageDocs"></messageAttachmentPopup>
            <consentSharingConfirmModal :patient_id="appointmentData.patient_id" :action="consent_action"></consentSharingConfirmModal>
            <hospitalRecordViewModal></hospitalRecordViewModal>

            <labformViewModal></labformViewModal>
            <inviteLinkConfirmation :appointment_id="appointmentData.id"></inviteLinkConfirmation>
           
            </span>
            <span v-else>
                <c-spinner v-if="isPageLoading"></c-spinner>
            </span>
    </span>        
</template>
<script type="text/javascript">
	import axios from 'axios';
	import carousel from 'v-owl-carousel'
    import messageView from './MessageViewModal.vue';
    import messages from './Messages.vue';
    import messageAttachmentPopup from './MessageAttachmentPopup.vue';
    import consentSharingConfirmModal from './ConsentSharingConfirmModal.vue';
    import hospitalRecordViewModal from './HospitalRecordViewModal.vue';
    import labformViewModal from "./LabFormViewModal2.vue";
    import DatePicker from 'vue2-datepicker'
    import videoCall from "./VideoCall.vue";
    import inviteLinkConfirmation from "./InviteLinkConfirmation.vue";
    
	export default {
        props : ['sessionId', 'token', 'appointmentData', 'user_type'],
		components : {
			carousel, messages, messageView, messageAttachmentPopup, DatePicker,
            consentSharingConfirmModal,hospitalRecordViewModal, labformViewModal,
            videoCall, inviteLinkConfirmation
        },
        data: function () {
            return{
                isPageLoading : false,
                appointmentId : null,
                /*appointmentData : '',*/
                psychiatricReportsArr : [],
                attachmentsArr : [],
                identityDocsArr : [],
                file_path : '',
                extension : '',
                notes : [],
                note: {
                    pageCount: 0,
                    totalNotes:0,
                },
                noteText : null,
                noteSubject : null,
                rightTabVal: 'clinical-tab-content',
                leftTabVal : 'hospital-records-tab-content',
                MessageId : '',
                MessageEncryptedId: '',
                popupMessage : '',
                messageDocs : [],
                doctors : [],
                appointments: [],
                appointment: {
                    filter_by_is_archived :'0',
                    filter_by_type: '',
                    filter_by_status: 'completed',
                    filter_by_is_member: '',
                    filter_by_date_range: '',
                    filter_by_doctor_id : '',
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalAppointments:0,
                    search_spinner:false,

                },
                shortcuts: [
                        {
                          text: 'Previous 7 Days',
                          onClick: () => {
                            this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
                          }
                        },
                        {
                          text: 'Previous 30 Days',
                          onClick: () => {
                            this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
                          }
                        },
                        {
                          text: 'Next 7 Days',
                          onClick: () => {
                            this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
                          }
                        },
                        {
                          text: 'Next 30 Days',
                          onClick: () => {
                            this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
                          }
                        },
                    ],
                questions :[],
                question: {
                    filter_by_specialty_id : '',
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalQuestions:0,
                    search_spinner:false,
                    patient_text : null,
                }, 
                clinical : {
                    doctor_id : '',
                    doctor_final_comment : '',
                    hospital_id : '',
                    appointment_id : '',
                    questionnaire :[/*
                        {
                        question : '',
                        question_id :  '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },
                      {
                        question : '',
                        question_id : '',
                        answer : '',
                        comment : '',
                      },*/
                      
                    ], 
                },
                isSubmitLoading : false, 
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                consent_action : '', 
                hospital_records: [], 
                hospital_record: {
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalRecords:0,
                }, 
                lab_records: [], 
                lab_record: {
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalRecords:0,
                    isAlertShow: false,
                    isSuccess:false,
                    isError:false,
                    alertMsg:'',
                },
                labforms : {
                    doctor_id : '',
                    patient_id : '',
                    appointment_id : '',
                    sent_date : '',
                    details : [],

                },
                isLabLoading : false,
                

            }
        },
        beforeCreate: function() {
            document.body.className = 'landing-page patient-assesment-page';
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        mounted() {
            let app = this;

            EventBus.$on('revertConsent', function() {
                if (app.consent_action == 'Yes') {
                    app.appointmentData.patient.sharing_consent = 0;
                } else {
                    app.appointmentData.patient.sharing_consent = 1;
                }
            });
            if (app.appointmentData != null) {

            }
            /*app.appointmentId = app.$route.params.id;
            app.isPageLoading = true;
            var params = {};
            params.filter_column = 'doctor_id';
            params.filter_value = app.$loggedInUser.doctor_id;
            axios({
              method: 'GET',
              url: app.$apiUrl+'appointment/' + app.appointmentId,
              params:params
            })
            .then(function (resp) {
                app.isPageLoading = false;
                app.appointmentData = resp.data.data; */
                app.getQuestionnaire(1); 
                if (app.appointmentData.patient.psychiatric_reports.length > 0) {
                    var psychiatricReportsArr = [];
                    $.each(app.appointmentData.patient.psychiatric_reports, function(ind, ele) {
                        var psychiatricReport = {};
                        psychiatricReport.path = app.$baseUrl+'/storage/psychiatric_reports/'+app.appointmentData.patient.id+'/'+ele.name; 
                        psychiatricReport.name = ele.name;
                        psychiatricReport.created_at = ele.created_at;
                        psychiatricReport.extension = ele.name.split('.').pop();
                        psychiatricReportsArr.push(psychiatricReport);  
                    });
                    app.psychiatricReportsArr = psychiatricReportsArr;
                } else {
                  app.psychiatricReportsArr = [];
                }
                if (app.appointmentData.patient.attachments.length > 0) {
                    //var attachmentsArr = [];
                    $.each(app.appointmentData.patient.attachments, function(ind, ele) {
                        var attachments = {};
                        attachments.path = app.$baseUrl+'/storage/patient_attachments/'+app.appointmentData.patient.id+'/'+ele.name; 
                        attachments.name = ele.name;
                        attachments.created_at = ele.created_at;
                        attachments.extension = ele.name.split('.').pop();
                        app.attachmentsArr.push(attachments);  
                    });
                } else {
                  app.attachmentsArr = [];
                } 

                if (app.appointmentData.patient.identity_docs.length > 0) {
                    var identityDocsArr = [];
                    $.each(app.appointmentData.patient.identity_docs, function(ind, ele) {
                        var identityDoc = {};
                        identityDoc.file_path = app.$baseUrl+'/storage/photo_id/'+app.appointmentData.patient.id+'/'+ele.name; 
                        identityDoc.file = ele.name;
                        identityDoc.created_at = ele.created_at;
                        identityDoc.extension = ele.name.split('.').pop();
                        identityDocsArr.push(identityDoc); 
                    });
                    app.identityDocsArr = identityDocsArr;
                } else {
                  app.identityDocsArr = [];
                }
                /*app.startAssessment(); 
            })
            .catch(function (resp) {
                app.isPageLoading = false;
               // app.$router.replace('/404');
            });*/

            EventBus.$on('showMessage', function(msg, id, encryptedId) {
                app.popupMessage = msg;
                app.MessageId = id;
                app.MessageEncryptedId = encryptedId;
                $('#messageModal').modal('show');
            });

            EventBus.$on('showMessageAttachment', function(docs) {
                app.messageDocs = docs;
                $('#attachmentModal').modal('show');
            });

            EventBus.$on('viewAttachment', function(file_path, extension) {
                app.viewAttachment(file_path, extension);
                $('#attachmentViewModal').modal('show');
            });

            EventBus.$on('updateRepeatDate', function(date, status) {
                if (app.appointmentData.patient.rbt == null) {
                    app.appointmentData.patient.rbt = {};
                    app.appointmentData.patient.rbt.upcoming_test_date = date;
                    app.appointmentData.patient.rbt.status = status;
                } else {
                    app.appointmentData.patient.rbt.upcoming_test_date = date;
                    app.appointmentData.patient.rbt.status = status;
                } 

                console.log(app.appointmentData.patient.rbt);
                
            });
            $('.left-sidebar ul li a').click(function(){
                var currentTab = $(this).attr('data-content');
                $(this).parents('.tab-content-main').find('.left-sidebar ul li').removeClass('active');
                $(this).parent().addClass('active');
                $(this).parents('.tab-content-main').find('.account-tab-content').removeClass('active');
                $(currentTab).addClass('active');
            });
            app.getHospitalRecords(1);
        },
        methods: {
            showLeftTabs(name) {
                var app = this;
                app.leftTabVal = name;
                if (name == 'assessment-tab-content') {
                    //if (app.appointments.length == 0) {
                        app.getAppointments(1);
                    //}
                } else if (name == 'hospital-records-tab-content') {
                    //if (app.hospital_records.length == 0) {
                        app.getHospitalRecords(1);
                    //}
                } else if (name == 'notes-tab-content') {
                    //if (app.notes.length == 0) {
                        app.getNotes(1);
                    //}
                } else if (name == 'lab-records-tab-content') {
                    //if (app.lab_records.length == 0) {
                        app.getLabRecordList(1);
                    //}
                } else if (name == 'message-tab-content') {
                    //if (app.lab_records.length == 0) {
                       EventBus.$emit('getMessagesList');
                    //}
                }
            },
            showRightTabs(name) {
                var app = this;
                app.rightTabVal = name;
                if (name == 'lab-form-tab-content') {
                    if (app.labforms.details.length == 0) {
                        app.getLabRecords(1);
                    }
                }
            },
            viewAttachment(file_path, extension) {
                this.file_path = file_path;
                this.extension = extension;
            },
            getNotes(page) {
                var app = this;
                app.note.page = page || 1;
                app.note.limit = 10;
                app.note.filter_by_created_on = app.appointmentData.patient.user.id;
                app.note.filter_by_created_by = app.appointmentData.doctor.user.id;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'notes',
                    params: app.note
                })
                .then(function (resp) {
                    app.note.totalNotes = resp.data.data.pagination.total;
                    app.notes = resp.data.data.data;
                    app.note.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.notes = [];  
                    app.note.pageCount = 0;
                    app.note.totalNotes = 0;
                });
            },
            refreshNoteList() {
                this.leftTabVal = 'notes-tab-content';
                this.getNotes();
            },
            showNotes(subject, note) {
                this.noteText = note;
                this.noteSubject = subject;
            },
            getAppointments:function(page) {
                var app = this;
                app.appointment.page = page || 1;
                app.appointment.limit = 10;
                app.appointment.filter_by_patient_id = app.appointmentData.patient_id,
                app.appointment.filter_by_doctor_id = app.appointmentData.doctor_id,
                app.appointment.filter_by_status = 'completed';
                if (app.appointment.filter_by_date_range != '') {
                  if (app.appointment.filter_by_date_range[0] != null) {
                    app.appointment.filter_by_date_range[0] = this.$moment(app.appointment.filter_by_date_range[0]).format('YYYY-MM-DD');
                  } 

                  if (app.appointment.filter_by_date_range[1] != null) {
                    app.appointment.filter_by_date_range[1] = this.$moment(app.appointment.filter_by_date_range[1]).format('YYYY-MM-DD');
                  } 
                  
                }
                
                axios({
                    method: 'get',
                    url: app.$apiUrl+'appointments',
                    params: app.appointment
                })
                .then(function (resp) {
                    app.appointment.totalAppointments = resp.data.data.pagination.total;
                    app.appointments = resp.data.data.data;
                    app.appointment.pageCount = resp.data.data.pagination.last_page;
                    app.appointment.search_spinner = false;
                })
                .catch(function (resp) {
                    app.appointments = [];  
                    app.appointment.pageCount = 0;
                    app.appointment.totalAppointments = 0;
                });
            },
           /* getDoctors:function () {
              var app = this;
              axios.get(app.$apiUrl+'doctors?limit=0')
                .then(function (resp) {
                    app.doctors = resp.data.data.data;
                })
                .catch(function () {
                });
            },*/
            searchRec() {
                var app = this;
                app.appointment.search_spinner = true;
                app.getAppointments(1);
            },
            showAttachments(docs) {
                this.docs = docs;
                EventBus.$emit('showMessageAttachment', this.docs);
            },
            getQuestionnaire (page){
              var app = this;
              app.clinical.questionnaire = [];
              var page = page || 1;
              var limit = 10;
              if (app.question.filter_by_specialty_id == '') {
                app.question.filter_by_specialty_id = app.appointmentData.specialty_id;
              }
              var params = {};
              params.page = page || 1;
              params.limit = 10;
              params.filter_by_specialty = app.question.filter_by_specialty_id;
              params.filter_by_patient_id = app.appointmentData.patient_id;

              if (app.appointmentData.appointment_type_id == 1) { // initial assessment
                params.get_patient_answer = 1;
              } else {
                params.get_patient_answer = 0;
              }
              axios({
                    method: 'get',
                    url: app.$apiUrl+'questionnaires',
                    params: params
                })
                  .then(function (resp) {
                      app.question.totalQuestions = resp.data.data.pagination.total;
                      app.questions = resp.data.data.data;
                      if (app.questions.length > 0) {
                        if (app.appointmentData.appointment_type_id == 1) {
                            $(app.questions).each(function (ind,ele) {
                                var questionObj = {};
                                questionObj.question = ele.question;
                                questionObj.question_id = ele.id;
                                questionObj.answer = ele.answer;
                                app.clinical.questionnaire.push(questionObj);
                                //app.clinical.questionnaire[ind].question = ele.question;
                                //app.clinical.questionnaire[ind].question_id = ele.id;
                                //app.clinical.questionnaire[ind].answer = ele.answer; 
                            });
                        } else {
                            $(app.questions).each(function (ind,ele) {
                                var questionObj = {};
                                questionObj.question = ele.question;
                                questionObj.question_id = ele.id;
                                app.clinical.questionnaire.push(questionObj);
                                //app.clinical.questionnaire[ind].question = ele.question;
                                //app.clinical.questionnaire[ind].question_id = ele.id; 
                            });
                        }
                        
                      }
                      app.question.pageCount = resp.data.data.pagination.last_page;
                      app.question.search_spinner = false;
                      app.question.patient_text = resp.data.data.patient_text;
                  })
                  .catch(function (resp) {
                      app.questions = [];  
                      app.question.pageCount = 0;
                      app.question.totalQuestions = 0;
                      app.question.search_spinner = false;
                      app.question.patient_text = null;
                  });
            },
            selectQuestion(question_id, index, value) {
              var app = this;
              app.clinical.questionnaire[index].question_id = question_id;
              app.clinical.questionnaire[index].answer = value;
            },
            submitAssessment () {
                var app = this;
                this.$validator.validateAll().then(result => {
                if (result) {
                    app.clinical.appointment_id = app.appointmentData.id;
                    app.clinical.doctor_id = app.appointmentData.doctor_id;
                    app.clinical.hospital_id = app.appointmentData.patient.mental_hospital_address_id;
                    app.labforms.appointment_id = app.appointmentData.id;

                    app.labforms.doctor_id = app.appointmentData.doctor_id;
                    app.labforms.patient_id = app.appointmentData.patient_id;
                    app.labforms.laboratory_address_id = app.appointmentData.patient.laboratory_address_id;
                    app.labforms.sent_date = this.$moment(new Date()).format('YYYY-MM-DD HH:mm:ss');

                    var params = {};
                    params.clinical = app.clinical;
                    params.labforms = app.labforms;
                    params.consent_Sharing = app.appointmentData.patient.sharing_consent;
                      app.isSubmitLoading = true;
                      axios.post(app.$apiUrl+'appointment/assessment-completed', params)
                        .then(function (resp) {
                            app.isSubmitLoading = false;
                            var sessionData = {'user_type' : 'patient'};
                            app.sendSessionCompleteSignal(sessionData);
                            app.$router.push('/doctor-panel');
                        })
                        .catch(function (error) {
                            app.isSubmitLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += '<p>'+value+'</p>';
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                    }
                })        
                
               
            },
            changeSharingConsent(value) {
                this.consent_action = value;
               // $('#consentSharingModal').modal('show');
                $('#consentSharingModal').modal({backdrop: 'static', keyboard: false})
            },
            getHospitalRecords (page){
              var app = this;
              var params = {};
              params.page = page || 1;
              params.limit = 10;
              params.filter_by_patient_id = app.appointmentData.patient_id;
              axios({
                    method: 'get',
                    url: app.$apiUrl+'clinical/hospital-records',
                    params: params
                })
                  .then(function (resp) {
                      app.hospital_record.totalRecords = resp.data.data.pagination.total;
                      app.hospital_records = resp.data.data.data;
                      app.hospital_record.pageCount = resp.data.data.pagination.last_page;
                  })
                  .catch(function (resp) {
                      app.hospital_records = [];  
                      app.hospital_record.pageCount = 0;
                      app.hospital_record.totalRecords = 0;
                  });
            },

            showHospitalRecPopup:function(id)
            {
                EventBus.$emit('showHospitalRecPopup', id);
            },
            getLabRecords (page){
              var app = this;
              var params = {};
              params.page = page || 1;
              params.limit = 10;
              params.filter_by_patient_id = app.appointmentData.patient_id;
              axios({
                    method: 'get',
                    url: app.$apiUrl+'labforms',
                    params: params
                })
                  .then(function (resp) {
                      app.lab_record.totalRecords = resp.data.data.pagination.total;
                      app.lab_records = resp.data.data.data;
                      if (app.lab_records.length > 0) {
                        $(app.lab_records).each(function(index, element){
                            $(element.details).each(function(ind, ele){
                                let detail = {};
                                detail.id = ele.id;
                                detail.test = ele.test;
                                detail.sample = ele.sample;
                                detail.additional_info = ele.additional_info;
                                detail.status = ele.status;
                                detail.is_stopped = (ele.status == 'stopped') ? '1' : '0';
                                app.labforms.details.push(detail);
                            });    
                        });
                      } else {
                            let detail = {};
                                detail.id = '';
                                detail.test = '';
                                detail.sample = '';
                                detail.additional_info = '';
                                detail.status = 'single';
                                app.labforms.details.push(detail);
                      }

                      app.lab_record.pageCount = resp.data.data.pagination.last_page;
                  })
                  .catch(function (resp) {
                      app.lab_records = [];  
                      app.lab_record.pageCount = 0;
                      app.lab_record.totalRecords = 0;
                  });
            },
            getLabRecordList (page){
              var app = this;
              var params = {};
              params.page = page || 1;
              params.limit = 10;
              params.filter_by_patient_id = app.appointmentData.patient_id;
              axios({
                    method: 'get',
                    url: app.$apiUrl+'labforms',
                    params: params
                })
                  .then(function (resp) {
                      app.lab_record.totalRecords = resp.data.data.pagination.total;
                      app.lab_records = resp.data.data.data;
                      app.lab_record.pageCount = resp.data.data.pagination.last_page;
                  })
                  .catch(function (resp) {
                      app.lab_records = [];  
                      app.lab_record.pageCount = 0;
                      app.lab_record.totalRecords = 0;
                  });
            },
            addMoreTest() {
                var app = this;
                let detail = {};
                detail.id = '';
                detail.test = '';
                detail.sample = '';
                detail.additional_info = '';
                detail.status = 'single';
                app.labforms.details.push(detail);
            },
            removeTest(index) {
                var app = this;
                app.labforms.details.splice(index, 1);
            },
            /*submitLabForm() {
                var app = this;
                
                this.$validator.validateAll('labform').then(result => {
                    if (result) {
                        app.isSubmitLoading = true;
                        app.labforms.appointment_id = app.appointmentData.id;
                        app.labforms.doctor_id = app.appointmentData.doctor_id;
                        app.labforms.patient_id = app.appointmentData.patient_id;
                        app.labforms.laboratory_address_id = app.appointmentData.patient.laboratory_address_id;
                        app.labforms.sent_date = this.$moment(new Date()).format('YYYY-MM-DD HH:mm:ss');

                          //app.isLabLoading = true;
                          axios.post(app.$apiUrl+'labform', app.labforms)
                            .then(function (resp) {
                                //app.isLabLoading = false;
                                app.lab_record.isSuccess = true,
                                app.lab_record.isError = false,
                                app.lab_record.isAlertShow = true;
                                app.lab_record.alertMsg = 'Lab form has been sent successfully.';
                                app.showLeftTabs('lab-records-tab-content');
                                app.submitAssessment();
                            })
                            .catch(function (error) {
                                //app.isLabLoading = false;
                                app.lab_record.isSuccess = false,
                                app.lab_record.isError = true,
                                app.lab_record.isAlertShow = true;
                                app.lab_record.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.errors;
                                if(jQuery.type(jsonResponse) == 'object')
                                {
                                  var messages = '';
                                  $.each( jsonResponse, function( key, value ) {
                                    messages += '<p>'+value+'</p>';
                                  }); 
                                  app.lab_record.alertMsg = messages;           
                                }

                                return false;
                            });
                        }
                    })        
            },*/
            showLabRecPopup:function(id)
            {
                EventBus.$emit('showLabRecPopup', id);
            },
            sendSessionCompleteSignal(sessionData) {
                EventBus.$emit('sendSessionCompleteSignal', sessionData);
            }
        },            
        
    }
</script>
<style>
  .m-t-30 {
    margin-top: 30px;
  }
  .mr-10 {
    margin-right: 10px;
  }
</style>