<template>
	<!--Add Notes -->
	<div class="modal repeat-date-modal fade in show" tabindex="-1" role="dialog" style="display: none;">
	  <div class="modal-dialog " role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Repeat Date</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="alert " v-bind:class="{'alert-success': isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                    </div>
            <div class="row">
            	<div class="col-md-12">
            		 <div class="form-group">
			            <label style="display: block;">Date</label>
			            <date-picker v-model="object.date" lang="en" placeholder="Enter date" type="date"  :not-before="new Date()" format="DD-MM-YYYY" :class="{'is-invalid': errors.has('date_time') }" v-validate="'required'"  data-vv-as="date"
			            name="date_time"></date-picker>
			             <small class="has-error"
		                  v-show="errors.has('date_time')">
		                  {{ errors.first('date_time') }}
		                </small>  
			        </div>
            	</div>
            </div> 
            <div class="row">
            	<div class="col-md-12">
            		<div class="form-group">
			            <label>Status</label>
			           	<select class="form-control" v-model="object.status">
			           		<option value="activated">Activated</option>
			           		<option value="deactivated">Deactivated</option>
			           	</select>
			             <small class="has-error"
		                  v-show="errors.has('date_time')">
		                  {{ errors.first('date_time') }}
		                </small>  
			        </div>
            	</div>
            </div> 
	        <button class="btn btn-primary" :class="{'show-spinner' : isLoading}" @click="updateRepeatDate">
	            <span>Save</span>
	             <div class="loader"></div>
	        </button>        
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';
	import DatePicker from 'vue2-datepicker'
	export default {
		props :['patient_id','doctor_id','repeat_date', 'status'],
		components: {
            DatePicker,
        },
        data: function () {
      		return {
		      	object : {
		      		date : this.repeat_date,
		      		patient_id : this.patient_id,
		      		doctor_id : this.doctor_id,
		      		status : this.status,
		      	},
		      	isLoading: false,
		      	isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
		    }
		},
		methods: {
			updateRepeatDate () {
                var app = this;
                this.$validator.validateAll().then(result => {
                    if (result) {
                    	app.object.date = app.$moment(new Date(app.object.date)).format('YYYY-MM-DD');
                          app.isLoading = true;
                          axios.put(app.$apiUrl+'subscription/rbt', app.object)
                            .then(function (resp) {
                                app.isLoading = false;
                                app.isAlertShow = true;
			                    app.isSuccess = true;
			                    app.isError = false;
			                    app.alertMsg = 'Repeat date has been changed successfully.';
                                
                                setTimeout(function() {
			                       $('.repeat-date-modal').modal('hide');
			                        
			                        app.isAlertShow = false;
			                        EventBus.$emit('updateRepeatDate', app.object.date, app.object.status);
			                    }, 5000);
                               
                            })
                            .catch(function (error) {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                            });
                        }
                    })        
            },
		}      	

	}
</script>	
