<template>
	<!--send message -->
	<div class="modal send-message-modal fade in show" tabindex="-1" role="dialog" style="display: none;" ref="vueModal">
		<div class="modal-dialog modal-md " role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Send Message</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="form-group disabled">
					            <label>Select User Type</label>
					             <select v-model="support.user_type" name ="user_type" class="form-control" placeholder="Select User Type"
					             :class="{'is-invalid': errors.has('user_type') }"
					             data-vv-as="user type"
					              v-validate="'required'">
					                <option value="patient">Patient</option>
					                <option value="admin">Admin</option>
					             </select>
					            <small class="has-error"
					              v-show="errors.has('user_type')">
					              {{ errors.first('user_type') }}
					            </small>
					        </div>                  
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="form-group disabled">
					          <label>Select Patient</label>
					          <select class="form-control" v-model="support.user_id"
					          name="patient"
					                    :class="{'is-invalid': errors.has('patient') }"
					                    v-validate="'required'">
					            <option value="">Select Patient</option>
					            <option v-for="patient in patients" :value="patient.user_id">{{patient.user.full_name}}</option>
					          </select>
					          <small class="has-error"
					              v-show="errors.has('patient')">
					              {{ errors.first('patient') }}
					            </small> 
					        </div>                   
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="form-group">
					          <label>Select Category</label>
					          <select v-model="support.category" name ="category" class="form-control" placeholder="Select Category">
					            <option value="general">General</option>
					           <option value="medication">Medication</option>
					           <option value="prescription">Prescription</option>
					           <option value="tests">Tests</option>
					          </select>
					          <small class="has-error"
					            v-show="errors.has('category')">
					            {{ errors.first('category') }}
					          </small>
					        </div>                  
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="form-group">
					          <label>Subject</label>
					          <input type="text" class="form-control" 
					          name="subject" placeholder="Write Subject line" 
					          :class="{'is-invalid': errors.has('subject') }"
					            v-model="support.subject"
					            v-validate="'required'">
					          <small class="has-error"
					            v-show="errors.has('subject')">
					            {{ errors.first('subject') }}
					          </small>    
					        </div>                
						</div>
						<div class="col-xs-12 col-md-12">
							<div class="form-group">
					          <label>Message</label>
					          <textarea class="form-control" name="message" placeholder="Write something.." 
					          :class="{'is-invalid': errors.has('message') }"
					          v-model="support.message" v-validate="'required'" rows="4" style="height:120px !important;">{{ messageFooter }}</textarea>
					          <small class="has-error"
					            v-show="errors.has('message')">
					            {{ errors.first('message') }}
					          </small> 
					        </div>                   
						</div>
						<div class="col-xs-12 col-md-12">
							<image-upload-component 
                      input_id="file1"
                      refUpload="upload1"
                      label="Upload File(s)"
                      button_text="Upload File(s)"
                      type="attachments"
                      :fileArray="files1"
                      :is_multiple="true"
                      :is_preview="false"
                      :accept="$accept"
                      :extensions="$extensions"
                      :maximum="6"
                      :thread="6"
                      :inputArray="support.support_docs"
                      :is_multidimensional_array="false"
                      @fileAdded="setUploadedDoc"
                      @fileRemoved="setUploadedDoc">   
                      </image-upload-component>                   
						</div>
						<div class="col-xs-12 col-md-12">
							<div class="form-group ">
					            <label>Verification</label>
					             <vue-recaptcha
					              ref="recaptcha"
                        @verify="onCaptchaVerified"
                        @expired="resetRecaptcha"
					              :sitekey="site_key">
					            </vue-recaptcha>
					        </div>
						</div>
						<div class="col-xs-12 col-md-12">
							<div class="clearfix"></div>
							<button class="btn btn-primary btn-md pull-left" :class="{'show-spinner' : isLoading }" @click="sendMessage">
					          <span>Send</span>
					          <div class="loader"></div>
					        </button>
					        <div class="alert  pull-right col-md-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
        					</div>  
						</div>

					</div>       
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import axios from 'axios';
    import VueRecaptcha from 'vue-recaptcha';
    export default {
    	props: ['patient_user_id', 'doctor'],
      components : {
        VueRecaptcha
      },
      computed: {
          $loggedInUser: function () {
              return JSON.parse(this.$store.getters.getAuthUser);
          },
          $loggedInUserIsMember : function () {
              var user = JSON.parse(this.$store.getters.getAuthUser);
              return user.is_member;
          }
      },
      mounted() {
        var app = this;
        app.support.sender_id = app.$loggedInUser.id;
        $(app.$refs.vueModal).on("hidden.bs.modal", app.resetModal);
        axios.get(app.$apiUrl+'patients?limit=0&filter_by_doctor_id='+app.doctor.id)
          .then(function (resp) {
              app.patients = resp.data.data.data;
          })
          .catch(function () {
          });
        app.resetRecaptcha(); 
        app.messageFooter = '<p>'+app.doctor.title+'.'+app.doctor.user.full_name+'</p><p>'+app.doctor.designation+'</p>';
      },
      data: function () {
          return {
              patients : [],
              userId : 0, 
              support: {
                  email_type: 'individual',
                  user_type: 'patient',
                  user_id: this.patient_user_id,
                  filter_by_specialty: '',
                  category : 'general',
                  subject : '',
                  message : '',
                  sender_id : '',
                  support_docs : [],
              },
              isAlertShow: false,
              selectedUser : '',
              isSuccess:false,
              isError:false,
              alertMsg:'',
              isLoading:false,
              files1 : [],
              site_key: '6LdtBHcUAAAAAJaA8EFzLrQ02nbfc8VPrx02wetH',
              recaptchaToken : '',
              messageFooter : '',

          }
      },
      methods: {
        sendMessage() {
            var app = this;
            var newSupport = app.support;
            if (app.support.user_type == 'patient') {
              newSupport.user_id = app.support.user_id;
            } else if (app.support.user_type == 'admin') {
              newSupport.user_id = 0;
            }
            newSupport.recaptcha = app.recaptchaToken;
            this.$validator.validateAll().then(result => {
                if (result) {
                    app.isLoading = true;
                    axios.post(app.$apiUrl+'support', newSupport)
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = 'Message has been sent successfully';
                            app.isAlertShow = true;
                            app.support.category = 'general';
                            app.support.subject = '';
                            app.support.message = '';
                            app.support.support_docs = [];
                            app.files1 = [];
                            app.resetRecaptcha();
                            app.$nextTick(() => app.$validator.reset())
                            setTimeout(function(){
                              app.isAlertShow = false;
                              EventBus.$emit('CleanupFiles');
                              $('.send-message-modal').modal('hide'); 
                            },5000);

                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.message;
                            if(jsonResponse != '')
                            {
                              app.alertMsg = jsonResponse;          
                            }
                        });
                }        
            })   
        },
        /*getUsers() {
            var app = this;
            app.selectedUser = '';
            if (app.support.email_type == 'individual') {
                if (app.support.user_type == 'doctor') {
                    var url = app.$apiUrl+'doctors?limit=0';
                } else  if (app.support.user_type == 'patient') {
                    var url = app.$apiUrl+'patients?limit=0';
                }
            } else if (app.support.email_type == 'group') {
                
            }    

            axios.get(url)
            .then(function (resp) {
                app.users = resp.data.data.data;
                if (app.users.length > 0) {
                    var usersOptionsArr =  [];
                    $(app.users).each(function(ind, ele) {
                        var usersOptions = {};
                        usersOptions.label = ele.user.full_name;
                        usersOptions.value = ele.user.id;
                        usersOptionsArr.push(usersOptions);
                    });
                }
                app.users = usersOptionsArr;
            })
            .catch(function () {
            });

        },*/
        setUploadedDoc(files) {
          this.support.support_docs = files;
        },
        resetRecaptcha () {
          this.$refs.recaptcha.reset() // Direct call reset method
        },
        onCaptchaVerified(recaptchaToken) {
            var app = this;
            app.recaptchaToken = recaptchaToken;
        }, 
          resetModal() {
              var app = this;
              app.isSuccess = false;
              app.isError = false;
              app.isLoading = false;
              app.isAlertShow = false;
              app.alertMsg = '',
              app.errors.clear();
            }
      }
    }
</script>