<template>
	<!--send message -->
	<div class="modal send-email-modal fade in show" tabindex="-1" role="dialog" style="display: none;" ref="vueModal">
		<div class="modal-dialog modal-md " role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Send Email</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="form-group">
								<label>Select Receiver Type</label> 
								<select v-model="email.receiver_type" name ="receiver_type" 
								class="form-control" placeholder="Select Receiver Type"
								:class="{'is-invalid' : errors.has('receiver_type')}" 
								data-vv-as="receiver type"
								@change="getReceviers" v-validate="'required'">
									<option value="">Select Receiver Type</option>
                                     <option value="hospital">Hospital</option>
                                     <option value="laboratory">Laboratory</option>
                                 </select>
								<small class="text-danger"
                                  v-show="errors.has('receiver_type')">
                                  {{ errors.first('receiver_type') }}
                                </small>
							</div>                    
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="form-group">
								<label>Select Recevier</label> 
                                <select class="form-control" v-model="email.receiver"
					          name="receiver"
					                    :class="{'is-invalid': errors.has('receiver') }"
					                    v-validate="'required'">
					            <option value="">Select Recevier</option>
					            <option v-for="receiver in email.receivers" :value="receiver.id">{{receiver.name}}</option>
					          </select>
					          <small class="has-error"
					              v-show="errors.has('receiver')">
					              {{ errors.first('receiver') }}
					            </small> 
							</div>                   
						</div>
						<div class="col-xs-12 col-md-12">
							<div class="form-group">
								<label>Subject</label> 
								<input type="text" class="form-control" name="subject" placeholder="Write Subject line" 
								:class="{'is-invalid': errors.has('subject') }"
                                  v-model="email.subject"
                                  v-validate="'required'"> 
								<small class="text-danger"
                                  v-show="errors.has('subject')">
                                  {{ errors.first('subject') }}
                                </small>  
							</div>                    
						</div>
						<div class="col-xs-12 col-md-12">
							<div class="form-group">
								<label>Content</label> 
								<div id="summernote" v-model="email.content"></div>
							</div>                    
						</div>
						<div class="col-xs-12 col-md-12">
							<image-upload-component 
                              input_id="file2"
                              refUpload="upload2"
                              label="Upload File(s)"
                              button_text="Upload File(s)"
                              type="attachments"
                              :fileArray="files2"
                              :is_multiple="true"
                              :is_preview="false"
                              :accept="$accept"
                              :extensions="$extensions"
                              :maximum="6"
                              :thread="6"
                              :inputArray="email.attachments"
                              :is_multidimensional_array="false"
                              @fileAdded="setUploadedDoc"
                              @fileRemoved="setUploadedDoc">   
                              </image-upload-component>                  
						</div>
						<div class="col-xs-12 col-md-12">
							<div class="form-group ">
					            <label>Verification</label>
					             <vue-recaptcha
					              ref="recaptcha"
					              @verify="onCaptchaVerified"
					              @expired="resetRecaptcha"
					              :sitekey="site_key">
					            </vue-recaptcha>
					        </div>
						</div>
						<div class="col-xs-12 col-md-12">
							<div class="clearfix"></div>
							<button class="btn btn-primary btn-md pull-left" :class="{'show-spinner' : isLoading }" @click="sendEmail()">
					          <span>Send</span>
					          <div class="loader"></div>
					        </button>
					        <div class="alert  pull-right col-md-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
        					</div>  
						</div>
					</div>       
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    import axios from 'axios';
    import VueRecaptcha from 'vue-recaptcha';
    export default {
    	props: ['patient', 'doctor'],
      	components : {
        	VueRecaptcha
      	},
        data: function () {
            return {
                email: {
                    receiver_type : '',
                    /*receiver_lists : [],*/
                    receiver_arr : [],
                    receiver : '',
                    receivers : [],
                    unregistered_user_email: [],
                    subject : '',
                    content : '',
                    attachments : [],
                    email_type : 'individual',
                },
                module:'email',
                isAlertShow: false,
                selectedRecievers : [],
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                customToolbar: [
                      // [groupName, [list of button]]
                      ['style', ['bold', 'italic', 'underline', 'clear']],
                      ['font', ['strikethrough', 'superscript', 'subscript']],
                      ['fontsize', ['fontsize']],
                      ['list', [ 'ordered', 'bullet' ]],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['height', ['height']],
                      ['table', ['table']]
                ],

                files2 : [],
                site_key: '6LdtBHcUAAAAAJaA8EFzLrQ02nbfc8VPrx02wetH',
                recaptchaToken : '',
            }
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            },
            rules() {
              return (this.email.email_type == 'individual') ? 'required' : '';
            }
        },
        mounted() {
        	var app = this;
        	$(app.$refs.vueModal).on("hidden.bs.modal", app.resetModal);
            $('#summernote').summernote({
                airMode: false,
                placeholder: 'Write Content',
                height: 150,
                focus: true,
                toolbar: this.customToolbar,
                popover: {
                   image: [],
                   link: [],
                   air: []
                }
              });

            app.resetRecaptcha();
            app.email.content = '<br><br><br><br><br><br><br><br><p>'+app.doctor.title+'.'+app.doctor.user.full_name+'</p><p>'+app.doctor.designation+'</p>';
            $('#summernote').summernote('code', app.email.content);
        },
        methods: {
            sendEmail:function(page) {
                var app = this;
                var newEmail = app.email;
                newEmail.content = $('#summernote').summernote('code');
                newEmail.recaptcha = app.recaptchaToken;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        newEmail.receiver_arr.push(app.email.receiver);
                        app.isLoading = true;
                        axios.post(app.$apiUrl+'email', newEmail)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                                app.email.receiver_type = '';
                                app.email.receivers = [];
                                app.email.subject = '';
                                app.email.content = '';
                                app.email.attachments = [];
                                app.email.email_type = 'individual';
                                app.files2 = [];
                                 app.resetRecaptcha();
                                 app.$nextTick(() => app.$validator.reset())
                                setTimeout(function(){
                                    
                                    app.isAlertShow = false;
                                    $('#summernote').summernote('code', '');
                                    EventBus.$emit('CleanupFiles');
                                    $('.send-email-modal').modal('hide');
                                },5000);    
                            })
                            .catch(error => {
                            	app.email.receiver_arr = [],
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.message;
                                if(jsonResponse != '')
                                {
                                  app.alertMsg = jsonResponse;          
                                }
                            });
                    }
                })    
            },
        getReceviers() {
                var app = this;
                app.email.receiver = '';
                if (app.email.receiver_type == 'hospital') {
                    var url = app.$apiUrl+'mental_health_hospitals?limit=0&filter_by_doctor_id='+app.doctor.id;
                } else if (app.email.receiver_type == 'laboratory') {
                    var url = app.$apiUrl+'laboratories?filter_by_id='+app.patient.laboratory_address_id+'&limit=0';
                }

                axios.get(url)
                    .then(function (resp) {
                        app.email.receivers = resp.data.data.data;
                        setTimeout(function(){
                            if (app.email.receiver_type == 'hospital' && app.patient.mental_hospital_address != null) {
                                app.email.receiver = app.patient.mental_hospital_address_id;
                                app.email.content = '<p>Dear doctor</p><br><br><br><br><br><br><p>'+app.$loggedInUser.first_name+' '+app.$loggedInUser.last_name+'</p><p>'+app.$loggedInUser.email+'</p><p>'+app.$clinicAddress+'</p><p> Tel: '+app.$clinicPhone+'</p><p>Trading Name: '+app.$clinicName+'</p><p>URL: '+app.$clinicWebsite+'</p>';
                                
                            } else if (app.email.receiver_type == 'laboratory' && app.patient.laboratory_address != null) {
                                app.email.receiver = app.patient.laboratory_address_id;
                                app.email.content = '<p>Dear lab</p><br><br><br><br><br><br><p>'+app.$loggedInUser.first_name+' '+app.$loggedInUser.last_name+'</p><p>'+app.$loggedInUser.email+'</p><p>'+app.$clinicAddress+'</p><p> Tel: '+app.$clinicPhone+'</p><p>Trading Name: '+app.$clinicName+'</p><p>URL: '+app.$clinicWebsite+'</p>';
                            }
                            $('#summernote').summernote('code', app.email.content);
                        }, 200);
                       
                    })
                    .catch(function (resp) {
                        app.email.receivers = [];  
                    });
            },
            setUploadedDoc(files) {
              this.email.attachments = files;
            },
            resetRecaptcha () {
	          this.$refs.recaptcha.reset() // Direct call reset method
	        },
	        onCaptchaVerified(recaptchaToken) {
	        	var app = this;
	        	app.recaptchaToken = recaptchaToken;
		    },
        }    
    }
</script>