<template>
  <span :key="componentKey">

    <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow" v-html="alertMsg">
    </div>
    <div id="options"  v-if="session != null" >
      <a href="javascript:;" class="btn btn-warning mute-subscriber video-control-btns-assesment" data-type="off" data-usertype="doctor"  v-if="user_type == 'patient'">
          <i class="icon-microphone-slashh" title="Mute Doctor">
              <img class="enabled" :src="$baseUrl+'/htmlv1/images/icons/microphone-off.svg'">
          </i>
          Mute Doctor
      </a>
      <a href="javascript:;" class="btn btn-warning mute-subscriber video-control-btns-assesment" data-type="off" data-usertype="patient" v-if="user_type == 'doctor'"> 
          <i class="icon-microphone-slashh" title="Mute Patient">
              <img class="enabled" :src="$baseUrl+'/htmlv1/images/icons/microphone-off.svg'">
          </i>
          Mute Patient
      </a>

      <a href="javascript:;" class="btn btn-info audio-off video-control-btns-assesment" data-type="off" >
           <i class="icon-microphone-slashh" title="Mute Mic">
               <img class="enabled" :src="$baseUrl+'/htmlv1/images/icons/microphone-off.svg'">
           </i>
           Mute Mic
       </a>
      <a href="javascript:;" class="btn btn-primary video-off" data-type="off">
          <i class="icon-video-camera-slash" title="Turn Off Video">
              <img class="enabled" :src="$baseUrl+'/htmlv1/images/icons/video-camera-slash.svg'">           
          </i>
          Turn Off Video
      </a>
      <a href="javascript:;" class="btn btn-primary end-video-call" data-type="off" @click="endSession" v-if="user_type == 'patient' && smallScreen"><i class="icon-camera-reverse" ><img :src="$baseUrl+'/htmlv1/images/icons/phone-receiver.svg'"></i></a>
       <a href="javascript:;" class="btn btn-danger"  @click="endSession" v-if="user_type == 'patient' && !smallScreen"><i class="icon-phone"></i> End Call</a>
    </div>
    

    <div id="camera-subscriber" class="video-calling-box" v-if="isSubscriberStreaming">
      <div id="camera-publisher" class="doctor-camera-view" v-if="isPublisherStreaming">
      </div>
      <div id="camera-publisher" class="doctor-camera-view" v-else>
        <img :src="subImg">
      </div>
    </div>

    <div id="camera-subscriber" class="video-calling-box" v-else>
      <img :src="mainImg">
      <div id="camera-publisher" class="doctor-camera-view" v-if="isPublisherStreaming">
      </div>
      <div id="camera-publisher" class="doctor-camera-view" v-else>
        <img :src="subImg">
      </div>
    </div>

  </span>
</template>

<script>

    export default {
      props : ['sessionId', 'token', 'appointment_id', 'user_type', 'appointmentEncryptedId'],
      components : {

      },

      beforeCreate() {
        var app = this;
        /*if (localStorage.getItem('reloaded-video')) {
            // The page was just reloaded. Clear the value from local storage
            // so that it will reload the next time this page is visited.
            localStorage.removeItem('reloaded-video');
        } else {
            // Set a flag so that we know not to reload the page twice.
            localStorage.setItem('reloaded-video', '1');
            this.$router.go(this.$router.currentRoute)
        }*/
        //this.$router.go()
        //this.$router.go(this.$router.currentRoute)
      },
      beforeRouteUpdate (to, from, next) {
        var app = this;
        app.session.disconnect();
        /*var app = this;
        if (localStorage.getItem('reloaded-video')) {
            // The page was just reloaded. Clear the value from local storage
            // so that it will reload the next time this page is visited.
            localStorage.removeItem('reloaded-video');
        } else {
            // Set a flag so that we know not to reload the page twice.
            localStorage.setItem('reloaded-video', '1');
            this.$router.go(this.$router.currentRoute)
        }*/
        // react to route changes...
        // don't forget to call next()

      },
      beforeDestroy () {
        var app = this;
        app.session.disconnect();
      },
        mounted () {

          var app = this;
          app.forceRerender();
          app.session = null;

          //for mobile only
          if ($(window).width()<= 414) {
            app.smallScreen = true;
              if (app.user_type == 'patient') {
                app.mainImg = app.$imageUrl+'dummy/video-call-portrait-2.jpg';
                app.subImg = app.$imageUrl+'dummy/profile-photo.jpg';
              } else {
                /*app.mainImg = app.$imageUrl+'dummy/profile-photo.jpg';
                app.subImg = app.$imageUrl+'dummy/video-call.jpg';*/
                app.mainImg = app.$imageUrl+'dummy/profile-photo.jpg';
                app.subImg = app.$imageUrl+'dummy/video-call-portrait.jpg';
              }
        } else{           //for dekstop only
          app.smallScreen = false;
            if (app.user_type == 'patient') {
              app.mainImg = app.$imageUrl+'dummy/video-call.jpg';
              app.subImg = app.$imageUrl+'dummy/profile-photo.jpg';
            } else {
              /*app.mainImg = app.$imageUrl+'dummy/profile-photo.jpg';
              app.subImg = app.$imageUrl+'dummy/video-call.jpg';*/
              app.mainImg = app.$imageUrl+'dummy/profile-photo-lanscape.jpg';
              app.subImg = app.$imageUrl+'dummy/video-call-portrait.jpg';
            }
        }

          EventBus.$on('sendSessionCompleteSignal', function(sessionData) {
                app.sendSessionCompleteSignal(sessionData);
            });
          
          if (app.$openTokKey && app.session == null) {
            if (OT.checkSystemRequirements()) { // check browser compatibilty
              var subscriber = {};
             /* var sessionId = app.sessionId;
              var token = app.token;*/
              app.session = OT.initSession(app.$openTokKey, app.sessionId);

              app.session.connect(app.token, function (error) {
                app.isPublisherStreaming = true;
                if (error) {
                  console.log("Failed to connect: ", error.message);
                  //if (error.name === "OT_NOT_CONNECTED") {

                    app.isPublisherStreaming = false;
                    app.isSuccess = false,
                    app.isError = true,
                    app.isAlertShow = true;
                    app.alertMsg = "Failed to connect: "+error.message;
                  //}
                } else {
                  var options = {
                        insertMode: 'append',
                        width: parseInt($('#camera-publisher img').css('width')),
                        height: parseInt($('#camera-publisher img').css('height')),
                        resolution: '1280x720',
                        style: {buttonDisplayMode: 'off'},
                        mirror: false,
                      };
                  var publisher = OT.initPublisher('camera-publisher', options);
                  publisher.on({
                    streamCreated: function (event) {
                      console.log("Publisher started streaming.");
                      app.isPublisherStreaming = true;
                      EventBus.$on('switchCamera', function() {
                        publisher.cycleVideo();
                      });
                      $('.video-off').click(function(e) {
                        e.preventDefault();
                        var type = $(this).attr('data-type');
                        if (type == 'off') {
                          publisher.publishVideo(false);
                          $(this).attr('data-type', 'on');
                          $(this).html('<i class="icon-video-camera-slash"><img class="enabled" src="'+app.$baseUrl+'/htmlv1/images/icons/video-camera.svg"></i> Turn On Video');

                        } else {
                          publisher.publishVideo(true);
                          $(this).attr('data-type', 'off');
                          $(this).html('<i class="icon-video-camera-slash"><img class="enabled" src="'+app.$baseUrl+'/htmlv1/images/icons/video-camera-slash.svg"></i> Turn Off Video');
                        }

                      });

                      $('.audio-off').click(function(e) {
                        e.preventDefault();
                        var type = $(this).attr('data-type');
                        if (type == 'off') {
                          publisher.publishAudio(false);
                          $(this).attr('data-type', 'on');
                          $(this).html('<i class="icon-microphone-slashh" title="Unmute Mic"><img class="enabled" src="'+app.$baseUrl+'/htmlv1/images/icons/microphone-on.svg"></i> Unmute Mic');
                        } else {
                          publisher.publishAudio(true);
                          $(this).attr('data-type', 'off');
                          $(this).html('<i class="icon-microphone-slashh" title="Mute Mic"><img class="enabled" src="'+app.$baseUrl+'/htmlv1/images/icons/microphone-off.svg"></i> Mute Mic');
                        }


                      });
                    },

                  });
                  publisher.on('streamDestroyed', function(event)
                  {
                    app.isPublisherStreaming = false;
                    console.log("Publisher stopped streaming.");
                      if (event.reason === 'mediaStopped')
                      {
                        console.log('amedia stopped')
                        // connectVideo();
                      }
                      else if(event.reason === 'forceUnpublished')
                      {
                        console.log('aforce unpublish')
                        // A moderator forced the user to stop sharing.
                      }
                  });

                  app.session.publish(publisher);
                }
              })
              app.session.on('streamCreated', function(event) {
                  var options = {
                        insertMode: 'append',
                        width: parseInt($('#camera-subscriber img').css('width')),
                        height: parseInt($('#camera-subscriber img').css('height')),
                        resolution: '1280x720',
                        style: {buttonDisplayMode: 'off'},
                        mirror: false,
                      };

                      // This is a stream published by another client using the camera and microphone
                      console.log(app.isSubscriberStreaming);
                      if (!app.isSubscriberStreaming) {
                        var subscriber = {};
                        subscriber = app.session.subscribe(event.stream, 'camera-subscriber', options);
                        $('.mute-subscriber').click(function(e) {
                          e.preventDefault();
                          var type = $(this).attr('data-type');
                          var userType = $(this).attr('data-usertype');
                          
                          if (type == 'off') {
                            subscriber.subscribeToAudio(false);
                            $(this).attr('data-type', 'on');
                            $(this).html('<i class="icon-microphone-slashh" title="Unmute '+userType+' Audio"><img class="enabled" src="'+app.$baseUrl+'/htmlv1/images/icons/microphone-on.svg"></i> Unmute '+userType+' Audio');
                          } else {
                            subscriber.subscribeToAudio(true);
                            $(this).attr('data-type', 'off');
                            $(this).html('<i class="icon-microphone-slashh" title="Mute '+userType+'"><img class="enabled" src="'+app.$baseUrl+'/htmlv1/images/icons/microphone-off.svg"></i> Mute '+userType+'');
                          }
                        });

                        app.isSubscriberStreaming = true;
                    console.log('subscriber connected');
                      }
                      
              })
              app.session.on("streamDestroyed", function (event) {
                console.log("Stream stopped. Reason: " + event.reason);
                app.isSubscriberStreaming = false;
              })
              app.session.on({
                sessionDisconnected: function(event) {
                  if (event.reason === 'networkDisconnected') {
                    alert('You lost your internet connection.'
                      + 'Please check your connection and try connecting again.');
                  }
                }
              });
              app.session.on("signal", function(event) {
                if (app.randomNumber == event.data.randomNumber) {

                } else {
                  if (event.data.sessionComplete != undefined) { // send complete session event to other user
                    EventBus.$emit('showEndAssessmentModal');
                    app.session.disconnect();
                  }
                }
              }); 
            }
          }
          
        },
        data: function () {
            return {
              isPublisherStreaming : false,
              isSubscriberStreaming : false,
              isAlertShow: false,
              isSuccess:false,
              isError:false,
              alertMsg:'',
              subImg : null,
              mainImg : null,
              randomNumber : this.$moment(new Date()),
              session : null,
              smallScreen: false,
              componentKey: 0,
              /*isVideoActive: true,
              isMicActive:true,
              isDocActive:true,
              videoStatusText:"Turn Off Video",
              micStatusText:"Mute Mic",
              docStatusText:"Mute Doctor",*/
            }
        },
        methods : {
          sendSessionCompleteSignal(data) {
              var app = this;
              if (app.$openTokKey) {
                var session = OT.initSession(app.$openTokKey, app.sessionId);
                  app.randomNumber = this.$moment(new Date());
                  data['randomNumber'] = app.randomNumber;
                  data['sessionComplete'] = true;
                  data['userType'] = data.user_type;
                  session.signal(
                    {'data':data},
                    function(error) {
                      if (error) {
                        $('.spinner-class').hide();
                        console.log("signal error ("
                                     + error.code
                                     + "): " + error.message);
                      } else {
                      }
                    }
                  );
              }
          },
          endSession() {
            var app = this;
            //app.session.disconnect();
            //setTimeout(function() {
              app.$router.push('/assessment/thank-you/'+app.appointmentEncryptedId);
            //}, 2000);
            
            
          },
          forceRerender() {
            this.componentKey += 1;  
          },
        },
        watch:{
          $route (to, from){
            console.log(to);
            console.log(from);
          }
        }

    }
</script>
