<template>
  <div class="modal  fade in show" id="viewNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">View Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><span class="font-weight-bold">Subject:</span> {{ subject }}</p>
            <p><span class="font-weight-bold">Note:</span> {{ note }}</p>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>


<script>
  export default {
    props : ['note', 'subject'],  
  }
</script>