<template>
	<div class="header" >
      <div class="fixed-header">
         <div class="max-wrapper full-wrapper clearfix">
            <div class="logo" style="opacity:1;">
              <router-link :to="{ name: 'Index'}">
                <img :src="$imageUrl+'logo-wide.png'">
              </router-link>
           </div>
       </div>
   </div>
  </div>
</template>