<template>
    <div class="modal fade" id="authenticateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title">Add Notes</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                     {{alertMsg}}
                  </div>
            <div class="row"> 
              <div class="col-xs-12 col-md-12">  
                <label>To continue, please enter your password.</label>
              </div>   
              <div class="col-xs-12 col-md-12">
                  <div class="form-group">
                      <label>Email Address</label>
                      <input type="email" name="email" class="form-control" placeholder="Enter your email" disabled="disabled" 
                      :class="{'is-invalid': errors.has('step1.email') }" 
                      autocomplete="off"
                       v-validate="'required|email'" 
                       v-model="object.email"
                        data-vv-scope="step1">
                       <small class="has-error"
                                v-show="errors.has('step1.email')">
                                {{ errors.first('step1.email') }}
                              </small>
                  </div>
              </div>
              <div class="col-xs-12 col-md-12 password-field">
                  <div class="form-group">
                      <label>Password</label>
                      <input type="password" name="password"  placeholder="Enter password" autocomplete="off"
                      class="form-control"
                      :class="{'is-invalid': errors.has('step1.password') }"
                      v-model="object.password"
                      v-validate="'required'"
                      data-vv-scope="step1">
                    <small class="has-error"
                    v-show="errors.has('step1.password')">
                    {{ errors.first('step1.password') }}
                  </small>  
                  </div>
                  

              </div>
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-primary btn-cons  pull-left inline" :class="{'show-spinner' : isLoading}">
              <span>Authenticate</span>
            <div class="loader"></div> 
          </button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
	import axios from 'axios';
  export default {
  computed: {
          $loggedInUser: function () {
              return JSON.parse(this.$store.getters.getAuthUser);
          },
          $loggedInUserIsMember : function () {
              var user = JSON.parse(this.$store.getters.getAuthUser);
              return user.is_member;
          }
      },
   data: function () {
          return {
              object: {
                  email: '',
                  password: '',
                  from : 'site',
              },
              isAlertShow: false,
              isSuccess:false,
              isError:false,
              alertMsg:'',
              isLoading:false,
          }
      },

    mounted() {
      var app = this;
      app.object.email = app.$loggedInUser.email;
    }, 
    methods: {
        submit() {
            var app = this;
            var params = app.object;
            this.$validator.validateAll('step1').then(result => {
              if (result) {
                 app.isLoading = true;
                 axios.post(app.$apiUrl+'authenticate', params)
                .then(function (resp) {
                    app.isLoading = false;
                    app.isSuccess = true,
                    app.isError = false,
                    app.object.password = '';
                    app.$nextTick(() => app.$validator.reset());
                    $('#authenticateModal').modal('hide');
                    app.$store.commit('setAuthenticated', 1);
                    resp = app.$emit('authenticated');
                })
                .catch(function (error) {
                    app.isLoading = false;
                    app.isSuccess = false,
                    app.isError = true,
                    app.isAlertShow = true;
                    app.alertMsg = error.response.data.message;
                    setTimeout(function() {
                      app.isAlertShow = false;
                    }, 3000);
                     
                });
              }
            })  
        },
    }
  }

</script>

