<template>
	<div class="landing-banner">
		<ul>
			<li>
				<img :src="$imageUrl+'banner/landing/4.jpg'">
				<div class="banner-content">
					<div class="middle-align">
						<div class="inner">
							<div class="max-wrapper">
								<div class="th-slidercontent">
									<h1> Are you stressed, anxious or <span>depressed?</span></h1>
									<div class="th-description">
										<p>Have problems with your sleep? Feeling tired? Is it difficult to concentrate on your studies or work? Finding it hard to socialise? Getting flashbacks of past traumatic events? Any strange experiences or anything else affecting your overall functioning? <strong>  If yes,<br> we can help.</strong></p>
									</div>
									<!-- <a href="book-appoinment.php" class="btn btn-md btn-primary book-appointment-btn">
										<span>Book Online Oppointment</span>
									</a> -->
									<router-link :to="{ name: 'BookAppointment'}" class="btn btn-md btn-primary book-appointment-btn"><span>Book Online Appointment</span></router-link>
									<router-link :to="{ name: 'DownloadPage'}" class="btn btn-md btn-dark-grey book-appointment-btn">
										<span>Download Web App</span>
									</router-link>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>
<script type="text/javascript">
	export default {
		
	}
</script>