<template>
	 <!-- cookies block -->
    <div class="cookies-block cookie_disclimer" style="display: block;" v-show="isCookieshow">
        <div class="max-wrapper text-center">
            <!-- <p>We use cookies to understand how you use our site and to improve your experience. This includes personalizing content and advertising. To manage or opt out of the use of cookies click here. by continuing to use the website or closing this banner. you accept our use of first and third-party cookies.</p> -->
            <p>We use cookies to provide essential functionality, improve performance, and to enhance your user experience. If you continue to browse this site, we will assume that you are happy to accept Cookies from us and also agree to our <router-link :to="{name : 'CookiePolicy'}" target="_blank">Cookies policy.</router-link></p>
            <a href="javascript:;" class="btn btn-primary cookie_disc">
                <i class="icon-check"></i> OK
            </a>
            <!-- <span><i class="icon-remove  remove_disclimer"></i> </span>     -->        
        </div>
    </div>
    <!-- cookies block end-->
</template>
<script>
	
    export default {
        mounted() {
        	var app = this;
        	app.$cookies.config('30d')

			$('.cookie_disc').click(function (e) {
				e.preventDefault();
				var oldCookieValue = app.$cookies.get('cookie_disclimer');
				app.$cookies.set('cookie_disclimer','1', '30d');
				$('.cookie_disclimer').hide();
			});

			$('.remove_disclimer').click(function (e) {
				e.preventDefault();
				$('.cookie_disclimer').hide();
			});
        },
        computed : {
        	isCookieshow () {
        		var app = this;
        		var oldCookieValue = app.$cookies.get('cookie_disclimer');
				if (oldCookieValue) {
					if (oldCookieValue == 0) {
						return true;
					} else if (oldCookieValue == 1) {
						return false;
					}
				} else {
					app.$cookies.set('cookie_disclimer','0', '30d');
					return true;
				}
        	}

        }
    }
</script>