<template>
	<div class="alert alert-success"  role="alert" v-show="message != null">
      <span>{{ message }}</span>
    </div>
</template>
<script type="text/javascript">
	export default {
		prop : ['message'],
		data: function () {
            return {
            	message : this.message
            }
        }    
	}
</script>