<template>
<span>
	<div class="section download-web-app">
	    <div class="max-wrapper text-center">
	        <div class="row">
	            <div class="col-xs-12 col-md-6">
							<router-link :to="{ name: 'DownloadPage'}">
	            	<span class="app-icon iphone" ><img :src="$imageUrl+'apple.svg'"></span>
	            	<h2 class="section-heading text-center">How to Download <span>Web App</span></h2>
							</router-link>
	            </div>
	            <div class="col-xs-12 col-md-6">
								<router-link :to="{ name: 'DownloadPage'}">
	                <span class="app-icon android"><img :src="$imageUrl+'android.svg'"></span>
	                <h2 class="section-heading text-center">How to Download <span>Web App</span></h2>
									</router-link>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="section footer-section">
		<div class="max-wrapper">
			<ul class="footer-menu">
				<li><router-link :to="{ name: 'Index'}">Home</router-link></li>
				<li><router-link :to="{ name: 'AboutUs'}">About Us</router-link></li>
				<li><router-link :to="{ name: 'HowItWorks'}">How It Works</router-link></li>
				<li><router-link :to="{ name: 'Pricing'}">Pricing</router-link></li>
				<li><router-link :to="{ name: 'what-we-treat'}">What We Treat</router-link></li>
				 <template v-if="$loggedInUser == ''">
				 	<li><router-link :to="{ name: 'Register'}">Register</router-link></li>
					<li><router-link :to="{ name: 'Login'}">Login</router-link></li>
				 </template> 
				
			</ul>
			<ul class="footer-menu">
				<li><router-link :to="{ name: 'FAQ'}">Faq</router-link></li>
				<li><router-link :to="{ name: 'Terms'}">Terms & Conditions</router-link></li>
				<li><router-link :to="{ name: 'Privacy'}">Privacy Policy</router-link></li>
				<li><router-link :to="{ name: 'CookiePolicy'}">Cookies Policy</router-link></li>
				<li><a href="javascript:;">Sitemap</a></li>
				<li><router-link :to="{ name: 'CQC'}">CQC</router-link></li>
				<li><router-link :to="{ name: 'ContactUs'}">Help</router-link></li>
				<li><router-link :to="{ name: 'ForDoctors'}">For Doctors</router-link></li>
				<li><router-link :to="{ name: 'ContactUs'}">Contact Us</router-link></li>
			</ul>
			<ul class="social-icons">
				<li><i class="icon-facebook"></i></li>
				<li><i class="icon-twitter"></i></li>
				<li><i class="icon-linkedin"></i></li>
			</ul>
			<span class="cqc-logo"><a target="blank" href="https://www.cqc.org.uk/"><img :src="$imageUrl+'images.png'"></a></span>
		</div>
			<span class="copyright-text">© Copyright 2016-2019 Foress Media Ltd, operator of Happy Clinic tele-psychiatric service. All rights reserved.<br> Registered in England, No: 09567845. Registered under the Data Protection Act 1998</span>
	</div>

	<!-- cookies block -->
	<!-- <div class="cookies-block cookie_disclimer" style="display: none;" v-show="isCookieshow">
		<div class="max-wrapper text-center">
			 <p>We use cookies to understand how you use our site and to improve your experience. This includes personalizing content and advertising. To manage or opt out of the use of cookies click here. by continuing to use the website or closing this banner. you accept our use of first and third-party cookies.</p>
			<p>We use cookies to provide essential functionality, improve performance, and to enhance your user experience. If you continue to browse this site, we will assume that you are happy to accept Cookies from us and also agree to our <router-link :to="{name : 'CookiePolicy'}" target="_blank">Cookies policy.</router-link></p>
			<a href="javascript:;" class="btn btn-primary cookie_disc">
				<i class="icon-check"></i> OK
			</a>
			<span><i class="icon-remove  remove_disclimer"></i> </span>
		</div>
	</div> -->
	<!-- cookies block end-->

</span>
</template>
<script>
	export default {
      computed: {
          $loggedInUser: function () {
                  return JSON.parse(this.$store.getters.getAuthUser);
          },
          $loggedInUserIsMember : function () {
                  var user = JSON.parse(this.$store.getters.getAuthUser);
              return user.is_member;
          }
        },
        data: function () {
              return{
              }
        },
	}

</script>
