<template>
	<div class="full-view-menu">
		<div class="heading">
			<h2>Menu</h2>
			<i class="icon-close" @click="$emit('emit-close-fullmenu')"></i>
		</div>
		<div class="scrollbar" id="style-4">
			<ul>
				<!-- <router-link v-for="(list , index) in listing" tag="li" :to="list.menuLink" :key="index">
				  	<a>{{list.menuLabel}}</a>
				</router-link> -->

          <router-link tag="li" :to="{ name : 'Index' }">
              <a>Home</a>
          </router-link>
          <span v-if="$loggedInUser != ''">
            <span v-if="$loggedInUser.role == 'patient'">
               <router-link tag="li" :to="{ name: 'AccountIndex'}">
                  <a>My account</a>
              </router-link>
              <router-link tag="li" :to="{ name: 'BookAppointment'}">
                  <a>Book Appointment</a>
              </router-link>
              <router-link tag="li" :to="{ name: 'AccountIndex', hash : '#document-tab-content'}">
                <a>Send document</a>
              </router-link>
              <template v-if="$loggedInUserIsMember == 0">
                <router-link tag="li" :to="{ name: 'Membership'}">
                   <a>Become a member</a>
               </router-link>
              </template>
              
            </span>
            <span v-if="$loggedInUser.role == 'doctor'">
               <router-link tag="li" :to="{ name: 'DoctorPanel'}">
                  <a>My account</a>
              </router-link>
              <router-link tag="li" :to="{ name: 'DoctorPanel', hash : '#document-tab-content'}">
                  <a>Send document</a>
              </router-link>
            </span>
          </span>
          <span v-else>
            <router-link tag="li" :to="{ name: 'Register'}">
                  <a>Register</a>
                </router-link>
            <router-link tag="li" :to="{ name: 'Login'}">
                <a>Login</a>
            </router-link>
          </span>
					
          <router-link tag="li" :to="{ name: 'AboutUs'}">
              <a>About Us</a>
          </router-link>

          <router-link tag="li" :to="{ name: 'HowItWorks'}">
              <a>How it works</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'what-we-treat'}">
              <a>What We Treat</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'OurDoctors'}">
              <a>Our Doctors</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'FAQ'}">
              <a>FAQ</a>
          </router-link>
           <router-link tag="li" :to="{ name: 'Testimonial'}">
              <a>Testimonials</a>
          </router-link>
          <router-link tag="li" :to="{ name: 'Pricing'}">
              <a>Fees</a>
          </router-link>

          <router-link tag="li" :to="{ name: 'ContactUs'}">
              <a>Contact us</a>
          </router-link>

           <router-link tag="li" :to="{ name: 'Logout'}" v-if="$loggedInUser != ''">
              <a>Log out</a>
          </router-link>

			</ul>
		</div>
		<div class="menu-backdrop"></div>
	</div>
</template>
<script>
	export default {
      computed: {
          $loggedInUser: function () {
                  return JSON.parse(this.$store.getters.getAuthUser);
          },
          $loggedInUserIsMember : function () {
                  var user = JSON.parse(this.$store.getters.getAuthUser);
              return user.is_member;
          }
        },
        data: function () {
              return{
              	/*listing: [
              		{
              			menuLabel:"Home",
              			menuLink:"/",
              		},
              		{
              			menuLabel:"About Us",
              			menuLink:"about-us",
              		},
              		{
              			menuLabel:"Become a member",
              			menuLink:"membership",
              		},
              		{
              			menuLabel:"FAQ",
              			menuLink:"faq",
              		},
              		{
              			menuLabel:"How it works",
              			menuLink:"how-it-works",
              		},
              		{
              			menuLabel:"What We Treat",
              			menuLink:"what-we-treat",
              		},
              		{
              			menuLabel:"Testimonials",
              			menuLink:"testimonials",
              		},
              		{
              			menuLabel:"Fees",
              			menuLink:"pricing",
              		},
              		{
              			menuLabel:"Register",
              			menuLink:"register",
              		},
              		{
              			menuLabel:"Login",
              			menuLink:"login",
              		},
              		{
              			menuLabel:"Book appointment",
              			menuLink:"book-appointment",
              		},
              		{
              			menuLabel:"My account",
              			menuLink:"my-account",
              		},
              		{
              			menuLabel:"Contact us",
              			menuLink:"contact-us",
              		},
              		{
              			menuLabel:"Send document",
              			menuLink:"my-account",
              		},
              		{
              			menuLabel:"Log out",
              			menuLink:"api/logout",
              		},
              	]*/
              }
        },
	}

</script>
