<template>
	<div class="header">
		<div class="fixed-header">
				<div class="top-bar">
					<div class="max-wrapper full-wrapper clearfix">
					<ul class="float-left left">
						<li><a href="javascript:;"><i class="icon-phone"></i><span>(+44) 03301330855</span></a></li>
						<li><router-link :to="{name : 'ContactUs'}"><i class="icon-envelope"></i><span>admin@happyclinic.co.uk</span></router-link></li>
					</ul>
					</div>
				</div>
				<div class="logo">
					<router-link :to="{ name: 'Index'}">
						<img :src="$imageUrl+'logo-wide.png'">
					</router-link>
				</div>
				<div class="float-right menu-main-wrapper">
					<template v-if="isShowing">
						<template v-show="isMobile && isMenuShow">
							<span class="menu-icon signout-icon" style="display: block;">
								<router-link :to="{name : 'Logout'}"><i class="icon-sign-out"></i></router-link>
							</span>
						</template>
						<template v-show="!isMobile">
							<span class="menu-icon signout-icon" style="display: none;">
								<router-link :to="{name : 'Logout'}"><i class="icon-sign-out"></i></router-link>
							</span>
						</template>
					</template>

<!-- 					<span class="menu-icon " v-show="isMobile" @click="toggleMenu(true)"  style="display: block;">
						<a href="javascript:;">
							<i class="icon-bars"></i>
						</a>
					</span>	 -->
					<!--full menu icon-->
					<span class="menu-icon full-menu-icon" @click="showFullMenuHandler">
						<a href="javascript:;">
							<i class="icon-bars"></i>
						</a>
					</span>
					<!--full menu icon end-->

					<!--left menu icon -->
					<div class="left-menu-icon" @click="$emit('emit-left-menu')">
						<i class="icon-arrow-circle-right"></i>
					</div>
					<!--left menu icon end-->
					<template v-if="role == 'doctor'">
						<router-link :to="{ name: 'DoctorPanel'}" class="loginInfoDetail"  :class="{isActiveMobile: isLoginInfo}">
							<span class="login-user-detail float-right">
								<span class="login-user-img">
									<img :src="profile_pic" alt="Profile Pic">
								</span>
								<p class="login-username">{{first_name}} {{last_name}}
									<span>{{ role | capitalize }}</span>
								</p>
							</span>
						</router-link>
					</template>
					<template v-if="role == 'patient'">
						<router-link :to="{ name: 'AccountIndex'}" class="loginInfoDetail"  :class="{isActiveMobile: isLoginInfo}">
							<span class="login-user-detail float-right">
								<span class="login-user-img">
									<img :src="profile_pic" alt="Profile Pic">
								</span>
								<p class="login-username">{{first_name}} {{last_name}}
									<span>{{ role | capitalize }}</span>
								</p>
							</span>
						</router-link>
					</template>
					<template v-if="role == 'superadmin'"  >
						<a href="javascript:;" class="loginInfoDetail"  :class="{isActiveMobile: isLoginInfo}">
							<span class="login-user-detail float-right">
								<span class="login-user-img">
									<img :src="profile_pic" alt="Profile Pic">
								</span>
								<p class="login-username">{{first_name}} {{last_name}}
									<span>{{ role | capitalize }}</span>
								</p>
							</span>
						</a>
					</template>

					<template v-show="isShowing">
						<template v-show="isMobile && isMenuShow">
						</template>
<!--						<template v-if="!isMobile">
							<template v-if="role == 'doctor'">
								<router-link :to="{ name: 'DoctorPanel'}">
									<span class="login-user-detail float-right">
										<span class="login-user-img">
											<img :src="profile_pic" alt="Profile Pic">
										</span>
										<p class="login-username">{{first_name}} {{last_name}}
											<span>{{ role | capitalize }}</span>
										</p>
									</span>
								</router-link>
							</template>
							<template v-if="role == 'patient'">
								<router-link :to="{ name: 'AccountIndex'}">
									<span class="login-user-detail float-right">
										<span class="login-user-img">
											<img :src="profile_pic" alt="Profile Pic">
										</span>
										<p class="login-username">{{first_name}} {{last_name}}
											<span>{{ role | capitalize }}</span>
										</p>
									</span>
								</router-link>
							</template>
							<template v-if="role == 'superadmin'">
								<span class="login-user-detail float-right">
									<span class="login-user-img">
										<img :src="profile_pic" alt="Profile Pic">
									</span>
									<p class="login-username">{{first_name}} {{last_name}}
										<span>{{ role | capitalize }}</span>
									</p>
								</span>
							</template>
						</template> -->
					</template>
					<div class="main-navigation" >
						<div class="main-navigation-inner" >
							<h2 class="menu-hd">Menu</h2>
							<i class="menu-icon-remove icon-remove" ></i>
							<ul class="">
								<!-- <template v-if="isShowing">
									<li class="" v-if="$loggedInUserIsMember == 0">
										<router-link :to="{ name: 'Membership'}"  class="btn btn-primary membership-btn gredeint-btn">Membership</router-link>
									</li>
								</template>
								<template v-else> -->
									<li class="" v-if="($loggedInUserIsMember == 0 && role == 'patient') || $loggedInUserIsMember == undefined">
										<router-link :to="{ name: 'Membership'}"  class="btn btn-primary membership-btn gredeint-btn">Membership</router-link>
									</li>
								<!-- </template> -->
								<!--
								<li>
									 <router-link :to="{ name: 'Index'}">Home</router-link>
								</li> -->
								<li>
									<router-link :to="{ name: 'AboutUs'}">About Us</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'OurDoctors'}">Our Doctors</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'HowItWorks'}">How It Works</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'Pricing'}">Pricing</router-link>
								</li>
								<li>
									<router-link :to="{ name: 'what-we-treat'}">What We Treat</router-link>
								</li>
								<!--
								<li>
									<router-link :to="{ name: 'FAQ'}">Faq</router-link>
								</li>
								-->
								<!-- <template v-if="isAuthUser">

									    <li>
									        <a>
									            <span class="user-login-image"><img :src="profile_pic" alt="Profile Pic"></span>
									            <p class="usern-login-name">{{first_name}} {{last_name}}</p>
									        </a>
									        <ul>
									            <li>  <router-link :to="{ name: 'AccountIndex'}">My Account</router-link></li>
									            <li><a href="javascript:;" @click="logout">Logout</a></li>
									        </ul>
									    </li>

								</template>
								<template v-else>-->
								<template v-if="!isShowing">
									<li>
										<router-link class="btn  gredeint-btn-blue membership-btn " :to="{ name: 'Register'}">Register</router-link>
									</li>
									<li>
										<router-link class="btn  gredeint-btn-blue membership-btn " :to="{ name: 'Login'}">Login</router-link>
									</li>
								</template>

								<!-- </template> -->

							</ul>
						</div>
					</div>
				</div>
				<span class="camera-reverse-icon" @click="switchCamera"><img :src="$baseUrl+'/htmlv1/images/icons/camera-reverse.svg'"></span>
		</div>
		<!-- full menu show -->
		<headerFullMenu @emit-close-fullmenu="closeFullMenu" v-if="showFullMenu"></headerFullMenu>
		<!-- full menu show -->
	</div>
</template>
<script>
	import headerFullMenu from './../common/fullMenu.vue';
	import axios from 'axios';
    export default {
		components : {
			headerFullMenu
        },
        mounted() {
        	if ($(window).width()<= 1100) {
        		var app = this;
        		app.isMobile = true;
/*        		$('.main-navigation').hide();
				$('.menu-icon').click(function(){
					$('.main-navigation').fadeIn();
				});
				$('.menu-icon-remove').click(function(){
					$('.main-navigation').fadeOut();
				});*/
			}


        },
        computed: {
            isShowing: function () {
                var app = this;
                let user;
                user =  JSON.parse(app.$store.getters.getAuthUser);
                if(user) {
                    //var user = JSON.parse(localStorage.getItem('lbUser'));
                    app.first_name = user.first_name;
                    app.last_name = user.last_name;
                    app.profile_pic = app.$baseUrl+'/storage/profile_pic/'+user.profile_pic;
                    app.role = user.role;
                    /*app.isShowing = true;*/
                    return true;
                } else {

                    //app.$router.replace('/login');
                    return false;
                }
            },
           	$loggedInUser: function () {
		       	return JSON.parse(this.$store.getters.getAuthUser);
		    },
		    $loggedInUserIsMember : function () {
		      	var user = JSON.parse(this.$store.getters.getAuthUser);
		        return user.is_member;
		    }
        },
        data : function() {
          return {
            first_name : null,
            last_name :null,
            profile_pic : null,
            role : null,
            isMenuShow : false,
            isMobile : false,
            showFullMenu: false,
            isLoginInfo : false,
            /*isShowing:false,*/
            //isAuthUser : false,
          }
        },
        methods: {
            /*logout() {
                var app = this;
                  axios.post(app.$apiUrl+'logout')
                  .then(function (resp) {
                      //window.localStorage.removeItem('lbUser');
                      app.$store.commit('setAuthUser', '')
                      app.$router.replace('/login');
                  })
                  .catch(function (resp) {
                  });
            },*/
            /*toggleMenu(action) {
            	if (action) {
            		this.isMenuShow = true;
            	} else {
            		this.isMenuShow = false;
            	}
            },*/
            showFullMenuHandler(){
            	this.showFullMenu = true;
            	this.isMenuShow = true;
							this.isLoginInfo = true;
            },
            closeFullMenu(){
            	this.showFullMenu = false;
            	this.isMenuShow = false;
							this.isLoginInfo = false;
            },

            switchCamera() {
            	EventBus.$emit('switchCamera');
            }
        }
    }
</script>
<style scoped="">
	.user-login-image img {
		/*height: 50px;
	    width: 50px;
	    border-radius: 50%;*/
	}
</style>
