<template>
  <span>
    <ul class="upload-types-btn" v-if="$isMobile">
           <li class="" :class="{'active' : isUpload }" @click="uploadOption('upload')">
              <i class="icon-cloud-upload"></i>
              <p>Upload</p>
           </li>
           <li class="" :class="{'active' : isTake }" @click="uploadOption('take')" >
              <i class="icon-camera"></i>
              <p>Take</p>
           </li>
          <!--  <li class="" :class="{'active' : isScan }" @click="uploadOption('scan')">
              <i class="icon-document-scan"></i>
              <p>Scan </p>
           </li> -->
    </ul>
    <!-- <div class="form-group"> -->
      <!-- <label>{{ label }}</label> -->
        
        <!-- <div class="upload-photo-block text-center"  v-if="is_preview"> 
              <div class="display-profile-picture">
                <div class="uploaded-photo" >
                   <img  :src="finalArray.length ? finalArray[0].url : $imageUrl+'dummy/profile-avatar.png'">
                </div>
              </div>
              <div class="uploaded-photo" v-if="isUpload">  
                  <file-upload
                        v-model="finalArray"
                        :input-id="input_id"
                        :post-action="$apiUrl+'media/upload'"
                        :accept="accept"
                        :extensions="extensions"
                        @input-file="inputFile"
                        @input-filter="inputFilter"
                        :data="{type: type}"
                        :ref="refUpload"
                        :maximum="maximum"
                        :thread="thread"
                        class="btn btn-primary upload-photo-btn btn-block" 
                        :class="{'show-spinner' : isUploading }">
                        <span>{{ button_text }}</span>
                          <div class="loader"></div>
                        </file-upload>                                           
              </div>
        </div> -->
        <div class="upload-photo-block text-center" :class="{'style-2' : !is_preview}" v-show="!edit">
          <div class="display-profile-picture" :class="{'without-preview' : !is_preview}">
             <i class="icon-upload" v-if="!is_preview"></i>
              <div class="uploaded-photo" v-if="is_preview">
                 <!--  <canvas id="myCanvas"></canvas> -->
                 <img id="myImg" :src="finalArray.length ? finalArray[0].url : $imageUrl+'dummy/profile-avatar.png'">
                 
              </div>
          </div>    
              <div class="uploaded-photo" v-if="isUpload">  
                  <file-upload
                        v-model="finalArray"
                        :input-id="input_id"
                        :post-action="$apiUrl+'media/upload'"
                        :accept="accept"
                        :extensions="extensions"
                        @input-file="inputFile"
                        @input-filter="inputFilter"
                        :data="{type: type}"
                        :ref="refUpload"
                        :size="10000000"
                        :maximum="maximum"
                        :thread="thread"
                        :drop="!edit"
                        class="btn btn-primary upload-photo-btn btn-block" 
                        :class="{'show-spinner' : isUploading }">
                        <span>{{ button_text }}</span>
                          <div class="loader"></div>
                        </file-upload>                                           
              </div>
              <div class="uploaded-photo" v-if="isTake">  
                  <file-upload
                        v-model="finalArray"
                        :input-id="input_id"
                        :post-action="$apiUrl+'media/upload'"
                        accept="image/*"
                        :capture="capture"
                        @input-file="inputFile"
                        @input-filter="inputFilter"
                        :data="{type: type, isUpload : isUpload, isTake : isTake}"
                        :ref="refUpload"
                        :maximum="maximum"
                        :thread="thread"
                        class="btn btn-primary upload-photo-btn btn-block" 
                        :class="{'show-spinner' : isUploading }">
                        <span v-if="isUpload">{{ button_text }}</span>
                        <span v-if="isTake">Take Photo</span>
                          <div class="loader"></div>
                        </file-upload>                                           
              </div>
              
            </div>  
        </div>
      </div> 
      <div class="avatar-edit" v-show="finalArray.length && edit && !isTake" v-if="type == 'profile_pic'">
          <div class="avatar-edit-image" v-if="finalArray.length">
            <img ref="editImage" :src="finalArray[0].url" />
          </div>
          <div class="text-center p-4">
            <button type="button" class="btn btn-secondary" @click.prevent="$refs[refUpload].clear">Cancel</button>
            <button type="submit" class="btn btn-primary" @click.prevent="editSave">Save</button>
          </div>
      </div>
        <div class="section-separater"></div>
      <div class="uploaded-reports" v-if="type != 'profile_pic'">
          <ul>
              <li v-for="(file, index) in finalArray" :key="file.id">
                  <i class="icon-file-text-o attached-file-icon"></i>
                  <p class="attached-file-name">
                  <a href="javascript:;">{{file.name}}</a></p>
                  <span class="icon-remove remove-attached-file" @click="removeFile(type,finalArray,index)"></span>
                <span v-if="file.error" class="text-danger text-small"> - {{file.error}} -> {{responseError}}</span>
                <span v-else-if="file.success" class="text-success text-small"> - success</span>
                <span v-else></span>
              </li>
          </ul>
      </div>                
    <!-- </div> -->
  </span>  
</template>
<script>
   import Cropper from 'cropperjs'
   import axios from 'axios';
  /*import EXIF from 'exif-js'*/
    export default {
        props : ['fileArray', 'label', 'type','input_id', 'is_preview' ,'accept', 'extensions', 'button_text', 'is_multiple', 'refUpload', 'maximum', 'thread', 'inputArray', 'is_multidimensional_array'],
        data(){
            return {
                finalArray: [],
                isUploading : false,
                uploadedArray : (this.is_multiple)? [] : '',
                isUpload : true,
                isTake: false,
                isScan : false,
                responseError: '',
                edit: false,
                cropper: false,
                capture : (this.type == 'profile_pic') ? 'user' : 'environment',
            }
        },
        mounted(){
          var app =this;
          app.finalArray = app.fileArray;
          EventBus.$on('CleanupFiles', function() {
            app.finalArray = [];
          });
        },
        watch : {
          inputArray: function(newVal, oldVal) {
            var app = this;
            if (newVal.length >  0) {
              app.uploadedArray = newVal;
            }
          },
          edit(value) {
            if (value) {
              this.$nextTick(function () {
                if (!this.$refs.editImage) {
                  return
                }
                let cropper = new Cropper(this.$refs.editImage, {
                  aspectRatio: 1 / 1,
                  viewMode: 1,
                })
                this.cropper = cropper
              })
            } else {
              if (this.cropper) {
                this.cropper.destroy()
                this.cropper = false
              }
            }
          },
        },
        methods: {
            inputFile(newFile, oldFile, prevent) {
                var app = this;
                if (newFile && oldFile) {

                    if (newFile.response.status != undefined) {

                      if (newFile.response.status == 'success') {
                        this.responseError = '';
                        newFile.url = ''

                        /*** image orientation fix on image capture start****/
                        /*var reader = new FileReader();
                        reader.onloadend = function (e) {
                          $('#myImg').attr('src', e.target.result);
                          EXIF.getData(newFile.file, function() {
                                
                            // Fetch image tag
                            var img = $("#myImg").get(0);

                            // Fetch canvas
                            var canvas = $("#myCanvas").get(0);
                            // run orientation on img in canvas
                            app.orientation(img, canvas);
                          });
                        };

                        // Trigger reader to read the file input
                        reader.readAsDataURL(newFile.file);*/
                        /*** image orientation fix on image capture end****/
                       
                        let URL = window.URL || window.webkitURL
                        if (URL && URL.createObjectURL) {
                          newFile.url = URL.createObjectURL(newFile.file);
                        }
                      } else {
                        this.responseError = newFile.response.message;
                      }
                    }
                    if (newFile.response.name != undefined) {
                      if (app.is_multiple) {
                        if (app.is_multidimensional_array) {
                          if ($.inArray(newFile.response.name, $.map(app.uploadedArray, function(v) { return v['name']; })) > -1) {
                          } else {
                              var obj = {};
                              obj.name = newFile.response.name;
                              obj.created_at = newFile.response.created_at;
                              app.uploadedArray.push(obj);
                              this.$emit('fileAdded', app.uploadedArray);
                          }
                        } else {

                          if(jQuery.inArray(newFile.response.name, app.uploadedArray) !== -1) {
                          }else {
                            app.uploadedArray.push(newFile.response.name);
                            this.$emit('fileAdded', app.uploadedArray);
                          }
                        }
                        
                      } else {
                        app.uploadedArray = newFile.response.name;
                        this.$emit('fileAdded', app.uploadedArray);

                      }
                       
                    }
                }
                if (newFile && !oldFile) {
                  if (!this.$refs[app.refUpload].active) {
                      this.$refs[app.refUpload].active = true;
                  }

                  if (newFile.data.type == 'profile_pic' && app.isTake == false) {
                    this.$nextTick(function () {
                      this.edit = true
                    }) 
                  }
                }

                if (!newFile && oldFile) {
                  this.edit = false
                }
            },
             inputFilter(newFile, oldFile, prevent) {
              var app = this;
              app.isUploading = true;
              if (newFile.active == false) {
                app.isUploading = false;
              }
              if (newFile && !oldFile) {
                // Before adding a file
                // Filter system files or hide files
                if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                  return prevent()
                }
                // Filter php html js file
                if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                  return prevent()
                }
              }

              if (newFile.error == 'size') {
                this.responseError = "This file can't be uploaded. Maximum file-size is 10MB.";
              }

              // if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
              //   //console.log(newFile);
              //   if (newFile.success == true) {
              //     newFile.url = ''
              //     let URL = window.URL || window.webkitURL
              //     if (URL && URL.createObjectURL) {
              //       newFile.url = URL.createObjectURL(newFile.file);
              //     }
              //   }
                
              // } 

              if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
                newFile.url = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                  newFile.url = URL.createObjectURL(newFile.file)
                }
              }   
            },
            removeFile(type, array, index) {
              var app = this;
              array.splice(index, 1);
              if (app.is_multiple) {
                app.uploadedArray.splice(index, 1);
              } else {
                app.uploadedArray = '';
              }
              this.$emit('fileRemoved', app.uploadedArray);
            },
            uploadOption(option) {
              var app = this;
              if (option == 'upload') {
                app.isUpload = true;
                app.isTake = false;
                app.isScan = false;

              } else if (option == 'take') {
                app.isTake = true;
                app.isUpload = false;
                app.isScan = false;
              } else if (option == 'scan') {
                app.isScan = true;
                app.isTake = false;
                app.isUpload = false;
              }
            },
            editSave() {
              this.edit = false
              let oldFile = this.finalArray[0]
              let binStr = atob(this.cropper.getCroppedCanvas().toDataURL(oldFile.type).split(',')[1])
              let arr = new Uint8Array(binStr.length)
              for (let i = 0; i < binStr.length; i++) {
                arr[i] = binStr.charCodeAt(i)
              }
              let file = new File([arr], oldFile.name, { type: oldFile.type })
              this.$refs[this.refUpload].update(oldFile.id, {
                file,
                type: file.type,
                size: file.size,
                active: true,
              })

              var app = this;
              this.cropper.getCroppedCanvas().toBlob(function (blob) {
                      var formData = new FormData();
                      formData.append('file', blob);
                      formData.append('type', 'profile_pic');
                      axios({
                        method: 'POST',
                        url: app.$apiUrl+'media/upload',
                        data: formData,
                        processData: false,
                        contentType: false,
                      })
                      .then(function (resp) {
                        app.uploadedArray = resp.data.name;
                        app.$emit('fileAdded', app.uploadedArray);

                         console.log('Upload success');
                      })
                      .catch(error => {
                        console.log('Upload error');
                      })
                });
            },
            /*base64ToArrayBuffer (base64) {
                base64 = base64.replace(/^data\:([^\;]+)\;base64,/gmi, '');
                var binaryString = atob(base64);
                var len = binaryString.length;
                var bytes = new Uint8Array(len);
                for (var i = 0; i < len; i++) {
                    bytes[i] = binaryString.charCodeAt(i);
                }
                return bytes.buffer;
            },
            orientation(img, canvas) {
  
              // Set variables
              var ctx = canvas.getContext("2d");
              var exifOrientation = '';
              var width = img.width,
                  height = img.height;
                  
                  console.log(width);
                  console.log(height);
      
              // Check orientation in EXIF metadatas
              EXIF.getData(img, function() {
                  var allMetaData = EXIF.getAllTags(this);
                  exifOrientation = allMetaData.Orientation;
                  console.log('Exif orientation: ' + exifOrientation);
              });
      
              // set proper canvas dimensions before transform & export
              if (jQuery.inArray(exifOrientation, [5, 6, 7, 8]) > -1) {
                  canvas.width = height;
                  canvas.height = width;
              } else {
                  canvas.width = width;
                  canvas.height = height;
              }
      
              // transform context before drawing image
              switch (exifOrientation) {
                  case 2:
                      ctx.transform(-1, 0, 0, 1, width, 0);
                      break;
                  case 3:
                      ctx.transform(-1, 0, 0, -1, width, height);
                      break;
                  case 4:
                      ctx.transform(1, 0, 0, -1, 0, height);
                      break;
                  case 5:
                      ctx.transform(0, 1, 1, 0, 0, 0);
                      break;
                  case 6:
                      ctx.transform(0, 1, -1, 0, height, 0);
                      break;
                  case 7:
                      ctx.transform(0, -1, -1, 0, height, width);
                      break;
                  case 8:
                      ctx.transform(0, -1, 1, 0, 0, width);
                      break;
                  default:
                      ctx.transform(1, 0, 0, 1, 0, 0);
              }
      
              // Draw img into canvas
              ctx.drawImage(img, 0, 0, width, height);
      
          }*/
        }
    }
</script>
<style type="text/css"  scoped="">
  .uploaded-photo img {
    width: 248px;
    height: auto;
  }
  .without-preview {
    height: 40px !important;
  }
  .display-profile-picture {
    margin: 0 auto 10px !important;
  }

  .example-avatar .text-center .btn {
  margin: 0 .5rem
}
.example-avatar .avatar-edit-image {
  max-width: 100%
}
.example-avatar .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.example-avatar .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
.pro_take_preview {
  display: none;
}

  #myCanvas {
    width: 248px;
    height: 248px;
    position: absolute;
  }
</style>