
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b4bdc3 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b4bdc3 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b4bdc3 !important;
}

.logo-pill {
	height: 60px;
    width: 114px;
    margin-left: 18px;
}

.disabled{
  pointer-events: none;
}



.text-red {
  color: red;
}

/*@media (min-width: 768px) {
  .modal-xl {
    width: 70% !important;
   max-width:1200px !important;
  }
}*/

@media (min-width: 768px) {
  .modal-large {
    width: 100% !important;
   max-width:950px !important;
  }
}

.single.v-select .dropdown-toggle {
    height: 35px !important;
}
.single.v-select input[type=search], .v-select input[type=search]:focus {
    margin: 0px !important;
}

select::-ms-expand {
    display: none;
}

.v-cal-event-item.is-overlapping {
  left: 0px !important;
}

.bg-warning-td td{
    background-color :#28a74533 !important;
}
.bg-white-td td{
    background-color :#ffffff !important;
}

.f-z-20 {
  font-size: 20px;
}

