<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                    <h2 class=" text-center"> New Email
                                    </h2>
                                   
                                    <div class="row m-t-20">
                                       
                                        <div class="col-lg-6 offset-md-3 no-padding">
                                            <div class="form-group required">
                                                <label class="text-primary bold">Select Email Type</label>
                                                <div class="radio radio-complete">
                                                    <input type="radio" value="individual"  v-model="email.email_type" id="individual">
                                                    <label for="individual" class="">Individual</label>

                                                    <input type="radio" value="group" v-model="email.email_type" id="group">
                                                     <label for="group" class="no-margin">Group</label>
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offset-md-3 no-padding" v-show="email.email_type == 'individual'">
                                            <div class="form-group required">
                                                <label class="text-primary bold">Select Receiver Type</label>
                                                <div class="controls">
                                                 <select v-model="email.receiver_type" name ="receiver_type" class="form-control" placeholder="Select Receiver Type" @change="getReceviers" v-validate="'required'">
                                                     <option value="hospital">Hospital</option>
                                                     <option value="laboratory">Laboratory</option>
                                                     <option value="unregistered_user">Unregistered User</option>
                                                 </select>
                                                </div>
                                                <small class="text-danger"
                                                  v-show="errors.has('receiver_type')">
                                                  {{ errors.first('receiver_type') }}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offset-md-3 no-padding" v-show="email.email_type == 'group'">
                                            <div class="form-group required">
                                                <label class="text-primary bold">Select Receiver Type</label>
                                                <div class="controls">
                                                 <select v-model="email.receiver_type" name ="receiver_type" class="form-control" placeholder="Select Receiver Type" v-validate="'required'">
                                                     <option value="all_hospitals">All Hospitals</option>
                                                     <option value="all_laboratories">All Laboratories</option>
                                                 </select>
                                                </div>
                                                <small class="text-danger"
                                                  v-show="errors.has('receiver_type')">
                                                  {{ errors.first('receiver_type') }}
                                                </small>
                                            </div>
                                        </div> 
                                        <div class="col-lg-6 offset-md-3 no-padding" v-show="email.email_type == 'individual'">
                                            <div class="form-group required">
                                                
                                                <template v-if="email.receiver_type != 'unregistered_user'">
                                                    <label class="text-primary bold">Select Recevier</label>
                                                    <vue-select class="vue-select2" name="receiver_list"
                                                        :options="email.receiver_lists" 
                                                        :searchable="true" 
                                                        language="en-US"
                                                        placeholder="Select"
                                                        v-model="selectedRecievers"
                                                        v-validate="rules"
                                                        data-vv-as="receiver"
                                                        multiple
                                                        >
                                                    </vue-select>
                                                </template>
                                                <template v-else>
                                                    <label class="text-primary bold">Enter Recevier Email</label>
                                                    <input type="email" name="receiver_list" class="form-control" v-model="email.unregistered_user_email" placeholder="Please enter email address" v-validate="'required|email'" data-vv-as="receiver">
                                                </template>
                                                
                                                <small class="text-danger"
                                                  v-show="errors.has('receiver_list')">
                                                  {{ errors.first('receiver_list') }}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offset-md-3  no-padding">
                                            <div class="form-group required">
                                                <label class="text-primary bold">Subject</label>
                                                <div class="controls">
                                                  <input type="text" class="form-control" name="subject" placeholder="Write Subject line" 
                                                  v-model="email.subject"
                                                  v-validate="'required'">
                                                </div>
                                                <small class="text-danger"
                                                  v-show="errors.has('subject')">
                                                  {{ errors.first('subject') }}
                                                </small>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offset-md-3  no-padding">
                                            <div class="form-group required">
                                                <label class="text-primary bold">Content</label>
                                                <!-- <vue-editor v-model="email.content" :editorToolbar="customToolbar" id="editor" v-validate="'required'" name="content"></vue-editor> -->
                                                <div id="summernote" v-model="email.content"></div>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 offset-md-3  no-padding">
                                            <div class="form-group required">
                                              <image-upload-component 
                                                  input_id="file1"
                                                  refUpload="upload1"
                                                  label="Attachment(s)"
                                                  button_text="Upload File(s)"
                                                  type="attachments"
                                                  :fileArray="files1"
                                                  :is_multiple="true"
                                                  :is_preview="false"
                                                  :accept="$accept"
                                                  :extensions="$extensions"
                                                  :maximum="6"
                                                  :inputArray="email.attachments"
                                                  :is_multidimensional_array="false"
                                                  @fileAdded="setUploadedAttachments"
                                                  @fileRemoved="setUploadedAttachments">   
                                                  </image-upload-component>
                                            </div>    
                                        </div>    
                                    </div>
                                    <div class="col-lg-6 offset-md-3  no-padding">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Verification</label>
                                             <center>
                                                <div class="form-group">
                                                   <vue-recaptcha
                                                    ref="recaptcha"
                                                    @verify="onCaptchaVerified"
                                                    @expired="resetRecaptcha"
                                                    :sitekey="site_key">
                                                  </vue-recaptcha>
                                                </div>
                                            </center> 
                                        </div>
                                    </div>
                                    
                                    <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="sendEmail()">Send <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                         <div class="alert m-t-10 text-center" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                                          {{alertMsg}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>


<script>
  import VueRecaptcha from 'vue-recaptcha';
    export default {
        components: { 
            VueRecaptcha 
        },
        data: function () {
            return {
                email: {
                    receiver_type : '',
                    receiver_lists : [],
                    receiver_arr : [],
                    unregistered_user_email: [],
                    subject : '',
                    content : '',
                    attachments : [],
                    email_type : 'individual',
                },
                module:'email',
                isAlertShow: false,
                selectedRecievers : [],
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                customToolbar: [
                      // [groupName, [list of button]]
                      ['style', ['bold', 'italic', 'underline', 'clear']],
                      ['font', ['strikethrough', 'superscript', 'subscript']],
                      ['fontsize', ['fontsize']],
                      ['list', [ 'ordered', 'bullet' ]],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['height', ['height']],
                      ['table', ['table']]
                ],

                files1 : [],
                site_key: '6LdtBHcUAAAAAJaA8EFzLrQ02nbfc8VPrx02wetH',
                recaptchaToken : '',
            }
        },
        mounted() {
            $('#summernote').summernote({
                airMode: false,
                placeholder: 'Write Content',
                height: 300,
                focus: true,
                toolbar: this.customToolbar,
                popover: {
                   image: [],
                   link: [],
                   air: []
                }
              });
            var app = this;
            app.resetRecaptcha();
        },
        methods: {
            sendEmail:function(page) {
                var app = this;
                var newEmail = app.email;
                newEmail.content = $('#summernote').summernote('code');
                newEmail.recaptcha = app.recaptchaToken;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        if (newEmail.receiver_type == 'unregistered_user') {
                            newEmail.receiver_arr.push(app.email.unregistered_user_email);
                        } else {
                            $(app.selectedRecievers).each(function(ind, ele) {
                                newEmail.receiver_arr.push(ele.value);
                            });
                        }
                        app.isLoading = true;
                        axios.post(app.$apiUrl+'email', newEmail)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                                app.email.receiver_type = '';
                                app.email.receiver_lists = [];
                                app.email.receiver_arr = [];
                                app.email.unregistered_user_email = [];
                                app.email.subject = '';
                                app.email.content = '';
                                app.email.attachments = [];
                                app.email.email_type = 'individual';
                                app.files1 = [];
                                this.$nextTick(() => this.$validator.reset())
                                $('#summernote').summernote('code', '');
                                app.resetRecaptcha();
                                setTimeout(function(){
                                    //app.errors.clear();
                                    EventBus.$emit('CleanupFiles');
                                    app.isAlertShow = false;
                                },3000);    
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.message;
                                if(jsonResponse != '')
                                {
                                  app.alertMsg = jsonResponse;          
                                }
                            });
                    }
                })    
            },
        getReceviers() {
                var app = this;
                app.email.selectedRecievers = [];
                app.email.receiver_arr = [];
                if (app.email.receiver_type == 'hospital') {
                    var url = app.$apiUrl+'mental_health_hospitals?limit=0';
                } else if (app.email.receiver_type == 'laboratory') {
                    var url = app.$apiUrl+'laboratories?limit=0';
                }

                axios.get(url)
                    .then(function (resp) {
                        app.email.receiver_lists = resp.data.data.data;
                        if (app.email.receiver_lists.length > 0) {
                            var receiverOptionsArr =  [];
                            $(app.email.receiver_lists).each(function(ind, ele) {
                                var receiverOptions = {};
                                receiverOptions.label = ele.name;
                                receiverOptions.value = ele.email;
                                receiverOptionsArr.push(receiverOptions);
                            });
                        }
                        app.email.receiver_lists = receiverOptionsArr;
                        })
                    .catch(function (resp) {
                        app.email.receiver_lists = [];  
                    });
            },
            setUploadedAttachments(files) {
              this.email.attachments = files;
            },
            resetRecaptcha () {
              this.$refs.recaptcha.reset() // Direct call reset method
            },
            onCaptchaVerified(recaptchaToken) {
                var app = this;
                app.recaptchaToken = recaptchaToken;
            }, 
        },
        computed: {
            rules() {
              return (this.email.email_type == 'individual') ? 'required' : '';
            }
        }
    }
</script>
