<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Audits ({{totalAudits}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>
                            <div class="row">
                                <div class="form-group  pull-right col-sm-3">
                                    <label>Search By Name</label> 
                                    <input type="text" name="keyword" placeholder="Search By Name" v-model="audit.keyword" class="form-control">
                                  </div>
                                  <div class="form-group  pull-right col-sm-3">
                                    <label>Filter By Is Archived</label> 
                                    <select v-model="audit.filter_by_is_archived" class="form-control" placeholder="Filter By Status">
                                         <option value="0">Active</option>
                                         <option value="1">Archived</option>
                                     </select>
                                  </div>
                                  <div class="pull-right col-md-2">
                                    <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                                  </div>
                                  <div class="pull-right col-md-4">
                                    <router-link :to="{name: 'AuditsCreate'}" class="btn btn-applyplus btn-cons pull-right m-t-30"><i class="fa fa-plus"></i> Add Audit</router-link>
                                </div>  
                            </div> 
                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="auditss.length > 0">  
                                        <tr v-for="audits, index in auditss" >
                                            <td>{{ audits.id }}</td>
                                            <td>{{ audits.name }}</td>
                                            <td>{{ audits.date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ audits.document }}</td>
                                            <td><a href="#attachmentViewModal" data-toggle="modal" class="btn btn-xs btn-complete m-r-10" @click="viewAttachment(audits.document_path, audits.document.split('.').pop())"><i class="fa fa-eye"></i> View</a><a :href="audits.document_path" class="btn btn-xs btn-applyplus" download=""><i class="fa fa-download"></i> Download</a></td>
                                            <td>
                                                <router-link :to="{name: 'AuditsEdit', params: {id: audits.id}}" class="btn btn-xs btn-complete"  title="Edit">
                                                    <i class="fa fa-pencil"></i>
                                                </router-link>
                                                <a href="#archiveRestoreModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs" :class="(audits.is_archived == 0) ? 'btn-danger' : 'btn-info'"
                                                   @click="setRecordObj(audits.id, index, audits.is_archived)" :title="(audits.is_archived == 0) ? 'Archive' : 'Restore'">
                                                    <i class="fa" :class="(audits.is_archived == 0) ? 'fa-archive' : 'fa-undo'" aria-hidden="true"></i>
                                                </a>
                                                <a  v-if="audits.is_archived == 1" href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="setRecordObj(audits.id, index)">
                                                    <i class="fa fa-trash" title="Delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getAuditss"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
        <archive-restore-modal :id="id" :action="archiveStatus" :module="module" @actionPerformed="refreshList"></archive-restore-modal>
        <attachment-view-modal :file_path="file_path" :extension="extension" ></attachment-view-modal>
        </div>
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Name", "Date", "Document","Download", 'Action'],
                auditss: [],
                id: null,
                index:null,
                module:'audit',
                archiveStatus:null,
                pageCount: 0,
                totalAudits:0,
                search_spinner : false,
                audit: {
                    keyword: '',
                    filter_by_is_archived: '0',
                },
                file_path : '',
                extension : '',
            }
        },
        mounted() {
            this.getAuditss(1);
        },
        methods: {
            getAuditss:function(page) {
                var app = this;
                app.audit.page = page || 1;
                app.audit.limit = 10;
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'auditss',
                    params: app.audit
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.search_spinner = false;
                    app.totalAudits = resp.data.data.pagination.total;
                    app.auditss = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.search_spinner = false;
                    app.auditss = [];  
                    app.pageCount = 0;
                    app.totalAudits = 0;
                });
            },
            setRecordObj:function(id, index, archiveStatus)
            {
                var app = this;
                app.id = id;
                app.index = index;
                if (archiveStatus != null) {
                    if (archiveStatus == '0')
                        app.archiveStatus = 'archive';
                    else
                        app.archiveStatus = 'restore';
                }
            },
            refreshList(){
                this.audit.filter_by_is_archived = 0;
                this.getAuditss(1);
            },
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getAuditss(1);
            },
            viewAttachment(file_path, extension) {
                this.file_path = file_path;
                this.extension = extension;
            }  
        }
    }
</script>
