
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2>  {{ type }} Audits
                                    <router-link to="/audits" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Name</label>
                                            <div class="controls">
                                              <input type="text" class="form-control input-xl"
                                              name="name" 
                                              placeholder="Name of Audit" 
                                              v-model="audits.name"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('name')">
                                              {{ errors.first('name') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 m-t-10">
                                        <div class="form-group required">
                                            <label class="text-primary bold no-margin">Date of Audit </label>
                                            <div class="controls">
                                                 <date-picker v-model="audits.date" lang="en" v-validate="'required'" name="date" placeholder="Select Date" data-vv-as="date of audit" format="DD-MM-YYYY" type="date"></date-picker>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('date')">
                                              {{ errors.first('date') }}
                                            </small>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group required">
                                          <image-upload-component 
                                                  input_id="file1"
                                                  refUpload="upload1"
                                                  label="Document"
                                                  button_text="Upload Document"
                                                  type="attachments"
                                                  :fileArray="files1"
                                                  :is_multiple="false"
                                                  :is_preview="false"
                                                  :accept="$accept"
                                                  :extensions="$extensions"
                                                  :maximum="1"
                                                  :inputArray="audits.document"
                                                  :is_multidimensional_array="false"
                                                  @fileAdded="setUploadedDoc"
                                                  @fileRemoved="setUploadedDoc">   
                                                  </image-upload-component>
                                        </div>    
                                    </div>
                                </div>   
                                <hr>
                                <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons"  @click="saveForm()">{{ buttonText }} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    import DatePicker from 'vue2-datepicker'
    export default {
        components: {
            DatePicker
        },
        mounted() {
            let app = this;
            if (app.$route.name == 'AuditsCreate') {
                app.type = 'Add';
                app.buttonText = 'Create';
            } else if (app.$route.name == 'AuditsEdit') {
                app.type = 'Edit';
                app.buttonText = 'Update';
                let id = app.$route.params.id;
                app.auditsId = id;
                axios.get(app.$apiUrl+'audits/' + id)
                .then(function (resp) {
                    app.audits = resp.data.data;
                    if (app.audits.document != null) {
                        app.files1.push({'name' : app.audits.document, 'error' : ''});
                    }
                })
                .catch(function () {
                });
            }
           
        },
        data: function () {
            return {
                auditsId: null,
                audits: {
                    name: '',
                    date: '',
                    document: '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                files1 : [],
                type : '',
                buttonText : '',
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newAudits = app.audits;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        if (app.audits.date != '' && app.audits.date != null) {
                          app.audits.date = this.$moment(app.audits.date).format('YYYY-MM-DD');
                        }
                        app.isLoading = true;
                        if (app.auditsId == null) {
                          var url = app.$apiUrl+'audits';
                          var method = 'post';
                        } else {
                          var url = app.$apiUrl+'audits/' + app.auditsId;
                          var method = 'patch';
                        }
                        axios({
                          method: method,
                          url: url,
                          data:newAudits
                        })
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/audits');
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += value;
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                    }        
                })
            },
            setUploadedDoc(file) {
                this.audits.document = file;
            }
        }
    }
</script>

<style scoped="">
    .input-xl {
        height: 30px !important;
    }
</style>
    
