<template>
    <div class="modal fade" id="cancelSubscriptionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Confirmation</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
              {{alertMsg}}
            </div>
            <p class="no-margin">Are you sure you want to cancel this patient's subscription?</p>
          </div>
          <div class="modal-footer">
            <button type="button" @click="cancelSubscription" class="btn btn-applyplus btn-cons  pull-left inline">Yes <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">

	export default {
    props : ['id'],
    mounted () {
      $(".modal").on("hidden.bs.modal", function(){
          app.isSuccess = false;
          app.isAlertShow = false;
          app.isError = false;
          app.alertMsg = '';
      });
    },
    data: function () {
        return {
          isAlertShow: false,
          isSuccess:false,
          isError:false,
          alertMsg:'',
          isLoading:false,
        }
    },
    methods : {
      cancelSubscription() {
          var app = this;
            app.isLoading = true;
            axios.delete(app.$apiUrl+'subscription/membership/'+this.id)
                .then(function (resp) {
                    app.isLoading = false;
                    app.isSuccess = true,
                    app.isError = false,
                    app.alertMsg = resp.data.message;
                    app.isAlertShow = true;
                    $('#cancelSubscriptionModal').modal('hide');
                    app.errors.clear();
                    EventBus.$emit('recRemoved');
                    
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.isSuccess = false,
                    app.isError = true,
                    app.isAlertShow = true;
                    app.alertMsg = 'Error occured';
                });
          }
          
    }
	}

</script>

<style>
.vue-alert {
  margin-top: 10px;
}
</style>

