<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Membership Cancel Requests ({{totalMembership}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></h1>
                            </div>

                            <!-- <div style="float: right;">
                                <router-link :to="{name: 'membershipCreate'}" class="btn btn-applyplus btn-cons"><i class="fa fa-plus"></i> Add membership</router-link>
                            </div> -->
                            <p>The membership will cancel automatically on cancellation date as shown below.</p>
                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="memberships.length > 0">  
                                        <tr v-for="membership, index in memberships" >
                                            <td>{{ membership.id }}</td>
                                             <td><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="membership.patient.profile_pic_path" alt="" :data-src="membership.patient.profile_pic_path" :data-src-retina="membership.patient.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ membership.patient.title }}.{{ membership.patient.user.first_name }} {{ membership.patient.user.last_name }}</span></td>  
                                            <td>{{ membership.subscription.subscription_date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ membership.requested_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>{{ membership.cancel_at | moment("DD-MM-YYYY") }}</td>
                                            <td><label class="btn" :class="(membership.status == 'due') ? 'btn-complete' : 'btn-danger'">{{ membership.status | capitalize }}</label></td>
                                            <td>
                                                <template v-if="membership.status == 'due'">
                                                    <a href="#cancelSubscriptionModal"
                                                    data-toggle="modal"
                                                       class="btn btn-xs btn-danger" title="Cancel" 
                                                       @click="setRecordObj(membership.membership_subscription_id, index)">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                </template>
                                                 <template v-if="membership.charge != null">
                                                    <a href="#refundModal"
                                                    data-toggle="modal"
                                                       class="btn btn-xs btn-complete" title="Refund" 
                                                       @click="setRecordObj(membership.id, index, membership.charge)" v-if="!membership.charge.refunded">
                                                        <i class="fa fa-reply"></i>
                                                    </a>
                                                    <a href="javascript:;"
                                                    data-toggle="modal"
                                                       class="btn btn-xs btn-applyplus" title="Refunded" 
                                                       @click="setRecordObj(membership.id, index, membership.charge)" v-else>
                                                        <i class="fa fa-reply"></i> 
                                                    </a>

                                                </template>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getmemberships"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>
        <membershipCancelModel  :id="id" @recRemoved="refreshList"></membershipCancelModel>
        <membershipRefundModal  :id="id" :charge="charge"></membershipRefundModal>
       
        </div>
    </div>

</template>

<script>
    import membershipCancelModel from "./MembershipCancelModel.vue";
    import membershipRefundModal from "./MembershipRefundModal.vue";
    export default {
        components : {
            membershipCancelModel, membershipRefundModal
        },
        data: function () {
            return {
                tableHeader: ["ID", "Patient", "Subscription Date", "Requested Cancel Date", "Cancel At", "status", "Action"],
                memberships: [],
                charge : null,
                id: null,
                index:null,
                module:'membership',
                pageCount: 0,
                totalMembership:0,
                isLoading : false,
            }
        },
        mounted() {
            var app = this;
            app.getmemberships(1);
            EventBus.$on('refunded', function() {
                app.getmemberships(1);
            });
            EventBus.$on('recRemoved', function() {
                app.getmemberships(1);
            });
        },
        methods: {
            getmemberships:function(page) {
                var app = this;
                var limit = 10;
                app.isLoading = true;
                axios.get(app.$apiUrl+'subscription/membership-cancel-requests?page='+page+'&limit='+limit+'')
                    .then(function (resp) {
                        app.isLoading = false;
                        app.totalMembership = resp.data.data.pagination.total;
                        app.memberships = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                        app.isLoading = false;
                        app.memberships = [];  
                        app.pageCount = 0;
                        app.totalMembership = 0;
                    });
            },
            setRecordObj:function(id, index, charge)
            {
                var app = this;
                app.id = id;
                app.index = index;
                app.charge = charge;
            },
            refreshList(){
                this.getmemberships(1);
            }, 
        }
    }
</script>
