<template>
    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Payment Refund</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
              {{alertMsg}}
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><i class="fa fa-info"></i> Refunds take 5-10 days to appear on a customer's statement.</p>
              </div>
              
              <!-- <div class="col-md-12">
                <div class="form-group">
                    <label>Select Refund Percentage</label>
                    <select v-model="object.refund_percentage"
                    class="form-control" 
                    name="refund_percentage"
                    data-vv-as="refund percentage"
                    v-validate="'required'"
                    @change="calculateNetAmount">
                      <option value="">Select Refund Percentage</option>
                      <option value="10%">10%</option>
                      <option value="20%">20%</option>
                      <option value="30%">30%</option>
                      <option value="40%">40%</option>
                      <option value="50%">50%</option>
                      <option value="60%">60%</option>
                      <option value="70%">70%</option>
                      <option value="80%">80%</option>
                      <option value="90%">90%</option>
                      <option value="100%">100%</option>
                    </select>
                     <small class="text-danger"
                      v-show="errors.has('refund_percentage')">
                      {{ errors.first('refund_percentage') }}
                    </small>
                </div>

              </div> -->
              <div class="col-md-12">
                <div class="input-group">
                  <label class="col-md-12 no-padding">Refund</label>
                  <span class="input-group-addon primary">
                     £
                  </span>
                  <input v-model="amount"
                    class="form-control" 
                    name="refund"
                    placeholder="Refund" 
                    v-validate="fieldRules"
                    >
                    of remaining £{{ maxAmount }} GBP
                </div>
                <small class="text-danger"
                  v-show="errors.has('refund')">
                  {{ errors.first('refund') }}
                </small>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" @click="refundPayment" class="btn btn-applyplus btn-cons  pull-left inline">Refund £ {{ amount }} GBP<i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">

	export default {
    props : ['id', 'charge'],
    watch: { 
      id: function(newVal, oldVal) { // watch it
        if (newVal != null) {
          let app = this;
          axios.get(app.$apiUrl+'subscription/membership-cancel-request/'+app.id)
          .then(function (resp) {
              app.subscription = resp.data.data;
          })
          .catch(function () {
          });
        }
      },
      charge: function(newVal, oldVal) { // watch it
        if (newVal != null) {
          let app = this;
          if (app.charge != null) {
            app.isSuccess = false,
            app.isError = false,
            app.isAlertShow = false;
            app.alertMsg = '';
            app.amount = (app.charge.amount - app.charge.amount_refunded)/100;
            app.maxAmount = app.amount;
          }
        }
      },
    },     
    mounted () {
      var app = this;
      $(".modal").on("hidden.bs.modal", function(){
          app.isSuccess = false;
          app.isAlertShow = false;
          app.isError = false;
          app.alertMsg = '';
      });
    },
    data: function () {
        return {
          subscription : [],
          amount :'',
          object : {
           /* amount: this.$membershipFee,*/
            //refund_percentage : '',
          },
          maxAmount : this.$membershipFee,
          isAlertShow: false,
          isSuccess:false,
          isError:false,
          alertMsg:'',
          isLoading:false,
        }
    },
    computed: {
      fieldRules () {
        return {
          required: true,
          max_value: this.maxAmount,
        };
      }
     },
    methods : {
      refundPayment() {
        var app = this;
        let newObject = {};
        newObject.patient_id = app.subscription.patient.id;
        newObject.charge_id = app.charge.id;
        newObject.amount = app.amount*100;
        this.$validator.validateAll().then(result => {
          if (result) {
            app.isLoading = true;

            axios.post(app.$apiUrl+'refund-payment',newObject)
            .then(function (resp) {
                app.isLoading = false;
                app.isSuccess = true;
                app.isError = false;
                app.alertMsg = resp.data.message;
                app.isAlertShow = true;
                $('#refundModal').modal('hide');
                app.errors.clear();
                EventBus.$emit('refunded');
                
            })
            .catch(function (resp) {
                app.isLoading = false;
                app.isSuccess = false,
                app.isError = true,
                app.isAlertShow = true;
                app.alertMsg = 'Error occured';
            });
          }
        })  
        
        },
        calculateNetAmount() {
          var app = this;
          let percentage = parseInt(app.object.refund_percentage);
          
          app.object.amount = (percentage/100)*(this.$membershipFee);
        },
          
    }
	}

</script>

<style>
.vue-alert {
  margin-top: 10px;
}
</style>

