<template>
	<div class="patient-profile-page patient-assesment-page">
		<header-component></header-component>
		<!-- left section -->
		<div class="assesment-left pos-fixed" v-if="patientId != null">
	        <div class="scrollbar" id="style-4">
	            <div class="force-overflow">
	            <div class="assesment-profile-photo">
                    <div class="profile-iamge">
                        <img alt="Profile Image" :src="patient.profile_pic_path" v-if="patient.profile_pic_path != ''">
                        <img :src="$imageUrl+'dummy/profile-photo.jpg'" alt="Profile Image"  v-else>
                    </div>
	                <h2 class="patient-name patient-profile-name">{{ patient.title}}.{{ patient.user.full_name }}</h2>
	            </div>
	            <div class="assesment-profile-info">
	                <div class="row">
	                    <div class="col-xs-12 col-md-5"><p><span>DOB:</span> {{ patient.dob | moment('DD-MM-YYYY')}}</p></div>
	                    <div class="col-xs-12 col-md-3"><p><span>Age:</span> {{ patient.age}}</p></div>
	                    <div class="col-xs-12 col-md-4"><p><span>Gender:</span> {{ patient.user.gender}}</p></div>
	                </div>
	                <p><span>Address:</span> {{patient.address_first_line}} {{patient.city}} {{patient.country}} {{patient.postcode}}</p>
	                <p><span>Mobile:</span> {{ patient.user.mobile_number}}</p>
	                <p><span>Email:</span> {{ patient.user.email}}</p>
	                <div class="row">
	                    <div class="col-xs-12 col-md-4"><p><span>Member:</span> {{ (patient.is_member == 1) ? 'Yes' : 'No'}}</p></div>
	                    <div class="col-xs-12 col-md-8" v-if="patient.is_member == 1 && patient.subscription != null"><p><span>Start Date:</span> {{ patient.subscription.subscription_date | moment('DD-MM-YYYY') }}</p></div>
	                </div>
	                <p v-if="patient.mental_hospital_address_id != 0"><span>Hospital Address:</span> 
	                {{patient.mental_hospital_address.name}} <br/>
	            	{{patient.mental_hospital_address.address_first_line}} <br/>
	            	{{patient.mental_hospital_address.city}} <br/>
	            	{{patient.mental_hospital_address.country}} <br/>
	            	{{patient.mental_hospital_address.postcode}}</p>
	                <p v-if="patient.laboratory_address_id != 0"><span>Lab Address:</span> {{patient.laboratory_address.name}} <br/>
	                {{patient.laboratory_address.address_first_line}} <br/>
	            	{{patient.laboratory_address.city}} <br/>
	            	{{patient.laboratory_address.country}} <br/>
	            	{{patient.laboratory_address.postcode}}</p>
	            </div>
	            <div class="clearfix"></div>
			<!-- 				<div class="row">
					<div class="col-xs-12 col-md-12">
					<div class="form-group">
						<label></label>
						<div class="clearfix"></div>
						<div class="radio custom-radio btn-inline-block">
					        <label>
					            <input type="radio" value="" name="radio1" checked="">
					            <span class="radio-circle"></span>
					            Yes</label>
					    </div>
					    <div class="radio custom-radio btn-inline-block">
					        <label>
					            <input type="radio" value="" name="radio1" checked="">
					            <span class="radio-circle"></span>
					            No</label>
					    </div>
					</div>    					
						<div class="clearfix"></div>
					</div>
				</div>	 -->            	           
	            </div>
	        </div>
	    </div>
	    <!-- right section -->
	    <div class="assesment-center" v-if="patientId != null">
	    	<div class="">
            <div class="scrollbar" id="style-4">
                <div class="force-overflow">
                    <div class="tab-content-main">
                    	<div class="left-sidebar">
                        	<ul class="patient-tabs-rt dark-tab">
                                <li class="item" data-toggle="modal" data-target="#addNoteModal">
                                    <a href="javascript:;" data-content="add-notes-tab-content">Add Notes</a>
                                </li>
                                <li class="item" data-toggle="modal" data-target="#addAttachementModal">
                                    <a href="javascript:;" data-content=".attachment-tab-content">Add Attachments</a>
                                </li>
                            </ul>
                        </div> 
                        <div class="left-sidebar custom-tabs-style2">
                            <ul class="patient-tabs-rt-2">
                                <li class="item" :class="{'active' : leftTabVal == 'notes-tab-content'}" @click="showLeftTabs('notes-tab-content')">
                                	<a href="javascript:;" data-content=".notes-tab-content">Notes</a>
                                </li>
	                            <li class="item" :class="{'active' : leftTabVal == 'psychatric-tab-content'}" @click="showLeftTabs('psychatric-tab-content')">
	                                <a href="javascript:;" data-content=".psychatric-tab-content">Psychatric Records</a>
	                            </li>
		                       	<li class="item" :class="{'active' : leftTabVal == 'attachment-tab-content'}" @click="showLeftTabs('attachment-tab-content')">
	                                <a href="javascript:;" data-content=".attachment-tab-content">Attachments</a>
	                            </li>
	                                <li class="item" :class="{'active' : leftTabVal == 'assessment-tab-content'}" @click="showLeftTabs('assessment-tab-content')">
	                                <a href="javascript:;" data-content=".assessment-tab-content">Assessments</a>
	                            </li>
	                            <li class="item" :class="{'active' : leftTabVal == 'message-tab-content'}" @click="showLeftTabs('message-tab-content')">
	                                <a href="javascript:;" data-content=".message-tab-content">Messages</a>
	                            </li>
	                            <li class="item" :class="{'active' : leftTabVal == 'hospital-records-tab-content'}" @click="showLeftTabs('hospital-records-tab-content')">
	                                <a href="javascript:;" data-content=".hospital-records-tab-content" >Hospital Records </a>
	                            </li>
	                            <li class="item" :class="{'active' : leftTabVal == 'lab-records-tab-content'}" @click="showLeftTabs('lab-records-tab-content')">
	                                <a href="javascript:;" data-content=".lab-records-tab-content">Lab Records</a>
	                            </li>
                            </ul>
                        </div>          
                        <div class="account-tab-content notes-tab-content" :class="{'active' : leftTabVal == 'notes-tab-content'}">
							<div class="card-block dataTables_wrapper">
                                <div class="table-responsive ">
                                  <table class="table patient-profile-table" id="basicTable">
                                    <thead>
                                      <th>Date</th>
                                      <th>Time</th>
                                      <th>Subject</th>
                                      <th>Action</th>
                                    </thead>
                                    <tbody id="user_listing">
                                        <template v-if="notes.length > 0">  
                                            <tr v-for="note, index in notes" >
                                                <td width="20%">{{ note.created_at | moment("DD-MM-YYYY") }}</td>
                                                <td width="20%">{{ note.created_at | moment("h:mm a") }}</td>
                                                <td>{{ note.subject }}</td>
                                                <td width="15%">
                                                    <a href="#viewNoteModal" data-toggle="modal" @click="showNotes(note.subject, note.note)" title="View" style="margin-right: 5px;"><i class="fa fa-eye"></i>View</a>
                                                    <a href="#deleteRecModal" data-toggle="modal" @click="setObjectNotes(note.id, index)" title="Delete"><i class="fa fa-trash"></i>Delete</a>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="row">
                                  <div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                      <paginate
                                        :page-count="note.pageCount"
                                        :page-range="3"
                                        :margin-pages="1"
                                        :click-handler="getNotes"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                      </paginate>
                                    </div>
                                      </div>
                                      </div>
                              </div>
							<!--<p><strong>Date:</strong> 2/5/2019 10:00 PM</p>
                        	<p><strong>Subject:</strong> Lorem Ipsum lorem ipsum </p>
							<div class="uploaded-reports">
								<ul>
									<li>
										<i class="icon-file-text-o attached-file-icon"></i> 
										<p class="attached-file-name">
											<a href="javascript:;">notes.pdf</a>
										</p> 
										<span class="icon-remove remove-attached-file"></span> 
									</li>
								</ul>
							</div>  -->                       	
                    	</div>
                    	<div class="account-tab-content psychatric-tab-content" :class="{'active' : leftTabVal == 'psychatric-tab-content'}">
                                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date Time</th>
                                            <th>Document Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="psychiatricReportsArr.length > 0">  
                                            <tr v-for="doc, index in psychiatricReportsArr" >
                                                <td>{{ index+1 }}</td>
                                                <td>{{ doc.created_at  | moment("DD-MM-YYYY, h:mm a")}}</td>
                                                <td>{{ doc.name }}</td>
                                                <td><a href="#attachmentViewModal" data-toggle="modal" @click="viewAttachment(doc.path, doc.extension)">View</a></td>
                                             </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="account-tab-content attachment-tab-content" :class="{'active' : leftTabVal == 'attachment-tab-content'}">
                                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date Time</th>
                                            <th>Document Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="attachmentsArr.length > 0">  
                                            <tr v-for="doc, index in attachmentsArr" >
                                                <td>{{ index+1 }}</td>
                                                <td>{{ doc.created_at  | moment("DD-MM-YYYY, h:mm a")}}</td>
                                                <td>{{ doc.name }}</td>
                                                <td><a href="#attachmentViewModal" data-toggle="modal"  @click="viewAttachment(doc.path, doc.extension)"> View</a></td>
                                             </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>   
                        <div class="account-tab-content assessment-tab-content" :class="{'active' : leftTabVal == 'assessment-tab-content'}">
                            <div class="row">
                              <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Type</label> 
                                <select v-model="appointment.filter_by_type" class="form-control" placeholder="Filter By Type">
                                     <option value="">All</option>
                                     <option value="1">Initial assessment</option>
                                     <option value="2">Follow up assessment - type 1</option>
                                     <option value="3">Follow up assessment - type 2</option>
                                     <option value="4">Telephone advice</option>
                                 </select>
                              </div>
                              <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Date Range</label>
                               <date-picker v-model="appointment.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm class="datapicker-class" format="DD-MM-YYYY"></date-picker>
                              </div> 
                              
                              <div class="pull-right col-md-3">
                                <a href="javascript:;" class="btn btn-primary search-btn-mb-30" :class="{'show-spinner' : appointment.search_spinner}" @click="searchRec">
                                  <span> Search </span>
                                  <div class="loader"></div>
                                </a>
                              </div>  
                            </div>
                            <div class="card-block dataTables_wrapper no-padding">
                                <div class="table-responsive ">
                                  <table class="table table-hover " id="basicTable">
                                    <thead>
                                      <th>Date Time</th>
                                      <th>Type</th>
                                      <th>Specialty</th>
                                      <th>Status</th>
                                      <!-- <th>Action</th> -->
                                    </thead>
                                    <tbody id="user_listing">
                                        <template v-if="appointments.length > 0">  
                                            <tr v-for="appointment, index in appointments" >
                                                <td width="20%">{{ appointment.date_time | moment("DD-MM-YYYY, h:mm a") }}</td>
                                                <td>{{ appointment.appointment_type.name }}</td>                                    
                                              <td>{{ appointment.doctor.specialty.name }}</td>
                                              <td>{{ appointment.status }}</td>
                                                <!-- <td width="15%">
                                                    <router-link :to="{name: 'AssessmentView', params: {id: appointment.id}}" class="btn btn-xs btn-success">
                                                         <i class="fa fa-eye" title="View"></i>
                                                    </router-link>
                                                </td> -->
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="row">
                                  <div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                      <paginate
                                        :page-count="appointment.pageCount"
                                        :page-range="3"
                                        :margin-pages="1"
                                        :click-handler="getAppointments"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                      </paginate>
                                    </div>
                                      </div>
                                  </div>
                              </div>
                        </div> 
                         <div class="account-tab-content message-tab-content" :class="{'active' : leftTabVal == 'message-tab-content'}">
                            <messages :user_id="patient.user_id"></messages>
                        </div>
                        <div class="account-tab-content hospital-records-tab-content" :class="{'active' : leftTabVal == 'hospital-records-tab-content'}">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date Time</th>
                                            <th>Record Emailed</th>
                                            <th>Hospital Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="hospital_records.length > 0">  
                                            <tr v-for="record, index in hospital_records" >
                                                <td width="20%">{{ record.created_at | moment("DD-MM-YYYY, hh:mm a") }}</td>
                                                <td>{{ (record.is_emailed == '1') ? 'Yes' : 'No' }}</td>
                                                <td>{{ record.mental_hospital_address.name }}</td>
                                                <td width="15%">
                                                    <a href="javascript:;" @click="showHospitalRecPopup(record.id)">View</a>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="hospital_record.pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getHospitalRecords"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                              </div>
                        </div>
                         <div class="account-tab-content lab-records-tab-content" :class="{'active' : leftTabVal == 'lab-records-tab-content'}">
                            <div class="table-responsive">
                                <table class="table lab-records-tab-content-table">
                                    <thead>
                                        <tr>
                                            <th>Date Time</th>
                                            <th>Lab Form Emailed</th>
                                            <th>Lab Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="lab_records.length > 0">  
                                            <tr v-for="record, index in lab_records" >
                                                <td width="20%">{{ record.sent_date | moment("DD-MM-YYYY, hh:mm a") }}</td>
                                                <td>{{ (record.is_emailed == '1') ? 'Yes' : 'No' }}</td>
                                                <td>{{ record.laboratory_address.name }}</td>
                                                <td width="15%">
                                                    <a href="javascript:;" @click="showLabRecPopup(record.id)">View</a>
                                                </td>
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                  <div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                      <paginate
                                        :page-count="lab_record.pageCount"
                                        :page-range="3"
                                        :margin-pages="1"
                                        :click-handler="getLabRecordList"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'">
                                      </paginate>
                                    </div>
                                      </div>
                                  </div>
                        </div> 
                    <div class="clearfix"></div>
                          
                </div>
            </div>
        </div>
		</div>
	</div>
	<attachment-view-modal :file_path="file_path" :extension="extension" ></attachment-view-modal>
    <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="getNotes"></delete-record-modal>
	<hospitalRecordViewModal></hospitalRecordViewModal>
    <labformViewModal></labformViewModal>
    <messageView :popupMessage="popupMessage" :id="MessageId" :encryptedId="MessageEncryptedId" ></messageView>
   	<messageAttachmentPopup :docs="messageDocs"></messageAttachmentPopup>
   	<view-notes-popup :note="noteText" :subject="noteSubject"></view-notes-popup>
   	<add-notes-popup :created_on="patient.user.id" module="patient" @noteRecAdded="refreshNoteList"></add-notes-popup>
   	<attachmentModal :patient="patient"></attachmentModal>
	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';
	import carousel from 'v-owl-carousel'
	import DatePicker from 'vue2-datepicker'
    import hospitalRecordViewModal from './../patient-assessement/HospitalRecordViewModal.vue';
    import labformViewModal from "./../patient-assessement/LabFormViewModal2.vue";
    import messages from './../patient-assessement/Messages.vue';
    import messageView from './../patient-assessement/MessageViewModal.vue';
    import messageAttachmentPopup from './../patient-assessement/MessageAttachmentPopup.vue';
    import attachmentModal from './../doctor-panel/AttachmentModal.vue';

	export default {
		components : {
			carousel,DatePicker, hospitalRecordViewModal, labformViewModal, messages, messageView, messageAttachmentPopup,attachmentModal
        },
        beforeCreate: function() {
            document.body.className = 'landing-page patient-assesment-page';
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        data: function () {
            return{
                id: '',
                index : '',
            	patientId: null,
                module: 'patient',
                doctors : [],
                specialties : [],
                patient: {
                    user : {
                        first_name: '',
                        last_name: '',
                        email: '',
                        gender: "male",
                        mobile_number: '',
                        profile_pic: '',
                        role: 'patient',
                    },
                    title: '',
                    photo_id: '',
                    utility_bill: '',
                    dob : '',
                    address_first_line : '',
                    city : '',
                    country : '',
                    postcode : '',
                    sharing_consent: '',
                    psychiatric_reports : [],
                    attachments : [],
                    
                },
                attachmentsArr : [],
                psychiatricReportsArr : [],
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                tabName:'',
                showRating : false,
                appointments: [],
                appointment: {
                    filter_by_is_archived :'0',
                    filter_by_type: '',
                    filter_by_status: 'completed',
                    filter_by_is_member: '',
                    filter_by_date_range: '',
                    filter_by_doctor_id : '',
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalAppointments:0,
                    search_spinner:false,
                },
                questions :[],
                question: {
                    filter_by_specialty_id : '',
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalQuestions:0,
                    search_spinner:false,
                    patient_text : null,
                },
                notes : [],
                note: {
                    pageCount: 0,
                    totalNotes:0,
                },
                noteText : null,
                noteSubject : null,
                shortcuts: [
                    {
                      text: 'Previous 7 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Previous 30 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Next 7 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
                      }
                    },
                    {
                      text: 'Next 30 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
                      }
                    },
                ],
                booked_appointments: [],
                appointment_frequency : 30,

                email: {
                    receiver_type : '',
                    receiver_lists : [],
                    receiver_arr : [],
                    unregistered_user_email: [],
                    subject : '',
                    content : '',
                    attachments : [],
                    email_type : 'individual',
                },
                selectedRecievers : [],
                customToolbar: [
                      // [groupName, [list of button]]
                      ['style', ['bold', 'italic', 'underline', 'clear']],
                      ['font', ['strikethrough', 'superscript', 'subscript']],
                      ['fontsize', ['fontsize']],
                      ['list', [ 'ordered', 'bullet' ]],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['height', ['height']],
                      ['table', ['table']]
                ],
                files1 : [],
                file_path : '',
                extension : '',
                hospital_records: [], 
                hospital_record: {
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalRecords:0,
                }, 
                lab_records: [], 
                lab_record: {
                    filter_by_patient_id : '',
                    pageCount: 0,
                    totalRecords:0,
                    isAlertShow: false,
                    isSuccess:false,
                    isError:false,
                    alertMsg:'',
                },
                leftTabVal : 'notes-tab-content',
                MessageId : '',
                popupMessage : '',
                MessageEncryptedId : '',
                messageDocs : [],
            }
        },
        mounted() {
            let app = this;
            let id = app.$route.params.id;
           
           	app.getPatient(id);
            $('.left-sidebar li a').click(function(){
                var currentTab = $(this).attr('data-content');
                $(this).parents('.tab-content-main').find('.left-sidebar ul li').removeClass('active');
                $(this).parent().addClass('active');
                $(this).parents('.tab-content-main').find('.account-tab-content').removeClass('active');
                $(currentTab).addClass('active');
            });

            EventBus.$on('showMessage', function(msg, id, encryptedId) {
                app.popupMessage = msg;
                app.MessageId = id;
                app.MessageEncryptedId = encryptedId;
                $('#messageModal').modal('show');
            });

            EventBus.$on('showMessageAttachment', function(docs) {
                app.messageDocs = docs;
                $('#attachmentModal').modal('show');
            });

            EventBus.$on('viewAttachment', function(file_path, extension) {
                app.viewAttachment(file_path, extension);
                $('#attachmentViewModal').modal('show');
            });

            EventBus.$on('attachmentAdded', function(file_path, extension) {
            	app.attachmentsArr = [];
                app.getPatient(	app.patientId);
                app.leftTabVal = 'attachment-tab-content';
            });
        }, 
        methods : {
        	showLeftTabs(name) {
                var app = this;
                app.leftTabVal = name;
                if (name == 'notes-tab-content') {
                    if (app.appointments.length == 0) {
                        app.getNotes(1);
                    }
                } else if (name == 'hospital-records-tab-content') {
                    if (app.hospital_records.length == 0) {
                        app.getHospitalRecords(1);
                    }
                }  else if (name == 'lab-records-tab-content') {
                    if (app.lab_records.length == 0) {
                        app.getLabRecordList(1);
                    }
                } else if (name == 'assessment-tab-content') {
                    if (app.appointments.length == 0) {
                        app.getAppointments(1);
                    }
                }
            },
            getPatient(id) {
            	var app = this;
            	axios.get(app.$apiUrl+'patient/' +id)
	            .then(function (resp) {
	                app.patient = resp.data.data;
	                app.patientId = id;
	                app.getNotes();
	                if (app.patient.psychiatric_reports.length > 0) {
	                    var psychiatricReportsArr = [];
	                    $.each(app.patient.psychiatric_reports, function(ind, ele) {
	                        var psychiatricReport = {};
	                        psychiatricReport.path = app.$baseUrl+'/storage/psychiatric_reports/'+id+'/'+ele.name; 
	                        psychiatricReport.name = ele.name;
                            psychiatricReport.created_at = ele.created_at;
	                        psychiatricReport.extension = ele.name.split('.').pop();
	                        psychiatricReportsArr.push(psychiatricReport); 
	                    });
	                    app.psychiatricReportsArr = psychiatricReportsArr;
	                } else {
	                  app.psychiatricReportsArr = [];
	                } 
	                if (app.patient.attachments.length > 0) {
	                    //var attachmentsArr = [];
	                    $.each(app.patient.attachments, function(ind, ele) {
	                        var attachments = {};
	                        attachments.path = app.$baseUrl+'/storage/patient_attachments/'+id+'/'+ele.name; 
	                        attachments.name = ele.name;
                            attachments.created_at = ele.created_at;
	                        attachments.extension = ele.name.split('.').pop();
	                        app.attachmentsArr.push(attachments); 
	                    });
	                } else {
	                  app.attachmentsArr = [];
	                } 

	                // email data
	                app.email.subject = app.patient.user.full_name+' '+app.patient.dob+' '+app.patient.full_address;
	            })
	            .catch(function () {
	            });
            },
            getAppointments:function(page) {
                var app = this;
                app.appointment.page = page || 1;
                app.appointment.limit = 10;
                app.appointment.filter_by_patient_id = app.patientId,
                app.appointment.filter_by_status = 'completed';
                if (app.appointment.filter_by_date_range != '') {
                  if (app.appointment.filter_by_date_range[0] != null) {
                    app.appointment.filter_by_date_range[0] = this.$moment(app.appointment.filter_by_date_range[0]).format('YYYY-MM-DD');
                  } 

                  if (app.appointment.filter_by_date_range[1] != null) {
                    app.appointment.filter_by_date_range[1] = this.$moment(app.appointment.filter_by_date_range[1]).format('YYYY-MM-DD');
                  } 
                  
                }
                
                axios({
                    method: 'get',
                    url: app.$apiUrl+'appointments',
                    params: app.appointment
                })
                .then(function (resp) {
                    app.appointment.totalAppointments = resp.data.data.pagination.total;
                    app.appointments = resp.data.data.data;
                    app.appointment.pageCount = resp.data.data.pagination.last_page;
                    app.appointment.search_spinner = false;
                })
                .catch(function (resp) {
                    app.appointments = [];  
                    app.appointment.pageCount = 0;
                    app.appointment.totalAppointments = 0;
                });
            },
            searchRec() {
                var app = this;
                app.appointment.search_spinner = true;
                app.getAppointments(1);
            },
            getNotes(page) {
                var app = this;
                app.note.page = page || 1;
                app.note.limit = 10;
                app.note.filter_by_created_on = app.patient.user.id;
                app.note.filter_by_created_by = app.$loggedInUser.id;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'notes',
                    params: app.note
                })
                .then(function (resp) {
                    app.note.totalNotes = resp.data.data.pagination.total;
                    app.notes = resp.data.data.data;
                    app.note.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.notes = [];  
                    app.note.pageCount = 0;
                    app.note.totalNotes = 0;
                });
            },
            refreshNoteList() {
                this.tabName = 'Notes';
                this.getNotes();
            },
            viewAttachment(file_path, extension) {
                this.file_path = file_path;
                this.extension = extension;
            },
            showNotes(subject, note) {
                this.noteText = note;
                this.noteSubject = subject;
            },
            setObjectNotes(id ,index) {
                this.id = id;
                this.index = index;
                this.module = 'note';
            },
            getHospitalRecords (page){
              var app = this;
              var params = {};
              params.page = page || 1;
              params.limit = 10;
              params.filter_by_patient_id = app.patientId;
              axios({
                    method: 'get',
                    url: app.$apiUrl+'clinical/hospital-records',
                    params: params
                })
                  .then(function (resp) {
                      app.hospital_record.totalRecords = resp.data.data.pagination.total;
                      app.hospital_records = resp.data.data.data;
                      app.hospital_record.pageCount = resp.data.data.pagination.last_page;
                  })
                  .catch(function (resp) {
                      app.hospital_records = [];  
                      app.hospital_record.pageCount = 0;
                      app.hospital_record.totalRecords = 0;
                  });
            },

            showHospitalRecPopup:function(id)
            {
                EventBus.$emit('showHospitalRecPopup', id);
            },
            getLabRecordList (page){
              var app = this;
              var params = {};
              params.page = page || 1;
              params.limit = 10;
              params.filter_by_patient_id = app.patientId;
              axios({
                    method: 'get',
                    url: app.$apiUrl+'labforms',
                    params: params
                })
                  .then(function (resp) {
                      app.lab_record.totalRecords = resp.data.data.pagination.total;
                      app.lab_records = resp.data.data.data;
                      app.lab_record.pageCount = resp.data.data.pagination.last_page;
                  })
                  .catch(function (resp) {
                      app.lab_records = [];  
                      app.lab_record.pageCount = 0;
                      app.lab_record.totalRecords = 0;
                  });
            },
            showLabRecPopup:function(id)
            {
                EventBus.$emit('showLabRecPopup', id);
            },
            showAttachments(docs) {
                this.docs = docs;
                EventBus.$emit('showMessageAttachment', this.docs);
            },
        }         
       
    }
</script>
<style type="text/css">
	.m-t-30 {
		margin-top: 30px;
	}
</style>
