<template>
	<div class="modal fade" id="viewLabFormModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
          </div>
          <div class="modal-body">
          	<div class="row">
                <div class="col-md-12" v-if="labform != null">
                    <vue-tabs active-tab-color="#28a745" active-text-color="white">
                    	<v-tab title="Email Content" icon="fa fa-envelope">
                        	<div class="wrap">
                        		<div>
                        			<img alt="Logo" height="100" :data-src-retina="$baseUrl+'/htmlv1/images/logo-wide.png'" class="form_logo inline" :data-src="$baseUrl+'/htmlv1/images/logo-wide.png'"  :src="$baseUrl+'/htmlv1/images/logo-wide.png'">
                        		</div>
                        		
							  <div class="address-box">{{ labform.laboratory_address.name }}<br />
							    {{ labform.laboratory_address.address_first_line }}<br />
							    {{ labform.laboratory_address.city }}<br />
							    {{ labform.laboratory_address.country }}<br />
							    {{ labform.laboratory_address.postcode }}<br />
							  </div>
							  <div class="add2">
							  	<strong>{{ $clinicName }}</strong>
							  	<span v-html="$clinicAddress"></span>
							    Tel: {{ $clinicPhone }} <br />
							    <br />
							    Trading Name : {{ $clinicName }}<br />
							  URL : {{ $clinicWebsite }}</div>
							  <div class="date">Date : {{ labform.sent_date | moment("DD-MM-YYYY") }}</div>
							 	
							<div class="from2">Dear {{ labform.laboratory_address.name }},</div><br/>
								<div>
									<br/>
									<strong><u>Patient Details:</u> 
									{{ labform.patient.title}} {{ labform.patient.user.full_name}}, 
								(DOB: {{ labform.patient.dob | moment("DD-MM-YYYY") }}),
								Mobile Number: {{ labform.patient.user.mobile_number}} </strong></div>
							  <div class="matter">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  book. dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
							  <div class="from">Yours Faithfully<br />
							    Happy Clinic Customer Team
							  </div>
							</div>
                        </v-tab>
                    	<v-tab title="Lab Form" icon="fa fa-file-text-o">
                        	<div class="wrap2">
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
							    
							  </table><div align="right"></div><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
							      <td width="580" align="center"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LAB FORM</h2></td>
							      <td width="138" align="right">{{ labform.form_number}}</td>

							      </tr>
							  </table>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
							    <tr>
							      <td width="39%" align="center"><strong>Patient Details</strong></td>
							      <td width="3%">&nbsp;</td>
							      <td align="center"><strong>Test</strong></td>
							    </tr>
							  </table>
							  <div class="patient_details">
							    <table width="100%" cellpadding="5" cellspacing="0" class="bordrbox">
							      <!-- <tr>
							        <td colspan="2">Title, First Name, Last Name and Address</td>
							      </tr> -->
							      <tr>
							        <td colspan="2">{{ labform.patient.title}} {{ labform.patient.user.full_name}}<br />
							          {{ labform.patient.address_first_line}}<br />
							          {{ labform.patient.city}}<br />
							          {{ labform.patient.country}}<br />
							        {{ labform.patient.postcode}} </td>
							      </tr>
							      <tr>
							        <td>Age : {{ labform.patient.age}}</td>
							        <td>DOB: {{ labform.patient.dob | moment("DD-MM-YYYY") }} </td>
							      </tr>
							    </table>
							  </div>
							  <div class="medication">
							    <table width="100%" cellpadding="5" cellspacing="0" class="bordrbox">
							      <tr>
							        <td width="35%">Number of items : {{ labform.total_items }}</td>
							        <td>Type of Samples : in brackets</td>
							      </tr>
							      <tr>
							        <td colspan="2" valign="top" v-if="labform.details.length > 0">
							        	<template v-for="item, index in labform.details">
							        		{{item.test}} ({{ item.sample }}): {{ item.additional_info }}<br />
							        	</template>
							         </td>
							      </tr>
							    </table>
							  </div>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
							    <tr>
							      <td align="center"><strong>Prescriber Details</strong></td>
							    </tr>
							  </table>
							  <div class="div110">
							    <table width="100%" cellpadding="5" cellspacing="0" class="bordrbox">
							      <tr>
							        <td width="17%">Name of Doctor</td>
							        <td width="39%">{{ labform.doctor.title}} {{ labform.doctor.user.full_name}}</td>
							        <td width="16%"> Intitials : {{ labform.intitials}}</td>
							        <td width="28%">Signature of the Doctor<br /></td>
							      </tr>
							      <tr>
							        <td width="17%">Qualifications</td>
							        <td colspan="2">{{ labform.doctor.qualification}}</td>
							        <td rowspan="5" align="center"><img alt="Signature Image" height="100" :data-src-retina="labform.doctor.signature_image_path" class="signature_image inline" :data-src="labform.doctor.signature_image_path"  :src="labform.doctor.signature_image_path" v-if="labform.doctor.signature_image != ''"></td>
							      </tr>
							      <tr>
							        <td width="17%">Designation</td>
							        <td colspan="2">{{ labform.doctor.designation}}</td>
							      </tr>
							      <tr>
							        <td width="17%">GMC Number</td>
							        <td colspan="2">{{ labform.doctor.gmc_number}}</td>
							      </tr>
							      <tr>
							        <td width="17%">Address</td>
							        <td colspan="2">{{ $clinicAddress | striphtml  }}</td>
							      </tr>
							      <tr>
							        <td width="17%">Mobile Number</td>
							        <td colspan="2">{{ labform.doctor.user.mobile_number}}</td>
							      </tr>
							      <tr>
							        <td width="17%">Website</td>
							        <td colspan="2">{{ $clinicWebsite }}</td>
							        <td>Date : {{ labform.sent_date | moment("DD-MM-YYYY") }}</td>
							      </tr>
							    </table>
							  </div>
							  <div class="div100">
							    <table width="100%" cellpadding="5" cellspacing="0" class="bordrbox">
							      <tr>
							        <td>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
							      </tr>
							    </table>
							  </div>
							</div>
                        </v-tab>
                    </vue-tabs>
                </div>
            </div>            
          </div>
          <div class="modal-footer" v-if="labform != null">
             <!-- <button class="btn btn-applyplus btn-cons  pull-left inline" @click="getmPdf"><i class="fa fa-print"></i> Print </button> -->

             <a :href="$apiUrl+'print-labform?id='+labform.encodedId+'&repeat='+repeat+'&single='+single" class="btn btn-applyplus btn-cons  pull-left inline" target="_blank"><i class="fa fa-print"></i> Print </a>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>
<script type="text/javascript">
	export default {
		props : ['repeat'],
		mounted () {
			var app = this;
			EventBus.$on('showLabRecPopup', function (id) {
				app.id = id;
				var params= {};
				params.repeat = app.repeat;
				params.single = app.single;
        		axios({
                    method: 'get',
                    url: app.$apiUrl+'labform/' + id,
                    params: params
                })
	            .then(function (resp) {
	                app.labform = resp.data.data;
	                console.log(app.labform);
	                $('#viewLabFormModal').modal('show');
	            })
	            .catch(function () {
	            });		    
	        });
			
		},
		
		data: function () {
            return {
            	labform : null,
            	id : null,
            	//repeat : false,
            	single : false,
            }
        },
        methods : {
        },

	}
</script>

<style scoped="">

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*background-color: #666;*/
	background-color:  #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-size: 11.5px;
}
.wrap {
	width: 23cm;
	/*height: 13.86px;*/
	height: 9.73cm;
	background-color: #FFF;
	padding-top: 1cm;
	padding-left: 2.5cm;
	/*border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #666;*/
	padding-right: 2.5cm;
	display: table;
	padding-bottom: 0.9cm;
	position: relative;
	/*background-image: url(watermark.gif);
	background-size: 400px  75px;
	background-position: center bottom;
	background-repeat: no-repeat;*/
	
}

.form_logo{
	/*max-width: 250px;*/
    height: 70px;
    margin-top: 20px;
}
.mainwrap {
	height: 29.7cm;
	width: 22cm;
	background-color: #DAF5C0;
	margin-right: auto;
	margin-left: auto;
}
.scale {
	float: left;
	width: 5cm;
	background-color: #F00;
	height: 14.85cm;
}
.wrap2 {
	width: 23.3cm;
	height: auto;
	background-color:#bcf2aa;
	display: table;
	padding-top: 9px;
	padding-right: 1cm;
	padding-bottom: 1cm;
	padding-left: 1cm;
	/*background-image: url(2.png);*/
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 13px;
	line-height: 15px;
}
.date {
	float: left;
	width: 100%;
	padding-top: 11px;
	text-align: right;
}
.matter {
	width: 100%;
	margin-top: 21px;
	float: left;
}
.from2 {
	float: left;
	width: 222px;
	margin-top: 65px;
}
.address-box {
	width: 222px;
	float: left;
	position: absolute;
	top: 5cm;
	left: 2.5cm;
}
.from {
	float: left;
	width: 222px;
	margin-top: 21px;
}
.add2 {
	float: right;
	width: 222px;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	border: 1px solid #666;
	color: #00008b;
}
.patient_details {
	float: left;
	width: 250px;
}
.medication {
	float: right;
	width: 465px;
}
.bordrbox {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
	background-color: #FFF;
}
.bordrbox tr td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
}
.div100 {
	float: left;
	width: 100%;
	margin-top: 11px;
}
.div110 {
	float: left;
	width: 100%;
	margin-top: 2px;
}
strong {
	display: block;
	margin-top: 7px;
	margin-bottom: 7px;
}

.signature_image {
	max-width: 150px;
	max-height: 150px;
}
</style>