
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2> Edit LabForm
                                    <router-link to="/labforms" class="btn btn-complete pull-right">Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Title</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              name="title" 
                                              v-model="labform.title"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('title')">
                                              {{ errors.first('title') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>    
                                <hr>
                                <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons"  @click="updateForm()">Update <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.labformId = id;
            axios.get(app.$apiUrl+'labform/' + id)
                .then(function (resp) {
                    app.labform = resp.data.data;
                })
                .catch(function () {
                });
        },
        data: function () {
            return {
                labformId: null,
                labform: {
                    title: '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
            }
        },
        methods: {
            updateForm() {
                var app = this;
                var newLabForm = app.labform;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.patch(app.$apiUrl+'labform/' + app.labformId, newLabForm)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                                app.$router.replace('/labforms');
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.errors;
                                if(jQuery.type(jsonResponse) == 'object')
                                {
                                  var messages = '';
                                  $.each( jsonResponse, function( key, value ) {
                                    messages += '<p>'+value+'</p>';
                                  }); 
                                  app.alertMsg = messages;           
                                }
                            });
                    }        
                })
            }
        }
    }
</script>
    
