<template>
    <div class="modal fade" id="approveTestimonialModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Confirmation</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
              {{alertMsg}}
            </div>
            <p class="no-margin">Are you sure you want to {{ action }} to this patient?</p>
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-applyplus btn-cons  pull-left inline">{{ action | capitalize}} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<script type="text/javascript">

	export default {
    props : ['id', 'action'],
    mounted () {
    },
    data: function () {
        return {
          isAlertShow: false,
          isSuccess:false,
          isError:false,
          alertMsg:'',
          isLoading:false,
        }
    },
    methods : {
      submit() {
          var app = this;
          var params = {'id' : app.id, 'status' : app.action};
            app.isLoading = true;
            axios.patch(app.$apiUrl+'testimonial-update-status', params)
                .then(function (resp) {
                    app.isLoading = false;
                    app.isSuccess = true,
                    app.isError = false,
                    app.alertMsg = resp.data.message;
                    if (app.action == 'approve') {
                      app.alertMsg = 'Testimonial has been approved successfully.';
                    } else {
                      app.alertMsg = 'Testimonial has been disapproved successfully.';
                    }
                    app.isAlertShow = true;
                    setTimeout(function(){
                      app.isAlertShow = false;
                      $('#approveTestimonialModal').modal('hide');
                      resp = app.$emit('actionPerformed');
                    },4000);    
                    
                    
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.isSuccess = false,
                    app.isError = true,
                    app.isAlertShow = true;
                    app.alertMsg = 'Error occured';
                });
          }
          
    }
	}

</script>

