<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Testimonials ({{totalTestimonials}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>
                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="testimonials.length > 0">  
                                        <tr v-for="testimonial, index in testimonials" >
                                            <td>{{ testimonial.id }}</td>
                                            <td>{{ testimonial.patient.title }}.{{ testimonial.patient.user.full_name }}</td>
                                            <td width="50%">{{ testimonial.text }}</td>
                                            <td>{{ testimonial.rating }}</td>
                                            <td>{{ testimonial.created_at | moment("DD-MM-YYYY hh:mm a") }}</td>
                                            <td>
                                                <a href="#approveTestimonialModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs" :class="(testimonial.status == 'approve') ? 'btn-danger' : 'btn-complete'"
                                                   @click="setRecordObj(testimonial.id, index, testimonial.status)" :title="(testimonial.status == 'disapprove') ? 'Approve' : 'Disapprove'">
                                                    <i class="fa" :class="(testimonial.status == 'disapprove') ? 'fa-thumbs-up' : 'fa-thumbs-down'" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getTestimonials"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>
        <approveStatusModal :id="id" :action="status" :module="module" @actionPerformed="refreshList"></approveStatusModal>
        </div>
    </div>

</template>

<script>
import approveStatusModal from './ApproveStatusModal.vue';
    export default {
        components : {
            approveStatusModal
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Name", "Text","Rating", "Date", 'Action'],
                testimonials: [],
                id: null,
                index:null,
                module:'testimonial',
                archiveStatus:null,
                pageCount: 0,
                totalTestimonials:0,
                search_spinner : false,
                testimonial: {
                    keyword: '',
                    filter_by_status: '',
                },
                status : null,
            }
        },
        mounted() {
            this.getTestimonials(1);
        },
        methods: {
            getTestimonials:function(page) {
                var app = this;
                app.testimonial.page = page || 1;
                app.testimonial.limit = 10;
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'testimonials',
                    params: app.testimonial
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.search_spinner = false;
                    app.totalTestimonials = resp.data.data.pagination.total;
                    app.testimonials = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.search_spinner = false;
                    app.testimonials = [];  
                    app.pageCount = 0;
                    app.totalTestimonials = 0;
                });
            },
            setRecordObj:function(id, index, status)
            {
                var app = this;
                app.id = id;
                app.index = index;
                if (status == 'approve') {
                    app.status = 'disapprove';
                } else {
                    app.status = 'approve';
                }
            },
            refreshList()
            {
                this.getTestimonials(1);
            },
            searchRec() 
            {
                var app = this;
                app.search_spinner = true;
                app.getTestimonials(1);
            },    
        }
    }
</script>
