<template>
	<ul class="list-unstyled">
	    <li class="clearfix" v-for="(day, index) in list">
	      {{ day.appointmentTypeName }} -> 
	      {{ day.dayName }} from
	      {{ day.openingTimeName }} to 
	      {{ day.closingTimeName }}
	      
	      <!-- For debugging
	      {{ day.id }}
	      {{ day.openingTime }}
	      {{ day.closingTime }}
	      -->
	      
	      <button class="btn btn-danger btn-sm pull-right" @click.prevent="removeDay(index, day.dayName)">Remove</button>
	    </li>
  </ul>
</template>

<script>

    export default {
    	props : ['list'],
    	methods: {
		    removeDay(index, day) {
		      EventBus.$emit('removeDayItem', index, day);
		    }, 
	    }
    }
</script>

<style type="text/css" scoped>
    .added-days li {
      background-color: #eee;
      margin-bottom: 12px;
      padding: 8px;
      text-align: center;
    }
</style>
