<template>
    <div class="modal fade" id="blockLoginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Confirmation</h5>
          </div>
          <div class="modal-body">
            <p class="no-margin">Are you sure you want to {{ action }} login of this doctor?</p>
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-applyplus btn-cons  pull-left inline">{{ action | capitalize}} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<script type="text/javascript">
  export default {
    props : ['id', 'action'],
    created () {
    },
    data: function () {
        return {
          isLoading:false,
        }
    },
    methods : {
      submit() {
          var app = this;
          if (app.action == 'block')
            app.is_blocked_login = '1';
          else
            app.is_blocked_login = '0';
          var params = {'id' : app.id, 'is_blocked_login' : app.is_blocked_login};
            app.isLoading = true;
            axios.put(app.$apiUrl+'doctor/update-blocked-login', params)
                .then(function (resp) {
                    app.isLoading = false;
                    $('#blockLoginModal').modal('hide');
                    resp = app.$emit('actionPerformed');
                    
                })
                .catch(function (resp) {
                    app.isLoading = false;
                });
          }
          
    }
  }

</script>
