<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card social-card share full-width" v-if="doctorId != null">
                                    <div class="card-block no-padding">
                                        <ul class="list-group ">
                                          <li class="list-group-item"><img alt="Profile Image" width="142" height="142" :data-src-retina="doctor.profile_pic_path" class="profile_pic inline" :data-src="doctor.profile_pic_path"  :src="doctor.profile_pic_path"></li>
                                          <li class="list-group-item"><strong>{{ doctor.title}}. {{ doctor.user.full_name }}</strong></li>
                                          <li class="list-group-item">{{ doctor.designation }}</li>
                                          <!-- <li class="list-group-item"><star-rating :rating="doctor.rating" :star-size="20" :read-only="true" :show-rating="showRating" :border-width="3" active-color="#ffba0c" class="p-l-5"></star-rating></li> -->
                                          <li class="list-group-item text-center">
                                            <a href="#addNoteModal"
                                                data-toggle="modal"
                                               class="btn btn-applyplus"
                                               >
                                                <i class="fa fa-plus"></i> Add Notes
                                            </a></li>
                                            <li class="list-group-item  text-center"><router-link :to="{name: 'SupportForm', params: {type: 'doctor', 'id' : doctor.id} }" class="btn btn-success"><i class="fa fa-comments"></i> Send Message</router-link> </li>
                                          <li class="list-group-item  text-center"><router-link to="/doctors" class="btn btn-complete"><i class="fa fa-arrow-left"></i> Back</router-link> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="card social-card share full-width" v-if="doctorId != null">
                                    <div class="card-block">
                                       <!--  <form onsubmit="return false;" autocomplete="off"> -->
                                            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <vue-tabs active-tab-color="#28a745" active-text-color="white" v-model="tabName" @tab-change="handleTabChange">
                                                        <v-tab title="Personal Details" icon="fa fa-user">
                                                            <div class="row pDetails">
                                                                <div class="card-block dataTables_wrapper">
                                                                    <div class="table-responsive ">
                                                                      <table class="table table-hover " id="basicTable">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><span class="font-weight-bold">Email:</span> {{ doctor.user.email}}</td>
                                                                                <td ><span class="font-weight-bold">Gender:</span> {{ doctor.user.gender}}</td>
                                                                            </tr>
                                                                            <tr>    
                                                                                <td><span class="font-weight-bold">DOB:</span> {{ doctor.dob | moment('DD-MM-YYYY') }}</td>
                                                                                <td ><span class="font-weight-bold">Age:</span> {{ doctor.age}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><span class="font-weight-bold">Mobile Number:</span> {{ doctor.user.mobile_number}}</td>
                                                                                <td ><span class="font-weight-bold">Home Number:</span> {{ doctor.telephone_number}}</td>
                                                                            </tr>
                                                                            <tr>    
                                                                                <td><span class="font-weight-bold">Home Address:</span> {{ doctor.home_address}}</td>
                                                                                <td><span class="font-weight-bold">Work Address:</span> {{ doctor.work_address}}</td>
                                                                            </tr> 
                                                                            <tr>       
                                                                                <td><span class="font-weight-bold">Qualification:</span> {{ doctor.qualification}}</td>
                                                                                <td><span class="font-weight-bold">Description:</span><span v-html="doctor.description"></span></td>
                                                                            </tr>
                                                                            <tr>       
                                                                                <td><span class="font-weight-bold">GMC Number:</span> {{ doctor.gmc_number}}</td>
                                                                                <td><span class="font-weight-bold">Specialty:</span> {{ doctor.specialty.name}}</td>
                                                                            </tr>
                                                                            <tr>       
                                                                                <td><span class="font-weight-bold">Employment Start Date:</span> {{ doctor.employment_start_date  | moment('DD-MM-YYYY')}}</td>
                                                                                <td><span class="font-weight-bold">Employment End Date:</span> {{ doctor.employment_end_date  | moment('DD-MM-YYYY')}}</td>
                                                                            </tr>
                                                                            <tr>       
                                                                                 <td><span class="font-weight-bold">Appraisal Date:</span> {{ doctor.appraisal_date  | moment('DD-MM-YYYY')}}</td>
                                                                                <td><span class="font-weight-bold">Revalidation Date:</span> {{ doctor.revalidation_date  | moment('DD-MM-YYYY')}}</td>
                                                                            </tr>
                                                                            <tr>       
                                                                                 <td><span class="font-weight-bold">National Insurance Number:</span> {{ doctor.national_insurance_number}}</td>
                                                                                <td><span class="font-weight-bold">Tax Code:</span> {{ doctor.tax_code}}</td>
                                                                            </tr>
                                                                            <tr>       
                                                                                 <td><span class="font-weight-bold">Bank Name:</span> {{ doctor.bank_name}}</td>
                                                                                <td><span class="font-weight-bold">Sort Code:</span> {{ doctor.sort_code}}</td>
                                                                            </tr>
                                                                            <tr> 
                                                                                <td><span class="font-weight-bold">Account Number:</span> {{ doctor.account_number}}</td>      
                                                                                <td><span class="font-weight-bold">Designation:</span> {{ doctor.designation}}</td>
                                                                            </tr>
                                                                            <tr>    
                                                                                <td><span class="font-weight-bold">Signature Image:</span> <a href="#attachmentViewModal" data-toggle="modal"@click="viewAttachment(doctor.signature_image_path, doctor.signature_image_path.split('.').pop())"><!-- <img alt="Signature Image" width="100" height="100" :data-src-retina="doctor.signature_image_path" class="signature_image inline" :data-src="doctor.signature_image_path"  :src="doctor.signature_image_path" v-if="doctor.signature_image != ''"> -->
                                                                                    {{ doctor.signature_image}}
                                                                                </a> 
                                                                                </td>
                                                                            </tr>
                                                                       </tbody>
                                                                    </table>
                                                                    </div> 
                                                                </div>               
                                                            </div>
                                                        </v-tab>
                                                        <v-tab title="Documents" icon="fa fa-file" class="p-1">
                                                            <div class="row">
                                                                <div class="card-block dataTables_wrapper">
                                                                    <div class="table-responsive ">
                                                                      <table class="table table-hover " id="basicTable">
                                                                        <thead>
                                                                          <th>ID</th>
                                                                          <th>Date Time</th>
                                                                          <th>File Name</th>
                                                                          <th>Action</th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <template v-if="documentsArr.length > 0">  
                                                                                <tr v-for="doc, index in documentsArr" >
                                                                                    <td>{{ index+1 }}</td>
                                                                                    <td>{{ doc.created_at  | moment("DD-MM-YYYY h:mm a")}}</td>
                                                                                    <td>{{ doc.name }}</td>
                                                                                    <td><a href="#attachmentViewModal" data-toggle="modal" class="btn btn-xs btn-complete m-r-10" @click="viewAttachment(doc.path, doc.extension)"><i class="fa fa-eye"></i> View</a><a :href="doc.path" class="btn btn-xs btn-applyplus" download=""><i class="fa fa-download"></i> Download</a></td>
                                                                                 </tr>
                                                                            </template>
                                                                            <template v-else> 
                                                                                <tr>
                                                                                    <td colspan="10">
                                                                                        <div class="blank-data">
                                                                                            <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                                                            <h3>Nothing Here Yet!</h3>
                                                                                            <p>Did not find anything .. try again.</p>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </template>
                                                                        </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>                    
                                                            </div>
                                                        </v-tab>
                                                        <v-tab title="Schedule" icon="fa fa-calendar" class="p-1">
                                                            <router-link :to="{name: 'DoctorScheduleEdit', params: {id: doctor.id}}" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit</router-link>
                                                            <div class="row">
                                                                <div class="card-block dataTables_wrapper">
                                                                    <div class="table-responsive ">
                                                                      <table class="table table-hover " id="basicTable">
                                                                        <thead>
                                                                          <th>Day</th>
                                                                          <th>Availibilty</th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <template v-if="doctorSchedule">  
                                                                                <tr v-for="schedule, index in doctorSchedule">
                                                                                    <td>
                                                                                        {{index}}
                                                                                    </td>
                                                                                    <template v-if="schedule.length > 0">   
                                                                                        <td>
                                                                                            <p v-for="sch,ind in schedule">
                                                                                                {{ sch.opening_time_name }} - {{ sch.closing_time_name }}  ({{ sch.appointment_name }})
                                                                                            </p>
                                                                                            
                                                                                        </td> 
                                                                                    </template > 
                                                                                    <template v-else> 
                                                                                        <td>Not Available</td>
                                                                                    </template >
                                                                                </tr>
                                                                            </template>
                                                                            <template v-else> 
                                                                                <tr>
                                                                                    <td colspan="10">
                                                                                        <div class="blank-data">
                                                                                            <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                                                            <h3>Nothing Here Yet!</h3>
                                                                                            <p>Did not find anything .. try again.</p>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </template>
                                                                        </tbody>
                                                                      </table>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                        </v-tab>
                                                        <v-tab title="Holidays" icon="fa fa-umbrella" class="p-1">
                                                            <HolidayComponent :doctor_id="doctor.id"></HolidayComponent>
                                                        </v-tab>
                                                        <v-tab title="Appointments" icon="fa fa-calendar" class="p-1">
                                                            <div class="row">
                                                                <vue-scheduler                                  
                                                                    :events="booked_appointments"
                                                                    :event-display="eventDisplay"
                                                                    :disableDialog="true"
                                                                     @month-changed="monthChanged"
                                                                     @week-changed="weekChanged"
                                                                    @day-changed="dayChanged"
                                                                    @view-changed="viewChanged"
                                                                    class="col-md-12 "
                                                                ></vue-scheduler>
                                                            </div>
                                                        </v-tab>
                                                        <v-tab title="Assessments" icon="fa fa-list" class="p-1">
                                                            <div class="row p-4">
                                                                <h2>Assessments ({{appointment.totalAppointments}})</h2>
                                                                <div class="row">
                                                                  <div class="form-group  pull-right col-sm-2">
                                                                    <label>Filter By Type</label> 
                                                                    <select v-model="appointment.filter_by_type" class="form-control" placeholder="Filter By Type">
                                                                         <option value="">All</option>
                                                                         <option value="1">Initial assessment</option>
                                                                         <option value="2">Follow up assessment - type 1</option>
                                                                         <option value="3">Follow up assessment - type 2</option>
                                                                         <option value="4">Telephone advice</option>
                                                                     </select>
                                                                  </div>
                                                                  <div class="form-group  pull-right col-sm-3">
                                                                      <label>Filter By Patient Type</label> 
                                                                      <select v-model="appointment.filter_by_is_member" class="form-control" placeholder="Filter By Patient Type">
                                                                            <option value="">All</option>
                                                                           <option value="1">Membership</option>
                                                                           <option value="0">Non Membership</option>
                                                                       </select>
                                                                    </div>
                                                                  <div class="form-group  pull-right col-sm-5">
                                                                    <label>Filter By Date Range</label> 
                                                                   <date-picker v-model="appointment.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY"></date-picker>
                                                                  </div> 
                                                                  
                                                                  <div class="pull-right col-md-3">
                                                                    <a href="javascript:;" class="btn btn-primary" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="appointment.search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                                                                  </div>  
                                                                </div>
                                                                <div class="card-block dataTables_wrapper no-padding">
                                                                    <div class="table-responsive ">
                                                                      <table class="table table-hover " id="basicTable">
                                                                        <thead>
                                                                          <th>Date Time</th>
                                                                          <th>Type</th>
                                                                          <th>Specialty</th>
                                                                          <th>Status</th>
                                                                          <!-- <th>Action</th> -->
                                                                        </thead>
                                                                        <tbody id="user_listing">
                                                                            <template v-if="appointments.length > 0">  
                                                                                <tr v-for="appointment, index in appointments" >
                                                                                    <td width="20%">{{ appointment.date_time | moment('DD-MM-YYYY hh:mm a') }}</td>
                                                                                    <td>{{ appointment.appointment_type.name }}</td>                                    
                                                                                  <td>{{ appointment.doctor.specialty.name }}</td>
                                                                                  <td>{{ appointment.status }}</td>
                                                                                   <!--  <td width="15%">
                                                                                        <router-link :to="{name: 'DoctorView', params: {id: doctor.id}}" class="btn btn-xs btn-success">
                                                                                             <i class="fa fa-eye" title="View"></i>
                                                                                        </router-link>
                                                                                    </td> -->
                                                                                </tr>
                                                                            </template>
                                                                            <template v-else> 
                                                                                <tr>
                                                                                    <td colspan="10">
                                                                                        <div class="blank-data">
                                                                                            <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                                                            <h3>Nothing Here Yet!</h3>
                                                                                            <p>Did not find anything .. try again.</p>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </template>
                                                                        </tbody>
                                                                      </table>
                                                                    </div>
                                                                    <div class="row">
                                                                      <div>
                                                                        <div class="dataTables_paginate paging_simple_numbers">
                                                                          <paginate
                                                                            :page-count="appointment.pageCount"
                                                                            :page-range="3"
                                                                            :margin-pages="1"
                                                                            :click-handler="getAppointments"
                                                                            :prev-text="'Prev'"
                                                                            :next-text="'Next'"
                                                                            :container-class="'pagination'"
                                                                            :page-class="'page-item'">
                                                                          </paginate>
                                                                        </div>
                                                                          </div>
                                                                          </div>
                                                                  </div>
                                                            </div>
                                                        </v-tab>
                                                        <v-tab title="Notes" icon="fa fa-pencil" class="p-1">
                                                            <div class="row">
                                                                 <div class="card-block dataTables_wrapper">
                                                                    <div class="table-responsive ">
                                                                      <table class="table table-hover " id="basicTable">
                                                                        <thead>
                                                                          <th>Date</th>
                                                                          <th>Time</th>
                                                                          <th>Subject</th>
                                                                          <th>Action</th>
                                                                        </thead>
                                                                        <tbody id="user_listing">
                                                                            <template v-if="notes.length > 0">  
                                                                                <tr v-for="note, index in notes" >
                                                                                    <td>{{ note.created_at | moment("DD-MM-YYYY") }}</td>
                                                                                    <td>{{ note.created_at | moment("h:mm a") }}</td>
                                                                                    <td>{{ note.subject }}</td>
                                                                                    <td width="20%">
                                                                                        <!-- <input type="hidden" :value="note.note" :id="'notes-'+note.id"/>
                                                                                        <a :href="'data:text/plain;charset=utf-8,' + encodeURIComponent(note.note)" class="btn btn-xs btn-applyplus" 
                                                                                        :download="'notes-'+note.id+'.txt'">
                                                                                             <i class="fa fa-download"></i> Download Notes as a .txt file
                                                                                        </a> -->
                                                                                        <a href="#viewNoteModal" data-toggle="modal" class="btn btn-xs btn-complete" @click="showNotes(note.subject, note.note)" title="View"><i class="fa fa-eye"></i></a>
                                                                                        <a href="#deleteNoteModal" data-toggle="modal"  class="btn btn-xs btn-danger"@click="setObjectNotes(note.id, index)" title="Delete"><i class="fa fa-trash"></i></a>
                                                                                    </td>
                                                                                </tr>
                                                                            </template>
                                                                            <template v-else> 
                                                                                <tr>
                                                                                    <td colspan="10">
                                                                                        <div class="blank-data">
                                                                                            <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                                                            <h3>Nothing Here Yet!</h3>
                                                                                            <p>Did not find anything .. try again.</p>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </template>
                                                                        </tbody>
                                                                      </table>
                                                                    </div>
                                                                    <div class="row">
                                                                      <div>
                                                                        <div class="dataTables_paginate paging_simple_numbers">
                                                                          <paginate
                                                                            :page-count="note.pageCount"
                                                                            :page-range="3"
                                                                            :margin-pages="1"
                                                                            :click-handler="getNotes"
                                                                            :prev-text="'Prev'"
                                                                            :next-text="'Next'"
                                                                            :container-class="'pagination'"
                                                                            :page-class="'page-item'">
                                                                          </paginate>
                                                                        </div>
                                                                          </div>
                                                                          </div>
                                                                  </div>
                                                            </div>
                                                        </v-tab>
                                                        <v-tab title="Messages" icon="fa fa-comments" class="p-1">
                                                            <div class="row"> 
                                                                <messages-view :user_id="doctor.user_id"></messages-view>                   
                                                            </div>
                                                        </v-tab>
                                                        <v-tab title="Payslip" icon="fa fa-file-text-o" class="p-1">
                                                            <div class="row">
                                                                <invoiceList user_type="doctor" :user_id="doctor.user_id"></invoiceList>
                                                            </div>
                                                        </v-tab>
                                                    </vue-tabs>        
                                                </div>
                                            </div>
                                        <!-- </form> -->
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <deleteNoteModal :id="id" :index="index" :module="module" @recRemoved="refreshNoteList"></deleteNoteModal>
        <footer-component></footer-component>
        <add-note-modal :created_on="doctor.user.id" :module="module" @noteRecAdded="refreshNoteList"></add-note-modal>

        <note-view-modal :note="noteText" :subject="noteSubject"></note-view-modal>
        <attachment-view-modal :file_path="file_path" :extension="extension" ></attachment-view-modal>
        
    </span>
    
</template>   

<script>
    import StarRating from 'vue-star-rating'
    import DatePicker from 'vue2-datepicker'
    import HolidayComponent from './../doctor-holiday/DoctorHolidayIndex.vue'
    import InvoiceList from './../invoice/InvoiceIndex.vue'
    import deleteNoteModal from "./DeleteNoteModal.vue";
    
    export default {
        components: {
            StarRating, DatePicker, HolidayComponent,InvoiceList, deleteNoteModal
        },
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.doctorId = id;
            app.getDoctor();
            EventBus.$on('viewAttachment', function(file_path, extension) {
                app.viewAttachment(file_path, extension);
                $('#attachmentViewModal').modal('show');
            });
        },
        data: function () {
            return {
                id : '',
                index : '',
                doctorId: null,
                module: 'doctor',
                doctorSchedule : [],
                doctor: {
                    user : {
                        first_name: '',
                        last_name: '',
                        email: '',
                        gender: "male",
                        mobile_number: '',
                        profile_pic: '',
                        role: 'doctor',
                    },
                    specialty: {
                        label : '',
                        value : '',
                    },
                    id: this.$route.params.id,
                    specialty_id: '',
                    title : '',
                    dob : '',
                    gmc_number : '',
                    home_address : '',
                    work_address : '',
                    telephone_number : '',
                    signature_image : '',
                    qualification : '',
                    employment_start_date : '',
                    employment_end_date : '',
                    appraisal_date : '',
                    revalidation_date : '',
                    rating : 0,
                    doctor_documents : [],
                },
                documentsArr : [],
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                tabName:'',
                showRating : false,
                appointments: [],
                appointment: {
                    filter_by_is_archived :'0',
                    filter_by_type: '',
                    filter_by_status: 'completed',
                    filter_by_is_member: '',
                    filter_by_date_range: '',
                    pageCount: 0,
                    totalAppointments:0,
                    search_spinner:false,
                },
                notes : [],
                note: {
                    pageCount: 0,
                    totalNotes:0,
                },
                noteText : null,
                noteSubject : null,
                shortcuts: [
                    {
                      text: 'Previous 7 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Previous 30 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Next 7 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
                      }
                    },
                    {
                      text: 'Next 30 Days',
                      onClick: () => {
                        this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
                      }
                    },
                ],
                booked_appointments: [],
                appointment_frequency : 30,
                file_path : '',
                extension : '',
            }
        },

        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            }
        },
        methods : {
            handleTabChange(tabIndex, newTab, oldTab){
                var app = this;
                if (newTab.title == 'Schedule') {
                    //if (app.doctorSchedule.length == 0) {
                        app.getDoctorSchedule(app.doctorId);
                    //}
                } else if (newTab.title == 'Appointments') {
                    //if (app.booked_appointments.length == 0) {
                        app.getBookedAppointments();
                    //}
                } else if (newTab.title == 'Assessments') {
                    //if (app.appointments.length == 0) {
                        app.getAppointments(1);
                    //}
                } else if (newTab.title == 'Notes') {
                    //if (app.notes.length == 0) {
                        app.getNotes(1);
                    //}
                }  else if (newTab.title == 'Holidays') {
                    EventBus.$emit('getHolidaysList');
                }   else if (newTab.title == 'Payslip') {
                    EventBus.$emit('getInvoices');
                } else if (newTab.title == 'Documents') {
                    app.getDoctor();
                } else if (newTab.title == 'Messages') {
                     EventBus.$emit('getMessages');
                }
            },
            getDoctor () {
                var app = this
                axios.get(app.$apiUrl+'doctor/' + app.doctorId)
                .then(function (resp) {
                    app.doctor = resp.data.data;
                    if (app.doctor.doctor_documents.length > 0) {
                        var documentsArr = [];
                        $.each(app.doctor.doctor_documents, function(ind, ele) {
                            var documentsObj = {};
                            documentsObj.path = app.doctor.doctor_documents_path+'/'+ele.name; 
                            documentsObj.name = ele.name;
                            documentsObj.created_at = ele.created_at;
                            documentsObj.extension = ele.name.split('.').pop();
                            documentsArr.push(documentsObj); 
                        });
                        app.documentsArr = documentsArr;
                    }
                })
                .catch(function () {
                });
            },
            getAppointments:function(page) {
                var app = this;
                app.appointment.page = page || 1;
                app.appointment.limit = 10;
                app.appointment.filter_by_doctor_id = app.doctorId,
                app.appointment.filter_by_status = 'completed';
                app.appointment.to_date = '';
                app.appointment.from_date = '';
                app.appointment.order_by_field = 'date_time';
                if (app.appointment.filter_by_date_range != '') {
                  if (app.appointment.filter_by_date_range[0] != null) {
                    app.appointment.filter_by_date_range[0] = this.$moment(app.appointment.filter_by_date_range[0]).format('YYYY-MM-DD');
                  } 

                  if (app.appointment.filter_by_date_range[1] != null) {
                    app.appointment.filter_by_date_range[1] = this.$moment(app.appointment.filter_by_date_range[1]).format('YYYY-MM-DD');
                  } 
                  
                }
                
                axios({
                    method: 'get',
                    url: app.$apiUrl+'appointments',
                    params: app.appointment
                })
                .then(function (resp) {
                    app.appointment.totalAppointments = resp.data.data.pagination.total;
                    app.appointments = resp.data.data.data;
                    app.appointment.pageCount = resp.data.data.pagination.last_page;
                    app.appointment.search_spinner = false;
                })
                .catch(function (resp) {
                    app.appointments = [];  
                    app.appointment.pageCount = 0;
                    app.appointment.totalAppointments = 0;
                });
            },
            searchRec() {
                var app = this;
                app.appointment.search_spinner = true;
                app.getAppointments(1);
            }, 
            getDoctorSchedule(id) {
                var app = this;
                axios.get(app.$apiUrl+'doctor-schedule/chart/' + id+'?page=1&limit=0')
                .then(function (resp) {
                    app.doctorSchedule = resp.data.data;
                })
                .catch(function (resp) {
                    app.doctorSchedule = [];  
                }); 
            },
            getBookedAppointments:function(page) {
                var app = this;
                app.appointment.page = page || 1;
                app.appointment.limit = 0;
                app.appointment.filter_by_doctor_id = app.doctorId,
                app.appointment.filter_by_status = 'booked';
                app.appointment.filter_by_date_range = '';
                
                axios({
                    method: 'get',
                    url: app.$apiUrl+'appointments',
                    params: app.appointment
                })
                .then(function (resp) {
                    if (resp.data.data.data.length > 0) {
                        app.booked_appointments = [];
                        $.each(resp.data.data.data, function (index, ele) {

                            var eventObj = {};
                            var date = app.$moment(ele.date_time).format('YYYY-MM-DD');
                            eventObj.date = app.$moment(ele.date_time).format('YYYY-MM-DD').toString();
                            eventObj.startTime = app.$moment(ele.date_time).format('HH:mm').toString();
                            eventObj.endTime = app.$moment(ele.date_time).add(app.appointment_frequency, 'minutes').format('HH:mm').toString();
                            eventObj.name = ele.appointment_type.name;
                            eventObj.comments = 'Patient- '+ele.patient.user.full_name;
                            app.booked_appointments.push(eventObj);
                        });
                    }
                })
                .catch(function (resp) {
                    app.appointments = [];  
                    app.appointment.pageCount = 0;
                    app.appointment.totalAppointments = 0;
                });
            },
            eventDisplay(event) {
                return event.name + ' - ' + event.comments;
            },
            monthChanged(newDate) {
                var app = this;
                app.appointment.from_date = this.$moment(newDate).startOf('month').format('YYYY-MM-DD');
                app.appointment.to_date = this.$moment(newDate).endOf('month').format('YYYY-MM-DD');
                app.getBookedAppointments();
            },
            weekChanged(newDate) {
                var app = this;
                app.appointment.from_date = this.$moment(newDate).startOf('week').format('YYYY-MM-DD');
                app.appointment.to_date = this.$moment(newDate).endOf('week').format('YYYY-MM-DD');
                app.getBookedAppointments();
              },

            dayChanged(newDate) {
                var app = this;
                app.appointment.from_date = this.$moment(newDate).format('YYYY-MM-DD');
                app.appointment.to_date = this.$moment(newDate).format('YYYY-MM-DD');
                app.getBookedAppointments();
              },
            viewChanged(newView) {
                var app = this;
                app.getBookedAppointments();
              },
            getNotes(page) {
                var app = this;
                app.note.page = page || 1;
                app.note.limit = 10;
                app.note.filter_by_created_on = app.doctor.user.id;
                app.note.filter_by_created_by = app.$loggedInUser.id;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'notes',
                    params: app.note
                })
                .then(function (resp) {
                    app.note.totalNotes = resp.data.data.pagination.total;
                    app.notes = resp.data.data.data;
                    app.note.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.notes = [];  
                    app.note.pageCount = 0;
                    app.note.totalNotes = 0;
                });
            },
            refreshNoteList() {
                this.tabName = 'Notes';
                this.getNotes();
            },
            viewAttachment(file_path, extension) {
                this.file_path = file_path;
                this.extension = extension;
            },
            showNotes(subject, note) {
                this.noteText = note;
                this.noteSubject = subject;
            },
            setObjectNotes(id ,index) {
                console.log('here666');
                this.id = id;
                this.index = index;
                this.module = 'note';
            },
            
        }        
    }
</script>

<style scoped="">
    .profile_pic {
        width: 142px !important;
        height: 142px !important;
        float: left;
        overflow: hidden;
        margin-right: 10px;
    }
    .signature_image {
        width: 100px !important;
        height: 100px !important;
    }
    .m-t-2 {
        margin-top: 2px;
    }
    .p-10 {
        padding: 10px !important;
    }
    .list-group-item {
        padding: 10px !important;
        text-align: center;
    }
</style>                                     