
<template id="added-days-template">
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;">
                                <h2>Doctor Schedule
                                    <router-link to="/doctors" class="btn btn-complete pull-right ml-2"><i class="fa fa-arrow-left"></i> Back</router-link>
                                    <router-link :to="{name: 'DoctorScheduleEdit', params: {id: doctor_id}}" class="btn btn-info pull-right"><i class="fa fa-pencil"></i> Edit</router-link>
                                    
                                </h2>
                                <div class="card-block dataTables_wrapper">
                                    <div class="table-responsive ">
                                      <table class="table table-hover " id="basicTable">
                                        <thead>
                                          <th v-for="header in tableHeader">{{header}}</th>
                                        </thead>
                                        <tbody id="user_listing">
                                            <template v-if="doctorSchedule">  
                                                <tr v-for="schedule, index in doctorSchedule">
                                                    <td>
                                                        {{index}}
                                                    </td>
                                                    <template v-if="schedule.length > 0">   
                                                        <td>
                                                            <p v-for="sch,ind in schedule">
                                                                {{ sch.opening_time_name }} - {{ sch.closing_time_name }} ({{ sch.appointment_name }})
                                                            </p>
                                                            
                                                        </td> 
                                                    </template > 
                                                    <template v-else> 
                                                        <td>Not Available</td>
                                                    </template >
                                                </tr>
                                            </template>
                                            <template v-else> 
                                                <tr>
                                                    <td colspan="10">
                                                        <div class="blank-data">
                                                            <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                            <h3>Nothing Here Yet!</h3>
                                                            <p>Did not find anything .. try again.</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  
                                  
                                <hr>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.doctorId = id;
            axios.get(app.$apiUrl+'doctor-schedule/chart/' + app.doctorId+'?page=1&limit=0')
                .then(function (resp) {
                    app.doctorSchedule = resp.data.data;
                    console.log(app.doctorSchedule);
                })
                .catch(function (resp) {
                    app.doctorSchedule = [];  
                }); 
        },
        data: function () {
            return {
                tableHeader: ["Days", "Availibilty"],
                doctorSchedule : [],
                id: null,
                index:null,
                doctor_id : this.$route.params.id
            }
        },
        
        methods: {
          
        }
    }
</script>

