
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2> {{ type }} Doctor
                                    <router-link to="/doctors" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow" v-html="alertMsg">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">First Name</label>
                                            <div class="controls">
                                              <input type="text" class="form-control" name="first_name" placeholder="John" 
                                              data-vv-as="first name"
                                              v-model="doctor.user.first_name"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('first_name')">
                                              {{ errors.first('first_name') }}
                                            </small>  
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Last Name</label>
                                            <div class="controls">
                                              <input type="text" class="form-control" name="last_name" placeholder="Doe"
                                               data-vv-as="last name"
                                              v-model="doctor.user.last_name"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('last_name')">
                                              {{ errors.first('last_name') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Title</label>
                                            <div class="controls">
                                              <select v-model="doctor.title" class="form-control" v-validate="'required'" name="title">
                                                 <option value="Mr">Mr</option>
                                                 <option value="Miss">Miss</option>
                                                 <option value="Mrs">Mrs</option>
                                                 <option value="Ms">Ms</option>
                                                 <option value="Dr">Dr</option>
                                                 <option value="Prof">Prof</option>
                                             </select>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('title')">
                                              {{ errors.first('title') }}
                                            </small>  
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Email</label>
                                            <div class="controls">
                                                <input type="email" class="form-control" name="email" placeholder="John@example.com"
                                                v-model="doctor.user.email"
                                                v-validate="'required|email'" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('email')">
                                              {{ errors.first('email') }}
                                            </small>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">   
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Home Telephone number</label>
                                            <div class="controls">
                                                <!-- <masked-input class="form-control" mask="\+\ (111) 111-1111" type="tel" name="telephone_number"
                                                placeholder="7111-123456"
                                                data-vv-as="telephone number"
                                                v-model="doctor.telephone_number"
                                                v-validate="'required'" /> -->
                                                <input type="text" class="form-control" name="telephone_number" placeholder="7111123456"
                                                v-model="doctor.telephone_number"
                                                v-validate="'required|numeric'" >

                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('telephone_number')">
                                              {{ errors.first('telephone_number') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Mobile Number</label>
                                            <div class="controls">
                                                <masked-input class="form-control" mask="111-1111-1111" type="tel" name="mobile_number"
                                                placeholder="071-1234-5678"
                                                data-vv-as="mobile number"
                                                v-model="doctor.user.mobile_number"
                                                v-validate="'required'" />
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('mobile_number')">
                                              {{ errors.first('mobile_number') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">   
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Home Address</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="home_address" placeholder="Address"
                                                v-model="doctor.home_address"
                                                v-validate="'required'" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('home_address')">
                                              {{ errors.first('home_address') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Work Address</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="work_address" placeholder="Address"
                                                v-model="doctor.work_address"
                                                v-validate="'required'" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('work_address')">
                                              {{ errors.first('work_address') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">   
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">GMC Number</label>
                                            <div class="controls">
                                                <input type="text" class="form-control input-lg" name="gmc_number" placeholder="GMC Number" style="height: 40px;" 
                                                v-model="doctor.gmc_number"
                                                v-validate="'required|numeric'" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('gmc_number')">
                                              {{ errors.first('gmc_number') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Specialty</label>
                                            <vue-select class="vue-select2" name="select2"
                                                    :options="specialties" 
                                                    :searchable="true" 
                                                    language="en-US"
                                                    placeholder="Select Specialty"
                                                    v-model="doctor.specialty"
                                                    v-validate="'required'"
                                                    data-vv-as="specialty"
                                                    >
                                            </vue-select>
                                            <small class="text-danger"
                                              v-show="errors.has('select2')">
                                              {{ errors.first('select2') }}
                                            </small>
                                        </div>    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Date of Birth</label>
                                            <date-dropdown v-if="doctor.dob !== ''" :default="doctor.dob" min="1950" max="2018" v-model="doctor.dob" />
                                        </div>  
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Gender</label>
                                            <div class="radio radio-complete no-margin">
                                                <input type="radio" value="male"  v-model="doctor.user.gender" id="male">
                                                <label for="male" class="no-margin">Male</label>

                                                <input type="radio" value="female" v-model="doctor.user.gender" id="female">
                                                 <label for="female" class="no-margin">Female</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">   
                                    <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Employment Start Date </label>
                                            <div class="controls">
                                                 <date-picker v-model="doctor.employment_start_date" lang="en" 
                                                 v-validate="'required'" name="employment_start_date" :not-after="doctor.employment_end_date" placeholder="Select Date" data-vv-as="employment start date" format="DD-MM-YYYY" type="date"></date-picker>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('employment_start_date')">
                                              {{ errors.first('employment_start_date') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Employment End Date </label>
                                            <div class="controls">
                                                 <date-picker v-model="doctor.employment_end_date" lang="en" v-validate="'required'" name="employment_end_date" :not-before="doctor.employment_start_date"  placeholder="Select Date" data-vv-as="employment end date" format="DD-MM-YYYY" type="date"></date-picker>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('employment_end_date')">
                                              {{ errors.first('employment_end_date') }}
                                            </small>
                                        </div>
                                    </div>
                                 
                                    <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold"> Appraisal Date</label>
                                            <div class="controls">
                                                 <date-picker v-model="doctor.appraisal_date" lang="en" v-validate="'required'"  name="appraisal_date" placeholder="Select Date" data-vv-as="appraisal date" format="DD-MM-YYYY" type="date"></date-picker>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('appraisal_date')">
                                              {{ errors.first('appraisal_date') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group required">
                                            <label class="text-primary bold"> Revalidation_date </label>
                                            <div class="controls">
                                                 <date-picker v-model="doctor.revalidation_date" lang="en" v-validate="'required'" name="revalidation_date" placeholder="Select Date" data-vv-as="revalidation date" format="DD-MM-YYYY" type="date"></date-picker>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('revalidation_date')">
                                              {{ errors.first('revalidation_date') }}
                                            </small>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">   
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Designation</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="designation" placeholder="Designation"
                                                v-model="doctor.designation"
                                                v-validate="'required|alpha_spaces'" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('designation')">
                                              {{ errors.first('designation') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Qualification</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="qualification" placeholder="Qualification"
                                                v-model="doctor.qualification"
                                                v-validate="'required'" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('qualification')">
                                              {{ errors.first('qualification') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">   
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">National Insurance Number</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="national_insurance_number" placeholder="National Insurance Number"
                                                v-model="doctor.national_insurance_number"
                                                v-validate="'required|alpha_num'"
                                                data-vv-as="national insurance number">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('national_insurance_number')">
                                              {{ errors.first('national_insurance_number') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Tax Code</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="tax_code" placeholder="Tax Code"
                                                v-model="doctor.tax_code"
                                                v-validate="'required|alpha_num'"
                                                data-vv-as="tax code" >
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('tax_code')">
                                              {{ errors.first('tax_code') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <h6>Bank Details</h6>  -->  
                                <div class="row">
                                    
                                    <div class="col-lg-5">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Bank Name</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="bank_name" placeholder="Bank Name"
                                                v-model="doctor.bank_name"
                                                v-validate="'required|alpha_spaces'"
                                                data-vv-as="bank name">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('bank_name')">
                                              {{ errors.first('bank_name') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Sort Code</label>
                                            <div class="controls">
                                               <!--  <input type="text" class="form-control" name="sort_code" placeholder="Sort Code"
                                                v-model="doctor.sort_code"
                                                 v-validate="'required'"
                                                data-vv-as="sort code" > -->
                                                <masked-input class="form-control" mask="11-11-11" type="tel" name="sort_code"
                                                placeholder="11-22-33"
                                                v-model="doctor.sort_code"
                                                 v-validate="'required'"
                                                data-vv-as="sort code" />
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('sort_code')">
                                              {{ errors.first('sort_code') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Account Number</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" name="account_number" placeholder="Account Number"
                                                v-model="doctor.account_number"
                                                v-validate="'required|numeric'"
                                                data-vv-as="account number" >
                                            </div>
                                             <small class="text-danger"
                                              v-show="errors.has('account_number')">
                                              {{ errors.first('account_number') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                       <!--  <div class="form-group form-group-default">
                                            <label class="text-primary bold">Description</label>
                                            <div class="controls">
                                                <textarea class="form-control input-lg" name="description" placeholder="Description" style="height: 120px;" 
                                                v-model="doctor.description"></textarea>
                                            </div>
                                        </div> -->
                                            <div class="form-group required">
                                                <label class="text-primary bold">Description</label>
                                                <!-- <vue-editor v-model="email.content" :editorToolbar="customToolbar" id="editor" v-validate="'required'" name="content"></vue-editor> -->
                                                <div id="summernote" v-model="doctor.description"></div>  
                                            </div>
                                    </div>
                                      
                                </div>
                                <div class="row">
                                     <div class="col-lg-4">
                                        <div class="form-group required">
                                          <image-upload-component 
                                          input_id="file1"
                                          refUpload="upload1"
                                          label="Profile Pic"
                                          button_text="Upload Profile Pic"
                                          type="profile_pic"
                                          :fileArray="files1"
                                          :is_multiple="false"
                                          :is_preview="false"
                                          accept="image/png,image/jpeg"
                                          extensions="jpg,jpeg,png"
                                          :maximum="1"
                                          :inputArray="doctor.user.profile_pic"
                                          :is_multidimensional_array="false"
                                          @fileAdded="setUploadedProfilePic"
                                          @fileRemoved="setUploadedProfilePic"
                                          >   
                                          </image-upload-component>
                                        </div>    
                                    </div> 
                                  <div class="col-lg-4">
                                        <div class="form-group required">
                                          <image-upload-component 
                                          input_id="file2"
                                          refUpload="upload2"
                                          label="Signature Image"
                                          button_text="Upload file"
                                          type="signature_image"
                                          :fileArray="files2"
                                          :is_multiple="false"
                                          :is_preview="false"
                                          accept="image/png,image/jpeg"
                                          extensions="jpg,jpeg,png"
                                          :maximum="1"
                                          :inputArray="doctor.signature_image"
                                          :is_multidimensional_array="false"
                                          @fileAdded="setUploadedSignature"
                                          @fileRemoved="setUploadedSignature">   
                                          </image-upload-component>
                                        </div>    
                                    </div>
                                    <div class="col-lg-4">
                                          <div class="form-group required">
                                                <image-upload-component 
                                                  input_id="file3"
                                                  refUpload="upload3"
                                                  label="Documents"
                                                  button_text="Upload Documents"
                                                  type="doctor_documents"
                                                  :fileArray="files3"
                                                  :is_multiple="true"
                                                  :is_preview="false"
                                                  :accept="$accept"
                                                  :extensions="$extensions"
                                                  :maximum="20"
                                                  :inputArray="doctor.doctor_documents"
                                                  :is_multidimensional_array="true"
                                                  @fileAdded="setUploadedDocuments"
                                                  @fileRemoved="setUploadedDocuments">   
                                                  </image-upload-component>
                                              </div>    
                                        </div> 
                                </div>  
                                <hr>
                                <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons"  @click="updateForm()">{{ buttonText }} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    import DateDropdown from 'vue-date-dropdown';
    import DatePicker from 'vue2-datepicker'
    export default {
        components: {
            DateDropdown, DatePicker
        },
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            if (app.$route.name == 'DoctorCreate') {
              app.type = 'Add';
              app.buttonText = 'Create';
              app.doctor.title = 'Dr';
               app.doctor.dob = '1950-01-01';
            } else if (app.$route.name == 'DoctorEdit') {
                app.type = 'Edit';
                app.buttonText = 'Update';
                app.doctorId = id;
                axios.get(app.$apiUrl+'doctor/' + id)
                    .then(function (resp) {
                        app.doctor = resp.data.data;
                        if (app.doctor.user.profile_pic != null) {
                            app.files1.push({'name' : app.doctor.user.profile_pic, 'error' : ''});
                        }
                        if (app.doctor.signature_image != null) {
                            app.files2.push({'name' : app.doctor.signature_image, 'error' : ''});
                        }
                        if (app.doctor.doctor_documents.length > 0) {
                            $.each(app.doctor.doctor_documents, function(ind, ele) {
                                app.files3.push({'name' : ele.name, 'error' : ''});
                            });
                        }
                        var selected_specialty = {};
                        selected_specialty.label = app.doctor.specialty.name;
                        selected_specialty.value = app.doctor.specialty_id;
                        app.doctor.specialty = selected_specialty; 
                        $('#summernote').summernote('code', app.doctor.description);
                    })
                    .catch(function () {
                    });
            }
            axios.get(app.$apiUrl+'specialties?limit=0')
                .then(function (resp) {
                    app.specialties = resp.data.data.data;
                    if (app.specialties.length > 0) {
                        var specialtiesOptionsArr =  [];
                        $(app.specialties).each(function(ind, ele) {
                            var specialtiesOptions = {};
                            specialtiesOptions.label = ele.name;
                            specialtiesOptions.value = ele.id;
                            specialtiesOptionsArr.push(specialtiesOptions);
                        });
                    }
                    app.specialties = specialtiesOptionsArr;
                   
                })
                .catch(function () {
                });  

            $('#summernote').summernote({
                airMode: false,
                placeholder: 'Write Description',
                height: 300,
                focus: true,
                toolbar: this.customToolbar,
                popover: {
                   image: [],
                   link: [],
                   air: []
                }
              });    
        },
        data: function () {
            return {
                doctorId: null,
                specialties: [],
                doctor: {
                    user : {
                        first_name: '',
                        last_name: '',
                        email: '',
                        gender: "male",
                        mobile_number: '',
                        profile_pic: '',
                        role: 'doctor',
                    },
                    specialty: {
                        label : '',
                        value : '',
                    },
                    specialty_id: '',
                    title : '',
                    dob : '',
                    gmc_number : '',
                    home_address : '',
                    work_address : '',
                    telephone_number : '',
                    signature_image : '',
                    qualification : '',
                    employment_start_date : '',
                    employment_end_date : '',
                    appraisal_date : '',
                    revalidation_date : '',
                    designation : '',
                    description : '',
                    national_insurance_number : '',
                    tax_code : '',
                    bank_name : '',
                    sort_code : '',
                    account_number : '',
                    doctor_documents : [],
                    type : 'admin',
                    
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                files1 : [],
                files2 : [],
                files3 : [],
                type : '',
                buttonText : '',
                customToolbar: [
                      // [groupName, [list of button]]
                      ['style', ['bold', 'italic', 'underline', 'clear']],
                      ['font', ['strikethrough', 'superscript', 'subscript']],
                      ['fontsize', ['fontsize']],
                      ['list', [ 'ordered', 'bullet' ]],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['height', ['height']],
                      ['table', ['table']]
                ],
            }
        },
        methods: {
            updateForm() {
                var app = this;
                var newDoctor = app.doctor;

                 this.$validator.validateAll().then(result => {
                    if (result) {
                        newDoctor.user.role = 'doctor';
                        app.doctor.specialty_id = app.doctor.specialty.value;
                        if (app.doctor.employment_start_date != '' && app.doctor.employment_start_date != null) {
                          app.doctor.employment_start_date = this.$moment(app.doctor.employment_start_date).format('YYYY-MM-DD');
                        }
                        if (app.doctor.employment_end_date != '' && app.doctor.employment_end_date != null) {
                          app.doctor.employment_end_date = this.$moment(app.doctor.employment_end_date).format('YYYY-MM-DD');
                        }
                        if (app.doctor.appraisal_date != '' && app.doctor.appraisal_date != null) {
                          app.doctor.appraisal_date = this.$moment(app.doctor.appraisal_date).format('YYYY-MM-DD');
                        }
                        if (app.doctor.revalidation_date != '' && app.doctor.revalidation_date != null) {
                          app.doctor.revalidation_date = this.$moment(app.doctor.revalidation_date).format('YYYY-MM-DD');
                        }

                        app.doctor.description = $('#summernote').summernote('code');
                        app.isLoading = true;
                        if (app.doctorId == null) {
                          var url = app.$apiUrl+'doctor';
                          var method = 'post';
                        } else {
                          var url = app.$apiUrl+'doctor/' + app.doctorId;
                          var method = 'patch';
                        }
                        axios({
                          method: method,
                          url: url,
                          data:newDoctor
                        })
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/doctors');
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += '<p>'+value+'</p>';
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                    }        
                })
            },
            setUploadedProfilePic(file) {
                this.doctor.user.profile_pic = file;
            },
            setUploadedSignature(file) {
                this.doctor.signature_image = file;
            },
            setUploadedDocuments(files) {
                this.doctor.doctor_documents = files;
            },
        }
    }
</script>
    
