<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Doctors ({{totalDoctors}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>
                            <div class="row">
                                <div class="form-group  pull-right col-sm-3">
                                    <label>Search By Name</label> 
                                    <input type="text" name="keyword" placeholder="Search By Name" v-model="doctor.keyword" class="form-control">
                                  </div> 
                                  <div class="form-group  pull-right col-sm-4">
                                    <label>Filter By Specialty</label> 
                                    <vue-select class="vue-select2" name="select2"
                                            :options="specialties" 
                                            :searchable="true" 
                                            language="en-US"
                                            placeholder="Filter By Specialty"
                                            v-model="specialty"
                                            >
                                    </vue-select>
                                  </div>
                                   <div class="form-group  pull-right col-sm-4">
                                    <label>Filter Assessments By Date Range</label> 
                                    <date-picker v-model="doctor.filter_by_date_assessments" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY" type="date"></date-picker>    
                                  </div>
                                  <div class="form-group  pull-right col-sm-3">
                                    <label>Filter By Status</label> 
                                    <select v-model="doctor.filter_by_status" class="form-control" placeholder="Filter By Status">
                                         <option value="0">Active</option>
                                         <option value="1">Archived</option>
                                     </select>
                                  </div>
                                  <div class="pull-right col-md-2">
                                    <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                                  </div>
                                  <div class="pull-right col-md-7">
                                    <router-link :to="{name: 'DoctorCreate'}" class="btn btn-applyplus btn-cons pull-right m-t-30"><i class="fa fa-plus"></i> Add Doctor</router-link>
                                </div>  
                            </div> 
                            

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="doctors.length > 0">  
                                        <tr v-for="doctor, index in doctors" >
                                            <td>{{ doctor.id }}</td>
                                            <td width="23%"><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="doctor.profile_pic_path" alt="" :data-src="doctor.profile_pic_path" :data-src-retina="doctor.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ doctor.title}}. {{ doctor.user.full_name }}</span></td>
                                            <td width="20%">{{ doctor.specialty.name }}</td>
                                            <td >
                                                <span>Initial Assessment: <strong>{{ doctor.appointments.initial_assessment }}</strong></span><br>
                                                <span>Follow up assessment - type 1: <strong>{{ doctor.appointments.followup_type1 }}</strong></span><br>
                                                <span>Follow up assessment - type 2: <strong>{{ doctor.appointments.followup_type2 }}</strong></span><br>
                                                <span>Telephone advice: <strong>{{ doctor.appointments.telephone_advice }}</strong></span>
                                            </td>  
                                            <td width="25%">
                                                <router-link :to="{name: 'DoctorView', params: {id: doctor.id}}" class="btn btn-xs btn-success">
                                                     <i class="fa fa-eye" title="View"></i>
                                                </router-link>
                                                <router-link :to="{name: 'DoctorEdit', params: {id: doctor.id}}" class="btn btn-xs btn-complete" title="Edit">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </router-link>
                                                <!-- <router-link :to="{name: 'DoctorSchedule', params: {id: doctor.id}}" class="btn btn-xs btn-info" title="Schedule">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </router-link> -->
                                                <a href="#resetPassModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-warning"
                                                   @click="setRecordObj(doctor.user_id, index)" title="Reset Password">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                </a>
                                                
                                                <a href="#archiveRestoreModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs" :class="(doctor.user.is_archived == 0) ? 'btn-danger' : 'btn-info'"
                                                   @click="setRecordObj(doctor.user_id, index, doctor.user.is_archived)" :title="(doctor.user.is_archived == 0) ? 'Archive' : 'Restore'">
                                                    <i class="fa" :class="(doctor.user.is_archived == 0) ? 'fa-archive' : 'fa-undo'" aria-hidden="true"></i>
                                                </a>
                                                <a  v-if="doctor.user.is_blocked_login == 0" href="#blockLoginModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-primary"
                                                   @click="setRecordObj(doctor.id, index, '', doctor.user.is_blocked_login)">
                                                    <i class="fa fa-ban" title="Block Login"></i>
                                                </a>
                                                <a href="#blockLoginModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-primary "
                                                   @click="setRecordObj(doctor.id, index, '', doctor.user.is_blocked_login)" v-else >
                                                    <i class="fa fa-unlock-alt" title="Unblock Login"></i>
                                                </a>
                                                <a  v-if="doctor.user.is_archived == 1" href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="setRecordObj(doctor.id, index)">
                                                    <i class="fa fa-trash" title="Delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getDoctors"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
        <reset-password-modal :id="id"></reset-password-modal>
         <archive-restore-modal :id="id" :action="archiveStatus" :module="archive_module" @actionPerformed="refreshList"></archive-restore-modal>

         <blockLoginModal :id="id" :action="loginAction"  @actionPerformed="refreshList"></blockLoginModal>
    </div>

</template>

<script>
    import DatePicker from 'vue2-datepicker';
    import blockLoginModal from "./BlockLoginModal";
    export default {
        components : {
            DatePicker,blockLoginModal
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Name", "Specialty","Assessments", 'Action'],
                doctors: [],
                specialties: [],
                id: null,
                index:null,
                module:'doctor',
                archive_module:'user',
                pageCount: 0,
                totalDoctors:0,
                search_spinner : false,
                archiveStatus:null,
                loginAction: null,
                doctor: {
                    keyword: '',
                    filter_by_status: '0',
                    filter_by_date_assessments: '',
                    filter_by_specialty : '',
                    appointments : [],
                },
                specialty: null,
                shortcuts: [
                    {
                      text: 'Previous 7 Days',
                      onClick: () => {
                        this.doctor.filter_by_date_assessments = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Previous 30 Days',
                      onClick: () => {
                        this.doctor.filter_by_date_assessments = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Next 7 Days',
                      onClick: () => {
                        this.doctor.filter_by_date_assessments = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
                      }
                    },
                    {
                      text: 'Next 30 Days',
                      onClick: () => {
                        this.doctor.filter_by_date_assessments = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
                      }
                    },
                ],
            }
        },
        mounted() {
            var app = this;
            
            axios.get(app.$apiUrl+'specialties?limit=0')
                .then(function (resp) {
                    app.specialties = resp.data.data.data;
                    if (app.specialties.length > 0) {
                        var specialtiesOptionsArr =  [];
                        $(app.specialties).each(function(ind, ele) {
                            var specialtiesOptions = {};
                            specialtiesOptions.label = ele.name;
                            specialtiesOptions.value = ele.id;
                            specialtiesOptionsArr.push(specialtiesOptions);
                        });
                    }
                    app.specialties = specialtiesOptionsArr;
                   
                })
                .catch(function () {
                });

            app.getDoctors(1);     
        },
        methods: {
            getDoctors:function(page) {
                var app = this;
                app.doctor.page = page || 1;
                app.doctor.limit = 10;

                if (app.specialty != null) {
                    app.doctor.filter_by_specialty = app.specialty.value;
                } else {
                  app.doctor.filter_by_specialty = '';
                }

                if (app.doctor.filter_by_date_assessments != '') {
                  if (app.doctor.filter_by_date_assessments[0] != null) {
                    app.doctor.filter_by_date_assessments[0] = this.$moment(app.doctor.filter_by_date_assessments[0]).format('YYYY-MM-DD');
                  } 

                  if (app.doctor.filter_by_date_assessments[1] != null) {
                    app.doctor.filter_by_date_assessments[1] = this.$moment(app.doctor.filter_by_date_assessments[1]).format('YYYY-MM-DD');
                  } 
                  
                }
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'doctors',
                    params: app.doctor
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.search_spinner = false;
                    app.totalDoctors = resp.data.data.pagination.total;
                    app.doctors = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.search_spinner = false;
                    app.doctors = [];  
                    app.pageCount = 0;
                    app.totalDoctors = 0;
                });
            },
            setRecordObj:function(id, index, archiveStatus, isblockedLogin)
            {
                var app = this;
                app.id = id;
                app.index = index;
                if (archiveStatus != null) {
                    if (archiveStatus == '0')
                        app.archiveStatus = 'archive';
                    else
                        app.archiveStatus = 'restore';
                }

                if (isblockedLogin != null) {
                    if (isblockedLogin == '0')
                        app.loginAction = 'block';
                    else
                        app.loginAction = 'Unblock';
                }
            },
            refreshList(){
                this.doctor.filter_by_status = 0;
                this.getDoctors(1);
            }, 
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getDoctors(1);
            }   
        }
    }
</script>

<style>
    .single.v-select .dropdown-toggle {
        height: 35px !important;
    }
    .single.v-select input[type=search], .v-select input[type=search]:focus {
        margin: 0px !important;
    }
</style>
