<template>
    <div class="modal fade" id="modal-holiday-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <<div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5><span class="modal-title">Add New Holiday</span></h5>
            <p class="p-b-10">Write holiday name and select date range to add new holiday.</p>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError, 'alert-warning':isWarning}"   role="alert" id="user_msg" v-if="isAlertShow">
              {{alertMsg}}
            </div>
             <div class="row">
             <div class="col-xs-12 col-md-12">
                 <div class="form-group required">
                    <label>Name</label>
                    <div class="controls">
                      <input type="text" class="form-control" name="name" placeholder="Enter Holiday Name" 
                      v-model="rec.name"
                      v-validate="'required'"
                      >
                    </div>
                    <small class="text-danger"
                      v-show="errors.has('name')">
                      {{ errors.first('name') }}
                    </small>  
                </div>              
             </div>
             <div class="col-xs-12 col-md-12">
                <div class="form-group required">
                    <label>Select Date Range</label>
                    <div class="controls">
                       <date-picker v-model="rec.date_range" range  lang="en" confirm 
                       name="date_range" format="DD-MM-YYYY"
                       v-validate="'required'"
                       data-vv-as="date range"></date-picker>
                    </div>
                    <small class="text-danger"
                      v-show="errors.has('date_range')">
                      {{ errors.first('date_range') }}
                    </small>  
                </div>  
             </div>             
            </div>
          </div>
          <div class="modal-footer">
             <button class="btn btn-primary btn-cons  pull-left inline" :class="{'show-spinner' : isLoading}" @click="updateForm()"><span>Update</span> <span class="loader"></span><i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  import axios from 'axios';
  import DatePicker from 'vue2-datepicker'
  export default {
    components: {
          DatePicker
        },
    props : ['rec'],
    mounted() {
        var app = this;
        //if (app.rec.from_date) {
           /* var obj = [];
            obj.push(this.$moment('2018-12-03').toString());
            obj.push(this.$moment('2018-12-06').toString());
            app.rec.date_range = obj;
            console.log(app.rec.date_range);*/
        //}
        //app.rec.date_range = app.rec.from_date+' ~ '+app.rec.to_date;
        //app.rec.date_range = '2018-12-03 ~ 2018-12-06';
    },
    data: function () {
        return {
            isAlertShow: false,
            isSuccess:false,
            isError:false,
            isLoading:false,
            alertMsg : '',
            dateValue : null,
            isWarning : false
        }
    },
    methods: {
        updateForm() {
            var app = this;
            var newHoliday = app.rec;
            this.$validator.validateAll().then(result => {
                if (result) {
                    if (app.rec.date_range != '') {
                      if (app.rec.date_range[0] != null) {
                        newHoliday.from_date = this.$moment(app.rec.date_range[0]).format('YYYY-MM-DD');
                      } 

                      if (app.rec.date_range[1] != null) {
                        newHoliday.to_date = this.$moment(app.rec.date_range[1]).format('YYYY-MM-DD');
                      } 
                    }
                    app.isLoading = true;
                    axios.patch(app.$apiUrl+'doctor-holiday/' + this.rec.id, newHoliday)
                        .then(resp => {
                            app.isLoading = false;

                            if (resp.data.status == 'success') {
                              app.isSuccess = true,
                              app.isError = false,
                              app.isWarning = false;
                              app.alertMsg = resp.data.message;
                              app.isAlertShow = true;
                              this.$nextTick(() => this.$validator.reset())
                              setTimeout(function() {
                                  $('#modal-holiday-edit').modal('hide');
                                  resp = app.$emit('recordUpdated');
                                  app.isAlertShow = false;
                              }, 5000);
                            } else if (resp.data.status == 'warning'){
                              app.isWarning = true;
                             if (app.loggedInUser && app.loggedInUser.role == 'superadmin') {
                                app.alertMsg = 'You can not update holiday schedule for these days because doctor have booked appointment(s).';

                              } else {
                                app.alertMsg = resp.data.message;
                              }
                              app.isAlertShow = true;
                              app.isError = false;
                              app.isSuccess = false;
                              setTimeout(function() {
                                  app.isAlertShow = false;
                              }, 5000);
                            }
                        })
                        .catch(function (error) {
                            app.isWarning = false;
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                        });
                }    
            })   
        }
    },
    computed : {

    }
  }

</script>