<template>
    <div class="modal fade" id="modal-holiday-create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5><span class="modal-title">Add New Holiday</span></h5>
            <p class="p-b-10">Write holiday name and select date range to add new holiday.</p>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError , 'alert-warning':isWarning}"   role="alert" id="user_msg" v-if="isAlertShow">
              {{alertMsg}}
            </div>
             <div class="row">
                <div class="col-xs-12 col-md-12">
                  <div class="form-group required">
                      <label>Name</label>
                      <div class="controls">
                        <input type="text" class="form-control" name="name" placeholder="Enter Holiday Name"  
                        v-model="holiday.name"
                        v-validate="'required'"
                        >
                      </div>
                      <small class="text-danger"
                        v-show="errors.has('name')">
                        {{ errors.first('name') }}
                      </small>  
                  </div>                  
                </div>
                 <div class="col-xs-12 col-md-12">
                  <div class="form-group required ">
                      <label>Select Date Range</label>
                      <div class="controls">
                         <date-picker v-model="holiday.date_range" range lang="en" confirm 
                         name="date_range" format="DD-MM-YYYY"
                         v-validate="'required'"
                         data-vv-as="date range"></date-picker>
                      </div>
                      <small class="text-danger"
                        v-show="errors.has('date_range')">
                        {{ errors.first('date_range') }}
                      </small>  
                  </div>  
                 </div>
             
            </div>
          </div>
          <div class="modal-footer">
             <button class="btn btn-primary btn-cons  pull-left inline" :class="{'show-spinner' : isLoading}" @click="saveForm()"><span>Create</span> <span class="loader"></span><i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script >
  import axios from 'axios';
  import DatePicker from 'vue2-datepicker'
  export default {
    props : ['doctor_id'],
    components: {
          DatePicker
        },
    mounted() {
        var app = this;
    },
    data: function () {
        return {
            holiday: {
                name: '',
                doctor_id: '',
                from_date: '',
                to_date: '',
                date_range : this.$moment(new Date()),
            },
            isAlertShow: false,
            isSuccess:false,
            isWarning:false,
            isError:false,
            isLoading:false,
            alertMsg : '',
        }
    },
    methods: {
        saveForm() {
            var app = this;
            var newHoliday = app.holiday;
            newHoliday.doctor_id = app.doctor_id;
            
            this.$validator.validateAll().then(result => {
                if (result) {
                    if (app.holiday.date_range != '') {
                      if (app.holiday.date_range[0] != null) {
                        newHoliday.from_date = this.$moment(app.holiday.date_range[0]).format('YYYY-MM-DD');
                      } 

                      if (app.holiday.date_range[1] != null) {
                        newHoliday.to_date = this.$moment(app.holiday.date_range[1]).format('YYYY-MM-DD');
                      } 
                      
                    }
                    app.isLoading = true;
                    axios.post(app.$apiUrl+'doctor-holiday', newHoliday)
                    .then(resp => {
                            app.isLoading = false;
                            if (resp.data.status == 'success') {
                              app.isSuccess = true,
                              app.isError = false,
                              app.isWarning = false;
                              app.alertMsg = resp.data.message;
                              app.isAlertShow = true;
                              app.holiday.name = '';
                              app.holiday.date_range = '';
                              this.$nextTick(() => this.$validator.reset())
                              setTimeout(function() {
                                  app.isAlertShow = false;
                                  $('#modal-holiday-create').modal('hide');
                                  resp = app.$emit('recordAdded');
                                  
                              }, 5000);
                            } else if (resp.data.status == 'warning'){
                              app.isWarning = true;
                              if (app.loggedInUser && app.loggedInUser.role == "superadmin") {
                                app.alertMsg = 'You can not add holiday schedule for these days because doctor have booked appointment(s).';

                              } else {
                                app.alertMsg = resp.data.message;
                              }
                              
                              app.isAlertShow = true;
                              app.isError = false;
                              app.isSuccess = false;
                              setTimeout(function() {
                                  app.isAlertShow = false;
                              }, 5000);
                            }
                            
                            
                            
                        })
                        .catch(function (error) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isWarning = false;
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                        });
                }    
            })   
        }
    }
  }

</script>