<template>
	<div class="patient-profile-page patient-assesment-page">
		<header-component></header-component>
		<!-- left section -->
		<div class="assesment-left pos-fixed" v-if="doctorId != null">
	        <div class="scrollbar" id="style-4">
	            <div class="force-overflow">
	            <div class="assesment-profile-photo">
                    <div class="profile-iamge">
                        <img alt="Profile Image" class="profile-pic" :src="doctor.profile_pic_path" v-if="doctor.profile_pic_path != ''">
                        <img :src="$imageUrl+'dummy/profile-avatar.png'" alt="Profile Image"  v-else>
                    </div>
	                <h2 class="patient-name patient-profile-name">{{ doctor.title}}.{{ doctor.user.full_name }}</h2>
	            </div>
	            <div class="assesment-profile-info">
	                <div class="row">
	                    <!-- <div class="col-xs-12 col-md-5"><p><span>DOB:</span> {{ doctor.dob | moment('DD MMM YYYY')}}</p></div>
	                    <div class="col-xs-12 col-md-3"><p><span>Age:</span> {{ doctor.age}}</p></div> -->
	                    <div class="col-xs-12 col-md-4"><p><span>Gender:</span> {{ doctor.user.gender}}</p></div>
                         <div class="col-xs-12 col-md-4"><p><span>GMC Number:</span> {{ doctor.gmc_number}}</p></div>
                        <div class="col-xs-12 col-md-4"><p><span>Designation:</span> {{ doctor.designation}}</p></div>
                         <div class="col-xs-12 col-md-4"><p><span>Qualification:</span> {{ doctor.qualification}}</p></div>
                         <div class="col-xs-12 col-md-4">
                            <router-link :to="{ name: 'BookAppointment'}" class="btn btn-white"> Book Appointment</router-link>   
                        </div>      
	                </div>
	                <!-- <p><span>Work Address:</span> {{doctor.work_address}} </p>
	                <p><span>Mobile:</span> {{ doctor.user.mobile_number}}</p>
	                <p><span>Email:</span> {{ doctor.user.email}}</p> -->
	            </div>
	            <div class="clearfix"></div>           	           
	            </div>
	        </div>
	    </div>
	    <!-- right section -->
	    <div class="assesment-center" v-if="doctorId != null">
	    	<div class="">
                <div class="scrollbar" id="style-4">
                    <div class="force-overflow">
                        <div class="tab-content-main">
                        <div class="left-sidebar custom-tabs-style2">
                                <ul class="patient-tabs-rt-2">
                                    <li class="item" :class="{'active' : leftTabVal == 'description-tab-content'}" @click="showLeftTabs('description-tab-content')">
                                        <a href="javascript:;" data-content=".description-tab-content">Description</a>
                                    </li>
                                    <li class="item" :class="{'active' : leftTabVal == 'schedule-tab-content'}" @click="showLeftTabs('schedule-tab-content')">
                                        <a href="javascript:;" data-content=".psychatric-tab-content">Schedule</a>
                                    </li>
                                    
                                </ul>
                            </div>           
                            <div class="account-tab-content description-tab-content" :class="{'active' : leftTabVal == 'description-tab-content'}">
    							<p v-html="doctor.description"></p>
    							                 	
                        	</div>
                            <div class="account-tab-content schedule-tab-content" :class="{'active' : leftTabVal == 'schedule-tab-content'}" >
                       
                                <div class="table-responsive ">
                                  <table class="table table-hover " id="basicTable">
                                    <thead>
                                      <th>Day</th>
                                      <th>Availibilty</th>
                                    </thead>
                                    <tbody>
                                        <template v-if="doctorSchedule">  
                                            <tr v-for="schedule, index in doctorSchedule">
                                                <td>
                                                    {{index}}
                                                </td>
                                                <template v-if="schedule.length > 0">   
                                                    <td>
                                                        <p v-for="sch,ind in schedule">
                                                            {{ sch.opening_time_name }} - {{ sch.closing_time_name }} ({{ sch.appointment_name }})
                                                        </p>
                                                        
                                                    </td> 
                                                </template > 
                                                <template v-else> 
                                                    <td>Not Available</td>
                                                </template >
                                            </tr>
                                        </template>
                                        <template v-else> 
                                            <tr>
                                                <td colspan="10">
                                                    <div class="blank-data">
                                                        <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                        <h3>Nothing Here Yet!</h3>
                                                        <p>Did not find anything .. try again.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                  </table>
                                </div>
                                      
                                                    
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 20px;">
                          
                        <div class="col-md-5">      
                            <router-link :to="{ name : 'DoctorProfileDetail', params : {id : previousDoctor.id}}" class="pull-left" v-if="previousDoctor != ''"><i class="icon-angle-left"></i> {{ previousDoctor.title}} {{ previousDoctor.user.full_name }}</router-link>
                        </div> 
                        <div class="col-md-2 text-center">
                            <router-link :to="{ name : 'OurDoctors'}"><i class="icon-circle"></i><i class="icon-circle"></i><i class="icon-circle"></i></router-link>
                        </div>
                        <div class="col-md-5">
                            <router-link :to="{ name : 'DoctorProfileDetail', params : {id : nextDoctor.id}}" class="pull-right" v-if="nextDoctor != ''">{{ nextDoctor.title}} {{ nextDoctor.user.full_name }} <i class="icon-angle-right"></i></router-link>
                        </div> 
                    </div>
                </div>

    		</div>
    	</div>
        
	
	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';

	export default {
        beforeCreate: function() {
            document.body.className = 'landing-page patient-assesment-page';
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        data: function () {
             return {
                doctorId: null,
                module: 'doctor',
                doctorSchedule : [],
                doctor: {
                    user : {
                        first_name: '',
                        last_name: '',
                        email: '',
                        gender: "male",
                        mobile_number: '',
                        profile_pic: '',
                        role: 'doctor',
                    },
                    specialty: {
                        label : '',
                        value : '',
                    },
                    id: this.$route.params.id,
                    specialty_id: '',
                    title : '',
                    dob : '',
                    gmc_number : '',
                    home_address : '',
                    work_address : '',
                    telephone_number : '',
                    signature_image : '',
                    qualification : '',
                    employment_start_date : '',
                    employment_end_date : '',
                    appraisal_date : '',
                    revalidation_date : '',
                    rating : 0,
                    doctor_documents : [],
                },
                documentsArr : [],
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                tabName:'',
                leftTabVal : 'description-tab-content',
                nextDoctor : '',
                previousDoctor : '',
            }
        },
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            axios.get(app.$apiUrl+'doctor/' + id)
            .then(function (resp) {
                app.doctor = resp.data.data;
                app.doctorId = id;
                app.getNextDoctor(id);
                
            })
            .catch(function () {
            });

            app.getDoctorSchedule(id);
        }, 
        methods : {
        	showLeftTabs(name) {
                var app = this;
                app.leftTabVal = name;
                
            },
            getDoctorSchedule(id) {
                var app = this;
                axios.get(app.$apiUrl+'doctor-schedule/chart/' + id+'?page=1&limit=0')
                .then(function (resp) {
                    app.doctorSchedule = resp.data.data;
                })
                .catch(function (resp) {
                    app.doctorSchedule = [];  
                }); 
            },
            getNextDoctor(id) {
                var app = this;
                axios.get(app.$apiUrl+'doctor-next/' + id)
                .then(function (resp) {
                    app.nextDoctor = resp.data.data.nextDoctor;
                    app.previousDoctor = resp.data.data.previousDoctor;
                })
                .catch(function (resp) {
                    app.nextDoctor = '';  
                    app.previousDoctor = '';  
                }); 
            },
        }         
       
    }
</script>
<style type="text/css">
	.m-t-30 {
		margin-top: 30px;
	}
    /*.profile-pic {
        width: 250px;
        height: 250px;
    }*/
</style>
