<template>
	<span>
        <header-component></header-component>
		<div class="landing-banner inner-banner about-banner doctor-banner">
        <div class="middle-align">
          <div class="inner">
            <div class="max-wrapper">
                <h1 class="inner-banner-heading">Meet Our Doctors 
                    <span>
                        <i class="icon-check"></i> GMC- registered consultant psychiatrists<br>
                        <i class="icon-check"></i> NHS-trained <br>
                        <i class="icon-check"></i> Carefully vetted by us to ensure that you receive the best possible care </span>
                </h1>

            </div>              
          </div>
        </div>
    </div>
    <!-- steps section -->
    <div class="section"  v-if="!isPageLoading">
        <div class="max-wrapper">
        	<div class="row">
        		<div class="col-md-5">

		        	<div class="form-group">
						<label>Filter By Specialty</label>
						<select class="form-control" v-model="doctor.filter_by_specialty" placeholder="Filter By Specialty">
							 <option value="">All</option>
		                     <option v-for="specialty in specialties" :value="specialty.id">{{specialty.name}}</option>
						</select>
					 </div>
		      	</div>
		      	<div class="col-md-5">
		      		<div class="form-group">
		            	<label>Search By Name</label> 
		            	<input type="text" name="keyword" placeholder="Search By Name" v-model="doctor.keyword" class="form-control">
		          	</div>
		        </div> 
		        <div class="col-md-2">
					<button class="btn btn-primary filter-search btn-block" :class="{'show-spinner' : isLoading}" 
					@click="searchRec" >
						<span>Search</span>
						<div class="loader"></div>
					</button>
				</div>
        	</div>
        	 
        <div class="row" v-if="doctors.length > 0">
            <div class="col-xs-12 col-md-4" v-for="doctor,index in doctors">
               <router-link :to="{ name : 'DoctorProfileDetail', params : {id : doctor.id}}">
                    <div class="team-member style-2 text-center">
                      <div class="team-images">
                        <!-- <img class="img-fluid" :src="$imageUrl+'dummy/1.jpg'" alt=""> -->
                        <img class="img-fluid" :src="doctor.profile_pic_path" alt="Profile Image" v-if="doctor.user.profile_pic != ''">
                        <img class="img-fluid" :src="$imageUrl+'avatar2.png'" alt="Profile Image" v-else>
	                    </div>
	                    <div class="team-description"> 	
	                        <h5 class="mb-2">{{ doctor.title }} {{ doctor.user.full_name }}</h5> 
	                        <p>{{ doctor.specialty.name }}</p>
	                    </div>
                	</div>
                </router-link>
            </div>
            <div class="col-xs-12 col-md-12 text-center">
                <a href="javascript:;" class="btn btn-primary loadmore-btn" :class="{'show-spinner' : isLoadMoreLoading}" @click="getDoctors(false);" v-show="isLoadMore">
                    <span>Loadmore</span>
                    <div class="loader"></div>
                </a>
            </div>
        </div>
        <div v-else class="col-md-12">
        	<p class="text-center">No Record Found</p>
        </div>
            <div class="clearfix"></div>  
        </div>
    </div>
    <c-spinner v-if="isPageLoading"></c-spinner>
    <footer-component></footer-component>
	</span>
</template>
<script>
    import axios from 'axios';
    export default {
    	beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        data: function () {
            return {
            	specialties : [],
                doctors: [],
                pageCount: 0,
                totalDoctors:0,
                doctor : {
                	filter_by_specialty : '',
                	keyword : '',
                },
                isLoadMore : false,
                isPageLoading : false,
                isLoadMoreLoading : false,
                isLoading : false,
            }
        },
        mounted() {
        	var app = this;
        	axios.get(app.$apiUrl+'specialties?limit=0')
                  .then(function (resp) {
                      app.specialties = resp.data.data.data;
                  })
                  .catch(function () {
                  }); 
            this.getDoctors(true);
        },
        methods: {
            getDoctors:function(load) {
                var app = this;
                if (load) {
                    app.doctor.page = 1;
                    app.isPageLoading = true;
                } else {
                    app.isLoadMoreLoading = true;
                }
                
                app.doctor.limit = 10;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'doctors',
                    params: app.doctor
                })
                .then(function (resp) {
                	app.isLoading = false;
                    if (load) {
                        app.isPageLoading = false;
                        app.doctors = resp.data.data.data;
                        
                    } else {
                        app.isLoadMoreLoading = false;
                        $(resp.data.data.data).each(function(ind, ele) {
                            app.doctors.push(ele);
                        });
                    }

                    let pagination = resp.data.data.pagination;
                    if (pagination.last_page != pagination.current_page) { // more pages
                        app.isLoadMore = true;
                        app.doctor.page = pagination.current_page+1;
                    } else {
                        app.isLoadMore = false;
                        app.doctor.page = 1;
                    }
                })
                .catch(function (resp) {
                	app.isLoading = false;
                    app.isLoadMore = false;
                    app.isPageLoading = false;
                    app.doctors = [];  
                    app.pageCount = 0;
                    app.totalDoctors = 0;
                });
            }, 
            searchRec() {
	            var app = this;
	            app.isLoading = true;
	            app.getDoctors(true);
	        },
        }
    }
</script>
<style type="">
    /*.blue-stars {
        color: #085494;
        font-size: 12px;
        margin-top: 10px;
        position: absolute;
        margin-left: -15px;
    }*/
    .inner-banner.doctor-banner {
        height: 250px;
    }
</style>