<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Hospital Records ({{totalHospitalRecords}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>

                            <!-- <div style="float: right;">
                                <router-link :to="{name: 'LabFormCreate'}" class="btn btn-applyplus btn-cons"><i class="fa fa-plus"></i> Add LabForm</router-link>
                            </div> -->
                            <div class="row">
                                <div class="form-group  pull-right col-sm-4">
                                    <label>Filter By Doctor</label> 
                                    <select v-model="hospital_record.filter_by_doctor_id" class="form-control" placeholder="Filter By Doctor">
                                         <option value="">All</option>
                                         <option v-for="doctor in doctors" :value="doctor.id">{{doctor.user.full_name}}</option>
                                     </select>
                                </div>
                                <div class="form-group  pull-right col-sm-4">
                                    <label>Filter By Patient</label> 
                                    <vue-select class="vue-select2" name="select2"
                                            :options="patients" 
                                            :searchable="true" 
                                            language="en-US"
                                            placeholder="Filter By Patient"
                                            v-model="patient"
                                            >
                                    </vue-select>
                                  </div>
                                   <div class="form-group  pull-right col-sm-4">
                                    <label>Filter By Consent Sharing</label> 
                                    <select v-model="hospital_record.filter_by_consent_sharing" class="form-control" placeholder="Filter Consent Sharing">
                                         <option value="">All</option>
                                         <option value="1">Yes</option>
                                         <option value="0">No</option>
                                     </select>
                                  </div>  
                               
                                <div class="form-group  pull-right col-sm-4">
                                    <label>Filter By Date Range</label> 
                                   <date-picker v-model="hospital_record.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm format="DD-MM-YYYY" type="date"></date-picker>
                                  </div>

                                  <div class="pull-right col-md-2">
                                    <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                                  </div> 

                            </div>
                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="hospital_records.length > 0">  
                                        <tr v-for="record, index in hospital_records" >
                                            <td>{{ record.id }}</td>
                                            <td>{{ record.mental_hospital_address.name }}</td>
                                             <td><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="record.appointment.patient.profile_pic_path" alt="" :data-src="record.appointment.patient.profile_pic_path" :data-src-retina="record.appointment.patient.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ record.appointment.patient.user.full_name }}</span></td>  
                                            <td><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="record.appointment.doctor.profile_pic_path" alt="" :data-src="record.appointment.doctor.profile_pic_path" :data-src-retina="record.appointment.doctor.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ record.appointment.doctor.user.full_name }}</span></td>
                                             
                                            <!-- <td>{{ (record.is_emailed == '1') ? 'Yes' : 'No' }}</td> -->
                                            <td>{{ (record.appointment.patient.sharing_consent == '1') ? 'Yes' : 'No'  }}</td>
                                            <td>{{ record.created_at | moment("DD-MM-YYYY h:mm a") }}</td>
                                            <td>
                                                <a href="javascript:;"
                                                   class="btn btn-xs btn-success"
                                                   @click="showViewPopup(record.id)"  title="View">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="#sendFormEmail"
                                                data-toggle="modal"
                                                   class="btn btn-xs btn-complete"
                                                   @click="setRecordObj(record.id, index)"  title="Email">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                                 <a href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="setRecordObj(record.id, index)"  title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getHospitalRecords"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
        <hospitalRecordSendEmail :id="id" ></hospitalRecordSendEmail>
        <hospitalRecordViewModal></hospitalRecordViewModal>

         
        </div>
    </div>

</template>

<script>
    import hospitalRecordViewModal from './../../frontend/patient-assessement/HospitalRecordViewModal.vue';
    import hospitalRecordSendEmail from "./HospitalRecordSendEmail.vue";
    import DatePicker from 'vue2-datepicker'
    export default {
        components: {
            hospitalRecordViewModal, hospitalRecordSendEmail, DatePicker
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID","Hospital Name", "Patient","Doctor",  "Consent Sharing","Created At", 'Action'],
                hospital_records: [], 
                hospital_record: {
                    filter_by_doctor_id: '',
                    filter_by_patient_id: '',
                    filter_by_date_range: '',
                    filter_by_consent_sharing : '1',
                }, 
                doctors: [],
                patients : [],
                id: null,
                index:null,
                module:'clinical/hospital-record',
                pageCount: 0,
                totalHospitalRecords:0,
                search_spinner:false,
                patient: null,
                shortcuts: [
                    {
                      text: 'Previous 7 Days',
                      onClick: () => {
                        this.hospital_record.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Previous 30 Days',
                      onClick: () => {
                        this.hospital_record.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
                      }
                    },
                    {
                      text: 'Next 7 Days',
                      onClick: () => {
                        this.hospital_record.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
                      }
                    },
                    {
                      text: 'Next 30 Days',
                      onClick: () => {
                        this.hospital_record.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
                      }
                    },
                ],
            }
        },
        mounted() {
            var app = this;
            axios.get(app.$apiUrl+'patients?limit=0')
                .then(function (resp) {
                    app.patients = resp.data.data.data;
                    if (app.patients.length > 0) {
                        var patientsOptionsArr =  [];
                        $(app.patients).each(function(ind, ele) {
                            var patientsOptions = {};
                            patientsOptions.label = ele.user.full_name;
                            patientsOptions.value = ele.id;
                            patientsOptionsArr.push(patientsOptions);
                        });
                    }
                    app.patients = patientsOptionsArr;
                   
                })
                .catch(function () {
                });
            axios.get(app.$apiUrl+'doctors?limit=0')
                .then(function (resp) {
                    app.doctors = resp.data.data.data;
                })
                .catch(function () {
                });
            app.getHospitalRecords(1);
        },
        methods: {
            getHospitalRecords:function(page) {
                var app = this;
                app.hospital_record.limit = 10;
                app.hospital_record.page = page || 1;
                if (app.patient != null) {
                    app.hospital_record.filter_by_patient_id = app.patient.value;
                } else {
                    app.hospital_record.filter_by_patient_id = '';
                }

                if (app.hospital_record.filter_by_date_range != '') {
                  if (app.hospital_record.filter_by_date_range[0] != null) {
                    app.hospital_record.filter_by_date_range[0] = this.$moment(app.hospital_record.filter_by_date_range[0]).format('YYYY-MM-DD');
                  } 

                  if (app.hospital_record.filter_by_date_range[1] != null) {
                    app.hospital_record.filter_by_date_range[1] = this.$moment(app.hospital_record.filter_by_date_range[1]).format('YYYY-MM-DD');
                  } 
                  
                }
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'clinical/hospital-records',
                    params: app.hospital_record
                })
                    .then(function (resp) {
                        app.isLoading = false;
                        app.search_spinner = false;
                        app.totalHospitalRecords = resp.data.data.pagination.total;
                        app.hospital_records = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                        app.isLoading = false;
                        app.search_spinner = false;
                        app.hospital_records = [];  
                        app.pageCount = 0;
                        app.totalHospitalRecords = 0;
                    });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getHospitalRecords(1);
            },  

            showViewPopup:function(id)
            {
                var app = this;
                app.id = id;
                EventBus.$emit('showHospitalRecPopup', id);
            },
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getHospitalRecords(1);
            } 
        }
    }
</script>
<style scoped="">
    .v-select .dropdown-toggle {
        height: 35px;
    }
    .v-select input[type=search], .v-select input[type=search]:focus {
        margin: 0px !important;
    }

    select::-ms-expand {
        display: none;
    }
</style>
