<template>
    <span>
        <header-component></header-component>
		<div class="section">
			<div class="section grey membership-section">
	    <div class="max-wrapper">
	        <div class="row custom-box-row">
	            <div class="col-xs-12 col-md-3  custom-col">
	                <div class="column benefits-req-column">
	                    <div class="inner">
	                       <h2 class="section-heading ">Benefits</h2>
	                       <div class="price-list">
	                            <ul class="list-unstyled">
	                                <li>Lorem ipsum dolor sit amet</li>
	                                <li>Aliquam molestie vestibulum</li>
	                                <li>Ut fringilla aliquam leo. Duis dictum</li>
	                                <li>justo vel augue pellentesque suscipit</li>
	                                <li>Nunc porta libero est, </li>
	                                <li>Nam egestas sem eget finibus</li>
	                            </ul>
	                        </div>  
	                    </div>                    
	                </div>
	            </div>
	            <div class="col-xs-12 col-md-3  custom-col">
	                <div class="column membership-column">
	                        <div class="inner">
	                            <h2 class="section-heading ">Membership</h2>
	                            <div class="price-value">
	                                <h2>
	                                    <span class="price-dollar">$</span>25<span>/ Month</span>
	                                </h2>
	                            </div>
	                            <div class="price-list">
	                              <ul class="list-unstyled">
	                                <li>Appointment length: <strong>unlimited</strong></li>
	                                <li>Additional 10 minute extensions: <strong>free</strong></li>
	                                <li>Prescription admin fee: <strong>free</strong></li>
	                                <li>Fit notes: <strong>free</strong></li>
	                                <li>Referrals: <strong>free</strong></li>
	                                <li>Personalised content</li>
	                            </ul>
	                        </div>   
	                        <router-link :to="{ name: 'Membership'}"  class="btn btn-white">  Get Membership</router-link>                                       
	                    </div>                
	                </div>
	            </div>

	            <div class="col-xs-12 col-md-3  custom-col">
	                <div class="column membership-column pay-us-column">
	                        <div class="inner">
	                            <h2 class="section-heading ">Pay as you go</h2>
	                            <div class="price-value">
	                                <h2>
	                                    <span class="price-dollar">$</span>30<span>/ Month</span>
	                                </h2>
	                            </div>
	                            <div class="price-list">
	                              <ul class="list-unstyled">
	                                <li>Appointment length:  <strong>10 minutes</strong></li>
	                                <li>Additional 10 minute extensions: <strong>£15</strong></li>
	                                <li>Prescription admin fee: <strong>£8</strong></li>
	                                <li>Fit notes: <strong>£15</strong></li>
	                                <li>Referrals: <strong>£15</strong></li>
	                                <li>Limited access to content</li>
	                            </ul>
	                        </div>  
	                        <router-link :to="{ name: 'BookAppointment'}"  class="btn btn-white"> Book Appointment</router-link>                                      
	                    </div>                
	                </div>
	            </div>

	            <div class="col-xs-12 col-md-3 custom-col">
	                <div class="column benefits-req-column">
	                    <div class="inner">
	                       <h2 class="section-heading ">Requirements</h2>
	                        <div class="price-list">
	                            <ul class="list-unstyled">
	                                <li>Lorem ipsum dolor sit amet</li>
	                                <li>Aliquam molestie vestibulum</li>
	                                <li>Ut fringilla aliquam leo. Duis dictum</li>
	                                <li>justo vel augue pellentesque suscipit</li>
	                                <li>Nunc porta libero est, </li>
	                                <li>Nam egestas sem eget finibus</li>
	                            </ul>
	                        </div>  
	                    </div>                    
	                </div>
	            </div>                        
	</div>
	</div>
	</div>
		</div>
		<footer-component></footer-component>
	</span>    
</template>