<template>
    <span>
        <header-component></header-component>
         <div class="landing-banner for-doctor-banner membership-banner">
        <ul>
            <li>
                <img :src="$imageUrl+'banner/membership-banner.jpg'">
                <div class="banner-content">
                    <div class="middle-align">
                        <div class="inner">
                            <div class="price-list">
                                  <ul class="list-unstyled">
                                    <li>Huge savings on appointment costs </li>
                                    <li>Free Repeat Blood Test service</li>
                                    <li>Free Fit Notes and much more</li>
                                </ul>
                                <a href="javascript:;" class="btn btn-primary btn-md" @click="goto('subscription')" v-if="$loggedInUser != '' && $loggedInUserIsMember == 0"> Get Membership </a>
                            </div>                        
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="section grey no-pad" style="display: none;">
        <div class="alternat-columns">
            <div class="cols col-left">
                <div class="middle-align">
                        <div class="inner">
                            <div class="content">
        <!--                                 <h2 class="section-heading ">Membership</h2>
                                <div class="price-value">
                                </div> -->
                                <div class="price-list">
                                  <ul class="list-unstyled">
                                    <li>Huge savings on appointment costs </li>
                                    <li>Free Repeat Blood Test service</li>
                                    <li>Free Fit Notes and much more</li>
                                </ul>
                                <a href="javascript:;" class="btn btn-primary btn-md" @click="goto('subscription')"> Get Membership </a>
                            </div>                            
                            </div>                                      
                        </div>
                </div>    
            </div>
            <div class="cols col-right">
                <div class="middle-align">
                    <div class="inner">
                        <div class="content">
                            <div class="inner">
<!--                                 <h2>The most convenient way to see a doctor</h2>
                                <p>Pate velit essle duis irue dolor repa enderitn dolor fugiat pariaturs Excepeur sintusa ocae cupdat proident suntin culpa officia deserunt laborums perspiciat aute. Lorem ipsum dolor sit amet, consectetur elit sed dore eiusmod tempor incididunt.</p> -->
                                <div class="price-list">
                                  <ul class="list-unstyled">
                                    <li>Many benefits for online consultation</li>
                                    <li>No need to travel</li>
                                    <li>No need to spend on travelling and parking</li>
                                    <li>No need to take time off work.</li>
                                </ul>
                            </div>  
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="section" ref="subscription">
        <div class="row">
            <div class="col-xs-12 col-md-12">
            <div class="max-wrapper">
                <h2 class="section-heading text-center">Service We <span>Provide</span></h2>
                <div class="table-responsive">
                        <table class="table table-bordered what-we-offer-table">
                        <thead>
                              <tr>
                                <th scope="col" rowspan="2" class="table-service-col row-middle-align" width="100">Services</th>
                                <th scope="col" colspan="2" class="table-fees-col text-center" >Fees</th>
                                <th scope="col" rowspan="2" class="table-description-col row-middle-align" width="350">Description</th>
                                <th scope="col" rowspan="2" class="table-prescription-col row-middle-align" width="200">Prescription Issued</th>
                            </tr>
                            <tr>
                                <th scope="row" width="120" class="text-center">Member</th>
                                <th width="120" class="text-center">Pay as you go</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Initial <br> Assessment</strong></td>
                                <td class="text-center"><strong>£60</strong></td>
                                <td class="text-center"><strong>£180</strong></td>
                                <td>Assessment, diagnosis and formulation of treatment plan.<br> 
                                Duration: 20 minutes </td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Follow up <br>Assessment- <br>Type 1</strong></td>
                                <td class="text-center"><strong>£30</strong></td>
                                <td class="text-center"><strong>£90</strong></td>
                                <td>For less complex conditions such as anxiety and depression etc. Your doctor will suggest the most suitable follow up appointment for you. <br>Duration: 10 minutes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Follow up <br>Assessment- <br>Type 2</strong></td>
                                <td class="text-center"><strong>£90</strong></td>
                                <td class="text-center"><strong>£270</strong></td>
                                <td>For complex conditions or if you want more time with the doctor. <br>Duration: 30 minutes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Telephone  <br>Adivce</strong></td>
                                <td class="text-center"><strong>£15</strong></td>
                                <td class="text-center"><strong>£45</strong></td>
                                <td>For general queries. If you need medication changes always choose a follow up assessment.  </td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td><strong>Health  <br>Records</strong></td>
                                <td class="text-center"><strong>Free Access</strong></td>
                                <td class="text-center"><strong>Free Access</strong></td>
                                <td>Access your records online. We will never send any health records to your home address.</td>
                                <td>Not Applicable</td>
                            </tr>
                            <tr>
                                <td><strong>Repeat <br> Prescription Service</strong></td>
                                <td class="text-center"><strong>Free</strong></td>
                                <td class="text-center"><strong>Not Available</strong></td>
                                <td>Never run out of medication. Prescription sent to your chosen pharmacy on a monthly basis regardless of appointment (only for members).</td>
                                <td>Yes</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <p><span class="info-text">*</span>Fees may vary according to the speciality, skill and experience of the doctor. Please check this at the time of booking the appointment. </p>            
                    <div class="alert col-md-12 mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-show="isAlertShow" v-html="alertMsg">
            </div>
            <div class="clearfix"></div>
             <div class="form-group mt-20" v-if="$loggedInUser != '' && $loggedInUserIsMember == 0">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
                        <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link>
                    </label>
                </div>
            </div> 
            <div class="text-center btn-group-membership" v-if="$loggedInUser != '' && $loggedInUserIsMember == 0">
                
                                    
                <div class="clearfix"></div>
                <a class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="checkout" v-if="$loggedInUser != ''">
                  <span>Subscribe Now</span>
                  <div class="loader"></div>
                </a>
                <router-link :to="{ name: 'Login'}" class="btn btn-primary btn-md" v-else> Subscribe Now</router-link>
                <span class="or_separator">OR</span>
                <router-link :to="{ name: 'BookAppointment'}" class="btn btn-warning btn-md"> Book Standard Appointment</router-link>
            </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- <div class="section grey comparision-chart " style="padding-top: 0px; ">
        <div class="max-wrapper">
        <h2 class="section-heading text-center">Services We <span>Provide</span></h2>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered what-we-offer-table">
                        <thead>
                              <tr>
                                <th scope="col" rowspan="2" class="table-service-col row-middle-align" width="100">Services</th>
                                <th scope="col" colspan="2" class="table-fees-col text-center" >Fees</th>
                                <th scope="col" rowspan="2" class="table-description-col row-middle-align" width="350">Description</th>
                                <th scope="col" rowspan="2" class="table-prescription-col row-middle-align" width="200">Prescription Issued</th>
                            </tr>
                            <tr>
                                <th scope="row" width="120" class="text-center">Member</th>
                                <th width="120" class="text-center">Pay as you go</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Initial <br> Assessment</strong></td>
                                <td class="text-center"><strong>£60</strong></td>
                                <td class="text-center"><strong>£180</strong></td>
                                <td>Assessment, diagnosis and formulation of treatment plan.<br> 
                                Duration: 20 minutes </td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Follow up <br>Assessment- <br>Type 1</strong></td>
                                <td class="text-center"><strong>£30</strong></td>
                                <td class="text-center"><strong>£90</strong></td>
                                <td>For less complex conditions such as anxiety and depression etc. Your doctor will suggest the most suitable follow up appointment for you. <br>Duration: 10 minutes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Follow up <br>Assessment- <br>Type 2</strong></td>
                                <td class="text-center"><strong>£90</strong></td>
                                <td class="text-center"><strong>£270</strong></td>
                                <td>For complex conditions or if you want more time with the doctor. <br>Duration: 30 minutes</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td><strong>Telephone  <br>Adivce</strong></td>
                                <td class="text-center"><strong>£15</strong></td>
                                <td class="text-center"><strong>£45</strong></td>
                                <td>For general queries. If you need medication changes always choose a follow up assessment.  </td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td><strong>Health  <br>Records</strong></td>
                                <td class="text-center"><strong>Free Access</strong></td>
                                <td class="text-center"><strong>Free Access</strong></td>
                                <td>Access your records online. We will never send any health records to your home address.</td>
                                <td>Not Applicable</td>
                            </tr>
                            <tr>
                                <td><strong>Repeat <br> Prescription Service</strong></td>
                                <td class="text-center"><strong>Free</strong></td>
                                <td class="text-center"><strong>Not Available</strong></td>
                                <td>Never run out of medication. Prescription sent to your chosen pharmacy on a monthly basis regardless of appointment (only for members).</td>
                                <td>Yes</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <p><span class="info-text">*</span>Fees may vary according to the speciality, skill and experience of the doctor. Please check this at the time of booking the appointment. </p>
                </div>
            </div>
        </div>
    </div> -->
	<vue-stripe-checkout
      ref="checkoutRef"
      :image="$imageUrl+'favicon/64x64.png'"
      :name="stripe.name"
      :description="stripe.description"
      :currency="stripe.currency"
      :amount="stripe.amount"
      :allow-remember-me="false"
      :email="stripe.email"
      @done="donePayment"
    ></vue-stripe-checkout>	
    <footer-component></footer-component>
	</span>    
</template>
<script type="text/javascript">
    import Vue from 'vue';
    import axios from 'axios';
    import VueStripeCheckout from 'vue-stripe-checkout';
    Vue.use(VueStripeCheckout, this.$stripeKey);
    export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
        mounted () {
            var app = this;
            app.stripe.email = app.$loggedInUser.email;
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        data: function () {
             return {
                stripe : {
                  name: 'Happy Clinic',
                  description: 'Membership Subscription',
                  currency: 'GBP',
                  email: '',
                  amount: this.$membershipFee*100,
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                terms_consent : false,
                privacy_policy_consent : false,
             }
        },
        methods : {
            async checkout () {
               token = await this.$refs.checkoutRef.open();
            },
            donePayment (token) {
                 var app = this;

                  app.isLoading = true;
                  app.payment = {};
                  app.payment.patient_id = app.$loggedInUser.patient_id;
                  app.payment.token = token.token;
                  var newObject = app.payment;
                  axios.post(app.$apiUrl+'subscription/membership', app.payment)
                    .then(function (resp) {
                        app.isLoading = false;
                        app.isAlertShow = true;
                        app.isSuccess = true;
                        app.isError = false;
                        app.alertMsg = 'You have subscribed successfully';
                        var user = JSON.parse(app.$store.getters.getAuthUser);
                        user.is_member = 1;
                        app.$store.commit('setAuthUser', user);
                        //setTimeout(app.$router.replace('/book-appointment'), 2000)

                    })
                    .catch(function (error) {
                        app.isLoading = false;
                        app.isAlertShow = false;
                        app.isSuccess = false;
                        app.isError = true;
                        app.alertMsg = error.response.message;
                    });
            },
            goto(refName) {
                var element = this.$refs[refName];
                var top = element.offsetTop;
                window.scrollTo(0, top);
            }
        }
    }
</script>    