<template>
    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Add Notes</h5>
          </div>
          <div class="modal-body">
            <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                     {{alertMsg}}
                  </div>
            <div class="form-group form-group-default required">
                <label class="text-primary bold">Subject</label>
                <div class="controls">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" 
                  v-model="newNote.subject"
                  v-validate="'required'">
                </div>
                <small class="text-danger"
                  v-show="errors.has('subject')">
                  {{ errors.first('subject') }}
                </small>  
            </div>
            <div class="form-group form-group-default required">
                <label class="text-primary bold">Notes</label>
                <div class="controls">
                    <textarea class="form-control input-lg" name="note" placeholder="Notes" style="height: 120px;" 
                    v-model="newNote.note" v-validate="'required'"></textarea>
                </div>
                <small class="text-danger"
                  v-show="errors.has('note')">
                  {{ errors.first('note') }}
                </small>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-primary btn-cons  pull-left inline">Save <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  export default {
    props : ['created_on', 'module'],
    data () {
      return {
        newNote : {
          subject : '',
          note : '',
        },
        isLoading:false,
        isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        
      }
    },
    methods : {
      submit() {
            var app = this;
            this.$validator.validateAll().then(result => {
              if (result) {
                app.newNote.created_on = app.created_on;
                app.newNote.module = app.module;
                app.isLoading = true;
                axios({
                  method: 'patch',
                  url:app.$apiUrl+'note',
                  data:app.newNote
                })
                .then(resp => {
                    app.isLoading = false;
                    app.isAlertShow = true;
                    app.isSuccess = true;
                    app.isError = false;
                    app.alertMsg = 'Note has been added successfully.';
                    app.newNote.subject = '';
                    app.newNote.note = '';
                    this.$nextTick(() => this.$validator.reset())
                    setTimeout(function() {
                        $('#addNoteModal').modal('hide');
                        app.isAlertShow = false;
                        //app.errors.clear();
                        resp = app.$emit('noteRecAdded');
                    }, 5000);
                    
                })
                .catch(function (resp) {
                  app.isLoading = false;
                  app.isSuccess = false,
                  app.isError = true,
                  app.isAlertShow = true;
                  app.alertMsg = 'Error occured';
                });
              }
            });    
        }   
    }
  }

</script>

