<template>
  <div class="modal fade stick-up" id="archiveRestoreModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Confirmation</h5>
          </div>
          <div class="modal-body">
            <p class="no-margin">Are you sure that you want to {{ action }} this {{ module }}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" @click="submit" class="btn btn-primary btn-cons  pull-left inline">{{ action | capitalize}}</button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
  export default {
    props : ['id','module', 'action'],
    data () {
      return {
        newStatus : {
          id : '',
          status : '',
        }
      }
    },
    methods : {
      submit() {
            var app = this;
            app.newStatus.id = app.id;
            if (app.action == 'archive')
              app.newStatus.status = '1';
            else
              app.newStatus.status = '0';
            
            axios.put(app.$apiUrl+app.module+'/update-status', app.newStatus)
            .then(resp => {
                $('#archiveRestoreModal').modal('hide');
                resp = this.$emit('actionPerformed');
                
            })
            .catch(function (resp) {
            });
        }   
    }
  }

</script>

