<template>
  <div class="modal fade message-attachment-view" id="attachmentViewModal" tabindex="-1" role="dialog" aria-hidden="true" ref="vuemodal">
      <div class="modal-dialog">
        <div class="modal-content-wrapper">
          <div class="modal-content">
            <div class="modal-header clearfix text-left">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14" @click="resetModal"></i>
              </button>
              <h5 class="pull-left">Attachment</h5>

            </div>
            <div class="modal-body">
              <a :href="filePath" target="_blank" class="btn btn-applyplus btn-xs inline pull-right" title=" Open in new window" v-if="is_image == true"><i class="fa fa-external-link"></i></a>
              <div class="outer" v-if="is_image == true">
                  <div class="inner">
                    <img :src="filePath" id="img_div" alt="Image"/>
                  </div>
              </div>
              <div v-else>
                 <img id="loader1" :src="$baseUrl+'/assets/img/loader.gif'" width="80" height="50" alt="loading gif"/>
                <iframe class="doc" :src="filePath" id="iframe1" ></iframe>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal" @click="resetModal">Close</button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
</template>
<script>
  export default {
    props : ['file_path', 'extension'],
    data() {
      return {
        new_file_path : '',
        is_image : false,
      }
    },
    mounted() {

      $('#iframe1').on('load', function () {
          $('#loader1').hide();
      });
      $(this.$refs.vuemodal).on("show.bs.modal", this.hidePreviousModal)
    },
    methods : {
      resetModal() {
        this.new_file_path = '';
      },
      hidePreviousModal () {
        if ($('.modal').is(':visible')) {
          $('.modal').modal('hide');
        }
      }
    },
    computed : {
      filePath () {
        var app = this;
        var imageExArr = ['jpg', 'jpeg', 'png'];
        var docExArr = ['doc', 'docx', 'pdf'];
        if(jQuery.inArray(app.extension, imageExArr) !== -1) {
          app.new_file_path = app.file_path;
          app.is_image = true;
          $('#attachmentViewModal .modal-dialog').css('min-width', '0px');
        } else if (jQuery.inArray(app.extension, docExArr) !== -1) {
          app.new_file_path = 'https://docs.google.com/gview?url='+app.file_path+'&embedded=true';
          app.is_image = false;
          $('#attachmentViewModal .modal-dialog').css('min-width', '800px');
        }
        return app.new_file_path;
      },
    }
  }
</script>

<style type="scoped">
  .doc {
    width: 100%;
    height: 450px;
  }
  @media (min-width: 768px) {
    .modal-xl {
      width: 100% !important;
     max-width:1200px !important;
    }
  }

  #frameWrap {
    position:relative;
    width: 100%;
    height: 450px;
    border: 1px solid #777777;
    background:#f0f0f0;
    box-shadow:0px 0px 10px #777777;
}

#iframe1 {
    width: 100%;
    height: 450px;
    margin:0;
    padding:0;
    border: 1px solid #777777;
}

#loader1 {
    position:absolute;
    left:47%;
    top:42%;
    width: 50px;
    height: 50px;
}

#img_div
{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}

.outer
{
    display: table;
    border: 1px solid #888;
    width: 100%;
    height: 450px;
    text-align: center;
}

.inner
{
    display: table-cell;
    height: 450px;
    width: 450px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.message-attachment-view .modal-body .outer,.message-attachment-view .modal-body .outer .inner{
    width: 100% !important;
    height: auto !important;
}

.message-attachment-view .modal-body .inner img{
    width: 100% !important;
    height: auto !important;
    max-height: 100% !important;
}
</style>
