<template>
	<!-- START CONTAINER FLUID -->
	    <!-- <div class=" container-fluid  container-fixed-lg footer">
	       <div class="copyright sm-text-center">
	          <p class="small no-margin pull-right sm-pull-reset">
	             Hand-crafted <span class="hint-text">&amp; made with Love</span>
	          </p>
	          <div class="clearfix"></div>
	       </div>
	    </div> -->
	    <!-- END COPYRIGHT -->
</template>