<template>
  <!-- START HEADER -->
   <div class="header" v-if="isAuthUser">
      <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
      </a>
      <div class="">
         <div class="brand inline">
            <img :src="$baseUrl+'/htmlv1/images/logo-wide.png'" alt="logo" :data-src="$baseUrl+'/htmlv1/images/logo-wide.png'" :data-src-retina="$baseUrl+'/htmlv1/images/logo-wide.png'" class="logo-div">
            <!-- width="140" -->
         </div>
         <ul class="hidden-md-down notification-list no-margin hidden-sm-down b-grey b-l b-r no-style p-l-30 p-r-20">
          <!--                   <li class="p-r-10 inline">
               <div class="dropdown">
                  <a href="javascript:;" id="notification-center" class="header-icon pg pg-world" data-toggle="dropdown">
                  <span class="bubble"></span>
                  </a>
                  <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                     <div class="notification-panel">
                        <div class="notification-body scrollable">
                           <div class="notification-item unread clearfix">
                              <div class="heading open">
                                 <a href="#" class="text-complete pull-left">
                                 <i class="pg-map fs-16 m-r-10"></i>
                                 <span class="bold">Carrot Design</span>
                                 <span class="fs-12 m-l-10">David Nester</span>
                                 </a>
                                 <div class="pull-right">
                                    <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                                       <div><i class="fa fa-angle-left"></i>
                                       </div>
                                    </div>
                                    <span class=" time">few sec ago</span>
                                 </div>
                                 <div class="more-details">
                                    <div class="more-details-inner">
                                       <h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br>
                                          distinguishes between <br>
                                          A leader and a follower.”
                                       </h5>
                                       <p class="small hint-text">
                                          Commented on john Smiths wall.
                                          <br> via pages framework.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                                 <a href="#" class="mark"></a>
                              </div>
                           </div>
                           <div class="notification-item  clearfix">
                              <div class="heading">
                                 <a href="#" class="text-danger pull-left">
                                 <i class="fa fa-exclamation-triangle m-r-10"></i>
                                 <span class="bold">98% Server Load</span>
                                 <span class="fs-12 m-l-10">Take Action</span>
                                 </a>
                                 <span class="pull-right time">2 mins ago</span>
                              </div>
                              <div class="option">
                                 <a href="#" class="mark"></a>
                              </div>
                           </div>
                           <div class="notification-item  clearfix">
                              <div class="heading">
                                 <a href="#" class="text-warning-dark pull-left">
                                 <i class="fa fa-exclamation-triangle m-r-10"></i>
                                 <span class="bold">Warning Notification</span>
                                 <span class="fs-12 m-l-10">Buy Now</span>
                                 </a>
                                 <span class="pull-right time">yesterday</span>
                              </div>
                              <div class="option">
                                 <a href="#" class="mark"></a>
                              </div>
                           </div>
                           <div class="notification-item unread clearfix">
                              <div class="heading">
                                 <div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
                                    <img width="30" height="30" :data-src-retina="$baseUrl+'/assets/img/profiles/1x.jpg'" :data-src="$baseUrl+'/assets/img/profiles/1.jpg'" alt="" :src="$baseUrl+'/assets/img/profiles/1.jpg'">
                                 </div>
                                 <a href="#" class="text-complete pull-left">
                                 <span class="bold">Revox Design Labs</span>
                                 <span class="fs-12 m-l-10">Owners</span>
                                 </a>
                                 <span class="pull-right time">11:00pm</span>
                              </div>
                              <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                                 <a href="#" class="mark"></a>
                              </div>
                           </div>
                        </div>
                        <div class="notification-footer text-center">
                           <a href="#" class="">Read all notifications</a>
                           <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                           <i class="pg-refresh_new"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </li> -->
             <!--<li class="p-r-10 inline">
               <a href="#" class="header-icon pg pg-link"></a>
            </li>
            <li class="p-r-10 inline">
               <a href="#" class="header-icon pg pg-thumbs"></a>
            </li> -->
         </ul>
         <!-- END NOTIFICATIONS LIST -->
          <!--<a href="#" class="search-link hidden-md-down" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a> -->
      </div>
      <div class="d-flex align-items-center">

        <div class="visible-lg visible-md m-t-10">
          <div class="pull-left p-r-10 p-t-10 fs-16 font-heading" style="font-size: 14px !important;">
            {{first_name}} {{last_name}}
          </div>
          <div class="dropdown pull-right">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="thumbnail-wrapper d39 circular inline m-t-5">
              <img :src="profile_pic" alt="" :data-src="profile_pic" :data-src-retina="profile_pic"  >
          </span>
            </button>
            <ul class="dropdown-menu profile-dropdown dropdown-menu-right" role="menu">
                  <router-link :to="{ name: 'ProfileComponent'}" class="dropdown-item"><i class="fa fa-user"></i> Profile</router-link>
                  <router-link :to="{ name: 'AccountComponent'}" class="dropdown-item"><i class="pg-settings_small"></i> Change Password</router-link>
                    <!-- <a @click="logout" href="javascript:;" class="clearfix bg-master-lighter dropdown-item">
                   <span><i class="pg-power"></i></span>
                   <span>Logout</span>
                   </a> -->
                   <router-link :to="{name : 'Logout'}" class="clearfix bg-master-lighter dropdown-item"><span><i class="pg-power"></i></span>
                   <span>Logout</span></router-link>
            </ul>
          </div>
        </div>

         <!-- END User Info-->
         <!-- <a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview"></a> -->
      </div>
   </div>
   <!-- END HEADER -->
</template>

<script>
    export default {
        created() {
        },
        computed: {
            isAuthUser: function () {
                var app = this;
                if(localStorage.getItem('lbUser')) {
                    var user = JSON.parse(localStorage.getItem('lbUser'));
                    app.first_name = user.first_name;
                    app.last_name = user.last_name;
                    app.profile_pic = app.$baseUrl+'/storage/profile_pic/'+user.profile_pic;
                    return true;
                } else {
                    app.$router.replace('/login');
                }
            }
        },
        data : function() {
          return {
            first_name : null,
            last_name :null,
            profile_pic : null,
            //isAuthUser : false,
          }
        },
        methods: {
            /*logout() {
                var app = this;
                  axios.post(app.$apiUrl+'logout')
                  .then(function (resp) {
                      window.localStorage.removeItem('lbUser');
                      app.$router.replace('/login');
                  })
                  .catch(function (resp) {
                  });
            } */
        }
    }
</script>
<style scoped="">
  .logo-div {
     width: 100% !important;
  }
  
</style>