<template>
  <span>
    <label class="text-primary bold" for="finalArray" v-html="label"></label>
     <ul class="list-unstyled">
      <li v-for="(file, index) in finalArray" :key="file.id">
        <span>{{file.name}} <i @click="removeFile(type,finalArray,index)" class="fa fa-times-circle" aria-hidden="true"></i></span>
        <span v-if="file.error" class="text-danger text-small">- {{file.error}} -> {{responseError}}</span>
        <span v-else-if="file.success" class="text-success text-small">- success</span>
        <span v-else></span>
      </li>
    </ul>
      
    <file-upload 
      v-model="finalArray"
      :input-id="input_id"
      :post-action="$apiUrl+'media/upload'"
      :accept="accept"
      :extensions="extensions"
      @input-file="inputFile"
      @input-filter="inputFilter"
      :data="{type: type}"
      :ref="refUpload"
      :size="10000000"
      :maximum="maximum"
      :thread="thread"
      class="btn btn-complete col-md-12" >
      <span v-if="!isUploading">
        <i class="fa fa-upload"></i> 
        {{ button_text }}
      </span>
      <span else>
        <i v-show="isUploading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      </span>
      
    </file-upload>
  </span>  
</template>

<script>
    export default {
        props : ['fileArray', 'label', 'type','input_id', 'is_preview' ,'accept', 'extensions', 'button_text', 'is_multiple', 'refUpload', 'maximum', 'thread', 'inputArray', 'is_multidimensional_array'],
        data(){
            return {
                finalArray: [],
                isUploading : false,
                uploadedArray : (this.is_multiple)? [] : '',
                responseError: '',
            }
        },
        mounted(){
          var app =this;
          app.finalArray = app.fileArray;
          EventBus.$on('CleanupFiles', function() {
            app.finalArray = [];
          });
        },
        watch : {
          inputArray: function(newVal, oldVal) {
            var app = this;
            if (newVal.length >  0) {
              app.uploadedArray = newVal;
            }
          }
        },
        methods: {
            inputFile(newFile, oldFile, prevent) {
                var app = this;
                if (newFile && oldFile) {
                    if (newFile.response.status != undefined) {
                      if (newFile.response.status == 'success') {
                        this.responseError = '';
                      } else {
                        this.responseError = newFile.response.message;
                      }
                    }
                    if (newFile.response.name != undefined) {
                      if (app.is_multiple) {
                        if (app.is_multidimensional_array) {
                          if ($.inArray(newFile.response.name, $.map(app.uploadedArray, function(v) { return v['name']; })) > -1) {
                          } else {
                              var obj = {};
                              obj.name = newFile.response.name;
                              obj.created_at = newFile.response.created_at;
                              app.uploadedArray.push(obj);
                              this.$emit('fileAdded', app.uploadedArray);
                          }
                        } else {

                          if(jQuery.inArray(newFile.response.name, app.uploadedArray) !== -1) {
                          }else {
                            app.uploadedArray.push(newFile.response.name);
                            this.$emit('fileAdded', app.uploadedArray);
                          }
                        }
                        
                      } else {
                        app.uploadedArray = newFile.response.name;
                        this.$emit('fileAdded', app.uploadedArray);

                      }
                       
                    }
                }
                if (newFile && !oldFile) {
                  if (!this.$refs[app.refUpload].active) {
                      this.$refs[app.refUpload].active = true;
                  }
                }
            },
             inputFilter(newFile, oldFile, prevent) {
              var app = this;
              app.isUploading = true;
              if (newFile.active == false) {
                app.isUploading = false;
              }
              if (newFile && !oldFile) {
                // Before adding a file
                // Filter system files or hide files
                if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                  return prevent()
                }
                // Filter php html js file
                if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                  return prevent()
                }
              }
              if (newFile.error == 'size') {
                this.responseError = "This file can't be uploaded. Maximum file-size is 10MB.";
              }
            },
            removeFile(type, array, index) {
              var app = this;
              array.splice(index, 1);
              if (app.is_multiple) {
                app.uploadedArray.splice(index, 1);
              } else {
                app.uploadedArray = '';
              }
              this.$emit('fileRemoved', app.uploadedArray);
            }
        }
    }
</script>