<template>
	<img :src="$baseUrl+'/htmlv1/images/logo-wide.png?ver=2'"  style="width: 60%;" alt="logo" :data-src="$baseUrl+'/htmlv1/images/logo-wide.png?ver=2'" :data-src-retina="$baseUrl+'/htmlv1/images/logo-wide.png?ver=2'" class="logo-div">
</template>
<style scoped="">
	.logo-div {
		width: 80% !important;
    	margin-left: 35px;
	}
	
</style>