<template>
  <div class="row col-md-12">
    <div class="row col-md-12 pt-4">
      <div class="form-group  pull-right col-sm-4">
        <label>Search By Message</label> 
        <input type="text" name="keyword" placeholder="Search By Message" v-model="message.keyword" class="form-control">
      </div>
      <div class="form-group  pull-right col-sm-3">
          <label>Filter By Flag</label> 
          <select v-model="message.filter_by_flag" class="form-control" placeholder="Filter By Flag">
                <option value="0">All</option>
               <option value="1">Flagged</option>
           </select>
        </div>
      <!-- <div class="form-group  pull-right col-sm-5">
        <label>Filter By Date Range</label> 
       <date-picker v-model="message.filter_by_date_range" range :shortcuts="shortcuts" lang="en" confirm></date-picker>
      </div>  -->
      
      <div class="pull-right col-md-2">
        <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="message.search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
      </div>  
    </div>
    <div class="card-block dataTables_wrapper no-padding">
      <div class="table-responsive ">
        <table class="table table-hover " id="basicTable">
          <thead>
            <th>Date Time</th>
            <th>Subject</th>
            <th>Sender/Receiver</th>
            <th>Message</th>
            <th>Attachments</th>
            <!-- <th>Received/Sent</th> -->
            <th>Action</th>
          </thead>
          <tbody>
              <template v-if="messages.length > 0">  
                  <tr v-for="message, index in messages" >
                      <td>{{ message.created_at | moment("DD-MM-YYYY, h:mm a") }}</td>
                      <td>{{ message.support.subject }}</td>
                      <td><p >{{ message.sender.full_name}} to {{ message.receiver.full_name}}</p></td>
                      
                      <td><a href="#messageModal" data-toggle="modal" class="btn btn-xs btn-complete" @click="showMessage(message.message, message.id, message.encryptedId)" title="View"><i class="fa fa-eye"></i></a></td>
                      <td><template v-if="message.docs.length > 0">
                          <a href="#attachmentModal" data-toggle="modal" class="btn btn-xs btn-applyplus" @click="showAttachments(message.docs)" title="View"><i class="fa fa-eye"></i></a>
                        </template>
                        <template v-else>
                            -
                        </template>
                      </td>
                      <!-- <td><p v-if="message.sender_id !== 'user_id'">Recieved</p>
                          <p v-else>Sent</p>
                      </td> -->
                      <td width="18%"><router-link :to="{name: 'SupportView', params: {slug: message.support.slug}}" class="btn btn-applyplus" title="Reply"><i class="fa fa-mail-reply"></i> </router-link>
                        <router-link :to="{name: 'SupportForward', params: {id: message.id}}" class="btn btn-info" title="Forward"><i class="fa fa-mail-forward"></i> </router-link>
                        <a  href="#deleteRecModal"
                          data-toggle="modal"
                         class="btn btn-xs btn-danger m-t-10"
                         @click="setRecordObj(message.id, index)">
                          <i class="fa fa-trash" title="Delete"></i>
                        </a>
                        <a  href="javascript:;"
                         class="btn btn-xs m-t-10" :class="(message.is_flagged == 1)? 'btn-success' :'btn-default'"
                         @click="toggleFlag(message.id)">
                          <i class="fa fa-flag-o" :title="(message.is_flagged == 1) ? 'Remove Flag' : 'Add Flag'"></i>
                        </a></td>
                   </tr>
              </template>
              <template v-else> 
                  <tr>
                      <td colspan="10">
                          <div class="blank-data">
                              <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                              <h3>Nothing Here Yet!</h3>
                              <p>Did not find anything .. try again.</p>
                          </div>
                      </td>
                  </tr>
              </template>
          </tbody>
          </table>
      </div>
      <div class="row">
        <div>
          <div class="dataTables_paginate paging_simple_numbers">
            <paginate
              :page-count="message.pageCount"
              :page-range="3"
              :margin-pages="1"
              :click-handler="getMessages"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'">
            </paginate>
          </div>
        </div>
      </div>
      <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content-wrapper">
            <div class="modal-content">
              <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Message</h5>
              </div>
              <div class="modal-body">
                <p id="printarea" v-html="popupMessage"></p>
              </div>
              <div class="modal-footer">
               <!--   <button type="button" class="btn btn-applyplus btn-cons  pull-left inline" data-dismiss="modal" @click="$printData('printarea', 'Message')"><i class="fa fa-print"></i> Print</button> -->
               <a :href="$apiUrl+'message?id='+encryptedId" class="btn btn-applyplus btn-cons  pull-left inline" target="_blank"><i class="fa fa-print"></i> Print </a>
                <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content-wrapper">
            <div class="modal-content">
              <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Attachments</h5>
              </div>
              <div class="modal-body">
                <div class="card-block dataTables_wrapper">
                  <div class="table-responsive ">
                    <table class="table table-hover " id="basicTable">
                      <thead>
                       <!--  <th>ID</th> -->
                        <th>File Name</th>
                        <th>Action</th>
                      </thead>
                      <tbody>
                          <template v-if="docs.length > 0">  
                              <tr v-for="doc, index in docs" >
                                  <!-- <td>{{ index+1 }}</td> -->
                                  <td>{{ doc.file }}</td>
                                  <td width="50%"><a href="#attachmentViewModal" data-toggle="modal" class="btn btn-xs btn-complete m-r-10" @click="viewAttachment(doc.file_path, doc.extension)"><i class="fa fa-eye"></i> View</a><a :href="doc.file_path" class="btn btn-xs btn-applyplus" download=""><i class="fa fa-download"></i> Download</a></td>
                               </tr>
                          </template>
                          <template v-else> 
                              <tr>
                                  <td colspan="10">
                                      <div class="blank-data">
                                          <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                          <h3>Nothing Here Yet!</h3>
                                          <p>Did not find anything .. try again.</p>
                                      </div>
                                  </td>
                              </tr>
                          </template>
                      </tbody>
                      </table>
                  </div>
              </div>   
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      
      <!-- <attachment-view-modal :file_path="file_path" :extension="extension"></attachment-view-modal> -->
      <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
      <!-- <print :printData="printData"></print> -->
    </div>
  </div>
</template>


<script>
  import DatePicker from 'vue2-datepicker'
  export default {
    props : ['user_id'],
    components: {
       DatePicker, 
    },
    data: function () {
      return {
        id : null,
        index : null,
        encryptedId : null,
        module: 'support/message',
        messages : [],
        message: {
            pageCount: 0,
            totalMessages:0,
            keyword : '',
            filter_by_flag : '0',
            search_spinner : null,
        },
        popupMessage : '',
        docs : [],
        file_path : '',
        extension : '',
         shortcuts: [
            {
              text: 'Previous 7 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(7, 'days').toString(), new Date() ]
              }
            },
            {
              text: 'Previous 30 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ this.$moment(new Date()).subtract(30, 'days').toString(), new Date() ]
              }
            },
            {
              text: 'Next 7 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(7, 'days').toString() ]
              }
            },
            {
              text: 'Next 30 Days',
              onClick: () => {
                this.appointment.filter_by_date_range = [ new Date(), this.$moment(new Date()).add(30, 'days').toString() ]
              }
            },
        ],
      }
    },
    mounted() {
      var app =this;
      //this.getMessages(1);
      EventBus.$on('getMessages',function() {
        app.getMessages(1);
      });
    },
    computed: {
        $loggedInUser: function () {
            return JSON.parse(this.$store.getters.getAuthUser);
        }
    },
    methods : {
      getMessages(page) {
          var app = this;
          app.message.page = page || 1;
          app.message.limit = 10;
          app.message.filter_by_logged_in_user_id = app.$loggedInUser.id;
          app.message.filter_by_other_user_id = app.user_id;
          app.message.keyword = app.message.keyword;
          app.message.filter_by_flag = app.message.filter_by_flag;
          app.message.filter_by_not_complaints = 1;

          axios({
              method: 'get',
              url: app.$apiUrl+'support/messages',
              params: app.message
          })
          .then(function (resp) {
              app.message.search_spinner = false;
              app.message.totalMessages = resp.data.data.pagination.total;
              app.messages = resp.data.data.data;
              app.message.pageCount = resp.data.data.pagination.last_page;
          })
          .catch(function (resp) {
              app.messages = [];  
              app.message.pageCount = 0;
              app.message.totalMessages = 0;
          });
      },
      showMessage(msg, id, encryptedId) {
        this.popupMessage = msg;
        this.id = id;
        this.encryptedId = encryptedId;
      },
      showAttachments(docs) {
        this.docs = docs;
      },
      viewAttachment(file_path, extension) {
          EventBus.$emit('viewAttachment', file_path, extension);
      },
      setRecordObj:function(id, index)
      {
          var app = this;
          app.id = id;
          app.index = index;
      },
      refreshList(){
          this.getMessages(1);
      }, 
      toggleFlag(id) {
        var app = this;
        axios.put(app.$apiUrl+'support/message/toggle-flag/'+id)
            .then(resp => {
                app.refreshList();
            })
            .catch(function (resp) {
            });
      },
      searchRec() {
          var app = this;
          app.message.search_spinner = true;
          app.getMessages(1);
      }, 
    }  
  }
</script>
