<template>
   <!-- BEGIN SIDEBPANEL-->
      <nav class="page-sidebar" data-pages="sidebar">
         <!-- BEGIN SIDEBAR MENU HEADER-->
         <div class="sidebar-header">
           <!--  <img :src="$baseUrl+'/assets/img/logo-pill.jpg'" alt="logo" class="brand" :data-src="$baseUrl+'/assets/img/logo-pill.jpg'" :data-src-retina="$baseUrl+'/assets/img/logo-pill.jpg'" width="140" > -->
            <div class="sidebar-header-controls" style="display: none;">
               <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
               </button>
               <button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
               </button>
            </div>
         </div>
         <!-- END SIDEBAR MENU HEADER-->
         <!-- START SIDEBAR MENU -->
         <div class="sidebar-menu">
            <!-- BEGIN SIDEBAR MENU ITEMS-->
            <ul class="menu-items">
               <!-- <li class="m-t-30" :class="{'active' : $route.name == 'DashboardIndex' }">
                  <router-link :to="{ name: 'DashboardIndex'}">Dashboard</router-link>
                  <span class="icon-thumbnail"><i class="pg-home" aria-hidden="true"></i></span>
               </li> -->
               <li class="m-t-30" :class="{'active' : $route.name == 'DoctorIndex' }">
                <router-link :to="{ name: 'DoctorIndex'}">Doctors</router-link>
                <span class="icon-thumbnail"><i class="fa fa-user-md" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'PatientIndex' }">
                <router-link :to="{ name: 'PatientIndex'}">Patients</router-link>
                <span class="icon-thumbnail"><i class="fa fa-bed" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'AppointmentIndex' }">
                <router-link :to="{ name: 'AppointmentIndex'}">Appointments</router-link>
                <span class="icon-thumbnail"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'LabFormIndex' }">
                <router-link :to="{ name: 'LabFormIndex'}">Lab Forms</router-link>
                <span class="icon-thumbnail"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'HospitalRecordIndex' }">
                <router-link :to="{ name: 'HospitalRecordIndex'}">Hospital Records</router-link>
                <span class="icon-thumbnail"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'BloodTestIndex' }">
                <router-link :to="{ name: 'BloodTestIndex'}">Repeat Blood Test Service</router-link>
                <span class="icon-thumbnail"><i class="fa fa-flask" aria-hidden="true"></i></span>
              </li>
              <li class="hasSubmenu membership " :class="{ active: isActiveMembership }" :data-submenu="membership_submenu">
                
                <a href="javascript:;" @click="activeMainLi('membership')">Memberships </a>
                <span class="icon-thumbnail"><i class="fa  fa-certificate" aria-hidden="true"></i></span>
                <ul class="sub-menu">
                  <li :class="{'active' : $route.name == 'MembershipIndex' }">
                    <router-link :to="{ name: 'MembershipIndex'}">List</router-link>
                    <span class="icon-thumbnail"><i class="fa fa-list"></i></span>
                  </li>
                  <li :class="{'active' : $route.name == 'MembershipCancelRequests' }">
                    <router-link :to="{name: 'MembershipCancelRequests'}">Cancel Requests</router-link>
                     <span class="icon-thumbnail"><i class="fa fa-ban"></i></span>
                   
                  </li>
                  
                </ul>
              </li>

              <li :class="{'active' : $route.name == 'SpecialtyIndex' }">
                <router-link :to="{ name: 'SpecialtyIndex'}">Specialties</router-link>
                <span class="icon-thumbnail"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
              </li>
              <li  :class="{'active' : $route.name == 'EmailIndex' }">
                <router-link :to="{ name: 'EmailIndex'}">Email </router-link>
                <span class="icon-thumbnail"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              </li>
              <li class="hasSubmenu support " :class="{ active: isActiveSupport }" :data-submenu="support_submenu">
                
                <a href="javascript:;" @click="activeMainLi('support')">Support   <span class="badge badge-success" v-show="newMessageCount > 0">{{ newMessageCount }}</span></a>
                <span class="icon-thumbnail"><i class="fa fa-support" aria-hidden="true"></i></span>
                <ul class="sub-menu">
                  <li :class="{'active' : $route.name == 'SupportForm' }">
                    <router-link :to="{name: 'SupportForm', params: {type: 'doctor', 'id' : 0} }">New</router-link>
                     <span class="icon-thumbnail"><i class="fa fa-plus"></i></span>
                   
                  </li>
                  <li :class="{'active' : $route.name == 'SupportIndex' }">
                    <router-link :to="{ name: 'SupportIndex'}">List</router-link>
                    <span class="icon-thumbnail"><i class="fa fa-list"></i></span>
                  </li>
                </ul>
              </li>
              <li :class="{'active' : $route.name == 'ComplaintIndex' }">
                <router-link :to="{ name: 'ComplaintIndex'}">Complaints <span class="badge badge-success" v-show="newComplaintCount > 0">{{ newComplaintCount }}</span></router-link>
                <span class="icon-thumbnail"><i class="fa fa-comments" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'MentalHealthHospitalIndex' }">
                <router-link :to="{ name: 'MentalHealthHospitalIndex'}">Mental Health Hospitals</router-link>
                <span class="icon-thumbnail"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'LaboratoryIndex' }">
                <router-link :to="{ name: 'LaboratoryIndex'}">Laboratories</router-link>
                <span class="icon-thumbnail"><i class="fa fa-flask" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'AuditsIndex' }">
                <router-link :to="{ name: 'AuditsIndex'}">Audits</router-link>
                <span class="icon-thumbnail"><i class="fa fa-history" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'PolicyIndex' }">
                <router-link :to="{ name: 'PolicyIndex'}">Policies</router-link>
                <span class="icon-thumbnail"><i class="fa fa-certificate" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'StaffIndex' }">
                <router-link :to="{ name: 'StaffIndex'}">Staff</router-link>
                <span class="icon-thumbnail"><i class="fa fa-users" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'TestimonialIndex' }">
                <router-link :to="{ name: 'TestimonialIndex'}">Testimonials</router-link>
                <span class="icon-thumbnail"><i class="fa fa-list" aria-hidden="true"></i></span>
              </li>
              <li :class="{'active' : $route.name == 'SeriousIncidentIndex' }">
                <router-link :to="{ name: 'SeriousIncidentIndex'}">Serious Incidents</router-link>
                <span class="icon-thumbnail"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
              </li>
              <!-- <li :class="{'active' : $route.name == 'PageIndex' }">
                <router-link :to="{ name: 'PageIndex'}">Pages</router-link>
                <span class="icon-thumbnail"><i class="fa fa-file" aria-hidden="true"></i></span>
              </li> -->
              <li class="hasSubmenu settings " :class="{ active: isActiveSettings }" :data-submenu="settings_submenu">
                
                <a href="javascript:;" @click="activeMainLi('settings')">Settings </a>
                <span class="icon-thumbnail"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                <ul class="sub-menu">
                  <li :class="{'active' : $route.name == 'AppointmentFeeForm' }">
                    <router-link :to="{ name: 'AppointmentFeeForm'}">Appointment Fee</router-link>
                     <span class="icon-thumbnail"><i class="fa fa-money"></i></span>
                   
                  </li>
                  <li :class="{'active' : $route.name == 'AppointmentReminderSchedule' }">
                    <router-link :to="{ name: 'AppointmentReminderSchedule'}">Appointment Reminder Scheduler</router-link>
                    <span class="icon-thumbnail"><i class="fa fa-calendar"></i></span>
                  </li>
                  <li :class="{'active' : $route.name == 'BusinessSettings' }">
                    <router-link :to="{ name: 'BusinessSettings'}">Business Settings</router-link>
                    <span class="icon-thumbnail"><i class="fa fa-cog"></i></span>
                  </li>
                </ul>
              </li>
               <li :class="{'active' : $route.name == 'LogIndex' }">
                <router-link :to="{ name: 'LogIndex'}">Activity Log</router-link>
                <span class="icon-thumbnail"><i class="fa fa-history" aria-hidden="true"></i></span>
              </li>
              
            </ul>
            <div class="clearfix"></div>
         </div>
         <!-- END SIDEBAR MENU -->
      </nav>
      <!-- END SIDEBAR -->
</template>

<script>
  export default {
    beforeDestroy() {
      clearInterval(this.time);
    },
    mounted () {
      let app = this;
      if(jQuery.inArray(app.$route.name, app.support_submenu) !== -1) {
        app.isActiveSupport = true; 
      }
      if(jQuery.inArray(app.$route.name, app.settings_submenu) !== -1) {
        app.isActiveSettings = true; 
      }
      if(jQuery.inArray(app.$route.name, app.membership_submenu) !== -1) {
        app.isActiveMembership = true; 
      }
      app.getNewMessageCount();
      app.getNewComplintCount();
      this.time = setInterval(function(){ 
       app.getNewMessageCount();
       app.getNewComplintCount();
      //}, 9000000);
      }, 60000);

      EventBus.$on('updateMessageCount', function() {
        app.getNewMessageCount();
      });

      EventBus.$on('updateComplaintCount', function() {
        app.getNewComplintCount();
      });
       
    },
    data: function () {
      return {
        isActiveSupport : false,
        isActiveSettings : false,
        isActiveMembership : false,
        support_submenu : ['SupportForm', 'SupportIndex'],
        settings_submenu : ['AppointmentFeeForm', 'AppointmentReminderSchedule', 'BusinessSettings'],
        membership_submenu : ['MembershipIndex', 'MembershipCancelRequests'],
        newMessageCount : 0,
        newComplaintCount : 0,
        time : null
      }
    },
    methods : {
      activeMainLi(type) {
        if (type == 'support') 
          this.isActiveSupport = true;
        else if (type == 'settings') 
          this.isActiveSettings = true;
        else if (type == 'membership') 
          this.isActiveMembership = true;
      },
      getNewMessageCount () {
        var app = this;
         axios.get(app.$apiUrl+'support-new-messages')
        .then(function (resp) {
            app.newMessageCount = resp.data.data;
        })
        .catch(function () {
        });
      },
      getNewComplintCount () {
        var app = this;
         axios.get(app.$apiUrl+'complaint-new-messages')
        .then(function (resp) {
            app.newComplaintCount = resp.data.data;
        })
        .catch(function () {
        });
      }
    }
  }
</script>