<template>
  <!-- START Login Background Pic Wrapper-->
  <div class="bg-pic">
    <!-- START Background Pic-->
    <img style="opacity: 1;" :src="$baseUrl+'/assets/img/photo-2.jpg'" :data-src="$baseUrl+'/assets/img/photo-2.jpg'" :data-src-retina="$baseUrl+'/assets/img/photo-2.jpg'" alt="" class="lazy">
    <!-- END Background Pic-->
    <!-- START Background Caption-->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
                {{ $clinicName }} Admin</h2>
      <p class="small">


      </p>
    </div>
    <!-- END Background Caption-->
  </div>
  <!-- END Login Background Pic Wrapper-->
</template>