<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <!-- <openTok></openTok> -->
                               <!--  <vue-stripe-checkout
                                  ref="checkoutRef"
                                  :image="image"
                                  :name="name"
                                  :description="description"
                                  :currency="currency"
                                  :amount="amount"
                                  :allow-remember-me="false"
                                  :email="email"
                                  @done="done"
                                  @opened="opened"
                                  @closed="closed"
                                ></vue-stripe-checkout>
                                <button @click="checkout">Checkout</button> -->
                            </div>
                        <!-- END card -->
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    /*import openTok from './OpenTok.vue'*/
    /*import Vue from 'vue';
    import VueStripeCheckout from 'vue-stripe-checkout';
    Vue.use(VueStripeCheckout, 'pk_test_GEv9RXF3IKoqqnEJCVcEEBli');*/
    export default {
        components : {
            /*openTok*/
        },
        mounted() {
          var app = this;
          /*var newObject = 
                        {
                          "created": 1326853478,
                          "livemode": false,
                          "id": "evt_1Dlx0jJBr6TPU21SSyz5V3Kb",
                          "type": "invoice.payment_succeeded",
                          "object": "event",
                          "request": null,
                          "pending_webhooks": 1,
                          "api_version": "2018-11-08",
                          "data": {
                            "object": {
                              "id": "in_1Dlx0jJBr6TPU21Sa9sNcivE",
                              "object": "invoice",
                              "amount_due": 0,
                              "amount_paid": 0,
                              "amount_remaining": 0,
                              "application_fee": null,
                              "attempt_count": 0,
                              "attempted": true,
                              "auto_advance": true,
                              "billing": "charge_automatically",
                              "billing_reason": "manual",
                              "charge": "_00000000000000",
                              "currency": "usd",
                              "customer": "cus_00000000000000",
                              "date": 1545914026,
                              "default_source": null,
                              "description": null,
                              "discount": null,
                              "due_date": null,
                              "ending_balance": null,
                              "finalized_at": null,
                              "hosted_invoice_url": null,
                              "invoice_pdf": null,
                              "lines": {
                                "data": [
                                  {
                                    "id": "sli_00000000000000",
                                    "object": "line_item",
                                    "amount": 999,
                                    "currency": "usd",
                                    "description": "1 × Gold Full (at $9.99 / month)",
                                    "discountable": true,
                                    "livemode": false,
                                    "metadata": {
                                    },
                                    "period": {
                                      "end": 1548592426,
                                      "start": 1545914026
                                    },
                                    "plan": {
                                      "id": "plan_00000000000000",
                                      "object": "plan",
                                      "active": true,
                                      "aggregate_usage": null,
                                      "amount": 999,
                                      "billing_scheme": "per_unit",
                                      "created": 1545911670,
                                      "currency": "usd",
                                      "interval": "month",
                                      "interval_count": 1,
                                      "livemode": false,
                                      "metadata": {
                                      },
                                      "nickname": null,
                                      "product": "prod_00000000000000",
                                      "tiers": null,
                                      "tiers_mode": null,
                                      "transform_usage": null,
                                      "trial_period_days": null,
                                      "usage_type": "licensed"
                                    },
                                    "proration": false,
                                    "quantity": 1,
                                    "subscription": "sub_00000000000000",
                                    "subscription_item": "si_00000000000000",
                                    "type": "subscription"
                                  }
                                ],
                                "has_more": false,
                                "object": "list",
                                "url": "/v1/invoices/in_1Dly3aJBr6TPU21SrMJ1e7dV/lines"
                              },
                              "livemode": false,
                              "metadata": {
                              },
                              "next_payment_attempt": 1545917626,
                              "number": "FA98B75-0001",
                              "paid": true,
                              "period_end": 1545914026,
                              "period_start": 1545914026,
                              "receipt_number": null,
                              "starting_balance": 0,
                              "statement_descriptor": null,
                              "status": "draft",
                              "subscription": null,
                              "subtotal": 0,
                              "tax": 0,
                              "tax_percent": null,
                              "total": 0,
                              "webhooks_delivered_at": null,
                              "closed": true
                            }
                          }
                        }
  
          axios.post(app.$apiUrl+'stripe/webhook', newObject)
                .then(function (resp) {
                    console.log(resp);
                })
                .catch(function () {
                });*/
        },
        data() {
            return {
              image: 'https://i.imgur.com/HhqxVCW.jpg',
              name: 'Telemedicine',
              description: 'Book Appointment',
              currency: 'GBP',
              email: 'sana.aamir1909@gmail.com',
              amount: 1000
            }
          },
          methods: {
            /*async checkout () {
               token = await this.$refs.checkoutRef.open();
            },
            done (token) {
              var app = this;
              app.appointment = {};
              app.appointment.patient_id = 6;
              app.appointment.token = token.token;
              app.appointment.amount = 20;
              var newObject = app.appointment;
              axios.post(app.$apiUrl+'subscription/membership', newObject)
                .then(function (resp) {
                    console.log(resp);
                })
                .catch(function () {
                });
              axios.post(app.$apiUrl+'subscription/blood-test', newObject)
                .then(function (resp) {
                    console.log(resp);
                })
                .catch(function () {
                });
              axios.post(app.$apiUrl+'appointment/create', newObject)
                .then(function (resp) {
                    console.log(resp);
                })
                .catch(function () {
                });
            },*/
            opened () {
              // do stuff 
            },
            closed () {
              // do stuff 
            }
          }
    }
</script>


