<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Repeat Blood Test Service ({{totalRBTS}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>

                            <!-- <div style="float: right;">
                                <router-link :to="{name: 'rbtCreate'}" class="btn btn-applyplus btn-cons"><i class="fa fa-plus"></i> Add rbt</router-link>
                            </div> -->
                            <div class="row">
                              <div class="form-group  pull-right col-sm-3">
                                    <label>Filter By Patient</label> 
                                    <vue-select class="vue-select2" name="select2"
                                            :options="patients" 
                                            :searchable="true" 
                                            language="en-US"
                                            placeholder="Filter By Patient"
                                            v-model="patient"
                                            >
                                    </vue-select>
                                  </div>
                              <div class="form-group  pull-right col-sm-3">
                                <label>Filter By Upcoming Send Date</label> 
                               <date-picker v-model="rbt.filter_by_upcoming_send_date" lang="en" v-validate="'required'" name="date" placeholder="Select Date" data-vv-as="date of audit" format="DD-MM-YYYY" type="date"></date-picker>
                              </div> 
                              
                              <div class="pull-right col-md-2">
                                <a href="javascript:;" class="btn btn-primary m-r-10 m-t-30" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                              </div>  
                            </div> 

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="rbts.length > 0">  
                                        <tr v-for="rbt, index in rbts" >
                                            <td>{{ rbt.id }}</td>
                                             <td><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="rbt.patient.profile_pic_path" alt="" :data-src="rbt.patient.profile_pic_path" :data-src-retina="rbt.patient.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ rbt.patient.user.full_name }}</span></td> 
                                          <td><span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="rbt.doctor.profile_pic_path" alt="" :data-src="rbt.doctor.profile_pic_path" :data-src-retina="rbt.doctor.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ rbt.doctor.user.full_name }}</span></td>  
                                            <td>{{ rbt.upcoming_test_date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ rbt.upcoming_form_send_date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ rbt.status | capitalize }}</td>
                                            <td>
                                                <a href="javascript:;"
                                                   class="btn btn-xs btn-success"
                                                   @click="showViewPopup(rbt.lab_form_id)"  title="View">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="#sendFormEmail"
                                                data-toggle="modal"
                                                   class="btn btn-xs btn-complete"
                                                   @click="setRecordObj(rbt.lab_form_id, index)"  title="Email">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getrbts"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <labformViewModal :repeat="repeat"></labformViewModal>

         <labformSendEmail :id="id" :index="index" :repeat="repeat"></labformSendEmail>
        </div>
    </div>

</template>

<script>
    import labformViewModal from "./../lab_form/LabFormViewModal.vue";
    import labformSendEmail from "./../lab_form/LabFormSendEmail.vue";
    import DatePicker from 'vue2-datepicker'
    export default {
        components: {
            labformViewModal, labformSendEmail, DatePicker
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Patient","Doctor","Upcoming Test Date", "Upcoming Form Send Date","Status", 'Action'],
                rbts: [],
                patients : [],
                patient: null,
                id: null,
                index:null,
                module:'bloodTest',
                pageCount: 0,
                totalRBTS:0,
                repeat:true,
                search_spinner : false,
                rbt: {
                    filter_by_upcoming_send_date: '',
                    filter_by_patient_id: '',
                },
            }
        },
        mounted() {
            var app = this;
            axios.get(app.$apiUrl+'patients?limit=0')
                .then(function (resp) {
                    app.patients = resp.data.data.data;
                    if (app.patients.length > 0) {
                        var patientsOptionsArr =  [];
                        $(app.patients).each(function(ind, ele) {
                            var patientsOptions = {};
                            patientsOptions.label = ele.user.full_name;
                            patientsOptions.value = ele.id;
                            patientsOptionsArr.push(patientsOptions);
                        });
                    }
                    app.patients = patientsOptionsArr;
                   
                })
                .catch(function () {
                });
            app.getrbts(1);
        },
        methods: {
            getrbts:function(page) {
               var app = this;
                app.rbt.page = page || 1;
                app.rbt.limit = 10;
                if (app.rbt.filter_by_upcoming_send_date != '') {
                    app.rbt.filter_by_upcoming_send_date = this.$moment(app.rbt.filter_by_upcoming_send_date).format('YYYY-MM-DD'); 
                }
                if (app.patient != null) {
                    app.rbt.filter_by_patient_id = app.patient.value;
                } else {
                    app.rbt.filter_by_patient_id = '';
                }
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'subscriptions/rbt',
                    params: app.rbt
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.totalRBTS = resp.data.data.pagination.total;
                    app.rbts = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                    app.search_spinner = false;
                })
                .catch(function (resp) {
                    app.isLoading = false;
                    app.rbts = [];  
                    app.pageCount = 0;
                    app.totalRBTS = 0;
                    app.search_spinner = false;
                });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getrbts(1);
            },  

             showViewPopup:function(id)
            {
                var app = this;
                app.id = id;
                EventBus.$emit('showLabRecPopup', id);
            },
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getrbts(1);
            }   
        }
    }
</script>
