<template>
    <div class="modal fade stick-up" id="deleteRecModalInvoice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
            <h5>Delete</h5>
          </div>
          <div class="modal-body">
            <p class="no-margin">Are you sure that you want to proceed?</p>
          </div>
          <div class="modal-footer">
            <button type="button" id="deleteButton" @click="deleteEntry" class="btn btn-primary btn-cons  pull-left inline">Delete</button>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>

<script type="text/javascript">
	export default {
    props : ['id', 'index' , 'module'],
    methods : {
      deleteEntry() {
            var app = this;
            axios.delete(app.$apiUrl+app.module+'/' + app.id)
            .then(resp => {
                $('#deleteRecModalInvoice').modal('hide');
                resp = this.$emit('recRemoved', app.index);
                
            })
            .catch(function (resp) {
            });
        }   
    }
	}

</script>

