f<template>
	<div class="modal fade" id="invoiceViewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
      <div class="modal-content-wrapper">
        <div class="modal-content" v-if="invoice != null">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
          </div>
          <div class="modal-body">
          	<div class="invoice-box" id="printareaInvoice" >
		        <table cellpadding="0" cellspacing="0">
		            <tr class="top">
		                <td colspan="7">
		                    <table>
		                        <tr>
		                            <td class="title">
		                                <!-- {{ $clinicName }}<br> -->
		                                <img alt="Logo" height="100" :data-src-retina="$baseUrl+'/htmlv1/images/logo-wide.png'" class="form_logo inline" :data-src="$baseUrl+'/htmlv1/images/logo-wide.png'"  :src="$baseUrl+'/htmlv1/images/logo-wide.png'">
		                            </td>

		                            <td class="text-right">
		                                Number #: {{ invoice.invoice_number }}<br>
		                               <!--  Created: DATE.CREATED<br> -->
		                            </td>
		                        </tr>
		                    </table>
		                </td>
		            </tr>

		            <tr class="information">
		                <td colspan="7">
		                    <table>
		                        <tr>
		                            <td>
		                                To<br>
		                                {{ invoice.doctor.user.full_name }}<br>
		                                Work Address: {{ invoice.doctor.work_address }}<br>
		                                Home Address: {{ invoice.doctor.home_address }}<br><br>
		                               	Mobile: {{ invoice.doctor.user.mobile_number }}<br>
		                               	Email: {{ invoice.doctor.user.email }}<br>
		                            </td>

		                            <td class="text-right">
		                                <strong>{{ $clinicName }}</strong><br>
		                                <br>
		                               	<span v-html="$clinicAddress"></span>
		                                Tel: {{ $clinicPhone }}<br>
		                                Trading Name: {{ $clinicName }}<br>
		                                URL: {{ $clinicWebsite }}<br>
		                            </td>
		                        </tr>
		                    </table>
		                </td>
		            </tr>

		            <tr class="heading">
		                <td colspan="7" class="text-center">
		                    PAYSLIP
		                </td>
		            </tr>

		            <tr class="details">
		                <td colspan="7">
		                   Name of employee : {{ invoice.doctor.user.full_name }}<br>
		                   Designation: {{ invoice.doctor.designation }}<br>
		                   Bank Name : {{ invoice.doctor.bank_name }}<br>
		                   Account Number : {{ invoice.doctor.account_number }}<br>
		                   Sort Code : {{ invoice.doctor.sort_code }}<br>
		                   National Insurance Number : {{ invoice.doctor.national_insurance_number }} <br>
 						   Tax Code : {{ invoice.doctor.tax_code }}<br>
		                   Pay Period: {{ invoice.pay_period_start | moment('DD-MM-YYYY') }} - {{ invoice.pay_period_end | moment('DD-MM-YYYY') }}<br>
		                   Date of issue : {{ invoice.issue_date | moment('DD-MM-YYYY') }}
		                </td>
		            </tr>

		            <tr class="heading">
		                <td>
		                   Service
		                </td>
		                <td>
		                   Membership
		                </td>
		                <td>
		                    No:
		                </td>
		                <td>
		                	Fees
		                </td>
		                 <td>
		                 	Amount
		                </td>
		                 <td>
		                 	% to Doctor
		                </td>
		                 <td>
		                 	Doctor's Fee
		                </td>
		            </tr>
		            <tr class="item">
		                <td rowspan="2">
		                   Initial Assessment
		                </td>
		                <td >
		                   Member 
		                </td>
		                <td>
		                    {{ invoice.description.initial_assessment.member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.initial_assessment.member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.initial_assessment.member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.initial_assessment.member.percentage}}
		                </td>
		            </tr>

		            <tr class="item">
		                <td>
		                   Non Member 
		                </td>
		                <td>
		                    {{ invoice.description.initial_assessment.non_member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.initial_assessment.non_member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.initial_assessment.non_member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.initial_assessment.non_member.percentage}}
		                </td>
		            </tr>

		            <tr class="item">
		                <td rowspan="2">
		                   Follow up Assessment Type 1
		                </td>
		                <td >
		                   Member 
		                </td>
		                <td>
		                    {{ invoice.description.follow_up_assessment_type_1.member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.follow_up_assessment_type_1.member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.follow_up_assessment_type_1.member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.follow_up_assessment_type_1.member.percentage}}
		                </td>
		            </tr>
		            <tr class="item">
		                <td>
		                   Non Member 
		                </td>
		                <td>
		                    {{ invoice.description.follow_up_assessment_type_1.non_member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.follow_up_assessment_type_1.non_member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.follow_up_assessment_type_1.non_member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.follow_up_assessment_type_1.non_member.percentage}}
		                </td>
		            </tr>
		             <tr class="item">
		                <td rowspan="2">
		                   Follow up Assessment Type 2
		                </td>
		                <td >
		                   Member 
		                </td>
		                <td>
		                    {{ invoice.description.follow_up_assessment_type_2.member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.follow_up_assessment_type_2.member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.follow_up_assessment_type_2.member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.follow_up_assessment_type_2.member.percentage}}
		                </td>
		            </tr>
		            <tr class="item">
		                <td>
		                   Non Member 
		                </td>
		                <td>
		                    {{ invoice.description.follow_up_assessment_type_2.non_member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.follow_up_assessment_type_2.non_member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.follow_up_assessment_type_2.non_member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.follow_up_assessment_type_2.non_member.percentage}}
		                </td>
		            </tr>
		            <tr class="item">
		                <td rowspan="2">
		                   Telephone Advice
		                </td>
		                <td >
		                   Member 
		                </td>
		                <td>
		                    {{ invoice.description.telephone_advice.member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.telephone_advice.member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.telephone_advice.member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.telephone_advice.member.percentage}}
		                </td>
		            </tr>
		            <tr class="item">
		                <td>
		                   Non Member 
		                </td>
		                <td>
		                    {{ invoice.description.telephone_advice.non_member.patients}}
		                </td>
		                <td>
		                	£{{ invoice.description.telephone_advice.non_member.fee}}
		                </td>
		                 <td>
		                 	£{{ invoice.description.telephone_advice.non_member.total}}
		                </td>
		                 <td>
		                 	{{ invoice.percentage_to_doctor }}%
		                </td>
		                 <td class="text-right">
		                 	£{{ invoice.description.telephone_advice.non_member.percentage}}
		                </td>
		            </tr>

		            <tr class="total">
		                <td colspan="6">
		                	<strong>Total Payment to doctor (Before NI and tax deductions)</strong>
		                </td>
		                <td class="text-right">
		                   £{{ invoice.amount }}
		                </td>
		            </tr>

		            <tr class="information">
		                <td colspan="2">
		                    <table>
		                        <tr>
		                            <td><small>
		                              Copyright © 2018 - {{ $clinicName }}, Registered in UK </small>
		                            </td>


		                        </tr>
		                    </table>
		                </td>
		            </tr>

		        </table>
		    </div>
          </div>
          <div class="modal-footer">
             <!-- <button class="btn btn-applyplus btn-cons  pull-left inline" @click="getmPdf"><i class="fa fa-print"></i> Print </button> -->
             <a :href="$apiUrl+'payslip?id='+invoice.encodedId" class="btn btn-applyplus btn-cons  pull-left inline" target="_blank"><i class="fa fa-print"></i> Print </a>
            <button type="button" class="btn btn-info btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>
<script type="text/javascript">
	export default {
		props : ['id'],
		mounted () {
			var app = this;
			EventBus.$on('showViewPopup', function (id) {
				
        		axios.get(app.$apiUrl+'invoice/' + id)
	            .then(function (resp) {
	                app.invoice = resp.data.data;
	                $('#invoiceViewModal').modal('show');
	            })
	            .catch(function () {
	            });		    
	        });
			
		},
		
		data: function () {
            return {
            	invoice : null,
            }
        },
        methods : {
        },

	}
</script>

<style scoped="">


	h4 {font-size: 25px !important;
    margin:0px !important;}

    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    /*.invoice-box table tr td:nth-child(2) {
        text-align: right;
    }*/

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 36px;
        line-height: 36px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    .form_logo{
		max-width: 255px;
	    height: 70px;	
	}
</style>