<template>
<div class="row col-md-12">  
  <div class="col-md-12 pt-4">
      <h3>Pay Slip ({{totalInvoices}})</h3>
  </div>
  <div class="col-md-12">
      <div class="card-block dataTables_wrapper no-padding">
        <div class="table-responsive ">
          <table class="table table-hover " id="basicTable">
            <thead>
              <th v-for="header in tableHeader">{{header}}</th>
            </thead>
            <tbody id="user_listing">
                <template v-if="invoices.length > 0">  
                    <tr v-for="invoice, index in invoices" >
                        <td>{{ invoice.id }}</td>
                        <td>{{ invoice.invoice_number }}</td>
                        <td>{{ invoice.amount }}</td>
                        <td>{{ invoice.issue_date | moment("DD-MM-YYYY") }}</td>
                        <td>
                            <a href="javascript:;"
                               class="btn btn-xs btn-success"
                               @click="showViewPopup(invoice.id, index)"  title="View">
                                <i class="fa fa-eye"></i>
                            </a>
                             <a href="#deleteRecModalInvoice"
                                data-toggle="modal"
                               class="btn btn-xs btn-danger"
                               @click="setRecordObj(invoice.id, index)"  title="Delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </template>
                <template v-else> 
                    <tr>
                        <td colspan="10">
                            <div class="blank-data">
                                <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                <h3>Nothing Here Yet!</h3>
                                <p>Did not find anything .. try again.</p>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div>
            <div class="dataTables_paginate paging_simple_numbers">
              <paginate
                :page-count="pageCount"
                :page-range="3"
                :margin-pages="1"
                :click-handler="getInvoices"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'"
                :page-class="'page-item'">
              </paginate>
            </div>
              </div>
              </div>
      </div>
    </div>
    <invoiceViewModal :id="id"></invoiceViewModal>
   <deleteModal :id="id" :index="index" :module="module" @recRemoved="refreshList"></deleteModal>
</div>                        
</template>

<script>
    import invoiceViewModal from "./InvoiceViewModal.vue";
    import deleteModal from "./DeleteModal.vue";
    export default {
        components: {
            invoiceViewModal, deleteModal
        },
        props : ['user_id', 'user_type'],
        data: function () {
            return {
                tableHeader: ["ID", "Number", "Amount", "Issue Date", 'Action'],
                invoices: [],
                invoice : {
                    filter_by_user_id : '',
                    filter_by_user_type : ''
                },
                id: null,
                index:null,
                module:'invoice',
                pageCount: 0,
                totalInvoices:0,
            }
        },
        mounted() {
            var app = this;
            EventBus.$on('getInvoices', function() {
                app.getInvoices(1);
            });
        },
        methods: {
            getInvoices:function(page) {
                var app = this;
                var limit = 10;
                var app = this;
                app.invoice.page = page || 1;
                app.invoice.limit = 10;
                app.invoice.filter_by_user_id = app.user_id;
                app.invoice.filter_by_user_type = app.user_type;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'invoices',
                    params: app.invoice
                })
                .then(function (resp) {
                    app.totalInvoices = resp.data.data.pagination.total;
                    app.invoices = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                    app.invoices = [];  
                    app.pageCount = 0;
                    app.totalInvoices = 0;
                });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            showViewPopup:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
                EventBus.$emit('showViewPopup', id);
            },
            refreshList(){
                this.getInvoices(1);
            },  
        }
    }
</script>
