
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2 class=" text-center"> New Support Request
                                    <router-link :to="{name: 'SupportIndex'}" class="btn btn-complete pull-right">Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row m-t-20">
                                    <div class="col-lg-6 offset-md-3 no-padding" v-if="userId == 0">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Select Email Type</label>
                                            <div class="radio radio-complete">
                                                <input type="radio" value="individual"  v-model="support.email_type" id="individual">
                                                <label for="individual" class="">Individual</label>

                                                <input type="radio" value="group" v-model="support.email_type" id="group">
                                                 <label for="group" class="no-margin">Group</label>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 offset-md-3 no-padding" v-show="support.email_type == 'individual'">
                                        <div class="form-group required" :class="(userId != 0) ? 'disabled' : ''">
                                            <label class="text-primary bold">Select User Type</label>
                                            <div class="controls">
                                             <select v-model="support.user_type" name ="user_type" class="form-control" placeholder="Select User Type" @change="getUsers">
                                                <option value="doctor">Doctor</option>
                                                <option value="patient">Patient</option>
                                             </select>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('user_type')">
                                              {{ errors.first('user_type') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 offset-md-3 no-padding" v-show="support.email_type == 'individual'">
                                        <div class="form-group required " :class="(userId != 0) ? 'disabled' : ''">
                                            <label class="text-primary bold">Select User</label>
                                             <vue-select class="vue-select2" name="user_id"
                                                :options="users" 
                                                :searchable="true" 
                                                language="en-US"
                                                placeholder="Select User"
                                                v-model="selectedUser"
                                                v-validate="rules"
                                                data-vv-as="user"
                                                >
                                            </vue-select>
                                            <small class="text-danger"
                                              v-show="errors.has('user_id')">
                                              {{ errors.first('user_id') }}
                                            </small>
                                        </div>
                                    </div> 
                                    <div class="col-lg-6 offset-md-3 no-padding" v-show="support.email_type == 'group'">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Select Specialty</label>
                                            <div class="controls">
                                             <select v-model="support.filter_by_specialty" class="form-control" placeholder="Select Specialty" name="specialty">
                                                 <option value="">All</option>
                                                 <option v-for="specialty in specialties" :value="specialty.id">{{specialty.name}}</option>
                                             </select>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('specialty')">
                                              {{ errors.first('specialty') }}
                                            </small>
                                        </div>
                                    </div> 
                                    <div class="col-lg-6 offset-md-3 no-padding" v-show="support.email_type == 'group'">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Select User Type</label>
                                            <div class="controls">
                                             <select v-model="support.user_type" name ="user_type" class="form-control" placeholder="Select User Type" @change="getUsers">
                                                <option value="all_doctors">All doctors</option>
                                                <option value="all_patients">All patients</option>
                                                <option value="all_patients_member">All patients membership</option>
                                                <option value="all_patients_non_member">All patients without membership</option>
                                             </select>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('user_type')">
                                              {{ errors.first('user_type') }}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6 offset-md-3 no-padding" v-show="support.email_type == 'group'">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Select User</label>
                                             <vue-select class="vue-select2" name="user_id"
                                                :options="users" 
                                                :searchable="true" 
                                                language="en-US"
                                                placeholder="Select User"
                                                v-model="selectedUser"
                                                v-validate="'required'"
                                                data-vv-as="user"
                                                multiple
                                                >
                                            </vue-select>
                                            <small class="text-danger"
                                              v-show="errors.has('user_id')">
                                              {{ errors.first('user_id') }}
                                            </small>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-6 offset-md-3  no-padding">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Select Category</label>
                                            <div class="controls">
                                             <select v-model="support.category" name ="category" class="form-control" placeholder="Select Category">
                                                 <option value="general">General</option>
                                                 <option value="medication">Medication</option>
                                                 <option value="prescription">Prescription</option>
                                                 <option value="tests">Tests</option>
                                             </select>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('category')">
                                              {{ errors.first('category') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 offset-md-3  no-padding">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Subject</label>
                                            <div class="controls">
                                              <input type="text" class="form-control" name="subject" placeholder="Write Subject line" 
                                              v-model="support.subject"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('subject')">
                                              {{ errors.first('subject') }}
                                            </small>  
                                        </div>
                                    </div>
                                    <div class="col-lg-6 offset-md-3  no-padding">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Message</label>
                                            <div class="controls">
                                              <textarea class="form-control message-box" name="message" placeholder="Write something.." 
                                              v-model="support.message"
                                              v-validate="'required'"></textarea>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('message')">
                                              {{ errors.first('message') }}
                                            </small>  
                                        </div>
                                    </div>
                                    <div class="col-lg-6 offset-md-3  no-padding">
                                        <div class="form-group required">
                                          <image-upload-component 
                                            input_id="file1"
                                            refUpload="upload1"
                                            label="File(s)"
                                            button_text="Upload File(s)"
                                            type="docs"
                                            :fileArray="files1"
                                            :is_multiple="true"
                                            :is_preview="false"
                                            :accept="$accept"
                                            :extensions="$extensions"
                                            :maximum="6"
                                            :inputArray="support.support_docs"
                                            :is_multidimensional_array="false"
                                            @fileAdded="setUploadedDocs"
                                            @fileRemoved="setUploadedDocs">   
                                            </image-upload-component>
                                        </div>    
                                    </div>
                                    <div class="col-lg-6 offset-md-3  no-padding">
                                        <div class="form-group required">
                                            <label class="text-primary bold">Verification</label>
                                             <center>
                                                <div class="form-group">
                                                   <vue-recaptcha
                                                    ref="recaptcha"
                                                    @verify="onCaptchaVerified"
                                                    @expired="resetRecaptcha"
                                                    :sitekey="site_key">
                                                  </vue-recaptcha>
                                                </div>
                                            </center> 
                                        </div>
                                    </div>                
                                </div>
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="saveForm()">Send <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    export default {
        components: { 
            VueRecaptcha 
        },
        mounted() {
            var app = this;
            let type = app.$route.params.type;
            app.support.user_type = type;
            app.getUsers();
            let id = app.$route.params.id;
            if (id != 0) {
              app.userId = id;
              axios.get(app.$apiUrl+type+'/'+id)
                .then(function (resp) {
                  var obj = {};
                  obj.value = resp.data.data.user.id;
                  obj.label = resp.data.data.user.full_name;
                  app.selectedUser = obj ;
                })
                .catch(function () {
                }); 
            }

            axios.get(app.$apiUrl+'specialties?limit=0')
                .then(function (resp) {
                    app.specialties = resp.data.data.data;
                })
                .catch(function () {
                });    
            app.resetRecaptcha();
        },
        data: function () {
            return {
                users : [],
                specialties : [],
                userId : 0, 
                support: {
                    email_type: 'individual',
                    user_type: '',
                    user_id: '',
                    filter_by_specialty: '',
                    category : 'general',
                    subject : '',
                    message : '',
                    sender_id : '',
                    support_docs : [],
                },
                isAlertShow: false,
                selectedUser : '',
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                files1 : [],
                site_key: '6LdtBHcUAAAAAJaA8EFzLrQ02nbfc8VPrx02wetH',
                recaptchaToken : '',
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newSupport = app.support;
                newSupport.sender_id = app.$loggedInUser.id;
                newSupport.user_id = app.selectedUser.value;
                newSupport.recaptcha = app.recaptchaToken;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.post(app.$apiUrl+'support', newSupport)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                                app.$router.replace('/support-requests');
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.message;
                                if(jsonResponse != '')
                                {
                                  app.alertMsg = jsonResponse;          
                                }
                            });
                    }        
                })   
            },
            getUsers() {
                var app = this;
                app.selectedUser = '';
                if (app.support.email_type == 'individual') {
                    if (app.support.user_type == 'doctor') {
                        var url = app.$apiUrl+'doctors?limit=0';
                    } else  if (app.support.user_type == 'patient') {
                        var url = app.$apiUrl+'patients?limit=0';
                    }
                } else if (app.support.email_type == 'group') {
                    
                }    

                axios.get(url)
                .then(function (resp) {
                    app.users = resp.data.data.data;
                    if (app.users.length > 0) {
                        var usersOptionsArr =  [];
                        $(app.users).each(function(ind, ele) {
                            var usersOptions = {};
                            usersOptions.label = ele.user.full_name;
                            usersOptions.value = ele.user.id;
                            usersOptionsArr.push(usersOptions);
                        });
                    }
                    app.users = usersOptionsArr;
                })
                .catch(function () {
                });

            },
            setUploadedDocs(files) {
              this.support.support_docs = files;
            },
            resetRecaptcha () {
              this.$refs.recaptcha.reset() // Direct call reset method
            },
            onCaptchaVerified(recaptchaToken) {
              var app = this;
              app.recaptchaToken = recaptchaToken;
            }, 
        },
        computed: {
            rules() {
              return (this.support.email_type == 'individual') ? 'required' : '';
            },
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            }
        }
    }
</script>

<style>
    .message-box{
        height: 150px;
    }
</style>
