
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2> {{ type }}  View
                                    <router-link to="/complaints" class="btn btn-complete pull-right" v-if="type == 'Complaint'">Back</router-link>
                                    <router-link to="/support-requests" class="btn btn-complete pull-right" v-else>Back</router-link>
                                </h2>

                                <div class="m-t-30 offset-md-1">
                                    <div class="alert col-md-11" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                                      {{alertMsg}}
                                    </div>
                                    <p class="font-weight-bold">Title : #{{ support.slug }} {{ support.subject }} </p>
                                    <p class="font-weight-bold">Category : {{ support.category }} </p>
                                    <p class="font-weight-bold"><span class="pull-left m-r-10">Status : </span>  
                                        <select v-model="support.status" class="form-control col-md-1" @change="updateStatus">
                                             <option value="open">Open</option>
                                             <option value="closed">Closed</option>
                                         </select>
                                         <!-- <span class="col-md-1">
                                            <label class="checkbox-inline">
                                              <input type="checkbox" checked="checked" data-onstyle="success" data-offstyle="danger" data-on="Open" data-off="Closed" v-model="support.status" id="status_btn" data-size="small">
                                            </label>
                                          </span> -->
                                    </p>
                                    <p class="font-weight-bold">Created On : {{ support.created_at | moment("DD-MM-YYYY h:mm a") }} </p>
                                    <button class="btn btn-primary loadmore-msges-btn"  @click="getSupportMessages(false);" v-show="isLoadMore"><span>Load Previous Messages</span>
                                    </button>
                                </div>
                                
                                <div class="row m-t-30 ">
                                   
                                    <div class="card card-default social-card share  col-md-10 offset-md-1" 
                                     v-for="message,index in support.messages.slice().reverse()">
                                      <!-- <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
                                      </div> -->
                                      <div class="card-header clearfix">
                                        <div class="user-pic">
                                          <img alt="Profile Image" width="33" height="33" :data-src-retina="message.sender.profile_pic_path" :data-src="message.sender.profile_pic_path" :src="message.sender.profile_pic_path">
                                        </div>
                                        <h5>{{ message.sender.full_name }}</h5>
                                        <h6>{{ message.sender.role }} | <span class="semi-bold time"><i class="fa fa-clock-o"></i> {{ message.timeago }}</span>
                                            
                                        </h6>
                                      </div>
                                      <div class="card-description">
                                        <template v-if="message.is_admin_msg == '1'">
                                            <p>Dear {{ message.receiver.first_name }},</p><br/>
                                            <p v-html="message.message"></p><br/>
                                            <p>Kind regards, Happy Clinic  Customer team</p>
                                        </template>
                                        <template v-else>
                                            <p v-html="message.message"></p>
                                        </template>
                                        
                                      </div>
                                      <div class="card-content">
                                        <div class="p-l-15" v-if="message.docs.length > 0">
                                          <p v-for="doc, ind in message.docs">
                                           <!--  <a :href="doc.file_path" download="download"><img alt="Document" width="60" height="60" :data-src-retina="doc.file_path" :data-src="doc.file_path" :src="doc.file_path">
                                            </a> -->
                                            <a href="#attachmentViewModal" data-toggle="modal" @click="viewAttachment(doc.file_path, doc.extension)">
                                                {{ doc.file}}
                                            </a>
                                          </p> 
                                        </div>
                                        <!-- <template v-if="support.category != 'Changes Messages' && support.category != 'Complaint'">
                                          <a href="javascript:;" class="btn" :class="(message.is_flagged == 1)? 'btn-warning' :'btn-info'" @click="toggleFlag(message.id)" :title="(message.is_flagged == 1) ? 'Remove Flag' : 'Add Flag'"><i class="fa fa-flag" ></i></a>
                                            <router-link :to="{name: 'SupportForward', params: {id: message.id}}" class="btn btn-success" title="Forward"><i class="fa fa-mail-forward"></i> </router-link>
                                        </template> -->
                                      </div>
                                    </div>
                                </div>        
                                
                                <div class="row ">
                                    <div class="col-md-10 offset-md-1">
                                        <hr>
                                        <div class="form-group required">
                                            <div class="controls">
                                              <textarea class="form-control message-box" name="message" placeholder="Message" 
                                              v-model="reply.message"
                                              v-validate="'required'"></textarea>
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('message')">
                                              {{ errors.first('message') }}
                                            </small>  
                                        </div>
                                    </div>

                                </div>
                                <div class="row p-b-20">
                                    <div class="col-md-5  offset-md-1">
                                      <button class="btn btn-complete btn-cons" @click="sendReply()">Send <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                      
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li v-for="(file, index) in files1" :key="file.id">
                                              <span>{{file.name}} <i @click="removeFile(files1,index)" class="fa fa-times-circle" aria-hidden="true"></i></span> 
                                              <span v-if="file.error" class="text-danger text-small">- {{file.error}}</span>
                                              <span v-else-if="file.success" class="text-success text-small">- success</span>
                                              <span v-else></span>
                                            </li>
                                          </ul>
                                    </div>
                                    <div class="col-md-1">
                                        <file-upload
                                            v-model="files1"
                                            input-id="file1"
                                            :post-action="$apiUrl+'media/upload'"
                                            :accept="$accept"
                                            :extensions="$extensions"
                                            @input-file="inputFile"
                                            @input-filter="inputFilter"
                                            :data="{type: 'profile_pic'}"
                                            ref="upload1"
                                            :maximum="6"
                                            mutiple="true"
                                            class="btn btn-applyplus pull-right">
                                            
                                            <span v-if="!isUploading">
                                                <i class="fa  fa-paperclip"></i>
                                              </span>
                                              <span else>
                                                <i v-show="isUploading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                              </span>
                                          </file-upload>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary" @click="topFunction()" id="myBtn" title="Go to top">Top</button>
        <footer-component></footer-component>
        <attachment-view-modal :file_path="file_path" :extension="extension" ></attachment-view-modal>
    </span>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let slug = app.$route.params.slug;
            app.supportMessageData.filter_by_slug = slug;
            var supportView = JSON.parse(window.localStorage.getItem('support_view'));
            if (supportView != null) {
               window.localStorage.removeItem('support_view');
            }
            window.onscroll = function() {
                app.scrollFunction();
            };
            app.supportData.value = slug;
            app.getSupport();
            
        },
        data: function () {
            return {
                supportData: {
                    value : '',
                    column : 'slug',
                },
                supportId : null,
                supportMessageData: {
                    filter_by_slug : '',
                    limit : 5,
                    page : 1,
                },
                support: {
                    slug: '',
                    category: '',
                    subject: '',
                    messages: [],
                    status: '',
                    timeago: '',
                },
                reply : {
                    message: '',
                    support_docs : [],
                    support_id : '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoadMoreLoading : false,
                isLoadMore : false,
                files1 : [],
                type : '',
                file_path : '',
                extension : '',
                isUploading: false,
            }
        },
        methods: {
            getSupport() {
                var app = this;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'support',
                    params: app.supportData
                }).then(resp => {
                    app.support = resp.data.data;
                    app.supportId = resp.data.data.id;
                    app.reply.support_id = resp.data.data.id;
                    if (app.support.category == 'Complaint') {
                        app.type = 'Complaint';
                    } else {
                        app.type = 'Support';
                    }
                    app.getSupportMessages(true);
                    
                })
                .catch(error => {
                });
            },
            /*getSupportMessages() {
                var app = this;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'support/',
                    params: app.getSupport
                }).then(resp => {
                    app.support = resp.data.data;
                    app.supportId = resp.data.data.id;
                    app.reply.support_id = resp.data.data.id;
                    if (app.support.category == 'complaint') {
                        app.type = 'Complaint';
                    } else {
                        app.type = 'Support';
                    }
                })
                .catch(error => {
                });
            },*/
            getSupportMessages(newMsg) {
                var app = this;

                
                //app.supportMessageData.filter_by_slug = app.slug;
                if (newMsg) {
                    app.supportMessageData.page = 1;
                    app.isLoading = true;
                } else {
                    app.isLoadMoreLoading = true;
                }
                axios({
                    method: 'get',
                    url: app.$apiUrl+'support/messages',
                    params: app.supportMessageData
                }).then(resp => {
                    if (app.support.category == 'Complaint') {
                        EventBus.$emit('updateComplaintCount');
                    } else {
                        EventBus.$emit('updateMessageCount');
                    }
                    if (newMsg) {
                        app.isLoading = false;
                        app.support.messages = resp.data.data.data;
                    } else {
                        app.isLoadMoreLoading = false;
                        $(resp.data.data.data).each(function(ind, ele) {
                            app.support.messages.push(ele);
                        });
                    }


                    let pagination = resp.data.data.pagination;
                    if (pagination.last_page != pagination.current_page) { // more pages
                        app.isLoadMore = true;
                        app.supportMessageData.page = pagination.current_page+1;
                    } else {
                        app.isLoadMore = false;
                        app.supportMessageData.page = 1;
                    }
                    app.errors.clear();
                })
                .catch(error => {
                    app.isLoading = false;
                    app.isLoadMoreLoading = false;
                });
            },
            sendReply() {
                var app = this;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.patch(app.$apiUrl+'support/send-reply', app.reply)
                            .then(resp => {
                                app.isLoading = false;
                                app.reply.message = '';
                                app.getSupportMessages(true);
                                //app.$router.replace('/supports');
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.errors;
                                if(jQuery.type(jsonResponse) == 'object')
                                {
                                  var messages = '';
                                  $.each( jsonResponse, function( key, value ) {
                                    messages += '<p>'+value+'</p>';
                                  }); 
                                  app.alertMsg = messages;           
                                }
                            });
                    }        
                })
            },
            updateStatus() {
                var app = this;
                axios.patch(app.$apiUrl+'support/update-status/' + app.supportId, app.support)
                    .then(resp => {
                        app.isLoading = false;
                        app.isSuccess = true,
                        app.isError = false,
                        app.alertMsg = resp.data.message;
                        app.isAlertShow = true;
                    })
                    .catch(error => {
                        app.isLoading = false;
                        app.isSuccess = false,
                        app.isError = true,
                        app.isAlertShow = true;
                        app.alertMsg = 'Error occured';
                        var jsonResponse =error.response.data.errors;
                        if(jQuery.type(jsonResponse) == 'object')
                        {
                          var messages = '';
                          $.each( jsonResponse, function( key, value ) {
                            messages += '<p>'+value+'</p>';
                          }); 
                          app.alertMsg = messages;           
                        }
                    });
            },
            inputFile(newFile, oldFile) {
                if (newFile && oldFile) {
                    if (newFile.response.name != undefined) {
                       if(jQuery.inArray(newFile.response.name, this.reply.support_docs) !== -1) {
                      } else {
                        this.reply.support_docs.push(newFile.response.name);
                      }
                    }
                }
                if (newFile && !oldFile) {
                    if (!this.$refs.upload1.active) {
                        this.$refs.upload1.active = true;
                    } 
                }
            },
             inputFilter(newFile, oldFile, prevent) {
                var app = this;
              app.isUploading = true;
              if (newFile.active == false) {
                app.isUploading = false;
              }
              if (newFile && !oldFile) {
                // Before adding a file
                // Filter system files or hide files
                if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                  return prevent()
                }
                // Filter php html js file
                if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                  return prevent()
                }
              }
            },
            removeFile(array, index) {
              array.splice(index, 1);
              this.reply.support_docs.splice(index, 1);
            },
            viewAttachment(file_path, extension) {
                this.file_path = file_path;
                this.extension = extension;
            },
            topFunction () {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            },
            scrollFunction() {
                if (document.getElementById("myBtn")) {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("myBtn").style.display = "block";
                      } else {
                        document.getElementById("myBtn").style.display = "none";
                      }
                }
            },
            toggleFlag(id) {
                var app = this;
                axios.put(app.$apiUrl+'support/message/toggle-flag/'+id)
                    .then(resp => {
                        app.refreshList();
                    })
                    .catch(function (resp) {
                    });
            },
             refreshList(){
              this.getSupportMessages(true);
            }, 

        }
    }
</script>
<style  scoped>
    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
      float: left;
      /*width: 33.33%;*/
      padding: 5px;
    }

    /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    .message-box{
        height: 150px;
    }
    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: red;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }

    #myBtn:hover {
      background-color: #555;
    }
</style>
    
