<template>
        <span class="my-account-main" >

          <div class="my-account-header">
              <header-component @emit-left-menu="showLeftMenu"></header-component>        
          </div>    <!-- steps section -->
            <div class="section grey no-pad tab-content-main">
            <div class="left-sidebar patient-main-sidebar doctor-panel-left-sidebar left-sidebar-account" v-show="showLeftpanel">
            <i class="menu-icon-remove icon-remove" @click="showLeftpanel = false"></i>
                <ul @click="showLeftpanel = false">
                    <li class="active"><a href="javascript:;" data-content=".appointments-tab-content">My Appointments <i class="icon-angle-right"></i> </a></li>
                    <li @click="showAuthenticateModal"><a href="javascript:;" data-content=".hospital-record-tab-content">Health Records <i class="icon-angle-right"></i> </a></li>
                    <li><a href="javascript:;" data-content=".reciept-tab-content">My Receipts <i class="icon-angle-right"></i> </a></li>
                    <li class=""><a href="javascript:;" data-content=".sharing-tab-content" >Information Sharing <i class="icon-angle-right"></i> </a></li>
                    <li><a  href="javascript:;" data-content=".membership-tab-content">Membership <i class="icon-angle-right"></i></a></li>
                    <!-- 
                    <li><a href="javascript:;" data-content=".appointments-tab-content">My Records <i class="icon-angle-right"></i> </a></li> -->
                    
                    <li id="message_tab"><a href="javascript:;" data-content=".message-tab-content">Messages <span class="badge badge-success" v-show="newMessageCount > 0">{{ newMessageCount }}</span> <i class="icon-angle-right"></i> </a></li>
                    <li id="complaint_tab"><a href="javascript:;" data-content=".complaint-tab-content">Complaints <span class="badge badge-success" v-show="newComplaintCount > 0">{{ newComplaintCount }}</span><i class="icon-angle-right"></i> </a></li>
                    <li id="document-tab-content"><a href="javascript:;" data-content=".document-tab-content">Send Document <i class="icon-angle-right"></i> </a></li>
                    <!-- <li id="send-message-tab-content"><a href="javascript:;" data-content=".send-message-tab-content">Send Message <i class="icon-angle-right"></i> </a></li> -->
                    <li><a href="javascript:;" data-content=".info-tab-content">Edit Personal Details <i class="icon-angle-right"></i> </a></li>
                    <li><a href="javascript:;" data-content=".password-tab-content">Change Password <i class="icon-angle-right"></i> </a></li>
                    <li><a href="javascript:;" data-content=".hospital-tab-content">Change Hospital  <i class="icon-angle-right"></i> </a></li>
                    <li><a href="javascript:;" data-content=".laboratory-tab-content">Change Laboratory <i class="icon-angle-right"></i> </a></li>
                    <li><a href="javascript:;" data-content=".blood-service-tab-content">Repeat blood test service <i class="icon-angle-right"></i> </a></li>
                    <li id="testimonial-tab-content"><a href="javascript:;" data-content=".testimonial-tab-content">Write a Testimonial <i class="icon-angle-right"></i> </a></li>
                </ul>
            </div>
            <div class="my-account-right" >
                <div class="content" v-if="patient_id != null">
                    <!--information sharing content-->
                    <informationSharing :patient="patient"></informationSharing>

                    <!--membership content-->
                    <membership :patient_id="patient_id" :myprop="myprop"></membership>

                    <!--Receipts content-->
                    <receipts :patient_id="patient_id" :myprop="myprop"></receipts>

                    <!--Appointments content-->
                    <appointments :patient="patient" :myprop="myprop"></appointments>

                    <!--Hospital Record content-->
                    <hospitalRecords :patient_id="patient_id" :myprop="myprop"></hospitalRecords>

                    <!--send message content-->
                    <messages :viewMessage="viewMessage" :slug="slug" :myprop="myprop" v-if="support != null"></messages>

                    <!--complaint content-->
                    <complaints :viewMessage="viewMessage" :slug="slug" :myprop="myprop" v-if="support != null"></complaints>

                    <!--send document content-->
                    <sendDocument :patient="patient" :myprop="myprop"></sendDocument>
                   <!-- <sendMessage :patient="patient" :myprop="myprop"></sendMessage> -->

                    <!--edit personalinfo content-->
                    <personalInfo :patient="patient"></personalInfo>

                    <!--Change password-->
                    <changePassword></changePassword>

                    <!--Change Hospital-->
                    <changeHospital :patient="patient"></changeHospital>

                    <!--Change laboratory -->
                    <changeLaboratory :patient="patient"></changeLaboratory>

                    <!--Write testimonial -->
                    <testimonial :patient="patient"></testimonial>

                    <!--RBT -->
                    <rbt :patient_id="patient_id" :myprop="myprop" :patient="patient"></rbt>

                    <authenticateModal @authenticated="showHospitalRecords"></authenticateModal>


                </div>
                <c-spinner v-else></c-spinner>
                <footer-component></footer-component>
            </div>

            <div class="clearfix"></div>
        </div>
        
      </span>
      
</template>
<script type="text/javascript">
	import axios from 'axios';
	import informationSharing from './InformationSharing.vue'
	import membership from './membership/Membership.vue'
	import receipts from './Receipts.vue'
	import appointments from './appointment/Appointments.vue'
	import personalInfo from './PersonalInfo.vue'
	import changePassword from './ChangePassword.vue'
	import changeHospital from './ChangeHospital.vue'
	import changeLaboratory from './ChangeLaboratory.vue'
	import rbt from './RBT.vue'
	import sendDocument from './SendDocument.vue'
    /*import sendMessage from './SendMessage.vue'*/
	import messages from './messages/Messages.vue'
	import testimonial from './Testimonial.vue'
    import hospitalRecords from './HospitalRecords.vue'
    import authenticateModal from './../common/AuthenticateModal.vue'
    import complaints from './messages/Complaints.vue'

	export default {
        beforeCreate: function() {
            document.body.className = 'landing-page';
        },
		components : {
			informationSharing,
			membership,
			receipts,
			appointments,
			personalInfo,
			changePassword,
			changeHospital,
			changeLaboratory,
			rbt,
			sendDocument,
            /*sendMessage,*/
			messages,
			testimonial,
            hospitalRecords,
            authenticateModal,
            complaints
		},
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        beforeDestroy () {
            clearInterval(this.messagetime);
        },
		mounted () {
            document.body.className = 'landing-page';
			var app = this;
            app.getPatient();
            setTimeout(function(){
                if (app.patient_id == null) {
                    app.getPatient();
                }
            },3000);

            let slug = app.$route.params.slug;
            if (slug != null) {
                app.supportData.value = slug;
                app.slug = slug;
                app.getSupport();
            } else {
                app.support = [];
            	$('.appointments-tab-content').addClass('active');
            } 

            $('#message_tab, #complaint_tab').click(function() {
                app.viewMessage = false;
            });

                app.getNewMessageCount();
                app.getNewComplintCount();
                this.messagetime =  setInterval(function(){ 
                   app.getNewMessageCount();
                   app.getNewComplintCount();
                  }, 60000); // 2 mins
            
            

              EventBus.$on('updateMessageCount', function() {
                app.getNewMessageCount();
              });

              EventBus.$on('updateComplaintCount', function() {
                app.getNewComplintCount();
              });

                   
           
			$('.left-sidebar ul li a').click(function(){
				var currentTab = $(this).attr('data-content');
				$(this).parents('.tab-content-main').find('.left-sidebar ul li').removeClass('active');
				$(this).parent().addClass('active');
				
                if (currentTab == '.hospital-record-tab-content') {
                   // return false;
                } else {
                    $(this).parents('.tab-content-main').find('.account-tab-content').removeClass('active');
                    $(currentTab).addClass('active');
                    app.myprop = currentTab;
                    $('html, body').animate({
                        scrollTop: $('.account-tab-content').offset().top - 20 //#DIV_ID is an example. Use the id of your destination on the page
                    }, 'fast');
                }
				
                
			});

            let hash = window.location.hash.substring(1);
            if (hash != '') {
                var accountHash = JSON.parse(window.localStorage.getItem('accountHash'));
                if (accountHash != null) {
                   window.localStorage.removeItem('accountHash');
                }
                $('.tab-content-main').find('.left-sidebar ul li').removeClass('active');
                $('#'+hash).addClass('active');
                app.myprop = "."+hash;
                
                setTimeout(function(){ 
                    $('.appointments-tab-content').removeClass('active');
                    $('.'+hash).addClass('active');
                }, 2000);

            } else {
                $('.appointments-tab-content').addClass('active');
            } 
		},
		data: function () {
	      return {
	      	patient : '',
	      	patient_id : null,
	      	viewMessage : false,
	      	slug : null,
            myprop : '.appointments-tab-content',
            isShowing:false,
            showLeftpanel:false,
            supportData: {
                value : '',
                column : 'slug',
            },
            newMessageCount : 0,
            newComplaintCount :0,
            support : null,
            messagetime : null
	      }
	    },
        methods: {
            showLeftMenu(){
                this.showLeftpanel = !this.showLeftpanel;
            },
            getPatient() {
                var app = this;
                 axios.get(app.$apiUrl+'patient/'+app.$loggedInUser.patient_id)
                .then(function (resp) {
                    app.patient = resp.data.data;
                    app.patient_id = resp.data.data.id;
                })
                .catch(function () {
                });
            },
            showHospitalRecords() {
                var app = this;
                $('.left-sidebar ul li a').parents('.tab-content-main').find('.account-tab-content').removeClass('active');
                $('.hospital-record-tab-content').addClass('active');
                app.myprop = '.hospital-record-tab-content';
            },
            showAuthenticateModal() {
                var app = this;
                let isAuthticated  = app.$store.getters.getAuthenticated;
                if (isAuthticated == 0) {
                    $('#authenticateModal').modal('show')
                } else {
                    app.showHospitalRecords();
                }
                
            },
            getSupport() {
                var app = this;
                //app.myprop = '';
                axios({
                    method: 'get',
                    url: app.$apiUrl+'support',
                    params: app.supportData
                }).then(resp => {
                    app.viewMessage = true;
                   
                    app.support =  resp.data.data;
                     app.slug = app.support.slug;
                    $('.left-sidebar ul li a').parents('.tab-content-main').find('.account-tab-content').removeClass('active');
                    $('.tab-content-main').find('.left-sidebar ul li').removeClass('active');
                    
                    if (app.support.category == 'Complaint') {
                        $('#complaint_tab').addClass('active');
                        app.myprop = '.complaint-tab-content';
                        //$('.complaint-tab-content').addClass('active');
                    } else {
                        $('#message_tab').addClass('active');
                        app.myprop = '.message-tab-content';
                        //$('.message-tab-content').addClass('active');
                        
                    }

                    
                })
                .catch(error => {
                  app.isPageLoading = false;
                });
            },
            getNewMessageCount () {
                var app = this;
                 axios.get(app.$apiUrl+'support-new-messages')
                .then(function (resp) {
                    app.newMessageCount = resp.data.data;
                })
                .catch(function () {
                });
              },
              getNewComplintCount () {
                var app = this;
                 axios.get(app.$apiUrl+'complaint-new-messages')
                .then(function (resp) {
                    app.newComplaintCount = resp.data.data;
                })
                .catch(function () {
                });
              }
        }
	}
</script>