<template>
	<div class="account-tab-content password-tab-content">
		<h2>Change Password</h2>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label>Old Password</label>
					<input type="password" name="old_password" class="form-control"
					placeholder="Enter old password"
					:class="{'is-invalid': errors.has('old_password') }"
                     v-model="object.old_password"
                     v-validate="'required'"
                     data-vv-as="old password">
                    <small class="text-danger"
                      v-show="errors.has('old_password')">
                      {{ errors.first('old_password') }}
                    </small> 
				</div>
				<div class="form-group">
					<label>New Password</label>
					<input type="password" name="password" class="form-control"
					placeholder="Enter new password"
					:class="{'is-invalid': errors.has('password') }"
                    ref="password"
                     v-model="object.password"
                     v-validate="'required|verify_password'">
                    <small class="text-danger"
                      v-show="errors.has('password')" v-html="errors.first('password')">
                    </small> 
				</div>
				<div class="form-group">
					<label>Confirm New Password</label>
					<input type="password" name="confirm_password" class="form-control" 
					placeholder="Re-Enter new password"
					:class="{'is-invalid': errors.has('confirm_password') }"
                      data-vv-as="confirm new password"
                      v-model="object.confirm_password"
                      v-validate="'required|confirmed:password'">
                      <small class="text-danger"
                          v-show="errors.has('confirm_password')">
                          {{ errors.first('confirm_password') }}
                        </small> 
				</div>
				<div class="clearfix"></div>
				<div class="form-group mt-20">
					 <div class="checkbox">
                      <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
                            <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
                    </div>
                </div>                      
                <div class="clearfix"></div>
                <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="updateAccount">
                        <span>Update</span>
                        <div class="loader"></div>
                </button>
                <div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                </div>
			</div>
		</div>
	</div>
</template>
<script>
	import axios from 'axios';
    export default {
        mounted() {
            var app = this;
        },
        data: function () {
            return {
                object: {
                    password: '',
                    confirm_password: '',
                    old_password: ''
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                terms_consent : false,
                privacy_policy_consent : false,
            }
        },
        methods: {
            updateAccount() {
                var app = this;
                var params = app.object;

                this.$validator.validateAll().then(result => {
                    if (result) {
                    	app.isLoading = true;
    	                axios.put(app.$apiUrl+'user/reset-password', params)
                        .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.object.password = '';
                            app.object.confirm_password = '';
                            app.object.old_password = '';
                            app.terms_consent = false;
                            app.privacy_policy_consent = false;
                            app.$nextTick(() => app.$validator.reset())
                            setTimeout(function() {
                                app.isAlertShow = false;
                            }, 5000);
                        })
                        .catch(function (error) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = error.response.data.message;
                            app.terms_consent = false;
                            app.privacy_policy_consent = false;
                        });
                    }
                })    
            }
        }
    }
</script>