<template>
	<span>
		<div class="account-tab-content laboratory-tab-content" v-if="patient.laboratory_address_id != 0">
			<h2>Change laboratory </h2>
			<div class="row">
				<div class="col-xs-12 col-md-8">
			        <div class="form-group">
			            <label class="">Your existing lab address is</label>
			            <textarea name="search_hospital" class="form-control search_hospital" disabled="disabled">{{ laboratory_address.name }}, {{ laboratory_address.address_first_line }}, {{ laboratory_address.city }}, {{ laboratory_address.country }}, {{ laboratory_address.postcode }}
	            		</textarea>                                              
			        </div>
					
				</div>
				<div class="col-xs-12 col-md-8">
			    	<hr class="md-space"> 
			    </div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<div class="row">
					    <div class="col-xs-12 col-md-10">
					    	<div class="form-group">
					           <!--  <label class="">Find Your Nearest Laboratory</label> -->
					            <input type="search_hospital" name="searchhospital" class="form-control" placeholder="Enter your postcode" v-model="laboratory.search_by_postcode">                                              
					        </div>                                              
					    </div>
					    <div class="col-xs-12 col-md-2">
					        <button class="btn btn-primary btn-md"
	                        :class="{'show-spinner' : isSearchLoading }" @click="getLaboratorys">
	                          <span>Search</span>
	                          <div class="loader"></div>
	                        </button>
					    </div>
					</div>   						
				</div>
				<div class="col-xs-12 col-md-8" v-show="!isLabResults">
			    	<hr class="md-space"> 
			    </div>
			    <div class="col-xs-12 col-md-8">
			    	 <div class="hospital-list-wrapper" v-show="isLabResults">
	                    <h4>Search results</h4>
	                    <carousel class="owl-carousel-laboratory" :autoplay="false" :nav="true" :loop="true" :margin="20" :responsive="{0:{items:1},600:{items:1},1000:{items:2}}" v-if="laboratories.length > 0">
	                     <li class="item" v-for="lab in laboratories">
	                            <div class="team-member style-3">
	                                <div class="team-description text-left">
	                                    <h4>{{ lab.name }}</h4>
	                                    <p><strong>Address: </strong>{{ lab.address_first_line }}</p>
	                                    <p><strong>Town/City: </strong>{{ lab.city }}</p>
	                                    <p><strong>Postcode: </strong> {{ lab.postcode }}</p>
	                                    <p><strong>Distance: </strong> {{ lab.distance }}km</p>
	                                    <button class="btn btn-primary btn-block" @click="selectedLaboratory(lab.id)">
	                                    <span>Select</span>
	                                    <input type="radio" value="" name="select_radio">
	                                    <i class="icon-check"></i>                                  
	                                    </button>  
	                                </div>
	                            </div>                                                                    
	                        </li>
	                    </carousel>
	                    <div class="row" v-if="laboratories.length == 0">
	                        <p class="text-center col-md-12">Sorry, No Record Matched</p>
	                    </div>
	                </div>
	                <div class="clearfix"></div>
			    </div>
			    <div class="col-xs-12 col-md-8" v-show="isLabResults">
			    	<hr class="md-space"> 
			    </div>
			</div>
			 	
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<div class="clearfix"></div>
					<div class="form-group mt-20">
			 			<div class="checkbox">
		                    <label>
		                      	<input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link>
		                    </label>
		                </div>
	                    <div class="checkbox">
	                        <label>
	                            <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
	                            <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link>
	                        </label>
	                    </div>
		            </div>                      
		            <div class="clearfix"></div>
	                <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="update">
	                        <span>Update</span>
	                        <div class="loader"></div>
	                </button>
					<div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
		        	</div>
				</div>
			</div>
		</div>
		<div class="account-tab-content laboratory-tab-content" v-else>
			<h2>Change Laboratory</h2>
			<div class="row">
				<div class="col-xs-12 col-md-8">
			        <p class="info-text"><i class="icon-info-circle"></i>Your laboratory address is not set yet. You can set your laboratory address while taking appointment of initial assessment.</p>
				<div class="clearfix"></div>
			    </div>
			</div>
		</div>
	</span>	
</template>
<script type="text/javascript">
	import axios from 'axios';
	import carousel from 'v-owl-carousel'

	export default {
		components : {
           carousel
        },
		props  : ['patient'],
		mounted() {
			var app = this;
			app.laboratory_address_id = app.patient.laboratory_address_id;
			app.laboratory_address = app.patient.laboratory_address;
		},
		data: function () {
      return {
      	laboratories : [],
        laboratory : {
          search_by_postcode : '', 
        },
        laboratory_address_id : '0',
        laboratory_address : '',
      	terms_consent : false,
      	privacy_policy_consent : false,
      	isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
        isLabResults:false,
        isSearchLoading:false,

      }
    },
    methods : {
    		getLaboratorys:function(page) {
                var app = this;
                var params = {};
                params.limit = 4;
                params.search_by_postcode = app.laboratory.search_by_postcode;
                if (app.laboratory.search_by_postcode != '') {
                   app.isSearchLoading = true;
                  axios({
                          method: 'get',
                          url: app.$apiUrl+'laboratories-distance',
                          params: params
                      })
                    .then(function (resp) {
                        app.isLabResults = true;
                        app.laboratories = resp.data.data.data;
                        app.isSearchLoading = false;
                    })
                    .catch(function (resp) {
                        app.isLabResults = true;
                        app.laboratories = [];  
                        app.isSearchLoading = false;
                    });
                }    
            },
            selectedLaboratory(id) {
              var app = this;
              app.laboratory_address_id = id;
            },
            update () {
    		var app = this;
	        app.isLoading = true;
	        var params = {};
	        params.column = 'laboratory_address_id';
	        params.value = app.laboratory_address_id;
	    		axios.patch(app.$apiUrl+'patient-common-update/'+app.patient.id, params)
	          .then(function (resp) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = true;
	              app.isError = false;
	              app.alertMsg = 'Laboratory has been updated successfully.';
	              app.laboratory_address = resp.data.data.laboratory_address;
	              app.laboratory.search_by_postcode = '';
	              app.terms_consent = false;
              		app.privacy_policy_consent = false;

	          })
	          .catch(function (error) {
	              app.isLoading = false;
	              app.isAlertShow = false;
	              app.isSuccess = false;
	              app.isError = true;
	              app.alertMsg = error.response.message;
	              app.terms_consent = false;
              		app.privacy_policy_consent = false;
	          });
	    	}
    	}  
	}
</script>