<template>
	<span>
		<div class="account-tab-content hospital-tab-content" v-if="patient.mental_hospital_address_id != 0">
			<h2>Change Hospital</h2>
			<div class="row">
				<div class="col-xs-12 col-md-8">
			        <div class="form-group">
			            <label class="">Your existing hospital address is</label>
			            <textarea name="search_hospital" class="form-control search_hospital textarea-height" disabled="disabled">{{ mental_hospital_address.name }}, {{ mental_hospital_address.address_first_line }}, {{ mental_hospital_address.city }}, {{ mental_hospital_address.country }}, {{ mental_hospital_address.postcode }}
			            </textarea>                                      
			        </div>
			    </div>
			    <div class="col-xs-12 col-md-8">
			    	<hr class="md-space"> 
			    </div>	  
			</div>
			      
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<div class="row">
					    <div class="col-xs-12 col-md-6">
					        <div class="form-group">
					            <label class="">Search by Hospital Name</label>
					            <input type="text" name="search_hospital" class="form-control" placeholder="Enter hospital name" v-model="hospital.search_by_name">
					        </div>
					    </div>
					    <div class="col-xs-12 col-md-6">
					        <div class="form-group">
					            <label class="">Search by Town/City or Postcode</label>
					            <input type="search_hospital" name="searchhospital" class="form-control" placeholder="Search by town/city or postcode" v-model="hospital.search_by_city_postcode">                                                   
					        </div>
					    </div>    
					    <div class="col-xs-12 col-md-2">
					    	<button class="btn btn-primary btn-md" :class="{'show-spinner' : isSearchLoading }" @click="getMentalHealthHospitals">
		                      <span>Search</span>
		                      <div class="loader"></div>
		                    </button>
					    </div>	
					    <div class="col-xs-12 col-md-12" v-show="!isResults">
					    	<hr class="md-space"> 
					    </div>
					    <div class="col-xs-12 col-md-12">
						    <div class="hospital-list-wrapper" v-show="isResults">
		                        <h4>Search results</h4>
		                        <div class="row" v-if="hospitals.length > 0">
		                            <div class="col-xs-12 col-md-6" v-for="hospital in hospitals">
		                                <div class="team-member style-3">
		                                    <!--                                                                         <div class="hospital-logo"><img src="images/dummy/express-healthcare-excellence-award.jpg"></div> -->
		                                    <div class="team-description">
		                                        <h4>{{ hospital.name }}</h4>
		                                        <p><strong>Address: </strong>{{ hospital.address_first_line }}</p>
		                                        <p><strong>Town/City: </strong>{{ hospital.city }}</p>
		                                        <p><strong>Postcode: </strong> {{ hospital.postcode }}</p>
		                                         <p><strong>Country: </strong> {{ hospital.country }}</p>
		                                        <button class="btn btn-primary btn-block" @click="selectedHospital(hospital.id)">
		                                        <span>Select</span>
		                                        <input type="radio" value="" name="select_radio">
		                                        <i class="icon-check"></i>                                  
		                                        </button>                                  
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row" v-else>
		                            <p class="text-center col-md-12">Sorry, No Record Matched</p>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-xs-12 col-md-12" v-show="isResults">
					    	<hr class="md-space"> 
					    </div>    						      							
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-8">
					<div class="clearfix"></div>
					<div class="form-group mt-20">
			 			<div class="checkbox">
		                    <label>
		                      	<input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link>
		                    </label>
		                </div>
	                    <div class="checkbox">
	                        <label>
	                            <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
	                            <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link>
	                        </label>
	                    </div>
		            </div>                      
		            <div class="clearfix"></div>
	                <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="update">
	                        <span>Update</span>
	                        <div class="loader"></div>
	                </button>
					<div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
		        	</div>
				</div>
			</div>
		</div>
		<div class="account-tab-content hospital-tab-content" v-else>
			<h2>Change Hospital</h2>
			<div class="row">
				<div class="col-xs-12 col-md-8">
			        <p class="info-text"><i class="icon-info-circle"></i>Your hospital address is not set yet. You can set your hospital address while taking appointment of initial assessment.</p>
				<div class="clearfix"></div>
			    </div>
			</div>
		</div>
	</span>
</template>
<script type="text/javascript">
	import axios from 'axios';
	export default {
		props  : ['patient'],
		mounted() {
			var app = this;
			app.mental_hospital_address_id = app.patient.mental_hospital_address_id;
			app.mental_hospital_address = app.patient.mental_hospital_address;
		},
		data: function () {
      return {
      	hospitals : [],
        hospital : {
          search_by_name : '',
          search_by_city_postcode : '', 
        },
        mental_hospital_address_id : '0',
        mental_hospital_address : '',
      	terms_consent : false,
      	privacy_policy_consent : false,
      	isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
        isResults:false,
        isSearchLoading:false,

      }
    },
    methods : {
    		getMentalHealthHospitals:function(page) {
                var app = this;
                var params = {};
                params.limit = 2;
                params.search_by_name = app.hospital.search_by_name;
                params.search_by_city_postcode = app.hospital.search_by_city_postcode;
                if (app.hospital.search_by_name != '' || app.hospital.search_by_city_postcode != '') {
                   app.isSearchLoading = true;
                  axios({
                          method: 'get',
                          url: app.$apiUrl+'mental_health_hospitals',
                          params: params
                      })
                      .then(function (resp) {
                          app.isResults = true;
                          app.hospitals = resp.data.data.data;
                          app.isSearchLoading = false;
                      })
                      .catch(function (resp) {
                          app.isResults = true;
                          app.hospitals = [];  
                          app.isSearchLoading = false;
                      });
                }
            },
            selectedHospital(id) {
              var app = this;
              app.mental_hospital_address_id = id;
            },
            update () {
    		var app = this;
	        app.isLoading = true;
	        var params = {};
	        params.column = 'mental_hospital_address_id';
	        params.value = app.mental_hospital_address_id;
	    		axios.patch(app.$apiUrl+'patient-common-update/'+app.patient.id, params)
	          .then(function (resp) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = true;
	              app.isError = false;
	              app.alertMsg = 'Hospital has been updated successfully.';
	              app.mental_hospital_address = resp.data.data.mental_hospital_address;
	               app.hospital.search_by_name = '';
                    app.hospital.search_by_city_postcode = '';

                    app.terms_consent = false;
              		app.privacy_policy_consent = false;
	          })
	          .catch(function (error) {
	              app.isLoading = false;
	              app.isAlertShow = false;
	              app.isSuccess = false;
	              app.isError = true;
	              app.alertMsg = error.response.message;
	              app.terms_consent = false;
              		app.privacy_policy_consent = false;
	          });
	    	}
    	}  
	}
</script>