<template>
    <div class="account-tab-content hospital-record-tab-content">
        <h2>Health Records</h2>
        <div class="table responsive-table" v-if="!isPageLoading">
            <table class="table my-receipts-table">
                <thead>
                  <th v-for="header in tableHeader">{{header}}</th>
                </thead>
                 <tbody id="user_listing">
                <template v-if="hospital_records.length > 0">  
                    <tr v-for="record, index in hospital_records" >
                        <td>{{ record.id }}</td>
                        <td>{{ record.mental_hospital_address.name }}</td>  
                        <td>{{ record.appointment.doctor.user.full_name }}</td>
                        <td>{{ record.created_at | moment("DD-MM-YYYY h:mm a") }}</td>
                        
                        <td class="action-table-col">
                            <a href="javascript:;"
                                data-toggle="modal"
                               @click="showHospitalRecPopup(record.id)"  title="View">
                                View
                            </a>
                        </td>
                    </tr>
                </template>
                <template v-else> 
                    <tr>
                        <td colspan="10">
                            <div class="blank-data">
                                <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                <h3>Nothing Here Yet!</h3>
                                <p>Did not find anything .. try again.</p>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
            </table>
            <div class="row col-md-12">
              <div>
                <div class="dataTables_paginate paging_simple_numbers">
                  <paginate
                    :page-count="pageCount"
                    :page-range="3"
                    :margin-pages="1"
                    :click-handler="getHospitalRecords"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                  </paginate>
                </div>
                  </div>
              </div>

        </div>
        <c-spinner v-if="isPageLoading"></c-spinner>
        <hospitalRecordViewModal></hospitalRecordViewModal>
    </div>

</template>
<script>
    import axios from 'axios';
    import hospitalRecordViewModal from './../patient-assessement/HospitalRecordViewModal.vue';
    export default {
        components: {
            hospitalRecordViewModal,
        },
        props : ['patient_id', 'myprop'],
        watch: { 
            myprop: function(newVal, oldVal) { // watch it
              if (newVal == '.hospital-record-tab-content') {
                var app = this;
                if (app.hospital_records.length == 0) {
                   this.getHospitalRecords(1);
                } 
              } 
            }
          },
        data: function () {
            return {
                showTableSpinner:false,
                tableHeader: ["ID","Hospital Name","Doctor", "Created At", 'Action'],
                hospital_records: [],
                hospital_record: {
                    filter_by_patient_id: '',
                }, 
                id: null,
                index:null,
                isLoading : false,
                isPageLoading : true,
                isLoadMore : false,
                pageCount: 0,
                //totalInvoices:0,
            }
        },
        mounted() {
           /* this.getInvoices(1);*/
        },
        methods: {
            getHospitalRecords:function(page) {
                var app = this;
                app.hospital_record.page = page || 1;
                app.hospital_record.limit = 10;
                app.hospital_record.filter_by_patient_id = app.patient_id;
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'clinical/hospital-records',
                    params: app.hospital_record
                })
                .then(function (resp) {
                    app.isLoading = false;
                    app.isPageLoading = false;
                    app.totalHospitalRecords = resp.data.data.pagination.total;
                    app.hospital_records = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (error) {
                    app.hospital_records = [];  
                    app.pageCount = 0;
                    app.isLoading = false;
                    app.isPageLoading = false;
                });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getHospitalRecords(1);
            }, 
            showHospitalRecPopup:function(id)
            {
                EventBus.$emit('showHospitalRecPopup', id);
            },
        }
    }
</script>