<template>
	<div class="account-tab-content sharing-tab-content">
		<h2>Information Sharing</h2>
    <c-spinner v-if="isPageLoading"></c-spinner>
		<div class="row">
			<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label>Would you like to notify the hospital regarding your condition?</label>
				<div class="clearfix"></div>
				<div class="radio custom-radio btn-inline-block">
					<label>
						<input type="radio" value="1" name="radio1" v-model="sharing_consent">
						<span class="radio-circle"></span>
						Yes</label>
				</div>
				<div class="radio custom-radio btn-inline-block">
					<label>
						<input type="radio" value="0" name="radio1" checked="" v-model="sharing_consent">
						<span class="radio-circle"></span>
						No</label>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="form-group mt-20">
					 <div class="checkbox">
                      <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
                            <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
                    </div>
                </div>                      
                <div class="clearfix"></div>
                <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="update">
                        <span>Update</span>
                        <div class="loader"></div>
                </button>
				<div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
        </div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';
	export default {
		props  : ['patient'],
		mounted() {
			var app = this;
			app.sharing_consent = app.patient.sharing_consent;
      app.isPageLoading = false;
		},
		data: function () {
      return {
      	sharing_consent : '0',
      	terms_consent : false,
      	privacy_policy_consent : false,
      	isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
        isPageLoading : true,
      }
    },
    methods : {
    	update () {
    		var app = this;
        app.isLoading = true;
        var params = {};
        params.column = 'sharing_consent';
        params.value = app.sharing_consent;
    		axios.patch(app.$apiUrl+'patient-common-update/'+app.patient.id, params)
          .then(function (resp) {
              app.isLoading = false;
              app.isAlertShow = true;
              app.isSuccess = true;
              app.isError = false;
              app.alertMsg = resp.data.message;
              app.terms_consent = false;
              app.privacy_policy_consent = false;

          })
          .catch(function (error) {
              app.isLoading = false;
              app.isAlertShow = false;
              app.isSuccess = false;
              app.isError = true;
              app.alertMsg = error.response.message;
          });
    	}
    }  
	}
</script>