<template>
	<div class="account-tab-content blood-service-tab-content">
		<h2>Repeat Blood Test Service</h2>
			<div class="row" v-if="rbt != ''">
				<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label class="with-sub-text">{{ rbt }}</label>
					<div class="clearfix"></div>
					<!-- <div class="radio custom-radio btn-inline-block">
				        <label>
				            <input type="radio" value="Activated" name="radio1" v-modal="rbt" disabled="">
				            <span class="radio-circle"></span>
				            Yes</label>
				    </div>
				    <div class="radio custom-radio btn-inline-block">
				        <label>
				            <input type="radio" value="Deactivated" name="radio1" v-modal="rbt"
				            disabled="">
				            <span class="radio-circle"></span>
				            No</label>
				    </div> -->
				</div>				
				<p class="info-text" v-if="rbt == 'Activated'"><i class="icon-info-circle"></i>To make changes to your repeat blood test service please discuss with your doctor during the next appointment</p>
				<p class="info-text" v-else>
					<span v-if="patient.is_member == 0"><i class="icon-info-circle"></i> To activate repeat blood test service please subscribe to Happy Clinic <router-link :to="{name : 'Membership'}">membership.</router-link></span>
					<span v-else><i class="icon-info-circle"></i> Repeat blood test service will be activated or deactivated by your doctor. Please discuss this with your doctor during the next appointment</span>
				</p>
				<div class="clearfix"></div>
				</div>
			</div>
			 <c-spinner v-else></c-spinner>
	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';
	export default {
		props  : ['patient_id', 'myprop', 'patient'],
		watch: { 
            myprop: function(newVal, oldVal) { // watch it
              if (newVal == '.blood-service-tab-content') {
                var app = this;
                var params = {};
				params.column = 'patient_id';
				params.value = app.patient_id
				axios({
	                      method: 'get',
	                      url: app.$apiUrl+'subscription/rbt',
	                      params: params
	                  })
	                .then(function (resp) {
	                   app.rbt = 'Activated';	                
	                })
	                .catch(function (resp) {
	                    app.rbt = 'Deactivated';
	                });
              } 
            }
          },
		mounted() {
		},
		data: function () {
	      return {
	      	rbt : '',
	      	isAlertShow: false,
	        isSuccess:false,
	        isError:false,
	        alertMsg:'',
	        isLoading:false,
	      }
	    },
	    methods : {
	    	
	    } 
	}     
</script>