<template>
	<div class="modal fade" id="invoiceViewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
      <div class="modal-content-wrapper">
        <div class="modal-content" v-if="invoice != null">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
            </button>
          </div>
          <div class="modal-body">
          	<div class="invoice-box" id="printareaInvoice" >
		        <table cellpadding="0" cellspacing="0">
		            <tr class="top">
		                <td colspan="7">
		                    <table>
		                        <tr>
		                            <td class="title">
		                               <img alt="Logo" width="250" class="form_logo inline" :src="$baseUrl+'/htmlv1/images/logo-wide.png'">
		                            </td>

		                            <td class="text-right">
		                                Number #: {{ invoice.number }}<br>
		                               <!--  Created: DATE.CREATED<br> -->
		                            </td>
		                        </tr>
		                    </table>
		                </td>
		            </tr>

		            <tr class="information">
		                <td colspan="7">
		                    <table>
		                        <tr>
		                            <td>
		                                To<br>
		                                {{ invoice.patient.user.full_name }}<br>
		                                {{ invoice.patient.address_first_line }}<br>
		                                {{ invoice.patient.city }}<br>
		                                {{ invoice.patient.country }}<br>
		                                {{ invoice.patient.postcode }}<br>
		                            </td>

		                            <td class="text-right">
		                                <strong>{{ $clinicName }}</strong><br>
		                                <br>
		                               	<span v-html="$clinicAddress"></span>
		                                Tel: {{ $clinicPhone }}<br>
		                                Trading Name: {{ $clinicName }}<br>
		                                URL: {{ $clinicWebsite }}<br>
		                            </td>
		                        </tr>
		                    </table>
		                </td>
		            </tr>

		            <tr class="heading">
		                <td colspan="7" class="text-center">
		                    RECEIPT
		                </td>
		            </tr>

		            <tr class="details">
		                <td colspan="7">
		                   Name of patient : {{ invoice.patient.user.full_name }}<br>
		                   Date of Birth: {{ invoice.patient.dob | moment('DD-MM-YYYY') }}
		                </td>
		            </tr>
		            <tr class="heading ">
		                <td>
		                   Amount Paid
		                </td>
		                <td>
		                   Date of Payment
		                </td>
		                <td>
		                    Payment Status
		                </td>
		            </tr>
		            <tr class="item">
		                <td >
		                   £{{ invoice.amount_paid}}
		                </td>
		                <td >
		                   {{ invoice.finalized_at | moment('DD-MM-YYYY') }}
		                </td>
		                <td>
		                   {{ invoice.status}}
		                </td>
		            </tr>

		            <tr class="heading text-center m-t-20" >
		                <td colspan="3">
		                   SUMMARY
		                </td>
		            </tr>
		            <template v-if="invoice.type == 'subscription'">
		            	<tr class="item">
		            		<td colspan="3">Type of Service : {{ invoice.subscriptions.description }}</td>
		            	</tr>
		            	<tr class="item">
		            		<td colspan="3">Fees : £{{ invoice.amount_paid}}</td>
		            	</tr>
		            	<tr class="item">
		            		<td colspan="3">Pay Period: {{ invoice.subscriptions.start_date | moment('DD-MM-YYYY') }} - {{ invoice.subscriptions.end_date | moment('DD-MM-YYYY') }}</td>
		            	</tr>
		            </template>
		            <template v-else>
		                <tr class="item">
		            		<td colspan="3">Type of Service : {{ invoice.items.description }}</td>
		            	</tr>
		            	 <tr class="item">
		            		<td colspan="3">Fees : £{{ invoice.amount_paid}}</td>
		            	</tr>	
		            	 <tr class="item">
		            		<td colspan="3">Pay Period: {{ invoice.items.start_date | moment('DD-MM-YYYY') }} - {{ invoice.items.end_date | moment('DD-MM-YYYY') }}</td>
		            	</tr>			
		            </template>
		            <tr class="item">
		            	<td colspan="3">Date of issue : {{ invoice.date | moment('DD-MM-YYYY') }}</td>
		             </tr>

		            <tr class="information">
		                <td colspan="2">
		                    <table>
		                        <tr>
		                            <td><small>
		                              Copyright © 2018 - {{ $clinicName }}, Registered in UK </small>
		                            </td>


		                        </tr>
		                    </table>
		                </td>
		            </tr>
		        </table>
		    </div>
          </div>
          <div class="modal-footer">
             <a :href="$apiUrl+'receipt?id='+invoice.id+'&patient_id='+patient_id" class="btn btn-primary btn-cons  pull-left inline" target="_blank"><i class="icon-print"></i> Print </a>
            <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>
<script type="text/javascript">
	export default {
		props : ['patient_id'],
		mounted () {
			var app = this;
			EventBus.$on('showViewPopup', function (invoice) {
				app.invoice= invoice;
				$('#invoiceViewModal').modal('show');    
	        });
			
		},
		
		data: function () {
            return {
            	invoice : null,
            }
        },
        methods : {
        },

	}
</script>

<style scoped="">


	h4 {font-size: 25px !important;
    margin:0px !important;}

    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    /*.invoice-box table tr td:nth-child(2) {
        text-align: right;
    }*/

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 36px;
        line-height: 36px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
</style>