<template>
    <div class="account-tab-content reciept-tab-content">
        <h2>My Receipts</h2>
        <div class="table responsive-table" v-if="!isPageLoading">
            <table class="table my-receipts-table">
                <thead>
                  <th v-for="header in tableHeader">{{header}}</th>
                </thead>
                 <tbody id="user_listing">
                <template v-if="invoices.length > 0">  
                    <tr v-for="invoice, index in invoices" >
                        <td>{{ index+1 }}</td>
                        <td><span v-if="invoice.type == 'manual'">{{ invoice.items.description }}</span>
                            <span v-else>{{ invoice.subscriptions.description }}</span></td>
                        <td>{{ invoice.date | moment("DD-MM-YYYY, h:mm a") }}</td>
                        <td>£{{ invoice.amount_paid }}</td>
                        <td>{{ invoice.status }}</td>
                        <td class="action-table-col">
                            <a href="javascript:;"
                                data-toggle="modal"
                               @click="showViewPopup(invoice)"  title="View">
                                <i class="icon-eye"></i>
                            </a>
                        </td>
                    </tr>
                </template>
                <template v-else> 
                    <tr>
                        <td colspan="10">
                            <div class="blank-data">
                                <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                <h3>Nothing Here Yet!</h3>
                                <p>Did not find anything .. try again.</p>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
            </table>
            <button class="btn btn-primary loadmore-msges-btn" :class="{'show-spinner' : isLoadMoreLoading}" @click="loadMore();" v-show="isLoadMore"><span>Load More</span>
                <div class="loader"></div>
            </button>

        </div>
        <receiptViewModal  :patient_id="patient_id"></receiptViewModal>
        <c-spinner v-if="isPageLoading"></c-spinner>
    </div>

</template>
<script>
    import axios from 'axios';
    import receiptViewModal from "./ReceiptViewModal.vue";
    export default {
        components: {
            receiptViewModal,
        },
        props : ['patient_id', 'myprop'],
        watch: { 
            myprop: function(newVal, oldVal) { // watch it
              if (newVal == '.reciept-tab-content') {
                var app = this;
                if (app.invoices.length == 0) {
                   this.getInvoices(1);
                } 
              } 
            }
          },
        data: function () {
            return {
                showTableSpinner:false,
                tableHeader: ["ID","Desciption", "Date", "Total", "Status", 'Action'],
                invoices: [],
                invoice : {
                    patient_id : '',
                    invoice_id : '',
                },
                id: null,
                index:null,
                module:'subscription/invoice-delete',
                isLoading : false,
                isPageLoading : true,
                isLoadMore : false,
                isLoadMoreLoading : false,
                //pageCount: 0,
                //totalInvoices:0,
            }
        },
        mounted() {
           /* this.getInvoices(1);*/
        },
        methods: {
            getInvoices:function(page) {
                var app = this;
                var limit = 5;
                app.invoice.page = page || 1;
                app.invoice.limit = 5;
                app.invoice.patient_id = app.patient_id;
                app.invoice.invoice_id = app.invoice.invoice_id;
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'subscription/invoices',
                    params: app.invoice
                })
                .then(function (resp) {
                    app.isLoadMoreLoading = false;
                    app.isLoading = false;
                    app.isPageLoading = false;
                    $(resp.data.data.data).each(function(ind, ele) {
                        app.invoices.push(ele);
                    });
                    if (resp.data.data.last_id != null) {
                        app.invoice.invoice_id = resp.data.data.last_id;
                        app.isLoadMore = true;
                    } else {
                        app.isLoadMore = false;
                    }
                    
                    
                    
                })
                .catch(function (error) {
                    app.invoices = []; 
                    app.isLoading = false; 
                    app.isPageLoading = false;
                    app.isLoadMoreLoading = false;
                    //app.pageCount = 0;
                    //app.totalInvoices = 0;
                });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getInvoices(1);
            }, 

             showViewPopup:function(invoice)
            {
                var app = this;
                EventBus.$emit('showViewPopup', invoice);
            }, 
            loadMore () {
                var app = this;
                app.isLoadMoreLoading = true;
                app.getInvoices();
            }
        }
    }
</script>