<template>
	<div class="account-tab-content document-tab-content">
		<h2>Send Document</h2>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label>Select Doctor</label>
					<select class="form-control" v-model="object.doctor_id"
					name="doctor"
                    :class="{'is-invalid': errors.has('doctor') }"
                    v-validate="'required'">
						<option value="">Select Doctor</option>
						<option v-for="doctor in doctors" :value="doctor.id">{{doctor.title}} {{doctor.user.full_name}}</option>
					</select>
					<small class="has-error"
	                  v-show="errors.has('doctor')">
	                  {{ errors.first('doctor') }}
	                </small> 
				</div>
        <image-upload-component 
          input_id="file2"
          refUpload="upload2"
          label="Upload Documents"
          button_text="Upload Documents"
          type="documents"
          :fileArray="files2"
          :is_multiple="true"
          :is_preview="false"
          :accept="$accept"
          :extensions="$extensions"
          :maximum="4"
          :thread="4"
          :inputArray="object.documents"
          :is_multidimensional_array="false"
          @fileAdded="setUploadedDoc"
          @fileRemoved="setUploadedDoc">   
          </image-upload-component>
				<div class="clearfix"></div>
				<button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading }" @click="sendDocument">
					<span>Send</span>
					<div class="loader"></div>
				</button>
				<div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
		        </div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
    import axios from 'axios';
    export default {
      props : ['myprop','patient'],
        watch: { 
            myprop: function(newVal, oldVal) { // watch it
              if (newVal == '.document-tab-content') {
                var app = this;
                if (app.doctors.length == 0) {
                   axios.get(app.$apiUrl+'doctors?limit=0&filter_by_patient_id='+app.patient.id)
                  .then(function (resp) {
                      app.doctors = resp.data.data.data;
                  })
                  .catch(function () {
                  });  
                } 
              } 
            }
          },
        mounted() {   
        },
        data: function () {
            return {
            	object : {
            		patient_id : '',
            		doctor_id : '',
            		documents : [],
            	},
                doctors: [],
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                isUploading:false,
                files2 : [],
                
            }   
        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        methods : {
          setUploadedDoc(files) {
              this.object.documents = files;
          },
          sendDocument () {
          	var app = this;
            var newObject = app.object;
             this.$validator.validateAll().then(result => {
                if (result) {
                    newObject.patient_id = app.$loggedInUser.patient_id;
                    app.isLoading = true;
                    
                    axios({
                      method: 'post',
                      url: app.$apiUrl+'patient/send-documents',
                      data:newObject
                    })
                    .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.isAlertShow = true;
                            app.alertMsg = 'Document(s) has been sent successfully.';
                            app.object.documents = [];
                            app.object.doctor_id = '';
                            app.files2 = [];
                            app.$nextTick(() => app.$validator.reset())
                            setTimeout(function() {
                              app.isAlertShow = false;
                              EventBus.$emit('CleanupFiles');
                            }, 3000);
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += '<p>'+value+'</p>';
                              }); 
                              app.alertMsg = messages;           
                            }
                             
                        });
                }        
            })
          },
          
        }     
    }
</script>  