<template>
	<div class="account-tab-content testimonial-tab-content">
		<h2>Testimonial</h2>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label class="">Write Testimonial</label>
					<textarea class="form-control" placeholder="Write Testimonial" rows="4" v-model="testimonial.text"
					name="text"
					:class="{'is-invalid': errors.has('text') }"
                          v-validate="'required'" style="height: 200px !important;"></textarea> 
                     <small class="has-error"
                      v-show="errors.has('text')">
                      {{ errors.first('text') }}
                    </small>                                  
				</div>

				<div class="clearfix"></div>
    				<div class="row">
    					<div class="col-xs-12 col-md-6">
							  <div class='rating-stars text-center'>
							    <ul id='stars'>
							      <li class='star' title='Bad' data-value='1' @click="addRating(1)">
							        <i class='icon-star'></i>
							      </li>
							      <li class='star' title='Poor' data-value='2' @click="addRating(2)">
							        <i class='icon-star'></i>
							      </li>
							      <li class='star'  title='Average' data-value='3' @click="addRating(3)">
							        <i class='icon-star'></i>
							      </li>
							      <li class='star' title='Great' data-value='4' @click="addRating(4)">
							        <i class='icon-star'></i>
							      </li>
							      <li class='star' title='Excellent' data-value='5' @click="addRating(5)">
							        <i class='icon-star'></i>
							      </li>
							    </ul>
							  </div>    						
    					</div>
    					<div class="col-xs-12 col-md-6">
    						<div class="pull-right">
    							5 stars : Excellent<br>
    						4 stars : Great<br>
    						3 stars : Average<br>
    						2 stars : Poor<br>
    						1 star : Bad
    						</div>
    						
    					</div>
    				</div>
				<div class="form-group mt-20">
					 <div class="checkbox">
                      <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
                            <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
                    </div>
                </div>                      
                <div class="clearfix"></div>
                <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (testimonial.rating == 0 || !privacy_policy_consent || !terms_consent) }" @click="save">
                        <span>Send</span>
                        <div class="loader"></div>
                </button>
				<div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
	        </div>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';
	export default {
		mounted() {
			//  start rating
			  /* 1. Visualizing things on Hover - See next part for action on click */
			  $('#stars li').on('mouseover', function(){
			    var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
			   
			    // Now highlight all the stars that's not after the current hovered star
			    $(this).parent().children('li.star').each(function(e){
			      if (e < onStar) {
			        $(this).addClass('hover');
			      }
			      else {
			        $(this).removeClass('hover');
			      }
			    });
			    
			  }).on('mouseout', function(){
			    $(this).parent().children('li.star').each(function(e){
			      $(this).removeClass('hover');
			    });
			  });
			  
			  
			  /* 2. Action to perform on click */
			  $('#stars li').on('click', function(){
			    var onStar = parseInt($(this).data('value'), 10); // The star currently selected
			    var stars = $(this).parent().children('li.star');
			    
			    for (var i = 0; i < stars.length; i++) {
			      $(stars[i]).removeClass('selected');
			    }
			    
			    for (var i = 0; i < onStar; i++) {
			      $(stars[i]).addClass('selected');
			    }
			    
			    // JUST RESPONSE (Not needed)
			    /*var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
			    var msg = "";
			    if (ratingValue > 1) {
			        msg = "Thanks! You rated this " + ratingValue + " stars.";
			    }
			    else {
			        msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
			    }
			    responseMessage(msg);*/
			    
			  });

		},
		data: function () {
      return {
      	testimonial : {
      		user_id : '',
      		text : '',
      		rating : 0,
      		status : 'disapprove',
      	},
      	terms_consent : false,
      	privacy_policy_consent : false,
      	isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
      }
    },
    computed: {
        $loggedInUser: function () {
            return JSON.parse(this.$store.getters.getAuthUser);
        },
        $loggedInUserIsMember : function () {
            var user = JSON.parse(this.$store.getters.getAuthUser);
            return user.is_member;
        }
    },
    methods : {
    	save () {
    		var app = this;
	        this.$validator.validateAll().then(result => {
                if (result) {
                	app.testimonial.rating = $('#stars li.selected').length;
                	app.isLoading = true;
			        var params = app.testimonial;
			        params.user_id = app.$loggedInUser.id;
			    	axios.post(app.$apiUrl+'testimonial', params)
			          .then(function (resp) {
			              app.isLoading = false;
			              app.isAlertShow = true;
			              app.isSuccess = true;
			              app.isError = false;
			              app.terms_consent = false;
      					  app.privacy_policy_consent = false;
      					  app.testimonial.text = '';
			              app.alertMsg = 'Testimonial has been sent successfully.';
			              app.$nextTick(() => app.$validator.reset())
			              	setTimeout(function() {
	                        	app.isAlertShow = false;
	                    	}, 3000);

			          })
			          .catch(function (error) {
			              app.isLoading = false;
			              app.isAlertShow = false;
			              app.isSuccess = false;
			              app.isError = true;
			              app.alertMsg = error.response.message;
			              app.terms_consent = false;
              				app.privacy_policy_consent = false;
			          });
			        }        
                })     
    	},
    	addRating(rating) {
    		var app = this;
    		app.testimonial.rating = rating;
    	}
    }	  
}
</script>
<style>
	.rating-stars ul > li.star.selected > i.icon-star {
	    color: #00b67a !important;
	}

	.rating-stars ul > li.star.hover > i.icon-star {
	  color:#4af1ba !important;
	}
</style>