
<template>
    <span>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2>  {{ type }} Samples
                                    <router-link to="/Samples" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Title</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              name="title" 
                                              v-model="Sample.title"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('title')">
                                              {{ errors.first('title') }}
                                            </small>
                                        </div>
                                    </div>
                                </div>    
                                <hr>
                                <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons"  @click="saveForm()">{{ buttonText }} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </span>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            if (app.$route.name == 'SampleCreate') {
                app.type = 'Add';
                app.buttonText = 'Create';
            } else if (app.$route.name == 'SampleEdit') {
                app.type = 'Edit';
                app.buttonText = 'Update';
                let id = app.$route.params.id;
                app.sampleId = id;
                axios.get(app.$apiUrl+'sample/' + id)
                .then(function (resp) {
                    app.sample = resp.data.data;
                })
                .catch(function () {
                });
            }
           
        },
        data: function () {
            return {
                sampleId: null,
                sample: {
                    title: '',
                },
                isLoading:false,
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                files1 : [],
                type : '',
                buttonText : '',
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newsample = app.sample;

                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        if (app.sampleId == null) {
                          var url = app.$apiUrl+'sample';
                          var method = 'post';
                        } else {
                          var url = app.$apiUrl+'sample/' + app.sampleId;
                          var method = 'patch';
                        }
                        axios({
                          method: method,
                          url: url,
                          data:newsample
                        })
                        .then(resp => {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/samples');
                        })
                        .catch(error => {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += '<p>'+value+'</p>';
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                    }        
                })
            }
        }
    }
</script>
    
