<template>
    <span>
        <header-component></header-component>
	   <div class="form-right-column section">
            <div class="middle-align">
                <div class="inner">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h2 class="section-heading text-center">Book Online Appointment</h2>
                            <!--                   <p class="text-center">Happy Clinic is much better when you have a account!</p> -->
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <section id="wizard">
                                <div id="rootwizard">
                                    <div class="navbar " v-show="!isBookedSuccess">
                                        <div class="navbar-inner">
                                            <ul class="form-wizard-steps registration-steps">
                                                <li><a href="#tab1" data-toggle="tab">1
                                                    <span>Step 1</span>
                                                    </a>
                                                </li>
                                                <li :class="{'disabled' : isNotInitial}"><a href="#tab2" data-toggle="tab" >2
                                                    <span>Step 2</span>
                                                    </a>
                                                </li>
                                                <li :class="{'disabled' : isNotInitial}"><a href="#tab3" data-toggle="tab" >3
                                                    <span>Step 3</span>
                                                    </a>
                                                </li>
                                                <li :class="{'disabled' : isNotInitial}"><a href="#tab4" data-toggle="tab" >4
                                                    <span>Step 4</span>
                                                    </a>
                                                </li>
                                                <li ><a href="#tab5" data-toggle="tab">5
                                                    <span>Step 5</span>
                                                    </a>
                                                </li>
                                                <!--  <li ><a href="#tab6" data-toggle="tab">6
                                                    <span>Step 6</span>
                                                    </a>
                                                </li> -->
                                            </ul>
                                            <div id="bar" class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane PD-tab-content" id="tab1">
                                            <div class="tab-pane-inner">
                                                <!-- <p class="upload-type-heading">Lorem Ipsum </p> -->
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="required">Select Speciality</label>
                                                        <select class="form-control" v-model="appointment.specialty_id"
                                                        name="specialty"
                                                        :class="{'is-invalid': errors.has('step1.specialty') }"
                                                        data-vv-scope="step1"
                                                        v-validate="'required'"
                                                        @change="getDoctors">
                                                            <option value="" selected=""> Select Speciality</option>
                                                            <option v-for="specialty in specialties" :value="specialty.id">{{specialty.name}}</option>
                                                        </select>
                                                        <small class="has-error"
                                                          v-show="errors.has('step1.specialty')">
                                                          {{ errors.first('step1.specialty') }}
                                                        </small>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="required">Select Doctor</label>
                                                        <select class="form-control"
                                                        v-model="appointment.doctor_id"
                                                        name="doctor"
                                                        :class="{'is-invalid': errors.has('step1.doctor') }"
                                                        data-vv-scope="step1"
                                                        v-validate="'required'"
                                                       @change="getAvailCalendar()">
                                                            <option value="" selected=""> Select Doctor</option>
                                                            <template v-if="doctors.length > 0">
                                                                <option v-for="doctor in doctors" :value="doctor.id">{{doctor.user.full_name}}</option>
                                                            </template>
                                                            <template v-else>
                                                                <option value="">No Doctor Available</option>
                                                            </template>

                                                        </select>
                                                        <small class="has-error"
                                                          v-show="errors.has('step1.doctor')">
                                                          {{ errors.first('step1.doctor') }}
                                                        </small>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="required">Select Appointment Type</label>
                                                        <select class="form-control" v-model="appointment.appointment_type_id"
                                                        name="appointment_type"
                                                        :class="{'is-invalid': errors.has('step1.appointment_type') }"
                                                        data-vv-scope="step1"
                                                        v-validate="'required'"
                                                        data-vv-as="appointment type"
                                                         @change="getAvailCalendar">
                                                            <option value="" selected=""> Select Type</option>
                                                            <option value="1" :disabled="isNotInitial">Initial assessment</option>
                                                             <option value="2" :disabled="!isNotInitial">Follow up assessment - type 1</option>
                                                             <option value="3" :disabled="!isNotInitial">Follow up assessment - type 2</option>
                                                             <option value="4" :disabled="!isNotInitial">Telephone advice</option>
                                                        </select>
                                                         <small class="has-error"
                                                          v-show="errors.has('step1.appointment_type')">
                                                          {{ errors.first('step1.appointment_type') }}
                                                        </small>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group">
                                                     <label class="required">Select Apointment Date/Time</label>
                                                         <div class="appointment-calendar-row">
                                                            <appointmentCalendar></appointmentCalendar>
                                                            <small class="has-error" v-show="!isDateTimeSelected">
                                                              Please select date and time slot.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <div class="tab-pane-inner">
                                                <p class="upload-type-heading"> Find Hospital</p>
                                                <div class="col-xs-12 col-md-12">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label class="">Search by Hospital Name</label>
                                                                    <input type="text" name="search_hospital" class="form-control" placeholder="Enter hospital name" v-model="hospital.search_by_name">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label class="">Search by Town/City or Postcode</label>
                                                                    <input type="search_hospital" name="searchhospital" class="form-control" placeholder="Search by town/city or postcode" v-model="hospital.search_by_city_postcode">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-2">
                                                                <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading }" @click="getMentalHealthHospitals">
                                                                  <span>Search</span>
                                                                  <div class="loader"></div>
                                                                </button>
                                                            </div>
                                                        </div>


                                                        <div class="hospital-list-wrapper" v-show="isResults">
                                                            <h4>Search results</h4>
                                                            <div class="row" v-if="hospitals.length > 0">
                                                                <div class="col-xs-12 col-md-6" v-for="hospital in hospitals">
                                                                    <div class="team-member style-3">
                                                                        <!--                                                                         <div class="hospital-logo"><img src="images/dummy/express-healthcare-excellence-award.jpg"></div> -->
                                                                        <div class="team-description">
                                                                            <h4>{{ hospital.name }}</h4>
                                                                            <p><!-- <strong>Address: </strong> -->{{ hospital.address_first_line }}</p>
                                                                            <p><!-- <strong>Town/City: </strong> -->{{ hospital.city }}</p>
                                                                            <p><!-- <strong>Postcode: </strong> --> {{ hospital.postcode }}</p>
                                                                             <p><!-- <strong>Country: </strong> --> {{ hospital.country }}</p>
                                                                            <button class="btn btn-primary btn-block" @click="selectedHospital(hospital.id)">
                                                                            <span>Select</span>
                                                                            <input type="radio" value="" name="select_radio">
                                                                            <i class="icon-check"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" v-else>
                                                                <p class="text-center col-md-12">Sorry, No Record Matched</p>
                                                            </div>
                                                        </div>
                                                        <div class="team-description notify-question">
                                                            <div class="form-group">
                                                            <p><strong>Would you like us to notify the hospital regarding your condition?</strong></p>
                                                                <div class="radio custom-radio btn-inline-block">
                                                                    <label>
                                                                        <input type="radio" value="1" name="radio1" v-model="appointment.sharing_consent"
                                                                        data-vv-as="info sharing consent"
                                                                       v-validate="'required'"
                                                                       data-vv-scope="step2">
                                                                        <span class="radio-circle"></span>
                                                                        Yes</label>
                                                                </div>
                                                                <div class="radio custom-radio btn-inline-block">
                                                                    <label>
                                                                        <input type="radio" value="0" name="radio1" checked v-model="appointment.sharing_consent">
                                                                        <span class="radio-circle"></span>
                                                                        No</label>
                                                                </div>
                                                                <small class="has-error"
                                                                    v-show="errors.has('step2.radio1')">
                                                                    {{ errors.first('step2.radio1') }}
                                                                  </small>

                                                            </div>

                                                        </div>
                                                        <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane tab-upload-photo-id" id="tab3">
                                            <div class="tab-pane-inner">
                                                <p class="upload-type-heading"> Find Your Nearest Laboratory</p>
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="required">Enter Your Postcode</label>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-10">
                                                                <div class="form-group">
                                                                      <input type="search_hospital" name="searchhospital" class="form-control" placeholder="Enter your postcode" v-model="laboratory.search_by_postcode">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-2">
                                                                <button class="btn btn-primary btn-md"
                                                                :class="{'show-spinner' : isLoading }" @click="getLaboratorys">
                                                                  <span>Search</span>
                                                                  <div class="loader"></div>
                                                                </button>
                                                            </div>
                                                        </div>


                                                        <!-- hospital list after search -->
                                                        <!-- v-show="isLabResults" -->
                                                        <div class="hospital-list-wrapper"  v-show="isLabResults">
                                                            <h4>Search results</h4>
                                                            <carousel class="owl-carousel-laboratory"  :autoplay="false" :nav="true" :loop="true" :margin="20"  :autoplayHoverPause="false" rewind="false" :responsive="{0:{items:1},600:{items:1},1000:{items:2}}" v-if="laboratories.length > 0 ">
                                                             <li class="item" v-for="lab,index in laboratories" >
                                                                <div class="team-member style-3" >
                                                                    <div class="team-description text-left">
                                                                        <h4>{{ lab.name }}</h4>
                                                                        <p><!-- <strong>Address: </strong> -->{{ lab.address_first_line }}</p>
                                                                        <p><!-- <strong>Town/City: </strong> -->{{ lab.city }}</p>
                                                                        <p><!-- <strong>Postcode: </strong> --> {{ lab.postcode }}</p>
                                                                        <p><strong>Distance: </strong>{{ lab.distance}}km</p>
                                                                        <button class="btn btn-primary btn-block" @click="selectedLaboratory(lab.id)">
                                                                        <span>Select</span>
                                                                        <input type="radio" value="" name="select_radio">
                                                                        <i class="icon-check"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            </carousel>
                                                            <div class="row" v-else>
                                                                <p class="text-center col-md-12">Sorry, No Record Matched</p>
                                                            </div>
                                                        </div>


                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab4">
                                            <div class="tab-pane-inner">
                                                <!--    <h2 class="heading">Appointment Details</h2> -->
                                                <p class="upload-type-heading">Medical Questionnaire</p>
                                                <ol class="steps-blts question-blts">
                                                    <li>
                                                        <p>Please tell us about your problems or what you need help with us? <span class="font-weight-light" style="font-size: 10px;
                                                        ">Maximum 300 characters</span></p>
                                                        <div class="form-group">
                                                            <textarea class="form-control" rows="4" placeholder="Start Typing" name="text" v-model="appointment.questionnaire_text"
                                                            :class="{'is-invalid': errors.has('step4.text') }"
                                                        data-vv-scope="step4"
                                                        v-validate="'required'" :maxlength="max" style="height: 100px !important;"></textarea>

                                                        </div>
                                                        <small class="has-error"
                                                          v-show="errors.has('step4.text')">
                                                          {{ errors.first('step4.text') }}
                                                        </small>
                                                    </li>
                                                    <span v-if="questionnaires.length > 0">
                                                        <li v-for="question, index in questionnaires" >
                                                          <p>{{ index+1 }}. {{ question.question }}</p>
                                                          <div class="form-group">
                                                              <div class="radio custom-radio">
                                                                  <label><input type="radio" value="Yes" :name="'qRadio'+question.id"
                                                                     @change="selectQuestion(question.id, index, 'yes')"
                                                                     data-vv-scope="step4"
                                                                     data-vv-as="question"
                                                                     v-validate="'required'">
                                                                      <span class="radio-circle"></span>
                                                                      <p class="label-text">Yes</p>
                                                                  </label>
                                                              </div>
                                                              <div class="radio custom-radio">
                                                                  <label><input type="radio" value="No" :name="'qRadio'+question.id" @change="selectQuestion(question.id, index, 'no')">
                                                                      <span class="radio-circle"></span>
                                                                      <p class="label-text">No</p>
                                                                  </label>
                                                              </div>
                                                              <small class="has-error"
                                                              v-show="errors.has('step4.qRadio'+question.id)">
                                                              {{ errors.first('step4.qRadio'+question.id) }}
                                                            </small>
                                                          </div>
                                                      </li>
                                                    </span>

                                                </ol>
                                            </div>
                                        </div>
                                        <div class="tab-pane payment-gateway" id="tab5">
                                            <div class="tab-pane-inner">
                                                <h2 class="heading">Stripe Payment</h2>
                                                <p class="upload-type-heading">Pay with Stripe</p>

                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="steps-divider"></div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="form-group">
                                                            <!-- <label>Supported cards</label> -->
                                                            <div class="">
                                                                <img :src="$baseUrl+'/assets/img/card_icons/visa_icon.png'" class="rounded pull-left m-r-5" alt="visa">
                                                                <img :src="$baseUrl+'/assets/img/card_icons/master_icon.png'" class="rounded pull-left m-r-5" alt="master">
                                                                <img :src="$baseUrl+'/assets/img/card_icons/discover_icon.png'" class="rounded pull-left m-r-5" alt="discover">
                                                                <img :src="$baseUrl+'/assets/img/card_icons/american_icon.png'" class="rounded pull-left m-r-5" alt="american express">
                                                                <img :src="$baseUrl+'/assets/img/card_icons/jcb.png'" class="rounded pull-left m-r-5" alt="jcb" width="64" height="64">
                                                                <img :src="$baseUrl+'/assets/img/card_icons/diners_club_icon.png'" class="rounded pull-left m-r-5" alt="diners club" width="64" height="64">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-12" v-show="!isPayment">
                                                        <div class="form-group mt-20">
                                                             <div class="checkbox">
                                                              <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="yes" v-model="terms_consent">I Agree to
                                                                    <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-12">
                                                        <p v-if="membership != '' && paymentInfo" class="text-danger"><i class="icon-info"></i> You can not book this appointment as member because your membership will be cancelled at {{ membership.hasCancelRequest.requested_date | moment("DD-MM-YYYY") }}</p>
                                                        <div class="form-group">
                                                            <vue-stripe-checkout
                                                              ref="checkoutRef"
                                                              :image="$imageUrl+'favicon/64x64.png'"
                                                              :name="stripe.name"
                                                              :description="stripe.description"
                                                              :currency="stripe.currency"
                                                              :amount="stripe.amount"
                                                              :allow-remember-me="false"
                                                              :email="stripe.email"
                                                              @done="donePayment"
                                                            ></vue-stripe-checkout>
                                                            <button class="btn btn-info btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="checkout" v-show="!isPayment">
                                                                  <span>Pay £{{ stripe.amount_display }}</span>
                                                                  <div class="loader"></div>
                                                                </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="tab-pane i-agree-tab-pane" id="tab6" v-show="!isBookedSuccess">
                                            <div class="tab-pane-inner">
                                                <h2 class="heading">I Agree</h2>
                                                <p class="upload-type-heading">I Agree <span> I Agree With Terms & Conditions and Privacy Policy</span></p>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="steps-divider"></div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                              <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
                                                            </div>
                                                            <div class="checkbox">
                                                              <label><input type="checkbox" value="yes" v-model="terms_consent">I Agree to <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="tab-pane finish-tab-pane" id="tab7" v-show="isBookedSuccess" :class="{'active' : isBookedSuccess}">
                                            <div class="tab-pane-inner">
                                               <h2 class="heading">Appointment Booked</h2>
                                               <p class="upload-type-heading">
                                                <div class="alert col-md-12 mt-10 alert-success" role="alert" id="user_msg">
                                                  Your appointment has been booked successfully!
                                                </div></p>

                                            </div>
                                         </div> -->

                                        <div class="alert col-md-12 mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                                </div>
                                        <ul class="pager wizard" v-show="!isDone">
                                            <li class="previous float-left"><a class="btn btn-warning" href="javascript:;">Previous</a></li>
                                             <li class="next float-right" v-if="!isLast">
                                                <a class="btn btn-primary" href="javascript:;" >Next</a>
                                              </li>
                                              <li class="finish float-right" v-else>
                                              <a class="btn btn-primary"  :class="{'disabled' : (!privacy_policy_consent || !terms_consent || !isPayment) }" href="javascript:;">
                                                  <span>Finish</span>
                                                  <div class="loader"></div>
                                                </a>
                                              </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <footer-component></footer-component>
        <previousDoctorModal></previousDoctorModal>
    </span>
</template>
<script type="text/javascript">
    import Vue from 'vue';
    import axios from 'axios';
    import appointmentCalendar from './../../admin/appointment/AppointmentCalendar.vue'
    import previousDoctorModal from './PreviousDoctorModal.vue'
    import carousel from 'v-owl-carousel'
    import VueStripeCheckout from 'vue-stripe-checkout';
    Vue.use(VueStripeCheckout, this.$stripeKey);
    export default {
        components : {
            appointmentCalendar, carousel, previousDoctorModal
        },
        beforeCreate: function() {
            document.body.className = 'register-page';
        },
        mounted() {
            var app = this;
            app.stripe.email = app.$loggedInUser.email;
            //this.$forceUpdate();
            //wizar form
            app.initializeWizard();
            window.prettyPrint && prettyPrint();
            //setTimeout(function(){
                axios.get(app.$apiUrl+'specialties?limit=0&filter_by_complete_specialty_only=true')
                    .then(function (resp) {
                        app.specialties = resp.data.data.data;
                    })
                    .catch(function () {
                    });

                /*axios.get(app.$apiUrl+'doctors?limit=0')
                    .then(function (resp) {
                        app.doctors = resp.data.data.data;
                    })
                    .catch(function () {
                    });*/
                 app.getLatestAppointment(true);
                app.getPatientMembership();
            //}, 4000);



            EventBus.$on('selectedDateTime', (date_time)=> {
                    app.appointment.date_time = this.$moment(date_time).format("DD-MM-YYYY hh:mm a");
                    app.getAppointmentFee();
            });

            EventBus.$on('actionPerformed', app.showPreviousDoctor);
            app.appointment.patient_id = app.$loggedInUser.patient_id;

        },
        computed: {
            $loggedInUser: function () {
                return JSON.parse(this.$store.getters.getAuthUser);
            },
            $loggedInUserIsMember : function () {
                var user = JSON.parse(this.$store.getters.getAuthUser);
                return user.is_member;
            }
        },
        data: function () {
            return {
                max : 300,
                user : [],
                doctors: [],
                specialties: [],
                questionnaires: [],
                appointment : {
                    patient_id : '',
                    specialty_id : '',
                    doctor_id : '',
                    appointment_type_id : '',
                    date_time : '',
                    mental_hospital_address_id: '',
                    laboratory_address_id : '',
                    sharing_consent : '',
                    questionnaire_text : '',
                    questionnaire : [/*
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },
                      {
                        question_id : '',
                        answer : '',
                      },*/
                    ],
                    stripe_charge_id : '',
                    is_member : '',
                    fee : '',

                },
                hospitals : [],
                hospital : {
                  search_by_name : '',
                  search_by_city_postcode : '',
                },
                laboratories : [],
                laboratory : {
                  search_by_postcode : '',
                },
                stripe : {
                  name: 'Happy Clinic',
                  description: 'Book Appointment',
                  currency: 'GBP',
                  email: '',
                  amount: 0,
                  amount_display : 0,
                },

                isLast : false,
                isPayment : false,
                isDone : false,
                isAlertShow: false,
                isSuccess:false,
                isBookedSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                isResults : false,
                isLabResults :false,
                terms_consent : false,
                privacy_policy_consent : false,
                latest_appointment : [],
                isNotInitial : false,
                membership : '',
                paymentInfo : false,
                isDateTimeSelected :true,
            }
        },
        methods : {
            getDoctors(id) {
                var id = id || '';
                var app = this;
                var params = {};
                params.limit = 0;
                params.filter_by_specialty = app.appointment.specialty_id;
                app.appointment.doctor_id = '';
                app.appointment.appointment_type_id = '';
                axios({
                        method: 'get',
                        url: app.$apiUrl+'doctors',
                        params: params
                    })
                    .then(function (resp) {
                        app.doctors = resp.data.data.data;
                        if (id != '') {
                            app.appointment.doctor_id = id;
                        }
                        app.getAvailCalendar();
                        app.getQuestionnaire();
                        app.getLatestAppointment(false);
                    })
                    .catch(function () {
                    });

            },
            getQuestionnaire() {
                var app = this;
                app.appointment.questionnaire = [];
                var params = {};
                params.limit = 0;
                params.filter_by_specialty = app.appointment.specialty_id;
                axios({
                        method: 'get',
                        url: app.$apiUrl+'questionnaires',
                        params: params
                    })
                    .then(function (resp) {
                        app.questionnaires = resp.data.data.data;
                        if (app.questionnaires.length > 0) {
                          $(app.questionnaires).each(function (ind, ele ) {
                              var question = {};
                              question.question_id = ele.id;
                              question.answer = '';
                              app.appointment.questionnaire.push(question);
                              /*app.appointment.questionnaire[ind].question_id = ele.id;
                              app.appointment.questionnaire[ind].answer = 'no';*/
                          });
                        }
                    })

                    .catch(function () {
                      app.questionnaires = [];
                    });

            },
            selectQuestion(question_id, index, value) {
              var app = this;
              app.appointment.questionnaire[index].question_id = question_id;
              app.appointment.questionnaire[index].answer = value;
            },
            getAvailCalendar() {
                var app = this;
                app.appointment.date_time = '';
                app.getAppointmentFee();
                EventBus.$emit('showAvailibiltyCalendar',app.appointment);
            },
            getMentalHealthHospitals:function(page) {
                var app = this;
                var params = {};
                params.limit = 2;
                params.search_by_name = app.hospital.search_by_name;
                params.search_by_city_postcode = app.hospital.search_by_city_postcode;
                if (app.hospital.search_by_name != '' || app.hospital.search_by_city_postcode != '') {
                   app.isLoading = true;
                  axios({
                          method: 'get',
                          url: app.$apiUrl+'mental_health_hospitals',
                          params: params
                      })
                      .then(function (resp) {
                          app.isResults = true;
                          app.hospitals = resp.data.data.data;
                          app.isLoading = false;
                      })
                      .catch(function (resp) {
                          app.isResults = true;
                          app.hospitals = [];
                          app.isLoading = false;
                      });
                }
            },
            selectedHospital(id) {
              var app = this;
              app.appointment.mental_hospital_address_id = id;
            },
            getLaboratorys:function(page) {
                var app = this;
                var params = {};
                params.limit = 4;
                params.search_by_postcode = app.laboratory.search_by_postcode;
                if (app.laboratory.search_by_postcode != '') {
                   app.isLoading = true;
                  axios({
                          method: 'get',
                          url: app.$apiUrl+'laboratories-distance',
                          params: params
                      })
                    .then(function (resp) {
                        app.isLabResults = true;
                        app.laboratories = resp.data.data.data;
                        app.isLoading = false;
                    })
                    .catch(function (resp) {
                        app.isLabResults = false;
                        app.laboratories = [];
                        app.isLoading = false;
                    });
                }
            },
            selectedLaboratory(id) {
              var app = this;
              app.appointment.laboratory_address_id = id;
            },
            async checkout () {
               token = await this.$refs.checkoutRef.open();
            },
            donePayment (token) {
              var app = this;
              app.isLoading = true;
              app.payment = {};
              app.payment.patient_id = app.$loggedInUser.patient_id;
              app.payment.token = token.token;
              app.payment.amount = app.stripe.amount;
              app.payment.appointment_type_id = app.appointment.appointment_type_id;
              app.payment.date_time = this.$moment(app.appointment.date_time).format("DD-MM-YYYY hh:mm a");
              var newObject = app.payment;
              axios.post(app.$apiUrl+'payment/appointment', app.payment)
                .then(function (resp) {
                    app.appointment.stripe_charge_id = resp.data.data.charge;
                    app.appointment.fee = app.stripe.amount_display;
                    app.appointment.is_member = app.$loggedInUserIsMember;
                    /*app.isLoading = false;
                    app.isAlertShow = true;
                    app.isSuccess = true;
                    app.isError = false;*/

                    /*app.alertMsg = 'Payment has been done successfully';
                    $('#rootwizard li:eq(5) a').tab('show');*/
                    //app.isLast = true;
                    setTimeout(function() {
                        app.bookAppointment();
                    }, 2000);
                    
                })
                .catch(function (error) {
                    app.isLoading = false;
                    app.isAlertShow = false;
                    app.isSuccess = false;
                    app.isError = true;
                    app.alertMsg = 'Your card was declined. please consider contacting your bank or credit card company.';
                });
            },
            opened () {
                //var app = this;
                //app.stripe.email = app.user.email;
            },
            getAppointmentFee(){
                var app = this;
                var params = {};
                app.paymentInfo = false;
                if (app.appointment.specialty_id != '' && app.appointment.appointment_type_id != '') {
                    params.specialty_id = app.appointment.specialty_id;
                    if (app.appointment.appointment_type_id == '1') {
                        params.appointment_type = 'initial_assessment';
                    } else if (app.appointment.appointment_type_id == '2') {
                        params.appointment_type = 'follow_up_assessment_type_1';
                    } else if (app.appointment.appointment_type_id == '3') {
                        params.appointment_type = 'follow_up_assessment_type_2';
                    } else if (app.appointment.appointment_type_id == '4') {
                        params.appointment_type = 'telephone_advice';
                    }

                    if (app.$loggedInUserIsMember == 0) {
                        params.patient_type = 'non_member';
                    } else if (app.$loggedInUserIsMember == 1){
                        if (app.membership.hasCancelRequest != null) {
                            var date = app.$moment(app.appointment.date_time, "DD-MM-YYYY HH:mm a").format('YYYY-MM-DD');
                            if (date >= app.membership.hasCancelRequest.requested_date) {
                                params.patient_type = 'non_member';
                                app.paymentInfo = true;
                            } else {
                                params.patient_type = 'member';
                                app.paymentInfo = false;
                            }
                        } else {
                            params.patient_type = 'member';
                        }
                    }

                    axios({
                              method: 'get',
                              url: app.$apiUrl+'booking-fee',
                              params: params
                          })
                          .then(function (resp) {
                              app.stripe.amount = resp.data.data.fee*100;
                              app.stripe.amount_display = resp.data.data.fee;
                          })
                          .catch(function (resp) {
                              app.stripe.amount = '';
                          });
                }

            },
            bookAppointment() {
                 var app = this;
                  //app.isLoading = true;
                  app.appointment.patient_id = app.$loggedInUser.patient_id;
                  app.newAppointment = app.appointment;
                  axios.post(app.$apiUrl+'appointment/create', app.newAppointment)
                    .then(function (resp) {
                        app.isLoading = false;
                        app.isBookedSuccess = true;
                        app.isAlertShow = false;
                        app.isDone = true;
                        //$('#rootwizard li:eq(6) a').tab('show');
                        app.isLoading = false;
                        app.isAlertShow = true;
                        app.isSuccess = true;
                        app.isError = false;
                        app.alertMsg = 'Thank you, your appointment has been booked.';
                        app.isPayment = true;
                        app.terms_consent = false;
                        app.privacy_policy_consent = false;


                    })
                    .catch(function (error) {
                        app.isBookedSuccess = false;
                        app.isLoading = false;
                        app.isSuccess = false,
                        app.isError = true,
                        app.isAlertShow = true;
                        app.alertMsg = 'Error occured';
                        var jsonResponse =error.response.data.errors;
                        if(jQuery.type(jsonResponse) == 'object')
                        {
                          var messages = '';
                          $.each( jsonResponse, function( key, value ) {
                            messages += '<p>'+value+'</p>';
                          });
                          app.alertMsg = messages;
                        }
                    });
            },
            getLatestAppointment(onload){
                var app = this;
                var params = {};

                params.patient_id = app.$loggedInUser.patient_id;
                if (app.appointment.specialty_id != '') {
                    params.specialty_id = app.appointment.specialty_id;
                }
                if (onload) {
                  if (app.appointment.doctor_id != '' && app.appointment.doctor_id != undefined) {
                    params.doctor_id = app.appointment.doctor_id;
                  }
                }
                    axios({
                              method: 'get',
                              url: app.$apiUrl+'latest-appointment',
                              params: params
                          })
                          .then(function (resp) {
                              app.latest_appointment = resp.data.data;
                              if (onload) {
                                $('#previously_seen_doc_modal').modal('show');
                              } else {
                                if (app.latest_appointment.appointment_type_id >= 1) {
                                  //app.appointment.appointment_type_id = (app.latest_appointment.appointment_type_id+1);
                                  app.isNotInitial = true;
                                }
                              }
                          })
                          .catch(function (resp) {
                            app.latest_appointment = [];
                            app.isNotInitial = false;
                          });


            },
            showPreviousDoctor() {
                var app = this;
                if (!jQuery.isEmptyObject(app.latest_appointment)) {
                    app.appointment.specialty_id = app.latest_appointment.specialty_id;
                    app.getDoctors(app.latest_appointment.doctor_id);
                    //app.appointment.doctor_id = app.latest_appointment.doctor_id;
                    //app.appointment.appointment_type_id = (app.latest_appointment.appointment_type_id+1);
                    app.isNotInitial = true;
                    //app.initializeWizard();
                    app.getAvailCalendar();
                    app.getAppointmentFee();
                } else {
                    app.isNotInitial = false;
                }
            },
            initializeWizard() {
                var app = this;
                 $('#rootwizard').bootstrapWizard(
                {
                tabClass: 'nav nav-pills',
                onTabShow: function(tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index+1;
                    var $percent = ($current/$total) * 100;
                    $('#rootwizard .progress-bar').css({width:$percent+'%'});
                },
                onTabClick: function(tab, navigation, index) {
                    return false;
                },
                onNext: function(tab, navigation, index) {
                    if (index != 0) {

                      $('html, body').animate({
                          scrollTop: $('.tab-content').offset().top -120 //#DIV_ID is an example. Use the id of your destination on the page
                      }, 'slow');
                    }
                  if (!app.isNotInitial) { // initial assessment
                    if (index == 1) { //step 1
                      app.$validator.validateAll('step1').then(result => {
                        if (result) {
                          if (app.appointment.date_time != '') {
                            app.isDateTimeSelected = true;
                            $('#rootwizard li:eq(1) a').tab('show')
                            return true;
                          } else {
                            app.isDateTimeSelected = false;
                           return false;
                          }
                        } else {
                          return false;
                        }
                      })
                    } else if (index == 2) {
                        app.$validator.validateAll('step2').then(result => {
                            if (result) {
                              if (app.appointment.mental_hospital_address_id == '') {
                                return false;
                              } else {
                                $('#rootwizard li:eq(2) a').tab('show')
                                return true;
                              }
                            } else {
                              return false;
                            }
                        })
                    } else if (index == 3) {
                      if (app.appointment.laboratory_address_id == '') {
                        return false;
                      } else {
                        return true;
                      }
                    } else if (index == 4) {
                      app.$validator.validateAll('step4').then(result => {
                        if (result) {
                          $('#rootwizard li:eq(4) a').tab('show');
                          app.isLast = true;
                          return true;

                        } else {
                          return false;
                        }
                      })
                    } else if (index == 5) {
                      if (!app.isPayment) {
                        return false;
                      } else {
                        //app.bookAppointment();
                        return true;
                      }
                    } /*else if (index == 6) { //step5
                      app.bookAppointment();
                    } */
                  } else {
                    if (index == 4) { //step 1
                      app.$validator.validateAll('step1').then(result => {
                        if (result) {
                          if (app.appointment.date_time != '') {
                            app.isDateTimeSelected = true;
                            $('#rootwizard li:eq(4) a').tab('show')
                            app.isLast = true;
                            return true;
                          } else {
                            app.isDateTimeSelected = false;
                           return false;
                          }
                        } else {
                          return false;
                        }
                      })
                    } else if (index == 5) {
                      if (!app.isPayment) {
                        return false;
                      } else {
                        //app.bookAppointment();
                        return true;
                      }
                    }/* else if (index == 6) { //step5
                      app.bookAppointment();
                    }*/
                  }

                  return false;
                },
                onPrevious  : function(tab, navigation, index) {
                    $('html, body').animate({
                          scrollTop: $('.tab-content').offset().top -120 //#DIV_ID is an example. Use the id of your destination on the page
                      }, 'slow');
                  if (index == 5) {
                    app.isLast = true;
                  } else {
                    app.isLast = false;
                  }

                },
            });
            },
            getPatientMembership() {
                var app = this;
                var params = {};
                params.column = 'patient_id';
                params.value = app.$loggedInUser.patient_id;

                axios({
                      method: 'get',
                      url: app.$apiUrl+'subscription/membership',
                      params: params
                  })
                  .then(function (resp) {
                    app.membership = resp.data.data;
                    var user = JSON.parse(app.$store.getters.getAuthUser);
                    if (app.membership.has_membership) {
                        user.is_member = 1;
                    } else {
                        user.is_member = 0;
                    }
                    app.$store.commit('setAuthUser', user);
                  })
                  .catch(function (resp) {
                  });
            }
        }
    }
</script>
