<template>
    <!--previously seen doctor-->
    <div
        class="modal fade in show"
        id="previously_seen_doc_modal"
        tabindex="-1"
        role="dialog"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consulted our doctor before?</h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- <label
                            >Consulted our doctor before?</label
                        > -->
                        <label
                            >Wish to see same doctor?</label
                        >
                        <button
                            class="btn btn-primary btn-block"
                            @click="submit"
                        >
                            <span> Choose Doctor Previously Seen </span>
                        </button>
                               <p class="text-center"> OR</p>
                         <button data-dismiss="modal" aria-label="Close"
                            class="btn btn-warning btn-block "
                        >
                            <span> Choose New Doctor </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
export default {
    methods: {
        submit() {
            //var app = this;
            $("#previously_seen_doc_modal").modal("hide");
            EventBus.$emit("actionPerformed");
        }
    }
};
</script>
