<template>

	<div class="account-tab-content membership-tab-content" >
		<c-spinner v-if="isPageLoading"></c-spinner>
		<h2>Membership</h2>
		<div v-if="membership.has_membership" v-show="showData">
			<p class="dark-text"><strong>Duration:</strong> 12 months subscription and then it will recur on a month to month basis </p>
			<p class="dark-text"><strong>Amount:</strong> £{{ $membershipFee }}.00/month </p>
			<p class="dark-text"><strong>Start Date:</strong> {{ membership.subscription_date | moment("DD-MM-YYYY") }}</p>
			<p class="dark-text"><strong>Current Period:</strong> {{ membership.subData.current_period_start | moment("DD-MM-YYYY") }} to {{ membership.subData.current_period_end | moment("DD-MM-YYYY") }}</p>
			<p class="dark-text" v-if="membership.cooling_off_period_end != null"><strong>Cooling Off Period Ends At:</strong> {{ membership.cooling_off_period_end | moment("DD-MM-YYYY") }}</p>
			<p class="dark-text"><strong>Status:</strong> {{ membership.status | capitalize }}</p>
		</div>
		<div v-else v-show="showData">
			<p class="dark-text"><strong>Duration:</strong> 12 months subscription and then it will recur on a month to month basis </p>
			<p class="dark-text"><strong>Amount:</strong> £{{ $membershipFee }}.00/month </p>
			<p><router-link :to="{ name: 'Membership'}"  class="btn btn-primary" target="_blank">Get Membership</router-link></p>
		</div>
		
		<!-- <div class="on-off-btn">
			<label class="checkbox-inline">
					<input type="checkbox" data-on="Subscribe" data-off="Unsubscribe" data-toggle="toggle" checked="">
			</label>    					
		</div> -->
		
		<br>
		<br>
		<div v-if="membership.has_membership">
			<div v-if="membership.coolingOffPeriod == null">
				<div v-if="membership.hasCancelRequest == null">
					<div class="row">
						<div class="col-xs-12 col-md-8">
							<h3>Cancel Membership Subscription Request</h3>
							<div class="section-separater  mtb-20"></div>
							<p class="with-sub-text"> <span>
							Choose cancel subscription date after one year.</span></p>
							<div class="form-group">
								<label>Select Date</label>
								<date-picker v-model="request.requested_date" lang="en" v-validate="'required'" name="date" placeholder="Select Date" data-vv-as="date of cancellation" format="DD-MM-YYYY" type="date" :not-before="cancelDate"></date-picker>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group mt-20">
			             <div class="checkbox">
			              <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
			            </div>
			            <div class="checkbox">
			                <label>
			                    <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
			                    <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
			            </div>
			        </div> 	
					<div class="clearfix"></div>
			        <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="sendRequest">
			                <span>Cancel Membership</span>
			                <div class="loader"></div>
			        </button>
			    </div>
			    <div v-else>
			    	<div class="row">
						<div class="col-xs-12 col-md-8">
							<h3>Cancel Membership Subscription Request</h3>
							<div class="section-separater mtb-20"></div>
							<p class="dark-text"><strong>Requested Date:</strong> {{ membership.hasCancelRequest.requested_date | moment("DD-MM-YYYY") }} </p>
							<p class="dark-text"><strong>Cancel At:</strong> {{ membership.hasCancelRequest.cancel_at | moment("DD-MM-YYYY") }} </p>
							<p class="dark-text"><strong>Status:</strong> {{ membership.hasCancelRequest.status | capitalize }} </p>
							
						</div>
						<div class="col-xs-12 col-md-8">
							<div class="clearfix"></div>
							<div class="form-group mt-20">
					             <div class="checkbox">
					              <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
					            </div>
					            <div class="checkbox">
					                <label>
					                    <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
					                    <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
					            </div>
					        </div> 	
							<div class="clearfix"></div>
					        <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="removeRequest">
					                <span>Remove Request</span>
					                <div class="loader"></div>
					        </button>
					    </div>    
					</div>
			    </div>
			</div>
			<div v-else>
				<div class="row">
					<div class="col-xs-12 col-md-8">
						<h3>Cancel Membership Subscription</h3>
						<div class="section-separater  mtb-20"></div>
						<p class="with-sub-text"> <span>Your subscription is in cooling off period so you cancel subscription and get refund. While we will issue refunds instantly, it can take up to ten working days for your bank to process the refund.</span></p>
						<div class="clearfix"></div>
						<div class="form-group mt-20">
				             <div class="checkbox">
				              <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
				            </div>
				            <div class="checkbox">
				                <label>
				                    <input type="checkbox" value="yes" v-model="terms_consent">I Agree to 
				                    <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
				            </div>
				        </div> 	
						<div class="clearfix"></div>
				        <button class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading, 'disabled' :  (!privacy_policy_consent || !terms_consent) }" @click="cancelSubscription">
				                <span>Cancel Membership</span>
				                <div class="loader"></div>
				        </button>
					</div>
				</div>
			</div>
			
		</div>  

		<div class="alert mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
        </div>
		
	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';
	import DatePicker from 'vue2-datepicker'
	export default {
		props  : ['patient_id', 'myprop'],
		components: {
            DatePicker
        },
        watch: { 
          myprop: function(newVal, oldVal) { // watch it
            if (newVal == '.membership-tab-content') {
              var app = this;
              app.getMembership();
            } 
          }
        },
		mounted() {
		},
		data: function () {
      return {
      	request : {
      		patient_id : '',
      		requested_date : '',
      	},
      	membership : {
      		stripe_sub_id : '',
      		subscription_date : '',
      		status : '',
      		subData : {
      			current_period_start : '',
      			current_period_end : '',
      		},
      		hasCancelRequest : null,
      		has_membership : false,
      		coolingOffPeriod : null,
      	},
      	terms_consent : false,
      	privacy_policy_consent : false,
      	isAlertShow: false,
        isSuccess:false,
        isError:false,
        alertMsg:'',
        isLoading:false,
        showData : false,
        isPageLoading : true,
        cancelDate : '',
      }
    },
    computed: {
        $loggedInUser: function () {
            return JSON.parse(this.$store.getters.getAuthUser);
        },
        $loggedInUserIsMember : function () {
            var user = JSON.parse(this.$store.getters.getAuthUser);
            return user.is_member;
        }
    },
    methods : {
    	getMembership() {
    		var app = this;
    		var params = {};
			params.column = 'patient_id';
            params.value = app.$loggedInUser.patient_id;
            axios({
                method: 'get',
                url: app.$apiUrl+'subscription/membership',
                params: params
            })
            .then(function (resp) {
                app.membership = resp.data.data;
                app.cancelDate = app.$moment(new Date(app.membership.subscription_date)).add(1, 'years').toString();
                app.request.requested_date =  app.cancelDate;
                app.showData = true;
                app.isPageLoading = false;
            })
            .catch(function () {
            	app.showData = true;
                app.isPageLoading = false;
            }); 
    	},
    	sendRequest() {
    		var app = this;
	        app.isLoading = true;
	        var newRequest= app.request;
	        newRequest.patient_id = app.$loggedInUser.patient_id;
	        newRequest.requested_date = this.$moment(new Date(newRequest.requested_date)).format("YYYY-MM-DD");
	    		axios.post(app.$apiUrl+'subscription/membership-cancel-request', newRequest)
	          .then(function (resp) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = true;
	              app.isError = false;
	              app.alertMsg = resp.data.message;
	              app.terms_consent = false;
	              app.privacy_policy_consent = false;
	              app.request.requested_date = '';
	              app.getMembership();

	          })
	          .catch(function (error) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = false;
	              app.isError = true;
	              app.alertMsg = error.response.data.message;
	              app.terms_consent = false;
              		app.privacy_policy_consent = false;
	          });
    	},
    	cancelSubscription() {
    		var app = this;
	        app.isLoading = true;
	        var newRequest= {};
	        newRequest.stripe_sub_id = app.membership.stripe_sub_id;
	    		axios.post(app.$apiUrl+'subscription/membership-cancel', newRequest)
	          .then(function (resp) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = true;
	              app.isError = false;
	              app.alertMsg = resp.data.message;
	              app.terms_consent = false;
	              app.privacy_policy_consent = false;
	              app.request.requested_date = '';
	              var user = JSON.parse(app.$store.getters.getAuthUser);
	              user.is_member = 0;
	              app.$store.commit('setAuthUser', user);
	              app.getMembership();

	          })
	          .catch(function (error) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = false;
	              app.isError = true;
	              app.terms_consent = false;
          			app.privacy_policy_consent = false;
	              app.alertMsg = error.response.data.message;
	          });
    	},
    	removeRequest(){
    		var app = this;
	        app.isLoading = true;
	    		axios.delete(app.$apiUrl+'subscription/membership-cancel-request/'+app.membership.hasCancelRequest.id)
	          .then(function (resp) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = true;
	              app.isError = false;
	              app.alertMsg = resp.data.message;
	              app.terms_consent = false;
	              app.privacy_policy_consent = false;
	              app.request.requested_date = '';
	              app.getMembership();

	          })
	          .catch(function (error) {
	              app.isLoading = false;
	              app.isAlertShow = true;
	              app.isSuccess = false;
	              app.isError = true;
	              app.terms_consent = false;
              	  app.privacy_policy_consent = false;
	              app.alertMsg = error.response.data.message;
	          });
    	}
    }  
}
</script>
<style scoped="">
	.mtb-20 {
		margin-top: 20px;
		margin-bottom: 20px; 
	}
</style>