<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header  row col-md-12 ">
                            <div class="card-title col-md-6 pull-left">
                                <h1 class="col-md-8">Patients ({{totalPatients}}) <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-15 spinner pull-right f-z-20" aria-hidden="true"></i></h1>
                            </div>
                            <div class="pull-right col-md-6">
                                <router-link :to="{name: 'PatientCreate'}" class="btn btn-applyplus btn-cons pull-right"><i class="fa fa-plus"></i> Add Patient</router-link>
                               <!--  <a href="javascript:;" class="btn btn-info btn-cons pull-right" @click="getPatientList('0')"><i class="fa fa-thumbs-up"></i> Approval List</a>
                                <a href="javascript:;" class="btn btn-success btn-cons pull-right" @click="getPatientList('1')"><i class="fa fa-check-square-o"></i> Registered</a> -->
                                 <div class="form-group required">
                                    <div class="radio radio-complete">
                                       <input type="radio" name="optradio"  value="1" checked @click="getPatientList('1')" id="optradio-1" v-model="patient.filter_by_is_approved"> <label for="optradio-1"><i class="fa fa-check-square-o"></i> Registered</label>
                                      <input type="radio" name="optradio" value="0" @click="getPatientList('0')" id="optradio-2" v-model="patient.filter_by_is_approved"> <label for="optradio-2"><i class="fa fa-thumbs-up"></i> Approval List</label>
                                    </div>
                                </div>    
                                <!-- <div class="radio">
                                  
                                </div> -->
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group  pull-right col-sm-4">
                                    <div class="form-group">
                                    <label>Search By Name/Dob/PostCode</label> 
                                    <input type="text" name="keyword" placeholder="Search By Name/Dob/PostCode" v-model="patient.keyword" class="form-control">
                                    </div>
                                  </div> 
                                  <div class="form-group  pull-right col-sm-3">
                                  <div class="form-group">
                                    <label>Filter By Status</label> 
                                    <select v-model="patient.filter_by_status" class="form-control" placeholder="Filter By Status">
                                         <option value="0">Active</option>
                                         <option value="1">Archived</option>
                                     </select>
                                     </div>
                                  </div>
                                  <div class="form-group  pull-right col-sm-3">
                                  <div class="form-group">
                                      <label>Filter By Patient Type</label> 
                                      <select v-model="patient.filter_by_is_member" class="form-control" placeholder="Filter By Patient Type">
                                            <option value="">All</option>
                                           <option value="1">Membership</option>
                                           <option value="0">Non Membership</option>
                                       </select>
                                       </div>
                                    </div>
                                  
                                  <div class="pull-right col-md-1">
                                    <a href="javascript:;" class="btn btn-primary m-t-30 m-r-10" @click="searchRec"><i class="fa fa-fw fa-search"></i> Search <i v-show="search_spinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
                                  </div>
                            </div> 

                            

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="patients.length > 0">  
                                        <tr v-for="patient, index in patients" >
                                            <td>{{ patient.id }}</td>
                                            <td> <span class="thumbnail-wrapper d39 circular inline pull-left">
                                              <img :src="patient.profile_pic_path" alt="" :data-src="patient.profile_pic_path" :data-src-retina="patient.profile_pic_path">
                                          </span> <span class="inline pull-left m-t-10 m-l-5">{{ patient.title}}. {{ patient.user.full_name }}</span></td>
                                            <td>{{ patient.user.gender }}</td>
                                            <!-- <td>{{ patient.dob | moment("DD-MM-YYYY") }}</td> -->
                                            <td>{{ patient.age }}</td>
                                            <!-- <td>{{ patient.user.email }}</td> -->
                                            
                                            <td>{{ patient.user.mobile_number }}</td>
                                            <td>{{ patient.created_at | moment('DD-MM-YYYY hh:mm a') }}</td>
                                            <td width="20%">
                                                <template v-if="patient.is_approved == 1">
                                                    <router-link :to="{name: 'PatientView', params: {id: patient.id}}" class="btn btn-xs btn-success">
                                                         <i class="fa fa-eye" title="View"></i>
                                                    </router-link>
                                                    <router-link :to="{name: 'PatientEdit', params: {id: patient.id}}" class="btn btn-xs btn-complete">
                                                         <i class="fa fa-pencil" title="Edit"></i>
                                                    </router-link>
                                                    <a href="#resetPassModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs btn-warning"
                                                       @click="setRecordObj(patient.user_id, index)" title="Reset Password">
                                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#approveUserModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs btn-info  m-t-10"
                                                       @click="setRecordObj(patient.id, index, '', patient.is_approved)" title="Disapprove">
                                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#archiveRestoreModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs m-t-10" :class="(patient.user.is_archived == 0) ? 'btn-danger' : 'btn-info'"
                                                       @click="setRecordObj(patient.user_id, index, patient.user.is_archived)" :title="(patient.user.is_archived == 0) ? 'Archive' : 'Restore'">
                                                        <i class="fa" :class="(patient.user.is_archived == 0) ? 'fa-archive' : 'fa-undo'" aria-hidden="true"></i>
                                                    </a>
                                                    <a  v-if="patient.user.is_blocked_login == 0" href="#blockLoginModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs btn-primary  m-t-10"
                                                       @click="setRecordObj(patient.id, index, '','', patient.user.is_blocked_login)">
                                                        <i class="fa fa-ban" title="Block Login"></i>
                                                    </a>
                                                    <a href="#blockLoginModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs btn-primary  m-t-10"
                                                       @click="setRecordObj(patient.id, index, '','', patient.user.is_blocked_login)" v-else >
                                                        <i class="fa fa-unlock-alt" title="Unblock Login"></i>
                                                    </a>

                                                    <a  v-if="patient.user.is_archived == 1" href="#deleteRecModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs btn-danger  m-t-10"
                                                       @click="setRecordObj(patient.id, index)">
                                                        <i class="fa fa-trash" title="Delete"></i>
                                                    </a>
                                                </template>
                                                <template v-else>
                                                    <router-link :to="{name: 'PatientView', params: {id: patient.id}}" class="btn btn-xs btn-success m-r-10">
                                                         <i class="fa fa-eye" title="View"></i>
                                                    </router-link>
                                                    <a href="#approveUserModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs btn-complete m-r-10"
                                                       @click="setRecordObj(patient.id, index, '', patient.is_approved)" title="Approve">
                                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    </a>
                                                    <a  href="#deleteRecModal"
                                                        data-toggle="modal"
                                                       class="btn btn-xs btn-danger"
                                                       @click="setRecordObj(patient.id, index)">
                                                        <i class="fa fa-trash" title="Delete"></i>
                                                    </a>
                                                </template>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getPatients"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
        <reset-password-modal :id="id"></reset-password-modal>
        <archive-restore-modal :id="id" :action="archiveStatus" :module="archive_module" @actionPerformed="refreshList"></archive-restore-modal>

        <approveUserModal :id="id" :action="approveAction"  @actionPerformedApproved="refreshList"></approveUserModal>
        <blockLoginModal :id="id" :action="loginAction"  @actionPerformedApproved="refreshList"></blockLoginModal>
    </div>

</template>

<script>
    import approveUserModal from "./ApproveUserModal";
    import blockLoginModal from "./BlockLoginModal";
    export default {
        components : {
            approveUserModal, blockLoginModal
        },
        data: function () {
            return {
                isLoading : false,
                tableHeader: ["ID", "Name", "Gender",  "Age", "Mobile Number","Registration Date",'Action'],
                patients: [],
                id: null,
                index:null,
                module:'patient',
                archive_module:'user',
                pageCount: 0,
                totalPatients:0,
                archiveStatus:null,
                approveAction: null,
                loginAction: null,
                search_spinner : false,
                patient: {
                    keyword: '',
                    filter_by_status: '0',
                    filter_by_is_approved : '1',
                    filter_by_is_member : '',
                }
            }
        },
        mounted() {
            this.getPatients(1);
        },
        methods: {
            getPatients:function(page) {
                var app = this;
                app.patient.page = page || 1;
                app.patient.limit = 10;
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'patients',
                    params: app.patient
                })
                .then(function (resp) {
                  app.isLoading = false;
                    app.search_spinner = false;
                    app.totalPatients = resp.data.data.pagination.total;
                    app.patients = resp.data.data.data;
                    app.pageCount = resp.data.data.pagination.last_page;
                })
                .catch(function (resp) {
                  app.isLoading = false;
                    app.search_spinner = false;
                    app.patients = [];  
                    app.pageCount = 0;
                    app.totalPatients = 0;
                });
            },
            setRecordObj:function(id, index, archiveStatus, isApproved, isblockedLogin)
            {
                var app = this;
                app.id = id;
                app.index = index;
                if (archiveStatus != null) {
                    if (archiveStatus == '0')
                        app.archiveStatus = 'archive';
                    else
                        app.archiveStatus = 'restore';
                }

                if (isApproved != null) {
                    if (isApproved == '0')
                        app.approveAction = 'approve';
                    else
                        app.approveAction = 'disapprove';
                }

                if (isblockedLogin != null) {
                    if (isblockedLogin == '0')
                        app.loginAction = 'block';
                    else
                        app.loginAction = 'Unblock';
                }
            },
            refreshList(){
                this.patient.filter_by_status = 0;
                this.patient.filter_by_is_approved = 1;
                this.getPatients(1);
            },
            searchRec() {
                var app = this;
                app.search_spinner = true;
                app.getPatients(1);
            },
            getPatientList(is_approved) {
                var app = this;
                app.patient.filter_by_is_approved = is_approved;
                app.getPatients(1);
            }  
        }
    }
</script>

