<template>
<div class="row col-md-12">  
  <div class="col-md-12 pt-4">
      <h3>Receipts <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner" aria-hidden="true"></i></h3>
  </div>
  <div class="col-md-12">
      <div class="card-block dataTables_wrapper no-padding">
        <div class="table-responsive ">
          <table class="table table-hover " id="basicTable">
            <thead>
              <th v-for="header in tableHeader">{{header}}</th>
            </thead>
            <tbody id="user_listing">
                <template v-if="invoices.length > 0">  
                    <tr v-for="invoice, index in invoices" >
                        <td>{{ index+1 }}</td>
                        <td><span v-if="invoice.type == 'manual'">{{ invoice.items.description }}</span>
                            <span v-else>{{ invoice.subscriptions.description }}</span></td>
                        <td>{{ invoice.date | moment("DD-MM-YYYY HH:mm a") }}</td>
                        <td>£{{ invoice.amount_paid }}</td>
                        <td>{{ invoice.status }}</td>
                        <td>
                            <a href="javascript:;"
                                data-toggle="modal"
                               class="btn btn-xs btn-success"
                               @click="showViewPopup(invoice)"  title="View">
                                <i class="fa fa-eye"></i>
                            </a>
                            <!--  <a href="#deleteInvoiceModal"
                                data-toggle="modal"
                               class="btn btn-xs btn-danger"
                               @click="setRecordObj(invoice.id, index)"  title="Delete">
                                <i class="fa fa-trash"></i>
                            </a> -->
                        </td>
                    </tr>
                </template>
                <template v-else> 
                    <tr>
                        <td colspan="10">
                            <div class="blank-data">
                                <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                <h3>Nothing Here Yet!</h3>
                                <p>Did not find anything .. try again.</p>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
          </table>
        </div>
        <!-- <div class="row">
          <div>
            <div class="dataTables_paginate paging_simple_numbers">
              <paginate
                :page-count="pageCount"
                :page-range="3"
                :margin-pages="1"
                :click-handler="getInvoices"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'"
                :page-class="'page-item'">
              </paginate>
            </div>
              </div>
              </div> -->
      </div>
    </div>
    <invoiceViewModal  :patient_id="patient_id"></invoiceViewModal>
   <deleteInvoiceModal :id="id" :index="index" :module="module" @recRemoved="refreshList"></deleteInvoiceModal>
</div>                        
</template>

<script>
    import invoiceViewModal from "./InvoiceViewModal.vue";
    import deleteInvoiceModal from "./DeleteInvoiceModal.vue";
    export default {
        components: {
            invoiceViewModal, deleteInvoiceModal,
        },
        props : ['patient_id'],
        data: function () {
            return {
                tableHeader: ["ID","Desciption", "Date", "Total", "Status", 'Action'],
                invoices: [],
                invoice : {
                    patient_id : '',
                },
                id: null,
                index:null,
                module:'subscription/invoice-delete',
                isLoading : false,
                //pageCount: 0,
                //totalInvoices:0,
            }
        },
        mounted() {
            var app  =this;
            //app.getInvoices(1);
            EventBus.$on('getInvoices', function() {
                app.getInvoices(1);
            });
        },
        methods: {
            getInvoices:function(page) {
                var app = this;
                var limit = 10;
                app.invoice.page = page || 1;
                app.invoice.limit = 10;
                app.invoice.patient_id = app.patient_id;
                app.isLoading = true;
                axios({
                    method: 'get',
                    url: app.$apiUrl+'subscription/invoices',
                    params: app.invoice
                })
                .then(function (resp) {
                    app.invoices = resp.data.data.data;
                    app.isLoading = false;
                })
                .catch(function (error) {
                    app.invoices = []; 
                    app.isLoading = false; 
                    //app.pageCount = 0;
                    //app.totalInvoices = 0;
                });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getInvoices(1);
            }, 

             showViewPopup:function(invoice)
            {
                var app = this;
                EventBus.$emit('showViewPopup', invoice);
            }, 
        }
    }
</script>
