
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2>{{ page_type }} Patient
                                    <router-link to="/patients" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                </div>
                                <div class="row 9t-10">
                                    <div class="col-md-12">
                                       <vue-tabs active-tab-color="#28a745" active-text-color="white" v-model="tabName">
                                            <v-tab title="Personal Details" icon="fa fa-user" class="p-1  m-t-15">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group form-group-default required">
                                                            <label class="text-primary bold">First Name</label>
                                                            <div class="controls">
                                                              <input type="text" class="form-control" name="first_name" placeholder="John" 
                                                              data-vv-as="first name"
                                                              v-model="patient.user.first_name"
                                                              v-validate="'required|alpha_spaces'">
                                                            </div>
                                                            <small class="text-danger"
                                                              v-show="errors.has('first_name')">
                                                              {{ errors.first('first_name') }}
                                                            </small>  
                                                        </div>
                                                    </div>
                                                     <div class="col-lg-6">
                                                        <div class="form-group form-group-default required">
                                                            <label class="text-primary bold">Last Name</label>
                                                            <div class="controls">
                                                              <input type="text" class="form-control" name="last_name" placeholder="Doe"
                                                               data-vv-as="last name"
                                                              v-model="patient.user.last_name"
                                                              v-validate="'required|alpha_spaces'">
                                                            </div>
                                                            <small class="text-danger"
                                                              v-show="errors.has('last_name')">
                                                              {{ errors.first('last_name') }}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group form-group-default required">
                                                            <label class="text-primary bold">Title</label>
                                                            <div class="controls">
                                                              <select v-model="patient.title" class="form-control" v-validate="'required'" name="title">
                                                                 <option value="Mr">Mr</option>
                                                                 <option value="Miss">Miss</option>
                                                                 <option value="Mrs">Mrs</option>
                                                                 <option value="Ms">Ms</option>
                                                                 <option value="Dr">Dr</option>
                                                                 <option value="Prof">Prof</option>
                                                             </select>
                                                            </div>
                                                            <small class="text-danger"
                                                              v-show="errors.has('title')">
                                                              {{ errors.first('title') }}
                                                            </small>  
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group form-group-default required">
                                                            <label class="text-primary bold">Mobile Number</label>
                                                            <div class="controls">
                                                                <masked-input class="form-control" mask="111-1111-1111" type="tel" name="mobile_number"
                                                               placeholder="071-1234-5678"
                                                                data-vv-as="mobile number"
                                                                v-model="patient.user.mobile_number"
                                                                v-validate="'required'" />
                                                            </div>
                                                            <small class="text-danger"
                                                              v-show="errors.has('mobile_number')">
                                                              {{ errors.first('mobile_number') }}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group required">
                                                            <label class="text-primary bold">Date of Birth</label>
                                                            <date-dropdown v-if="patient.dob !== ''" :default="patient.dob" min="1950" max="2018" v-model="patient.dob" />
                                                        </div>    
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group required">
                                                            <label class="text-primary bold">Gender</label>
                                                            <div class="radio radio-complete">
                                                                <input type="radio" value="male"  v-model="patient.user.gender" id="male">
                                                                <label for="male">Male</label>

                                                                <input type="radio" value="female" v-model="patient.user.gender" id="female">
                                                                 <label for="female">Female</label>
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                 <!--  <h2 class="heading">Address</h2> -->
                                                  <div class="col-md-6">
                                                    <div class="form-group form-group-default required">
                                                       <label class="text-primary bold">Address</label>
                                                       <div class="controls">
                                                        <input type="text" name="address" class="form-control" placeholder="Enter address"
                                                        v-model="patient.address_first_line"
                                                        v-validate="'required'">
                                                        </div>
                                                        <small class="text-danger"
                                                          v-show="errors.has('address')">
                                                          {{ errors.first('address') }}
                                                        </small>
                                                    </div>
                                                    <div class="form-group form-group-default required">
                                                       <label class="text-primary bold">Town/City</label>
                                                        <div class="controls">
                                                          <input type="text" name="city" class="form-control" placeholder="Enter Town/City"
                                                          v-model="patient.city"
                                                          v-validate="'required'">
                                                        </div>
                                                        <small class="text-danger"
                                                          v-show="errors.has('city')">
                                                          {{ errors.first('city') }}
                                                        </small>        
                                                    </div>
                                                 </div>
                                                 <div class="col-md-6">
                                                    <div class="form-group form-group-default required">
                                                       <label class="text-primary bold">Country</label>
                                                        <div class="controls">
                                                          <select class="form-control" name="country" placeholder="Select Country"
                                                          v-model="patient.country"
                                                          v-validate="'required'">
                                                            <option>Select Country</option>
                                                            <option value="Afghanistan">Afghanistan</option>
                                                            <option value="Åland Islands">Åland Islands</option>
                                                            <option value="Albania">Albania</option>
                                                            <option value="Algeria">Algeria</option>
                                                            <option value="American Samoa">American Samoa</option>
                                                            <option value="Andorra">Andorra</option>
                                                            <option value="Angola">Angola</option>
                                                            <option value="Anguilla">Anguilla</option>
                                                            <option value="Antarctica">Antarctica</option>
                                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                            <option value="Argentina">Argentina</option>
                                                            <option value="Armenia">Armenia</option>
                                                            <option value="Aruba">Aruba</option>
                                                            <option value="Australia">Australia</option>
                                                            <option value="Austria">Austria</option>
                                                            <option value="Azerbaijan">Azerbaijan</option>
                                                            <option value="Bahamas">Bahamas</option>
                                                            <option value="Bahrain">Bahrain</option>
                                                            <option value="Bangladesh">Bangladesh</option>
                                                            <option value="Barbados">Barbados</option>
                                                            <option value="Belarus">Belarus</option>
                                                            <option value="Belgium">Belgium</option>
                                                            <option value="Belize">Belize</option>
                                                            <option value="Benin">Benin</option>
                                                            <option value="Bermuda">Bermuda</option>
                                                            <option value="Bhutan">Bhutan</option>
                                                            <option value="Bolivia">Bolivia</option>
                                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                            <option value="Botswana">Botswana</option>
                                                            <option value="Bouvet Island">Bouvet Island</option>
                                                            <option value="Brazil">Brazil</option>
                                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                            <option value="Bulgaria">Bulgaria</option>
                                                            <option value="Burkina Faso">Burkina Faso</option>
                                                            <option value="Burundi">Burundi</option>
                                                            <option value="Cambodia">Cambodia</option>
                                                            <option value="Cameroon">Cameroon</option>
                                                            <option value="Canada">Canada</option>
                                                            <option value="Cape Verde">Cape Verde</option>
                                                            <option value="Cayman Islands">Cayman Islands</option>
                                                            <option value="Central African Republic">Central African Republic</option>
                                                            <option value="Chad">Chad</option>
                                                            <option value="Chile">Chile</option>
                                                            <option value="China">China</option>
                                                            <option value="Christmas Island">Christmas Island</option>
                                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                                            <option value="Colombia">Colombia</option>
                                                            <option value="Comoros">Comoros</option>
                                                            <option value="Congo">Congo</option>
                                                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                                            <option value="Cook Islands">Cook Islands</option>
                                                            <option value="Costa Rica">Costa Rica</option>
                                                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                                                            <option value="Croatia">Croatia</option>
                                                            <option value="Cuba">Cuba</option>
                                                            <option value="Cyprus">Cyprus</option>
                                                            <option value="Czech Republic">Czech Republic</option>
                                                            <option value="Denmark">Denmark</option>
                                                            <option value="Djibouti">Djibouti</option>
                                                            <option value="Dominica">Dominica</option>
                                                            <option value="Dominican Republic">Dominican Republic</option>
                                                            <option value="Ecuador">Ecuador</option>
                                                            <option value="Egypt">Egypt</option>
                                                            <option value="El Salvador">El Salvador</option>
                                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                            <option value="Eritrea">Eritrea</option>
                                                            <option value="Estonia">Estonia</option>
                                                            <option value="Ethiopia">Ethiopia</option>
                                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                                            <option value="Faroe Islands">Faroe Islands</option>
                                                            <option value="Fiji">Fiji</option>
                                                            <option value="Finland">Finland</option>
                                                            <option value="France">France</option>
                                                            <option value="French Guiana">French Guiana</option>
                                                            <option value="French Polynesia">French Polynesia</option>
                                                            <option value="French Southern Territories">French Southern Territories</option>
                                                            <option value="Gabon">Gabon</option>
                                                            <option value="Gambia">Gambia</option>
                                                            <option value="Georgia">Georgia</option>
                                                            <option value="Germany">Germany</option>
                                                            <option value="Ghana">Ghana</option>
                                                            <option value="Gibraltar">Gibraltar</option>
                                                            <option value="Greece">Greece</option>
                                                            <option value="Greenland">Greenland</option>
                                                            <option value="Grenada">Grenada</option>
                                                            <option value="Guadeloupe">Guadeloupe</option>
                                                            <option value="Guam">Guam</option>
                                                            <option value="Guatemala">Guatemala</option>
                                                            <option value="Guernsey">Guernsey</option>
                                                            <option value="Guinea">Guinea</option>
                                                            <option value="Guinea-bissau">Guinea-bissau</option>
                                                            <option value="Guyana">Guyana</option>
                                                            <option value="Haiti">Haiti</option>
                                                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                                            <option value="Honduras">Honduras</option>
                                                            <option value="Hong Kong">Hong Kong</option>
                                                            <option value="Hungary">Hungary</option>
                                                            <option value="Iceland">Iceland</option>
                                                            <option value="India">India</option>
                                                            <option value="Indonesia">Indonesia</option>
                                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                                            <option value="Iraq">Iraq</option>
                                                            <option value="Ireland">Ireland</option>
                                                            <option value="Isle of Man">Isle of Man</option>
                                                            <option value="Israel">Israel</option>
                                                            <option value="Italy">Italy</option>
                                                            <option value="Jamaica">Jamaica</option>
                                                            <option value="Japan">Japan</option>
                                                            <option value="Jersey">Jersey</option>
                                                            <option value="Jordan">Jordan</option>
                                                            <option value="Kazakhstan">Kazakhstan</option>
                                                            <option value="Kenya">Kenya</option>
                                                            <option value="Kiribati">Kiribati</option>
                                                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                                            <option value="Korea, Republic of">Korea, Republic of</option>
                                                            <option value="Kuwait">Kuwait</option>
                                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                                            <option value="Latvia">Latvia</option>
                                                            <option value="Lebanon">Lebanon</option>
                                                            <option value="Lesotho">Lesotho</option>
                                                            <option value="Liberia">Liberia</option>
                                                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                                            <option value="Liechtenstein">Liechtenstein</option>
                                                            <option value="Lithuania">Lithuania</option>
                                                            <option value="Luxembourg">Luxembourg</option>
                                                            <option value="Macao">Macao</option>
                                                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                                            <option value="Madagascar">Madagascar</option>
                                                            <option value="Malawi">Malawi</option>
                                                            <option value="Malaysia">Malaysia</option>
                                                            <option value="Maldives">Maldives</option>
                                                            <option value="Mali">Mali</option>
                                                            <option value="Malta">Malta</option>
                                                            <option value="Marshall Islands">Marshall Islands</option>
                                                            <option value="Martinique">Martinique</option>
                                                            <option value="Mauritania">Mauritania</option>
                                                            <option value="Mauritius">Mauritius</option>
                                                            <option value="Mayotte">Mayotte</option>
                                                            <option value="Mexico">Mexico</option>
                                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                                                            <option value="Monaco">Monaco</option>
                                                            <option value="Mongolia">Mongolia</option>
                                                            <option value="Montenegro">Montenegro</option>
                                                            <option value="Montserrat">Montserrat</option>
                                                            <option value="Morocco">Morocco</option>
                                                            <option value="Mozambique">Mozambique</option>
                                                            <option value="Myanmar">Myanmar</option>
                                                            <option value="Namibia">Namibia</option>
                                                            <option value="Nauru">Nauru</option>
                                                            <option value="Nepal">Nepal</option>
                                                            <option value="Netherlands">Netherlands</option>
                                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                                            <option value="New Caledonia">New Caledonia</option>
                                                            <option value="New Zealand">New Zealand</option>
                                                            <option value="Nicaragua">Nicaragua</option>
                                                            <option value="Niger">Niger</option>
                                                            <option value="Nigeria">Nigeria</option>
                                                            <option value="Niue">Niue</option>
                                                            <option value="Norfolk Island">Norfolk Island</option>
                                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                                            <option value="Norway">Norway</option>
                                                            <option value="Oman">Oman</option>
                                                            <option value="Pakistan">Pakistan</option>
                                                            <option value="Palau">Palau</option>
                                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                                            <option value="Panama">Panama</option>
                                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                                            <option value="Paraguay">Paraguay</option>
                                                            <option value="Peru">Peru</option>
                                                            <option value="Philippines">Philippines</option>
                                                            <option value="Pitcairn">Pitcairn</option>
                                                            <option value="Poland">Poland</option>
                                                            <option value="Portugal">Portugal</option>
                                                            <option value="Puerto Rico">Puerto Rico</option>
                                                            <option value="Qatar">Qatar</option>
                                                            <option value="Reunion">Reunion</option>
                                                            <option value="Romania">Romania</option>
                                                            <option value="Russian Federation">Russian Federation</option>
                                                            <option value="Rwanda">Rwanda</option>
                                                            <option value="Saint Helena">Saint Helena</option>
                                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                            <option value="Saint Lucia">Saint Lucia</option>
                                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                                            <option value="Samoa">Samoa</option>
                                                            <option value="San Marino">San Marino</option>
                                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                                            <option value="Senegal">Senegal</option>
                                                            <option value="Serbia">Serbia</option>
                                                            <option value="Seychelles">Seychelles</option>
                                                            <option value="Sierra Leone">Sierra Leone</option>
                                                            <option value="Singapore">Singapore</option>
                                                            <option value="Slovakia">Slovakia</option>
                                                            <option value="Slovenia">Slovenia</option>
                                                            <option value="Solomon Islands">Solomon Islands</option>
                                                            <option value="Somalia">Somalia</option>
                                                            <option value="South Africa">South Africa</option>
                                                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                                            <option value="Spain">Spain</option>
                                                            <option value="Sri Lanka">Sri Lanka</option>
                                                            <option value="Sudan">Sudan</option>
                                                            <option value="Suriname">Suriname</option>
                                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                                            <option value="Swaziland">Swaziland</option>
                                                            <option value="Sweden">Sweden</option>
                                                            <option value="Switzerland">Switzerland</option>
                                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                                            <option value="Tajikistan">Tajikistan</option>
                                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                                            <option value="Thailand">Thailand</option>
                                                            <option value="Timor-leste">Timor-leste</option>
                                                            <option value="Togo">Togo</option>
                                                            <option value="Tokelau">Tokelau</option>
                                                            <option value="Tonga">Tonga</option>
                                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                            <option value="Tunisia">Tunisia</option>
                                                            <option value="Turkey">Turkey</option>
                                                            <option value="Turkmenistan">Turkmenistan</option>
                                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                                            <option value="Tuvalu">Tuvalu</option>
                                                            <option value="Uganda">Uganda</option>
                                                            <option value="Ukraine">Ukraine</option>
                                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                                            <option value="United Kingdom">United Kingdom</option>
                                                            <option value="United States">United States</option>
                                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                                            <option value="Uruguay">Uruguay</option>
                                                            <option value="Uzbekistan">Uzbekistan</option>
                                                            <option value="Vanuatu">Vanuatu</option>
                                                            <option value="Venezuela">Venezuela</option>
                                                            <option value="Viet Nam">Viet Nam</option>
                                                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                                                            <option value="Western Sahara">Western Sahara</option>
                                                            <option value="Yemen">Yemen</option>
                                                            <option value="Zambia">Zambia</option>
                                                            <option value="Zimbabwe">Zimbabwe</option>
                                                         </select>
                                                        </div>
                                                        <small class="text-danger"
                                                          v-show="errors.has('country')">
                                                          {{ errors.first('country') }}
                                                        </small>
                                                    </div>
                                                    <div class="form-group form-group-default required">
                                                       <label class="text-primary bold">PostCode</label>
                                                        <div class="controls">
                                                          <input type="text" name="postcode" class="form-control" placeholder="Enter postcode"
                                                          v-model="patient.postcode"
                                                          v-validate="'required'">
                                                        </div>
                                                        <small class="text-danger"
                                                          v-show="errors.has('postcode')">
                                                          {{ errors.first('postcode') }}
                                                        </small>
                                                    </div>
                                                 </div>
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="col-lg-6">
                                                        <div class="form-group required">
                                                            <image-upload-component 
                                                            input_id="file1"
                                                            refUpload="upload1"
                                                            label="Profile Pic"
                                                            button_text="Upload Profile Pic"
                                                            type="profile_pic"
                                                            :fileArray="files1"
                                                            :is_multiple="false"
                                                            :is_preview="false"
                                                            accept="image/png,image/jpeg"
                                                            extensions="jpg,jpeg,png"
                                                            :maximum="1"
                                                            :inputArray="patient.user.profile_pic"
                                                            :is_multidimensional_array="false"
                                                            @fileAdded="setUploadedProfilePic"
                                                            @fileRemoved="setUploadedProfilePic"
                                                            >   
                                                            </image-upload-component>
                                                            
                                                        </div>    
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group required">
                                                           
                                                          <image-upload-component 
                                                            input_id="file2"
                                                            refUpload="upload2"
                                                            label="Identity Documents <small class='hint-text'>(Upload up to 2 documents)</small>"
                                                            button_text="Upload Documents"
                                                            type="identity_docs"
                                                            :fileArray="files2"
                                                            :is_multiple="true"
                                                            :is_preview="false"
                                                            :accept="$accept"
                                                            :extensions="$extensions"
                                                            :maximum="2"
                                                            :thread="2"
                                                            :inputArray="patient.identity_docs"
                                                            :is_multidimensional_array="true"
                                                            @fileAdded="setUploadedIdentityDocs"
                                                            @fileRemoved="setUploadedIdentityDocs"
                                                            >   
                                                            </image-upload-component>
                                                        </div>    
                                                    </div> 
                                                </div>
                                                <hr>
                                                <button class="btn btn-applyplus btn-cons  pull-right inline" @click="nextTab('Account')">Next</button> 
                                            </v-tab>

                                            <v-tab title="Account" icon="fa fa-lock" class="p-1  m-t-15">
                                              <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group form-group-default required" :class="(patientId != null) ? 'disabled' : ''">
                                                            <label class="text-primary bold">Email</label>
                                                            <div class="controls">
                                                                <input type="email" class="form-control" name="email" placeholder="John@example.com"
                                                                autocomplete="off"
                                                                v-model="patient.user.email"
                                                                v-validate="'required|email'"
                                                                 >
                                                            </div>
                                                            <small class="text-danger"
                                                              v-show="errors.has('email')">
                                                              {{ errors.first('email') }}
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group form-group-default required" :class="(patientId != null) ? 'disabled' : ''">
                                                            <label class="text-primary bold">Password</label>
                                                            <div class="controls">
                                                              <input type="password" name="password" autocomplete="off" class="form-control"
                                                                ref="password"
                                                                v-validate="rules"
                                                                v-model="patient.user.password"
                                                                >
                                                                <small class="text-danger"
                                                                  v-show="errors.has('password')" v-html="errors.first('password')">
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <button class="btn btn-applyplus btn-cons no-margin pull-right inline" @click="nextTab('Psychiatric Reports')">Next</button>
                                                <button class="btn btn-complete btn-cons pull-right inline" @click="nextTab('Personal Details')">Back</button>
                                            </v-tab>

                                            <v-tab title="Psychiatric Reports" icon="fa fa-file" class="p-1 m-t-15">
                                              <div class="row">
                                                    <div class="col-lg-6">
                                                      <div class="form-group required">
                                                            <image-upload-component 
                                                            input_id="file3"
                                                            refUpload="upload3"
                                                            label="Psychiatric Reports <small class='hint-text'>Upload up to 4 files</small></label>"
                                                            button_text="Upload Reports"
                                                            type="psychiatric_reports"
                                                            :fileArray="files3"
                                                            :is_multiple="true"
                                                            :is_preview="false"
                                                            :accept="$accept"
                                                            :extensions="$extensions"
                                                            :maximum="4"
                                                            :thread="4"
                                                            :inputArray="patient.psychiatric_reports"
                                                            :is_multidimensional_array="true"
                                                            @fileAdded="setUploadedReports"
                                                            @fileRemoved="setUploadedReports"
                                                            >   
                                                            </image-upload-component>
                                                          </div>    
                                                    </div>
                                                </div>      
                                              <hr>
                                                <button class="btn btn-applyplus btn-cons no-margin pull-right inline" @click="nextTab('Attachments')">Next</button>
                                                <button class="btn btn-complete btn-cons pull-right inline" @click="nextTab('Account')">Back</button>
                                            </v-tab>
                                            <v-tab title="Attachments" icon="fa fa-paperclip" class="p-1 m-t-15">
                                              <div class="row">
                                                    <div class="col-lg-6">
                                                      <div class="form-group required">
                                                            <image-upload-component 
                                                            input_id="file5"
                                                            refUpload="upload5"
                                                            label="Attachments"
                                                            button_text="Upload Attachments"
                                                            type="attachments"
                                                            :fileArray="files5"
                                                            :is_multiple="true"
                                                            :is_preview="false"
                                                            :accept="$accept"
                                                            :extensions="$extensions"
                                                            :maximum="6"
                                                            :thread="6"
                                                            :inputArray="patient.attachments"
                                                            :is_multidimensional_array="true"
                                                            @fileAdded="setUploadedAttchements"
                                                            @fileRemoved="setUploadedAttchements"
                                                            >   
                                                            </image-upload-component>
                                                          </div>    
                                                    </div>
                                                </div>      
                                              <hr>
                                                <button class="btn btn-applyplus btn-cons no-margin pull-right inline" @click="updateForm()">{{ buttonText }} <i v-show="isLoading" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                                <button class="btn btn-complete btn-cons pull-right inline" @click="nextTab('Psychiatric Reports')">Back</button>
                                            </v-tab>
                                        </vue-tabs>
                                     </div>                  
                                </div>
                               
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>

<script>
    import DateDropdown from 'vue-date-dropdown';
    export default {
        components: {
            DateDropdown
        },
        mounted() {
          let app = this;
          if (app.$route.name == 'PatientCreate') {
              app.page_type = 'Add';
              app.buttonText = 'Create';
              app.patient.dob = '1950-01-01';
              app.patient.title = 'Mr';
              app.patient.country = 'United Kingdom';
          } else if (app.$route.name == 'PatientEdit') {
              app.patientId = app.$route.params.id;
              app.page_type = 'Edit';
              app.buttonText = 'Update';
              axios.get(app.$apiUrl+'patient/' + app.patientId)
                .then(function (resp) {
                    app.patient = resp.data.data;  
                    if (app.patient.country == '') {
                      app.patient.country = 'United Kingdom';
                    } 
                    app.files1.push({'name' : app.patient.user.profile_pic, 'error' : ''});
                    /*app.files2.push({'name' : app.patient.photo_id, 'error' : ''});*/
                    /*if (app.patient.utility_bill != null) {
                      app.files4.push({'name' : app.patient.utility_bill, 'error' : ''});
                    }*/
                    if (app.patient.identity_docs.length > 0) {
                        $.each(app.patient.identity_docs, function(ind, ele) {
                            app.files2.push({'name' : ele.name, 'error' : ''});
                        });
                    }
                    
                    if (app.patient.psychiatric_reports.length > 0) {
                        $.each(app.patient.psychiatric_reports, function(ind, ele) {
                            app.files3.push({'name' : ele.name, 'error' : ''});
                        });
                    }
                    if (app.patient.attachments.length > 0) {
                        $.each(app.patient.attachments, function(ind, ele) {
                            app.files5.push({'name' : ele.name, 'error' : ''});
                        });
                    }
                })
                .catch(function () {
                });
          }

          $('[data-toggle="tooltip"]').tooltip();      
            
        },
        data: function () {
            return {
                patientId: null,
                patient: {
                    user : {
                      first_name: '',
                      last_name: '',
                      gender: "male",
                      email: '',
                      password: '',
                      mobile_number: '',
                      profile_pic: '',
                      role: 'patient',
                    },
                    title: '',
                    /*photo_id: '',
                    utility_bill: '',*/
                    dob : '',
                    address_first_line : '',
                    city : '',
                    country : '',
                    postcode : '',
                    psychiatric_reports : [],
                    attachments : [],
                    identity_docs : [],
                    type : 'admin',
                },
                selectedDate : '',
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                tabName:'',
                files1 : [],
                files2 : [],
                files3 : [],
                files4 : [],
                files5 : [],
                page_type : '',
                type : '',
                buttonText : '',
            }
        },
        methods: {
            updateForm() {
                var app = this;
                var newPatient = app.patient;
                 this.$validator.validateAll().then(result => {
                    if (result) {
                        newPatient.user.role = 'patient';
                        app.isLoading = true;
                        if (app.patientId == null) {
                          var url = app.$apiUrl+'patient';
                          var method = 'post';
                        } else {
                          var url = app.$apiUrl+'patient/' + app.patientId;
                          var method = 'patch';
                        }
                        
                        axios({
                          method: method,
                          url: url,
                          data:newPatient
                        })
                        .then(function (resp) {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                                app.$router.replace('/patients');
                            })
                            .catch(error => {
                                console.log(error.response);
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.errors;
                                if(jQuery.type(jsonResponse) == 'object')
                                {
                                  var messages = '';
                                  $.each( jsonResponse, function( key, value ) {
                                    messages += '<p>'+value+'</p>';
                                  }); 
                                  app.alertMsg = messages;           
                                }
                                 
                            });
                    }        
                })   
            },
            nextTab(tab) {
                this.tabName = tab;
            },
            setUploadedProfilePic(file) {
                this.patient.user.profile_pic = file;
            },
            setUploadedIdentityDocs(files) {
                this.patient.identity_docs = files;
            },
            setUploadedReports(files) {
                this.patient.psychiatric_reports = files;
            },
            setUploadedAttchements(files) {
                this.patient.attachments = files;
            },
            
        },
        computed: {
            rules() {
              return (this.patientId == null) ? 'required|verify_password' : '';
            }
        }
    }
</script>
