<template>
      <span>
    <header-component></header-component>
	<div class="section grey">
        <div class="max-wrapper">
            <!--         <h2 class="section-heading text-center">Contact Us</h2> -->
            <div class="contact-form-wrapper">
                <div class="contact-form-left">
                    <h2 class="section-heading text-center">Lets <span>Help You!</span></h2>
                    <ul>
                        <li>
                            <i><img :src="$imageUrl+'clock.png'"></i>
                            <strong>Business Hours</strong>
                            9:00 AM To 6:00 PM
                        </li>
                        <li>
                            <i><img :src="$imageUrl+'location.png'"></i>
                            <strong>Postal Address</strong>
                            The Business Centre 61 Wellfield Road Roath Cardiff CF24 3DG
                        </li>
                        <li>
                            <i><img :src="$imageUrl+'phone.png'"></i>
                            <strong>Call</strong>
                            0835 788296
                        </li>
                    </ul>
                </div>
                <div class="contact-form-right">
                    <h2 class="section-heading text-center">Get In Touch  <span>With Us!</span></h2>
                    <h3 class="our-pricing-sub-heading">For general questions to see <a href="faq.php">Faq</a></h3>
                    <div class="contact-form">
                        <form action="" method="">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label >Full Name</label>
                                        <input type="text" name="fullname" class="form-control" placeholder="Enter full name"
                                       :class="{'is-invalid': errors.has('fullname') }"
                                       data-vv-as="full name"
                                      v-model="contact.fullname"
                                      v-validate="'required|alpha_spaces'">
                                      <small class="has-error"
                                          v-show="errors.has('fullname')">
                                          {{ errors.first('fullname') }}
                                        </small>  
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label >Email</label>
                                        <input type="email" name="email" class="form-control"
                                        :class="{'is-invalid': errors.has('email') }"
                                        placeholder="Enter email"
                                       data-vv-as="email"
                                      v-model="contact.email"
                                      v-validate="'required|email'">
                                      <small class="has-error"
                                          v-show="errors.has('email')">
                                          {{ errors.first('email') }}
                                        </small>  
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label >Mobile Number</label>
                                        <masked-input mask="1111-111111" type="tel"  name="mobile_number" class="form-control" 
                                        placeholder="Enter mobile number"
                                       :class="{'is-invalid': errors.has('mobile_number') }"
                                          v-model="contact.mobile_number"
                                          data-vv-as="mobile number"
                                          v-validate="'required'"/>
                                          <small class="has-error"
                                          v-show="errors.has('mobile_number')">
                                          {{ errors.first('mobile_number') }}
                                        </small>  
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label >Message</label>
                                        <textarea class="form-control" rows="4" placeholder="Type message" name="message"
                                        :class="{'is-invalid': errors.has('message') }"
                                          v-model="contact.message"
                                          v-validate="'required'"></textarea>
                                          <small class="has-error"
                                          v-show="errors.has('message')">
                                          {{ errors.first('message') }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <a href="javascript:;" class="btn btn-primary btn-block" :class="{'show-spinner' : isLoading}" @click="contactEmail">
                                        <span>Send</span>
                                        <div class="loader"></div>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-md-12 mt-10">
                                    <div class="alert text-center" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                  
                </div>
            <div class="clearfix"></div> 
            </div>
            
                <div class="contact-form-wrapper urgent-help-section with-background">
                    <h2 class="urgent-help-hd">Urgent Help Needed?</h2>
                    <p>Mild to moderate side effects from medication- discuss with our clinician using our telephone advice service or by booking a follow up appointment. If you find it difficult to get an appointment with us soon or if your side effects get worse, please see your own GP.</p>
                    <p><strong>If there are intolerable or severe side effects, seek help immediately by attending A&E</strong></p>
                    <p><strong>NHS 111 - You can call 111 when you need medical help but it’s not a 999 emergency. </strong></p>
                    <p><strong>You or the person assisting you should call 999 in a critical or life-threatening situation such as if someone has</strong></p>
                    <ul>
                        <li>Breathing Difficulty</li>
                            <li>Severe Abdominal(tummy) pain</li>
                            <li>Severe Dizziness</li>
                            <li>Severe Bleeding which can't be stopped</li>
                            <li>Severe Chest Pain</li>
                            <li>Loss of Consciousness</li>
                            <li>Sudden onset of confusion</li>
                            <li>Fits</li>
                            <li>Suspected Heart Attack or Stroke</li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer-component></footer-component>
      </span>
</template>
<script type="text/javascript">
    import axios from 'axios';
    export default {
        data: function () {
            return {
                contact: {
                    fullname : '',
                    email : '',
                    mobile_number : '',
                    message : '',
                },
                module:'email',
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
         methods: {
            contactEmail:function() {
                var app = this;
                var newContact = app.contact;
                this.$validator.validateAll().then(result => {
                    if (result) {
                        app.isLoading = true;
                        axios.post(app.$apiUrl+'contact-email', newContact)
                            .then(resp => {
                                app.isLoading = false;
                                app.isSuccess = true,
                                app.isError = false,
                                app.alertMsg = resp.data.message;
                                app.isAlertShow = true;
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.message;
                                if(jsonResponse != '')
                                {
                                  app.alertMsg = jsonResponse;          
                                }
                            });
                    }
                })    
            },
        }    
    }
</script>    