<template>
	<span>
		<auth-header></auth-header>
		<div class="form-right-column section">
		  <div class="middle-align">
		   <div class="inner">
		    <div class="row">
		     <div class="col-xs-12 col-md-12">
		      <h2 class="section-heading text-center">Log In</h2>
		      <p class="text-center">Log in to access your account</p>
		  </div>
		  <div class="col-md-12 col-xs-12">
		      <section id="wizard">
		       <div id="rootwizard">

		        <div class="tab-content" >
		         <div class="tab-pane" id="tab1" style="display: block !important; ">
		          <div class="tab-pane-inner">
		            <div class="login-screen">
		                <div class="row">  
		                	                     
		                </div>
		                <div class="row">
		                	<!-- <flash-message :message="flashmessage"></flash-message> -->
		                	<div class="col-xs-12 col-md-12">
								<div class="alert alert-success text-center"  role="alert" v-show="flashmessage != ''">
							      <span>{{ flashmessage }}</span>
							    </div>
								<div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
				                  {{alertMsg}}
				                </div>
							</div>
		                    <div class="col-xs-12 col-md-12">
		                        <div class="form-group">
		                            <label>Email Address</label>
		                            <input type="email" name="email" class="form-control" placeholder="Enter your email" 
		                            :class="{'is-invalid': errors.has('step1.email') }" 
		                            autocomplete="off"
			                           v-validate="'required|email'" 
			                           v-model="object.email"
			                            data-vv-scope="step1" @keyup.enter="login">
			                           <small class="has-error"
                                          v-show="errors.has('step1.email')">
                                          {{ errors.first('step1.email') }}
                                        </small>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-md-12 password-field">
		                        <div class="form-group">
		                            <label>Password</label>
		                            <input type="password" name="password"  placeholder="Enter password" autocomplete="off"
		                            class="form-control"
		                            :class="{'is-invalid': errors.has('step1.password') }"
			                          v-model="object.password"
			                          v-validate="'required'"
			                          data-vv-scope="step1" @keyup.enter="login">
			                        <small class="has-error"
				                      v-show="errors.has('step1.password')">
				                      {{ errors.first('step1.password') }}
				                    </small>  
		                        </div>
		                        

		                    </div>
		                    <div class="col-xs-12 col-md-6">
		                        <div class="form-group">
		                            <div class="checkbox">
		                              <label><input type="checkbox" value="">Remember Me</label>
		                          </div>
		                      </div>
		                  </div>
		                  <div class="col-xs-12 col-md-6">
		                        <div class="form-group text-right">
		                            <label><a href="javascript:;" class="forgot-password authStepsClick ">Forgot Password</a></label>
		                      </div>
		                  </div>
		                  <div class="col-xs-12 col-md-12 mt-10">
		                    <a href="javascript:;" class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading }" @click="login">
		                        <span >Log In</span>
		                        <div class="loader"></div>
		                    </a>
		                </div>
		            </div>
		        </div> 
		        <div class="forgot-screen" style="display: none;">
		            <div class="row">
		            	<div class="col-xs-12 col-md-12">
							<div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
			                  {{alertMsg}}
			                </div>
						</div>
		                <div class="col-xs-12 col-md-12 password-field">
		                	<p>Please enter the email address you used when registering with us. We will send you an email with directions to reset your password.</p>
		                    <div class="form-group">
		                        <label>Email Address</label>
		                        <input type="email" class="form-control" placeholder="Enter your email"
		                        name="forgot_email"
				                  data-vv-as="email"
				                  v-model="object2.forgot_email"
				                  :class="{'is-invalid': errors.has('step2.forgot_email') }" 
				                  v-validate="'required|email'"
				                  data-vv-scope="step2">
				                  <small class="has-error"
				                      v-show="errors.has('step2.forgot_email')">
				                      {{ errors.first('step2.forgot_email') }}
				                  </small>
		                    </div>
		                    <router-link :to="{ name: 'Login'}" class="back-to-login authStepsClick">Back to Login</router-link>
		                </div>
		                <div class="col-xs-6 col-md-6">
		                    <a href="javascript:;" class="btn btn-primary btn-md" :class="{'show-spinner' : isLoading }" @click="forgotPassword">
		                        <span>Send</span>
		                        <div class="loader"></div>
		                    </a>
		                </div>
		            </div>                    
		        </div> 
		    </div>
		    <div class="text-center">
                <p>Don't have an account? <router-link :to="{ name: 'Register'}">Register</router-link></p> 
            </div>
		</div>
		</div>
		</div>
		</section>
		</div>
		<div class="col-md-12 col-xs-12 clearfix">
		  <div class="section footer-section with-transparent">
		   <span class="copyright-text">© 2018 loremipsum.com | All Rights Reserved</span>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>  
	</span>
</template>
<script type="text/javascript">
	import axios from 'axios';
	export default {
		props: {
            flashmessage: String
        },
        beforeCreate: function() {
            document.body.className = 'register-page login';
        },
        mounted () {
        	//login forgot
			$('.authStepsClick').click(function(){
				if ($(this).hasClass('forgot-password')) {
					$('.login-screen').hide();
					$('.forgot-screen').show();
					$('.section-heading').text('Forgot Password');
					$('.login-sub-heading').text('Please provide your email address');
				}else{
					$('.forgot-screen').hide();
					$('.login-screen').show();
					$('.section-heading').text('Log In');
					$('.login-sub-heading').text('Log in to access your account');
				}
			});
        },
        data: function () {
            return {
                object: {
                    email: '',
                    password: '',
                    from : 'site',
                },
                object2: {
                    forgot_email: '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            login() {
                var app = this;
                var params = app.object;
                this.$validator.validateAll('step1').then(result => {
                  if (result) {
                     app.isLoading = true;
                     axios.post(app.$apiUrl+'login', params)
                    .then(function (resp) {
                        app.isLoading = false;
                        app.isSuccess = true,
                        app.isError = false,
                        app.alertMsg = resp.data.message;
                        app.isAlertShow = true;

                        resp.data.data.user.role = resp.data.data.role;
                        resp.data.data.user.doctor_id = resp.data.data.doctor_id;
                        resp.data.data.user.patient_id = resp.data.data.patient_id;
                        resp.data.data.user.is_member = resp.data.data.is_member;
                        resp.data.data.user.user_picture = resp.data.data.user_picture;
                        //window.localStorage.setItem('lbUser', JSON.stringify(resp.data.data.user));
                        app.$store.commit('setAuthUser', resp.data.data.user);
                        app.$store.commit('setAuthToken', resp.data.access_token);
                        var supportView = JSON.parse(window.localStorage.getItem('support_view'));
                        var accountHash = JSON.parse(window.localStorage.getItem('accountHash'));
                        //setTimeout(function(){ 
	                        if (supportView != null) {
	                          app.$router.replace('/support/view/'+supportView);
	                        } else if (accountHash != null) {
	                        	app.$router.push('/my-account'+accountHash);
	                        } else {
	                        	if (resp.data.data.user.role == 'patient') {
	                        		app.$router.push('/book-appointment');
	                        	} else if (resp.data.data.user.role == 'doctor') {
	                        		app.$router.push('/doctor-panel');
	                        	}
	                        }
                        //}, 2000);


                    })
                    .catch(function (error) {
                        app.isLoading = false;
                        app.isSuccess = false,
                        app.isError = true,
                        app.isAlertShow = true;
                        app.alertMsg = error.response.data.message;
                         
                    });
                  }
                })  
            },
            forgotPassword() {
                var app = this;
                var params = app.object2;

                this.$validator.validateAll('step2').then(result => {
                  if (result) {
                    app.isLoading = true;
                    axios.post(app.$apiUrl+'request-password', params)
                        .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/login');
                        })
                        .catch(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Invalid Credentials';
                        });
                  }      
                })
            }
        }
    }
</script>