<template>
	
</template>
<script>
	import axios from 'axios';
	 export default {
        mounted() {
          var app = this;
            this.$store.dispatch('clearAuthUser');
            localStorage.removeItem('lbUser')

            this.$store.dispatch('clearAuthToken');
            localStorage.removeItem('authToken')
            app.$router.replace('/login');
        }
    }    
</script>