<template>
  <div>
    <header-component></header-component>
    	<div class="form-right-column section">
      <div class="middle-align">
         <div class="inner">
            <div class="row">
               <div class="col-xs-12 col-md-12">
                  <h2 class="section-heading text-center">New Password</h2>
                  <p class="text-center">Create your new password</p>
              </div>
              <div class="col-md-12 col-xs-12">
                  <section id="wizard">
                     <div id="rootwizard">

                        <div class="tab-content">
                           <div class="tab-pane" id="tab1" style="display: block !important; ">
                              <div class="tab-pane-inner">
                                <div class="login-screen">
                                    <div class="row">                       
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 password-field">
                                          <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                                            {{alertMsg}}
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 password-field">
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="password" name="password" class="form-control" placeholder="Enter new password"
                                                autocomplete="off"
                                                ref="password"
                                                :class="{'is-invalid': errors.has('password') }" 
                                                v-model="object.password"
                                                v-validate="'required|verify_password'">
                                            </div >
                                            <small class="has-error"
                                              v-show="errors.has('password')" v-html="errors.first('password')">
                                            </small>  
                                        </div>
                                        <div class="col-xs-12 col-md-12 password-field">
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" name="confirm_password" class="form-control"  autocomplete="off" placeholder="Re-enter new password"
                                                :class="{'is-invalid': errors.has('confirm_password') }"
                                                data-vv-as="confirm password"
                                                v-model="object.confirm_password"
                                                v-validate="'required|confirmed:password'">
                                            </div>
                                            <small class="has-error"
                                              v-show="errors.has('confirm_password')">
                                              {{ errors.first('confirm_password') }}
                                            </small>   
                                        </div>
                                      <div class="col-xs-12 col-md-12">
                                        <a href="javascript:;" class="btn btn-primary" 
                                        :class="{'show-spinner' : isLoading }" @click="submitRequest">
                                            <span>Update</span>
                                            <div class="loader"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="text-center">
                            <p>Don't have an account? <a href="javascript:;">Register</a></p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
    </div>
    </div>
    </div> 
  </div>  
</template>
<script>
  import axios from 'axios';
    export default {
        mounted() {
            let app = this;
            let token = app.$route.params.token;
            app.object.token = token;
        },
        beforeCreate: function() {
            document.body.className = 'new-password-body';
        },
        data: function () {
            return {
                object: {
                    password: '',
                    confirm_password: '',
                    token : '',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
            }
        },
        methods: {
            submitRequest() {
                var app = this;
                var params = app.object;
                this.$validator.validateAll().then(result => {
                  if (result) {
                    app.isLoading = true;
                    axios.put(app.$apiUrl+'reset-password', params)
                        .then(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/login');
                        })
                        .catch(function (resp) {
                            app.isLoading = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'An error occured';
                        });
                  }      
                })
            }
        }
    }
</script>