<template>
	<span>
		<header-component></header-component>
		<div class="form-right-column section">
	      <div class="middle-align">
	         <div class="inner">
	            <div class="row">
	               <div class="col-xs-12 col-md-12">
	                  <h2 class="section-heading text-center">Create Your Account</h2>
	                  <p class="text-center">Happy Clinic is much better when you have a account!</p>
	               </div>
	               <div class="col-md-12 col-xs-12">
	                  <section id="wizard">
	                     <div id="rootwizard">
	                        <div class="navbar" v-show="!isRegisterSuccess">
	                           <div class="navbar-inner">
	                              <ul class="form-wizard-steps registration-steps" >
	                                 <li><a href="#tab1" data-toggle="tab">1
	                                    <span>Step 1</span>
	                                    </a>
	                                 </li>
	                                 <li><a href="#tab2" data-toggle="tab">2
	                                    <span>Step 2</span>
	                                    </a>
	                                 </li>
	                                 <li><a href="#tab3" data-toggle="tab">3
	                                    <span>Step 3</span>
	                                    </a>
	                                 </li>
	                                 <li><a href="#tab4" data-toggle="tab">4
	                                    <span>Step 4</span>
	                                    </a>
	                                 </li>
	                                 <li><a href="#tab5" data-toggle="tab">5
	                                    <span>Step 5</span>
	                                    </a>
	                                 </li>
	                              </ul>
	                              <div id="bar" class="progress">
	                                 <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
	                              </div>
	                           </div>
	                        </div>
	                        <div class="tab-content">
	                          <div class="tab-pane PD-tab-content" id="tab1" data-vv-scope="step1" v-show="!isSuccess">
                              <div class="tab-pane-inner">
                                 <h2 class="heading">Personal Details of Patient</h2>
                                 <div class="clearfix"></div>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Title</label>
                                       <select class="form-control" v-model="patient.title" name="title"
                                       :class="{'is-invalid': errors.has('step1.title') }"
                                       v-validate="'required'"
                                       data-vv-scope="step1">
                                           <option value="">Select Title</option>
                                           <option value="Mr">Mr</option>
                                           <option value="Miss">Miss</option>
                                           <option value="Mrs">Mrs</option>
                                           <option value="Ms">Ms</option>
                                           <option value="Dr">Dr</option>
                                           <option value="Prof">Prof</option>
                                       </select>
                                       <small class="has-error"
                                        v-show="errors.has('step1.title')">
                                        {{ errors.first('step1.title') }}
                                      </small> 
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">First Name</label>
                                       <input type="text" name="first_name" class="form-control"
                                       :class="{'is-invalid': errors.has('step1.first_name') }"
                                        placeholder="Enter first name"
                                       data-vv-as="first name"
                                      v-model="patient.user.first_name"
                                      v-validate="'required|alpha_spaces'"
                                      data-vv-scope="step1">
                                      	<small class="has-error"
	                                      v-show="errors.has('step1.first_name')">
	                                      {{ errors.first('step1.first_name') }}
	                                    </small>  
                                        <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Last Name</label>
                                       <input type="text" name="last_name" class="form-control" 
                                       :class="{'is-invalid': errors.has('step1.last_name') }"
                                       placeholder="Enter last name"
                                       data-vv-as="last name"
	                                      v-model="patient.user.last_name"
	                                      v-validate="'required|alpha_spaces'"
	                                      data-vv-scope="step1">
	                                      <small class="has-error"
                                          v-show="errors.has('step1.last_name')">
                                          {{ errors.first('step1.last_name') }}
                                        </small>
                                        <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Email</label>
                                       <input type="text" name="email" class="form-control" 
                                       placeholder="Enter email"
                                       :class="{'is-invalid': errors.has('step1.email') }"
	                                      v-model="patient.user.email"
	                                      v-validate="'required|email'"
	                                      data-vv-scope="step1">
	                                      <small class="has-error"
                                          v-show="errors.has('step1.email')">
                                          {{ errors.first('step1.email') }}
                                        </small>
                                        <div class="clearfix"></div>
                                   </div>
                                 </div>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Date Of Birth</label>
                                       <div class="row dob-row" :class="{ 'display-inline' : $isMobile}">
                                            <div class="col-xs-12 col-md-3 day-col">
                                               <select class="form-control" name="dob_day"
                                               :class="{'is-invalid': errors.has('step1.dob_day') }"
					                                      v-model="patient.dob.dob_day"
					                                      data-vv-as="day"
					                                      v-validate="'required'"
					                                      data-vv-scope="step1">>
                                                    <option selected="" value="">Day</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                               </select>
                                               <small class="has-error"
				                                          v-show="errors.has('step1.dob_day')">
				                                          {{ errors.first('step1.dob_day') }}
				                                        </small>                                                
                                            </div>
                                            <div class="col-xs-12 col-md-6 month-col" :class="{ 'month-mobile-width' : $isMobile}">
                                               <select class="form-control" name="dob_month"
                                               :class="{'is-invalid': errors.has('step1.dob_month') }"
					                                      v-model="patient.dob.dob_month"
					                                      data-vv-as="month"
					                                      v-validate="'required'"
					                                      data-vv-scope="step1">
                                                   <option selected="" value="">Month</option>
                                                    <option selected value='1'>Janaury</option>
                                                    <option value='2'>February</option>
                                                    <option value='3'>March</option>
                                                    <option value='4'>April</option>
                                                    <option value='5'>May</option>
                                                    <option value='6'>June</option>
                                                    <option value='7'>July</option>
                                                    <option value='8'>August</option>
                                                    <option value='9'>September</option>
                                                    <option value='10'>October</option>
                                                    <option value='11'>November</option>
                                                    <option value='12'>December</option>
                                               </select> <small class="has-error"
				                                          v-show="errors.has('step1.dob_month')">
				                                          {{ errors.first('step1.dob_month') }}
				                                        </small>                                                 
                                            </div>
                                            <div class="col-xs-12 col-md-3 col-year">
                                               <select class="form-control" name="dob_year"
                                               :class="{'is-invalid': errors.has('step1.dob_year') }"
					                                      v-model="patient.dob.dob_year"
					                                      data-vv-as="year"
					                                      v-validate="'required'"
					                                      data-vv-scope="step1">
					                                      
                                                   <option selected="" value="">Year</option>
                                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                               </select>
                                               <small class="has-error"
				                                          v-show="errors.has('step1.dob_year')">
				                                          {{ errors.first('step1.dob_year') }}
				                                        </small>                                             
                                            </div>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="col-xs-12 col-md-12 register-gender-row">
                                    <div class="form-group">
                                       <label class="required">Gender</label>
                                       <label class="radio-inline">
                                       <input type="radio" name="optradio" checked value="male" v-model="patient.user.gender" 
                                       data-vv-as="gender"
                                       v-validate="'required'"
                                       data-vv-scope="step1">Male
                                       </label>
                                       <label class="radio-inline">
                                       <input type="radio" name="optradio" value="female" v-model="patient.user.gender">Female
                                       </label>
                                       <small class="has-error"
                                        v-show="errors.has('step1.optradio')">
                                        {{ errors.first('step1.optradio') }}
                                      </small> 
                                       <!-- <label class="radio-inline">
                                       <input type="radio" name="optradio" value="other" v-model="patient.user.gender" >Other
                                       </label> -->
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Mobile Number</label>
                                       <masked-input mask="111-1111-1111" type="tel"  name="mobile_number" class="form-control" 
                                        placeholder="Enter mobile number"
                                       :class="{'is-invalid': errors.has('step1.mobile_number') }"
	                                      v-model="patient.user.mobile_number"
	                                      data-vv-as="mobile number"
	                                      v-validate="'required'"
	                                      data-vv-scope="step1"/>
	                                      <small class="has-error"
                                          v-show="errors.has('step1.mobile_number')">
                                          {{ errors.first('step1.mobile_number') }}
                                        </small>
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane-inner">
                                 <h2 class="heading">Address</h2>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Address First Line</label>
                                       <input type="text" name="address_first_line" class="form-control" 
                                       placeholder="Enter first line of address"
                                       :class="{'is-invalid': errors.has('step1.address_first_line') }"
	                                      v-model="patient.address_first_line"
	                                      v-validate="'required'"
	                                      data-vv-as="address first line"
	                                      data-vv-scope="step1">
	                                      <small class="has-error"
                                          v-show="errors.has('step1.address_first_line')">
                                          {{ errors.first('step1.address_first_line') }}
                                        </small>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="required">Town/City</label>
                                        <input class="form-control" type="text" name="city" placeholder="Enter town/city"
                                        :class="{'is-invalid': errors.has('step1.city') }"
	                                      v-model="patient.city"
	                                      v-validate="'required|alpha_spaces'"
	                                      data-vv-scope="step1">
	                                      <small class="has-error"
                                          v-show="errors.has('step1.city')">
                                          {{ errors.first('step1.city') }}
                                        </small>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="required">PostCode</label>
                                       <input type="text" name="postcode" class="form-control" placeholder="Enter postcode"
                                       :class="{'is-invalid': errors.has('step1.postcode') }"
	                                      v-model="patient.postcode"
	                                      v-validate="'required|alpha_num'"
	                                      data-vv-scope="step1">
	                                      <small class="has-error"
                                          v-show="errors.has('step1.postcode')">
                                          {{ errors.first('step1.postcode') }}
                                        </small>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                       <label class="required">Country</label>
                                       <select class="form-control" v-model="patient.country">
                                           <option>Select Country</option>
                                            <option value="" selected="selected">Select Country</option> 
                                            <option value="United States">United States</option> 
                                            <option value="United Kingdom">United Kingdom</option> 
                                            <option value="Afghanistan">Afghanistan</option> 
                                            <option value="Albania">Albania</option> 
                                            <option value="Algeria">Algeria</option> 
                                            <option value="American Samoa">American Samoa</option> 
                                            <option value="Andorra">Andorra</option> 
                                            <option value="Angola">Angola</option> 
                                            <option value="Anguilla">Anguilla</option> 
                                            <option value="Antarctica">Antarctica</option> 
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option> 
                                            <option value="Argentina">Argentina</option> 
                                            <option value="Armenia">Armenia</option> 
                                            <option value="Aruba">Aruba</option> 
                                            <option value="Australia">Australia</option> 
                                            <option value="Austria">Austria</option> 
                                            <option value="Azerbaijan">Azerbaijan</option> 
                                            <option value="Bahamas">Bahamas</option> 
                                            <option value="Bahrain">Bahrain</option> 
                                            <option value="Bangladesh">Bangladesh</option> 
                                            <option value="Barbados">Barbados</option> 
                                            <option value="Belarus">Belarus</option> 
                                            <option value="Belgium">Belgium</option> 
                                            <option value="Belize">Belize</option> 
                                            <option value="Benin">Benin</option> 
                                            <option value="Bermuda">Bermuda</option> 
                                            <option value="Bhutan">Bhutan</option> 
                                            <option value="Bolivia">Bolivia</option> 
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option> 
                                            <option value="Botswana">Botswana</option> 
                                            <option value="Bouvet Island">Bouvet Island</option> 
                                            <option value="Brazil">Brazil</option> 
                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option> 
                                            <option value="Brunei Darussalam">Brunei Darussalam</option> 
                                            <option value="Bulgaria">Bulgaria</option> 
                                            <option value="Burkina Faso">Burkina Faso</option> 
                                            <option value="Burundi">Burundi</option> 
                                            <option value="Cambodia">Cambodia</option> 
                                            <option value="Cameroon">Cameroon</option> 
                                            <option value="Canada">Canada</option> 
                                            <option value="Cape Verde">Cape Verde</option> 
                                            <option value="Cayman Islands">Cayman Islands</option> 
                                            <option value="Central African Republic">Central African Republic</option> 
                                            <option value="Chad">Chad</option> 
                                            <option value="Chile">Chile</option> 
                                            <option value="China">China</option> 
                                            <option value="Christmas Island">Christmas Island</option> 
                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option> 
                                            <option value="Colombia">Colombia</option> 
                                            <option value="Comoros">Comoros</option> 
                                            <option value="Congo">Congo</option> 
                                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option> 
                                            <option value="Cook Islands">Cook Islands</option> 
                                            <option value="Costa Rica">Costa Rica</option> 
                                            <option value="Cote D'ivoire">Cote D'ivoire</option> 
                                            <option value="Croatia">Croatia</option> 
                                            <option value="Cuba">Cuba</option> 
                                            <option value="Cyprus">Cyprus</option> 
                                            <option value="Czech Republic">Czech Republic</option> 
                                            <option value="Denmark">Denmark</option> 
                                            <option value="Djibouti">Djibouti</option> 
                                            <option value="Dominica">Dominica</option> 
                                            <option value="Dominican Republic">Dominican Republic</option> 
                                            <option value="Ecuador">Ecuador</option> 
                                            <option value="Egypt">Egypt</option> 
                                            <option value="El Salvador">El Salvador</option> 
                                            <option value="Equatorial Guinea">Equatorial Guinea</option> 
                                            <option value="Eritrea">Eritrea</option> 
                                            <option value="Estonia">Estonia</option> 
                                            <option value="Ethiopia">Ethiopia</option> 
                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option> 
                                            <option value="Faroe Islands">Faroe Islands</option> 
                                            <option value="Fiji">Fiji</option> 
                                            <option value="Finland">Finland</option> 
                                            <option value="France">France</option> 
                                            <option value="French Guiana">French Guiana</option> 
                                            <option value="French Polynesia">French Polynesia</option> 
                                            <option value="French Southern Territories">French Southern Territories</option> 
                                            <option value="Gabon">Gabon</option> 
                                            <option value="Gambia">Gambia</option> 
                                            <option value="Georgia">Georgia</option> 
                                            <option value="Germany">Germany</option> 
                                            <option value="Ghana">Ghana</option> 
                                            <option value="Gibraltar">Gibraltar</option> 
                                            <option value="Greece">Greece</option> 
                                            <option value="Greenland">Greenland</option> 
                                            <option value="Grenada">Grenada</option> 
                                            <option value="Guadeloupe">Guadeloupe</option> 
                                            <option value="Guam">Guam</option> 
                                            <option value="Guatemala">Guatemala</option> 
                                            <option value="Guinea">Guinea</option> 
                                            <option value="Guinea-bissau">Guinea-bissau</option> 
                                            <option value="Guyana">Guyana</option> 
                                            <option value="Haiti">Haiti</option> 
                                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option> 
                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option> 
                                            <option value="Honduras">Honduras</option> 
                                            <option value="Hong Kong">Hong Kong</option> 
                                            <option value="Hungary">Hungary</option> 
                                            <option value="Iceland">Iceland</option> 
                                            <option value="India">India</option> 
                                            <option value="Indonesia">Indonesia</option> 
                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option> 
                                            <option value="Iraq">Iraq</option> 
                                            <option value="Ireland">Ireland</option> 
                                            <option value="Israel">Israel</option> 
                                            <option value="Italy">Italy</option> 
                                            <option value="Jamaica">Jamaica</option> 
                                            <option value="Japan">Japan</option> 
                                            <option value="Jordan">Jordan</option> 
                                            <option value="Kazakhstan">Kazakhstan</option> 
                                            <option value="Kenya">Kenya</option> 
                                            <option value="Kiribati">Kiribati</option> 
                                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option> 
                                            <option value="Korea, Republic of">Korea, Republic of</option> 
                                            <option value="Kuwait">Kuwait</option> 
                                            <option value="Kyrgyzstan">Kyrgyzstan</option> 
                                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option> 
                                            <option value="Latvia">Latvia</option> 
                                            <option value="Lebanon">Lebanon</option> 
                                            <option value="Lesotho">Lesotho</option> 
                                            <option value="Liberia">Liberia</option> 
                                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option> 
                                            <option value="Liechtenstein">Liechtenstein</option> 
                                            <option value="Lithuania">Lithuania</option> 
                                            <option value="Luxembourg">Luxembourg</option> 
                                            <option value="Macao">Macao</option> 
                                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option> 
                                            <option value="Madagascar">Madagascar</option> 
                                            <option value="Malawi">Malawi</option> 
                                            <option value="Malaysia">Malaysia</option> 
                                            <option value="Maldives">Maldives</option> 
                                            <option value="Mali">Mali</option> 
                                            <option value="Malta">Malta</option> 
                                            <option value="Marshall Islands">Marshall Islands</option> 
                                            <option value="Martinique">Martinique</option> 
                                            <option value="Mauritania">Mauritania</option> 
                                            <option value="Mauritius">Mauritius</option> 
                                            <option value="Mayotte">Mayotte</option> 
                                            <option value="Mexico">Mexico</option> 
                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option> 
                                            <option value="Moldova, Republic of">Moldova, Republic of</option> 
                                            <option value="Monaco">Monaco</option> 
                                            <option value="Mongolia">Mongolia</option> 
                                            <option value="Montserrat">Montserrat</option> 
                                            <option value="Morocco">Morocco</option> 
                                            <option value="Mozambique">Mozambique</option> 
                                            <option value="Myanmar">Myanmar</option> 
                                            <option value="Namibia">Namibia</option> 
                                            <option value="Nauru">Nauru</option> 
                                            <option value="Nepal">Nepal</option> 
                                            <option value="Netherlands">Netherlands</option> 
                                            <option value="Netherlands Antilles">Netherlands Antilles</option> 
                                            <option value="New Caledonia">New Caledonia</option> 
                                            <option value="New Zealand">New Zealand</option> 
                                            <option value="Nicaragua">Nicaragua</option> 
                                            <option value="Niger">Niger</option> 
                                            <option value="Nigeria">Nigeria</option> 
                                            <option value="Niue">Niue</option> 
                                            <option value="Norfolk Island">Norfolk Island</option> 
                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option> 
                                            <option value="Norway">Norway</option> 
                                            <option value="Oman">Oman</option> 
                                            <option value="Pakistan">Pakistan</option> 
                                            <option value="Palau">Palau</option> 
                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option> 
                                            <option value="Panama">Panama</option> 
                                            <option value="Papua New Guinea">Papua New Guinea</option> 
                                            <option value="Paraguay">Paraguay</option> 
                                            <option value="Peru">Peru</option> 
                                            <option value="Philippines">Philippines</option> 
                                            <option value="Pitcairn">Pitcairn</option> 
                                            <option value="Poland">Poland</option> 
                                            <option value="Portugal">Portugal</option> 
                                            <option value="Puerto Rico">Puerto Rico</option> 
                                            <option value="Qatar">Qatar</option> 
                                            <option value="Reunion">Reunion</option> 
                                            <option value="Romania">Romania</option> 
                                            <option value="Russian Federation">Russian Federation</option> 
                                            <option value="Rwanda">Rwanda</option> 
                                            <option value="Saint Helena">Saint Helena</option> 
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
                                            <option value="Saint Lucia">Saint Lucia</option> 
                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option> 
                                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option> 
                                            <option value="Samoa">Samoa</option> 
                                            <option value="San Marino">San Marino</option> 
                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option> 
                                            <option value="Saudi Arabia">Saudi Arabia</option> 
                                            <option value="Senegal">Senegal</option> 
                                            <option value="Serbia and Montenegro">Serbia and Montenegro</option> 
                                            <option value="Seychelles">Seychelles</option> 
                                            <option value="Sierra Leone">Sierra Leone</option> 
                                            <option value="Singapore">Singapore</option> 
                                            <option value="Slovakia">Slovakia</option> 
                                            <option value="Slovenia">Slovenia</option> 
                                            <option value="Solomon Islands">Solomon Islands</option> 
                                            <option value="Somalia">Somalia</option> 
                                            <option value="South Africa">South Africa</option> 
                                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option> 
                                            <option value="Spain">Spain</option> 
                                            <option value="Sri Lanka">Sri Lanka</option> 
                                            <option value="Sudan">Sudan</option> 
                                            <option value="Suriname">Suriname</option> 
                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option> 
                                            <option value="Swaziland">Swaziland</option> 
                                            <option value="Sweden">Sweden</option> 
                                            <option value="Switzerland">Switzerland</option> 
                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option> 
                                            <option value="Taiwan, Province of China">Taiwan, Province of China</option> 
                                            <option value="Tajikistan">Tajikistan</option> 
                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option> 
                                            <option value="Thailand">Thailand</option> 
                                            <option value="Timor-leste">Timor-leste</option> 
                                            <option value="Togo">Togo</option> 
                                            <option value="Tokelau">Tokelau</option> 
                                            <option value="Tonga">Tonga</option> 
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option> 
                                            <option value="Tunisia">Tunisia</option> 
                                            <option value="Turkey">Turkey</option> 
                                            <option value="Turkmenistan">Turkmenistan</option> 
                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option> 
                                            <option value="Tuvalu">Tuvalu</option> 
                                            <option value="Uganda">Uganda</option> 
                                            <option value="Ukraine">Ukraine</option> 
                                            <option value="United Arab Emirates">United Arab Emirates</option> 
                                            <option selected="" value="United Kingdom">United Kingdom</option> 
                                            <option value="United States">United States</option> 
                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option> 
                                            <option value="Uruguay">Uruguay</option> 
                                            <option value="Uzbekistan">Uzbekistan</option> 
                                            <option value="Vanuatu">Vanuatu</option> 
                                            <option value="Venezuela">Venezuela</option> 
                                            <option value="Viet Nam">Viet Nam</option> 
                                            <option value="Virgin Islands, British">Virgin Islands, British</option> 
                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option> 
                                            <option value="Wallis and Futuna">Wallis and Futuna</option> 
                                            <option value="Western Sahara">Western Sahara</option> 
                                            <option value="Yemen">Yemen</option> 
                                            <option value="Zambia">Zambia</option> 
                                            <option value="Zimbabwe">Zimbabwe</option>
                                       </select>
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane-inner">
                                 <h2 class="heading">Your Password</h2>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Password</label>
                                       <input type="password" name="password" class="form-control" placeholder="Enter password"
                                       :class="{'is-invalid': errors.has('step1.password') }"
	                                      v-model="patient.user.password"
	                                      v-validate="'required|verify_password'"
                                         ref="password"
	                                      data-vv-scope="step1">
	                                      <small class="has-error"
                                          v-show="errors.has('step1.password')" v-html="errors.first('step1.password')">
                                        </small>
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                       <label class="required">Confirm Password</label>
                                       <input type="password" name="confirm_password" class="form-control" placeholder="Re-Enter password"
                                       :class="{'is-invalid': errors.has('step1.confirm_password') }"
	                                      v-model="patient.user.confirm_password"
	                                      v-validate="'required|confirmed:password'"
	                                      data-vv-as="confirm password"
	                                      data-vv-scope="step1">
	                                      <small class="has-error"
                                          v-show="errors.has('step1.confirm_password')">
                                          {{ errors.first('step1.confirm_password') }}
                                        </small>
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
	                           <div class="tab-pane" id="tab2">
	                              <div class="tab-pane-inner">
	                                 <h2 class="heading">Upload Profile Photo</h2>
	                                 <p class="upload-type-heading">Upload Your Photo <span v-show="isCaptureable">Take selfie of head and face or upload picture of face from device (to use as profile picture)</span></p>
	                                 <div class="upload-photo-wrapper example-avatar">
                                      <image-upload-component 
                                          input_id="file1"
                                          refUpload="upload1"
                                          label="Upload Profile Photo"
                                          button_text="Upload Profile Photo"
                                          type="profile_pic"
                                          :fileArray="files1"
                                          :is_multiple="false"
                                          :is_preview="true"
                                          accept="image/png,image/jpeg"
                                          extensions="jpg,jpeg,png"
                                          :maximum="1"
                                          :inputArray="patient.user.profile_pic"
                                          :is_multidimensional_array="false"
                                          @fileAdded="setUploadedPic"
                                          @fileRemoved="setUploadedPic">   
                                          </image-upload-component>     
	                                 </div>
                                </div>      
	                           </div>
	                           <div class="tab-pane tab-upload-photo-id" id="tab3">
                                <div class="tab-pane-inner">
                                   <h2 class="heading">Documents</h2>
                                   <p class="upload-type-heading with-border">Verify Your Identification <span>Upload/Take/scan your Photo ID and proof of address <br>(Upload up to 2 documents)</span></p>
                                   <div class="upload-photo-wrapper">
                                    <ol class="steps-blts">
                                        <li>UK Driving licence or</li>
                                        <li>Passport and a proof of address( utility bill, bank statement etc)</li>
                                    </ol>
                                      <image-upload-component 
                                          input_id="file2"
                                          refUpload="upload2"
                                          label="Upload Documents"
                                          button_text="Upload Documents"
                                          type="identity_docs"
                                          :fileArray="files2"
                                          :is_multiple="true"
                                          :is_preview="false"
                                          :accept="$accept"
                                          :extensions="$extensions"
                                          :maximum="2"
                                          :thread="2"
                                          :inputArray="patient.identity_docs"
                                          :is_multidimensional_array="true"
                                          @fileAdded="setUploadedIdentityDocs"
                                          @fileRemoved="setUploadedIdentityDocs">   
                                          </image-upload-component>
                                          
                                   </div>
                                </div>
                             </div>
	                           <div class="tab-pane" id="tab4">
	                              <div class="tab-pane-inner">
	                                 <h2 class="heading">Reports</h2>
	                                 <p class="upload-type-heading">Upload Your Reports <span>Upload/Take/scan picture of recent psychiatric reports (Maximum 2 Reports)</span></p>
	                                 <div class="upload-photo-wrapper">

                                    <image-upload-component 
                                      input_id="file3"
                                      refUpload="upload3"
                                      label="Upload Reports"
                                      button_text="Upload Reports"
                                      type="psychiatric_reports"
                                      :fileArray="files3"
                                      :is_multiple="true"
                                      :is_preview="false"
                                      :accept="$accept"
                                      :extensions="$extensions"
                                      :maximum="6"
                                      :thread="6"
                                      :inputArray="patient.psychiatric_reports"
                                      :is_multidimensional_array="true"
                                      @fileAdded="setUploadedReports"
                                      @fileRemoved="setUploadedReports"
                                      >   
                                      </image-upload-component>
	                                 </div>
	                              </div>
	                            </div>
	                           <div class="tab-pane i-agree-tab-pane" id="tab5" v-show="!isRegisterSuccess">
	                              <div class="tab-pane-inner">
	                                 <h2 class="heading">I Agree</h2>
	                                 <p class="upload-type-heading">I Agree <span> I Agree With Terms & Conditions and Privacy Policy</span></p>
	                                 <div class="row">
	                                    <div class="col-xs-12 col-md-12">
	                                        <div class="steps-divider"></div>
	                                    </div>
	                                    <div class="col-xs-12 col-md-12">
	                                        <div class="form-group">
	                                            <div class="checkbox">
	                                              <label><input type="checkbox" value="yes" v-model="privacy_policy_consent">I Agree to Consent and <router-link :to="{ name: 'Privacy'}" target="_blank">privacy policy</router-link></label>
	                                            </div>
	                                            <div class="checkbox">
	                                              <label><input type="checkbox" value="yes" v-model="terms_consent">I Agree to <router-link :to="{ name: 'Terms'}" target="_blank">terms and conditions</router-link></label>
	                                            </div>
	                                        </div>
	                                    </div>    
	                                 </div>
	                              </div>
	                           </div>
                              <div class="tab-pane finish-tab-pane" id="tab6" v-show="isRegisterSuccess" :class="{'active' : isRegisterSuccess}">
                                  <div class="tab-pane-inner">
                                     <h2 class="heading">Account Created</h2>
                                     <p class="upload-type-heading">
                                      <div class="alert col-md-12 mt-10 alert-success" role="alert" id="user_msg">
                                         Your account has been created successsfully. Please check your email to verify your account.
                                      </div></p>
                                    
                                  </div>
                               </div>
	                           <ul class="pager wizard" v-show="!isDone">
	                              <li class="previous float-left">
	                              	<a class="btn btn-warning" href="#">Previous</a>
	                              </li>
	                              <li class="next float-right" v-if="!isLast">
	                              	<a class="btn btn-primary" href="javascript:;">Next</a>
	                              </li>
                                <li class="finish float-right" v-else>
                                  <a class="btn btn-primary" :class="{'show-spinner' : isLoading, 'disabled' : (!privacy_policy_consent || !terms_consent) }" href="javascript:;">
                                    <span>Finish</span>
                                    <div class="loader"></div>
                                  </a>
                                </li>
	                           </ul>
	                        </div>
	                    </div>    
	                  </section>
	               </div>
                 <div class="alert col-md-12 mt-10" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow" v-html="alertMsg">
                                </div>
	               <div class="col-md-12 col-xs-12 clearfix">
	                  <div class="section footer-section with-transparent">
	                     <span class="copyright-text">© 2018 loremipsum.com | All Rights Reserved</span>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
   		</div>
   		<footer-component></footer-component>
	</span>
</template>
<script type="text/javascript">
  /*import Cropper from 'cropperjs'*/
  import axios from 'axios';
  /*import loadImage from 'blueimp-load-image'*/
	export default {
        beforeCreate: function() {
            document.body.className = 'register-page';
        },
        mounted() {
        	var app = this;
        	$('#rootwizard').bootstrapWizard(
        		{
        			onTabShow: function(tab, navigation, index) {
								var $total = navigation.find('li').length;
								var $current = index+1;
								var $percent = ($current/$total) * 100;
								$('#rootwizard .progress-bar').css({width:$percent+'%'});
							},
              onTabClick: function(tab, navigation, index) {
                  return false;
              },	
							onNext: function(tab, navigation, index) {
                if (index != 0) {
                  
                  $('html, body').animate({
                      scrollTop: $('.tab-content').offset().top -120 //#DIV_ID is an example. Use the id of your destination on the page
                  }, 'slow');
                }
                //return true;
								if (index == 1) { //step 1
 										app.$validator.validateAll('step1').then(result => {
			                if (result) {
                        app.checkForUniqueFields();
		            				//$('#rootwizard').bootstrapWizard('show', 1);
                        /*$('#rootwizard li:eq(1) a').tab('show')
                        return true;*/
			                } else {
			                	return false;
			                }
					          }) 
								} else if (index == 2) { //step2
                  if (app.patient.user.profile_pic == '') {
                    return false;
                  } else {
                     $('#rootwizard li:eq(1) a').tab('show')
                    return true;
                  }
                }  else if (index == 3) { //step3
                  if (app.patient.identity_docs.length == 0) {
                    return false;
                  } else {
                    $('#rootwizard li:eq(2) a').tab('show')
                    return true;
                  }
                } else if (index == 4) { //step4
                  if (app.patient.psychiatric_reports.length == 0) {
                    return false;
                  } else {
                    $('#rootwizard li:eq(4) a').tab('show')
                    app.isLast = true;
                    return true;
                  }
                } else if (index == 5) { //step5
                  app.register();
                } 
				      	return false;
				    	},
              onPrevious	: function(tab, navigation, index) {
                $('html, body').animate({
                      scrollTop: $('.tab-content').offset().top -120 //#DIV_ID is an example. Use the id of your destination on the page
                  }, 'slow');
                if (index == 4) {
                  app.isLast = true;
                } else {
                  app.isLast = false;
                }
              },
					});
					window.prettyPrint && prettyPrint();
          if (app.hasGetUserMedia()) {
            // Good to go!
            app.isCaptureable = true;
          } else {
            app.isCaptureable = false;
            //alert('getUserMedia() is not supported by your browser');
          }


          /*var fileInput = document.getElementById("file6");

          fileInput.onchange = function(event) {
            var file = event.target.files[0];
            console.log(file);
            loadImage.parseMetaData(file, function(data) {
                  console.log(file);
                    //default image orientation
                    var orientation = 0;
                    //if exif data available, update orientation
                    console.log(data.exif);
                    if (data.exif) {
                        orientation = data.exif.get('Orientation');
                    }
                    console.log(orientation);
                    var loadingImage = loadImage(
                        file,
                        function(canvas) {
                            //here's the base64 data result
                            var base64data = canvas.toDataURL('image/jpeg');
                            //here's example to show it as on imae preview
                            var img_src = base64data.replace(/^data\:image\/\w+\;base64\,/, '');
                            
                            $('#pro_take_preview_id').attr('src', base64data);
                        }, {
                            //should be set to canvas : true to activate auto fix orientation
                            canvas: true,
                            orientation: orientation
                        }
                    );
                });
          };*/
        },
        data: function () {
            return {
                patient: {
                    user : {
                      first_name: '',
                      last_name: '',
                      gender: "",
                      email: '',
                      password: '',
                      mobile_number: '',
                      profile_pic: '',
                      role: 'patient',
                    },
                    title: '',
                    /*photo_id: '',
                    utility_bill: '',*/
                    dob : {
                    	dob_year : '',
                    	dob_month : '',
                    	dob_day : '',
                    },
                    address_first_line : '',
                    city : '',
                    country : 'United Kingdom',
                    postcode : '',
                    psychiatric_reports : [],
                    attachments : [],
                    identity_docs : [],
                    type: 'register',
                },
                isAlertShow: false,
                isSuccess:false,
                isError:false,
                alertMsg:'',
                isLoading:false,
                isValid : false,
                isActive: false,
                isRegisterSuccess : false,
                files1 : [],
                /*edit: false,*/
                /*cropper: false,*/
                isUploading : false,
                isDone : false,
                files2 : [],
                files3 : [],
                files4 : [],
                files5 : [],
                files6 : [],
                isCaptureable : false,
                isLast : false,
                terms_consent : false,
                privacy_policy_consent : false,
                progress : '',
                uniqueUser : false,
            }
        },
        computed : {
			    years () {
			      const year = new Date().getFullYear()
			      return Array.from({length: year - 1920}, (value, index) => 1920 + index)
			    },
			  },
        watch: {
          /*edit(value) {
            if (value) {
              this.$nextTick(function () {
                if (!this.$refs.editImage) {
                  return
                }
                let cropper = new Cropper(this.$refs.editImage, {
                  aspectRatio: 1 / 1,
                  viewMode: 1,
                })
                this.cropper = cropper
              })
            } else {
              if (this.cropper) {
                this.cropper.destroy()
                this.cropper = false
              }
            }
          },*/
        },
        methods : {
        	register() {
                var app = this;
                let newPatient = app.patient;
                 this.$validator.validateAll().then(result => {
                    if (result) {
                        newPatient.user.role = 'patient';
                        newPatient.dob = app.patient.dob.dob_day+'-'+app.patient.dob.dob_month+'-'+app.patient.dob.dob_year;
                        app.isLoading = true;
                        
                        axios({
                          method: 'post',
                          url: app.$apiUrl+'patient',
                          data:newPatient
                        })
                        .then(function (resp) {
                                app.isLoading = false;
                                app.isRegisterSuccess = true;
                                app.isAlertShow = false;
                                app.isDone = true;
                                $('#rootwizard li:eq(5) a').tab('show');
                                $('html, body').animate({
                                      scrollTop: $('.tab-content').offset().top -120 //#DIV_ID is an example. Use the id of your destination on the page
                                  }, 'slow');
                            })
                            .catch(error => {
                                app.isLoading = false;
                                app.isRegisterSuccess = false;
                                app.isSuccess = false,
                                app.isError = true,
                                app.isAlertShow = true;
                                app.alertMsg = 'Error occured';
                                var jsonResponse =error.response.data.errors;
                                if(jQuery.type(jsonResponse) == 'object')
                                {
                                  var messages = '';
                                  $.each( jsonResponse, function( key, value ) {
                                    messages += '<p>'+value+'</p>';
                                  }); 
                                  app.alertMsg = messages;           
                                }
                                 
                            });
                    }        
                })   
          },

          checkForUniqueFields() {
            var app = this;
            let obj = {};
            obj.email = app.patient.user.email;
            obj.mobile_number = app.patient.user.mobile_number;
            axios({
              method: 'put',
              url: app.$apiUrl+'check-unique-user',
              data:obj
            })
            .then(function (resp) {
              app.uniqueUser = true;
              $('#rootwizard li:eq(1) a').tab('show')
              app.isAlertShow = false;
              return true;
            })
            .catch(error => {
                app.uniqueUser = false;
                app.isRegisterSuccess = false;
                app.isSuccess = false,
                app.isError = true,
                app.isAlertShow = true;
                app.alertMsg = 'Error occured';
                var jsonResponse =error.response.data.errors;
                if(jQuery.type(jsonResponse) == 'object')
                {
                  var messages = '';
                  $.each( jsonResponse, function( key, value ) {
                    messages += '<p>'+value+'</p>';
                  }); 
                  app.alertMsg = messages;           
                }
                 
            });    
          },
          
          setUploadedPic(file) {
            this.patient.user.profile_pic = file;
          },
          setUploadedIdentityDocs(files) {
              this.patient.identity_docs = files;
          },
          setUploadedReports(files) {
              this.patient.psychiatric_reports = files;
          },
          /*editSave() {
            this.edit = false
            let oldFile = this.files1[0]
            let binStr = atob(this.cropper.getCroppedCanvas().toDataURL(oldFile.type).split(',')[1])
            let arr = new Uint8Array(binStr.length)
            for (let i = 0; i < binStr.length; i++) {
              arr[i] = binStr.charCodeAt(i)
            }
            let file = new File([arr], oldFile.name, { type: oldFile.type })
            this.$refs.upload1.update(oldFile.id, {
              file,
              type: file.type,
              size: file.size,
              active: true,
            })
          },*/
          alert(message) {
            alert(message)
          },
          hasGetUserMedia() {
            return !!(navigator.mediaDevices &&
              navigator.mediaDevices.getUserMedia);
          },
        }

    }
</script>
<style type="text/css" scoped="">
  
  .month-mobile-width {
    width:41% !important;
  }

  .display-inline {
    display: inline;
  }
/*.example-avatar .text-center .btn {
  margin: 0 .5rem
}
.example-avatar .avatar-edit-image {
  max-width: 100%
}
.example-avatar .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.example-avatar .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
.pro_take_preview {
  display: none;
}*/

</style>