
<template>
    <span>
        <nav-component></nav-component>
        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg padding-25 sm-padding-10">
                        <!-- START card -->
                        <div class="card card-default">
                            <div class="card-block">
                                <form onsubmit="return false;" autocomplete="off">
                                <h2> {{ type }} Page
                                    <router-link to="/pages" class="btn btn-complete pull-right"><i class="fa fa-arrow-left"></i> Back</router-link>
                                </h2>
                                <div class="alert" v-bind:class="{'alert-success':isSuccess, 'alert-danger':isError}" role="alert" id="user_msg" v-if="isAlertShow">
                                  {{alertMsg}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Title</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              placeholder="Title" 
                                              name="title" 
                                              id="title"
                                              v-model="page.title"
                                              v-validate="'required|alpha_spaces'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('title')">
                                              {{ errors.first('title') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group form-group-default required">
                                            <label class="text-primary bold">Slug</label>
                                            <div class="controls">
                                              <input type="text" class="form-control"
                                              placeholder="Slug" 
                                              name="slug"
                                              id="slug"
                                              v-model="page.slug"
                                              v-validate="'required'">
                                            </div>
                                            <small class="text-danger"
                                              v-show="errors.has('slug')">
                                              {{ errors.first('slug') }}
                                            </small>
                                        </div>
                                    </div>
                                                       
                                </div>
                                <div class="row"> 
                                  <div class="col-lg-12">
                                      <div class="form-group required">
                                          <label class="text-primary bold">Content</label>
                                         <div id="summernote" v-model="page.content"></div>
                                      </div>
                                  </div>                
                                </div>
                                <hr>
                                    <div class="form-group" style="text-align: center;">
                                        <button class="btn btn-applyplus btn-cons" @click="saveForm('save')"><i class="fa fa-save"></i> Save <i v-show="isLoadingSave" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                        <button class="btn btn-success btn-cons" @click="saveForm('publish')"><i class="fa fa-upload"></i> Publish <i v-show="isLoadingPublish" class="fa fa-spinner fa-spin m-l-5 m-t-5 spinner pull-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END card -->
                      </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </span>
    
</template>

<script>
  export default {
    mounted() {
        var app = this;
        $('#summernote').summernote({
            placeholder: 'Write Content',
            height: 300,
            focus: true,
            toolbar: this.customToolbar,
            popover: {
               image: [],
               link: [],
               air: []
            }
          });
        if (app.$route.name == 'PageCreate') {
          app.type = 'Add';

        } else if (app.$route.name == 'PageEdit') {
          app.pageId = app.$route.params.id;
          app.type = 'Edit';
          axios.get(app.$apiUrl+'page/' + app.pageId)
              .then(function (resp) {
                  app.page = resp.data.data;
                  app.page.content = resp.data.data.draft_content;
                  console.log(app.page.content);
                  $('#summernote').summernote('code', app.page.content);
              })
              .catch(function () {
              });
        }
        
        $( "#title" ).keyup(function() {
          $('#slug').val(app.convertToSlug($('#title').val()));
        });
    },
    data: function () {
        return {
            pageId: null,
            page: {
                title: '',
                slug: '',
                content: '',
                status: '',
                type: '',
            },
            isAlertShow: false,
            isSuccess:false,
            isError:false,
            alertMsg:'',
            isLoadingSave:false,
            isLoadingPublish:false,
            isPreview:false,
            type : '',
            /*customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['code-block']
                ],*/

            customToolbar: [
                      // [groupName, [list of button]]
                      ['style', ['bold', 'italic', 'underline', 'clear']],
                      ['font', ['strikethrough', 'superscript', 'subscript']],
                      ['fontsize', ['fontsize']],
                      ['list', [ 'ordered', 'bullet' ]],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['height', ['height']],
                      ['table', ['table']]
                      ['code-block']
                ],       
        }
    },
    methods: {
        saveForm(type) {
            var app = this;
            app.page.type = type;
            app.page.slug = $('#slug').val();
            var newPage = app.page;
            newPage.content = $('#summernote').summernote('code');

            this.$validator.validateAll().then(result => {
                if (result) {
                    if (type == 'save') {
                      app.isLoadingSave = true;
                    }
                    else if (type == 'publish') {
                      app.isLoadingPublish = true;
                      app.page.status = 'published';
                    }

                    if (app.pageId == null) {
                      var url = app.$apiUrl+'page';
                      var method = 'post';
                    } else {
                      var url = app.$apiUrl+'page/' + app.pageId;
                      var method = 'patch';
                    }

                    axios({
                        method: method,
                        url: url,
                        data:newPage
                      }).then(resp => {
                            app.isLoadingSave = false;
                            app.isLoadingPublish = false;
                            app.isSuccess = true,
                            app.isError = false,
                            app.alertMsg = resp.data.message;
                            app.isAlertShow = true;
                            app.$router.replace('/pages');
                        })
                        .catch(error => {
                            app.isLoadingSave = false;
                            app.isLoadingPublish = false;
                            app.isSuccess = false,
                            app.isError = true,
                            app.isAlertShow = true;
                            app.alertMsg = 'Error occured';
                            var jsonResponse =error.response.data.errors;
                            if(jQuery.type(jsonResponse) == 'object')
                            {
                              var messages = '';
                              $.each( jsonResponse, function( key, value ) {
                                messages += value;
                              }); 
                              app.alertMsg = messages;           
                            }
                        });
                    
                }        
            })   
        },
        convertToSlug(Text)
        {
           return Text
               .toLowerCase()
               .replace(/ /g,'-')
               .replace(/[^\w-]+/g,'')
               ;
        }
    },
  }
</script>

<style>
  #editor1{
    height: 500px !important;
  }
</style> 
