<template>
    <div>
        <nav-component></nav-component>

        <div class="page-container "> 
            <header-component></header-component>

            <div class="page-content-wrapper ">
                <div class="content sm-gutter">
                    <div class=" container-fluid   container-fixed-lg bg-white padding-25 sm-padding-10">

                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-header">
                            <div class="card-title">
                              <h1>Pages ({{totalPages}})</h1>
                            </div>

                            <div style="float: right;">
                                <router-link :to="{name: 'PageCreate'}" class="btn btn-applyplus btn-cons"><i class="fa fa-plus"></i> Add Page</router-link>
                            </div>

                          </div>
                          <div class="card-block dataTables_wrapper">
                            <div class="table-responsive ">
                              <table class="table table-hover " id="basicTable">
                                <thead>
                                  <th v-for="header in tableHeader">{{header}}</th>
                                </thead>
                                <tbody id="user_listing">
                                    <template v-if="pages.length > 0">  
                                        <tr v-for="page, index in pages" >
                                            <td>{{ page.id }}</td>
                                            <td>{{ page.title }}</td>
                                            <td>{{ page.slug }}</td>
                                            <td>{{ page.status }}</td>
                                            <td>
                                                <router-link :to="{name: 'PageEdit', params: {id: page.id}}" class="btn btn-xs btn-complete"  title="Edit">
                                                    <i class="fa fa-pencil"></i>
                                                </router-link>
                                                 <a href="#deleteRecModal"
                                                    data-toggle="modal"
                                                   class="btn btn-xs btn-danger"
                                                   @click="setRecordObj(page.id, index)"  title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else> 
                                        <tr>
                                            <td colspan="10">
                                                <div class="blank-data">
                                                    <img :src="$baseUrl+'/assets/img/emptystate@2x.png'" class="img-responsive">
                                                    <h3>Nothing Here Yet!</h3>
                                                    <p>Did not find anything .. try again.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div>
                                <div class="dataTables_paginate paging_simple_numbers">
                                  <paginate
                                    :page-count="pageCount"
                                    :page-range="3"
                                    :margin-pages="1"
                                    :click-handler="getPages"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'"
                                    :page-class="'page-item'">
                                  </paginate>
                                </div>
                                  </div>
                                  </div>
                          </div>
                        </div>

                        <popup-component></popup-component>
                    </div>        
                </div>
             </div>
        </div>

        <footer-component></footer-component>

        <delete-record-modal :id="id" :index="index" :module="module" @recRemoved="refreshList"></delete-record-modal>
        </div>
    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                tableHeader: ["ID", "Title","Slug","Status",'Action'],
                pages: [],
                id: null,
                index:null,
                module:'page',
                pageCount: 0,
                totalPages:0,
            }
        },
        mounted() {
            this.getPages(1);
        },
        methods: {
            getPages:function(page) {
                var app = this;
                var limit = 10;
                axios.get(app.$apiUrl+'pages?page='+page+'&limit='+limit+'')
                    .then(function (resp) {
                        app.totalPages = resp.data.data.pagination.total;
                        app.pages = resp.data.data.data;
                        app.pageCount = resp.data.data.pagination.last_page;
                    })
                    .catch(function (resp) {
                        app.pages = [];  
                        app.pageCount = 0;
                        app.totalPages = 0;
                    });
            },
            setRecordObj:function(id, index)
            {
                var app = this;
                app.id = id;
                app.index = index;
            },
            refreshList(){
                this.getPages(1);
            },  
        }
    }
</script>
